[2016-05-08 09:15] prlbr commented on #355
I’d be interested to see sample HTML code that illustrates the problem you describe, as I’m not sure I understand it correctly.

(Either `<div>` – where flow content is expected – or `<span>` – where phrasing content is expected – have always worked for me.)

[2016-05-08 09:43] chaals commented on #302
@Nick-Levinson said

Actually, I think the issues are similar. In the case or #160 we're looking at values for the `rel` attribute, and there is a long-standing practice of defining "canonical" values. Where these are implemented by e.g. browsers giving a shortcut to get to the contents or next page, we may have a relatively good chance of minimising redundancy.

In the case of what third parties

[2016-05-09 15:57] rniwa commented on #64
WebKit supports this feature prefixed (webkitdropzone).  Blink might support it too.

[2016-05-10 01:07] Nick-Levinson commented on #302
Maybe adding into the spec itself that reuse is preferred would help. The spec already links to the WHATWG wiki page and the advice to reuse is already on that wiki page, but maybe saying so in the spec itself would catch more programmers' attention.

I don't want anyone editing my pages. I agree on that. But a technical solution might not require that. User agents and parsers could be required to

[2016-05-10 01:19] Nick-Levinson commented on #355
Sure, but why not one element for all kinds of content? It would be easier to use just one and and it would pass validation, which I assume would make it easier for some user agents. My invalid code was essentially (braces here representing angle brackets) {div}{script}. . .{/script}{/div} and, given HTML 5.1, perhaps it has to do with the kind of script. I corrected my coding and I don't think I

[2016-05-10 08:58] ZoeBijl commented on #355
I'm struggling to understand the issue. Is it that you want to use `div` to organise stuff in the `head`? And if you have so much stuff in there that you need to organise it; I wouldn't worry about speed so much.

[2016-05-10 09:10] prlbr commented on #355
I’ve made a [test file](https://prlbr.de/2016/05/divscript.html) that uses `<div><script>…</script></div>` and the [validator does not report any errors or warnings](https://validator.w3.org/nu/?useragent=Validator.nu%2FLV+http%3A%2F%2Fvalidator.w3.org%2Fservices&doc=https%3A%2F%2Fprlbr.de%2F2016%2F05%2Fdivscript.html) to me.

`<div>` defaults to being displayed as block element, so it introduces

[2016-05-10 12:08] stevefaulkner opened #360 "Consider adding an informative table - Categories of form elements"
this spreadsheet was created by @simevidas and got a lot of interest on [twitter ](https://twitter.com/simevidas/status/729858190410698753)
Google doc:
https://docs.google.com/spreadsheets/d/1S_5AewU0xanq791jfm0l91T1u-t9G6Ze_GKjrlUEfDY/edit#gid=0

Maybe something we should consider adding to spec.

[2016-05-10 12:23] stevefaulkner commented on #355
@prlbr wrote:

Sage advice

[2016-05-10 12:59] Sworddragon commented on #344
Thanks for clarifying that feature requests needs to be incubated. But in my opinion (with the fragmented informations; multiple accounts needed) this is made all unnecessary complicated. Ideally all steps could be done in such a ticket here. Anyway, if somebody finds this feature request here useful feel free to take over the incubation process. I will continue to post ideas here if I have a new

[2016-05-10 13:01] Sworddragon commented on #346
Basically the same I have posted in #344. If somebody finds this feature request useful feel free to take over the incubation process.

[2016-05-10 17:55] plehegar opened #361 "Document latest version logic for /TR/html(\d)*/"
/TR/html always to latest version of HTML, ie a WD
/TR/html5/ always to HTML 5.0
/TR/html51/ always to HTML 5.1
/TR/html52/ always to HTML 5.2
...

[2016-05-10 17:56] travisleithead commented on #246
Discussed at May 10 Editors F2F: Should be removed--only one implementation.
See discussion at: http://www.w3.org/2016/05/10-html-editors-irc#T17-55-46

[2016-05-10 18:00] travisleithead commented on #40
Discussed at Web Platform WG May 10th Editors F2F:
- Basic problem is AppCache doesn't do what developers want.
- SW (v1) is pretty stable. At TPAC 2016, last issues should be resolved.
  - Mozilla implementing.
  - Edge shows positive signs of future implementation

Need to Ask the WG.

[2016-05-10 18:00] plehegar commented on #361
Also document the branching logic. See
 https://www.w3.org/2016/05/10-html-editors-minutes.html#item04

[2016-05-10 18:26] arronei opened #362 "Document working with spec and bikeshed in HTML"
- [ ] HTML specific bikeshed data and info
- [x] how to edit the spec and helpful tips
- [x] links should not wrap lines

[2016-05-10 18:46] chaals commented on #308
This isn't an actionable issue, please file individual bugs

[2016-05-10 18:46] #308 closed, assigned to stevefaulkner

[2016-05-10 18:48] chaals commented on #304
This would break existing W3C Recommendations, out of scope for this group.

[2016-05-10 18:48] #304 closed, assigned to nobody

[2016-05-10 18:51] chaals commented on #301
From Bugzilla

[2016-05-10 18:53] chaals commented on #301
CSP issue?

[2016-05-10 18:55] chaals commented on #299
From Bugzilla

[2016-05-10 19:05] chaals commented on #292
Seems to have horrible inconsistency in implementation, probably won't be fixed in 5.1 timeline (sadly)...

[2016-05-10 19:08] chaals commented on #291
Check if we match HTML 5, and what we need to do…

[2016-05-10 19:10] chaals commented on #288
Check what @kojiishi said, hopefully we can close this.

[2016-05-10 19:10] chaals commented on #287
pull request to remove it #356

[2016-05-10 19:13] chaals commented on #287
Not enough implementation. We''ll apply the PR.

[2016-05-10 19:13] #287 closed, assigned to chaals

[2016-05-10 19:13] chaals commented on #286
Done in #317

[2016-05-10 19:13] #286 closed, assigned to travisleithead

[2016-05-10 19:15] chaals commented on #285
Not enough workable implementation, we'll do this.

[2016-05-10 19:17] chaals commented on #284
As mentioned, while it is desired by developers browsers haven't done anything so won't be in HTML 5.1... please incubate e.g. in [WICG](http://discourse.wicg.io) to get traction if you want it in a future HTML specification

[2016-05-10 19:17] #284 closed, assigned to nobody

[2016-05-10 19:18] plehegar commented on #282
Related https://github.com/w3c/html/issues/132 ?

[2016-05-10 20:20] plehegar commented on #279
See also https://github.com/w3c/html/issues/33

[2016-05-10 20:22] plehegar commented on #361
And document on picking issues with editorial for beginners

[2016-05-10 20:24] chaals commented on #278
Looks like it works - http://caniuse.com/#search=focusin

[2016-05-10 20:29] chaals commented on #274
In the absence of pressure from changing implementations, we'll probably go with current reality.

[2016-05-10 20:33] chaals commented on #273
A use case to allow - you build a component with a `header`, and that goes into a `header`.

Check ARIA mapping implications - @stevefaulkner

[2016-05-10 20:46] chaals commented on #260
We hope this was satisfactory…

[2016-05-10 20:46] #260 closed, assigned to nobody

[2016-05-10 20:48] chaals commented on #259
Without someone to test implementations, this is at risk for the 5.1 CR

[2016-05-10 20:56] arronei commented on #254
I'll add some details on interop

[2016-05-10 21:03] plehegar commented on #361
Also suggest to add name in ack section when making a pull request.

[2016-05-10 21:05] chaals commented on #245
This should be filed against the websockets and workers specs. It's not defined by HTML.

[2016-05-10 21:05] #245 closed, assigned to nobody

[2016-05-10 21:05] chaals commented on #242
Fixed by #350

[2016-05-10 21:05] #242 closed, assigned to arronei

[2016-05-10 21:11] chaals commented on #235
Find out what reality does, and whether this is simple or hard - which may impact whether it makes 5.1 or not.

[2016-05-10 21:12] chaals commented on #234
There might be support, otherwise this would need incubation.

[2016-05-10 21:15] chaals commented on #233
registerProtocolHandler seems widely used, registerContentHandler not so much...

[2016-05-10 21:34] chaals commented on #287
Duplicate of #64. NB the resolution may be not to merge #356.

[2016-05-10 21:35] plehegar commented on #64
@adrianba expressed support for keeping this in the spec.

[2016-05-10 21:49] travisleithead commented on #219
Discussed at May 10 Editor's F2F: Incubate first.

[2016-05-10 21:50] chaals commented on #216
This might get match reality…

[2016-05-10 21:52] chaals commented on #215
related to #235

[2016-05-10 22:07] chaals commented on #186
There are tests in webplatformtest

[2016-05-10 22:12] chaals commented on #171
Safari does what the spec says now, other browsers don't.

[2016-05-10 22:14] chaals commented on #170
We will put minimal hooks that are things in HTML, and point to relevant extensions specs, in preference to incorporating extensions completely into a monolithic spec.

[2016-05-10 22:31] chaals commented on #114
Not in HTML spec.

[2016-05-10 22:31] #114 closed, assigned to nobody

[2016-05-10 22:48] chaals commented on #33
The bit that was actually breaking things was the `section/h1/section/h1` nesting, which was removed, the rest doesn't work in browsers but doesn't break anything and is used elsewhere.

[2016-05-10 22:49] chaals commented on #28
This is now in the spec.

[2016-05-10 22:49] #28 closed, assigned to chaals

[2016-05-10 22:51] chaals commented on #3
We think this is mostly clear. Specific pull requests welcome.

[2016-05-10 23:44] arronei opened #363 "Review normative references for changes from HTML5"
- raise issues of changes
- identify tests

[2016-05-10 23:50] chaals commented on #310
There are probably many places in the spec this should be applied.

[2016-05-11 02:11] ZoeBijl commented on #3
Maybe just link to Léonie's e-mail? I'll fix that, reopening this to remind me :)

[2016-05-11 09:13] publicocean0 commented on #245
If it is not defined it is a bug in design. Websocket is not related to page navigation. The life cycle is different. When you change page The events in this while are lost. This is a grave conceptual error.

[2016-05-11 15:32] r12a commented on #341
If you are using counters in your text to refer back to your list, this is helpful perhaps where you use European decimals, Roman numerals or English alphabets for your list counters,.  Problem is, it's not so useful where you use ideographic, cyrillic, or other counters in your list.

Various thoughts spring to mind:
- we could add more list types. However, this is problematic because CSS now all

[2016-05-11 17:27] arronei opened #364 "Things we would like to be compatible with"
Now need to sort out which of the above remaining items, (copied into this new comment) that haven't yet been ported, are editorial and can still be taken into 5.1 CR.
- [x] https://github.com/whatwg/html/commit/acae3df652b382e9f4f1d1b4dc7e08e2b00df821 - PR pending...
- [x] https://github.com/whatwg/html/commit/179983e9eb99efe417349a40ebb664bd11668ddd - after
- [x] https://github.com/whatwg/html/c

[2016-05-11 17:29] annevk commented on #364
I thought the idea was that you were going to write your own specification? Why the continued forking?

[2016-05-11 17:33] adanilo opened #365 "Things we don't expect to take into HTML"
https://github.com/whatwg/html/commit/a0005518c8828690805d59c8640af3d0935aea42

[2016-05-11 17:40] adanilo commented on #365
https://github.com/whatwg/html/commit/ccd4d995daab83c93d19db45d5f86928b6c0e39f done

[2016-05-11 17:42] plehegar commented on #363
This might be useful as well: https://github.com/whatwg/html/commit/8f038efb9d21b87a73c7e00a68873153f3e060e6

[2016-05-11 17:45] adanilo commented on #365
https://github.com/whatwg/html/commit/264f97c558d16aebffac316697713108c4597f2f

[2016-05-11 17:47] adanilo commented on #365
https://github.com/whatwg/html/commit/05f9f3266d6050b8b299ec365fdc63d5eab5b2b3

[2016-05-11 17:50] adanilo commented on #365
https://github.com/whatwg/html/commit/8c6c3eb4efe8641ec155c13afc77abfe9161eea0

[2016-05-11 17:52] adanilo commented on #365
https://github.com/whatwg/html/commit/948a19de67facb6043fc8f52650e411551c2e1cd

[2016-05-11 17:53] adanilo commented on #365
https://github.com/whatwg/html/commit/6c38a3a0594809a14c1a28056f6bed18d98d7088

[2016-05-11 17:53] adanilo commented on #365
https://github.com/whatwg/html/commit/59b7e2466c2b7c5c408a4963b05b13fd808aa07a done

[2016-05-11 17:56] adanilo commented on #365
https://github.com/whatwg/html/commit/de04d13347a67e616304f66a7c3a71939b8d2992

[2016-05-11 17:56] adanilo commented on #365
https://github.com/whatwg/html/commit/4a0016570040070dff2a26c09430a601611ec57a

[2016-05-11 17:57] adanilo commented on #365
https://github.com/whatwg/html/commit/1490eba4dba5ab476f0981443a86c01acae01311 done

[2016-05-11 18:02] adanilo commented on #365
https://github.com/whatwg/html/commit/392c10a84c9fffc20d05157343d6f92fa55dc71d canvas

[2016-05-11 18:05] adanilo commented on #365
https://github.com/whatwg/html/commit/56ceea878e32d6bc308b46d5f4b33e8b08d3d749

[2016-05-11 18:08] adanilo commented on #365
https://github.com/whatwg/html/commit/0a668271cdef3c0b165ca546f5f3a66eeab78e31

[2016-05-11 18:09] adanilo commented on #365
https://github.com/whatwg/html/commit/1cae7e940b9d7cbfe5fd463fc2895519505310bd

[2016-05-11 18:12] adanilo commented on #365
https://github.com/whatwg/html/commit/3d4f9b12a95fbda87c7358fe545d7475ac004f24

[2016-05-11 18:15] adanilo commented on #365
https://github.com/whatwg/html/commit/99373f9cb9562201a6287929f1fae25716699677

[2016-05-11 18:30] adanilo commented on #365
https://github.com/whatwg/html/commit/5ec3672ab500496bd97148e51f7c874004c33059 we're not hip

[2016-05-11 18:30] adanilo commented on #365
https://github.com/whatwg/html/commit/7f99b089c9f6587e164e65e079be57f4eef3cdad

[2016-05-11 18:35] adanilo commented on #365
https://github.com/whatwg/html/commit/495262aa91d8b525095e0e629e5bcebc8e04bd53

[2016-05-11 18:39] adanilo commented on #365
https://github.com/whatwg/html/commit/18b243aafe328f5cc2095ddfdcdabd585f74b026

[2016-05-11 18:42] adanilo commented on #365
https://github.com/whatwg/html/commit/faec3a50ea181f322ab9819975e285ced34a0308 related to ping

[2016-05-11 18:46] adanilo commented on #365
https://github.com/whatwg/html/commit/6fc8c2eedb650f37f3f6ffdfcf9728e7a8958a8e workers

[2016-05-11 18:47] adanilo commented on #365
https://github.com/whatwg/html/commit/9c45e28f3496100b86eeb5cf866ec664fa61a010

[2016-05-11 18:49] adanilo commented on #365
https://github.com/whatwg/html/commit/ed1c7c24b777c946b4b616349b3ba58ec7f4e964

[2016-05-11 18:49] adanilo commented on #365
https://github.com/whatwg/html/commit/a9d8e7b04f7ed5d0f44612c567d93b06b50d76a3

[2016-05-11 18:49] adanilo commented on #365
https://github.com/whatwg/html/commit/5c3e4ab770c719ff55b439f314817b83f5a8cc96

[2016-05-11 18:49] adanilo commented on #365
https://github.com/whatwg/html/commit/a4b9eef6ff40c394cf6ec9247ce6286795348f3f canvas

[2016-05-11 18:51] adanilo commented on #365
https://github.com/whatwg/html/commit/24a0de0f71ed6041a4feb0ab751c3f3cfb13926e canvas

[2016-05-11 18:58] adanilo commented on #365
https://github.com/whatwg/html/commit/772ba0fdc3b2be1b7253cd895c1cb36ca39dc430

[2016-05-11 19:00] adanilo commented on #365
https://github.com/whatwg/html/commit/49f9e0489bd69fe022e1d3597021f2af9964c9b1 canvas

[2016-05-11 19:01] adanilo commented on #365
https://github.com/whatwg/html/commit/ca522a7478bc0db74a1f96f95ae499087b3655ec canvas

[2016-05-11 19:02] adanilo commented on #365
https://github.com/whatwg/html/commit/6170556321e1b0274155c145bea30f08524ccfcd

[2016-05-11 19:06] adanilo commented on #365
https://github.com/whatwg/html/commit/78e6d56a64eb7d8ed7ee29b93ea37789f249b3ef web sockets

[2016-05-11 19:07] adanilo commented on #365
https://github.com/whatwg/html/commit/055f54045075922ad15938f01da24080cb5a3c34

[2016-05-11 19:07] adanilo commented on #365
https://github.com/whatwg/html/commit/3dadbcad063a10b586ef52dd4b427aa339048ee7 web sockets

[2016-05-11 19:11] adanilo commented on #365
https://github.com/whatwg/html/commit/249c29f258c3740cce2e0f5d1edd8621ec66a791

[2016-05-11 19:13] adanilo commented on #365
Being checked for 5.1 https://github.com/whatwg/html/commit/740634d0f30a3b76e9da166ac2fa8835fcc073ab canvas

[2016-05-11 19:14] adanilo commented on #365
https://github.com/whatwg/html/commit/6f47a53c915ba001cb9e8f7d106a4dcab2a03f98 server sent events

[2016-05-11 19:15] adanilo commented on #365
https://github.com/whatwg/html/commit/06059a864e93441cb85d10d719cf306985aa1c48 done

[2016-05-11 19:20] adanilo commented on #365
https://github.com/whatwg/html/commit/96be6c02315d677c48ac334a689a48cbd1929c95

[2016-05-11 19:25] LJWatson opened #366 "Complete privacy questionnaire"
The Privacy IG has asked us to complete their <a href="http://gregnorc.github.io/ping-privacy-questions/">privacy questionnaire</a>.

[2016-05-11 20:20] chaals commented on #366
Here's a first draft:

1.) Does this specification have a "Privacy Considerations" section?

Yes, there is a [security and privacy considerations](https://w3c.github.io/html/webappapis.html#security-and-privacy) section. There is [another one for media](https://w3c.github.io/html/semantics-embedded-content.html#security-and-privacy-considerations), and yet [another for `registerContentHandler` and

[2016-05-11 20:32] adanilo commented on #365
https://github.com/whatwg/html/commit/26f5645b0c161c60903e945adace86165d56c03c web messaging

[2016-05-11 20:34] adanilo commented on #365
https://github.com/whatwg/html/commit/d09b0457aec355d7fbe88f9401fe3f2f0eab566f canvas

[2016-05-11 20:34] adanilo commented on #365
https://github.com/whatwg/html/commit/0b88bf3d79e44382ae264664b15e5b12893b025c canvas

[2016-05-11 20:36] adanilo commented on #365
https://github.com/whatwg/html/commit/78b44df4f67fc82ec564ae9c65d67f6e9993ea4d

[2016-05-11 20:38] adanilo commented on #365
https://github.com/whatwg/html/commit/df16ff393210dde1abf7c22fd7660f0ec70c357e

[2016-05-11 20:38] adanilo commented on #365
https://github.com/whatwg/html/commit/17336ad69be4744dfc17194f2ee51bd730ca4d93 web sockets

[2016-05-11 20:41] adanilo commented on #365
https://github.com/whatwg/html/commit/3d0c45406d4259533c676bf7bd30bb4b918fe8e2

[2016-05-11 20:47] adanilo commented on #365
https://github.com/whatwg/html/commit/929be879dfcad567bfdee14d33263cb13d2b189e web sockets

[2016-05-11 20:49] adanilo commented on #365
https://github.com/whatwg/html/commit/e2bd61d1e4bd356b747e15c4e724a75eadbb25ac web sockets

[2016-05-11 20:57] adanilo commented on #365
https://github.com/whatwg/html/commit/6115ed5f8078656a4f1972ae90d8d99368da9f1b

[2016-05-11 20:58] adanilo commented on #365
https://github.com/whatwg/html/commit/0c029fc38775a6e88d2aee358a3942f157ba8271 canvas

[2016-05-11 20:58] adanilo commented on #365
https://github.com/whatwg/html/commit/afab06c9a6f48963f4713eed2c8a75324712a9b5 workers

[2016-05-11 20:59] adanilo commented on #365
https://github.com/whatwg/html/commit/60e5fc361572c8d0ef576dc78542ec4b845aef5b web messaging

[2016-05-11 20:59] adanilo commented on #365
https://github.com/whatwg/html/commit/78806b0a466dd8f1f04fdcd5bc51ca002ccbf31f

[2016-05-11 21:00] adanilo commented on #365
https://github.com/whatwg/html/commit/43ad288bc5dfc567c232afb292d16be1929a51e2 canvas

[2016-05-11 21:00] adanilo commented on #365
https://github.com/whatwg/html/commit/fc53707c221ed6a6fd3c754feccabef88c9995f7

[2016-05-11 21:01] adanilo commented on #365
https://github.com/whatwg/html/commit/52ef2b19a2f818a032d12c0bc708c058784b9224 canvas

[2016-05-11 21:02] adanilo commented on #365
https://github.com/whatwg/html/commit/50d7221be05f8944d7ee3ad5652401bd6e7bb91d

[2016-05-11 21:04] adanilo commented on #365
https://github.com/whatwg/html/commit/fedaaea0c0ef73eb976cab97c7c94fa0f798af73

[2016-05-11 21:06] adanilo commented on #365
https://github.com/whatwg/html/commit/806874fa426589be159c3c2e8266e00ade80e2e9 canvas

[2016-05-11 21:06] adanilo commented on #365
https://github.com/whatwg/html/commit/b0e6f35926508b73dc49478c6fcbe9d1d1d0be73 canvas

[2016-05-11 21:07] adanilo commented on #365
https://github.com/whatwg/html/commit/b0244d358611b302c56d503ae7822153dd862b04

[2016-05-11 21:09] adanilo commented on #365
https://github.com/whatwg/html/commit/f5a6059b327506b43dc4e3e4770148b40f68e8e2 canvas

[2016-05-11 21:09] adanilo commented on #365
https://github.com/whatwg/html/commit/a4fb976e4cd1865f2d4259f1783866c3add40f66 canvas

[2016-05-11 21:11] adanilo commented on #365
https://github.com/whatwg/html/commit/536a96229ced274b80f78ad791c34ecfe11b289b workers

[2016-05-11 21:11] adanilo commented on #365
https://github.com/whatwg/html/commit/4c59797403ca6545ca54ec2808264f5723727e7a canvas

[2016-05-11 21:15] adanilo commented on #365
https://github.com/whatwg/html/commit/f7367217e5c488267204982faec075313cac3c7c editing

[2016-05-11 21:18] adanilo commented on #365
https://github.com/whatwg/html/commit/99f0f1ae017523276ea4dd5784ec63a23a23834d done

[2016-05-11 21:18] adanilo commented on #365
https://github.com/whatwg/html/commit/4081f129ac4667fccd365b4a68de4aff0211b2f1 workers

[2016-05-11 21:18] adanilo commented on #365
https://github.com/whatwg/html/commit/2749fa5eddea79586e58cb5387b713f44b3b035e canvas

[2016-05-11 21:25] adanilo commented on #365
https://github.com/whatwg/html/commit/5c44abc734eb483f9a7ec79da5844d2fe63d9c3b done

[2016-05-11 21:25] adanilo commented on #365
https://github.com/whatwg/html/commit/fcb0756dd94d96df9b8355741d82fcd5ca0a6154 canvas

[2016-05-11 21:26] adanilo commented on #365
https://github.com/whatwg/html/commit/09f0e7947d7e50685b4c2b769deea4f0e04b8e9c server events

[2016-05-11 21:28] adanilo commented on #365
https://github.com/whatwg/html/commit/7c9ba543a60a150e50ce6c10877fe330aabb95cc canvas

[2016-05-11 21:29] adanilo commented on #365
https://github.com/whatwg/html/commit/c2a3b2a2e3db49c14b486a5e99acf7d10cfe8443 done

[2016-05-11 21:29] adanilo commented on #365
https://github.com/whatwg/html/commit/634698e70ea4586d58c989fa7d2cbfcad20d33e6 done

[2016-05-11 21:30] adanilo commented on #365
https://github.com/whatwg/html/commit/c92fee202c1b4076209c127fc2151df1d2f68f98 canvas

[2016-05-11 21:33] adanilo commented on #365
https://github.com/whatwg/html/commit/24ab0606cb83dbad6e9ee627b4d8fc55a9bb5f5a

[2016-05-11 21:35] plehegar opened #368 "Things we will look at after 5.1"
Changes that were made by WHATWG to their spec, that we may want to match for interoperability, but don't believe need to be in HTML 5.1
- [ ] https://github.com/whatwg/html/commit/334f9edbf4c7c1648dcf153a393a53ea025f342e Make ImageBitmap transferable
- [x] https://github.com/whatwg/html/commit/87c078dfd7c36d65328db4bb7bfc3c8f411e5997
- [ ] https://github.com/whatwg/html/commit/cd1a9fb1e83f7d0bc30

[2016-05-11 21:38] adanilo commented on #365
https://github.com/whatwg/html/commit/6bc91faf94b35b2b21bb40d7b3d6f519bd715676 workers

[2016-05-11 22:20] adrianba opened #369 "Add text for the ping attribute"
Previous there was a [CfC, which passed, to remove PING](https://lists.w3.org/Archives/Public/public-html/2010Mar/0132.html) from HTML 5. Part of the rationale for the [original change proposal](https://lists.w3.org/Archives/Public/public-html/2009Dec/0183.html) was that, _"The feature is half-baked, insufficiently implemented, and therefore not yet suitable for standardization."_

There are now m

[2016-05-11 22:37] adanilo opened #370 "Remove TypedArray reference in spec."
Editors draft says arraybuffer is defined by both ECMA-262 and TYPEDARRAY spec. Remove redundant TYPEDARRAY reference.

[2016-05-11 22:38] DavidMacDonald opened #371 "Typo?"
"The term empty, when used of an attribute value, Text node, ..."

Should it be "used on an..."
http://www.w3.org/TR/html5/infrastructure.html#terminology-0

[2016-05-11 22:42] arronei commented on #363
DOM, Fetch, URL understand what we are linking too.

[2016-05-11 23:05] chaals opened #372 "Remove non-interoperable bits of autofill"
A lot of what is in there is not implemented interoperably

[2016-05-11 23:09] chaals opened #373 "What to do with Command section?"
There is a complex construct that was once meant to include a `command` element that would help define interaction. Is there implementation requirement in there that isn't implemented interoperably?

[2016-05-11 23:10] chaals opened #374 "Drop canvasProxy?"
See also https://github.com/whatwg/html/pull/790

[2016-05-11 23:20] chaals commented on #371
The original is grammatically correct english. Just not a very simple way to say things.

I think a better way to say this is "When an attribute, Text node, … is described as _empty_ …"

[2016-05-12 00:54] blurbusters commented on #159
One important aspect of requestAnimationFrame() is that it runs at the same rate as the refresh rate (end of Section 5.1 of W3C Animation Timing Spec). The module needs access to VSYNC in order to do this -- is there a VSYNC API built into HTML 5.1?   It's important for things like animations, games and VR.

Almost all web browsers do this, see http://www.testufo.com/browser.html

Various motion t

[2016-05-12 01:20] blurbusters opened #375 "VSYNC API: Support for VSYNC OFF / 120Hz+ / variable refresh displays / etc"
*EDIT: May 2017 -- COMPLETELY REWRITTEN.  Now that I am an Invited Expert to W3C Web Platform Working Group, I've edited this to remove duplication with #785 -- And to add variable refresh rate support.  As owner of Blur Busters, I also have an [article](http://www.blurbusters.com/blur-busters-working-on-changes-to-html-5-2/) that refers to this github item*

*EDIT: June 2017 -- Proposed new API i

[2016-05-12 14:23] rebecaruiz commented on #341
@r12a
I think that the way you propose is an excelent path to follow. It's simple and elegant.

[2016-05-12 16:12] r12a opened #376 "example of language detection fallback, no mention of pragma"
https://www.w3.org/TR/html51/dom.html#the-lang-and-xmllang-attributes
3.2.5.3. The lang and xml:lang attributes, the example starting "For example, if a document is delivered over HTTP"

This example was added in response to https://www.w3.org/Bugs/Public/show_bug.cgi?id=16979

This new issue is just to add a suggestion build on the added text.

The example describes a situation where there is no

[2016-05-12 17:15] cpandhi opened #377 "Correct allowed role info ofr iframes, the aria in html conformance table does not allow role of presentation for iframes."
HTMl5.1 draft states the allowed roles for iFrames areAllowed ARIA role attribute values:
    application, document, img or presentation.
While the aria in html conformance table states the allowed roles are Role: application, document, or img.
It does not allow role of presentation.
https://www.w3.org/TR/html-aria/#docconformance

[2016-05-12 19:41] travisleithead opened #378 "Fix "exported" links so that they only jump out of the spec in predetermined places"
Right now, we have quite a few anchors that link to external specs and by clicking a link, you are often jumped out of our spec into the linked spec. These include:
1. Terms defined in `single-page.bs` that use linking text off to external URLs
2. Exported anchors (e.g., `<a spec="url">term</a>`)

In both cases, we should put dfns in place that "capture" all these external links, and allow the use

[2016-05-12 21:36] #121 closed, assigned to arronei

[2016-05-12 23:32] blurbusters commented on #375
Coincidentially, the Chrome team just targeted 90fps for viewing via Oculus VR goggles;

http://arstechnica.com/gadgets/2016/05/chrome-dev-asserts-browser-is-viable-vr-platform-targets-90-fps-rendering/

Tests on my systems using new modern built-in GPUs (Recent 2015-era and later IGPs ... ordinary builtin GPUs, not even Radeon/NVIDIA highend stuff!) is now able to run Google Earth (angled 3D view

[2016-05-13 15:00] richschwer opened #380 "Clarification onof text on the definition of row and column headers."
# From  http://w3c.github.io/html/tabular-data.html#header-and-data-cell-semantics

A header cell anchored at the slot with coordinate (x, y) with width width and height height is said to be a column header if any of the following conditions are true:

[code]

A header cell anchored at the slot with coordinate (x, y) with width width and height height is said to be a row header if any of the follo

[2016-05-13 17:38] arronei opened #382 "Fix linking for slots to ECMAScript"
Link things like...
- [[RegExpMatcher]]
- [[ArrayBufferData]]
- etc...

[2016-05-15 18:56] #336 closed, assigned to LJWatson

[2016-05-15 18:58] LJWatson commented on #313
Closed with PR #339

[2016-05-15 18:58] #313 closed, assigned to LJWatson

[2016-05-15 20:39] masinter commented on #222
https://github.com/masinter/multipart-form-data
has the beginning of a test framework.

[2016-05-16 16:59] #151 closed, assigned to arronei

[2016-05-16 17:37] travisleithead commented on #301
I think CSP offers a variety of controls to fine-tune this experience. For example:
- child-src (http://www.w3.org/TR/CSP/#directive-child-src) - prevent the frame from spawning child browsing contexts
- default-src (http://www.w3.org/TR/CSP/#directive-default-src) - restrict all resource-acquiring elements to specific origins or `'none'` to restrict outright. I believe this is the feature the ori

[2016-05-16 17:37] #301 closed, assigned to travisleithead

[2016-05-16 18:51] travisleithead opened #388 "Consider dropping casual usage of EventSource, WebSocket, BroadcastChannel, etc."
These are mentioned in passing in relation to the "message" event.

`EventSource` is noted as being referenced, but it is only seen in this one place--nowhere else.

We should evaluate whether we really need to drop these references.

[2016-05-16 20:07] #183 closed, assigned to travisleithead

[2016-05-16 20:07] #184 closed, assigned to travisleithead

[2016-05-16 20:07] #185 closed, assigned to travisleithead

[2016-05-16 20:07] #186 closed, assigned to travisleithead

[2016-05-16 20:07] #187 closed, assigned to travisleithead

[2016-05-16 20:07] #188 closed, assigned to travisleithead

[2016-05-16 20:07] #189 closed, assigned to travisleithead

[2016-05-16 20:07] #190 closed, assigned to travisleithead

[2016-05-16 20:07] #191 closed, assigned to travisleithead

[2016-05-16 20:07] #201 closed, assigned to travisleithead

[2016-05-16 20:41] #246 closed, assigned to adanilo

[2016-05-16 21:14] travisleithead opened #389 "Remove leading backslash various ECMAScript algorithms"
E.g., http://w3c.github.io/html/browsers.html#shared-internal-slot-crossoriginpropertydescriptormap

shows that sometimes the slash is not needed, and other times it is needed? Review these to try to remove this yucky bikeshed artifact.

[2016-05-16 21:32] travisleithead commented on #281
step=2.6 scalar=2 => 6 month step --> https://jsfiddle.net/a3cafwv0/7/
step=2.1 scalar=2 => 6 month step --> https://jsfiddle.net/a3cafwv0/8/

So, Edge/Chrome both apply the ceil(step) then multiply by scalar for step up/down (to get 6 months either way).

[2016-05-16 21:36] #149 closed, assigned to arronei

[2016-05-16 21:53] travisleithead commented on #167
Closed as part of #348.

[2016-05-16 21:53] #167 closed, assigned to arronei

[2016-05-16 21:56] travisleithead commented on #371
@LJWatson's PR addresses this, I believe.

[2016-05-16 21:56] #371 closed, assigned to LJWatson

[2016-05-17 01:49] Nick-Levinson commented on #355
When a page has a lot of code, being able to find things in the source code, not just being able to apply style to large runs of code, is made a lot easier with an element that is easy to find (I use the attributes id and class a lot with div and other elements). For example, Google requires some elements that are not intuitive for page organization, so I enclose them within divs I'll more likely

[2016-05-17 10:41] prlbr commented on #355
@Nick-Levinson, I think your strategy of using IDs or classes as markers in the source code is a legitimate use case which should always work.

I think the problem might rather be that `<gcse:searchbox-only>` is non-standard than something being wrong with `<div>`. Maybe someone more knowledgable than I can give more feedback on this.

Here’s an explanation for that warning; look for the answer by

[2016-05-17 16:50] Nick-Levinson commented on #355
I hadn't thought of using id or class in an element-independent way for page organization; I guess I would add a little more code to ease searchability and that could work. While gcse:searchbox-only is nonstandard, having an HTML element that can cope with whatever is inside the element would help. I don't include XML unless someone supplies necessary code that uses a non-HTML language; I was noti

[2016-05-17 23:09] travisleithead commented on #281
That last comment was not quite true, they do round the step value. Regardless, I believe I've now captured the logic in a PR. Please review.

[2016-05-17 23:57] travisleithead commented on #165
With thanks to our friends at WHATWG, I believe I've ported over all of these dependencies in https://github.com/w3c/html/commit/1b70bac646e9ae3f7f7ac495032782f82685556b. Closing this issue now.

[2016-05-17 23:57] #165 closed, assigned to travisleithead

[2016-05-18 00:14] travisleithead commented on #319
Closing per the merged PR #390

[2016-05-18 00:14] #319 closed, assigned to arronei

[2016-05-18 18:30] travisleithead commented on #389
Turns out that if you have an element inside of the double-brackets e.g., `[[<a>something</a>]]` then you don't need to escape the leading double-brackets.

[2016-05-18 18:35] travisleithead commented on #389
Also, not needed in `<pre>` tags.

[2016-05-18 19:40] travisleithead opened #395 "DOMTokenList interface is listed twice"
Remove the redundancy.

[2016-05-19 00:07] travisleithead commented on #176
OK, content model restrictions will now allow "nothing". Please review pull #397.
- Note, I kept the other pre-existing conditions, because they seemed useful, and I didn't know how to refactor them well, preserving the original alternative content models. If anyone has alternative suggestions for the text, I'd love to hear it.

[2016-05-19 09:08] prlbr commented on #355
Browsers display the search box within the `<div>` as you would expect, I think. That means browsers cope with this. The validator reporting an error is not a problem in my opinion, but the desired behaviour when encountering invalid code, which `<gcse:searchbox-only>` apparently is.

Maybe the validator’s error message could be improved so that it is clearer that the error is caused by `<gcse:sea

[2016-05-19 15:17] travisleithead opened #399 "Update all TR links to https"
See https://github.com/w3c/echidna/issues/282 for the upcoming publishing requirement details.

[2016-05-19 17:13] travisleithead commented on #281
For those reviewing: The essence of the problem is that for both:
`<input type="number" value="2" step="3.5">`
`<input type="month" value="2016-02" step="3.5">`
The algorithms in the spec used the same units and same conversions for both of these--yet only the number input state can represent fractional values; months cannot. Therefore something needed to be done to adjust the algorithms to accomm

[2016-05-19 17:55] #395 closed, assigned to travisleithead

[2016-05-19 20:48] travisleithead commented on #361
Doesn't look like PR #400 fully addressed this issue given the above...so keeping it active.

[2016-05-19 21:05] plehegar commented on #399
Not all TR links. Only TR headers and SOTD ones.

[2016-05-19 21:12] plehegar commented on #361
- [ ] document on picking issues with editorial for beginners
- [x] suggest to add name in ack section when making a pull request.

[2016-05-19 21:17] travisleithead commented on #221
I've re-tested @rniwa's attached test in the Bugzilla bug, and Edge is now exactly matching Firefox and Chrome. Given that, I think the undo issue mentioned in the bug has been addressed. That being said, oddly the DnD model does not seem to handle "text/html" which clearly is what is being dragged around in the contenteditable example in the test. However, grafting that into the spec is a whole n

[2016-05-19 21:17] #221 closed, assigned to travisleithead

[2016-05-19 21:26] travisleithead commented on #148
Fixed by #403.

[2016-05-19 21:26] #148 closed, assigned to plehegar

[2016-05-19 21:26] travisleithead commented on #178
519 hits today.

[2016-05-19 21:37] travisleithead commented on #382
Sadly, there is nothing to link to here. These are not link targets, even in the ECMAScript spec.

[2016-05-19 21:37] #382 closed, assigned to travisleithead

[2016-05-19 23:05] travisleithead commented on #360
Table created based on @simevidas doc. @stevefaulkner and friends, please review PR #406

[2016-05-20 02:28] #360 closed, assigned to travisleithead

[2016-05-20 13:47] mattgarrish opened #407 "missing word in link element definition"
In section 4.2.4: "A link element must a rel attribute."

In 5.0 this was: "A link element must have a rel attribute."

[2016-05-20 15:47] mattgarrish commented on #407
Sorry, was looking at the May 3 draft. I see someone already caught this in a PR on May 2.

[2016-05-20 15:47] #407 closed, assigned to nobody

[2016-05-20 16:22] #147 closed, assigned to plehegar

[2016-05-20 17:06] LJWatson commented on #407
@mattgarrish thanks for taking time to report it anyway.

[2016-05-20 17:55] #389 closed, assigned to travisleithead

[2016-05-20 18:27] #120 closed, assigned to travisleithead

[2016-05-20 21:00] #176 closed, assigned to travisleithead

[2016-05-20 22:21] travisleithead commented on #197
Already fixed in our doc with my other changes (1b70bac646e9ae3f7f7ac495032782f82685556b)

[2016-05-20 22:21] #197 closed, assigned to travisleithead

[2016-05-20 22:24] travisleithead commented on #154
Will add srcObject, MediaProvider and required dependencies.

[2016-05-20 22:44] travisleithead commented on #154
I think I got all the tendrils (which were surprisingly few...?) @dontcallmedom feel free to take a look.

[2016-05-20 23:11] travisleithead commented on #62
Well, we've got `datatime-local` back (reverted the 5.0 change due to wide implementation support), and I've got the inverted `<time>` content model fix ready, but not sure what to do with the `title` attribute on `<time>`. Hopefully @stevefaulkner or @LJWatson can lend some thoughts? PR on it's way...

[2016-05-21 02:44] #154 closed, assigned to travisleithead

[2016-05-21 02:45] Nick-Levinson commented on #355
The page renders properly, including the search box; I could delete most of my div elements without affecting page rendering, as only a few are needed for intended rendering. This issue is about clarity in source code organization, useful for finding code and diagnosing problems.

Validation is not perfect in either direction. Some browsers don't render HTML5 fully and properly and validation won'

[2016-05-21 08:08] christianhujer opened #413 "Support more ISO8601 formats"
I just wanted to do this:

`Time: <time datetime="2015-08-21T17:30+05:30/PT3H">2015-08-21, 17:30 to 20:30</time>`

and figured out that ISO 8601 datetimes with durations (aka intervals) aren't supported. Instead I had to do this:

`Time: <time datetime="2015-08-21T17:30+05:30">2015-08-21, 17:30</time><time datetime="PT3H"> to 20:30</time>`

I found this surprising and counter-intuitive. I find ISO

[2016-05-21 08:31] chaals commented on #62
Looking at the bit about `<img title`, the issue is that in the second bullet of [guidance for conformance checkers about images](https://w3c.github.io/html/semantics-embedded-content.html#guidance-for-conformance-checkers) there is a link whose text is "as described above". What is "described above" is some stuff apparently all about `figure` elements.

In any event, the entire section is too lon

[2016-05-21 08:34] chaals commented on #62
Looking at the bit about `<img title`, the issue is that in the second bullet of [guidance for conformance checkers about images](https://w3c.github.io/html/semantics-embedded-content.html#guidance-for-conformance-checkers) there is a link whose text is "as described above". What is described above is some stuff apparently all about `figure` elements.

In any event, the entire section is too long,

[2016-05-21 08:35] chaals commented on #62
The acknowledgements should also mention mount-root-yy - @tzik do you know a real name for that user?

[2016-05-21 08:37] chaals commented on #366
I'm going to close this issue, and if there are concrete changes we need to make to our privacy implications section - like having one instead of 3 - they should be opened as individual issues.

[2016-05-21 08:37] #366 closed, assigned to chaals

[2016-05-21 08:56] chaals commented on #330
@FremyCompany Sorry for the delays, I've been busy.

I'd like to get the algorithms more accurate, which means getting tests for them, and doing relevant editing.

I agree that we should keep doing this in the context of HTML, and I think managing the work there is pretty straightforward. Indeed, if you have pull requests and tests… :)

(otherwise I'll be working on it in the next couple of days).

[2016-05-21 09:03] chaals commented on #90
@arronei I'm not working on the PR to fix this. Are you?

[2016-05-21 09:08] chaals opened #414 "Clarify tabindex explanation"
The explanation for `tabindex` is hard to read. It should also warn developers that using positive values is a common way to make a mistake.

[2016-05-21 09:18] chaals commented on #413
@christianhujer can you point us to implementations that would use this information if it were valid in HTML? Or even better, implementations that do consume it now...

[2016-05-21 09:51] prlbr commented on #355
My problem is that I don’t see the issue. The two examples for the current situation not being sufficient don’t convince me (`<script>` in a `<div>` is valid and `<gcse:searchbox-only>` being reported as error seems to be desired behaviour). So I don’t understand for which use cases we need to change HTML according to your proposal.

Maybe I’m somewhat blind here. I’d be happy if someone else chim

[2016-05-21 13:52] christianhujer commented on #413
There are lots of ISO8601 APIs... I bet the most "natural" way to implement HTML5 datetime is to actually use an ISO8601 API. An ISO8601 API would allow more than HTML5 currently does. Java 8's datetime API for example, and XML Schema. Why doesn't HTML5 simply refer to ISO8601 anyway?

[2016-05-21 22:16] Nick-Levinson commented on #355
The li problem occurred when two consecutive li items had very short content for each (I think 3-6 characters each); a browser then rendered both on one line, and I'm told that was proper rendering, but I wanted the list items to be visually separate. I tried adding the 1em margin-bottom into a stylesheet without the br element or with the br element before the li closing tag and the problem persi

[2016-05-23 07:36] mikewest commented on #187
Will this concept be ported into W3C's Worker document as well? https://www.w3.org/TR/workers/ points to this repository for issues, so...

[2016-05-23 11:56] #211 closed, assigned to travisleithead

[2016-05-23 13:06] stevefaulkner commented on #251
Have made some change: https://github.com/w3c/html/commit/1fa9024e2dc2b30429372b66c0bad30f35b6487f in the spec after reviewing the discussion:
- Removed the last example which had the caption and extended description in the `figcaption`, but no `<caption>` as this example is not well supported and provides no additional benefit to the other methods described.
- added a note recommending authors al

[2016-05-23 13:35] stevefaulkner commented on #62
Note: have updated conformance checker section https://github.com/w3c/html/commit/9a8cb41988eb45acf058c9cc7e1d7c3ab26955dc to reflect, details in commit notes.

[2016-05-23 16:01] halindrome commented on #160
Conformance checkers should absolutely accept any value for the rel attribute.  And, oh by the way, for the role attribute.  Same problem.

[2016-05-23 17:34] travisleithead commented on #281
Ran this by some internal folks at Microsoft who implemented Edge's new input controls (Scott & Co.) [info removed for privacy]:

[2016-05-23 18:01] #281 closed, assigned to travisleithead

[2016-05-23 18:12] travisleithead commented on #278
Note @smaug---- commented on https://www.w3.org/Bugs/Public/show_bug.cgi?id=25897, noting that we have implementations, but they don't match the spec...

[2016-05-23 18:19] joeblew99 commented on #375
Vsync support would be very useful.
Its one of the reasons I can't recommend building a graphics intensive project using pure web technologies at the moment.

[2016-05-24 05:49] mikewest commented on #399
Why not TR links? If those documents are available over HTTPS, it seems reasonable to link to them over HTTPS.

[2016-05-24 06:12] chaals commented on #324
This is a set of proposals, and each needs incubation. If individual proposals have traction and are ready to migrate into HTML, please open individual issues for them.

[2016-05-24 06:12] #324 closed, assigned to nobody

[2016-05-24 09:22] ZoeBijl commented on #399
Aren't all http links automagically forwarded to https?

[2016-05-24 09:42] stevefaulkner opened #416 "image not loading"
yesterday I added an image https://github.com/w3c/html/blob/master/images/dialog.png
to http://w3c.github.io/html/interactive-elements.html#the-dialog-element, it is not loading any ideas why? @plehegar?

[2016-05-24 09:58] chaals commented on #413
HTML doesn't refer to 8601 because you have to go buy it, and because it provides so many possibilities that you can give ambiguous dates, whereas what HTML needs is a far smaller subset.

In terms of implementation I am looking for some things that deal with data found on the "wild" Web, that are products or services being shipped. I'm aware that it is possible to make an API in any language, the

[2016-05-24 09:59] chaals commented on #274
[Working group discussion](http://www.w3.org/mid/op.yhyns70js7agh9@widsith.local)

[2016-05-24 10:28] LJWatson commented on #251
@stevefaulkner

This makes things much easier to read and understand. Couple of thoughts...

I would be inclined to drop the examples that use `<caption>` to provide descriptive/instructional information about the table. The `<caption>` provides the accessible name for the table, and keeping the acc name short feels like better usability to me.

Also, minor editorial nit, in the last note in secti

[2016-05-24 10:38] chaals commented on #251
@LJWatson:

Hmm. This is a problem, because it is also used to provide a caption for sighted users, where the extra information is actually pretty valuable. I presume this dilemma is why the HTML 5 spec hoped that using `figcaption` would work.

Perhaps the answer is that the "further information" should be provided in the body of the `figure` element - meaning best practise would often be that a

[2016-05-24 12:04] stevefaulkner commented on #251
@LJWatson
Have removed the examples using the caption element.
https://github.com/w3c/html/commit/5ebefbd061665729c3b131b65147e425757c3eba
@chaals
I don't see this as a problem, the advice does not say don't provide further information, it encourages it and provides some examples of how to do so. It only says don't include it as part of the caption, as the caption is meant for a brief, not extende

[2016-05-24 12:32] LJWatson commented on #251
@Chaals
"Hmm. This is a problem, because it is also used to provide a caption for sighted users, where the extra information is actually pretty valuable. I presume
this dilemma is why the HTML 5 spec hoped that using  figcaption  would work."

Agree the descriptive info should be visible. The other examples suggest ways to do this and retain a programmatic association with the table, but without c

[2016-05-24 12:44] dylanb commented on #297
Trident approach makes much more sense from a usability/accessibility perspective, so this has my +1

[2016-05-24 12:46] dylanb commented on #274
Without any ability to style these, it does not matter what happens because no-one with a serious web site/application would ever use them anyway.

[2016-05-24 12:47] chaals commented on #297
The number one question IMHO is whether the difference causes a real problem.

Question zero being how common this case is in the first place…

I've started [a public-html@ thread](http://www.w3.org/mid/op.yhyuk8zes7agh9@widsith.local), [a WAI Interest Group one](http://www.w3.org/mid/op.yhyuk9ips7agh9@widsith.local), and one on the WebAIM discussion list. Let's see if we get feedback saying we ne

[2016-05-24 12:57] chaals commented on #274
@dylanb I'm inclined to agree that the use case for on-page menus isn't going to be huge, especially given that we have the longstanding `select` element to do that for the simple case.

But it might be more useful for adding to context menus - **if** it gets enough implementation...

[2016-05-24 13:03] stevefaulkner commented on #274
after years of the souped up menu specification being in the spec, the only vendor interest has been in regards to context menus

[2016-05-24 14:56] paulbrucecotton commented on #413
Without commenting on the requirement for support of other date-time formats, HTML5 does refer to ISO 8601.  See http://www.w3.org/TR/html5/single-page.html#refsISO8601.  And ISO 8601 is in the HTML51 informative references: http://www.w3.org/TR/html51/single-page.html#biblio-iso8601

And there are several other normative references to ISO documents in HTML51 that are not "freely available" eg. [M

[2016-05-24 15:24] r12a commented on #216
Just for the sake of tidiness i'm added a link here to some online notes that Addison made.
https://www.w3.org/International/wiki/CaseForCaselessHTML

[2016-05-24 20:11] plehegar commented on #119
https://github.com/whatwg/html/commit/0f54b54307647ca15ace16ef03c570db1b918193

[2016-05-24 20:17] plehegar commented on #273
[make sure that content model for header and footer can accept headers and footers]

[2016-05-24 20:20] travisleithead commented on #259
Add pointer to this doc from HTML.

[2016-05-24 20:22] plehegar commented on #119
I'm delegating this one to Resource-Hints rather copying some definitions in the HTML spec. Also, dropping suport for a/@prefetch and not including support for hints on a and area.

[2016-05-24 20:53] LJWatson commented on #312
@halindrome can you shed any light on what's needed here? Thanks

[2016-05-24 21:38] travisleithead commented on #118
OK, it looks like we only need to remove the short section on secondary browsing contexts...

[2016-05-25 09:39] chaals commented on #341
[discussion on mailing list](http://www.w3.org/mid/op.yh0h0fbks7agh9@widsith.local)

[2016-05-25 09:50] chaals commented on #341
The idea of a new element seems nice, except it's a big effort in practice.

I suspect we can get a long way with what we already have:

(Check out the third item)

Where the list is too long, or not stable enough,

[code]

Which is what we do for example in referring to sections of HTML.

Recommending that **in general** people use CSS by default seems reasonable, though. And is editorial in natu

[2016-05-25 10:32] plehegar opened #420 "IntersectionObservers"
[[
For each fully active Document in docs, run the update intersection observations steps for that Document, passing in now as the timestamp.
]]
This step should be pushed to HTML.next since intersection observers are still in incubation.

[2016-05-25 10:34] plehegar commented on #420
Check https://wicg.github.io/IntersectionObserver/#event-loop before reintegrating it for HTML.next

[2016-05-25 10:53] plehegar commented on #159
#422 adds requestAnimationFrame.

Note that I took into account document.hidden. See https://www.w3.org/2016/05/raf.html for a test.
Firefox seems to have a bug and will run RAF even if document.hidden is true, unlike Chrome/Safari/Edge.

I didn't manage to get bikeshed to link from the IDL to the method definition. Not sure why...

[2016-05-25 11:08] plehegar commented on #159
Regarding VSYNC, the spec says "If there is a top-level browsing context B that the user agent believes would not benefit from having its rendering updated at this time". It then talks about "if the browser is attempting to achieve a 60 Hz refresh rate, then these steps are only necessary every 60th of a second (about 16.7ms)." Lots of hand-waving there.
If we change that to link it to the VSYNC i

[2016-05-25 11:08] prlbr commented on #341
How about adding more options to the type attribute to cover non-western enumeration? Like the current ones, they could be mapped to CSS properties in CSS supporting user agents, so implementation should be really simple for those agents. In user agents that don’t support CSS, an enhanced type attribute would bring the attribute’s benefits to those that don’t use western enumeration symbols.

Supe

[2016-05-25 13:10] LJWatson commented on #202
Closed with  #415

[2016-05-25 13:10] #202 closed, assigned to LJWatson

[2016-05-25 13:52] dylanb commented on #341
@chaals you sent an email to the WG list, can I summarize what I think you asked

Proposal 1: obsolete type and use CSS only
Proposal 2: leave type and suggest CSS as an alternative

[2016-05-25 13:57] cheshrkat commented on #341
FWIW I don't think the display of an OL's counters is "style", the case noted by @unor is a solid example of why - the counter of the list may in some cases be part of the document's content and meaning. It should survive whether read on screen, printed, copy&pasted, etc (the fact list counters are lost in some copy&paste actions should be considered a bug).

Basically I  think HTML should be able

[2016-05-25 14:36] plehegar commented on #416
It seems to work now. I see it in https://github.com/w3c/html/blob/gh-pages/images/dialog.png and in the spec.

[2016-05-25 15:25] r12a commented on #341
@cheshrkat how would you handle the issues described in https://github.com/w3c/html/issues/341#issuecomment-218496519?

@prlbr it may be significant that the Tierschutzgesetz doesn't actually use `<li>` for their lists.

list numbering does fall back to something without CSS.  It seems to me that the problem arises when you try to point to a specific list item from text using the counter in the li

[2016-05-25 15:35] LJWatson commented on #341
@prlbr
"Am I right to assume that this also affects assistive technology
for visually impaired users?"

Curiously it doesn't seem to, no. Screen readers recognise the list-style-type attribute and announce the list markers accordingly.

That said the ability to distinguish one `<ol>` from another when CSS is unavailable is important. If the content is syndicated to another site that uses different

[2016-05-25 15:38] stevefaulkner commented on #273
I note that my comments: https://github.com/w3c/html/issues/34#issuecomment-180989600 have had no response, I don't see any substantive arguments as to why we should be allowing this change.

[2016-05-25 15:41] plehegar commented on #373
This is about menu/menuitem/"commands".

http://people.mozilla.org/~prouget/bugs/context-menu-test/test.html

There are some issues, see
  https://bugzilla.mozilla.org/show_bug.cgi?id=676236
  https://groups.google.com/a/chromium.org/forum/?_escaped_fragment_=topic/blink-dev/MkEDloT-yu8#!topic/blink-dev/MkEDloT-yu8

Chrome usage is around 0.27%. ditto for the closing tag:
  https://www.chromestatu

[2016-05-25 15:47] cheshrkat commented on #341
@r12a
- where the text doesn't need to match the counter, I think @chaals solution is fine (not that we couldn't use a range of richer in-document reference elements; but as he says new elements are relatively expensive)
- where the text DOES need to match the counter, to me the issue is about the stability of display rather than the potential for people to dig themselves into a hole with custom s

[2016-05-25 16:35] travisleithead commented on #119
Closed per #417

[2016-05-25 16:35] #119 closed, assigned to plehegar

[2016-05-25 16:45] travisleithead commented on #420
Closed by #423

[2016-05-25 16:45] #420 closed, assigned to plehegar

[2016-05-25 17:01] travisleithead commented on #399
Seems like it would be easier to change all TR links at once for consistency. If the TR site supports HTTPS, then I don't see why not.

[2016-05-25 17:19] plehegar commented on #399
Required all links to W3C documents to use https would be a huge burden on editors imho. We're breaking them already on several fronts (respec, bikeshed, old pubrules, new pubrules, etc.) so I worry about adding more and more requirements on them. Now having said that, my comments was only about the required scope of this change. We can certainly use HTTPS for all links in the HTML spec (i've chan

[2016-05-25 17:22] r12a commented on #341
FYI only:
just for a bit of background context, we maintain a document with a list of pre-built international counter styles for CSS users that reflect local requirements at [Custom Counter Styles](http://w3c.github.io/predefined-counter-styles/).  We expect the list to grow. Many of the styles are already supported by some major browsers, but that doesn't usually include Edge/IE, see a list at ht

[2016-05-25 17:23] plehegar opened #426 "Integrate IntersectionObservers"
Once IntersectionObservers is out of incubation, we should hook up it in the spec.

Integrate as specified
 https://wicg.github.io/IntersectionObserver/#event-loop

See also #420

[2016-05-25 17:45] plehegar commented on #373
Made a copy of Paul Rouget test (without -moz-) at https://www.w3.org/2016/05/menuitem.html

menuitem works on
- Linux: Firefox (without icons) and Chrome (without icons)
- MacOS: Firefox (with icons), Chrome (without icons, behind flag)
- Windows: Firefox (with icons), Chrome (without icons, behind flag)
- Android: Firefox (without icons)

Imho, given the parsing issue, I recommend to mark this f

[2016-05-25 19:12] blurbusters commented on #159
Yes, you need to do the resize & scroll at 120fps @ 120Hz.

IE11, FireFox, and Chrome already smooth-scrolls with keyboard up/down at a screen update rate matching refresh rate..  With a smooth scroller extension, Chrome also smooth-scrolls with the mouse wheel as well.

Note to those people "assuming 60fps is enough" (in a "640K ought to be enough fashion):
There is a lot of incorrect assumption

[2016-05-25 19:21] plehegar opened #427 "Remove the dialog element from HTML 5.1"
It seems only Chrome implements it so far.

Firefox doesn't seem in a hurry:
 https://bugzilla.mozilla.org/show_bug.cgi?id=840640

Edge has it as medium priority in the future.

See also #264.

[2016-05-25 19:32] plehegar commented on #373
See also #274 and https://lists.w3.org/Archives/Public/public-html/2016May/0023.html

[2016-05-25 19:43] blurbusters commented on #375
---copied from requestAnimationFrame() thread https://github.com/w3c/html/issues/159 since it is extremely useful here too .... They seem distinct, because it seems to be a decision between revert #159 (keep requestAnimationFrame) or go with #375 (create a new VSYNC API).

For those testing:

Note to those people "assuming 60fps is enough" (in a "640K ought to be enough" fashion):
There is a lot o

[2016-05-25 19:53] travisleithead commented on #259
After investigation, it looks like the latest proposal that has some agreement in whatwg/html#500 is not inline with the published version of the extension spec: http://www.w3.org/2003/entities/2007doc/xhtmlpubid.html, so a pointer to that document is likely insufficient.

As I understand it, the latest proposal is to add new SYSTEM identifier processing logic (note: the [existing list](http://w3c

[2016-05-25 21:43] rebecaruiz commented on #341
@prlbr

The symbol § is widely used to mark up sectioning in books since 19th century (and maybe earlier). This symbol is a typographical character used mainly to refer to a particular section of a document, such as legal code. The likely origin of the section sign is the digraph formed by the combination of two S glyphs (from the Latin _signum sectiōnis_). When duplicated, as §§, it is read as th

[2016-05-25 22:16] prlbr commented on #341
@r12a and @rebecaruiz

I see that my example of the [webpage with the law](http://www.uni-mainz.de/FB/Medizin/nc-patho/tiersch/01_03.htm) caused some confusion. I think the confusion is due to the fact that the webpage contains list-like things that do not use HTML ordered list markup. However, the webpage does indeed contain `<ol>` lists as well and those are the ones I was referring to. (You can

[2016-05-25 22:39] rebecaruiz commented on #341
Following with the anchor issue…
Given the list of the first five chapters of _Don Quijote de La Mancha_:
1. Que trata de la condición y ejercicio del famoso hidalgo don Quijote de la Mancha
2. Que trata de la primera salida que de su tierra hizo el ingenioso don Quijote
3. Donde se cuenta la graciosa manera que tuvo don Quijote en armarse caballero
   3.1 Primera parte
   3.2 Segunda parte
4. De

[2016-05-26 00:06] chaals commented on #341
@dylanb yes, those are roughly the alternatives that I think make sense.

Where there is a list whose order is important, but there is no reason to suppose it will move, I think CSS is enough. The point of hypertext is that someone else might want to point into the list, which is why finding what an annotation refers to if there are slight changes in content is such a key to the work on annotation

[2016-05-26 03:16] #118 closed, assigned to travisleithead

[2016-05-26 09:03] chaals commented on #273
@stevefaulkner Because there are concrete use cases that seem legitimate, and because there is no obvious value to the restriction in the first place, notwithstanding @MichielBijl's point.

[2016-05-26 10:11] stevefaulkner commented on #273
@chaals looking at the provided example https://github.com/w3c/html/issues/273#issue-151273797 this is not a reason to allow header to have headers as children but to allow headers to have header descendents when the header contains a sectioning element. I suggest that this makes sense but allowing headers not contained within sectioning descendents does not. So i suggest that:

[code]

or

[code]

[2016-05-26 11:52] r12a commented on #341
@chaals if i understand correctly, you mean to get browsers to recognise more of the labels defined by CSS Counter Styles(?) Problem is, even that longish list is only a subset of the styles [defined elsewhere](http://w3c.github.io/predefined-counter-styles/), and that list is expected to grow also ([example](https://github.com/w3c/predefined-counter-styles/issues/3)), and in fact CSS expects peop

[2016-05-26 12:24] chaals commented on #273
I understand why the markup you suggest is better, but I am not sure what value we get out of **requiring** that.

[2016-05-26 12:50] prlbr commented on #341
It’s cool that you can define your own list styles in CSS, but concerning a possible extension of numbering types avaliable for `<ol type="…">`, I think it would be sufficient to add types that are actually widely used in publications.

How do we get data on actual need/use? Or would it be better to wait until additional types are requested by those who it concerns and who can demonstrate the prac

[2016-05-26 14:08] stevefaulkner commented on #273
@chaals the value is that nesting of headers is discouraged and when used as a descendent of a sectioning element it is scoped as intended.

[2016-05-26 14:13] LJWatson commented on #341
The case for type remaining conforming on `<ol>` seems good enough. Unless @stevefaulkner @travisleithead @adanilo or @arronei feel otherwise, suggest we close this issue. If someone wants to propose extending the type values, it's a discussion best had in collaboration with browser vendors in the <a href="https://www.w3.org/community/wicg/">Web Incubator CG</a>

[2016-05-26 16:29] #374 closed, assigned to plehegar

[2016-05-26 18:13] wseltzer commented on #373
Query how this feature matches user expectations: if users expect that click-menus are controlled by the browser, because that's the way they have been generated to date, they could be misled into putting more trust in a menu action than it warrants. That would have security implications.

[2016-05-26 18:15] wolenetz commented on #155
@travisleithead @plehegar We ideally need more detachment call-outs. Please see the specifics documented in https://github.com/w3c/media-source/issues/18#issuecomment-221938304. MSE spec has a non-normative note which unblocks it for V1. Can this be done before you lock down for HTML 5.1?

[2016-05-27 00:08] travisleithead opened #428 "Media elements that delay the load event..."
MSE's MediaSource will likely not delay the load event as soon as it is attached to the media element. Same should apply for a MediaStream. Ensure the spec is clear on this point.

[2016-05-27 01:57] adanilo commented on #341
SGTM, close and move further discussion to WICG makes sense.

[2016-05-27 07:12] foolip commented on #428
AFAICT, Blink doesn't have any extra "Set the element's delaying-the-load-event flag to false" beyond what the spec already requires. Given that the flag is set to true in the resource selection algorithm before one knows what kind of resource will be used, at what point would it be set to false? Does any engine already do this?

[2016-05-27 08:39] stevefaulkner commented on #341
+1

[2016-05-27 08:46] rebecaruiz commented on #341
+1

[2016-05-27 11:40] LJWatson commented on #341
Thanks for the useful discussion everyone.

[2016-05-27 11:40] #341 closed, assigned to chaals

[2016-05-27 11:52] LJWatson commented on #40
The <a href="https://lists.w3.org/Archives/Public/public-html/2016May/0032.html">CFC to remove AppCache</a> passed, so reopening this for @travisleithead

[2016-05-27 15:42] #90 closed, assigned to travisleithead

[2016-05-27 16:22] travisleithead commented on #362
I think this can move to CR milestone.

[2016-05-27 17:58] travisleithead commented on #369
Given what I'm hearing about the privacy group potentially having concerns over adding this API into 5.1, and given our relatively short timeline, I think we are OK with moving this issue to 5.2 and adding it to the spec in order to have time for wider review and resolution of potential issues as a result.

[2016-05-27 18:04] travisleithead commented on #372
I think we need to remove `requestAutoComplete` as Chrome is deprecating, and (I think) they were the only ones to implement. See:
- https://developers.google.com/web/fundamentals/design-and-ui/input/forms/use-request-auto-complete

And per: https://codereview.chromium.org/1958543002/ it looks like it may have been removed already.

Interop data from Chrome Status: https://www.chromestatus.com/fea

[2016-05-27 18:06] travisleithead commented on #159
Can this issue be closed since we have #375?

[2016-05-27 18:14] blurbusters commented on #159
That depends.on what W3C decides because requestAnimationFrame() is the defacto HTML VSYNC API currently -- unbeknownst to many within W3C.  Many HTML5 videogames use this VSYNC API.

#159 -- Reinstatement: requestAnimationFrame() instead.  Don't remove it.  It's there, implementations exist, and saves work for web browser programmers.  Improve this existing VSYNC API to enhance its VSYNC features

[2016-05-27 18:24] travisleithead commented on #159
Does @plehegar's merged pull request #422 address #159 (this issue)? Seems like it's [generally] reinstated... Is there followup work regarding the VSYNC that is requested for interop?

For #375 that sounds like future work (e.g., not for our immediate 5.1 publication). Does that sound right?

[2016-05-27 18:33] blurbusters commented on #159
Yes, #422 seems to supersede #159, but I would like to verify.  I'll need to git-pull this weekend and see if it looks good.

If reinstatement of requestAnimationFrame() is what is going to happen, then yes, #375 ends up being future work.  That said, it can be broken into separate opportunities:

(1) Lower-latency mode merged into an enhanced requestFullScreen() API.  This can be a separate featu

[2016-05-27 19:05] toddreifsteck opened #432 "Consider allowing document.write to be disallowed"
See https://github.com/WICG/interventions/issues/17 for details

[2016-05-27 23:00] travisleithead commented on #259
Wrote tests for all the DTD defs for XHTML docs in the spec: https://github.com/w3c/web-platform-tests/pull/3081

[2016-05-27 23:14] travisleithead commented on #259
Also tested (and commented out) the proposed syntax. The tests show that:
- Edge: tends to eat the entity references when parsed in XHTML ???
- Chrome: only seems to have trouble with `&AMP;` `&LT;` `&nvlt;` and the `-//W3C//DTD MathML 2.0//EN` string isn't recognized.
- Firefox: had trouble only with `&DotDot;` `&DownBreve;` `&tdot;` `&TripleDot;` and that was it!

Didn't test Safari.

Of course,

[2016-05-28 00:22] travisleithead commented on #64
Moving milestone to After 5.1 per discussion with the editors.

[2016-05-28 01:14] eligrey opened #434 "DOMParser question"
https://w3c.github.io/DOM-Parsing/#methods mentions the steps for `parseFromString`, and I'm having trouble understanding where it says to treat empty XML documents as invalid.

Why do Chrome, Firefox, and Edge all emit `<parsererror>`s when running the following code?

[code]

`document.implementation.createDocument("", "", null)`, which also creates an empty XML document, works just fine. This i

[2016-05-28 05:09] #434 closed, assigned to nobody

[2016-05-28 21:07] foolip commented on #335
There are all on [`GlobalEventHandlers`](https://html.spec.whatwg.org/multipage/webappapis.html#globaleventhandlers) instead of `HTMLMediaElement`, as is the case for other HTML elements as well.

EME does add an event fired on `HTMLMediaElement`, but I'm not sure what to suggest. Extending `GlobalEventHandlers` would be more consistent with the other events, so I guess that.

[2016-05-28 21:10] domenic commented on #335
The reason they're on GlobalEventHandlers is because events bubble, so you want to be able to allow `parentEl.oneventname = ...` to catch the bubbling event. So I guess if it bubbles it belongs there.

[2016-05-29 09:10] chaals commented on #199
Looking at rough results still, it seems that there are a set of basic focusable elements browsers list. Which seems pretty dumb, but browsers seem consistent - although I haven't yet tested edge/IE.

[2016-05-29 09:21] chaals commented on #199
Proposed for 5.1: Note that browsers **must** set the IDL attribute as 0 for elements that are focusable by default, and _should_ set it to 0 for elements that are focusable, and otherwise _should_ set it to -1

[2016-05-29 09:30] kojiishi commented on #288
@travisleithead

I believe Edge has never be affected, since this issue was caused by a spec change in early HTML5 and [discovered by implementing it in Gecko](https://bugzilla.mozilla.org/show_bug.cgi?id=1042885). Gecko/Blink/WebKit were affected because they followed the early spec.

The [minimal test case](http://software.hixie.ch/utilities/js/live-dom-viewer/?saved=3075) indicates that Edge is

[2016-05-29 11:00] chaals commented on #230
[basic test from english](http://chaals.github.io/testcases/button-translate-manual.html)
[Yandex.translate](http://translate.yandex.com) respects the `translate` attribute on `input type="submit"`.
[Bing translator](http://translate.bing.com) does not translate the value, regardless of the value of the `translate` attribute.
[Google translate](http://translate.google.com) translates the value reg

[2016-05-29 11:48] chaals commented on #330
[Another testcase](http://chaals.github.io/testcases/table-section-row-ordering.html) showing the same behaviour in Firefox/Safari/Yandex browser, with more combinations.

[2016-05-30 07:14] foolip commented on #330
There's an [interop problem with reordering in the API](https://www.w3.org/Bugs/Public/show_bug.cgi?id=29018) that I've looked at, so this caught my attention.

The original test case demonstrates that there's reordering in rendering, but I don't understand what https://github.com/w3c/html/pull/435 is fixing. AFAICT, the "forming a table" algorithm isn't where reordering happens or should happen,

[2016-05-30 12:05] chaals commented on #330
Yeah, it's obvious that the algorithm wasn't implemented. Given that it attempts to describe how tables are processed, it seems useful to have, if we make it match reality, and that's the purpose of #435.

I expect to rework the algorithm more for 5.2 - it's pretty convoluted, and I think there are some useful simplifications that would make it almost comprehensible and perhaps accurate as a descr

[2016-05-30 12:49] foolip commented on #330
But what is the reality you were attempting to match? If it's the fact that rows are reordered during rendering, then I don't think this algorithm really has anything to do with rendering, that's defined by CSS:
https://www.w3.org/TR/CSS2/tables.html#table-display

[2016-05-30 13:38] tidoust opened #437 "Add allow-presentation to iframe sandbox flags"
The Presentation API spec, developed by the Second Screen Working Group, needs to introduce an `allow-presentation` token to the set of tokens allowed in the `sandbox` attribute of an `iframe` element, in order to allow calls to the Presentation API from nested frames, provided the parent browsing context allows it.

The definition of this flag has been in the Presentation API spec for now:
http:/

[2016-05-30 13:43] chaals commented on #330
The bits of what browsers do when building a table that is consistent…

Which leaves the algorithm still looking vague because it is - it doesn't address the inconsistent reality of what happens when there are multiple `thead` or `tfoot` elements, but it does end up with something closer to what gets rendered.

The CSS rules don't seem to apply to that case either.

Although it is possible that I

[2016-05-30 13:50] chaals commented on #330
In the course of chasing this issue I updated the [test case](http://chaals.github.io/testcases/table-section-row-ordering.html) I was using so it shows a bit more. It's not entirely self-explanatory. Pull requests welcome.

[2016-05-30 13:59] chaals opened #438 "What to do with multiple thead / tfoot / caption"
[Browsers are inconsistent](http://chaals.github.io/testcases/table-section-row-ordering.html) in how they handle multiple `thead`, `tfoot` and `caption` elements.

I haven't checked what happens if you try to navigate through multiple pieces, but there seems to be a bunch of magic applied to forming rows for the table and rendering them.

The parts of the spec affected are at least [rendering](ht

[2016-05-30 14:11] chaals opened #439 "Relax the ordering of table content elements?"
[Browsers handle most table elements by semantics](http://chaals.github.io/testcases/table-section-row-ordering.html) regardless of where they appear in the table - unless you have multiple `thead`, `tfoot` or `caption` elements, as per #438. This matches the parsing section.

Relaxing the content model brings an issue of keyboard navigation. If we assume that `tfoot` elements will always be releg

[2016-05-30 15:23] #273 closed, assigned to plehegar

[2016-05-30 15:29] #330 closed, assigned to chaals

[2016-05-30 17:27] chaals commented on #432
This proposal needs further incubation, implementor acceptance, and a clearer specification. _For now_ I'm marking it closed.

Please provide the information requested in [intent to migrate](https://wicg.github.io/admin/intent-to-migrate.html) when reopening this issue.

[2016-05-30 17:27] #432 closed, assigned to nobody

[2016-05-31 09:49] chaals commented on #437
Do you have tests and implementation for this? Otherwise landing it in a couple of weeks, after we've branched the HTML 5.1 CR, sounds like a more likely approach. If you **do** already have interoperable implementation, feel free to prepare a PR any time today to reach the current milestone...

[2016-05-31 10:05] foolip commented on #330
Can you elaborate? Does "If a table contains multiple elements with 'display: table-footer-group', only the first is rendered as a footer; the others are treated as if they had 'display: table-row-group'." from https://www.w3.org/TR/CSS2/tables.html#table-display and similarly for headers not fully explain the reordering of `thead` and `tfoot` in rendering? I think it does, and am very keen to lea

[2016-05-31 10:23] foolip commented on #438
Per https://www.w3.org/TR/CSS2/tables.html it looks like Firefox is wrong about `caption`, filed https://bugzilla.mozilla.org/show_bug.cgi?id=1276885

Then there's https://www.w3.org/Bugs/Public/show_bug.cgi?id=29018 about the API.

Is there anything else that isn't interoperable here?

[2016-05-31 10:32] ZoeBijl commented on #43
Before it gets removed, where can we find a replacement for this feature?

[2016-05-31 11:12] chaals commented on #43
This is a main topic of discussion in the [current TAG thread](http://www.w3.org/mid/op.yh9rtjsbs7agh9@widsith.local) on this issue. While none of the participants there (except me) are members of Web Platform WG, I'm watching that thread.

[2016-05-31 11:55] tidoust commented on #437
OK, "now" was not meant to convey any sense or urgency, I did not know about the milestone. I suppose this can wait until after the CR branch. We don't have tests yet and implementations are still under development.

[2016-05-31 12:28] stevefaulkner commented on #43
+1 to remove,

[2016-05-31 12:34] r12a commented on #230
fwiw, there are some other tests related to (other) attributes here.  (I'll add tests for the submit type input element if this makes it into the standard.) https://www.w3.org/International/tests/repo/results/translation-services#attributes

[2016-05-31 12:54] ZoeBijl commented on #43
Thank you @chaals. I've talked this through with Léonie and will let people more knowledgeable on the subject decide on this.

[2016-05-31 15:54] arronei commented on #285
The useMap property/attribute is supported in all browsers. However actual implementation is poor and inconsistent. I recommend we move this to obsolete section.

[2016-05-31 16:33] hillbrad commented on #43
+1 to remove.  It is either not currently supported or slated for removal from all modern browsers, and the certificates that could be generated with the obsolete algorithm specified would not be trusted by all modern browsers.

If it needs a replacement and what to replace it with is a distinct issue.  We should not propagating this obsolete and unsupported feature into the next stable version of

[2016-05-31 17:12] chaals commented on #43
As far as I can tell from trying it `keygen` works in both Mozilla and Safari. (I believe it also works in presto-based Opera, which is actually in use, although that's only of historical interest).

[2016-05-31 17:48] chaals commented on #438
Those are the ones I've found. There are some other cases I'd like to test, but haven't got there yet.

[2016-05-31 17:54] plehegar commented on #416
@stevefaulkner feel free to reopen if you still have the loading issue.

[2016-05-31 17:54] #416 closed, assigned to plehegar

[2016-05-31 23:13] AmeliaBR opened #445 "In Rendering chapter, remove references to defunct BECSS spec & binding property"
The rendering chapter [defines the default appearance of HTML elements in terms of "bindings"](https://www.w3.org/TR/html51/rendering.html#bindings) to standard UI objects.  The `binding` property it uses was proposed in the aborted [Behavioral Extensions to CSS](https://www.w3.org/TR/becss/) spec, which is now just a note explaining why it was abandoned.

[2016-05-31 23:28] AmeliaBR commented on #445
(I was going to make a separate issue for this, but on second thought it is really the same problem...)

For the elements whose rendering is currently defined in terms of "bindings", the spec will need to clarify which default renderings authors can over-ride with CSS and which are essential.  For the rest of the chapter, this is indicated by `!important` CSS rules.  For elements described by bind

[2016-06-01 00:24] travisleithead commented on #372
Note: removal of requestAutoComplete() is in PR #446

[2016-06-01 00:29] travisleithead commented on #372
Tested support for the extended autocomplete feature set (the "autofill detail tokens").

https://jsfiddle.net/54mbLy9d/1/

Results:
- Edge and Chrome: the DOM API seems to **reflect** (unqualified) the content attribute. This makes it impossible to tell whether the implementation is processing these extra tokens. Edge doesn't, and my guess is that Chrome doesn't either.
- Firefox does implement t

[2016-06-01 00:30] travisleithead commented on #372
I agree with @LJWatson that these "autofill detail tokens" are at-risk from 5.1. Either that, or we can make the IDL attribute simply reflecting the content attribute, taking the test-ability out of the feature :(

[2016-06-01 00:34] travisleithead commented on #259
Per short IRC discussion, this does not appear to be a blocking issue for 5.1, so moving to 5.2.

[2016-06-01 00:56] travisleithead opened #447 "Switch example from Microdata to RDFa"
As noted in https://github.com/w3c/html/pull/442, this will addresses a lingering editorial issue.

[2016-06-01 01:01] travisleithead commented on #110
@stevefaulkner, is this issue fixed completely by #442, or are we missing more?

[2016-06-01 01:04] travisleithead commented on #377
Fixed by #443

[2016-06-01 01:04] #377 closed, assigned to LJWatson

[2016-06-01 01:05] travisleithead commented on #352
Fixed by #443

[2016-06-01 01:05] #352 closed, assigned to LJWatson

[2016-06-01 01:06] #40 closed, assigned to travisleithead

[2016-06-01 08:50] stevefaulkner commented on #110
@travisleithead , this issue is fixed

[2016-06-01 09:53] stevefaulkner commented on #33
@chaals

The outline algorithm  is backward compatible, so works fine with just h1 to h6

[2016-06-01 10:21] chaals commented on #33
Yeah, the comment was about implementations - is there any significant deployed legacy that somehow failed to implement the `h1`…`h6` model.

I don't know of any, and haven't heard of any - although I know there is a real use case for being able to go beyond 6 levels, which was what made me wonder…

[2016-06-01 12:05] chaals commented on #199
New proposal. Add an informative warning that _currently_ browsers do something basic, apparently working from a static list of elements. E.g. `<a name="foo" id="foo">nothing interactive here, can't tab to it</a>` gets an IDL `tabindex` of 0. But `<span onclick="handler" accesskey="d">` gets -1.

[2016-06-01 12:07] chaals commented on #230
So the technical question is
Should the `value` attribute and the browser default value for an `input type=submit` be translateable?

It seems the answer is yes, but behaviour is unclear...

[2016-06-01 12:09] chaals commented on #362
OK, but it is really helpful for anyone who isn't deep in the mechanics of bikeshed and our spec who wants to help make a PR. So please don't postpone it further

[2016-06-01 12:13] #258 closed, assigned to chaals

[2016-06-01 12:30] #311 closed, assigned to chaals

[2016-06-01 13:00] r12a commented on #230
Unless someone knows of a reason that this was omitted from the original list, i'd assume that the behaviour is unclear principally because the spec doesn't make it so, and no-one thought about it because it wasn't in the spec.

Fwiw, it seems logical to me that the value attribute should be translatable by default.

I'm not sure what it means to make the default value translatable.  How is that v

[2016-06-01 13:09] #251 closed, assigned to stevefaulkner

[2016-06-01 13:16] chaals commented on #230
The default value is produced by the browser itself, by magic. So how it behaves is probably not well defined - it is suggested that in the local language it provide something that makes sense, so "does it do something apparently logical given a translate attribute" is probably the test to apply.

We might want to raise this as a further issue, since this one just talks about the explicit content

[2016-06-01 13:46] #230 closed, assigned to chaals

[2016-06-01 15:39] arronei opened #452 "HTML 5.1 WD merges remaining"
- [x] https://github.com/whatwg/html/commit/8edcc5b97c54b0f007bb3552cd5a326e80dcbbde
- [x] https://github.com/whatwg/html/commit/efe130a0566a43067659c1d92bf712b151db0727
- [x] https://github.com/whatwg/html/commit/dc34d9fa6b766a9697d3bba55b90b14ff6a1c743
- [x] https://github.com/whatwg/html/commit/24b8c4f7fcd89596eaf5335d813a559bddbb65cd
- [x] https://github.com/whatwg/html/commit/c36f7384f1f617b1

[2016-06-01 17:43] #452 closed, assigned to travisleithead, arronei

[2016-06-01 21:36] #285 closed, assigned to arronei

[2016-06-01 21:43] ZoeBijl commented on #166
I have a first (plain text) draft for this, where should I post that?

[2016-06-01 21:44] plehegar commented on #399
A good chunk got addressed in 04c44434aadf7eb0eaad0b7de7fc79562975b412

[2016-06-01 21:47] chaals commented on #166
How does it compare to what browsers do? If you've got the pieces in place and its interoperable, you can make it into a pull request. If you're just thinking out loud, you probably want to post something here and refer to the Clipboard API or vice versa.

[2016-06-01 22:01] chaals commented on #380
I need to check while I am thinking carefully, but at first glance it looks like you are right.

[2016-06-01 22:32] chaals commented on #372
Safari 9.1 on MacOS X 101.10 gives all the expected values (nothing for the last two…). Not that I took the time to understand the test but I hope it tells you something useful.

[2016-06-01 22:34] chaals commented on #62
I think this is now all done except getting the acknowledgements. Closing

[2016-06-01 22:34] #62 closed, assigned to stevefaulkner

[2016-06-01 23:52] travisleithead commented on #212
tabatkins attribute proposal dies an ignominious death.

[2016-06-01 23:52] #212 closed, assigned to travisleithead, arronei

[2016-06-02 03:46] AmeliaBR opened #456 "Rendering range inputs as vertical: should there be normative text (& maybe attribute)?"
See [discussion provoked by Lea Verou's tweet on cool HTML features that aren't implemented](https://twitter.com/LeaVerou/status/737455298575761408).

In short: the rendering chapter [currently recommends that user agents switch to vertical sliders](https://www.w3.org/TR/html51/rendering.html#the-input-element-as-a-range-control) if the element dimensions are taller than they are wide.  No browser

[2016-06-02 05:40] travisleithead opened #457 "Move 4.7.2 Dependencies into the larger dependencies section"

[2016-06-02 10:24] ZoeBijl opened #459 "Wording in the heading elements description"
Emphasis mine. Source: [HTML 5.1 Spec - The h1, h2, h3, h4, h5, and h6 elements](http://w3c.github.io/html/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements)

Why is the `h1` element said to have the highest rank? Does it depend on something? Is it an unknown constant? A mythical element?

Propose to change and simplify to: <q>The `h1` element has the highest rank…</q>

[2016-06-02 10:35] ZoeBijl commented on #459
Fixed in [Pull Request 460](https://github.com/w3c/html/pull/460)

[2016-06-02 11:49] chaals commented on #109
There are still some vestiges of `label` as a reassociatable element that should be hunted out and fixed

[2016-06-02 12:30] chaals opened #461 "Drop in-band metadata handling of track?"
Is there any implementation of [tracks exposing in-band metadata](https://w3c.github.io/html/semantics-embedded-content.html#text-tracks-exposing-inband-metadata)?

[2016-06-02 12:42] chaals opened #462 "Is input type=datetime implemented?"
A quick test which I will clean up and put here suggests not in any of Edge, Safari, Firefox or Yandex.browser. Let's mark it at risk for HTML 5.1

[2016-06-02 17:47] tabatkins commented on #212
this is effing BULLS***

[2016-06-02 18:09] arronei commented on #212
@tabatkins you just want to have your own attribute named after you. But don't we all really want that.

I think we closed this because we couldn't think of all the rainbow and unicorn pieces of functionality that this needed to cover.

[2016-06-05 23:44] LeaVerou opened #470 "Default <details> heading should be localized"
In practice, UAs have implemented the default title of "Details", which does not seem to change depending on the specified language [[demo]](http://dabblet.com/gist/e0be732fbc828ebb5ea494edef1a5d4f). I think it should be explicitly mentioned that the default title should be localized.

[2016-06-06 00:44] chaals commented on #470
Makes a lot of sense to me. This is analogous to `<input type="submit">`.

On the other hand I have an alarm bel in my head about whether providing default content is really such a brilliant idea.

Also, the link you used is way out of date. I don't know who owns htmlwg.org, but the correct link is http://w3c.github.io/html/interactive-elements.html#the-details-element (similar content in regards

[2016-06-06 02:42] Wes1262 commented on #266
yes. exactly like `<a>`

[2016-06-06 03:18] jungshik commented on #462
Isn't yandex browser Chromium-based Then? ,if so,  it's odd that it's not working there.

[2016-06-06 06:08] r12a commented on #470
And we may need to clearly state that the language should be determined from the computed language of the element, rather than from the locale of the browser/system, etc.

[2016-06-06 17:45] #459 closed, assigned to nobody

[2016-06-06 17:48] #457 closed, assigned to travisleithead

[2016-06-06 17:49] #399 closed, assigned to travisleithead

[2016-06-06 18:49] #58 closed, assigned to travisleithead, arronei

[2016-06-06 19:20] travisleithead commented on #68
@stevefaulkner unless you feel strongly about this, I'm inclined to not fix this.
- This grouping of elements in the TOC is somewhat arbitrary--it is not tied directly to content model descriptions
- Fixing this would probably drag not just `<header>`, but also `<footer>`, `<address>` (where would this go?), `<h1>` - `<h6>` (and related section 4.3.10), and finally `<body>` (should that be listed

[2016-06-07 00:38] travisleithead commented on #378
Maybe related to: https://github.com/tabatkins/bikeshed/issues/356, but filed https://github.com/tabatkins/bikeshed/issues/723 directly...

[2016-06-07 00:40] travisleithead commented on #378
Checked, and found that an auto-linking anchor in a dfn generates an error because the auto-link part must also be defined elsewhere, and this causes two conflicting definitions 😢.

[2016-06-07 01:18] travisleithead commented on #428
My read: The [resource selection algorithm](http://w3c.github.io/html/semantics-embedded-content.html#resource-selection-algorithm), step 3 sets the flag to true, this can happen while the parser is active on the stack and the load event hasn't fired yet. For a `MediaSource` assignment, aside from an error, the [resource fetch algorithm](http://w3c.github.io/html/semantics-embedded-content.html#re

[2016-06-07 10:14] chaals commented on #462
Yes. Although it could well be my scratchy test, too. I'll clean it up today I hope.

[2016-06-07 13:10] chaals commented on #456
Is this semantics or presentation? If it's not semantic, and I suspect that is the case, then it seems to make more sense to leave it to CSS... As well as following the size allocated, it might make sense when they are inline to follow the writing direction…

That said, what are the non-standard attributes, and what browsers support them?

[2016-06-07 13:46] LeaVerou commented on #456
- Gecko: `orient="vertical"` attribute
- WebKit/Blink: `-webkit-appearance: slider-vertical;` CSS declaration
- IE/Edge: `writing-mode: bt-lr` CSS declaration

[2016-06-07 13:46] AmeliaBR commented on #456
Re semantics versus presentation

ARIA and the accessibility APIs seem to consider this important semantics. However, as far as I can think the only way it is semantically important is in determining which arrow keys increase versus decrease the value.  It seems (without careful testing) that browsers always allow up/down keys for increase/decrease (regardless of vertical vs horizontal) and map le

[2016-06-07 20:21] stevefaulkner commented on #68
@travisleithead, not a high priority.
suggest moving to 5.2.

**Note:** `footer` is actually a sectioning element, while `header` is not (it being the only one in the sectioning content section which is not sectioning content).

[2016-06-07 21:01] travisleithead commented on #368
As reviewed on the 7 June 2016 HTML Editors teleconference:
- [ ] https://github.com/whatwg/html/commit/4b4c941e58849da433a2e7706642db222476e536 - formalize character refs. Good to take.
- [ ] https://github.com/whatwg/html/commit/190b1efc010f70df4ad2208112408b7e11fa3946 - sync an algorithm
- [x] https://github.com/whatwg/html/commit/199cd153b15865366bae3170a26be2431e7e589b  already done
- [x] htt

[2016-06-08 03:11] mitchellevan commented on #212
tabatkins is synonymous with tabat. So tabat[kins]="[URI]" retrieves the sequential focus order from the specified network resource. Unlike tabindex values, the content retrieved from [URI] may contain HTML semantics.

@tabatkins; @chaals

[2016-06-08 11:07] foolip commented on #428
Right, "Once the`readyState` attribute reaches `HAVE_CURRENT_DATA`, after the `loadeddata` event has been fired, set the element's delaying-the-load-event flag to false. This stops delaying the load event."

There is nothing else that would set the flag to false earlier for MSE, so the question is when to do it, and if some engine already does? I think that in the resource fetch algorithm is where

[2016-06-08 17:44] aphillips opened #473 "Allow a page to request a given locale (was bug 16965)"
This issue was originally I18N-ISSUE-97 tracked [here](https://www.w3.org/Bugs/Public/show_bug.cgi?id=16965). I [reviewed](https://github.com/w3c/i18n-activity/issues/122) the text submitted there to address this issue and, in our most recent teleconference, I18N WG actioned me to re-forward this issue. To save clicking around, here is my comment from our github issue:
##

So the bugzilla bug was

[2016-06-08 17:45] aphillips commented on #473
(would you please add the label 'i18n' to this issue?)

[2016-06-08 18:01] aphillips opened #474 "datetime-local needs a health warning for floating to incremental time conversion (was I18N-ISSUE-89)"
The HTML5.0 [issue](https://www.w3.org/Bugs/Public/show_bug.cgi?id=16960) was originally closed when the type `datetime-local` was removed from the Spec. When that input type was revived recently, the resulting text does refer to floating time values. However, the original thread included an ask for a "health warning" related to the fact that the values in this type are implicitly converted to inc

[2016-06-08 18:15] aphillips commented on #261
The actual text of the note is misleading. It says:

What it means is: this pragma is very different from the processing described in (any edition of) the HTTP RFC. This is observably a fact. The processing described here rejects a `Content-Language` pragma that contains a list of languages (what we call a "Language Priority List") which is allowed by HTTP.

Since this feature is non-conforming, s

[2016-06-08 22:25] wolenetz opened #475 "Inconsistency in text around HTMLMediaElement.seekable"
So far, so good.
But then (**bold mine**) infinite end() appears in a non-normative note:

Should TimeRanges.start() and end() indeed by double, or should they instead be unrestricted double?
If just double, then what should seekable() report for a stream with infinite duration?

See also https://github.com/w3c/media-source/issues/5 that is attempting to provide MediaSource apps better control ove

[2016-06-08 22:26] wolenetz commented on #475
@foolip I just noticed HTML5 and HTML5.1 both have this inconsistency already internally. Please take a look.

[2016-06-08 22:28] wolenetz commented on #475
@jdsmith3000 fyi -- I don't think this particular inconsistency impacts our direction for fixing https://github.com/w3c/media-source/issues/5

[2016-06-09 11:51] stevenatkin opened #476 "Define or remove the use of the term Plain Unicode String"
5.7.2 The drag data store
http://www.w3.org/TR/html51/editing.html#the-drag-data-store

The drag data store introduces a new term called "Plain Unicode String". It is unclear if this type of string has a restricted set of characters. The spec seems to imply that this is simply text. If this term is equivalent to Unicode text or strings, then we should use either one of those terms rather than intr

[2016-06-12 00:29] Nick-Levinson opened #480 "wbr word breaks selectively need hyphenation"
The wbr element should support hyphenation in some contexts where used, but not everywhere. I propose adding an attribute, hyphen, with a value of yes or no, and allowing an implied value of yes if only the attribute is present. Thus, these would be equivalent and acceptable (assuming angle brackets instead of parentheses here): (wbr hyphen) and (wbr hyphen="yes"). A value of no would be equivalen

[2016-06-12 09:36] prlbr commented on #480
You can use the soft hyphen entities `&shy;` or `&#173;` or `&#xAD;` for a conditional hyphenated break.

[2016-06-12 10:12] ZoeBijl commented on #480
Why would this need to be a HTML attribute? It's already in CSS: [6.1. Hyphenation Control: the ‘hyphens’ property](http://www.w3.org/TR/css-text-3/#hyphens-property).

[2016-06-13 08:03] chaals commented on #302
Having looked carefully, it's not clear that there is anything more to do in the HTML spec, pending a significant re-think of this part of HTML. I'm going to close this for now.

[2016-06-13 08:03] #302 closed, assigned to chaals

[2016-06-13 08:43] chaals commented on #388
`EventSource` and `WebSocket` are not so much normative references, since they don't define anything that the HTML spec depends on, as specs with a dependency on HTML, e.g. being referenced in the unload algorithm as things to be cleaned up. But we don't have a smarter way of dealing with that for now and I suspect it would be OK to wait until 5.2 to get one.

`BroadcastChannel` is mentioned once,

[2016-06-13 08:43] chaals commented on #388
@adanilo can you have a look at this? My inclination is to shift the milestone to 5.2 somewhere…

[2016-06-13 09:13] chaals commented on #261
Agree with the proposed change, done in the PR.

[2016-06-13 12:10] chaals opened #483 "video/audio elements with controls set should be focusable by default"
This change is included in #482 - it is a set of recommendations for defaults, "modulo platform conventions", so does not actually determine conformance.

The following tests for [`audio`](http://butlerccwebdev.net/support/html5-video/audio-demo.html) and [`video`](http://shapeshed.com/examples/HTML5-video-element/) elements show that in multiple browsers this is already the case.

[2016-06-13 16:26] stevenatkin opened #485 "Remove the use of printable character from accessKey attribute."
5.5.2 The accessKey attribute
http://www.w3.org/TR/html51/editing.html#the-accesskey-attribute

The accessKey attribute is now defined to be a single Unicode code point with it being a single printable character. We are proposing a change to the restriction limiting the accessKey to a single Unicode code point. There are examples where a single key stroke could result in multiple code points. For

[2016-06-13 16:49] chaals commented on #485
Hi @stevenatkin,

Can you make a test case or two and say what _happens_ in real browsers? In my existing tests with russian characters that can be generated with a single key, and japanese characters that can't, they are both apparently accepted as an accesskey but there is no mechanism to activate the latter.

There is some `accesskey`stuff in incubation - it's an important feature but unfortuna

[2016-06-13 19:49] stevenatkin commented on #485
Let me see if I can put some tests together. I will try the Hindi example in a few browsers to see what happens.

[2016-06-14 01:10] Nick-Levinson commented on #480
I blew it. I think I missed the CSS option because it's only an editor's draft; but, at any rate, it works in Firefox and probably in other browsers. I'm using it now. Thanks.

[2016-06-14 01:10] #480 closed, assigned to nobody

[2016-06-14 05:25] andjc commented on #485
@stevenatkin @chaals With complex script input for languages like Hindi, there are multiple input strategies that have developed over time. It is quite feasible to create add an `accesskey` value that will work with one keyboard, but not another. Ie in Hindi ... a grapheme being output by a single key, or a consonant key automatically adding Virama.

Additionally certain input systems for some lar

[2016-06-14 06:10] ZoeBijl commented on #480
According to caniuse.com it's [supported in all but Blink based browsers](http://caniuse.com/#search=hyphens).

[2016-06-14 10:15] prlbr opened #487 "Example code should be in usual easily readable style"
http://w3c.github.io/html/sections.html#the-section-element has an example (example 7) with unusually set code:

[code]

I think it would be nicer to have it like this:

[code]

If the strange formatting has been caused accidentally by an automatic process, you might want to check if it occured in other places too.

[2016-06-14 12:02] r12a commented on #485
@chaals i think a fundamental question here is: why does the spec currently require a single character?  I didn't see any explanation for that restriction from a technical point of view. Sure, it may make sense from a usability point of view in most cases, but there are other aspects to usability choices in accelerator keys that are not incorporated in the spec.

[2016-06-14 12:43] chaals commented on #487
I'm pretty sure that it was deliberately written like that - there are various different coding styles used in examples.

I agree that it would make more sense to make examples use a simple style, more or less common - although I don't think we need to go for perfect uniformity.

We can discuss possible coding styles once in the spec.

I'm changing the title and will mark this with an "opportunist

[2016-06-14 12:49] chaals commented on #485
Because unfortunately in blink, webkit and gecko don't assign a shortcut at all unless there is exactly one character in the attribute value.

There is a [draft update for `accesskey`](https://github.com/chaals/accesskey) in incubation that is meant to provide a more generally helpful way to add shortcuts, including  **requesting** gestures, voice commands, and named keys or combinations ("request

[2016-06-14 23:03] stuartlangridge commented on #247
Removing a whole bunch of names as though they didn't contribute at all seems pretty likely to mildly annoy a bunch of people, including me :) If it's very important that the acknowledgements list be short for some reason, maybe have an explicit "contributions to this version" and a separate explicit "contributions to previous versions", or similar? The things that were contributed have, after all

[2016-06-14 23:08] yatil commented on #247
The reasoning makes somewhat sense. Let's make an explicit reference that this is acknowledgement section is for changes to this specific version and link back to the acknowledgement page of previous versions.

[2016-06-14 23:23] marcoscaceres commented on #247
You also changed the WHATWG license text, which is not ok. The license applies to the whole document, not arbitrary parts.

[2016-06-14 23:34] dstorey commented on #462
I'm almost 100% sure this is not implemented anywhere, only datetime-local. Check http://html5test.com/ in Chrome for example.

[2016-06-14 23:47] dstorey commented on #233
Content is FF only. Protocol is Gecko and Blink: http://html5test.com/compare/feature/offline-registerContentHandler/offline-registerProtocolHandler.html

[2016-06-14 23:51] chaals commented on #247
That's what I tried to do with #484, mentioning various kinds of earlier work. I didn't add actual links, but I'd be fine with having them.

Of course contributions don't go away. Nor did the contributions of many people who worked on earlier version of HTML, whether or not their efforts are reflected in the current spec. Many were never acknowledged in HTML 5, and going through two decades of wor

[2016-06-14 23:58] chaals commented on #247
This is not relevant to this issue - feel free to open one or comment on the relevant part of #484

As I understand the license it does not apply to the current document, but effectively applies to parts of it, that exist in another document to which the license applies. I may be wrong - what did I miss?

[2016-06-15 00:07] chaals commented on #462
Yeah, I got a couple of implementations for datetime-local but nothing for datetime… and still haven't cleaned up my scratchy test.

I don't have a working install of Chrome, but on Yandex 16-6 datetime is listed as not working there. @dstorey I presume you mean that it isn't working in Chrome either, but it would be helpful if you explicitly said so.

[2016-06-15 03:31] jasonkiss opened #488 "input type=search should have default ARIA role=searchbox"
The [searchbox role](http://w3c.github.io/aria/aria/aria.html#searchbox) is ARIA 1.1, but the appropriate default role for [input type=search](http://w3c.github.io/html/sec-forms.html#text-typetext-state-and-search-state-typesearch), and should be an allowed role for input type=text.

[2016-06-15 05:50] stevefaulkner commented on #247
As the names aspect is an editorial change that is controversial and does not improve HTML for implementers or users can we please revert it for now, until we have agreement on how it should be done.

[2016-06-15 06:11] adanilo commented on #388
The reference to [EVENTSOURCE] points at a red warning notice that directs folks to the WHATWG living standard rather than the existing REC at https://www.w3.org/TR/eventsource/ so that needs to be cleaned up at least.

[2016-06-15 07:51] chaals commented on #247
@stevefaulkner @brucelawson there's nothing to revert…

[2016-06-15 15:00] LJWatson commented on #247
@Spaxe
"Maybe you should also remove Tim Berners-Lee..."

Perhaps you were trying to inject some humour into a difficult thread, perhaps not. Either way, it will help everyone if comments can be kept constructive. thanks.

[2016-06-15 15:16] chaals commented on #475
@wolonetz do you propose unrestricted double, or am I misunderstanding? Is there actual implementation yet?

[2016-06-15 15:28] Spaxe commented on #247
@LJWatson My comment was, I hope, clearly satire. Noted. I'll delete it.

[2016-06-15 15:34] LJWatson commented on #247
@Spaxe thanks.

[2016-06-15 15:54] prlbr opened #489 "Improve the note on characters that need to be escaped in iframes' srcdoc"
A note in https://w3c.github.io/html/semantics-embedded-content.html#the-iframe-element reads

It's important to escape the ampersands first and the quotation marks second, so that `"`, when used to delimit attribute values, will be changed to e.g. `&quot;` and not `&amp;quot;`. Can the note be made clearer in this respect?

I'd at least change the order in which the characters are named from

to

[2016-06-15 16:01] #414 closed, assigned to chaals

[2016-06-15 16:02] #261 closed, assigned to chaals

[2016-06-15 17:16] chaals commented on #3
@MichielBijl is there still something to do here?

[2016-06-15 17:17] #110 closed, assigned to stevefaulkner

[2016-06-15 17:31] chaals commented on #365
WHATWG-specific aministrivia:
- https://github.com/whatwg/html/commit/4b4c941e58849da433a2e7706642db222476e536 -

[2016-06-15 17:44] chaals opened #492 "Should <img ismap> coordinates start on the border or the image?"
The current specification says

in step 3.1 for activation steps for an image as a hyperlink, in the definition of [the `a` element](https://w3c.github.io/html/textlevel-semantics.html#elementdef-a).

This was done for compatibility, but now apparently Blink and Gecko measure from the image itself, while webkit and Edge follow the existing spec.

WHATWG [changed the origin to be on the image alway

[2016-06-15 17:56] ZoeBijl commented on #3
Sorry, I can't find the original e-mail. I'll add when I can find it. Close for now.

[2016-06-15 17:56] #3 closed, assigned to ZoeBijl

[2016-06-15 18:01] chaals opened #493 "Remove event parent and cross-boundary event parent?"
These are listed as being defined by DOM, and appear in the index as a reference to that dependency, but otherwise don't appear to do anything. They were part of `<iframe seamless>` which was already removed, so this looks like finishing editorial cleanup.

[2016-06-15 18:04] chaals commented on #369
Note [don't send a referrer with cross-origin ping](https://github.com/whatwg/html/commit/faec3a50ea181f322ab9819975e285ced34a0308)

[2016-06-15 18:24] wolenetz commented on #475
Chrome implements with double in TimeRanges IDL, though internally it looks like at least non-MSE src= media playback might populate an infinite end time. Edge IIRC implements with unrestricted double in at least one MSE case. @foolip I recall you had some thoughts about this previously. Can you clarify please what the spec should say about this?

[2016-06-15 20:18] dstorey commented on #462
Yes, I meant it isn't supported anywhere.

[2016-06-15 20:21] dstorey commented on #470
Same for Summary in HTML AAM, 5.7.1 step 4 https://w3c.github.io/aria/html-aam/html-aam.html#summary-element

[2016-06-16 10:11] chaals commented on #369
And [don't send ping for non-http URLS](https://github.com/whatwg/html/commit/b66ec320db01c12d48176052c3b9cd55a10f3176)

[2016-06-16 10:26] chaals commented on #365
Editing:
- https://github.com/whatwg/html/commit/8f144e8df1feb00b19070415486b09a70ab41442
- https://github.com/whatwg/html/commit/a5f708cf5cbb909345a0da695fb86b2a6cd9d3a0

[2016-06-16 10:29] chaals commented on #368
Integrating Custom Elements into the spec has been split out to #569

[2016-06-16 10:33] chaals commented on #368
Integrating Shadow DOM
- [ ] https://github.com/whatwg/html/commit/3c157377135d05fbdd74f8c69199b47408bc6a9a add `<slot>` element
- [ ] https://github.com/whatwg/html/commit/4cf3a825211a69791a2cdbd472ce13e7addb98fe make image maps work in shadow trees
- [ ] https://github.com/whatwg/html/commit/89d97c82e498492351682ea2a4e4dbf87f583f2f make style work in shadow trees
- [ ] https://github.com/whatwg/

[2016-06-16 10:47] chaals commented on #369
As well as `a.ping` [`area.ping` is DOMTokenList](https://github.com/whatwg/html/commit/da9e4cb7142277d609e6636a56a282f5aba15e5c)

[2016-06-16 17:28] wwwwhiterabbit opened #495 "input type=emoji"
For example, Slack and GitHub emoji reactions can be implemented with this type of input.

Forces emoji keyboard on mobile devices.

![](https://cloud.githubusercontent.com/assets/10136844/16127542/60522096-3416-11e6-852f-539aec89ca4c.png)

Shows emoji popup on desktop.

![](https://cloud.githubusercontent.com/assets/10136844/16126704/bea762a4-3412-11e6-84cc-4e24c640de5c.png)

![2016-06-16 23 20 4

[2016-06-16 17:52] chaals commented on #495
Making this a value for input's `type` attribute seems the wrong approach. There's no obvious way in the proposal to determine whether it provides unicode code points or ascii psuedo-codes, and having it as a `type` wouldn't readily allow mixing emoji with other content.

It might work a lot better as a value for [`inputmode`](https://w3c.github.io/html/sec-forms.html#input-modalities-the-inputmod

[2016-06-16 22:10] Alohci opened #498 "Clarify contexts in which a figcaption can be used"
For the figcaption element in the current HTML 5.1 draft it says:

Elsewhere though the content model of other elements only permits a figcaption as a child of a figure element, and the semantics of figcaption say that

So I think that either the contexts in which the figcaption element can be used to say

"As a **child** of a figure element."

or examples need to give explaining when it is approp

[2016-06-16 22:27] dstorey commented on #274
@stevefaulkner We're using button with menu attribute in our CSS library for the Edge dev site, with a polyfill we're writing, because we need such functionality in a bunch of our pages, and it was nicer than writing a bunch of tag soup. Select wasn't good enough as we needed the current button text to stay visible when selected, multi-select without changing to a different type of control, etc. F

[2016-06-16 22:54] chaals commented on #498
This looks like some cleanup required after fixing #177 which relaxed the restriction on where `figcaption` could appear.

Thanks for picking it up.

[2016-06-17 04:10] wwwwhiterabbit commented on #495
It should also have attribute with list of allowed or forbidden emojis.

[2016-06-17 04:17] adanilo commented on #492
The issue https://github.com/whatwg/html/issues/438 lacks any context about why, just noting the different behaviors, and a comment about clamping to 0 as well. Would love to hear thoughts from others.

[2016-06-17 05:20] ZoeBijl commented on #495
I'm not sure how this works, but could the [`pattern`](http://w3c.github.io/html/sec-forms.html#element-attrdef-input-pattern) attribute be used for that? Maybe give in unicode ranges?

[2016-06-17 06:40] chaals commented on #492
Including the border seems to mean that if there happens to be a large border _expected_, whatever calculates the position on the map has to account for that. And if for some reason - user style sheet, CSS didn't load, … - that border isn't applied, the result would be wrong.

As far as I know use of `ismap` is pretty rare these days. But the new Blink/Gecko behaviour does make more sense to me. I

[2016-06-17 10:08] LJWatson commented on #495
@vladimirsazhin
This is an interesting idea. It would be good to get a sense of whether it is workable in the browser, and whether there is browser interest in implementing it.

As @Chaals mentioned, the best way to do this is to propose your idea in the Web Incubator CG. You can just post something to the <a href="https://discourse.wicg.io/">WICG Discourse forum</a>.

Pinging a heads up to @yoavw

[2016-06-17 22:06] travisleithead opened #500 "Add note about keyboard and Accessibility API"
Specifically, Enter key is the canonical keyboard way to do this, and Accessibility API can also trigger the activation behavior.

[2016-06-17 22:06] travisleithead commented on #500
May want to check which elements also respond to Space key (cross browser). (Check on Mac also)

[2016-06-17 23:45] chaals commented on #43
As [resolved by the working group](https://lists.w3.org/Archives/Public/public-html/2016Jun/0001.html) this is at risk for HTML 5.1 and we will (at least provisionally) remove it from HTML 5.2

[2016-06-17 23:57] chaals commented on #362
We could still improve this, but I think we're most of the way there. The big thing missing is describing how to find out what magic names bikeshed knows, and how to add to them, but that is documented on the interwebs…

[2016-06-17 23:57] #362 closed, assigned to arronei

[2016-06-17 23:57] chaals commented on #363
For 5.1 this is done. For 5.2 let's open a new issue…

[2016-06-17 23:57] #363 closed, assigned to arronei

[2016-06-18 00:43] chaals commented on #500
Which is where we fall down the slope.

Things with a _single_ activation behaviour are reasonably straightforward. Beasties like date pickers or audio players aren't :(

[2016-06-18 00:47] chaals commented on #500
As Travis said, "enter" is the simple case. We need tests for all the other things.

`<button>` generally responds to space. And the ARIA WG people who are working on [ARIA implementation guide](https://www.w3.org/TR/wai-aria-practices/) have a bunch of information already, so ask them.

[2016-06-18 00:51] chaals opened #502 "are menu / menuitem / contextmenu interoperably implemented?"
Are these things implemented sufficiently to keep them in HTML 5.1?

[2016-06-19 22:03] chaals commented on #343
Hopefully #503 closes this. If so, should be cherry-picked into the master branch so it doesn't only happen for HTML 5.1

[2016-06-19 23:52] aphillips commented on #343
For WG reference, I put a lengthy comment on [#503](https://github.com/w3c/html/pull/503) related to the text in that pull request and some of which is related to this item.

[2016-06-20 05:16] adanilo commented on #370
This was fixed by either Travis or Arron

[2016-06-20 05:16] #370 closed, assigned to adanilo

[2016-06-20 07:02] adanilo commented on #388
Fixed the reference for EVENTSOURCE in PR#504. We can deal with WebSocket in 5.2. As for BroadcastChannel, it's defined in https://html.spec.whatwg.org/multipage/comms.html#broadcasting-to-other-browsing-contexts but has only 1 implementation in Firefox, where MDN describes it as 'experimental'. There's a Blink 'intent to implement' which dates back a couple of years, with little visible developme

[2016-06-20 11:18] SebastianZ commented on #502
I've tested this myself in Firefox 47.0, Chrome 51.0, Opera 38.0, Internet Explorer 11 and Edge 25.

Firefox is currently the only browser that supports them by default. Chrome and Opera have an implementation behind the _Experimental Web Platform features_ flag.
All three implementations only allow to define context menus for elements. Button menus and toolbars are not supported.

[caniuse.com ha

[2016-06-22 10:29] rmprint-ph opened #505 "master"

[2016-06-22 23:38] superpilou opened #506 "E-mail address"
Why not help users to end their action when they click on an e-mail address ?
(if no e-mail software is defined on client system, a click on e-mail address has no purpose)

[2016-06-23 09:20] chaals commented on #506
`registerProtocolHandler()` is meant to make this possible. I agree that we could explain that better in the spec - if you have concrete suggestions, they would be welcome.

For now I will mark this as editorial, because I am assuming that the appropriate solution is explanatory text, rather than some new feature.

[2016-06-23 10:00] #505 closed, assigned to nobody

[2016-06-23 14:21] cwilso commented on #258
Note that Longdesc on img was NOT marked as obsolete anymore - a commit was done (with no issue) to that effect:  https://github.com/w3c/html/commit/4aeba8660c000c50af3ee35a93835fa4b65a1216, prior to this issue being filed.  However, this change seems to belie the whole point of having modular specs, by putting the image attribute back into the core specification.  Given the politics of this parti

[2016-06-23 14:23] cwilso opened #507 "Longdesc shouldn't be described in text - ignores modularization"
This is actually a re-open/refutation of #258 , but I can't re-open that apparently.  The below comment is replicated there.

Note that Longdesc on img was NOT marked as obsolete anymore - a commit was done (with no issue) to that effect: 4aeba86, prior to this issue being filed. However, this change seems to belie the whole point of having modular specs, by putting the image attribute back into t

[2016-06-23 14:34] dwsinger commented on #507
I agree, and am also greatly disturbed that such a sensitive topic (longdesc), which has had an FO/Director-Decision on it, no less, was made without a call-for-consensus, any email, any contact with the wider community, any new evidence, and even almost no debate in the issue itself. Perhaps the peace was fragile, but this is startlingly bad.

[2016-06-23 14:35] tantek commented on #507
Agreed with @cwilso except for:

"until such point as we can establish a better pattern of modular pieces being incorporated".

The notion of incorporating modules into a monolithic spec I believe is a leftover from Robin's "5.1 plan" etc. proposals before the WPWG charter happened.

At this point, per the charter, we should be encouraging more modularization, not less, and if there is any monolit

[2016-06-23 14:45] cwilso commented on #507
@tantek : I meant "when there's a stronger pattern of modularization, I could see having informative sections that show how some modules work together".  That certainly didn't come out in what I said, we're on the same page here.

[2016-06-23 14:59] LJWatson commented on #507
Thanks @cwilso @tantek and @dsinger for your comments.

I think (hope) it may be a simple difference of understanding, and that we can find an agreeable path forward.

The Image Description spec is a module of HTML5. It is a Recommendation that exists in its own document - which is my understanding of the way we want modularisation to work.

We linked to the ID spec from HTML core on the basis tha

[2016-06-23 15:08] dwsinger commented on #507
Leonie, the previous uneasy compromise was that longdesc would not be in the main HTML spec. but an extension, and our request was that the extension be marked as historic/obsolete. The latter was denied in a FO decision (that was poorly handled), but we nonetheless settled into an uneasy peace, where the objectors could live with it. This move shatters the peace. Why?

[2016-06-23 15:46] johnfoliot commented on #507
I'm sorry David, but I must disagree. I will again quote from Plan 2014 (https://dev.w3.org/html5/decision-policy/html5-2014-plan.html):

Extension specifications are first-class citizens

Some believe that extension specifications are second-class citizens, or somehow “lesser” than the core HTML5 specification. On the contrary, the specifications in the list above are vibrant, active pieces of th

[2016-06-23 15:52] dwsinger commented on #507
John, I write of a decision "made without a call-for-consensus, any email, any contact with the wider community, any new evidence, and even almost no debate in the issue itself". And your reply is "EXTENSIONS SPECS ARE FIRST CLASS CITIZENS". Can you spell non-sequitur?

[2016-06-23 16:06] LJWatson commented on #507
@dsinger @johnfoliot

I think the misunderstanding stems from the interpretation of the phrase "roll back in" from Plan 2014. We took the phrase to mean moving something bodily into HTML core. When we linked from HTML core to the Image Description spec, it therefore didn't seem to constitute being rolled back in. It was a decision based on the practicalities of how we link to *any module from HTML

[2016-06-23 16:15] tantek commented on #507
Re: modularization and "Plan 2014", I (and others I've spoken with) believed "Plan 2014" to be an obsolete non-normative non-AC-approved document written by someone that has long left the HTML / WP WGs, that was wholly superseded by the AC Approved WPWG charter in 2015: https://www.w3.org/2015/10/webplatform-charter.html and in particular this piece:

<blockquote>The Web Platform Working Group sho

[2016-06-23 16:23] LJWatson commented on #507
Thanks @tantek
Now we have four editors working on HTML, we're in a position to ask one of them to look at the first steps we might be able to take in modularising the spec. We had hoped to do this before, but it took us longer than we had hoped to find all our editors.

All things being equal we hope to have something useful to report/propose to the WG at TPAC. If you and/or Mozilla have any cand

[2016-06-23 16:45] johnfoliot commented on #507
David, with respect, you also wrote: "the previous uneasy compromise was that longdesc would not be in the main HTML spec. but an extension" - which I can only interpret as you saying that somehow @longdesc isn't part of HTML5.0. I disagree, and I point to Plan 2014 as for why.

The 'compromise' - the one that _I_ made when I withdrew my Formal Objection to get HTML5.0 out the door via Plan 2014 -

[2016-06-23 17:33] johnfoliot commented on #507
Tantek, additionally, asked:https://lists.w3.org/Archives/Public/public-html/2012Oct/0026.html, and answered: https://lists.w3.org/Archives/Public/public-html/2012Oct/0105.html

[2016-06-24 07:14] dwsinger commented on #507
John, there was a compromise, and it's been broken, and in a surreptitious way. That you cannot see that in itself speaks volumes. That you still cannot see that fictional specifications are simply bad ideas astounds me.

[2016-06-24 09:03] ghost commented on #507
Please remove me from your GITHUB group.

I have nothing to do with your project and have no idea why and or how you
included me

regards,

David Singer

On Fri, Jun 24, 2016 at 5:14 PM, David Singer notifications@github.com
wrote:

##

_David Singer_
_Managing Director_
- | United Cellars AUS/NZ*

_D_
​​
+61 ​2 8915 5303   _M_
-  +61 410 604 095*
  *A   *Level 2, 100 William St, Woolloomooloo NSW

[2016-06-24 09:36] ZoeBijl commented on #507
Dear dsinger, you can leave on [the teams page](https://github.com/orgs/w3c/teams). Sorry for the inconvenience.

[2016-06-25 09:07] chaals commented on #170
OK, seems we have a bunch of thinking on this. Reopening as the meta, we need to figure out at least
- [ ] [Sub-Resource Integrity](https://www.w3.org/TR/SRI/)
- [x] longdesc (unless we change again)
- [ ] [RDFa](https://www.w3.org/TR/rdfa-core/#rdfa-attributes)
- [ ] [media capture](https://www.w3.org/TR/html-media-capture/)

Things in the pipeline include
- [ ] microdata
- [x] CSP
- [ ] Custom E

[2016-06-26 16:50] aphillips commented on #341
The I18N WG discussed this in our most recent [teleconference](https://www.w3.org/2016/06/23-i18n-minutes.html) and [actioned](https://www.w3.org/International/track/actions/535) me with adding a comment here.

I18N understands the need for existing HTML documents to remain conformant. However, we oppose extending the list of keywords in favor of the CSS mechanism for the reasons cited by @r12a an

[2016-06-27 16:56] travisleithead commented on #434
FYI: you can file future bugs on the DOMParser spec, if they are relevant: http://github.com/w3c/DOM-Parsing/issues/new

[2016-06-27 19:46] travisleithead commented on #495
This is already in the incubation process--it's a bit early IMO to integrate this into HTML.

https://discourse.wicg.io/t/invoke-emoji-input/1030

[2016-06-28 00:25] tantek commented on #507
@johnfoliot all citations you provided predate the WPWG charter and AC approval thereof, which as I said in my comment https://github.com/w3c/html/issues/507#issuecomment-228102278, supersedes any/all such informal "Plan NNNN" discussions/documents.

Note also that those "Plan NNNN" references were all discussions in a, from a process perspective, different WG.

The HTMLWG is no more (except for i

[2016-06-28 22:06] MorganEPatch commented on #92
I agree with this suggestion, to allow `readonly` for checkboxes and radio buttons. @LJWatson provides a great use case: prevent the user from editing a field, for example if they're reviewing a form before submitting it, or in the case of an "if this, then force that" scenario, or if a user doesn't have permission to edit the value (obviously also performing server-side validation of the data as

[2016-06-29 14:43] unor commented on #68
How do you mean that, @stevefaulkner? [The spec notes](http://w3c.github.io/html/sections.html#the-footer-element)

and its categories are "Flow content. Palpable content.", not "Sectioning content.".

[2016-06-29 14:53] stevefaulkner commented on #68
@unor
you are correct, don't know how i got that in my head :-(

[2016-06-29 23:50] woowaEcho opened #513 "Examples on 4.3. Sections - the article element Example 4.2"
I think Example of Section 4.3 is wrong HTML,
Here is an example
##

[code]
##

I Think this will be change like this :

---

[code]
##

Thanks.

[2016-07-01 11:22] LJWatson commented on #170
Setting aside (for the moment) the goal to separate out more content from HTML core into modules, these are the requirements I think we have in terms of managing the relationship between HTML core and its modules:
1. Maintain HTML core plus n- modules.
2. Make it easy to look up all available modules.
3. Make it easy to discover relevant modules.

To meet #1 and #2, I propose we do one of the foll

[2016-07-01 13:04] prlbr commented on #513
The difference is in the last line (`</article>` vs. `</section>`). It seems to have been fixed in the [current editor’s draft for HTML 5.2](https://w3c.github.io/html/sections.html#the-article-element) but is still wrong in the [HTML 5.1 candidate recommendation](https://www.w3.org/TR/html51/sections.html#the-article-element).

[2016-07-01 15:07] chaals commented on #170
I suggest we do 3, with number 2 as the priority - and we just copy that into the home page whenever we update the spec.

I think technically what we need to collect are "specifications that extend the HTML spec" - some of which are maintained in other groups.

[2016-07-01 15:20] dwsinger commented on #170
I'm not sure.  I think having a living directory of modules, CSS Style, may well be fine. The core CSS parsing and structure modules do not contain statements of the form "and CSS smells and bells may be used in CSS". Generally, upper layers refer to lower ones, not the other way around "parsing of elements in CSS smells and bells is standard CSS parsing as defined in CSS core syntax 45.3".

Howev

[2016-07-01 17:28] arschmitz commented on #170
I agree number 3 done this way seems the best both for maintainability and making it easy for people reading the specs.

[2016-07-04 08:50] stevefaulkner opened #514 "html acknowledgements"
place to add names that are to be added to acknowledgements. Please add names as comments on this issue and I will ensure they get added to acks in html

[2016-07-04 09:23] #43 closed, assigned to arronei

[2016-07-05 14:03] chaals opened #515 "Publish First Public Working Draft for HTML 5.2?"
This is (part of) a Call for Consensus, on the proposition:
Publish the [current editors draft of HTML 5.2](https://w3c.github.io/html/) as a W3C First Public Working Draft.

This is one possible approach to testing consensus in the group. Feel free to add a thumbs-up here, before 14 July 2016 as a response, or add a comment - especially if you object to the publication.

[2016-07-05 20:46] stevefaulkner commented on #502
so looks like we have 2 implementations of context menu in browser engines gecko (firefox) and blink (chrome,opera) with blink behind a flag.

[2016-07-05 20:51] travisleithead commented on #368
As reviewed on the 5 July 2016 HTML Editors teleconference:
- [ ] https://github.com/whatwg/html/commit/9b4394f9a03d6910b772f17252259d99f208ce73 - glossary and linking
- [ ] https://github.com/whatwg/html/commit/177b8a506931a51ecaeae71d4518431ee01ce783 - editorial: DOMStringmap doesn't apply to microdata
- [ ] https://github.com/whatwg/html/commit/00dcb3cf4002c67099bfee22ddad743f04d4541f - editori

[2016-07-05 20:56] travisleithead commented on #368
Integrating Screen Orientation
- [ ] https://github.com/whatwg/html/commit/8f0f73c1b061a8ccee57c6878d8474b43c73aaeb - allow-orientation-lock

Integrating Presentation API
- [ ] https://github.com/whatwg/html/commit/0678e3de01a3ef83c5f6f0c017e7464ede1d8ec1

[2016-07-05 20:59] travisleithead commented on #365
Shared Workers
- https://github.com/whatwg/html/commit/18c891f1a300a336d3df5b76fdae3b1d77b0b468

[2016-07-07 23:01] ExplodingCabbage opened #516 "<style> entry in index of elements has not been updated to reflect removal of `scoped` attribute"
This is an exact duplicate of an bug I just reported over on WhatWG's spec; details at https://github.com/whatwg/html/issues/1521.

Will push a PR to fix it as soon as I've read the contributing guidelines.

[2016-07-10 15:13] Coder206 commented on #487
Could I work on this one?

[2016-07-10 15:19] stevefaulkner commented on #487
@Coder206 sure, PR's welcome

[2016-07-13 03:44] jasonkiss opened #519 "Sectioning content also defines scope for header elements"
[Current spec](http://w3c.github.io/html/dom.html#kinds-of-content-sectioning-content) reads:

But sectioning content also defines scope for `header` elements, so that sentence should read something:

Note need to correct "&lt;footers&gt;" typo: The tag is &lt;footer&gt;.

See related issue #68.

[2016-07-13 04:11] jasonkiss opened #520 "Expressly allow <header> and <footer> to be scoped to <main> and not be landmarks"
See discussion at [ARIA issue #277](https://github.com/w3c/aria/issues/277).

The TL;DR from that discussion:
- `header` or `footer` in a `main` element, but not otherwise descendant of a sectioning element, should not be scoped to the `body` element and should not be an implicit ARIA landmark.
- `header` is recommended as a [grouping mechanism for headings, subheadings, and taglines](http://w3c.g

[2016-07-13 21:49] unor commented on #519
It also defines the scope for the `bookmark` link type, and in case of `article`, for the `address` element and the `author` link type.

[2016-07-13 21:59] unor opened #521 "Example for 'valid time string' that shows that hours must consist of two digits"
The example for a valid time string value ([`time` element](https://w3c.github.io/html/textlevel-semantics.html#the-time-element)) is:

An author that wants to mark up e.g. 09:42 would not necessarily know that it’s supposed to be `09:42` instead of `9:42`. The author would have to visit (and understand) the [definition of _valid time string_](https://w3c.github.io/html/infrastructure.html#valid-t

[2016-07-15 08:12] mikewest opened #522 "Port the `WindowOrWorkerGlobalScope` mixin."
https://html.spec.whatwg.org/#windoworworkerglobalscope-mixin does not exist in W3C's HTML. It would be nice if it did.

[2016-07-15 10:09] mikewest opened #523 "Port `noopener`."
The `noopener` link relation is part of Secure Context's requirements, implemented by Chrome and Firefox, and @plehegar partially ported it (accidentally?) into HTML as part of 61663e26e27a63e0779d75f2a697da92afe518a6. It would be lovely to actually port it over in toto.

[2016-07-15 10:15] mikewest commented on #523
Hrm. I was wrong about the commit. It was apparently part of the "Import" in a023b06e45851e5053e59376da19cd76a6cb7800. If that's the case, I'm very confused about where most of the definition actually went. :/

[2016-07-15 11:12] chaals commented on #523
Hi Mike,

this is related to #170 and it seems _a priori_ that we should integrate the link type, and refer to Secure Context for a definition.

In that context it would be helpful if you could let us know of other specs that extend HTML, so we can at least try to have the right set of pointers…

[2016-07-15 11:13] chaals commented on #523
(In this case it seems we also have interop, so it's a pretty good candidate for an early draft of HTML 5.2)

[2016-07-15 11:24] mikewest commented on #523
I'm not sure this is something that can be well-addressed via modularity. Secure Contexts does not define the behavior of the `noopener` link relation: instead, Secure Contexts relies on the behavior that `noopener` offers in order to explain its behavior in certain classes of navigation, see https://w3c.github.io/webappsec-secure-contexts/#example-30335756 for instance.

`noopener`'s behavior is

[2016-07-15 12:59] mikewest opened #524 "Port "creator context security" (once it's defined)."
https://github.com/whatwg/html/pull/1561 defines a new "creator context security" concept, which replaces the "creator `Document`" concept that Secure Contexts relied on back when it existed. It apparently doesn't exist anymore, so.... w3c/webappsec-secure-contexts#37 :)

It would be lovely if y'all would port this change over, assuming that your friends and mine at WHATWG accept it.

[2016-07-15 17:28] LJWatson commented on #515
This CFC is now closed, per the <a href="https://lists.w3.org/Archives/Public/public-webapps/2016JulSep/0015.html">message posted to the WPWG</a>. The CFC passed with positive support and no objections.

[2016-07-15 17:30] #515 closed, assigned to nobody

[2016-07-18 05:37] adanilo commented on #233
Confirmed, registerContentHandler has only one implementation, should move to incubation. We have 2 for registerProtocolHandler that appear to work.

[2016-07-18 09:35] mikewest commented on #524
https://github.com/whatwg/html/pull/1561 landed, FYI.

[2016-07-18 16:30] LJWatson commented on #502
@stevefaulkner asked (offline):
"only context menu/menuitem is implemented in 2 browser engines and is behind flag in one, are we counting features behind flags as acceptable?"

Behind the flag is ok. Do you have tests you can point to?

[2016-07-18 16:50] chaals commented on #233
fixed by #526

[2016-07-18 16:50] #233 closed, assigned to adanilo

[2016-07-18 19:17] stevefaulkner commented on #502
I have removed references to type=toolbar as its not implemented, leaving the type=contextmenu intact https://github.com/w3c/html/pull/529

[2016-07-18 19:48] stevefaulkner commented on #502
@LJWatson  tests used:
- https://thepaciellogroup.github.io/AT-browser-tests/test-files/menu-context.html
- https://thepaciellogroup.github.io/AT-browser-tests/test-files/menuitem.html
- https://thepaciellogroup.github.io/AT-browser-tests/test-files/menu-toolbar.html

[2016-07-18 22:42] #502 closed, assigned to stevefaulkner

[2016-07-18 22:44] LJWatson commented on #264
Closed per #529

[2016-07-18 22:44] #264 closed, assigned to stevefaulkner

[2016-07-19 00:24] travisleithead commented on #462
OK, removing datetime (at-risk) feature from the html5.1 branch in PR#530

[2016-07-19 02:09] woowaEcho commented on #513
Thanks Martin!
This issue are close.

[2016-07-19 02:09] #513 closed, assigned to nobody

[2016-07-19 12:48] LJWatson commented on #376
Closed with #533

[2016-07-19 12:48] #376 closed, assigned to travisleithead

[2016-07-19 12:50] LJWatson commented on #462
Closed with #530

[2016-07-19 12:50] #462 closed, assigned to travisleithead

[2016-07-20 16:50] chaals commented on #109
whatwg/html#787 took this up, and made forms non-reassociatable. (They also removed the concept, since everything in that class is also in their "listed" class of elements, but that's editorial).

In fact label _can_ be associated with a different form, but it doesn't have any practical impact. It doesn't change what gets submitted, or how the control behaves in any ther discoverable way, includin

[2016-07-20 18:35] travisleithead opened #535 "Upgrade click, dblclick, and contextmenu events to be PointerEvent"
See discussion: https://github.com/w3c/pointerevents/issues/100#issuecomment-232396438

[2016-07-20 18:36] travisleithead commented on #535
This seems like a good idea, and seems to have some consensus and match (at least one) existing implementation.

[2016-07-20 22:11] chaals commented on #109
I have a [sort-of testcase](http://chaals.github.io/testcases/MixedFormsTest.html) to work out what happens with various situations. Playing with that and a JS console gives more insight again.

[2016-07-20 22:26] #427 closed, assigned to plehegar

[2016-07-20 23:20] LJWatson commented on #372
Closed with #537

[2016-07-20 23:20] #372 closed, assigned to plehegar

[2016-07-21 00:04] plehegar commented on #343
b29a5601c4ad7c8b787005e0a069ad35e37b0b80 and 33f106a9062ea05afd3d68b3b9764a96c8592c7c should address this. @chaals @aphillips  ok to close?

[2016-07-21 13:41] LJWatson commented on #461
Based on info from the <a href="https://developer.microsoft.com/en-us/microsoft-edge/platform/catalog/">MS API catalog</a>, it seems that Edge supportes this, Webkit does with a vendor prefix, and nothing else does.

[2016-07-22 13:20] superpilou commented on #506
Sorry. Thanks for your answer,

Why not force to display a tooltip ? to send it to clipboard ?

In 2016, it seems crazy that people couldn't interact with an e-mail address . No exit zone for an e-mail,

Try something please.

:-)

[2016-07-23 16:57] chaals commented on #516
Since ancient times (before your sun burned hot and your race was born…) a feature of CSS was that it could be included as flow content in an HTML document, but parsed and rendered as a stylesheet. In modern times that is known as DRY, often presented as a better idea than "hidden metadata".

The current rendering chapter includes a rule `style { display:none }` which makes sense both for `head st

[2016-07-24 16:22] chaals opened #538 ""valid email address" doesn't allow IDNs…"
The definition of a [valid email address](https://w3c.github.io/html/sec-forms.html#valid-e-mail-address) only allows for ascii letters, digits, and hyphens in domain names, and only ascii printable characters before the @ sign. This doesn't match reality, which now includes IDNs.

Should we insist on putting punycode everywhere, or should we try to hide that from users and specify how to make int

[2016-07-24 17:32] ExplodingCabbage commented on #516
This seems silly.

Firstly, even if your proposed change to the normative spec were a good idea and likely to happen, that doesn't seem like a reason to reject the change to the non-normative element index that I proposed in https://github.com/w3c/html/pull/517. The index is there to provide a quick summary of information from the normative part of the spec. Deliberately choosing to have its conte

[2016-07-24 18:53] klensin commented on #538
Chaals,  as is usual with i18n iessue, things are always a little more complicated.  First of all,, while "rintable [ASCII] characters before the @ sign" is probably good advice for email delivery system developers, it is _not_ what RFC 5321 says/allows in an email local-part.  "I have this perfectly good email address that your HTML or web form won't accept" has been the cause of a very large num

[2016-07-25 01:22] duerst commented on #538
I agree using punycode in the domain part is the wrong answer. Also, the left hand side (LHS) doesn't use punycode at all, so "putting punycode everywhere" is a total non-starter.

[2016-07-25 01:22] duerst commented on #538
This is related to https://www.w3.org/Bugs/Public/show_bug.cgi?id=15489.

[2016-07-25 02:51] klensin commented on #538
Yes.  Thanks Martin, I had forgotten to mention the "punycode is not allowed on the LHS and generally won't work part of the problem.

[2016-07-25 09:28] stevefaulkner opened #539 "allow <dfn> ancestor to include <li>"
For the purpose of scoping a term's definition using the [<dfn>](http://w3c.github.io/html/textlevel-semantics.html#the-dfn-element) element, the current allowed elements are `<p>`, `<dl>` and `<section>` as ancestors of `<dfn>` I can't find any reasons for this choice and it was not defined in HTML4, so I propose to allow `<li>` as an ancestor to provide more flexibility in scoping of defintion(s

[2016-07-27 01:54] chaals commented on #507
There are people who love, and people who hate, `longdesc`. It is implemented independently and repeatedly, it is known to run the risk of being wrong, and it is a W3C Recommendation that explicitly extends HTML.

The last of those is the reason for integrating it into HTML without more than two github issues tracking that.

The suggestion that a few lines of text, as the way to integrate a spec w

[2016-07-27 17:04] dwsinger commented on #507
That’s not a good reason. Such high-handed action by the chairs, without explicitly looking for consensus, has broken the trust relationship. I understand that you have a personal investment in this, but would have expected you to put that on one side when acting as chair.

I don’t know what you mean by a ‘long bow'. Integrating is the precise opposite of the chartered direction of the group, whic

[2016-07-27 17:23] foolip commented on #475
That is strange indeed, I hadn't noticed that note. I was skeptical about allowing Infinity in https://github.com/w3c/media-source/issues/5#issuecomment-150556828 because it would make the seek algorithm weird when it comes to clamping to seekable ranges, but the spec is inconsistent and needs to change somehow.

@wolenetz, I take it you're going for the `setLiveSeekableRange()` solution for MSE n

[2016-07-27 17:25] cwilso commented on #507
Minus the last two paragraphs (which are an aside), I agree completely with David.

If we were in a different political environment around HTML, it is possible this would be a minor point.  However, this particular feature is a long-entrenched battleground, and I have to strongly recommend that it NOT walk over the line in being strictly modular, lest we reopen old wounds.  As David says, I think

[2016-07-27 22:35] tantek commented on #507
I am also in agreement with @dwsinger. And I will add:

The consensus among ALL browser vendors was non-positive on making longdesc a Recommendation. I wrote about this:

http://tantek.com/2015/057/b1/disappointed-in-w3c

Making longdesc a Recommendation was perhaps the _most_ anti-consensus technical act ever done by W3C. It was and still is a low point at W3C.

The fact that ANYONE in the curren

[2016-07-28 12:23] mikewest commented on #187
This still isn't in https://www.w3.org/TR/workers/.

@chaals, @wseltzer, @plehegar: can y'all help me figure out who to poke about the fact that that document is a little less than a year out of date? I'll note that it was only updated then because I poked y'all about the even more out of date 2012 CR on a call. There seems to be a pattern of neglect here since y'all removed Workers from the W3C v

[2016-07-28 12:28] travisleithead opened #543 "Add Origin-aware Transferrables"
As mentioned in the Stockholm TAG meeting (@slightlyoff and I) it was noted that the platform needs an origin-aware version of Transferrable (the structured clone algorithm). Such a mechanism would be used to allow transferrable things only where same-origin destinations apply. (E.g., to workers/service workers of the same origin or frames in the same origin.)

This issue is being opened to track

[2016-07-28 15:19] prlbr opened #544 "make <style> in <body> conforming"
Please consider making `<style>` in `<body>` conforming.
- `<style>` in `<body>` apparently works in all major browsers
- it is useful for and indeed used by authors working with CMSs who don’t have access to the `<head>` at all or at least not easily on a page by page basis

See the corresponding [issue at WHATWG](https://github.com/whatwg/html/issues/1605) by @workguy66.

[2016-07-28 19:01] LJWatson commented on #507
Can we please stop revisiting history that can't be changed, and try to work together to find a way forward?

Image Description is a module of HTML. We have at least one other module (ARIA in HTML) and probably others. We need to establish a way of referencing/linking to those modules - preferably a way that is robust enough to cope as we begin the process of modularising HTML core and linking/ref

[2016-07-28 19:16] dwsinger commented on #507
No, we really don’t.  If I go to a lumber yard (timber yard), they do not tell me all the things that can be added onto or used with pieces of wood. Rather, wood screws are identified as wood screws, wood glue is identified as wood glue, and do on.

OK, I manage core spec and some members of the family of file formats that include MP4. The base spec. is carefully written to be independent of all i

[2016-07-28 20:38] LJWatson commented on #507
Thanks @dwsinger
"We’re criticizing recent history. What can’t be changed? The Lady of Shallot is now nailed to the perch"

By "history that can't be changed" I meant the fact that Image Desc is a W3C Recommendation and a module of HTML. I already acknowledged in my first comment on this thread that I thought we could do better with what you refer to as "recent history" than we had initially done.

[2016-07-28 20:52] dwsinger commented on #507
I am not opposed to maps, or listings such as the TR page or CSS snapshots. They collect things into interesting bunches, offer overviews, and so on.  What I do NOT like is when base specs refer to the things that use them; then whenever a leaf is added to the tree, you have to look all the way up the tree to see wherever else it should be mentioned.

Roadmaps of HTML — or even W3C — specs are dif

[2016-07-28 21:41] LJWatson commented on #507
@dwsinger
"I am not opposed to maps, or listings such as the TR page or CSS snapshots. They collect things into interesting bunches, offer overviews, and so on."

Agreed.

"What I do NOT like is when base specs refer to the things that use them; then whenever a leaf is added to the tree, you have to look all the way up the tree
to see wherever else it should be mentioned."

So in other words, poin

[2016-07-29 16:56] aardrian commented on #539
Yes.

Context link for those who want to see [how it is worded in the spec](https://www.w3.org/TR/html5/text-level-semantics.html#the-dfn-element).

[2016-07-29 17:35] dwsinger commented on #507
It’s more than that: it risks overlap of concept, disagreement of text, blurring of IPR considerations, and it’s an admin overhead...

David Singer
Manager, Software Standards, Apple Inc.

[2016-07-29 19:46] paulbrucecotton commented on #507
As far as I know there is no definition of a "HTML module".  The noun "module" does appear in HTML 5.1 but nearly always in the title of other specifications ie "CSS Backgrounds and Borders Module Level 3"

I am pointing this out since HTML 5.1 does include the concept of [applicable specification](http://www.w3.org/TR/html51/single-page.html#applicable-specification):

"When vendor-neutral extens

[2016-07-29 23:25] LJWatson commented on #507
@paulbrucecotton
Thanks for your comments.

"It would help this discussion if we defined the terms we are using AND if we used terms already defined in the HTML 5.1 spec."

<a href="https://dev.w3.org/html5/decision-policy/html5-2014-plan.html">Plan 2014</a> used terms like "core", and "extensions" as a product of "modularity". A "module" is also the product of modularity, so to all intents and pu

[2016-07-30 13:46] travisleithead opened #545 "Base tag URL modifications should update all relative URLs"
As reviewed by the TAG, in https://github.com/w3ctag/spec-reviews/issues/118, we have some interest in changing the currently interoperable (but non-sensical) behavior around the base tag--making its changes update all relative URLs.

This issue tracks ensuring the spec is clear, that tests are written, and tracking implementations as they try to see if this change is web-compatible.

[2016-07-30 15:42] markcellus opened #546 "The inert attribute"
Hello, forgive me if this is not the right repo for this (there are quite a few related to specific portions of the spec). I am simply interested in knowing the status of the `inert` attribute. I see it [in the spec](https://www.w3.org/TR/html51/editing.html#inert-subtrees), as it's been there for a while. But seems to have been abandoned. Why?

[2016-07-31 13:50] paulbrucecotton commented on #507
I am not sure that I agree. First I want to point out that Plan 2014 was NOT talking about breaking the main HTML spec up into "extensions" or "modules".  It was mainly talking about how new material could be added to HTML by creating separate "extension" specifications.

In the above response to David Singer's "modularity" proposal @LJWatson seem to be using "modularity" to describe how the main

[2016-07-31 21:52] LJWatson commented on #507
"I think I have to agree here which is why I am asking that we first define a common terminology. For example, are the parts of HTML described by David
Singer's "modularity" proposal "applicable specifications" or just "pieces" of the main HTML specification? I think I have shown above that you are switching
back and forth between "modules" and "applicable specification" and so far they do not nec

[2016-07-31 21:52] chaals commented on #544
See also #516, which is asking to _stop_ it conforming… I _think_ that in the current draft it is, but in any event, I think that we can cover this question within #516 - if you agree, please close this one.

[2016-08-01 11:32] mikewest opened #547 "Upstream `plugin-types` hooks from CSP3."
It would be lovely if y'all would port https://github.com/whatwg/html/pull/1618 once it lands.

[2016-08-01 13:28] mikewest opened #548 "Navigation should be based on Fetch."
Compare https://w3c.github.io/html/browsers.html#navigating-across-documents to https://html.spec.whatwg.org/#navigate. The latter calls into Fetch for processing, the former doesn't. This makes it pretty hard to port changes like https://github.com/whatwg/html/issues/1230.

It would be helpful if the W3C version of this document picked up navigation-related changes to ensure that we don't have to

[2016-08-01 20:38] tantek commented on #507
Catching up on some of this back and forth, I don't see the utility of differentiating between a "Module" and an "Extension", I see only additional confusion being propagated between two similar sounding terms.

That kind of bikeshedding also seems like a distraction from the "core" issue(s), which is that HTML5.1 as currently published violates the explicitly intended direction set in the WPWG ch

[2016-08-02 07:20] prlbr commented on #544
As I understand it, https://github.com/w3c/html/issues/516 asks for an editorial change that would make a non-normative part of the spec be consistent with a normative part of the spec. It’s about consistency in the spec, not about which behaviour is desirable. So I think that’s neither the same nor the converse of this issue here.

But I see that the discussion in https://github.com/w3c/html/issu

[2016-08-02 07:37] prlbr commented on #544
To be clear, `<style>` in `<body>` shall work like `<style>` in `<head>`. The content of `<style>` shall not be written as text on the page. Millions of sites use it like this. For example, https://www.google.com/ does.

[2016-08-02 17:28] wolenetz opened #550 "Treat blob: URLs as local in the resource selection algorithm (media elements)"
Please port to w3c HTML5.1 the whatwg version of this fix (tracked in https://github.com/whatwg/html/pull/1037, https://github.com/whatwg/html/issues/295, and https://github.com/whatwg/url/issues/126) to help the w3c MSE spec have less of a monkey-patch around fixing https://github.com/w3c/media-source/issues/99 and to reduce potential implementor interop confusion.

This issue is fairly urgent, g

[2016-08-02 21:04] travisleithead commented on #550
This has some urgency, setting CR milestone accordingly.

[2016-08-02 22:30] LJWatson commented on #507
@Tantek
That kind of bikeshedding also seems like a distraction from the "core" issue(s), which is that HTML5.1 as currently published violates the explicitly
intended direction set in the WPWG charter (which frankly is what matters, per W3C process, and respecting wishes of the AC, not a "plan 2014" document
done by a previous working group)."

Given the topic of this issue, I think that modules

[2016-08-02 22:34] LJWatson commented on #507
We discussed the initial subject of this issue on the <a href="https://www.w3.org/2016/08/02-html-editors-minutes.html">HTML editor's call</a> today.

We recognise that our original approach was not ideal and that it upset several people. As has been mentioned already, this was not our intention, but the inadvertent result of a different interpretation of Plan 2014.

We also recognise that there i

[2016-08-03 19:27] paulbrucecotton commented on #550
@travisleithead - Can you give the HME WG some idea of when this item will be processed?  We are in the final steps of preparing a CfC to take MSE to Proposed Recommendation and [MSE ISSUE-99](https://github.com/w3c/media-source/issues/99#issuecomment-236936438) is currently blocked on this item?  If you are not going to process this item this week, please let us know so that we can mitigate the M

[2016-08-04 12:17] chaals commented on #109
#540 needs to be taken into the master branch as well…

[2016-08-04 13:07] mikewest commented on #547
(It landed. And since it explains the existing behavior in Firefox and Chrome, it seems like something y'all could pick up for 5.2 without too much worry.)

[2016-08-04 13:38] LJWatson commented on #547
Thanks @mikewest

Pinging @adanilo @travisleithead @arronei

[2016-08-04 16:18] LJWatson commented on #507
@dwsinger @cwilso @tantek would very much like to hear your thoughts on the proposal in my previous comment. Thanks.

[2016-08-04 19:18] johnfoliot commented on #507
@tantek I think your interpretation of modularization can be taken too far

[2016-08-04 20:05] cwilso commented on #507
Why leave longdesc example in the core spec, when it's not definitive there?

[2016-08-04 20:06] johnfoliot commented on #507
We are talking about an attribute to an HTML element, and not an API or another related technology. I support the idea of modularization to the point where major activities can be worked on asynchronously, under the collective umbrella of "HTML5", but not to the point where dissatisfied parties can dismiss bits of the HTML (markup language) specification as second-class "modules" which, because th

[2016-08-05 12:08] unor opened #553 "Allow multiple meta-description elements if they have different lang values?"
HTML5 ([REC](https://www.w3.org/TR/2014/REC-html5-20141028/document-metadata.html#meta-description)), HTML 5.1 ([CR](https://www.w3.org/TR/2016/CR-html51-20160621/document-metadata.html#description)) and HTML 5.2 ([ED](https://w3c.github.io/html/document-metadata.html#description)) have this restriction for `meta`-`description`:

I think it would make sense to allow one `meta`-`description` _per l

[2016-08-05 15:54] dwsinger commented on #507
Agreed.

Examples belong with the specification of which they are examples. Please.

David Singer
Manager, Software Standards, Apple Inc.

[2016-08-05 15:57] dwsinger commented on #507
No doubt.  My strong preference is that there is only one HTML specification, that it reflects reality, and that it’s forward looking.  I had some hopes that the W3C would continue to move towards being the owner of that specification, but after taking this significant retrograde step, I have to believe that I have my hopes pinned to the wrong horse.

David Singer
Manager, Software Standards, Appl

[2016-08-05 17:30] LJWatson commented on #507
@dwsinger @cwilso @tantek and @johnfoliot
Thanks for raising and/or contributing to this discussion. My hope is that people on different sides of this discussion will be willing to comprimise a little so we can get this done and move on.

We have opened a CFC on the proposal.

[2016-08-05 18:26] tantek commented on #507
@LJWatson I appreciate some forward movement on this issue.

Three things.
1. I agree with @cwilso and @dwsinger about dropping longdesc examples as well. Which leads to:
2. You wrote "willing to compromise a little" — this is problematic, as there was already so much compromising when this issue was brought up and resolved in the previous WG, that it is not reasonable to ask for any "re-compromis

[2016-08-05 22:54] cwilso commented on #507
@LJWatson I appreciate your objectivity and even hand in working on this issue.  I also appreciate the willingness to suggest compromises.  It pains me that after consideration, I still disagree with making that compromise.

The primary reason I still object to the examples being in the core spec is that I feel having examples of something that isn't in the core spec violates the architectural lay

[2016-08-05 22:57] dwsinger commented on #507
I agree with all that Chris says here, and thank him (and Leonie) for this.

David Singer
Manager, Software Standards, Apple Inc.

[2016-08-06 09:33] stevefaulkner commented on #507
_With my HTML editors hat on_
We have plenty of examples in HTML that include features that are not in the core spec and are not even in non-core specs. The HTML spec is not only for implementers it is also for authors/developers and where inclusion of technologies that work with HTML core features, in examples, is considered helpful then they should be be included. Note we are talking about **edi

[2016-08-08 13:47] darobin commented on #507
Whoa.

There are so many different issues mixed up together in this thread you would sort of need an issue tracker just for it. Seriously, what's wrong with using different issues for different problems? This isn't a mailing list where discussion is _supposed_ to be confusing.

I'm not kidding, if this were an open source project, this would have been summarily closed and half of you all would've

[2016-08-08 15:39] cwilso commented on #507
@stevefaulkner : This was not intended as a blanket condemnation of editorial examples.  I would point out that modularity typically increases the need for description of how to utilize modules effectively; my point was more that such examples already existed, and the addition of longdesc examples seems to imply that putting such examples into the core spec is what's required for modules to be "re

[2016-08-09 09:39] LJWatson commented on #507
@darobin is right - things have become mixed up in this thread, and I'm guilty as charged for helping make that so.

The WP charter mentions HTML modules, but it doesn't describe a modularisation model, define what a module/extension is/isn't or place any constraints on how a module/extension should be referenced. This is something the WG needs to decide and that can then be implemented accordingl

[2016-08-10 22:15] wolenetz opened #555 "Allow retrieval, via HTMLMediaElement.srcObject, of media provider object (even if not assigned media provider object)"
Media Source Extensions (and MediaStreams, blob URLs, and File blob URLs) can attach to an HTMLMediaElement using an object URL assigned to the media element src attribute or one of its child <source> element's src attribute. They may also attach to an HTMLMediaElement by simple setting of HTMLMediaElement.srcObject. The latter allows for later retrieval and inspection of the currently attached me

[2016-08-12 16:19] foolip commented on #555
Let's discuss here, and if we can agree on something I can make the change in whatwg/html, maybe it can then be backported.

Where do you think it would make sense to put this? My best idea is at the top of the resource fetch algorithm, if invoked with a URL that has a media provider object, set "assigned media provider object" (which must be null) to that object.

But then assigned media provider

[2016-08-15 16:33] LJWatson opened #557 "MP4 media track integration"
Taken from an email posted by @dwsinger at Apple.

"the really good news is that my company is now producing Audio Descriptions for hundreds of videos on our web site. yay! They are in MP4 files which have three tracks; the video, the main audio, and the description audio.  The description is an alternative to the main audio and is so marked in the MP4 file (in a so-called “alternate group”).

We

[2016-08-15 18:40] jdsmith3000 commented on #557
I thought "http://about:" was intended for URL's that are locally intercepted and interpreted by the UA.  Does that make sense in this case?

The need from @dwsinger seems general, and so this type of solution seems like what is needed.  How much, if any, concern should be factored in for changing vocabulary over time?

[2016-08-15 20:08] paulbrucecotton commented on #428
@travisleithead - Will this issue be resolved in HTML 5.1?

[2016-08-15 20:22] dwsinger commented on #557
…yes…just about. The URI here is only used as a label, to say “look at the HTML spec for the meaning of the accompanying value”.  So, as long as it’s unique and documented, the actual bytes don’t matter.  It helps if it’s self-describing (which it is) and if it’s usable by whatwg and w3c (which it is).  The classic solution is  URN but afaik neither W3C nor WhatWg own a URN root or manage names un

[2016-08-15 22:50] sdrumsalot opened #558 "Inconsistencies in use of P tags over DIV tags for form fields"
P tags are more suitable for form fields according to the current state of the spec because of the following sections listed below, however, they are not used in the form examples under the forms introduction section (div tags are used there, https://w3c.github.io/html/sec-forms.html#forms-introduction).

At https://w3c.github.io/html/grouping-content.html#the-div-element we have:

However, in htt

[2016-08-16 08:32] mikewest commented on #548
Talking with @estark37 a moment ago, referrer policy is another concrete example of a spec that this is going to block: see the series of patches that landed in WHATWG's HTML to resolve https://github.com/w3c/webappsec-referrer-policy/issues/40.

/cc @wseltzer @hillbrad @dveditz

[2016-08-16 09:13] estark37 opened #560 "Port 'referrerpolicy' integration"
There are a few WHATWG HTML PRs that integrated the 'referrerpolicy' content attribute from Referrer Policy:
https://github.com/whatwg/html/pull/1651
https://github.com/whatwg/html/pull/1649
https://github.com/whatwg/html/pull/1641

It would be great to get those ported. They're based on Fetch, though (as mentioned in https://github.com/w3c/html/issues/548).

[2016-08-16 11:35] LJWatson commented on #560
Thanks @estark37 for pinging us about these. It's appreciated.

[2016-08-16 15:37] travisleithead commented on #216
FYI; Discussion ongoing at https://github.com/whatwg/html/issues/1666

[2016-08-16 15:59] LJWatson commented on #558
Thanks for filing this @sdrumsalot

"This issue is for the discrepancy in language in the spec.
Either the "as is a part of a form" should be removed from the paragraph description linked above and the spec updated in all applicable places to use
DIV tags (there were a few spots I noticed that was also inconsistent and P tags were being used) OR the forms introduction section updated / reverted
to

[2016-08-16 18:22] sdrumsalot commented on #558
Thanks for the quick feedback @LJWatson .
Certain user agent APIs could have a stricter definition for `<p>` being only text, so `<div>` becomes better suited in that regard.

fieldset is for _grouping_ fields together, but the tag usage in question here is for delineating individual fields potentially within a fieldset or at least a form, since these two examples have different semantics:

[code]

[2016-08-16 19:07] TzviyaSiegman opened #561 "Mechanism for presenting descriptive information"
ARIA 1.1 includes the [aria-details](https://www.w3.org/TR/wai-aria-1.1/#aria-details) property, allowing for detailed, extended descriptions for objects. This relies on functioning `<details>` and `<summary>` elements.
The digital publishing community provided input to the ARIA WG about its needs for extended descriptions for multiple object types. Some of the requirements put forth by the digita

[2016-08-17 15:53] LJWatson commented on #561
@TzviyaSiegman

Can you clarify what you are asking of HTML? It isn't clear whether you are proposing a variant of the `<details>` and `<summary>` elements, a new element or attribute, or something else.

[2016-08-17 18:54] wolenetz commented on #550
[MSE issue 99](https://github.com/w3c/media-source/issues/99#issuecomment-236936438) is no longer blocked on this item, but makes assumption that text like what is in https://github.com/whatwg/html/pull/1037 eventually makes it into the w3c html spec.

[2016-08-18 06:21] vdua opened #564 "handling focus() API during sequential focus navigation"
While running the focusing steps [0] for a candidate element during sequential focus navigation[1] (on a user request to move to next focussable area), a focus event with the name blur has to be triggered as part of focus update steps [2]. Now if the HTML author decides to use a focus() API on that event listener what should be the behavior ? The specification doesn't clearly states that whether t

[2016-08-18 08:20] mikewest commented on #187
Ping? :)

[2016-08-18 08:21] mikewest commented on #548
Note that this is going to block CSP as well, due to the various navigation hooks we need (see https://github.com/whatwg/html/pull/1619).

[2016-08-18 08:21] mikewest commented on #560
/cc @wseltzer @hillbrad @dveditz

[2016-08-18 18:37] adanilo commented on #507
Closing, as PR #562 removes this as described in the PR.

[2016-08-18 18:37] #507 closed, assigned to nobody

[2016-08-18 19:01] TzviyaSiegman commented on #561
Clarifying requirements based on discussion in [APA discussion](http://www.w3.org/2016/08/17-apa-minutes.html)
`aria-details` can be used on any element (see https://www.w3.org/TR/wai-aria-1.1/#aria-details, which includes code samples in Examples 17 and 18).
All users should be able to access extended descriptions provided by `aria-details`. Descriptions may be useful for those who are NOT using

[2016-08-18 19:23] grorg commented on #550
Can someone restore @annevk's deleted comment? Or @annevk, can you post it again?

As an implementor, it's important to get the most accurate information. The W3C community should be providing this, no matter the politics or personal feelings involved.

[2016-08-18 19:37] adanilo commented on #550
@grorg I don't believe there was any technical detail in Anne's comment that could affect your implementation

[2016-08-18 19:43] plehegar commented on #550
For what it's worth, the comment was reading:
[[
@wolenetz FYI, as long as you point folks to W3C HTML fork, there will be confusion and issues since it's in a bad state as explained here: https://annevankesteren.nl/2016/01/film-at-11. And has only gotten worse really.
]]

[2016-08-18 19:45] grorg commented on #550
hi @adanilo!

Obviously this isn't the right place to discuss the politics (nor do I want to), but I think a comment from one of the HTML specification editors (on the WHAT-WG side) pointing out a potential source of confusion is important, even if it isn't completely technical. Deleting it was bad form.

Also, the originator of the issue tagged him.

[2016-08-18 19:46] grorg commented on #550
Thanks @plehegar!

[2016-08-18 19:49] plehegar commented on #550
On a different note: the MSE editors decided not to wait for the HTML editors: see https://github.com/w3c/media-source/pull/143 .

[2016-08-19 07:40] pankitgami opened #565 "In html form input type "number" allows the "e"."
![screenshot 142](https://cloud.githubusercontent.com/assets/12875933/17802422/d7f7b470-660d-11e6-8030-b63e0006595b.png)

I have mobile number field with type number in my form.
But still, it is allowing character "e". Hereby I have attached a screenshot of this.

I am a web developer with a handful of knowledge. I would like to contribute to HTML development by solving this issue.

Thanks.

Best

[2016-08-19 08:49] SebastianZ commented on #565
The HTML 5.2 specification explicitly [allows the 'e' character as part of a floating-point number in exponential notation](https://w3c.github.io/html/infrastructure.html#valid-floating-point-number) like `1.23e-10`.

For a telephone number you should rather use [`<input type="tel">`](https://w3c.github.io/html/sec-forms.html#telephone-state-typetel), maybe in combination with a custom validation

[2016-08-19 09:15] pankitgami commented on #565
Thanks for the information. I didn't know that.
Surely, I will use custom validation for telephone number.

[2016-08-19 09:15] #565 closed, assigned to nobody

[2016-08-20 14:04] LJWatson commented on #561
The aria-details attribute appears to be a near exact duplicate of the longdesc attribute, with two notable differences:
1. It can point to a description source within the same document, as well as elsewhere.
2. It can be applied to any element, instead of just `<img>`.

It does not seem to fully address the two primary concerns about longdesc expressed (by @dwsinger and @hober), namely:
1. Descri

[2016-08-20 14:56] LJWatson commented on #561
Thinking about this a bit more, perhaps an attribute with a very specific scope is worth considering?

An HTML attribute that when applied to a `<summary>` element, as part of a `<details>` and `<summary>` pair, would change the default icon displayed by the browser on the "button".

For example:

[code]

The "description icon" would be visible to all, and the description programmatically associat

[2016-08-21 15:14] TzviyaSiegman commented on #561
@LJWatson this is very much what we are looking for. It would be ideal if the attribute could be applied elements other than summary.

[2016-08-21 17:20] LJWatson commented on #561
@TzviyaSiegman
If the attribute could be applied to other elements, how would the presence of the description be (visually) indicated?

Would the expectation be that the description content was contained within the same document? Also, how do you anticipate the description content would be revealed/accessed?

Pinging @dbaron @tantek @slightlyoff @cwilso @dwsinger @hober @michaelchampion @dstorey t

[2016-08-27 22:34] thx1111 opened #568 "What is the simple alternative to <iframe seamless>?"
Looking through the Issues associated with <iframe seamless>, I am not seeing any actual discussion which justifies it removal from the HTML standard.  What justifies removal of <iframe seamless>, other than "laziness" on the part of browser developers?

What is the use case for <iframe seamless>?  Here, in 2016, I still find myself using a terminal emulator to view my notes.  I'd much rather be a

[2016-08-27 22:55] thx1111 commented on #568
Hmm - I'm wondering if "iframe" is even the appropriate model for considering inclusion of one html document in another.  My naive assumption is that the body of one document is simply to be pasted into another document.  As I understand, "iframe" is more complicated than that, so maybe not a good starting point?

[2016-08-29 00:25] adanilo commented on #568
seamless isn't supported in any modern browser, and so developers can't rely on using it at all. Hence, it's removal from the spec. is to help the spec. reflect reality better.

[2016-08-29 01:06] adanilo commented on #564
Great question. Seems it'd be possible to create infinite loops of focus event, listener calling etc. if this isn't defined well. I guess some tests need to be written to see what browsers do currently, and clarify the text once we work that out.

[2016-08-29 01:18] adanilo commented on #553
Interesting point, seems this is consistent with the WHATWG version of the spec. as well. Seems like this can be used by search engines for indexing, so perhaps multiple description elements could pose a precedence problem - which one is definitive? There can only be one charset as well, this is all likely to be a legacy hangover, since UTF-8 copes with any mix of languages. I'd be curious if othe

[2016-08-29 01:20] adanilo commented on #548
Thanks, we'll aim to port these changes in. Aiming for part of 5.2 is the most likely target.

[2016-08-29 01:25] adanilo commented on #546
This is consistent with the WHATWG version of HTML, there is no explicit attribute to control inertness. It's a side-effect of other things, like creating a modal dialog. The spec. is supposed to reflect what's implemented in at least 2 browsers, and currently no browser that I know of intends to add an 'inert' attribute.

[2016-08-29 01:25] #546 closed, assigned to nobody

[2016-08-29 01:30] adanilo commented on #516
@ExplodingCabbage makes a good point, style in body should definitely not become display : block. This is related to #544 so a PR or suggested text would be welcome.

[2016-08-29 01:31] adanilo commented on #544
Agreed, this seems to be in widespread use so the reality of the web... Would you like to propose some text, or even a PR?

[2016-08-29 01:53] adanilo commented on #521
How about changing the example to be 09:42 instead of 14:54? Probably worth testing if browsers allow single digit hour, and if so, the definition of hour as 2 ASCII digits could be relaxed.

[2016-08-29 06:06] thx1111 commented on #568
"seamless isn't supported in any modern browser" - presumably because "seamless" is not part of any current or proposed HTML specification.  Therefore, no modern browser developer is motivated to provide the functionality.  Therefore, "seamless isn't supported in any modern browser".

That is a circular argument.  It does not explain anything - or even say anything.

Or, did you mean to suggest th

[2016-08-29 08:01] adanilo commented on #568
The way W3C specs work, is that to reach Recommendation status (stable), there is a requirement to have 2 working implementations. The specs are not design docs, they document shipping code. For something like 'seamless', it's the kind of thing that can either be part of the incubation community group WICG (https://www.w3.org/community/wicg/) where it can be developed, and if it ends up shipping,

[2016-08-29 11:40] chaals opened #569 "Custom Elements in HTML"
If Custom Elements is implemented in a second browser, we need to determine how to integrate it into the HTML specification - and how to handle modularisation...

WHATWG has made (Up to June 1) the following changes related to intregrating Custom Elements
- [ ] https://github.com/whatwg/html/commit/db8899be5b0971a3c43b8a2ac926a5df1f5bc2b9 add `customElements.whenDefined()`
- [ ] https://github.com

[2016-08-30 12:43] mikewest commented on #548
Wonderful, thank you @adanilo!

[2016-08-30 14:46] kevinSuttle opened #570 "5.2 Spec version URL"
The latest 5.2 spec links to https://www.w3.org/TR/html51/

Should it be https://www.w3.org/TR/html52/ ?

<img width="468" alt="screen shot 2016-08-30 at 10 45 01 am" src="https://cloud.githubusercontent.com/assets/95672/18093728/dc4f201e-6e9e-11e6-8178-afd2e1b1a295.png">

[2016-08-30 16:36] mikewest commented on #187
Ping?

[2016-08-30 19:01] LJWatson commented on #570
Thanks @kevinSuttle

Pinging @plehegar @siusin and @ylafon for help fixing.

[2016-08-31 01:03] adanilo commented on #187
@travisleithead do you know if we have any plan to find a replacement editor for workers? Looks like Hixie isn't maintaining that anymore

[2016-08-31 08:54] kciray8 opened #571 "Bad markdown with location.assign(url)"
[https://www.w3.org/TR/html51/browsers.html#location-location](https://www.w3.org/TR/html51/browsers.html#location-location)

![image](https://cloud.githubusercontent.com/assets/5188373/18122169/da33f782-6f70-11e6-8ed3-3e2dc392fc3f.png)

[2016-08-31 10:49] stevefaulkner commented on #571
thanks @kciray8, I believe that this has been fixed in 5.2 [http://w3c.github.io/html/browsers.html#location-location](http://w3c.github.io/html/browsers.html#location-location), but the version you have accessed is a Working draft which will not be updated until it is republished.

[2016-08-31 15:25] #571 closed, assigned to nobody

[2016-08-31 17:57] #570 closed, assigned to arronei

[2016-08-31 18:01] arronei commented on #569
This seems like one of the perfect components to create as a new module to HTML. If we can define this using the new module idea then we should be able to define anything as modules.

[2016-08-31 18:39] jasonjgw commented on #561
What, precisely, would be the effect of the proposed attribute? Would it cause the user agent to present its standard "description indicator" icon near the rendered content of the SUMMARY element? Would CSS be a better soluiton here? Also, it isn't clear to me what this issue is ultimately concerned with What is missing in the current specification and implementation of the SUMMARY and DETAILS ele

[2016-08-31 19:56] corysimmons opened #573 "Anyway to get specs for offline?"
It'd be nice if there was a button to download a zip of html, epub, or pdf somewhere (I know can view single page and cmd+s, or wget).

If this kinda thing already exists, I'm overlooking it.

Would love to have all the specs offline. :)

[2016-09-01 00:09] chaals commented on #187
I'm working on it. Watch this space - and sorry for the delays.

[2016-09-01 02:43] adanilo commented on #573
You could print to PDF using Chrome, Firefox and Safari (not sure about IE/Edge), which should solve your needs.

[2016-09-01 09:23] stevefaulkner commented on #571
@kciray8 if you prefer to identified by something other than "Yaroslaw" let me know

[2016-09-01 13:06] corysimmons commented on #573
Whoa, that's a lot better than Chrome's cmd+s option, but isn't exactly ideal.

Notice how in https://virtualenvwrapper.readthedocs.io/en/latest/ you can expand the bottom left and have a plethora of options for download:

![image](https://cloud.githubusercontent.com/assets/224636/18168289/f1c5fc58-7022-11e6-8f6c-6904aac24f98.png)

They're obviously using a few scripts to auto-generate those downl

[2016-09-01 13:34] cconcolato commented on #557
For your info, I proposed a similar thing to the W3C Media Resource In-band Tracks Community Group, see http://lists.w3.org/Archives/Public/public-inbandtracks/2016Jun/0000.html

[2016-09-01 13:37] plehegar commented on #573
We don't really provide the ability to download the spec offline at the moment. You could always use tools like wget to download a page and all of its sub-pages. There has been some attempts to provide an epub version of the spec. @iherman would know more about that. With the 2016 style version of our specifications (see https://github.com/w3c/tr-design/), this might be easier to do that previousl

[2016-09-01 13:40] plehegar commented on #569
As a module, isn't that what https://www.w3.org/TR/custom-elements/ currently doing? if not, then we'd need to understand what about be different in that module.

[2016-09-01 14:14] corysimmons commented on #573
Yeah I'm not stressing about it or anything -- just thought I might be overlooking it, or it'd be a nice new feature to have.

Is there a better place to file this feature request than w3c/html?

[2016-09-01 15:26] kciray8 commented on #571
@stevefaulkner  okay, "Yaroslaw" is fine

[2016-09-02 04:51] #568 closed, assigned to nobody

[2016-09-02 04:54] adanilo commented on #557
@cconcolato thanks for the pointer. For now, we've aligned with the about:html-kind suggestion in PR #575 feel free to continue discussion or raise another issue if that needs extra improvement, e.g. the comment about a boolean in the email thread.

[2016-09-02 07:03] deniak commented on #573
Unfortunately, there's no _easy_ way to download a spec from /TR. [Authors _may_ provide alternative formats](https://www.w3.org/pubrules/doc/rules/?profile=WD#altRepresentations) such as zip or pdf but that's not a requirement and few editors are actually doing it.
As @plehegar mentioned, the current priority is to improve the publication workflow for editors but we are also thinking about revamp

[2016-09-02 09:05] iherman commented on #573
I did have a script to turn TR documents into EPUB; it is still [on github](https://github.com/iherman/tr2epub), but it has not been actively maintained (in particular, it has not been updated to the latest version of the TR design, and that shows). Instead, the service that is maintained actively is an extension to respec to generate an EPUB for the documents; this is now part of respec (one can

[2016-09-02 11:32] mikewest opened #577 "Add `export` attribute to various definitions."
In order for Bikeshed specs to be able to automagically link to HTML-defined terms, they must be exported. It would be lovely if y'all would port over some patches like https://github.com/whatwg/html/commit/81ee034f316f4366aeb315d16ea21521c83ab427, https://github.com/whatwg/html/commit/b2764ef551e5d7d1a67fe09cf3e561a47ccc78ff, https://github.com/whatwg/html/commit/c050450c8d804228ef827266fbfa1b036

[2016-09-02 11:33] mikewest commented on #577
Note: The list of terms defined by HTML at https://w3c.github.io/webappsec-csp/#index-defined-elsewhere is a nice (if selfishly-motivated!) list of terms to prioritize. :)

[2016-09-02 12:37] LJWatson opened #578 "CFC: Publish HTML5.1 as Proposed Recommendation (PR)"
With thanks to everyone who contributed, and to the HTML editors in particular, this is a Call For Consensus (CFC) to request W3C publish the <a href="https://www.w3.org/WebPlatform/docs/html51-20160902/

">HTML5.1 Editor's Draft (ED)</a> as a PR.

Please respond by end of day on Friday 9th September 2016. Responses maybe given in reply to the <a href="https://lists.w3.org/Archives/Public/public-w

[2016-09-02 13:54] stevefaulkner commented on #578
_Unsurprisngly_ i support this CFC

[2016-09-02 14:21] corysimmons commented on #573
@deniak wget and such always give me problems. I've got about 100 websites saved that are severely screwed up (missing images, or scripts, etc. etc.) offline. I used a plethora of options and read a lot about it. Same with httrack. One day I might settle down with those man pages and really figure it out and create some CLI to mirror webpages and websites well. This isn't a plea for you to give me

[2016-09-02 16:14] chaals commented on #506
Many tools do provide some behaviour. But requiring a particular one
1. precludes doing something else that some users might find more helpful
2. runs a real risk of picking the wrong thing, and then baking it into the Web for years because people keep relying on it

[2016-09-05 13:11] r12a opened #579 "rb and rtc should not be non-conforming in html5.1"
11.2. Non-conforming features

https://www.w3.org/TR/html51/obsolete.html#ref-for-elementdef-rb-21

This text has only just come to the attention of the i18n WG. It seems to have been imported automatically from the WhatWG spec.  The i18n WG disagrees that these elements are non-conforming. They were added to HTML in HTML5, and have been implemented by Mozilla. In fact, the CSS folks are counting

[2016-09-05 17:27] chaals commented on #579
This looks like an editorial issue - the elements are in the 5.0, 5.1, and 5.2 specifications.

[2016-09-06 02:04] RachelComerford commented on #561
How does aria-details differ from aria-describedby?  I've been using that as a longdesc replacement.

[2016-09-06 08:24] LJWatson commented on #561
@RachelComerford

The two attributes are related but differ a little. The <a href="https://www.w3.org/TR/wai-aria-1.1/#aria-describedby">aria-describedby</a> attribute forms part of the <a href="https://www.w3.org/TR/accname-aam-1.1/">accessible name/description computation</a>, where <a href="https://www.w3.org/TR/wai-aria-1.1/#aria-details">aria-details</a> does not. The aria-details attribute i

[2016-09-06 08:33] LJWatson commented on #561
@jasonjgw
"What, precisely, would be the effect of the proposed attribute? Would it cause the user agent to present its standard "description indicator" icon near
the rendered content of the SUMMARY element? Would CSS be a better soluiton here?"

I think the idea is that instead of displaying the standard arrow icon on the `<summary>`, the browser would display some other icon instead. There might

[2016-09-07 06:20] dwsinger commented on #557
now registered at IANA; they will add a reference to the W3C spec as soon as I have one to give them.

http://www.iana.org/assignments/about-uri-tokens/about-uri-tokens.xhtml

David Singer
Manager, Software Standards, Apple Inc.

[2016-09-07 08:55] dontcallmedom opened #581 "WebIDL bugs"
- `DOMElementMap` uses the `creator` keyword, but that is no longer valid in WebIDL
- `HTMLTextAreaElement`, `HTMLInputElement` and `HTMLSelectElement` uses `required` as an attribute name, but since that's a WebIDL keyword, I believe the name must be prefixed with a `_`

[2016-09-07 09:20] dwsinger commented on #561
Speculating wildly here, I wonder about HTML having the ability to tag any element "there is an explanation/description of this content in <this> other element of this page", and making that followable/evident to _all_ readers.  For this to work, I think that we'd need a normal way to indicate to users how to find the description/explanation (e.g. like the twist-down of 'details').

I'm not a fan

[2016-09-07 11:12] danielweck commented on #561
@dwsinger +1 with regards to the principle of preferring general-purpose affordances for "extended" descriptions, rather than semi-hidden / AT-specific mechanisms. This is one of the reasons why longdesc "did not work" (there are other design issues).

[2016-09-07 11:16] stevefaulkner commented on #561
@dwsinger I have previously floated (built a demo custom control) the idea of a widget that is similar the functionality/relationship you describe http://thepaciellogroup.github.io/disclosure-button/disclosure-button-spec/ I also brough the issue up on WICG way back https://discourse.wicg.io/t/re-imagining-details-summary-design/64/1

[2016-09-08 19:07] AndySky21 opened #582 "Unclear conformance of attributes on <table> element"
https://w3c.github.io/html/tabular-data.html#the-table-element

This is an editorial issue coming from previous editions, which has not been fixed yet.
The "border" attribute on tables is (controversially) conforming, though with the only allowed values of 1 and the empty string.
This means that the sentences:

in the table about possible indicator for table recognition heuristics should be change

[2016-09-09 15:56] dd8 opened #583 "4.9.12.2. Mismatch between cell header algorithm, TD HEADERs, and accessibility APIs"
The algorithm in "4.9.12.2. Forming relationships between data cells and header cells" assumes a single header list for cells (as did HTML 4)

Modern accessibility APIs expose a pair of properties for cell headers: RowHeaders and ColumnHeaders. This allows screen readers to voice column headers when moving along a row, voice row headers when moving up or down a column, and provide separate command

[2016-09-09 22:59] travisleithead commented on #582
These seems like good changes to make as long as they are strictly editorial in nature. With HTML5.1 in PR, we don't want to make any substantive changes... of course, we do hope to continue editing and publishing HTML, so the updates in the 5.2 editor's draft will eventually replace 5.1, so it's not the end of the world if we miss this...

[2016-09-09 22:59] travisleithead commented on #582
@chaals what do you think?

[2016-09-09 23:30] chaals commented on #582
Assuming @AndySky21 is right, which seems reasonable, the changes proposed could be made in 5.1 without causing a problem, since they are correcting an inconsistency and not changing substantive facts.

And it seems like they **should** be made in the latest draft otherwise.

[2016-09-09 23:31] AndySky21 commented on #582
Just consider that, per spec, the part referring to **Content attributes** in each element introduction is to be considered normative. So, if an attribute is listed there, no matter how controversial it is, that attribute is allowed. This means that defining it "non-conforming" in other parts of the spec is an editorial mistake. I suppose that a substantive change would be to remove said attribute

[2016-09-10 09:36] LJWatson commented on #578
This CFC received several positive responses and no objections, so it passes (recorded in <a href="https://lists.w3.org/Archives/Public/public-webapps/2016JulSep/0100.html">this announcement</a>).

[2016-09-10 09:36] #578 closed, assigned to nobody

[2016-09-10 12:16] markcellus commented on #546
Hmm, then what is [this](https://github.com/WICG/inert)? Or is that unrelated?

[2016-09-10 16:49] #279 closed, assigned to nobody

[2016-09-10 17:00] stevefaulkner commented on #519
This is correct, but it is identified in the relevant sections of the spec, I don't think it needs adding here.

[2016-09-10 17:02] #519 closed, assigned to stevefaulkner

[2016-09-11 02:00] ghost opened #584 "example in 4.3.6 doesn’t make sense"
Currently, an example in the `h1`–`h6` section doesn’t make sense. It shows how two different code fragments mean the same thing, and mentions how you can mix both styles, yet doesn’t say how. The thing is: the second code fragment it mentions is supposed to be the mixed style. Compare [the WHATWG’s version](https://html.spec.whatwg.org/multipage/semantics.html#rank) (makes sense) to [the W3C’s ve

[2016-09-11 07:06] stevefaulkner commented on #584
@Zambonifofex  The 2 styles are implicit sectioning via heading elements versus explicit sectioning via section elements.

I think, the bit that doesn't make sense is

I will remove this.

The example you quoted from the whatwg spec was intentionally removed, it does not make practical sense, as its semantics are not supported in user agents and we don't want to continue promoting a coding method

[2016-09-11 07:15] stevefaulkner commented on #584
relates to #33 and #331

[2016-09-11 07:35] stevefaulkner commented on #68
closing this as its a non issue

[2016-09-11 07:35] #68 closed, assigned to stevefaulkner, travisleithead

[2016-09-11 08:03] stevefaulkner commented on #579
closing as fixed

[2016-09-11 08:03] #579 closed, assigned to nobody

[2016-09-11 08:17] #272 closed, assigned to stevefaulkner

[2016-09-11 08:19] stevefaulkner commented on #106
this needs someone with undertsanding of parser to contribute

[2016-09-11 08:48] stevefaulkner commented on #224
the spec currently provides an example of nested figure use. I consider this to be sufficient. Note in process of review an example of figure elements labelled using title attributes was found, this was removed https://github.com/w3c/html/commit/439f8011f25593793640f1ed7fd83328b5541f72 as it is a pattern that hides content from a range of users.

[2016-09-11 08:48] #224 closed, assigned to stevefaulkner

[2016-09-11 09:32] stevefaulkner commented on #583
@cookiecrook , @asurkov, @cyns ping

[2016-09-11 10:08] r12a commented on #579
thanks

[2016-09-11 13:55] ghost commented on #584
Sorry, but while you (the W3C) don’t recommend using nested `<section><h1>`s to indicate different heading levels, is this style still conforming and semantical according to the spec, even if browsers don’t implement it? Because if it’s not conforming, it’s important to note that [section 10.3.7](https://w3c.github.io/html/rendering.html#sections-and-headings) still mentions styling elements as if

[2016-09-11 14:39] chaals commented on #584
Yes it is true that having a mechanism to nest headings without having to declare the level in advance would be far more useful. Sadly, no browser actually implemented that.

Instead, they _did_ implement the stylesheet in 10.3.7 to which you refer, which makes it look like they did something useful - and because that's what they implement, that is what is in the spec.

Unfortunately, the underlyi

[2016-09-11 14:55] ghost commented on #584
Sorry, but is it, then, conforming according to the spec (even if not encouraged by the W3C, and not implemented in browsers) to use only `h1`s and `section`s to indicate different heading level? Because if it’s not, I really think section 10.3.7 should not include that stylesheet. If it isn’t conforming, the stylesheet isn’t just misleading, but it also affects the “mixing of both styles”.

[code

[2016-09-11 18:27] cookiecrook commented on #583
@dd8 Are there demonstrable user problems with the implementation differences across UAs? Is this causing a challenge for validation?

[2016-09-11 20:20] stevefaulkner commented on #584
There is a **should** conformance requirement in W3C HTML:

The [HTML validator ](https://validator.w3.org/nu/)emits a warning about use of incorrectly nested headings.

You example code appears to suggest that headings with a rank equal to their nesting level results in an adverse styling effect:
`<h2>Foo Bar</h2>` **&lt;!-- Looks like an h3 -->**

Which it does not. in [this example](http://s.co

[2016-09-11 20:48] ghost commented on #584
@stevefaulkner

You are correct. It seems browsers (at least Chrome) only style `h1`s differently based on which section level they are. Sorry for the derpyness.

Sorry for asking here, but I’ve been reading the links you posted, and eventually I got to [this thread](https://discourse.wicg.io/t/438). It’s very sad to me that it has lost traction two years ago. What do you think I should do to get

[2016-09-12 09:02] stevefaulkner commented on #584
no problem

I am unsure how to proceed, the browser vendors have show little interest in implementing :-(

[2016-09-12 14:30] TzviyaSiegman commented on #561
@dwsinger +1. We are trying to avoid a solution that is unique to AT/hidden from most users. @stevefaulkner do you envision `disclosure` being applied to `<details>`? What does this mean for the aria-details attribute?

[2016-09-13 04:35] adanilo commented on #546
[That](https://github.com/WICG/inert) is a JS polyfill to implement inert behavior which looks like it's being incubated in the WICG. It still isn't implemented natively in 2 browsers which is a requirement to be in the spec. If you read 'Background' in the github repository, you'll see the comment that is was removed. So now it lives in the incubation community group, and if it gets implemented b

[2016-09-13 05:29] adanilo commented on #577
Thanks @mikewest we'll add these to the pile:-)

[2016-09-13 07:12] kciray8 opened #585 "HTMLElement.dropzone forwards to DOMTokenList.value, but there's no such attribute in the DOM"
From [HTMLElement ](https://www.w3.org/TR/html51/dom.html#elements-in-the-dom)

`[PutForwards=value] readonly attribute DOMTokenList dropzone;`

But [DOMTokenList](https://www.w3.org/TR/dom/#domtokenlist) doesn't have attribute **value**. Interface DOMSettableTokenList has this attribute, but this's another interface.

[2016-09-13 09:39] AndySky21 opened #586 "wbr mechanics"
From HTML5 to HTML5.1, the suggested rendering of wbr element has been changed from "content" property to "display-outside".
https://www.w3.org/TR/html5/rendering.html#phrasing-content-0
https://www.w3.org/TR/html51/rendering.html#non-replaced-elements-phrasing-content

However, display-outside for both br and wbr elements relies upon values which have been discussed on February 2015 (https://logs

[2016-09-13 10:24] stevefaulkner commented on #585
@travisleithead ping?

[2016-09-13 10:59] stevefaulkner commented on #586
While they are in CSS display module level 3 https://drafts.csswg.org/css-display/#the-display-outside, doesn't look like they have been implemented by any browser as yet. So as far as 5.1 goes it would be better if the advice is based on properties that work, but i think the 5.1 ship has sailed ( @chaals  ? ). Note CSS specced in the rendering section section is a suggestion only, i.e. not normat

[2016-09-13 11:52] AndySky21 commented on #586
@stevefaulkner, `display-outside` is defined in the module you cited, the proposed keywords `break-opportunity` and `newline` are not.

HTML spec is suggesting UAs to render two elements by using unspecified values for an unimplemented property.
My aim is not to see the change in 5.1 (it has sailed indeed), but I hope it can be revised altogether for the future. And, as the current suggestion is n

[2016-09-14 10:16] xgqfrms-GitHub opened #587 "can I use columns ?"
I just want to know when the   **https://www.w3.org/TR/css3-multicol/**

will be become the **W3C Recommendation** ?

Anybody can tell me ?

[2016-09-14 10:54] chaals commented on #587
That's up to the CSS Working Group, not this one, which is why I am closing it here.

But the rough answer is:

When there is areason to believe that we will see reliable, interoperable implementation - usually proven by the fact that it has happened - the Working Group can move the specification to 'Proposed Recommendation', and then unless the W3C members strongly object - which seems unlikely -

[2016-09-14 10:54] #587 closed, assigned to nobody

[2016-09-14 13:52] xgqfrms-GitHub commented on #587
OK!
Just waiting some day it happens!

[2016-09-14 13:55] xgqfrms-GitHub commented on #587
Anyway, Thanks for your time!

2016-09-14 18:54 GMT+08:00 chaals notifications@github.com:

##

xgqfrms
xgqfrms@gmail.com xgqfrms@hotmail.com

[2016-09-14 14:11] mikewest commented on #187
@chaals: Perhaps this is something some set of folks could chat about at TPAC? The current setup doesn't seem to be working.

[2016-09-14 14:17] fititnt opened #588 "Strategy for translations of HTML5 spec with tracking of updates"
Hello, my name is Emerson and, with assistance already confirmed willing partner, we want to translate  [HTML5: Techniques for providing useful text alternatives](https://www.w3.org/TR/2014/WD-html-alt-techniques-20141023/), but the most recent version points to W3C CR HTML 5.1. I haven’t found any updated reference procedures  about translation in a way that provides for tracking of updates on th