[2016-01-19 23:02] tabatkins opened #1 "Remove the "bikeshed-files" directory, and kill references to it"
Bikeshed already includes the necessary html include files in its source tree (and has fixed one of them in a way that is not reflected in this repo's stale copy).

That whole directory should be deleted from this repo, and the README instructions altered to remove the reference to it.

[2016-01-19 23:50] ZoeBijl commented on #1
Solved in https://github.com/w3c/html/pull/2

[2016-01-20 00:16] ZoeBijl opened #3 "Flesh out README to contain useful information"
While the instructions are clear, there should be more information on this project, some subjects that I feel should be in the README:
- [ ] Some background information
- [x] Who to contact for access / how to join the relevant W3C WG
- [x] More information on contributing (maybe link to CONTRIBUTING.md?): see https://github.com/w3c/html/pull/17

[2016-01-20 01:03] prlbr opened #4 "p end tag omission rules"
I noticed that the list of elements before which a p element’s end tag may be omitted at
(1) http://w3c.github.io/html/#the-p-element
is different from
(2) https://html.spec.whatwg.org/multipage/semantics.html#the-p-element
(3) https://www.w3.org/TR/2015/WD-html51-20151008/semantics.html#the-p-element
Is this intentional? In particular, I’d like to see the figure element included which (1) lacks b

[2016-01-20 08:58] ZoeBijl opened #5 "Add labels for specific topics"
It would be helpful to all if issues could be labelled. In the ARIA repo we have some for the different documents, like: APG, ARIA, AAM, etc. We also have some for specific topics, which might be more suited here: accessibility, security, editorial, etc.

[2016-01-20 10:05] stevefaulkner opened #6 "update ARIA information for each element"
The spec includes informative content about which ARIA role/states/properties it is conforming to use on each element. This content needs to be udpated to reflect the definitions in [ARIA in HTML](https://www.w3.org/TR/html-aria/)

[2016-01-20 10:30] stevefaulkner opened #7 "fix main element definition"
the main element definition no longer reflects the W3C version
http://w3c.github.io/html/#the-main-element
update to reflect:
https://www.w3.org/TR/2014/WD-html51-20140204/grouping-content.html#the-main-element

[2016-01-20 12:54] iandevlin commented on #1
Hmm, would this explain why, after running 'bikeshed -f spec' I get a buttload of fatal errors?

FATAL ERROR: No 'idl' refs found for 'item()' with for='NodeList'.
FATAL ERROR: No 'idl-name' refs found for 'href'.
FATAL ERROR: No 'idl-name' refs found for 'value'.
FATAL ERROR: No 'dfn' refs found for 'selected'.
FATAL ERROR: No 'dfn' refs found for 'caption'.
FATAL ERROR: No 'dfn' refs found for '

[2016-01-20 13:04] ZoeBijl commented on #1
@iandevlin just tried again on my branch (without the bikeshed-files folder) and I get the same errors. Is it an error in the source? Or did I miss something while installing Bikeshed on OS X 10.10?

[2016-01-20 13:13] iandevlin commented on #1
I have no idea where those errors are coming from, I know nothing at all about bikeshed.

[2016-01-20 13:17] ZoeBijl commented on #1
Me neither, but I read some of the documentation. And it might be something in the source, because if I use [the API version](https://api.csswg.org/bikeshed/) on single-page.bs in the repo folder:

`curl https://api.csswg.org/bikeshed/ -F file=@single-page.bs -F forece=1 > test.html`

test.html will contain this:

Maybe the references are hooked up wrong?

[2016-01-20 19:36] LJWatson opened #8 "Update feedback info to point to Github"
The explanation of how to provide feedback on the spec mentions p-html@w3.org. This needs to be updated to point to Github issues instead.

[2016-01-20 20:37] #7 closed, assigned to stevefaulkner

[2016-01-20 20:39] #1 closed, assigned to nobody

[2016-01-20 21:49] travisleithead commented on #4
I believe this was a merge problem due to hgroup being in the list of tag omission...

[2016-01-20 22:26] stevefaulkner opened #11 "ARIA section has reverted back to stale version"
http://w3c.github.io/html/#wai-aria needs to be updated to reflect https://www.w3.org/TR/html51/dom.html#wai-aria

[2016-01-20 22:33] stevefaulkner opened #12 "formatting of some image examples have gone awry"
need to tweak formatting of some of the examples in
http://w3c.github.io/html/#alt-text

[2016-01-20 22:35] stevefaulkner opened #13 "how does the HTML files in repo get updated?"
is the single-page.html file auto updated when changes are made to the .bs files?

[2016-01-20 22:58] travisleithead commented on #4
Fixed by PR #10

[2016-01-20 22:58] #4 closed, assigned to nobody

[2016-01-20 23:29] travisleithead commented on #13
Apparently not. Does anyone know how to set that up?

[2016-01-21 00:09] LJWatson commented on #13
You need to install Bikeshed (instructions linked from the readme.md).

You edit single-page.bs (or one of the include  files it references), then run Bikeshed on the .bs file. This generates the single-page.html file. With that done you should be ok to issue a PR.

We're working on documentation for this.

[2016-01-21 00:16] LJWatson commented on #8
Updated in Bikeshed (with thanks to @tabatkins)
https://github.com/tabatkins/bikeshed/pull/570

[2016-01-21 00:16] #8 closed, assigned to nobody

[2016-01-21 02:18] tripu opened #15 "Link to https://w3c.github.io/html/ from project description"
Projects using `gh-pages` usually put that URL [at the top of the front page](https://github.com/w3c/html/#repo_homepage).
It just saves a few seconds to anyone visiting who wants to take a look at the generated document :)

[2016-01-21 06:15] chaals commented on #15
Your Pull Request would have been welcome ;)

Anyway, agreed. https://github.com/w3c/html/commit/095a83aa711240f50430eb53172157dd968e19a4 puts it in the README and I'll add it to the description.

[2016-01-21 06:23] tripu commented on #15
Ah, the README too, @chaals. Thanks :)

But my suggestion isn't pull-request-able: I mean the two project fields (_description_ and _website_) that you see at the top of the main page of the repo (follow my link above)&hellip;

I could have done that myself, but I wouldn't dare without asking the maintainers of the repo first! :)

[2016-01-21 07:50] ZoeBijl commented on #13
@LjWatson some of us—@iandevlin and I—have issues when we run Bikeshed, see [comments on issue number one](https://github.com/w3c/html/issues/1#issuecomment-173195765). @tabatkins said in the Bikshed gitter channel that [those are linking issues](https://gitter.im/tabatkins/bikeshed?at=56a0222da03e28ad1adfed0d). Is this something you're aware of and are working on?

[2016-01-21 08:53] ZoeBijl opened #16 "Why is the force attribute required in the Bikeshed command?"
We al like to use the force, but is it really necessary to bikeshed the spec with it? If there are no issues, `bikeshed spec` should work too, right?

[2016-01-21 08:55] ZoeBijl commented on #1
@iandevlin what OS do you use? I'm on OS X 10.10.5 and did not install anything other than Bikeshed.

[2016-01-21 09:10] iandevlin commented on #1
@MichielBijl The same, although I had to install MacPorts too. Everything appears to work though, regardless of the fatal errors.

[2016-01-21 10:52] prlbr commented on #4
Thanks!

[2016-01-21 11:57] chaals opened #19 "`accesskey` should not need to be a single character in length."
There is no reason to require that values proposed for `accesskey` are a single character, and [multiple reasons not to do so](https://www.w3.org/Bugs/Public/show_bug.cgi?id=23615).

Note that [Internet Explorer supports this](http://chaals.github.io/accesskey/tests/accesskey-word-manual.html).

[2016-01-21 11:58] chaals opened #20 "Authors should not use multiple values for `accesskey`"
This is only supported by Internet Explorer - other browsers that support HTML4 `accesskey` fail to provide any working shortcut if there is more than a single character given as the attribute value.

[2016-01-21 12:00] chaals opened #21 "User agents should respect user preferences for assigning `accesskey` values, not guess at the keyboard"
The current specification does not mention user preferences, but does suggest user agents make determinations based on the user's keyboard - something that in practice they do not, and cannot do.

[2016-01-21 13:19] chaals commented on #21
See also https://www.w3.org/Bugs/Public/show_bug.cgi?id=27654

[2016-01-21 14:47] LJWatson opened #24 "Typo in 4.7.1.1.16 When a text alternative is not available at the time of publication"
Originally posted by @valerii-zinchenko [1]

First code example.
Current text:
"In this example, a person uploads a photo, as part of a bulk upoad of many images..."
I think it should be:
"In this example, a person uploads a photo, as part of a bulk upload of many images..."

[1] https://lists.w3.org/Archives/Public/public-html/2015Oct/0003.html

[2016-01-21 14:48] LJWatson opened #25 "Typo in 4.7.1.1.18 Icon Images"
Originally posted by @valerii-zinchenko [1]

Current text:
"... As the information conveyed by the icon is redundant the img element is given an an empty alt attribute."
I think it should be:
"... As the information conveyed by the icon is redundant the img element is given an empty alt attribute."

[1] https://lists.w3.org/Archives/Public/public-html/2015Oct/0003.html

[2016-01-21 15:11] LJWatson opened #26 "Error in 4.2.5.1 standard metadata names"
Originally posted to public-html@w3.org [1].

In description of application-name,
Current text is :

[code]

i think that it shoud be :

[code]

[1] https://lists.w3.org/Archives/Public/public-html/2015Nov/0001.html

[2016-01-21 16:20] ZoeBijl commented on #26
This seems to already be fixed in 5.1: [4.2.5.1. Standard metadata names in HTML 5.1](http://w3c.github.io/html/#standard-metadata-names).

Code from `semantics.include` (line 887 at the moment of writing):

[code]

[2016-01-21 16:39] chaals commented on #26
Yes, seems we can close this. Thanks

[2016-01-21 16:39] #26 closed, assigned to nobody

[2016-01-21 16:43] ZoeBijl opened #27 "Issue link incorrect for non contributors"
If I run Bikshed after I've fixed a bug in the spec, it will set the issue link in single-page.html to my GitHub repository. This prevents me to run all the steps in the contributing guide. Should I create pull requests without running Bikeshed?

To be more specific, Bikeshed generates this code:

[code]

[2016-01-21 18:37] chaals opened #28 "Need a change log for humans"
There needs to be a proper changelog, that normal people can understand, similar to https://www.w3.org/TR/html5-diff/ to clarify what has changed since HTML 5 - and ideally between milestone working drafts, to assist review.

[2016-01-21 21:01] tabatkins commented on #1
It just looks like the conversion isn't quite complete.  Linking errors just make the attempted link _not_ link to anything, so it's a relatively benign failure, tho they should be fixed.

[2016-01-21 21:19] adrianba commented on #16
There are currently two errors because of an [issue with PutForwards](https://github.com/tabatkins/bikeshed/issues/559).

[2016-01-21 21:22] adrianba commented on #1
There should only be two errors (see #16).

FATAL ERROR: No 'idl-name' refs found for 'href'.
FATAL ERROR: No 'idl-name' refs found for 'value'.

[2016-01-21 23:05] travisleithead commented on #21
This makes sense-- keyboard alone may not be enough context.

[2016-01-22 00:45] adrianba opened #30 "Figure out how acknowledgements.include was supposed to be included"
Work with @arronei to figure out why acknowledgements.include isn't referenced into the main spec (and some of the other include files).

[2016-01-22 00:51] #27 closed, assigned to adrianba

[2016-01-22 04:46] ZoeBijl commented on #27
Woohoo!

[2016-01-22 05:15] chaals commented on #21
More to the point,
1. user agents normally not know what keys the user's keyboard has, and
2. in practice no user agent I can find follows the suggestion in the spec.

[2016-01-22 08:24] iandevlin commented on #1
Well I just updated to the latest version and am still getting all the errors:

FATAL ERROR: No 'idl' refs found for 'item()' with for='NodeList'.
FATAL ERROR: No 'idl-name' refs found for 'href'.
FATAL ERROR: No 'idl-name' refs found for 'value'.
FATAL ERROR: No 'dfn' refs found for 'selected'.
FATAL ERROR: No 'dfn' refs found for 'caption'.
FATAL ERROR: No 'dfn' refs found for 'seeking'.
FATAL E

[2016-01-22 11:16] stevefaulkner opened #33 "What to do about the document outline?"
As many people have been lead to believe it actually effects the semantics of headings, when in practice it does not, currently HTML has a [warning for web developers](https://www.w3.org/TR/html5/sections.html#outlines) about the document outline algorithm as its semantics are not implemented in UA's and visual styling of headings based on their section nesting is only partially implemented.

In a

[2016-01-22 13:08] detlevhfischer commented on #33
This may be nonsense but I give it a shot:
Wouldn't it be possible for a script to query whether a (future) browser suports the outline algorithm? If it does, the script could parse headings of content being inserted and renumber them so heading levels start one below the (possibly generated) parent numbering level and shift levels accordingly. If it doesn't (the fallback for browsers that ignore

[2016-01-22 15:47] stevefaulkner commented on #33
sure,but that does not help with the question of what the spec should say about the outline and how it defines the effect of sectioning elements.
FYI [&lt;HTML5-h>](https://github.com/ThePacielloGroup/html5-h#html5-h)

[2016-01-22 16:23] tabatkins commented on #1
Yes, this is not a Bikeshed bug, it's linking errors in the source.

[2016-01-22 17:47] chaals commented on #33
More to the point, writing such a script seems like a lot of work, and highly prone to going wrong.

If browsers are not going to fix the longstanding bugs, maybe we should stop telling people to behave as though they will.

In the case of heading levels, there is a serious problem that the browsers effectively report one level of heading to the user, through a default styling, and a different lev

[2016-01-22 17:50] chaals opened #34 "Why restrict `header` and `footer` from nesting"
The specification says that `header` and `footer` elements cannot contain each other, so cannot be nested.

There is a [longstanding bug](https://www.w3.org/Bugs/Public/show_bug.cgi?id=19054) and some use cases, and it isn't clear what purpose is served by the restriction.

Seems reasonable to me that we drop the restriction. Does anyone know of something that would actually break?

[2016-01-22 19:21] adrianba commented on #1
I had this problem once before and it turned out I really didn't have the latest bikeshed even though I thought I did. Try `git pull -f` in the bikeshed folder and maybe the html folder.

@tabatkins - are you saying tabatkins/bikeshed#559 is not a bug? If so, can you help me figure out what to change in the source? These are the last two errors keeping from building clean.

[2016-01-22 19:24] tabatkins commented on #1
Nah, that one's def a bug on my part.

[2016-01-22 19:35] tabatkins commented on #16
And that's fixed now. Let me know if there's anything left.

[2016-01-23 12:34] iandevlin commented on #1
Ok, thanks for the info.

[2016-01-23 14:06] AndySky21 opened #35 "Iframe seamless"
Is it in W3C plans to remove `seamless` attribute from `<iframe>` element as it has been done in WHATWG draft?

If that's the case, will authors have to explicitly link stylesheets/embed `<style>` elements inside `srcdoc` documents in order for them to look more integrated with the containing document?

[2016-01-23 14:10] AndySky21 opened #36 "Broken links in draft intro"
This Version: http://www.w3.org/TR/2016/WD-html-5.1-20160113/ - Document not found

Latest version: http://www.w3.org/TR/html/ - This points to HTML5, W3C Recommendation 28 October 2014. Is it correct?

Previous Versions: http://www.w3.org/TR/2014/WD-html51-20140204/ - Is this correct? Shouldn't it be http://www.w3.org/TR/2015/WD-html51-20151008/ (HTML 5.1, W3C Working Draft 08 October 2015)?

~~I

[2016-01-25 09:30] tripu commented on #15
Description and URL added to the front page after talking with @chaals.

[2016-01-25 09:30] #15 closed, assigned to nobody

[2016-01-26 12:59] AndySky21 opened #37 "Typo in "obsolete features" section"
http://w3c.github.io/html/obsolete.html#non-conforming-features , end of section:

[2016-01-26 13:12] AndySky21 opened #38 "Obsolete value for type attribute on <menu>"
Admittedly, this issue refers to an element which has met a terrible fate (hasn't it?) due to lack of implementation.

The allowed keywords for `type` attribute on `<menu>` element have been listed as `popup` and `toolbar` since [May 2013](https://www.w3.org/TR/2013/WD-html51-20130528/interactive-elements.html#the-menu-element) and up until [October 2015](https://www.w3.org/html/wg/drafts/html/mas

[2016-01-27 15:35] chaals commented on #30
Believed to be a simple error, expected to be fixed rapidly…

[2016-01-27 15:46] stevefaulkner opened #39 ""block" linked incorrectly"
in http://w3c.github.io/html/editing.html#inertness

"When a new dialog is made to **block** a Document"
'block' is incorrectly linked to https://drafts.csswg.org/css-display-3/#block

[2016-01-27 15:48] chaals opened #40 "Remove appcache from future HTML specs"
It is something that doesn't do what people expect, and while it is used today in combination with web storage and other techniques, we expect it to be rendered truly obsolete by Service Workers.

There is an HTML5 recommendation, showing people how to implement `appcache`, if they want to make 2015-era browsers.

[Firefox has deprecated, and plans to remove it](https://www.fxsitecompat.com/en-CA/

[2016-01-27 16:26] chaals commented on #5
I've set up a handful of labels, for management of the issues "at a glance".

I think an issue is itself a topic - there shouldn't really be three issues for the same thing (although I realise I am guilty of doing that)...

(Feel free to reopen if you think we should be doing something differently)

[2016-01-27 16:26] #5 closed, assigned to nobody

[2016-01-27 16:33] chaals commented on #19
Also note that none of Chromium-based browsers, nor Firefox or Safari, support the HTML5 definition of `accesskey` - they **break** if you don't use the HTML4 version.

[2016-01-28 09:20] LJWatson commented on #33
Unless there is an implimentation of the outline algorithm that honours heading structuring, I think the advice in the HTML spec should recommend the use of ranked headings.

@stevefaulkner noted (elsewhere) that ePub3 uses the outline algorithm to produce a table of contents [1]. It doesn't seem to influence heading structure AFAIK though.

[1] http://www.idpf.org/epub/30/spec/epub30-overview.htm

[2016-01-28 16:55] arronei commented on #30
Fixed by change #41

[2016-01-28 16:55] #30 closed, assigned to adrianba

[2016-01-29 08:53] AndySky21 commented on #34
The long-standing bug linked here has some use cases but as it emerged in the text, the use they make of footer element is too loose (appendices for ebooks, or the container for the _whole_ text of a license agreement).

As it was stated in the messages, I would suggest to drop the suggestion that footers can contain articles or appendices, or at least clarify what kind of appendices might be put

[2016-01-29 09:44] AndySky21 opened #43 "Keygen element removal"
The `keygen` is stated to be in the process of being removed from the Web platform, probably due to a lack of implementations, and its use is discouraged.

So why isn't it listed as obsolete feature?

[2016-01-29 10:43] chaals commented on #43
It has been widely implemented, but I'm not sure how well. There was a pretty lively discussion about its proposed removal, and we should look at the outcome of that before simply dropping it.

[2016-01-29 10:51] AndySky21 commented on #43
That's much clearer now.

If you are not sure, probably advising authors to check by themselves if it works as expected before using it in production would be better than just stating it should not be used. This way implementers won't feel it's safe to drop support of it, I guess.

Thank you for the answer!

[2016-01-29 11:18] AndySky21 commented on #35
The label says all, I guess.

However, note that, in order for authors to embed `srcdoc` documents and avoid making them look like something out of context, they will have to insert inline `style` or `link rel=stylesheet` elements. The implications are:
1. There will be more calls to the server in link or style-import scenario, or longer srcdoc snippets in inline style scenario.
   - in order for

[2016-01-29 16:40] ZoeBijl commented on #16
No that seems to have done it, thank you!

[2016-01-29 16:40] #16 closed, assigned to adrianba

[2016-01-29 16:44] #24 closed, assigned to chaals

[2016-01-29 16:46] arronei commented on #25
Fixed merged

[2016-01-29 16:46] #25 closed, assigned to chaals

[2016-01-29 16:57] LJWatson opened #44 "Update 5.4.3 (tabindex attribute) with Shadow DOM info"
Focus management with respect to tabindex in the shadow DOM was discussed at TPAC [1]. An issue to update the Shadow DOM spec has since been opened [2].

The issue includes a suggestion to update the HTML specification (5.4.3 the tabindex attribute [3]).

[1] https://www.w3.org/2015/10/26-webapps-minutes.html
[2] https://github.com/w3c/webcomponents/issues/375#issuecomment-176572385
[3] http://w3c

[2016-01-29 17:51] chaals commented on #3
PR #45 fixes point 2. How much background do you think people really need here?

[2016-01-29 18:54] ZoeBijl commented on #3
Hmm, I think people would be interested in the purpose of this specification and how it (will) differ(s) from the WHATWG one (like we discussed in November).

[2016-01-31 23:29] takenspc opened #47 "10.3.6. Quotes is broken"
The CSS user agent style sheet of "10.3.6. Quotes" is broken
https://w3c.github.io/html/rendering.html#quotes

[code]

should be

[code]

[2016-01-31 23:38] takenspc opened #48 "Wrong bikeshed tag in 10.5 Bindings"
There are few wrong bikeshed tag in 10.5 Bindings.

10.5.1. Introduction
https://w3c.github.io/html/rendering.html#bindings-introduction
https://github.com/w3c/html/blob/gh-pages/sections/rendering.include#L1471

[code]

should be

[code]

10.5.11. The marquee element
https://w3c.github.io/html/rendering.html#the-marquee-element-rendering
https://github.com/w3c/html/blob/gh-pages/sections/renderin

[2016-01-31 23:50] takenspc opened #49 "<nested browsing context in 10. Rendering"
https://github.com/w3c/html/blob/gh-pages/sections/rendering.include

[code]

should be

[code]

10.3.2. The page
https://w3c.github.io/html/rendering.html#the-page

10.4. Replaced elements
https://w3c.github.io/html/rendering.html#replaced-elements

10.6. Frames and framesets
https://w3c.github.io/html/rendering.html#frames-and-framesets

[2016-02-01 00:22] takenspc opened #50 "HTML3.2 should be HTML 3.2 in 1.4. History"
1.4. History
https://w3c.github.io/html/introduction.html#introduction-history
https://github.com/w3c/html/blob/gh-pages/sections/introduction.include#L78

should be

HTML 3.2
https://www.w3.org/TR/REC-html32

Note: WHATWG HTML Standard uses the term 'HTML 3.2'
https://html.spec.whatwg.org/multipage/introduction.html#history-2

[2016-02-01 00:29] takenspc opened #51 "Wrong markup in 1.10.1. Presentational markup"
https://w3c.github.io/html/introduction.html#presentational-markup

It seems that markdown conversion created a wrong markup in 1.10.1. Presentational markup.

https://github.com/w3c/html/blob/gh-pages/sections/introduction.include#L838

[code]

should be

[code]

because "For those reaseons" means "The use of presentational elements leads to poorer accessibility", "Higher cost of maintenance" and

[2016-02-01 11:31] AndySky21 opened #52 "Constraint validation limits"
I was elaborating a polyfill for what I consider a missing feature in form validation (you can find it, along with the related proposal, in my repositories) and I found out a limitation regarding how custom validity is defined.
The current mechanism of defining an error based on its error message, while efficient sometimes, makes it quite difficult for scripts defining different custom errors to i

[2016-02-01 16:54] chaals commented on #33
An apparent implementation as a [Firefox extension](https://addons.mozilla.org/es/firefox/addon/headingsmap/) - I haven't tested this _yet_

[2016-02-01 16:58] stevefaulkner commented on #33
there are also bookmarklets and the nu markup checker implements

##

Regards

SteveF
Current Standards Work @W3C
http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/

On 1 February 2016 at 16:54, chaals notifications@github.com wrote:

[2016-02-01 17:14] chaals commented on #33
So I wonder if any of those _don't_ work with the old `h1..h6` model, and if such things exist whether they are important to the real world…

[2016-02-01 17:23] LJWatson commented on #33
@stevefaulkner @chaals would any of those tools break if we updated the spec to recommend explicitly ranked headings instead of `<h1>` only?

[2016-02-01 17:24] stevefaulkner commented on #33
On 1 February 2016 at 17:23, Léonie Watson notifications@github.com wrote:

no

##

Regards

SteveF
Current Standards Work @W3C
http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/

[2016-02-01 17:37] AndySky21 commented on #33
Here's another example, this time for Chrome (not thoroughly tested, but it works somehow)
https://chrome.google.com/webstore/detail/html5-outliner/afoibpobokebhgfnknfndkgemglggomo

[2016-02-02 00:50] takenspc opened #53 "Wrong bikeshed tags in 2. Common infrastructure"
There are few wrong bikeshed tags in 2. Common infrastructure

2.1.1. Resources
https://w3c.github.io/html/infrastructure.html#resources

2.1.6. Character encodings
https://w3c.github.io/html/infrastructure.html#encoding-terminology

2.7.1. Reflecting content attributes in IDL attributes
https://w3c.github.io/html/infrastructure.html#reflecting-content-attributes-in-idl-attributes

2.4.5.8. Weeks

[2016-02-02 00:51] takenspc opened #54 "A typo in 2.4.8. Comma-separated tokens"
2.4.8. Comma-separated tokens
https://w3c.github.io/html/infrastructure.html#comma-separated-tokens

has a following typo.

[code]

should be

[code]

[2016-02-02 01:03] chaals commented on #43
It's an open question because it may be the case that it gets dropped from implementations - we'll have to watch and see how this unfolds

[2016-02-02 01:07] chaals commented on #47
Thanks for this and the many other corrections. I'll get them into a PR sometime this week...

[2016-02-02 09:34] stevefaulkner opened #56 "Consider removing table sorting model"
has been removed in whatwg due to lack of implementer interest
https://github.com/whatwg/html/issues/345

related ARIA thread
https://lists.w3.org/Archives/Public/public-aria/2016Feb/thread.html#msg11

[2016-02-03 00:59] ddorwin opened #58 "References to Web IDL members no longer links."
All references to members of HTMLMediaElement, including attributes and constants used to be links to the definition. Now, they are no longer links. Even some attributes are no longer links in the Web IDL itself.

Specific examples (compare to https://www.w3.org/TR/html/embedded-content-0.html#media-elements):
- Member constants, such as `NETWORK_EMPTY` and `HAVE_NOTHING` are links in the [IDL](ht

[2016-02-03 14:15] chaals commented on #56
A possible approach to doing this sensibly is to move it from HTML to aria - but this looks like explicitly pushing the scope of ARIA beyond accessibility APIs. Which is its own can of worms…

[2016-02-03 14:16] chaals commented on #21
Hmm. This is closed by #22 I think.

[2016-02-03 14:29] stevefaulkner commented on #56
i don't understand what this would achieve as ARIA already provides acc API hooks via aria-sorted.  Why would implementers be any more interested to implement it if it was moved to ARIA? Perhaps it could be separated into a module and see if anybody in the WICG wants to take it up.

[2016-02-03 14:41] iandevlin commented on #34
Unfortunately the 'longstanding bug' that has been linked to won't open for me (the whole bug tracker appears to be down) so although I cannot think of a specific use case that would warrant nested `header` and `footer` elements, I also don't see why it should be explicitly restricted.

[2016-02-03 14:45] ZoeBijl commented on #56
Moving things from HTML to ARIA seems backwards to me; it's supposed to work the other way around.

[2016-02-03 14:56] LJWatson commented on #56
If there are no current browser implimentations and no sign this will change (which seems likely based on the WHATWG thread), we should just remove this feature.

If there is any reason to think this would be controversial, suggest posting a pointer to this issue on p-webapps@ and inviting wider comment.

[2016-02-03 16:27] #54 closed, assigned to chaals

[2016-02-03 16:31] #49 closed, assigned to chaals

[2016-02-03 16:34] arronei commented on #28
@chaals I am creating a complete html diff file for you. This will at least help in figuring out all the changes between tr/HTML5 and the current version as of 2/3

[2016-02-03 16:37] #37 closed, assigned to chaals

[2016-02-03 17:38] plehegar opened #61 "DOMSettableTokenList is no longer"
Consider replacing those with DOMTokenList instead.

[2016-02-04 11:16] #39 closed, assigned to chaals

[2016-02-04 14:41] tzik opened #62 "A stale link, a missing attribute description, and an inverted content model condition."
Translated from [a post of a local developer community by mount-root-yy](https://groups.google.com/d/msg/html5-developers-jp/TFXiXjWtU20/4pMzXS4lGAAJ).
- On [the Guidance for conformance checkers of <img>](https://w3c.github.io/html/semantics.html#guidance-for-conformance-checkers), the second bullet item mentions the title attribute, but the link is not related to it.
- "datetime-local" is missin

[2016-02-04 16:26] arronei commented on #28
@chaals you now have a diff file to look at for creating the change log. I have added it to the diff folder for now. We can determine later if we want to do more with this diff file.

[2016-02-05 14:25] plehegar opened #64 "dropzone isn't supported"
As far as I can tell, drop zone isn't supported on existing browsers.
Test at:
http://w3c-test.org/html/editing/dnd/dropzone/007.html

[2016-02-05 14:57] ZoeBijl commented on #64
What part of the spec is this referring to?

[2016-02-05 15:09] stevefaulkner commented on #64
http://w3c.github.io/html/editing.html#the-dropzone-attribute

##

On 5 February 2016 at 14:57, Michiel Bijl notifications@github.com wrote:

[2016-02-05 15:19] plehegar commented on #64
Also appear in http://w3c.github.io/html/dom.html#dom-htmlelement-dropzone

[2016-02-06 17:20] foolip commented on #21
You reverted this change again in b5ed70739158bd2b13a99cdac8e3f4a2faa5e751, presumably by mistake.

[2016-02-06 19:26] foolip commented on #62
I keep an eye on this repo to see what issues also apply to the [WHATWG upstream](https://github.com/whatwg/html), some pointers:
- The `<img>` problem looks like fallout of changes around `title` on `<img>`
- "datetime-local" is not missing in https://html.spec.whatwg.org/multipage/forms.html#attr-input-type-keywords, perhaps it's a failed cherry-pick of https://github.com/w3c/html-old/commit/3e5

[2016-02-06 19:59] chaals commented on #21
Well, I made a mess of the Pull Requests, and applying them in reverse order was the simplest (but not "best" way to fix it.

[2016-02-07 09:53] stevefaulkner opened #68 "header listed under "sections", but is not sectioning content"
http://w3c.github.io/html/semantics.html#sections
suggest moving to grouping content
http://w3c.github.io/html/semantics.html#grouping-content

[2016-02-07 10:06] stevefaulkner commented on #34
[`header` is defined](http://w3c.github.io/html/semantics.html#the-header-element) as

as `header` itself is neither  sectioning content or sectioning root, it makes no sense to allow a `header` as a child of `header`.
Suggest we add some advice to spec to effect that if there is a circumstance where an author thinks `header` or `footer` needs a nested `footer` or `header` then use a `section` ele

[2016-02-08 15:49] halindrome opened #69 "American English and e.g."
This is a global comment, and a nit.  W3C Recommendations use American English (for better or worse).  In American English, the abbreviation 'e.g.' should ALWAYS have a comma after it, as should the abbreviation 'i.e.'.

I would submit a PR for this, but it would be vast and the potential for collision is high.  Sorry :(

[2016-02-08 15:59] #61 closed, assigned to arronei

[2016-02-08 22:05] unor commented on #33
A JavaScript implementation, also offering a bookmarklet ([screenshot](http://softwarerecs.stackexchange.com/a/2191/60)): https://github.com/hoyois/html5outliner

[2016-02-10 19:40] adrianba opened #75 "Current draft is WD but should be ED"
The current spec is an editor's draft but uses the WD template. We need to create the ED template and change the single-page.bs to use `Status: ED`.

We will also eventually need templates for CR, PR, and Rec.

[2016-02-10 19:44] adrianba opened #76 "Fix broken internal links in the document"
There are several broken links in the document where `<a href="#something">` exists without a corresponding `<xxx id="something">`. These are found by the multipage splitter. The current list is:

[code]

[2016-02-10 19:57] adrianba opened #77 "Fix broken external links"
The [W3C link checker](http://validator.w3.org/checklink?uri=https%3A%2F%2Fw3c.github.io%2Fhtml%2Fsingle-page.html&hide_redirects=on&hide_type=all&depth=&check=Check) shows several broken links including the _table sorting model_ links reported in issue #36.

[2016-02-10 20:06] adrianba commented on #36
Merged as 670f986203f618b614244ae0dda8b2d22cc1454f

Note the broken table sorting links issue is tracked in issue #77.

[2016-02-10 20:06] #36 closed, assigned to adrianba

[2016-02-10 20:11] adrianba commented on #13
Fixed by 8fd90967b036bb97c26013ba8c5c667e7935773e

[2016-02-10 20:11] #13 closed, assigned to adrianba

[2016-02-10 23:00] tabatkins commented on #1
And tabatkins/bikeshed#559 is fixed now, so hopefully that's the last of the linking errors in the HTML source.

(A week or two ago it should have stopped erroring, but only because I stopped trying to link the particular thing that was going bad. Now it's fixed for real and should link properly.)

[2016-02-12 09:41] chaals commented on #20
[A test, and some results](http://chaals.github.io/accesskey/tests/accesskey-two-latin-manual.html)

[2016-02-12 09:43] chaals commented on #19
[A test with some results](http://chaals.github.io/accesskey/tests/accesskey-word-manual.html)

[2016-02-12 17:38] #47 closed, assigned to chaals

[2016-02-15 16:42] #50 closed, assigned to chaals

[2016-02-15 16:46] #48 closed, assigned to chaals

[2016-02-15 16:46] #51 closed, assigned to chaals

[2016-02-15 16:50] #12 closed, assigned to stevefaulkner

[2016-02-15 16:52] AndySky21 commented on #52
I suppose there was an error, 251275a solves #53 and it has nothing to do with this :)

[2016-02-15 17:45] chaals commented on #52
Yes.@AndySky21 I **think** I understand your use case, as making it easier for two different scripts to run over the same form, potentially providing two types of validation on the same form element.

Is that correct? If so, I think this is a feature request. It probably makes sense to do it within the HTML spec, but we will look for tests that show something works in browsers before making the ch

[2016-02-15 18:03] stevefaulkner commented on #11
fixed by https://github.com/w3c/html/commit/4faeb650f0d0a4d2882aa6aaf968e57cec6c7f1f

[2016-02-15 18:03] #11 closed, assigned to stevefaulkner

[2016-02-15 18:10] AndySky21 commented on #52
[AlternativeRequired](https://github.com/AndySky21/AlternativeRequired) is indeed the polyfill I mentioned. In that case I check that the custom error message string #is one of those generated by my own script, before unsetting it. This way, if other custom errors are generated, they do not conflict.

Yes, that's exactly my issue. Different custom errors are difficult to distinguish, as they all r

[2016-02-15 18:53] chaals commented on #52
Yeah, I certainly see value in the proposal. But that doesn't mean it will be implemented by browsers, and if it isn't there is not much point putting it where developers will read it and assume it works :)

[2016-02-15 23:55] takenspc commented on #53
Sorry for wrong commit comment.

w3c/html/@251275a fixed #53.

[2016-02-15 23:55] #53 closed, assigned to arronei

[2016-02-16 12:44] chaals commented on #21
(Yeah, @foolip is right that the PRs got applied in the wrong order. I'll make another one to fix this again)

See also [accesskey-cyrillic-latin-link-manual.html](https://chaals.github.io/accesskey/tests/accesskey-cyrillic-latin-link-manual.html) and [accesskeylabel-manual.html](https://chaals.github.io/accesskey/tests/accesskeylabel-manual.html) for tests that show that this change matches reali

[2016-02-16 13:37] #21 closed, assigned to nobody

[2016-02-16 14:12] stevefaulkner opened #88 "mysterious empty span which added to code examples."
saw this: https://twitter.com/diffofhtmls/status/699567375633350656 I checked through commits and found no issue. Appears as if publishing process has added some random code?

[2016-02-16 17:31] chaals opened #89 "Make readonly work on range?"
Some browsers respect a [`readonly` attribute on `input type="range"`](http://chaals.github.io/testcases/readonlyNonAlphaNumericFormControls.html) and there seem to be use cases.

HTML currently says this is wrong. Which should it be?

[2016-02-16 17:33] chaals opened #90 "Do multiple ranges work?"
They are in the spec, but appear not to work in any of Firefox, Yandex Browser or Safari on Mac OS. Anything on Windows, or should they go?

[a simple test - the second range has multiple values](http://chaals.github.io/testcases/readonlyNonAlphaNumericFormControls.html)

[2016-02-16 17:35] chaals opened #91 "Allow `readonly` on `input type="color"`?"
Doesn't seem to work anywhere, but people have use cases for it.

[testcase](http://chaals.github.io/testcases/readonlyNonAlphaNumericFormControls.html)

[2016-02-16 17:36] chaals opened #92 "Allow `readonly` on checkboxes and radio buttons?"
Not sure if it works anywhere. There seems to be a use case for distinguishing between disabled and readonly, although it might be unnecessary complication. As far as I know it does work anywhere (only tested mac browsers though).

[testcase](http://chaals.github.io/testcases/readonlyNonAlphaNumericFormControls.html)

[2016-02-17 02:19] ZoeBijl commented on #90
You mean as in a range slider with multiple thumbs?

[2016-02-17 22:01] #75 closed, assigned to arronei

[2016-02-17 22:01] #69 closed, assigned to arronei

[2016-02-19 23:01] #88 closed, assigned to arronei

[2016-02-22 21:47] travisleithead commented on #92
[inclusive of Issue #91]

On windows, readonly also doesn't work anywhere except for Chrome on Windows makes `input[type=range]` non-adjustable.

My interpretation of the spec's position on readonly is that it is intended to apply to textual input scenarios, and input controls that represent physical knobs and switches, etc., are not applicable to readonly. (This appears to be confirmed in the spe

[2016-02-22 21:55] arronei commented on #92
Also inclusive of Issue #89

[2016-02-22 21:57] travisleithead commented on #90
![image showing a HTML Slider control with two thumbs. The control represents an outbound flight selection widget that allows the user to select a range of times (one thumb for start, and another for the end of the range)](https://cloud.githubusercontent.com/assets/2152696/13234165/3b82066e-d96c-11e5-9257-3016379ee78b.png)

[2016-02-22 22:01] travisleithead commented on #90
(The picture above is from the spec.)

Not implemented on any browsers that run on Windows.

I think this is an interesting feature idea; I would propose that we migrate it out of our spec, and into a new spec that can be shepherded and gather implementer interest in the WICG.

(I'd design it so that any user-clicks into the gaps in the slider would add additional slider thumbs, and they could be

[2016-02-22 22:05] ZoeBijl commented on #90
@travisleithead could you add an alt text? You can do so via Markdown `[!alt text here](url to image)`.

I've never seen these work within OS X.

Here is another [example of slider with multiple thumbs](http://dir.rawr.eu/range.html).

[2016-02-22 22:43] travisleithead commented on #68
would you limit to...
3.2.4.2.3. Sectioning content

Sectioning content is content that defines the scope of headings and footers.
⇒  article , aside , nav , section

So... footer would go too?

[2016-02-23 21:17] plehegar commented on #76
Some have been fixed by
 https://github.com/w3c/html/commit/8a3d16d065a1512833210d45d424ecfa71131145

[2016-02-26 12:26] chaals opened #98 "Missing a link to single-page version"
For the editors' draft that's just a change to the bs, but what about when we produce a public Working Draft?

@arronei

[2016-02-26 12:28] chaals opened #99 "Only one implementation of accessKeyLabel - and the spec should be improved"
Firefox implements this, but nobody else does.

Before we ask for more implementation, it would be good if the thing was useful for authors, by giving a proper microsyntax that **can** be reliably parsed, instead of just a random string.

[2016-02-26 18:18] chaals opened #101 "a element links to SVG spec"
goes to the linking in SVG. BS metadata bug somewhere…

[2016-02-26 19:47] chaals opened #104 "Table model loses extra cells in thead"
This is https://www.w3.org/Bugs/Public/show_bug.cgi?id=22049

In the table model, there is an example of defining a `thead` with two rows. The first row ar `th` elements for the relevant columns. The second row are further useful information, which should be part of the headers unless there is a further contextual help or something - a sort of optional header, which we don't have.

The information

[2016-02-26 19:59] chaals opened #105 "Autofocus should not surprise the user"
In [Autofocusing a form control: the autofocus attribute](https://w3c.github.io/html/sec-forms.html#autofocusing-a-form-control-the-autofocus-attribute), inserting a control with `autofocus` has the step

There needs to be a better explanation of when autofocus shouldn't change the focus. In particular, dragging around user focus can be malicious, and is anti-user behaviour.

So when a user has se

[2016-02-27 21:36] chaals opened #106 "Should parsing mention ARIA and the accessibility API?"
This was https://www.w3.org/Bugs/Public/show_bug.cgi?id=13511

I **think** we should clarify that we expect an accessibility tree to be built, when the parser comes across aria stuff.

I don't know the parsing section well enough to propose a fix yet, but I'm hoping it's reasonably straightforward to put the pointer in the right place, and hand off to the ARIA mappings specs.

[2016-02-28 17:32] plehegar opened #107 "Missing tables in multipage version"
Tables such as http://w3c.github.io/html/single-page.html#events-table have disappeared in the multipage version.

[2016-02-28 23:03] dstorey opened #108 "<picture> missing from Elements table. Sizes (picture, source) from attributes list"
Picture is missing from https://w3c.github.io/html/single-page.html#index-elements

@sizes is only included for <link/>.

[2016-02-29 12:36] chaals opened #109 "The description of "label" is confusing"
As per https://www.w3.org/Bugs/Public/show_bug.cgi?id=13553

It would be good to rewrite this.

[2016-02-29 14:14] stevefaulkner opened #110 "initial pass at article definition rewrite"
I have written an initial draft of an updated [article element definition](http://stevefaulkner.github.io/article/).
This is intended as part of a wider rewrite of the way sectioning elements and the outline algorithm are defined in HTML.
The major differences between the [current article definition](http://w3c.github.io/html/sections.html#the-article-element) and the updated definition:
- What ar

[2016-02-29 14:18] stevefaulkner commented on #110
related issue https://github.com/w3c/html/issues/33

[2016-02-29 14:19] stevefaulkner commented on #33
I have made an initial pass at rewriting the article element definition (as a discussion starter), this is part of the much larger task of recasting the outlining stuff.
https://github.com/w3c/html/issues/110

[2016-02-29 15:02] unor commented on #110
What is the reason for removing the example case of "a user-submitted comment", and the paragraph starting with "When `article` elements are nested […]"?

[2016-02-29 16:23] stevefaulkner commented on #110
@unor user submitted comments would be better not marked up as `<article>` elements as the meaning of `<article>` becomes over generalised, degrading the semantics. It is arguable whether user submitted comments are _complete and self contained compositions_ as their meaning is directly tied to the context of the parent article. Also it does not often make sense to include individual user comments

[2016-02-29 17:15] prlbr commented on #6
I agree and look forward to the role `group` being listed as allowed on `header` elements in the HTML spec, too.

[2016-02-29 17:34] unor commented on #110
@stevefaulkner Is there really a semantic difference between forum posts (which are still given as example case in the rewritten definition) and comments? There can be long and nested discussions in a blog post’s comment section just like in a forum thread, and in both cases it’s possible that the replies only make sense within the parent article’s context. A forum has a different information arch

[2016-02-29 17:35] LJWatson commented on #6
@prlbr

Thanks for your comments. Could I suggest you open a new/separate issue for this?

[2016-02-29 17:57] prlbr commented on #6
@LjWatson
Ah, I'm sure we had the discussion including use cases already and it was decided that `group` would be allowed on `<header>` elements in order to be able to override the implied `banner` role. Hence `group` is indeed listed as allowed on `<header>` here: https://www.w3.org/TR/html-aria/
The purpose of my comment was just to support the idea of making the HTML spec reflect this as well,

[2016-02-29 18:32] AmeliaBR commented on #110
I would be disappointed to see comments removed from the definition of `<article>` without creating a parallel element that has the same semantic relationship to `<address>` or `rel="author"`.  For me, this authorship-encapsulation is as important a part of the semantic concept of `<article>` as its self-contained nature.

That said, I would also argue that comments are often self-contained in a m

[2016-03-01 10:31] stevefaulkner commented on #110
@unor @AmeliaBR, thanks for the insights/feedback, will work on modifying the draft, also see related https://github.com/w3c/aria/issues/275 as i consider the way `<article>` is used effects how its semantics are expressed in aural UI's and therefore the API mapping of `<article>`.

Do you have any idea about who/what consumes/makes use of the semantic relationships you describe? I understand in t

[2016-03-01 13:58] TzviyaSiegman commented on #110
The definition seems to assume that all `<article>`s are embedded in existing websites, thus require `<h2-h6>`. When I offer scholarly articles to users, I want to make the article (and nothing but the article) available. In that case, `<h1>` should (must?) be allowed.

[2016-03-01 14:17] stevefaulkner commented on #110
@TzviyaSiegman the outline algorithm dictates that a heading elements rank is based on its nesting within a section. Only headings scoped to the body element can have a rank of 1 (=h1) so the highest rank a heading can have in a section/article is 2 (=h2).

[2016-03-01 14:26] jongund commented on #110
Why are **region** and **complementary** landmark roles not allowed on the article element?

[2016-03-01 14:32] jongund opened #114 "header and footer element context as banner and contentinfo landmarks"
Where is the current definition of the context where header and footer element context have default roles of banner and contentinfo landmarks?

[2016-03-01 14:36] stevefaulkner commented on #114
in https://www.w3.org/TR/html-aam-1.0/
https://www.w3.org/TR/html-aam-1.0/#el-header
https://www.w3.org/TR/html-aam-1.0/#el-footer

[2016-03-01 14:38] darobin commented on #110
@stevefaulkner I would claim that that is a bug in the outline algorithm. It should start from the rootmost sectioning element that has a heading, or `body`, rather that automatically `body`. When publishing an article it is typical for there to be no more meaningful heading than the one given by the article, it would be quite weird to have to place the article's title outside `article`, or to hav

[2016-03-01 17:02] AmeliaBR commented on #110
@stevefaulkner Re who uses authorship semantics.

Not sure. Google used to use `rel="author"` with Google Plus profiles to enhance search results, but [dropped the feature in 2014 due to poor adoption](http://searchengineland.com/google-leave-your-authorship-markup-on-your-page-232090).  Like most of semantic HTML, there's a chicken-vs-egg issue where tools don't catch on because there isn't the s

[2016-03-01 18:08] #107 closed, assigned to plehegar

[2016-03-01 19:09] chaals opened #116 "changes section missing from multipage version"
It's present in the single-page version: https://w3c.github.io/html/single-page.html#changes

[2016-03-02 12:02] chaals commented on #90
Agree it is a nice idea. But it seems to be just that.

So I suggest that we remove it from the current spec as a fantasy…

I'll work on a PR.

[2016-03-02 15:17] chaals commented on #92
If we allowed this, the `readonly` should make the controls non-operable, as it does with text inputs, but the user would be able to see that there is a value that is being submitted with the form - whereas if the control is `disabled` that doesn't happen.

Blink-based browsers make ranges non-interactive if they are `readonly` on Mac too. And Safari makes colour pickers non-interactive by not sup

[2016-03-02 15:38] LJWatson commented on #92
@travisleithead is right about the current spec interpretation, but I think it is worth considering readonly for checkboxes and radio buttons too - with the proviso (as @Chaals noted) that they are inoperational.

The use case that comes to mind is reviewing previous form choices before final submission. The design pattern usually allows changes to be made by following a link to return to the orig

[2016-03-02 18:42] jonathanKingston opened #118 "Consider deprectation of secondary browser contexts"
See:
- https://github.com/whatwg/html/issues/582
- https://bugzilla.mozilla.org/show_bug.cgi?id=1250906

The w3c doesn't seem to specify the supported tokens like the WHATWG spec does? So no removal of the `rel="sidebar"` https://html.spec.whatwg.org/multipage/semantics.html#attr-hyperlink-rel

[2016-03-02 21:16] jordanlev commented on #110
YES! I very enthusiastically support this change. I respectfully disagree with some of the other responders here about the removal of "comments" as a use-case for the `<article>` tag -- to me this example in the spec was so confusing and ambiguous that I just never wound up using the `<article>` tag at all (because I can't think of a situation where a comment would be considered "syndicatable on i

[2016-03-02 22:26] plehegar opened #119 "prefetch is defined in resource hints"
The prefetch definition in
 https://w3c.github.io/html/links.html#link-type-prefetch

is now getting refined in the webperf group:
 https://www.w3.org/TR/resource-hints/#dfn-prefetch

The HTML spec should simply reference Resource Hints.

[2016-03-02 22:48] travisleithead opened #120 "Make changes to HTMLAllCollection to track recent discussion about making the WebIDL match reality"
See Issue: https://github.com/whatwg/html/commit/4315a98056c60637546f739c2870b6945136af6d

[2016-03-03 00:00] takenspc opened #121 "Question: license of W3C HTML"
It seems that there are two different license notices for W3C HTML:
- [LICENSE.md](https://github.com/w3c/html/blob/master/LICENSE.md) links to [W3C Software and Document Notice and License](https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document),
- On the other hand, https://w3c.github.io/html/ links to [W3C Document License](https://www.w3.org/Consortium/Legal/2015/doc-license)

[2016-03-03 00:18] chaals commented on #121
The software and document license.

[2016-03-03 01:40] travisleithead commented on #120
Oops. Looks like I was working in the w3c repo and not my own fork... well shoot. If folks would still please review this commit, I'm happy to adjust it... 738b31570455b41d9c83bbe0c613bd95a32241fa

[2016-03-03 09:45] foolip commented on #120
Did you mean to push 738b315 to master? https://github.com/whatwg/html/pull/780 has evolved since.

[2016-03-03 10:04] stevefaulkner commented on #109
removal of form attribute being discussed further here: https://github.com/whatwg/html/issues/787 @chaals can you take a look?

[2016-03-03 11:08] stevefaulkner commented on #110
@jongund

There are native HTML equivalents, so their use is encouraged by restricting role usage. What are the use cases for allowing?

[2016-03-03 11:10] stevefaulkner commented on #110
@darobin

yes i agree the outline algo itself has issues that need fixing, please feel free to file an issue

[2016-03-03 11:13] stevefaulkner commented on #110
@AmeliaBR

That is the issue I am trying to improve, the inclusion of usage rules based on semantic relationships that are not used. Unfortunately HTML is littered with potentially useful theoretical semantics that are not reflected in real world authoring practices.

[2016-03-03 12:55] domenic commented on #120
You may instead just want to add a normative reference to WHATWG HTML since that is where this HTMLAllCollection spec is actually being maintained.

[2016-03-03 19:01] travisleithead commented on #120
No, but I'm tracking whatwg/html#780 and will catch-up when I have some time today...

[2016-03-04 19:13] jasonkiss opened #122 "Typo in main element def"
"...(unless the document or applications main function is that of a search form). "

should read

"...(unless the document or application's main function is that of a search form). "

[2016-03-04 23:33] ZoeBijl commented on #122
Fixed in https://github.com/w3c/html/pull/123

[2016-03-05 13:05] takenspc opened #132 "Update chapter 6 "Loading Web Pages""
W3C HTML seems to not have intended to change "6. Loading Web pages". The section of W3C HTML is identical to WHATWG HTML Standard in theory.
https://www.w3.org/TR/2015/WD-html51-20151008/introduction.html#landscape

However there are number of differences. It can be said that W3C HTML is hard to gather implementation experiences of this section.

https://w3c.github.io/html/browsers.html#browsers

[2016-03-05 18:15] LJWatson commented on #110
@stevefaulkner
I like the rewrite. It makes the definition much easier to understand IMO.

@unor
In conversation it doesn't seem natural to refer to a comment as an article. A comment can indeed be a stand alone piece of content, but more often than not it is not (either because it references a point made in the primary article, or because it refers to another comment).

It also seems strange to h

[2016-03-05 23:52] unor commented on #110
@jordanlev and @LjWatson:

Wouldn’t this also apply to forum posts (which are still given as example in the rewrite)? Or where do you see the difference?

Exactly the same discussion could happen on a blog post page and on a forum thread (where the blog post would be equivalent to the opening post in the thread), it’s just the software that is different. Allowing `article` only in one case would m

[2016-03-06 01:32] #122 closed, assigned to nobody

[2016-03-06 02:05] arronei commented on #58
Waiting on [Update widlparser](https://github.com/tabatkins/bikeshed/issues/613)

[2016-03-06 14:05] jordanlev commented on #110
@unor:
My interpretation is that he means the forum post as-a-whole (the initial post and all of its replies)... which is equivalent to a blog post in the sense that there's an original "topic" and then a bunch of replies to it.

It sounds like you're interpreting "forum post" as each individual reply to the top-level post.

So perhaps this is something that should be clarified in the wording?

(U

[2016-03-07 10:38] alexpls opened #143 "Inbound link 404"
Hi, the w3c page https://www.w3.org/TR/html-srcset/ has a prominent link to http://www.w3.org/html/wg/drafts/html/master/embedded-content.html#attr-img-srcset, which at this stage returns a 404:

![broken-link](https://cloud.githubusercontent.com/assets/301630/13566991/2722b388-e4a4-11e5-90de-7e1ee5912d53.jpg)

Since the target page is built from this repo I figure this is the best place to raise

[2016-03-08 23:05] plehegar commented on #121
That's a bikeshed issue actually.
See
https://github.com/tabatkins/bikeshed/issues/626

[2016-03-08 23:12] plehegar commented on #116
Added in https://github.com/plehegar/multipage as a start. Will do a PR to @adrianba once I can confirm we're good.

[2016-03-08 23:24] plehegar commented on #143
This is the right place to raise the issue. The switch to bikeshed did a rewrite of the links and the multipage version uses the IDs of the sections to generate filenames. I think we should attempt to match the filenames but the fragment would remain broken in any case. We'll have to update the link in html-srcset.

[2016-03-09 14:16] stevefaulkner opened #145 "clarify text around <label>"
moved from:
https://www.w3.org/Bugs/Public/show_bug.cgi?id=13553

relates to http://w3c.github.io/html/sec-forms.html#the-label-element

[2016-03-09 14:20] chaals commented on #145
The text was already changed in #113

[2016-03-09 14:21] stevefaulkner commented on #145
thanks!

[2016-03-09 14:21] #145 closed, assigned to nobody

[2016-03-09 17:25] plehegar opened #147 "event 'scroll' type is no longer part of UIEvents"
https://w3c.github.io/uievents/#event-types-list doesn't have scroll anymore

[2016-03-09 17:54] plehegar opened #148 "event 'mousewheel' type is no longer in UIEvents"
Not part of
 https://w3c.github.io/uievents/#event-types-list

[2016-03-09 18:08] garykac commented on #148
It was replaced with `wheel` in 2010. The last UIEvents spec that mentions `wheelevent` is:
https://www.w3.org/TR/2010/WD-DOM-Level-3-Events-20100907/

[2016-03-09 18:54] garykac commented on #147
See https://github.com/w3c/uievents/issues/47 for context

[2016-03-11 14:17] plehegar opened #149 "binding property is no longer"
BECSS has been retired.
https://w3c.github.io/html/rendering.html#bindings-introduction

[2016-03-11 14:37] plehegar commented on #148
Will wait for #150 to move before adding a PR for this.

[2016-03-11 14:38] plehegar commented on #147
Will wait for #150 to move before adding a PR for this.

[2016-03-11 14:39] plehegar commented on #121
We need to upgrade bikeshed at least to https://github.com/tabatkins/bikeshed/commit/fa51152ebb4305cf1ee353d091a88c87c7934cf1

[2016-03-11 14:41] plehegar commented on #132
I'm curious about the feedback for this one. The fact is this is one of the least tested part of the HTML spec and one of the wishful thinking part of it...

[2016-03-11 14:42] plehegar commented on #116
Here we go: https://github.com/adrianba/multipage/pull/3

[2016-03-11 14:45] plehegar commented on #77
Fixes are in #150

[2016-03-11 14:45] plehegar commented on #98
Waiting for #150 to fix that one

[2016-03-11 14:50] plehegar commented on #143
I sent a request to update the link to
 http://w3c.github.io/html/semantics-embedded-content.html#element-attrdef-img-srcset

[2016-03-11 14:56] plehegar opened #151 "mediagroup attribute isn't supported"
We should consider dropping the mediagroup attribute since it lacks implementation. This one slipped into the HTML5.0 Rec without proper implementation experience.
https://w3c.github.io/html/semantics-embedded-content.html#element-attrdef-media-mediagroup

[2016-03-11 18:47] #77 closed, assigned to arronei

[2016-03-11 18:51] plehegar commented on #143
https://www.w3.org/TR/html-srcset/ got fixed.

[2016-03-11 18:51] #143 closed, assigned to plehegar

[2016-03-11 18:55] #116 closed, assigned to adrianba

[2016-03-11 19:45] plehegar commented on #121
See #152

[2016-03-14 17:45] #98 closed, assigned to plehegar

[2016-03-16 13:20] stefhak opened #154 "srcObject MediaProvider for media element has been lost"
It is missing in the latest draft, but present in
https://www.w3.org/TR/2015/WD-html51-20151008/semantics.html#htmlmediaelement
As the "Media Capture and Streams" specification relies on srcObject it should be re-inserted.

[2016-03-16 13:44] dontcallmedom commented on #154
See also https://lists.w3.org/Archives/Public/public-html/2016Mar/0011.html and follow up thread.

[2016-03-18 17:41] jdsmith3000 opened #155 "Add call to new MediaSource detachment algorithm for Media Elements"
We have a pull request in to change how a MediaSource is detached in MSE.  The [steps for detachment](http://w3c.github.io/media-source/#mediasource-detach) in the current spec require doing it for a single condition (media element transition to NETWORK_EMPTY).  We have two active bugs requesting this be changed to an algorithm that can be called generally from HTML.
- [MSE Issue #17: Should the m

[2016-03-23 21:13] #101 closed, assigned to arronei

[2016-03-28 14:18] siusin opened #159 "Why was requestAnimationFrame removed from HTML 5.1?"
The requestAnimationFrame API has been <a href="http://caniuse.com/#feat=requestanimationframe">widely implemented</a>... perhaps we can keep it in the HTML spec?

[2016-03-29 20:17] unor opened #160 "Clarification which of the link types in the Microformats 'existing-rel-values' page are valid"
From [4.8.6.14. Other link types](https://w3c.github.io/html/links.html#sec-other-link-types):

The anchor text says _page_, but the link points to the [`#HTML5_link_type_extensions` section](http://microformats.org/wiki/existing-rel-values#HTML5_link_type_extensions) on that page.

I assume that for HTML 5.1 the link types have to be defined in the linked section with the `id` `HTML5_link_type_ex

[2016-04-01 11:15] travisleithead opened #163 "Second Screen WG Feedback: synchronous APIs that require user input are problematic"
This is feedback provided from the W3C Second Screen WG to the @w3c/webplatform team generally. I'm filing it as an issue on HTML as several of the impacted APIs are defined in the HTML spec, but this is a general issue for consideration.

Paraphrased:

See also:
- TAG feedback summary: https://github.com/w3ctag/spec-reviews/issues/61#issuecomment-152439245
- Related Issue on Presentation API: htt

[2016-04-05 18:44] DigiTec opened #165 "Micro-tasks don't define insertion point semantics & all browsers disagree"
https://jsfiddle.net/h0446dky/

FireFox prints `thirdfourth` as they reopen the document after the script exits, but yet they define an insertion point for the lifetime of third and fourth (two separate promises)

Chrome prints `firstsecondthirdfourth` as they keep an insertion point the entire time

Edge either crashes or prints `third` as script execution stops after the first call to `document.

[2016-04-05 18:46] DigiTec commented on #165
@domenic @annevk Would either of you want to take a stab at this? Seems pretty critical. We believe, but have no data yet, that some sites may be hitting this issue. We are likely to put in use counters/trackers of some sort to figure out how often these edge cases are being hit.

[2016-04-05 18:47] domenic commented on #165
Sure, can you reopen over on the HTML Standard?

[2016-04-06 17:04] ZoeBijl opened #166 "Explaining how to handle focus after clipboard actions"
It is important to inform developers on how to manage focus with the use of the clipboard events. For example, where should focus move after a cut or paste command?

Propose to add text to [focus section in HTML 5.1](https://w3c.github.io/html/editing.html#focus) that explains how to handle focus in these situations.

[Original issue on the Clipboard API](https://github.com/w3c/clipboard-apis/issu

[2016-04-06 23:53] takenspc opened #167 "Examples of Application Cache are missing or broken"
In current Editor's Draft, examples of Application Cache are file names. They should be content of HTML, CSS, JavaScript and cache manifest.

http://w3c.github.io/html/browsers.html#offline-web-applications-introduction

https://github.com/w3c/html/blob/master/sections/browsers.include#L5449-L5466

[2016-04-07 09:37] chaals opened #169 "Do not recommend using nested sections with h1"
Currently there are two recommended approaches to headings: using the `h1` - `h6` in a structured nesting order, or using nested `<section><h1>` blocks relying on the outline algorithm.

Doing this **looks** right in modern browsers, which apply some simple CSS to make nested `h1` elements look similar to `h2` - `h6` according to the level of nesting. But the CSS used is pretty fragile, and the br

[2016-04-07 09:39] chaals commented on #169
This should fix the most troubling part of #33

[2016-04-07 09:42] chaals opened #170 "Hooks for extensions"
There are several extensions to HTML such as RDFa and microdata that add attributes or similar extension points. These should be included in the specification, linked to the relevant spec that defines what they do.

[2016-04-07 09:49] chaals commented on #160
It seems like it was nice to have a wiki so people could easily propose things, but it is not a helpful way to tell people what they should expect to be useful. If we manage a rhythm of publication about every year or so, it seems we could usefully define all the _accepted_ useful values in the spec directly.

[2016-04-07 10:59] annevk commented on #165
As far as I can tell this is a bug in Firefox. There's a microtask checkpoint that's part of script execution so I don't see how insertion point could get undefined before that point.

[2016-04-07 11:00] annevk commented on #165
This is probably https://bugzilla.mozilla.org/show_bug.cgi?id=1193394.

[2016-04-07 12:37] TzviyaSiegman commented on #160
Note also that `@rel` is not mapped to Accessibility APIs and the effect of the generated triples on RDFa processors is unclear (at best), Before @chaals pointed me to this issue, I logged a similar one https://discourse.wicg.io/t/rel-cleanup-in-multiple-locations/1426

[2016-04-07 15:22] chaals opened #171 "area with no href should allow (and often have) alt"
An `area` element that doesn't have an `href` attribute may still represent a meaningful part of the image being used in a map. It should be allowed to have an `alt` attribute, e.g. to facilitate understanding when using a screen reader to interact with the map.

This issue comes from https://www.w3.org/Bugs/Public/show_bug.cgi?id=13733

[2016-04-07 15:30] chaals opened #172 "Add note to remind ATs, in step 11, 7.3.1 Dynamic Markup Insertion - opening the stream"
Unregistering listeners should also apply to ATs that are looking at the DOM.

Comes from https://www.w3.org/Bugs/Public/show_bug.cgi?id=13654 @cyns …

[2016-04-07 15:37] LJWatson opened #173 "video element should clarify that captions must remain visible"
Migrated from Bugzilla 13437
https://www.w3.org/Bugs/Public/show_bug.cgi?id=13437

current text:

"User agents may allow users to view the video content in manners more suitable to the user (e.g. full-screen or in an independent resizable window). As
for the other user interface features, controls to enable this should not interfere with the page's normal rendering unless the user agent is exposin

[2016-04-07 15:44] LJWatson opened #174 "type table in 4.10.7 should indicate control type"
Migrated from Bugzilla 13550:
https://www.w3.org/Bugs/Public/show_bug.cgi?id=13550

adding the list attribute to the input states that support it changes the control from a text box to a combo box.  The table of types should reflect this.

[2016-04-07 15:48] chaals opened #175 "Note that text inputs change to combo when adding list"
for `input` with types text, email, tel, url, … adding a list turns them into a combo box.

As noted in the [original bugzilla bug](https://www.w3.org/Bugs/Public/show_bug.cgi?id=13550), the table of input types is already very difficult to understand, so maybe cleaning that at the same time would be a good thing…

cc @cyns

[2016-04-07 16:46] #175 closed, assigned to nobody

[2016-04-07 16:46] chaals commented on #175
Duplicated #174

[2016-04-07 16:46] chaals commented on #174
As noted in the original bugzilla bug, the table of input types is already very difficult to understand, so maybe cleaning that at the same time would be a good thing…

cc @cyns

[2016-04-07 16:50] chaals commented on #99
Resolved in #144, [proposal for improved](https://discourse.wicg.io/t/accesskeylabel-author-accessible-info-about-shortcuts/1392) version moved to WICG.

[2016-04-07 16:50] #99 closed, assigned to nobody

[2016-04-07 17:28] chaals commented on #173
This is non-editorial as it adds a requirement.

Also, I think the additional requirement

should be a **should** not a **must. Not least, because it is possible that they don't fit. That might be what "available" is trying to address, but it seems that this proposal should be cleaned up a bit.

[2016-04-07 18:18] chaals opened #176 "Allow blank option elements?"
From Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=29563

[2016-04-07 18:24] chaals opened #177 "Allow figcaption anywhere in a figure element?"
From Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=12835

[2016-04-07 21:19] LJWatson commented on #177
Test case:
http://ljwatson.github.io/test-cases/figcaption/index.html
On Windows, Chrome, Edge, Firefox and IE (11) render the `<figcaption>` based on its position in the DOM. It does not appear to be necessary for it to be the first/last child of `<figure>`.

[2016-04-08 09:27] LJWatson commented on #177
IE (MSAA) does not support `<figure>` or `<figcaption>` (referenced from html5accessibility.com). Firefox and Chrome (IA2) expose the `<figcaption>` as the accessible name for the `<figure>`, regardless of where the `<figcaption>` is located within the `<figure>`.

Ping @stevefaulkner for confirmation and additional results.

[2016-04-08 15:55] rossb commented on #110
@jordanlev:

I think you are right in that the forum post example is intended to encapsulate an entire thread. Otherwise it would fail the "would you give each comment its own heading in the doc outline" test, at least in my opinion (maybe that's debatable).

That creates a problem though, in that forum threads as a whole are never "complete," which is part of the opening definition.

Personally I

[2016-04-08 17:07] DigiTec commented on #165
So for inline script execution we have:
8. Execute the script.
9. Decrement the parser’s script nesting level by one. If the parser’s script nesting level is zero (which it always should be at this point), then set the parser pause flag to false.
10. Let the insertion point be undefined again.

And https://w3c.github.io/html/single-page.html#execute-a-script-block doesn't have an explicit micro-ta

[2016-04-08 17:35] annevk commented on #165
@DigiTec I don't know anything about that specification as I (and others) explained here: https://annevankesteren.nl/2016/01/film-at-11. It's completely secret what kind of modifications were made, how, and why.

Now, https://html.spec.whatwg.org/multipage/scripting.html#execute-the-script-block, in step 8, invokes https://html.spec.whatwg.org/multipage/webappapis.html#run-a-classic-script, which

[2016-04-08 17:38] DigiTec commented on #165
Thank you, I consulted the incorrect spec at this time and that is an issue for me to work out. Thank you for the explanation. I'll review the relevant sections and see if there is anything we can do here to help align Edge with the other browsers in this regard.

@travisleithead Seems like a big chunk of text to push back into the W3C version of the spec.

[2016-04-08 17:51] annevk commented on #165
The W3C version, apart from it being unclear what changes were made before the initial commit (apart from breaking many links), is easily hundreds of commits behind. Coupled with the W3C having switched formats, which apparently took four-person months or so to do, I very much doubt it's going to be usable ever.

[2016-04-08 20:19] #20 closed, assigned to nobody

[2016-04-08 20:46] travisleithead commented on #177
Let me work up a PR for this

[2016-04-08 20:49] travisleithead opened #178 "Spec cleanup: Remove extraneous span/div class=impl (leaving content untouched)"

[2016-04-08 21:31] travisleithead commented on #177
OK. Feedback on the PR please.

[2016-04-08 21:52] travisleithead commented on #176
One test: https://jsfiddle.net/1wtf1pLy/

Chrome/Edge/Safari: creates new options with no attributes and no children
Firefox: creates new options with no attributes and one child node (#text of "")

It appears that per the Content model rules for option, this is a case of the platform behavior creating content automatically that is a violation of the spec. This appears to match the bug-opener's co

[2016-04-08 22:02] travisleithead commented on #176
The [HTMLSelectElement](http://w3c.github.io/html/sec-forms.html#the-select-element) and [HTMLOptionsCollection](http://w3c.github.io/html/infrastructure.html#htmloptionscollection-htmloptionscollection) both have a normative section for creating empty options. For example, in HTMLOptionsCollection.length:

[2016-04-08 22:11] travisleithead commented on #176
Personally, I'm not sure we need a spec change for this. These operations may introduce (perhaps momentarily) content models that are non-conforming for option elements, but I believe there is an expectation that authors subsequently modify the freshly created options to make them conforming.

Here's some possible options to address this issue:
1. Do nothing and close this issue.
2. Add a note to

[2016-04-08 22:26] chaals commented on #177
More tests and some preliminary results: http://chaals.github.io/testcases/figcaption-anywhere.html

[2016-04-08 23:32] chaals commented on #176
My instinct is to go for option 3. In part because I don't see what the problem is if we do - although my paranoia is trying to make me think harder about it and hinting there might be something, I'm thinking about other stuff at the moment.

I recall lots of select things that used blank options as a spacer to make menus easier to understand, which I think is a legitimate use. But that's just ane

[2016-04-09 00:24] chaals commented on #155
Fixed by #157

[2016-04-09 00:24] #155 closed, assigned to nobody

[2016-04-09 00:30] chaals commented on #68
Makes sense.

The distinction between what gets into those two sections is a bit of a mystery at first glance (but then, that's true for a lot of the spec today…)

[2016-04-09 02:30] chaals commented on #177
This presumably should be synched with ARIA accessible name calculation... @stevefaulkner?

[2016-04-09 07:41] stevefaulkner commented on #177
@chaals @LjWatson the acc name calculation will not be effected by the position of `<figcaption>` within the `<figure>` subtree, so no change in name calc required, me thinks.

[2016-04-09 09:53] chaals commented on #177
I was wondering what happens if there is more than one `<figcaption>`. In my tests, all of them are included, along with all the `alt` values. Is that according to spec, or are implementations doing something different to what ARIA says?

[2016-04-09 13:42] LJWatson commented on #177
@chaals
"I was wondering what happens if there is more than one  <figcaption> . In my tests, all of them are included, along with all the  alt  values. Is that
according to spec, or are implementations doing something different to what ARIA says?"

Included in what? AFAIK only the `<figcaption>` should be used as the accessible name for the `<figure>`. The alt provides the accessible name for the

[2016-04-09 13:56] chaals commented on #177
I'll run [my tests](http://chaals.github.io/testcases/figcaption-anywhere.html) on Windows today, but as far as Mac goes, anything I found that supports figcaption supports multiple ones. And for the PR #179 to address this we're talking about a couple of words, so I think we can handle it within the scope of this issue.

I agree that only the `<figcaption>` (or collection of them) should be used

[2016-04-10 14:11] unor commented on #169
[4.3.10. Headings and sections](https://w3c.github.io/html/sections.html#headings-and-sections) encourages authors to use sectioning content elements explicitly together with heading elements of the appropriate rank (i.e., not `h1` everywhere):

[2016-04-10 22:59] chaals commented on #169
Yes, but it then provides an outline algorithm and various examples that suggest using

[code]

Which seemed like a good idea, and has certain features that make it attractive.
One of the features that make it unattractive is that it doesn't work. Different people viewing the same content will get very different structures provided to them.

So my proposal is to remove everything that says using s

[2016-04-11 01:37] chaals commented on #56
I think we can just remove this - there seems to be no implementation. I'll write to p-html saying that's the plan, and asking for objections based on implementation...

[2016-04-11 08:33] patrickhlauke commented on #56
FWIW, agree this should simply be removed. I suspect that the reality of tabular content (particularly once you start moving down the path of complex, nested, tree-widget style tables) is too complex to be fully covered by a simple sorting algorithm...and that in many cases you'd still have to resort to custom JS to do your complex sorting...and that this is why there was not much momentum behind

[2016-04-11 08:53] LJWatson opened #182 "4.11.1/4.11.2 details/summary elements"
The `<details>` and `<summary>` elements were marked at risk and removed from HTML5 due to a lack of implementation support.

According to [CanIUse.com](http://caniuse.com), the [`<details>`](http://caniuse.com/#feat=details) element currently has ample implementation support, but the [`<summary>`](http://caniuse.com/#feat=summary) element is less certain with only Blink implementation (shipped in

[2016-04-11 08:58] stevefaulkner commented on #182
details/summary is being implemented in firefox https://bugzilla.mozilla.org/show_bug.cgi?id=1226455
summary is implemented in webkit, but not accessibly as yet

[2016-04-11 09:43] stevefaulkner commented on #177
@LjWatson the test case which has `<figcaption>` inside a `<p>` element is not practical as <p> is closed when the parser encounters the `<figcaption>`. So you end up with 2 `<p>`'s
[live dom view](https://software.hixie.ch/utilities/js/live-dom-viewer/?%3C!DOCTYPE%20html%3E%0A...%0A%0A%3Ch1%3E%20figure%20tests%3C%2Fh1%3E%0A%0A%3Cfigure%3E%0A%09%0A%09%09%3Cp%3ELorem%20Ipsum%20dolor%20sit%20amet...

[2016-04-11 11:06] LJWatson commented on #177
@stevefaulkner

Good catch, thanks. Have updated the test case.

[2016-04-11 12:36] mikewest opened #183 "CSP: Cryptographic nonce metadata."
Please port over https://github.com/whatwg/html/commit/5479e07a6f6e01062b85b5fe6799752b0370336c from WHATWG's HTML. It enables Content Security Policy to properly parse cryptographic nonce data in Fetch in order to make decisions about blocking/allowing requests.

For better or worse, it relies on a lot of ancillary work that's landed in WHATWG's spec around script loading, so the port isn't strai

[2016-04-11 12:52] mikewest opened #184 "CSP: `<meta>` processing."
Please port https://github.com/whatwg/html/commit/5064a629f22bef29839ab4dc6f1ceef17f010bc5 over from WHATWG's HTML (more easily readable at https://html.spec.whatwg.org/#attr-meta-http-equiv-content-security-policy). It landed in September, so I expected to see it in the 5.1 draft around http://w3c.github.io/html/document-metadata.html#pragma-directives, but it's gone missing. Did y'all remove it

[2016-04-11 13:01] mikewest opened #185 "CSP: Inline element behavior processing."
It looks like the work that landed in WHATWG's HTML as https://github.com/whatwg/html/pull/384 made it only partially into the current HTML 5.1 draft:
1.  Links to the "Should `element`'s inline behavior be blocked by Content Security Policy?" algorithm are broken (they simply aren't linkified). See the occurrences right around https://w3c.github.io/html/webappapis.html#event-handler-content-event

[2016-04-11 13:04] mikewest opened #186 "CSP: `<script nonce="...">` && `<style nonce="...">` are missing."
The `nonce` attribute was added to WHATWG's HTML in https://github.com/whatwg/html/commit/882803c4cc8fba2fa5472b76f628d95cc82c421d. It doesn't seem to have made the transition to W3C's version.

[2016-04-11 13:11] mikewest opened #187 "CSP: "CSP List" is missing."
The "CSP List" concept on both the `Document` (https://html.spec.whatwg.org/#concept-document-csp-list) and `WorkerGlobalScope` objects was added to WHATWG's HTML in a few patches, most notably https://github.com/whatwg/html/pull/273/commits/479dfbf1ff68b746ed3f81cc7415165e3342709e, and https://github.com/whatwg/html/pull/574. It would be helpful if that concept (and all of the plumbing) existed i

[2016-04-11 13:15] mikewest opened #188 "CSP: HTML needs to call "Initialize a `Document`'s CSP list" during document init."
Following on from w3c/html#187, HTML needs to call into https://w3c.github.io/webappsec-csp/#initialize-document-csp during the https://w3c.github.io/html/browsers.html#navigating-across-documents (which is https://html.spec.whatwg.org/#initialise-the-document-object algorithm in the WHATWG spec).

[2016-04-11 13:20] mikewest opened #189 "ECMA/CSP: Implement `HostEnsureCanCompileStrings`"
https://github.com/whatwg/html/commit/374b54d3fce7c9c72b940d3e97f8e8f2845cde9b defines an implementation of ECMAScript's `HostEnsureCanCompileStrings` abstract operator, which allows us to explain CSP's `'unsafe-eval'` source expression. It would be lovely if y'all would port over that patch. Again, the port is non-trivial because WHAWG's spec has refactored quite a bit of script loading in variou

[2016-04-11 13:24] mikewest opened #190 "ECMA: Realms."
In order to do things like https://github.com/w3c/html/issues/189, y'all will need to bring in the concept of Realms from ECMAScript. It would be a good idea to skim through the changes made around https://html.spec.whatwg.org/multipage/webappapis.html#realm-execution-context to see how they've defined that notion in HTML, as it's somewhat foundational to getting HTML to play nicely with ECMAScrip

[2016-04-11 13:57] mikewest opened #191 "CSP: Reference."
Since you're pulling in algorithms from CSP, it ought to be a normative, not informative reference. Also, it would be preferable to refer to https://w3c.github.io/webapsec-csp/ rather than the (very old) CSP1 NOTE.

[2016-04-11 23:14] elliottregan opened #192 "In the HTML5.1 spec, there is a typo in the code example for "The algorithm for deleting names"."
It looks like this code example has a typo:

[code]

should be:

[code]

https://w3c.github.io/html/dom.html#embedding-custom-non-visible-data-with-the-data-attributes

[2016-04-11 23:20] chaals commented on #192
Yep. Fixed in https://github.com/w3c/html/commit/3aa360986266b7ada63eb07e16ae0d2513021d45

thanks

[2016-04-11 23:24] elliottregan commented on #192
It seems like the `x="30"` attribute is supposed to be in the `data-*` form. Am I reading that section wrong?

[2016-04-11 23:36] chaals commented on #192
No, I am. I'll finish the fix…

[2016-04-11 23:39] #192 closed, assigned to nobody

[2016-04-12 00:41] travisleithead commented on #159
Looking at: http://www.w3.org/TR/animation-timing/ it seems that a standalone spec for `requestAnimationFrame` has been put into a Note. So, this is something that should probably integrated into HTML5.1 (at least temporarily--I think the various timing and event loop pieces could probably be pulled into a module at some point--and this would likely go with it.)

[2016-04-12 00:43] travisleithead commented on #170
Can you elaborate on what kind of hooks you were thinking of?

[2016-04-12 00:47] travisleithead commented on #190
Can do. I also plan to try an HTML Scripting module to pull together a lot of this content as I page it all in myself. Hopefully I can even add some value along the way.

[2016-04-12 05:35] mikewest commented on #190
If you add value, could you add it to the WHATWG document as well? There's a ton of value in y'all agreeing on verbage around these kinds of things. Especially for the various WebAppSec specs that have a lot of integration points with HTML, tracking the differences between the documents is a lot of overhead.

[2016-04-12 07:11] annevk commented on #190
@travisleithead perhaps you can first maintain DOM Parsing & Serialization again? It's been rather dead since you took over from the WHATWG. I've been considering putting the important bits elsewhere since simple bugs do not seem to get fixed and are causing problems for implementers and new features like Shadow DOM.

[2016-04-12 08:55] LJWatson commented on #159
@travisleithead
If part of the work to create a module has been done as a consequence of putting it in a note, would it be worth going the rest of the way to create a separate module now? Conscious this is in the grey area between new feature/module and existing/partially integrated feature.

[2016-04-12 14:09] travisleithead commented on #159
Reading over the note, the spec is roughly divided into thirds: explanatory and examples, API definition, and processing model. As far as preparing it for a module, I would think that the explanatory and example content could be expanded, the API definition could probably be reduced in size, but the processing model section would be the most troublesome to dissect. As-is the task queuing and manag

[2016-04-12 14:18] travisleithead commented on #190
@annevk without committing to an order of operations, I'm certainly interested in giving DOM P&S some love again. As a side note, I have been making private updates to the algorithms while writing tests for the spec to make it match reality better--I just need to commit the changes (both spec and web-platform-tests) before returning to the issues list. :)

[2016-04-12 15:04] siusin commented on #159
@travisleithead ++

@takenspc -
Thanks for raising [the issue](https://github.com/w3c/animation-timing/issues/5). Does this all make sense to you? Comments, edits, or any kind of contributions will be appreciated :)

[2016-04-13 15:22] paulpalaszewski opened #194 "clarify input type="date" change event behavior"
It would be great if html 5.1 would clarify when a browser should fire change-/blur-event when editing dates. firefox and internet explorer work intuitively: when the date is changed and the date input looses focus, the same thing in chrome is firing events on every date-part - so even when typing day, month, year you get events between day and month and month and year.

[2016-04-13 15:27] paulpalaszewski opened #195 "create an alternative for input type="checkbox" to fix submit of unchecked value"
This is a very old thing: <input type="checkbox"> is only submitted with the form when the checkbox is checked. When submitted to a server the server has to check which field were on the page ... counter-intuitive and different than the behavoir of all other input widgets.

To stay compatible and to offer a cleanup-path for the future I suggest to introduce a <input type="switch" which looks and w

[2016-04-13 16:07] RyanSquared commented on #195
[Source](https://www.w3.org/TR/html401/interact/forms.html) for previous interactions where checkboxes were unticked.

[2016-04-13 17:02] jamasi opened #196 "Get rid of cross domain ressources and requests"
For security, privacy and efficiency reasons cross domain requests should be phased out from html.

Reason for this:

Modern webpages include various resources from all over the internet instead of serving the content from a domain local URL. This helps with XSS, CSRF, script injection de-anonymisation, user tracking etc.
For a more secure web this bad habit should be discouraged or better be abol

[2016-04-13 20:21] HolgerJeromin commented on #91
Opera 12 aka Presto supports readonly color input :-)

[2016-04-13 20:34] Deltachaos commented on #195
You already can add the same field as hidden Field before. But having a method build in would be grate as well.

If you add a new type for this we have two types that are very similar. On the other hand older browsers would display the input as text field if the type is unknown. I would prefer to add a attribute to controll the behaivor.

[2016-04-14 00:27] RyanSquared commented on #195
An attribute would also be helpful. Something such as `<input type="checkbox" switch>`?

[2016-04-14 00:36] RyanSquared commented on #196
Sorry if I misunderstand, but wouldn't this affect things such as CDNs for libraries and frameworks such as jQuery and Bootstrap?

[2016-04-14 06:44] chaals commented on #182
Set to be enabled in Firefox 48, apparently, is in Safari, and blink-based browsers (I tested Brave, Opera, Vivaldi, Yandex, and believe Steve and caniuse that it's in Chrome too :) )

I think we can declare this is interoperable as a feature, and look for specific bugs.

[2016-04-14 06:44] #182 closed, assigned to nobody

[2016-04-14 12:56] mikewest commented on #185
Note that https://github.com/whatwg/html/pull/1051 is in-flight, and adds an argument to this algorithm.

[2016-04-14 12:58] mikewest opened #197 "CSP: Parser metadata."
Please port over https://github.com/whatwg/html/pull/1048 from WHATWG's HTML. It enables Content Security Policy to correctly implement the `'unsafe-dynamic'` source expression by passing a script's `parser-inserted` state to Fetch.

[2016-04-14 13:05] mikewest opened #198 "Stylesheet loading should use "fetch a CSS style sheet" from CSSOM"
When https://github.com/whatwg/html/issues/968 is taken care of, y'all should incorporate the changes. Alternatively, y'all could be first, setting an example for WHATWG.

[2016-04-14 18:24] jamasi commented on #196
No, you don't misunderstand. It would affect things like CDN hosted scripts. But relying on third-party servers to be trustworthy and reliable is the main problem with the now quite often used approach. For example there have been quite some problems with hacked advertising networks that were then re-purposed to serve malware or to trigger an exploit-kit for every visitor of the ad-networks client

[2016-04-14 22:27] chaals opened #199 "Tabindex doesn't default as the spec says"
According to the current spec

Briefly testing blink, Safari and Firefox, elements get 0 or -1 according to their _default_ focusability - i.e apparently from some list of "these kind of elements are focusable, those aren't". Which isn't quite what the spec says.

James Craig @cookiecrook [argued in Bugzilla](https://www.w3.org/Bugs/Public/show_bug.cgi?id=23347) that rather than -1, elements that

[2016-04-15 08:48] mikewest opened #201 "CSP: Correctly process the frozen base URL."
Please port the changes to https://www.w3.org/TR/html/document-metadata.html#set-the-frozen-base-url from https://github.com/whatwg/html/pull/1053 so that CSP's `base-uri` directive will be correctly explained.

Thanks!

[2016-04-15 10:28] #174 closed, assigned to adanilo

[2016-04-15 11:39] chaals opened #202 "Explain meaning of dl / dt / dd better?"
Imported from bugzilla https://www.w3.org/Bugs/Public/show_bug.cgi?id=13726

[2016-04-15 12:18] chaals commented on #199
A currently [half-done test](http://chaals.github.io/testcases/default-tabindex.html). It really needs better explanations than "use the source".

[2016-04-15 13:06] RyanSquared commented on #196
I suppose you have a point. Now that I think about it, that always became a problem. However, this will also affect items such as embedded YouTube, Twitter, and every other social network activity button, no?

[2016-04-15 13:17] stevefaulkner opened #203 "allow use of hidden for tab panels"
moved from https://www.w3.org/Bugs/Public/show_bug.cgi?id=19159

[2016-04-15 15:11] #203 closed, assigned to stevefaulkner

[2016-04-15 21:08] travisleithead commented on #201
Thanks Mike. Just to set expectations, I'm currently importing legacy Bugzilla bugs into our repo before I start working on these--but they'll be high on the list after that task is complete.

[2016-04-15 21:08] travisleithead opened #205 "Bugzilla bug triage (import or close)"
This issue for tracking progress on this task...

[2016-04-15 21:10] mikewest commented on #201
Yeah. I'm filing these just so they're on y'all's radar, not because I expect you to fix them all ASAP. I know that there are quite a few things outstanding that you'll need to work through.

[2016-04-15 21:25] travisleithead commented on #205
https://www.w3.org/Bugs/Public/buglist.cgi?component=HTML5%20spec&list_id=62853&order=bug_id&product=HTML%20WG&query_format=advanced&resolution=---

216 bugs

[2016-04-15 22:01] travisleithead opened #208 "Specify `autocapitalize`"
Filing as an issue because this is implemented in WebKit, so has some degree of interop already.

This issue was transferred from the Bugzilla bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=12409 (which has links to other related bugs/conversations about this issue).

See Mounir's proposal here: https://github.com/mounirlamouri/html-autocapitalize/blob/master/proposal.md

We should figure thi

[2016-04-15 22:30] arronei commented on #76
We are down to these link errors

[code]

[2016-04-15 23:21] travisleithead commented on #205
210 bugs. Got to run and grab my car from the shop now.

[2016-04-15 23:22] Marat-Tanalin commented on #169
The issue could probably be solved by finally introducing a **levelless** heading element — e.&thinsp;g. just `h`.

[code]

This would be free from any backward incompatibilities and would _also_ free us from the current restriction of nesting depth of just six levels (that could be useful e.&thinsp;g. for HTML-based books that may contain far more levels than a regular HTML page).

[2016-04-16 17:17] chaals commented on #169
@Marat-Tanalin agreed - that would be the way to handle this. It requires browsers to implement a new element, and the outline algorithm. Until they are prepared to do something like this we're stuck with the existing `h1` - `h6` …

[2016-04-16 18:09] Marat-Tanalin commented on #169
@chaals I suspect support for the new element wouldn’t require too much. `display: block` and `font-weight: bold` would probably be enough.

As for outline, isn’t it somewhat fictious and having no [browser] implementations at all?

**Update:** To be clear, I clearly see how the outline algorithm _could_ be useful for e.&thinsp;g. assistive technologies. The algorithm is, AFAIK, just _not_ yet imp

[2016-04-16 20:04] chaals commented on #169
@Marat-Tanalin a visual implementation would be insufficient. It has the same problem as the sectioning outline model we propose to remove - there is nothing reported to accessibility APIs, which for headers is actually an important use case.

The outline has no native browser implementation, which is a problem. But the code isn't complex, it's just a case of whether browsers can do anything usefu

[2016-04-16 20:30] prlbr commented on #169
I support the idea of not recommending to use `<h1>` everywhere when it hasn’t been implemented in browsers in an accessible way. This may be a good general rule for the future: not to recommend features that have not been implemented well yet when there is an alternative feature that has been implemented well for a long time.

I would prefer @Marat-Tanalin’s idea of using `<h>` in the sectioning

[2016-04-16 21:59] Marat-Tanalin commented on #169
@prlbr

While six levels may be enough for regular pages, books may potentially have much more nested subchapters. Anyway, removing depth limitation would be just a nice side effect. The main point is to get free from the legacy inherited semantics of `H1` as a global heading that is probably one of things that prevent the outline algorithm from finally getting implemented reliably and unambiguous

[2016-04-17 17:42] dylanb commented on #169
Given that WCAG has  a normative requirement that basically boils down to "it must work on the platforms you need to support", should we be recommending techniques that don't work on all major platforms?

[2016-04-18 12:10] takenspc opened #211 "HTML 5.1 should reference HTML-AAM instead of HTML-AAPI"
https://w3c.github.io/html/introduction.html#suggested-reading references [HTML to Platform Accessibility APIs Implementation Guide (HTML-AAPI)](https://www.w3.org/TR/html-aapi/). However HTML-AAPI was obsoleted by [HTML Accessibility API Mappings 1.0 (HTML-AAM)](https://www.w3.org/TR/html-aam-1.0/). HTML-AAPI says

HTML 5.1 should reference HTML-AAM instead of HTML-AAPI.

[2016-04-18 18:45] travisleithead opened #212 "We already have a tabindex attribute, but we really need a tabatkins attribute"
The question is... what would it do @tabatkins?

[2016-04-18 20:16] travisleithead opened #213 "Clarify where to get extensions for metadata names"
Cloned from https://www.w3.org/Bugs/Public/show_bug.cgi?id=14363

Current spec text:

If we're still happy with the WHATWG wiki being the way to extend the spec, then we can close this. But there seems to be some pushback on whether this is legitimate, especially if tools want to have a way of staying current.

@jribbens

[2016-04-18 20:33] travisleithead opened #214 "Create <?xml-stylesheet?> processing model"
Cloned from bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=14689

In "[load processing model for XML files](http://w3c.github.io/html/browsers.html#page-load-processing-model-for-xml-files)" we hint at a processing model for the `<?xml-stylesheet ...?>` directive (processing instruction), however, how this works is not defined.

It is also mentioned in the style and script sections in brief.

[2016-04-18 20:41] jribbens commented on #213
Indeed, having conformance tools attempt to scrape an arbitrarily-formatted (non-computer-parseable) and fragile (publicly editable) wiki page to try and guess at the list of valid values seems dubious at best.

[2016-04-18 20:59] travisleithead opened #215 "Include hooks for :read-only and :read-write"
Clone from bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=15428

@tabatkins, @fantasai (following up on an old old bug)

It looks like we have :read-only and :read-write in Selectors 4 (https://drafts.csswg.org/selectors-4/#rw-pseudos). That definition seems to require the document language to describe "user-alterable".

In the current HTML spec, we use the term "mutable" to describe input (a

[2016-04-18 21:10] tabatkins commented on #212
It'd force me to convert the element's contents to Bikeshed.

[2016-04-18 22:46] garykac commented on #212
Low-carb tabs?

[2016-04-18 23:41] travisleithead opened #216 "Sync up usages of "compatibilty caseless" comparisons used in the spec"
Cloned from bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=16970

Apparently compatibility caseless matching is used due to legacy IE behavior, though browsers are pretty inconsistent in to what extent this matching is implemented. The current spec leaves it relatively undefined to avoid the problem. There is general consensus that having compatibility caseless matching is a can of worms, and

[2016-04-18 23:47] travisleithead commented on #205
196 bugs remaining after today's work.

[2016-04-19 09:01] zomp opened #217 "Mistake in EXAMPLE 12 of Introduction"
In [EXAMPLE 12](https://www.w3.org/TR/html51/introduction.html#example-1ef96626) there seems to be a mistake, according to its description it should be rather:

... because its description says:

Bonus: The _EXAMPLE 12_ heading is bold whereas the other example headings are normal. This might be another bug.

[2016-04-19 09:02] stevefaulkner commented on #217
@zomp thanks! will fix

[2016-04-19 09:17] stevefaulkner opened #218 "add warning/advice about lang attribute use"

[2016-04-19 09:19] stevefaulkner commented on #218
https://github.com/w3c/html/commit/f1406b61f899bbd3689af39ad8a4a87eb36367ae

[2016-04-19 09:24] zomp commented on #217
I have just noticed another small bug just behind – in [EXAMPLE 13](https://www.w3.org/TR/html51/introduction.html#example-3eebe0bd) there is `<<caption>>` instead of `<caption>` – should I create its own report?

[2016-04-19 09:37] stevefaulkner commented on #217
Hi @zomp, no need will fix along with other issues - thanks again!

[2016-04-19 10:06] stevefaulkner commented on #218
published in spec http://w3c.github.io/html/dom.html#lang-warning

[2016-04-19 11:09] chaals commented on #218
Expand the examples a bit for braille output, alphabetical sorting, dictionary support?

In plenty of cases screen reader output _is_ comprehensible with incorrect language tagging.

[2016-04-19 13:19] aardrian commented on #218
I've only recently discovered that it's also important for font selection in CJK languages, otherwise hurt feelings and grumpiness.

[2016-04-19 13:50] cheshrkat commented on #169
Seems like a good idea to stop recommending the pattern until (if..) it's actually implemented.

I'd back the suggestion to finally add an `h` element, particularly with an optional level attribute `<h level=“7”>Foo</h>` (borrowing an idea from Steve's html5-h spec). A fully extensible outline would be useful... it would obviously also work to add more levels, or allow any tag matching the pattern

[2016-04-19 14:23] cheshrkat commented on #202
For what it's worth, I think a suitable analogy/description is defining a key/value relationship. Not always, but usually, key/value pairs. A common use case is document metadata; plus I have in fact marked up dialogue using dl/dt/dd :)

[2016-04-19 14:52] travisleithead opened #219 "HTML5 input type date validation"
Ported from bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=29575

[2016-04-19 14:56] #217 closed, assigned to stevefaulkner

[2016-04-19 14:59] cheshrkat commented on #195
Perhaps add the logically-missing `unchecked` attr and submit when present: `<input type="checkbox" unchecked="unchecked">` - consistent with the existing spec and backwards compat handled by omission ie. if none of `checked|unchecked|indeterminate` are found, continue non-submission. Presence of the new attr would indicate explicit opt-in to the new behaviour.

[2016-04-19 19:23] jamasi commented on #196
It might be a good compromise to allow cross domain requests for iframes only.
This way the browser can easily offer a "click to activate"-functionality for the external content. For social media buttons there is the much preferred "[shariff](https://github.com/heiseonline/shariff)" approach, as this blocks social networks from tracking users on third party websites.

[2016-04-19 20:29] ZoeBijl commented on #218
The current warning is quite long and repeats some stuff. Can we simplify it? This is what @handcoding and I came up with:

Could add this to the end of the first paragraph to support @aardrian's point—if it's the right wording:

[2016-04-19 21:52] #108 closed, assigned to plehegar

[2016-04-19 22:24] travisleithead opened #221 "Validate the drag-drop algorithms for interop"
Porting Bugzilla bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=17773

Issues were found in the http://w3c.github.io/html/editing.html#drag-and-drop-processing-model in regards to how IE behaved versus other browsers. Edge has since re-written their Undo stack, so this should be re-validated against other implementations and see if we need to make any adjustments to the spec's algorithms.

[2016-04-19 22:38] travisleithead opened #222 "Sync up and review encoding changes for multipart/form-data"
Filing an issue to track the ongoing bugilla bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=18135

Conversation continued in the WHATWG cloned bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=16909, where a recent PR was suggested as potentially fixing the issue: https://github.com/whatwg/html/pull/710.

The relevant section is: http://w3c.github.io/html/sec-forms.html#multipart-form-data

[2016-04-19 22:48] travisleithead opened #223 "Consider dropping showModalDialog API"
If no, then we have the following (interop?) fix to make:
#### Add 3rd parameter (options) to control the window position and size

from bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=18154

Edge, Chrome have dropped support
Firefox: still supports (in their public branch)

WHATWG spec has removed it.

[2016-04-19 23:03] travisleithead commented on #205
187 bugs.

[2016-04-20 01:31] stevefaulkner opened #224 "add advice on use of nested figure elements"
refer to https://github.com/w3c/html/pull/179

use http://www.html5accessibility.com/tests/figures-nested.html as basis

[2016-04-20 03:08] masinter commented on #222
not sure what is wanted here, pls explain

[2016-04-20 15:22] RyanSquared commented on #196
That sounds more reasonable. :+1: for the idea of iframe-exclusive blocking of CORS.

[2016-04-20 16:28] travisleithead opened #225 "Should ordered list numbering consider list items in child blocks?"
Moved from bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=18263

This is a browser interop issue that should be resolved. The original concern was the difference in rendering the following:
Consider this testcase:

[code]

[2016-04-20 17:59] travisleithead commented on #196
Privacy modes in browsers will sometimes take this approach. In previous versions of IE, we also had a ["tracking protection"](http://winsupersite.com/windows-7/internet-explorer-9-feature-focus-tracking-protection) feature. What was painfully obvious when using this feature (and is likely seen with firefox's plug-in referenced above, is that sometimes core functionality of websites are broken bec

[2016-04-20 18:04] travisleithead commented on #222
I believe the request is to read the linked section and see if you are satisfied with the way it links RFC 7578.

[2016-04-20 18:13] travisleithead commented on #194
Indeed. Will need to do some interop testing here... unless you have some already?

[2016-04-20 19:47] masinter commented on #222
I'm not particularly satisfied with RFC 7578, but I couldn't justify holding back on the draft after it went through last call. There is no specified algorithm for taking a form data set and producing a byte stream.
The RFC makes requirements on the result, .and I think writing _some_ algorithm might be a good idea.

As it is, RFC 7578 gives requirements for the results but leaves some things open

[2016-04-20 22:54] travisleithead opened #226 "make any element with an explicit lang attribute (and no dir attribute) bidi-isolated by default"
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=18490

---

@amire80

[2016-04-20 23:00] travisleithead opened #227 "Media-type registrations should include clipboard flavor names"
Moved from Bugzilla bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=18508

@polx, we welcome your experiments/PRs!

[2016-04-20 23:03] travisleithead commented on #205
159 today! Thanks @arronei

[2016-04-21 08:56] marquish opened #228 "persistent localstorage allowing cachepage"
Localstorage would be better with relatively persistent storage. With capability managing script and stylesheet links in cache (defined in CACHE Manifest).
With added Storage of BSON type data automatically indexed on the location.
Might make client side 'high availability' feature. An added attribute for 'realtime browsing' that would deactivate the cache functionality.

OpenDatabase("notes", , ,

[2016-04-21 09:11] dontcallmedom opened #229 "Spec doesn't use permissive license"
The license linked from the copyright statement is the Document license, not the permission document license (aka software & document license)

[2016-04-21 09:16] dontcallmedom commented on #229
oh, I see that a relevant pull request has been made that will address this https://github.com/tabatkins/bikeshed/pull/663

[2016-04-21 09:55] chaals opened #230 "value on button in submit state is translateable"
Missing in https://w3c.github.io/html/dom.html#the-translate-attribute

[2016-04-21 10:17] chaals opened #231 "remove style scoped ?"
According to [a simple test](http://chaals.github.io/testcases/scoped-style-manual.html) and [caniuse.com](http://caniuse.com/#search=scoped) it's only supported by Firefox, having been removed some time ago from blink.

[2016-04-21 10:25] marquish opened #232 "introducing <phonetics> tag"
using <phonetics>/fəˈnɛtɪks/</phonetics> in content word, would provide wonderful usability to the html users. The multilingual websites too could take advantage.
The content should be pronounced when hovered, selected in web browser.

[2016-04-21 10:29] chaals commented on #213
This is a duplicate of #160

[2016-04-21 10:29] #213 closed, assigned to nobody

[2016-04-21 10:58] jribbens commented on #160
Since this #213 has been merged into this one: it is my view that having the official list of valid values as random content on some wiki page is not at all acceptable. Forcing conformance-checking tools to attempt to scrape an arbitrarily-formatted (non-computer-parseable) and fragile (publicly editable) wiki page to try and guess at the list of valid values is dubious at best.

[2016-04-21 11:00] chaals commented on #160
Agreed. It seems not to have worked well, and I propose that we put the list into the HTML spec, and update it as relevant.

[2016-04-21 12:09] a3nm commented on #160
I think there are two reasonable solutions. The first is to fix a list of allowed values in the spec, and update it regularly from the wiki. The second is to say in the spec that any value is valid, and non-normatively say that users are invited to go to the wiki to find common values and register their own values (i.e., the spec does not attempt to keep track of the possible values).

[2016-04-21 13:21] chaals commented on #232
There are various ways to do this, but it seems unlikely that a new HTML element will be one of them. Although the market might decide otherwise leading us to reopen this issue, for now I am going to close it as "wontfix".

This is a common use case for [ruby markup, which is already in HTML](https://w3c.github.io/html/textlevel-semantics.html#the-ruby-element).

More generally, when requesting ne

[2016-04-21 13:21] #232 closed, assigned to nobody

[2016-04-21 13:49] ZoeBijl commented on #231
It's not planned in WebKit: https://webkit.org/status/

[2016-04-21 14:57] travisleithead opened #233 "Are registerContentHandler and registerProtocolHandler interoperable?"
Moved from Bugzilla bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=18975

If there is not good interop here already, I think this may be a candidate to remove (and incubate further in WICG as needed)

@masinter

---

---

[2016-04-21 15:01] chaals commented on #160
I think it makes sense to follow a hybrid of @a3nm's proposals above:

but instead of allowed values, talk about values whose meaning is formally defined, and

essentially allowing for experimentation.

[2016-04-21 15:08] travisleithead opened #234 "@title should allow LF to render consistently, especially given textarea[title] attribute values."
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=19899

This might be worth considering, especially if implementations do allow LF in the title attribute. Marked for testing.

[2016-04-21 15:30] travisleithead opened #235 "Invalidation of :target selector when new candidate elements with matching ids appear in the DOM"
Moved from Bugzilla bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=19994

@mathroc

This is interesting... application of CSS selectors, and the timing of such (especially in dynamic scenarios) is not something HTML defines to my knowledge. I'm skeptical that CSS defines this timing either, but I could be wrong...

@tabatkins, @dbaron, @atanassov

[2016-04-21 15:40] chaals commented on #228
This is being closed as invalid since it doesn't clarify the problem to be solved.

Please do not reopen this bug unless
- [ ] the problem to be solved is clearly stated
- [ ] it is clearly an issue for the HTML specification. This issue seems relevant to the [Web Storage](https://www.w3.org/TR/webstorage/) specification
- [ ] Any feature requests have been incubated for example in the [Web Platfo

[2016-04-21 15:40] #228 closed, assigned to nobody

[2016-04-21 15:46] a3nm commented on #160
@chaals's idea sounds good, but the standard needs to be precise about whether attribute values that are not listed in the standard are valid, or whether they are invalid, i.e., they can be rejected by conformance checkers.

[2016-04-21 15:50] chaals commented on #160
Yes, my proposal is that any value should be accepted by a conformance checker - perhaps with a warning that its meaning has not been standardised, and may be overridden by a future version of HTML...

[2016-04-21 15:51] chaals commented on #212
I'm finding problems with Travis in trying to build something that resolves this.

[2016-04-21 16:44] travisleithead opened #236 "Align implementation "search" behavior for <input> with <datalist>"
Moved from Bugzilla bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=20400

@nicksloan (I think this is the same you)

I created https://jsfiddle.net/ze6ex44b/ to see what's happening in this space today. Results are varied among the browsers I tested:

| Search type | Edge | Chrome | Firefox |
| --- | --- | --- | --- |
| Search by option value | X | X |  |
| Search by option label |  |  | X |

[2016-04-21 16:52] tabatkins commented on #235
Right, CSS purposely doesn't define this at all; it's up to the host language to tell CSS what element(s) are target elements.  It just says that the assignment is determined by the URL fragment.

[2016-04-21 17:07] SetTrend opened #237 "<img> : Inference not conclusive"
http://w3c.github.io/html/semantics-embedded-content.html#example-fe16f76e

<br/>
This annotation is very confusing. It reads:

(a) The current pixel density is 3.125
=> (b) there are 300 device pixels per CSS inch ![smiley_emoticons_skeptisch](https://cloud.githubusercontent.com/assets/9283914/14717910/e95177d8-07f3-11e6-87a3-6cc68223d01f.gif)

(c) if the image data is 300x600
=> (d) it has intri

[2016-04-21 17:43] RyanSquared commented on #196
If it were to break compatibility, perhaps it should then just be an error but still load the resource. Does HTML 5.1 have a way of stating itself not as HTML 5? In that case, we could then completely disable it when the page claims HTML 5.1 standards, but only be a warning or error if it is <HTML5.1

[2016-04-21 22:47] travisleithead opened #240 "Should the special handling of <isindex> be removed?"
This was started as an editorial change in PR #238, but want to make sure this is resolved as decision of the WG.

See Bugzilla bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=28326

Parser support for the inflation of `<isindex>` into multiple DOM nodes as described currently in the spec appears to exist in Safari (latest?) and Mozilla. Chrome and Edge have dropped their handling of this elem

[2016-04-22 00:54] travisleithead commented on #205
Now at 135. Several PRs in flight with editorial fixes from today's work.

[2016-04-22 07:17] karlcow commented on #240
Given the dependency on the [server side](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/isindex#History) and its non implementation across some browsers. From a Web compatibility point of view, it doesn't create any issues to remove it.

And it doesn't seem to be a [big change either for Firefox](https://dxr.mozilla.org/mozilla-central/search?q=isindex&redirect=false&case=true), but @h

[2016-04-22 07:23] karlcow commented on #240
- [Consider removing `<isindex>` from the parser and form submission ](https://bugzilla.mozilla.org/show_bug.cgi?id=1266495)
- ["ASSERTION: mForm should be null at this point" with deeply nested tags, `<isindex>`](https://bugzilla.mozilla.org/show_bug.cgi?id=616027)

[2016-04-22 13:53] takenspc opened #241 "HTML 5.1 should reference WCAG 2.0 instead of WCAG 1.0"
[1.11. Suggested reading](http://w3c.github.io/html/introduction.html#suggested-reading) references WCAG 2.0.

However "[[WCAG]](http://w3c.github.io/html/references.html#biblio-wcag)" in [References](http://w3c.github.io/html/references.html) links to [WCAG 1.0](http://www.w3.org/TR/WAI-WEBCONTENT).

This should link to [WCAG 2.0](https://www.w3.org/TR/WCAG20/)

[2016-04-22 14:50] takenspc commented on #121
I would like to thank you for every work in this issue.

I would like to close this issue because there is another issue (https://github.com/w3c/html/issues/121).

[2016-04-22 15:08] takenspc opened #242 "Section numbers in Terms defined by this specification are invisible"
Section numbers (in §X.Y.Z) in  [Terms defined by this specification](http://w3c.github.io/html/fullindex.html#index-defined-here) are invisible.

For example, the first two links of [Terms defined by this specification](http://w3c.github.io/html/fullindex.html#index-defined-here) are "enum-value for CanPlayTypeResult" and "enum-value for AutocompleteErrorReason".

![](https://cloud.githubusercont

[2016-04-22 17:03] travisleithead commented on #240
Sounds like @hsivonen responded in https://bugzilla.mozilla.org/show_bug.cgi?id=1266495 confirming OK to remove. Also was removed from WHATWG. This SGTM.

[2016-04-22 17:03] #240 closed, assigned to nobody

[2016-04-22 19:11] prlbr commented on #225
It's probably obvious, but let me note anyway that this issue only concerns **invalid** HTML. I'm not sure whether browser behaviour needs to be defined here, but when it is, we need to consider things like:

[code]

How shall Foo be numbered – 1, 3 or even 2?
How shall Bar be numbered – 1, 4, 2, …?
Would this change if the (incorrectly) nested `ol`s were `ul`s instead?

[2016-04-22 22:10] travisleithead commented on #205
Have reviewed the list for editorial bugs prior to 24853 and following 27292.

[2016-04-23 11:00] publicocean0 opened #245 "Websocket in worker"
We need the possibility to make work websocket in process worker. Now there is no warranty it works and we can find it working after page is reloaded

[2016-04-23 11:04] publicocean0 commented on #245
If a websocket is stopped and rebuild every time the is a new connection so the advantages of ws are destroyed . In addition every time I reconnect I have lost the events in the while the connection is redone. It is not a stupid feature to add but a bug in websocket design or a theoretical error

[2016-04-25 10:26] chaals commented on #223
A [simple test](http://www.crmanswers.net/p/test-page-for-showmodaldialog-api.html#) shows support in Firefox 45.02 and Safari 9.1 on Mac OS 10.10 …

Maybe we should just mark this as likely to be deprecated in future.

[2016-04-25 10:34] chaals commented on #223
[Email thread in public-html](https://lists.w3.org/Archives/Public/public-html/2016Apr/0054.html)

[2016-04-25 10:48] chaals commented on #169
[discussion on public-html](https://lists.w3.org/Archives/Public/public-html/2016Apr/0032.html)

[2016-04-25 10:56] chaals commented on #208
This looks like it is still waiting for more implementation, although that seems likely to happen.

So the question is whether it should be HTML 5.1 or later. Leaving it without a milestone for now.

[2016-04-25 10:56] chaals commented on #177
fixed by #179

[2016-04-25 10:56] #177 closed, assigned to travisleithead

[2016-04-25 11:00] chaals commented on #56
[public-html discussion](https://lists.w3.org/Archives/Public/public-html/2016Apr/0021.html)

[2016-04-25 11:06] chaals commented on #176
What happens if you _submit_ a blank value? Is there interoperability?

[2016-04-25 11:09] chaals commented on #151
We should consider dropping the entire MediaController thing, since support has been reduced to Safari only. I'll raise an issue for that.

If we do it, then this will be fixed as part of doing so. Let's give it a bit more time to sort out - setting milestone as the June draft.

[2016-04-25 11:11] chaals opened #246 "Remove Media Controller?"
Media Controllers seem to have fallen out of favour. There is an implementation in Safari, but blink removed its implementation some time ago, and no other browser seems to have plans to implement this.

Note that if we decide to remove Media Controller we would (need to) automatically resolve #151 as well.

[2016-04-25 11:12] chaals commented on #19
This seems unlikely to happen in the HTML 5.1 time frame. Setting milestone…

[2016-04-25 11:45] Boldewyn commented on #176
I tested with recent Firefox, Chrome and IE11 this: https://jsfiddle.net/boldewyn/0yzqh2dx/

All submit a name `foo` with empty value.

[2016-04-25 11:55] chaals commented on #176
Thanks! Same result for Safari 9.1 on that.

[2016-04-25 12:07] chaals opened #247 "Add acknowledgements for contributions"
The acknowledgements section is something of a mess. There are individuals thanked whose contribution was to the HTML 5.0 spec, some years ago.

I don't see that as a problem, but making an effort to go back through the contributions to HTML 5.1 and thank everyone we can find who contributed would be a good thing to do.

And then we can reset for the next version, with a clear acknowledgement to a

[2016-04-25 13:57] chaals commented on #176
[public-html discussion](https://lists.w3.org/Archives/Public/public-html/2016Apr/0056.html)

[2016-04-25 13:58] chaals commented on #246
[public-html discussion](https://lists.w3.org/Archives/Public/public-html/2016Apr/0057.html)

[2016-04-25 17:31] Lcfvs opened #249 "[Proposal] passphrase input"
Hi all,

I was always surprised that no multiline support for password fields.

However, this may increase their complexity and push the user to use long passwords .

I'm well aware, a such feature doesn't risks to appear on all sites, for design reasons, but I find it unfortunate that at present, the possibility doesn't exist, technically and offering the "hidden characters" ability.

What do you

[2016-04-25 17:50] travisleithead opened #250 "Describe how the accessibility label for the <summary> / <details> anon control can be provided (and add examples)"
Per the thread here: https://www.w3.org/Bugs/Public/show_bug.cgi?id=25140 (now resolved) I think we have an action item recorded in this isssue.

@stevefaulkner @zcorpan
Looks like the following proposal had traction at the time:

[code]

It allows the label to provide a larger hit-target on platforms where this is not the default convention, and also provides a label for the anonymous control use

[2016-04-25 17:56] r12a commented on #218
I like @MichielBijl version, because it opens up the issue slightly.  Note however that in addition to voice browsers and fonts, it is also used to determine quotation marks for q elements, and for styling such as hyphenation, case conversion, and line-breaking, as well as for spell-checking in some editors, etc. Incorrect language labels can cause those things to also produce unexpected results.

[2016-04-25 17:59] #56 closed, assigned to nobody

[2016-04-25 18:05] LJWatson opened #251 "Modify advice to use figcaption as table caption"
Migrated from Bugzilla #22074:
https://www.w3.org/Bugs/Public/show_bug.cgi

@stevefaulkner
If the `<figure>` contains only a table, is the assumption here that the `<caption>` would provide the accessible name for both the `<figure>` and the `<table>`?

[2016-04-25 18:12] travisleithead opened #253 "De-emphasis DOCTYPE: shift focus from ”required preamble” to ”required rendering mode”"
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=25232

 following up with @komputist

I'm not confident (but would love to be proven wrong) that we could make not including a `<DOCTYPE>` default to no-quirks rendering mode. So, your point (1) sounds good to me, point (2) would need to be the "must adhere to the mode selection" part of the spec, and point (3) also sound good.

[2016-04-25 18:16] travisleithead opened #254 "Determine rendering for @srcdoc docs with quirks-mode doctype"
This issue is related to issue #253. @komputist

Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=25233

[2016-04-25 18:21] RababGomaa commented on #251
Thank you for looking into it. Rabab

[2016-04-25 18:22] travisleithead opened #255 "Can HTML Mail be exempt from using <DOCTYPE>? (And get no-quirks rendering)"
This issue is related to issue #253. @komputist

[2016-04-25 18:30] RyanSquared commented on #249
I would think it would break how multiple users log into websites; allowing for paragraph-format passwords would mean that login forms no longer can be pushed by pushing Enter and instead would require the user to remove focus from the passphrase box.

[2016-04-25 18:35] chaals commented on #249
More to the point, I am not sure what the value is. I would be surprised if browsers want to implement it, and agree that changing the standard behaviour of a password field isn't all that helpful.

You can already enter a very long phrase in a password field (or else there is a bug in your browser or the processor on the website).

Since this is a feature request and as far as I know hasn't ever

[2016-04-25 20:24] travisleithead opened #256 "Should HTML allow <a rev> and <link rev> to be non-obsolete?"
Moved from https://www.w3.org/Bugs/Public/show_bug.cgi?id=25398

@darobin previously removed `rev` from the list of obsolete features for the last HTML5 Rec. With our latest draft, `rev` is back to obsolete:

Shall we once again make `rev` conforming (in the face of the RDFa Core 1.1 - Second Edition criteria), or keep it obsolete and look for an alternative solution for RDFa?

@f4nt (I think)

[2016-04-25 20:27] rogersmark commented on #256
Think you might have the wrong f4nt :)

[2016-04-25 20:31] zcorpan commented on #250
Thank you for the ping. I raised this issue in whatwg/html also.

[2016-04-25 20:39] johnfoliot opened #258 "Please list longdesc in the table of HTML5 attributes and link to its spec (was Bug 26059)"
(In reply to Arron Eicholz from comment #12)

Hi Arron,

I believe you are mistaken - the HTML5 Image Description Extension (longdesc) at: https://www.w3.org/TR/html-longdesc/ makes the @longdesc attribute a now fully conformant attribute in HTML5 (as per Plan 2014: https://dev.w3.org/html5/decision-policy/html5-2014-plan.html) and thus, also as part of HTML5.1

This is/was a compromise position t

[2016-04-25 20:46] johnfoliot commented on #258
Quote from Plan 2014:
Extension specifications are first-class citizens

Some believe that extension specifications are second-class citizens, or somehow “lesser” than the core HTML5 specification. On the contrary, the specifications in the list above are vibrant, active pieces of the Web platform, with significant implementation traction and community credibility. Many extensions recognized as ha

[2016-04-25 21:27] travisleithead opened #259 "Integrate public identifiers extensions spec?"
At the end of: https://www.w3.org/Bugs/Public/show_bug.cgi?id=13409 which was cloned from: https://www.w3.org/Bugs/Public/show_bug.cgi?id=20769, the proposal was taken to a [very short] extension specification that adds a new DTD to the list of DTDs for the purpose of getting adoption for XHTML documents.

http://www.w3.org/2003/entities/2007doc/xhtmlpubid.html

Is there interest in merging this i

[2016-04-25 21:33] chaals commented on #170
There are attributes (and other bits of HTML machinery like IDL attributes) that extension specs rely on, and define as HTML attributes.

The ones on my immediate list are longdesc and RDFa - which are straightforward, and microdata which might need more thinking since although it is very widely deployed and processed, the current spec is a note and includes a microdata API whose implementation st

[2016-04-25 21:37] chaals commented on #170
Note that the longdesc piece has now been picked up as #258

[2016-04-25 21:50] chaals commented on #251
Is there any practical rationale for saying the `figcaption` element _should_ be preferred in this case? It seems like an odd edge case - or is there some evidence that a lot of people put a table into a `figure`?

Changing _should_ to _may_ seems reasonable, and removing the statement entirely seems reasonable, unless there is some legacy that means one approach is actually better.

[2016-04-25 22:16] davidcarlisle commented on #259
See also

https://github.com/whatwg/html/issues/500

[2016-04-25 22:24] chaals commented on #250
I wrote a [quick and dumb test](http://chaals.github.io/testcases/summary-label-manual.html) which suggests there is currently zero implementation of this.

[2016-04-25 22:37] chaals commented on #256
There is a [fair amount of RDFa](http://webdatacommons.org/structureddata/2015-11/stats/stats.html) out there. Not sure how much of it uses `rev` but since that usage is promoted by schema.org which is one of the most common uses of RDFa, we might want to leave it in there…

(How did it get obsoleted anyway?)

/@danbri

[2016-04-25 22:46] danbri commented on #256
It's a relatively niche feature of RDFa but addresses a genuine need. Otherwise every structured data vocabulary needs to name every property in both directions ("hasPart" vs "isPartOf"). Even considering just schema.org, we've got approaching 1000 property names and it is consistently difficult finding names for them even in one direction. I'd support the restoration of @rev ...

("Use the rel at

[2016-04-25 23:31] travisleithead opened #260 "What should go in the Alt text for images of text that are linked"
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=22576
@DavidMacDonald

Curious what some other folks think?
@stevefaulkner @michielbijl @unor @iandevlin

[2016-04-25 23:42] travisleithead opened #261 "why is "content language" pragma processing not equivalent to HTTP Content-Language?"
was:
### I18N-ISSUE-129: document unclear on why content language pragma processing not equivalent to HTTP Content-Language?

Migrated from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=22719
@aphillips

The note is still there, and the reason is still ambiguous. Need to do a bit more research here, unless anyone's already figured it out.

[2016-04-25 23:58] travisleithead commented on #205
59 bugs.

[2016-04-26 07:27] Lcfvs commented on #249
I don't want to change the existing element.

It's why I suggest un new input type: "passphrase", not "password".  ;)

@chaals : Ok, thanks, for the incubator :)

[2016-04-26 07:27] #249 closed, assigned to nobody

[2016-04-26 08:23] LJWatson commented on #260
I think the advice given in <a href="http://w3c.github.io/html/semantics-embedded-content.html#a-link-or-button-containing-nothing-but-an-image">4.7.5.1.3 A link or button containing nothing but an image</a>, <a href="<a href="http://w3c.github.io/html/semantics-embedded-content.html#images-of-text">4.7.5.1.5 Images of text</a>, and <a href="<a href="http://w3c.github.io/html/semantics-embedded-co

[2016-04-26 12:21] cheshrkat commented on #231
Meanwhile the new hottness is CSS Modules (https://github.com/css-modules/css-modules), suggesting a fond wish to stop CSS cascading. There's demand for a usable feature to scope CSS amongst authors at least.

[2016-04-26 15:09] arronei commented on #170
I am thinking we need a new way to handle this much like CSS does. CSS publishes yearly snapshots of what documents the WG think are "stable" additions to the language. We can define what "stable" means and publish out our own yearly roll-up of documents that make HTML 2016, 2017, etc...

This would allow HTML 5.1 to be the foundation document that is just the core features that where in HTML5 and

[2016-04-26 17:00] ZoeBijl commented on #231
They're not seriously suggesting to turn it into SS right?

[2016-04-26 17:02] arronei opened #262 "window.open(url, name) is vulnerable to XSS with "name" collision"
Xiaoran Wang (xiaoran@attacker-domain.com) This is a joint research with Travis Safford.
window.open(url, name, [args]) makes it easy for websites accepting user supplied URLs to be vulnerable when attackers can cause a collision on the the “name” parameter. For example, consider a genuine site embedding an iframe with name “myFrame”, and allows user to supply the url of the iframe.

e.g. www.exam

[2016-04-26 17:02] arronei commented on #262
Imported from https://www.w3.org/Bugs/Public/show_bug.cgi?id=29107

[2016-04-26 17:35] chaals commented on #170
@arronei, that's pretty much what I was thinking, I think.

[2016-04-26 21:10] travisleithead opened #263 "Define formal activation behavior for <select>"
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=22957

from: Giuseppe Pascale

---

[2016-04-26 21:46] travisleithead opened #264 "Provide code example and best practice advice for <dialog>"
@stevefaulkner

[2016-04-26 22:01] arronei opened #265 "Situation when using "hidden" is not appropriate"
@stevefaulkner

Imported from https://www.w3.org/Bugs/Public/show_bug.cgi?id=28702

In "7.1 The hidden attribute" (W3C Recommendation 28 October 2014 ), refer to
"The  hidden  attribute must not be used to hide content that could legitimately be shown in another presentation.
For example, it is incorrect to use hidden  to hide panels in a tabbed dialog, because the tabbed interface is merely a kin

[2016-04-26 22:02] travisleithead opened #266 "Should <label> have a transparent content model?"
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=23561
@asurkov, @komputist

Thread ends with a suggestion to make `<label>` have a transparent content model (to allow `<div>` or `<p>`).

Need to check the interop status of such a change.

[2016-04-26 22:12] travisleithead opened #267 "Drop the relList IDL attribute?"
Moved from bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=23579
@yucca42

Since this was filed, I note that Firefox 45 does support `relList`. Should check Safari too.

[2016-04-26 22:28] travisleithead opened #268 "Add advice to AT UA about presentation of <img> no alt"
Opened because I also couldn't figure out what it meant, and better let @stevefaulkner clarify :)
See: https://www.w3.org/Bugs/Public/show_bug.cgi?id=23939

[2016-04-26 22:50] travisleithead opened #269 "Sort out issues with [inputmode]"
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=23961
@sicking, @benbucksch, @TakayoshiKochi

In the linked bug, it is pointed out that `inputmode` combines concepts in one attribute that shouldn't logically belong together (script/language [latin, kana...], data types, and typing aids, etc.).

Is this feature widely implemented? Should it be dropped? If not, can it be refactor

[2016-04-26 22:57] sicking commented on #269
I think @mounirlamouri and I reached a good proposal, but I've forgotten it all by now.

[2016-04-26 23:06] travisleithead opened #271 "Expand note on not using Tables as layout aids"
steve faulkner     2014-01-30 09:43:17 UTC

Copied from: https://www.w3.org/Bugs/Public/show_bug.cgi?id=24447
@stevefaulkner

[2016-04-27 00:29] travisleithead opened #272 "<caption> can take any role; make this more specific"
@stevefaulkner

The current spec still leaves the role open as noted. Seems like a valid opportunity for improvement.

[2016-04-27 00:38] travisleithead commented on #106
@cyns to weigh in on this one.

[2016-04-27 00:59] travisleithead opened #273 "Why can't <header> have <header> descendants?"
Moved from https://www.w3.org/Bugs/Public/show_bug.cgi?id=24853

@stevefaulkner might be able to answer this. Original Bugzilla bug created by: n**a@gmail.com

[2016-04-27 01:06] travisleithead commented on #205
37 bugs.

[2016-04-27 01:54] ZoeBijl commented on #273
That code example makes little sense to me. In the case of an “About the author” section, it should be either an aside to the article, the main, or in the `footer` of either of those. It does seem weird to me that an `article` within a `header` would be allowed.

[2016-04-27 05:47] stevefaulkner commented on #265
resolved via https://github.com/w3c/html/issues/203

[2016-04-27 05:47] #265 closed, assigned to stevefaulkner

[2016-04-27 11:09] chaals commented on #34
This issue has been duplicated by #273 - closing here, and I'll put a pointer there

[2016-04-27 11:09] #34 closed, assigned to nobody

[2016-04-27 11:09] chaals commented on #273
This duplicates #34 - please check the discussion there too.

[2016-04-27 11:36] cheshrkat commented on #231
My answer was obviously a little flippant, but my understanding is it's all about locally scoping CSS so styles written for a component do not apply elsewhere. It generates ID-like class names which are tightly coupled to the HTML rendering. The author can then choose to push styles up to global scope as the _exception_. So, essentially it's an attempt to stop the cascade.

[2016-04-27 12:19] ZoeBijl commented on #231
So it's a dirty way of using `scoped`? I feel like people don't understand the cascade and thus are trying to work around it.

[2016-04-27 12:45] cheshrkat commented on #231
I'm not advocating CSS Modules, just noting there is developer demand for scoped CSS.

[2016-04-27 13:49] prlbr commented on #231
Yep, I'm a developer and I have demand for scoped CSS.

It's somewhat annoying to see it in the spec and not being implemented (except by Firefox). I wish it would be implemented. On the other hand, I would support the motion to remove it from the spec, if it was clear that other browser vendors definitely won't implement it. I really would like to hear the reasons for not implementing it though.

[2016-04-27 14:50] travisleithead commented on #106
Lumping in Bug https://www.w3.org/Bugs/Public/show_bug.cgi?id=24571 as well.

[2016-04-27 14:58] travisleithead opened #274 "Should <menuitem> really be a void element?"
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=24972
@AndySky21

The question is:

---

[2016-04-27 15:00] stevefaulkner commented on #274
see https://github.com/whatwg/html/issues/234

[2016-04-27 15:05] RyanSquared commented on #231
I believe the problem with scoped CSS is the inability to modify <html> and <body> tags.

[2016-04-27 16:25] travisleithead commented on #274
Created https://jsfiddle.net/gnwv5076/.
In Firefox, Chrome and Edge, these appear to **not** be treated as void elements.

[2016-04-27 16:44] travisleithead opened #276 "Clarify whether there is a stated preference regarding headings with sections"
Copied from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=25270

[2016-04-27 16:51] arronei opened #277 "initial focus precedence: autofocus or fragment identifier"
@rodneyrehm

Imported from: https://www.w3.org/Bugs/Public/show_bug.cgi?id=27912

There are currently at least 2 ways to set initial focus upon document load. The document itself can define an element to (scroll to and) focus by using the autofocus attribute [1](limited to form elements). The user can define the element to (scroll to and) focus by using a URL fragment identifier [2]. The specifica

[2016-04-27 17:00] travisleithead opened #278 "Add focusin and focusout to the focus model"
See bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=25877

[2016-04-27 17:07] travisleithead opened #279 "Add advice about use of sectioning content in lists"
...this is to match the note already available about headings in lists...

@stevefaulkner

[2016-04-27 17:36] chaals commented on #276
This is a redundant part of #169 which itself is a part of #33.

[2016-04-27 17:36] #276 closed, assigned to nobody

[2016-04-27 18:56] arronei commented on #269
Additional bug that needs to be addressed. https://www.w3.org/Bugs/Public/show_bug.cgi?id=27229

[2016-04-27 18:57] benbucksch commented on #269
Description from linked bug:
Latin and kana are orthogonal to things like "autocorrect off".
Likewise, "email" belongs in type, and is already standardized and accepted cross-browser there, but inputmode has it as well - again: orthogonal.
So, the current spec has 3 or more orthogonal aspects in the same field:
1. script/language (latin, kana...)
2. data type (text, numbers, email, url)
3. typing

[2016-04-27 18:58] benbucksch commented on #269
I propose to split up the different aspects:

For 1. above:
- inputscript="latin"/"kana" etc.
  default is chosen by browser based on language of page and user.
  See http://lists.whatwg.org/htdig.cgi/whatwg-whatwg.org//2013-February/038914.html

For 2. above:
- type="email"/"url"/"text"
  As already specced

For 3. above:
- autocorrect="off" (change words that the user already typed)
- autocapita

[2016-04-27 21:01] travisleithead opened #281 "stepUp/Down algorithm does not match reality"
In my reading of http://w3c.github.io/html/sec-forms.html#dom-htmlinputelement-stepup

with the following input:

[code]

The algorithm seems to get all the way through to step 11, where it tries to convert value (3.5) to a month string. I think somewhere along the line it must be triggering the "suffering from a step-mismatch" because 3.5 does not convert to a legitimate month value, so rounding

[2016-04-27 21:09] arronei opened #282 "Navigation Algorithm Ambiguity"
Imported from: https://www.w3.org/Bugs/Public/show_bug.cgi?id=28655

I would like to point out one thing that is not clear from the specification. In section 5.6 Browsing the Web(http://www.w3.org/TR/html5/browsers.html#browsing-the-web), if a user-agent is trying to grab a new HTML page that is not in cache (as per step 14 of the navigation algorithm) we will request to get that page using fetch

[2016-04-27 21:15] arronei opened #283 "role=tabpanel should be allowed on section element"
@stevefaulkner, @cptvitamin

Imported from : https://www.w3.org/Bugs/Public/show_bug.cgi?id=27433

3.2.7.4 Implicit ARIA Semantics [1] currently limits the role attribute on the section element to the following values:

However, the section element [2] could conceivably be used to mark up tabpanel content in a tab widget:

In fact, the non-normative example that follows explicitly makes note of th

[2016-04-27 21:21] arronei opened #284 "colspan="0" option for TD elements was dropped, yet the "no one uses" rowspan="0" remains"
@scunliffe

Imported from: https://www.w3.org/Bugs/Public/show_bug.cgi?id=27099

"The td and th elements may have a colspan content attribute specified, whose value must be a valid non-negative integer greater than zero."

Back in HTML 4.x http://www.w3.org/TR/html401/struct/tables.html#adef-colspan the colspan"0" attribute on a TD element was spec'd to tell the user agent to span the column acros

[2016-04-27 21:37] stevefaulkner commented on #283
@arronei the HTML spec defers to [ARIA in HTML](https://www.w3.org/TR/html-aria/) for normative HTML/ARIA authoring requirements, have opened a bug there https://github.com/w3c/html-aria/issues/29, will close this

[2016-04-27 21:37] #283 closed, assigned to nobody

[2016-04-27 21:39] arronei opened #285 "object element usemap should be deprecated"
@rodneyrehm

Imported from: https://www.w3.org/Bugs/Public/show_bug.cgi?id=27756

I'd like to discuss options to deprecate the usemap attribute on the object element.

This limits maps to the case where the object element references an image, i.e. a file format that <img> already handles just fine. With the exception of SVG, which features does the object element provide an img element does not?

[2016-04-27 21:47] arronei opened #286 "Add <picture>/<img> acknowledgements"
@nwtn

Imported from: https://www.w3.org/Bugs/Public/show_bug.cgi?id=26397

The Editor's Draft for the <picture> element [1] contains the following acknowledgements text:

"A complete list of participants [2] of the Responsive Images Community Group is available at the W3C Community Group Website. Contributions also from: David Newton, Ilya Grigorik, John Schoenick and Leon de Rijke. Special thank

[2016-04-27 21:49] travisleithead commented on #205
10!

[2016-04-27 21:49] travisleithead commented on #205
9!

[2016-04-27 21:50] arronei commented on #205
8!

[2016-04-27 21:53] arronei opened #287 "Dropzone operation and effectAllowed"
@stevendwood

Imported from:https://www.w3.org/Bugs/Public/show_bug.cgi?id=26686

Since the dropzone can only support only one kind of operation (copy, move, link), does that mean that you cannot use a dropzone to do a copy OR a move based on a modifier key ?  The relation between dropEffect and the dropzones operation is not clear. Is the operation only for feedback - or does it work like dropEff

[2016-04-27 21:53] arronei commented on #205
7!

[2016-04-27 22:04] travisleithead opened #288 "Figure out whether <rp> should auto-close other ruby elements"
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=26424

@darobin, @kojiishi, @fantasai, @r12a

[2016-04-27 22:05] travisleithead commented on #205
6!

[2016-04-27 22:18] arronei opened #290 "make element.focus() consider body element's focusable state for improved real-world interop"
@travisleithead

Imported from: https://www.w3.org/Bugs/Public/show_bug.cgi?id=26725

Test case files:
- https://www.w3.org/Bugs/Public/attachment.cgi?id=1508
- https://www.w3.org/Bugs/Public/attachment.cgi?id=1509

Example showing the expectations of the new behavior; this is the primary repro file.

A few months ago, IE made a platform change to improve our Mobile interop to match a webkit behav

[2016-04-27 22:19] arronei commented on #205
5!!

[2016-04-27 22:37] travisleithead opened #291 "How to handle legacy Ruby content that may use <rbc>"
Copied from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=26426

@kojiishi, @darobin, @fantasi, @r12a

[2016-04-27 22:48] travisleithead opened #292 "Focusability of scrollable regions"
@stevefaulkner, @ChumpChief

[2016-04-27 22:49] travisleithead commented on #205
4!!

[2016-04-27 22:50] travisleithead commented on #205
3!!!

[2016-04-27 22:51] travisleithead commented on #205
2!!!

[2016-04-27 22:57] travisleithead commented on #205
1!!!

[2016-04-27 23:06] travisleithead opened #293 "Labeled element should not match :hover or :active when the label's activation behavior is "do nothing""
Moved from Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=28700
@arai-a

[2016-04-27 23:07] travisleithead commented on #205
0!!!! 🎆

[2016-04-27 23:09] travisleithead commented on #205
No more bugs to port. Closing this issue.

[2016-04-27 23:09] #205 closed, assigned to nobody

[2016-04-28 00:02] travisleithead commented on #273
From @stevefaulkner in #34:

[2016-04-28 00:03] travisleithead commented on #273
Comment https://github.com/w3c/html/issues/273#issuecomment-215268518 sounds reasonable to me.

[2016-04-28 00:17] Wes1262 commented on #273
It's not a child of an header, it's a child of a sectioning element that is within an header.

[code]

I think sections in site footers are pretty common, and those section may have an header with a title, and that's just as common. If this restriction will be permanent, people will use `<section/aside/figure>` rather than `<footer>` for site footers, and it's not what HTML semantics aim for. Seve

[2016-04-28 00:20] travisleithead commented on #170
Going further (too far?) I'd like to also trim-down the HTML5.1 "foundation" spec, by removing the pieces that get spun out as modules (which is unlike what CSS does with CSS2.1). For example, if I pull out "HTML Scripting" as a module, I want to remove the related complexity from HTML5.1. In the limit, I think there is still a core part of the document that will remain and not become a module--at

[2016-04-28 00:23] travisleithead commented on #260
Would love to hear from @DavidMacDonald is the above is satisfactory resolution.

[2016-04-28 00:25] travisleithead commented on #256
OK. Adding this to my queue.

[2016-04-28 00:29] travisleithead commented on #250
Doesn't work in Chrome on Windows, and Edge doesn't support the elements yet. @chaals are you suggesting this feature be incubated? It sounds like it has merit as an accessibility improvement...

[2016-04-28 00:33] travisleithead commented on #251
I was actually wondering why we have a `<figcaption>` element, when we already have an aptly named `<caption>` element that could be re-used within a figure (kinda how `<option>` was reused in `<datalist>`. Is it too late to drop `<figcaption>` or is `<caption>` too tied up in table processing to be portable to this scenario?

[2016-04-28 00:42] travisleithead commented on #247
I really like that idea. An ever-growing ack section for a living-standard can become unwieldy. +1 to reset with each published revision.

[2016-04-28 00:51] Nick-Levinson opened #294 "comments to be selectively preserved despite minification need string or format"
Minifying removes comments some of which should, however, stay in place for the benefit of website visitors. Many comments are functional even after delivery to a user agent. We need a comment format that minifiers will recognize for preserving selected comments. Comments that should be preserved are (a) those for parsing by some user agents (comments are often prepared for consumption by selected

[2016-04-28 00:52] travisleithead commented on #208
See also Issue #269

[2016-04-28 00:55] travisleithead commented on #245
Well... websockets are not a feature that is described by our HTML5.1 spec. I'm not sure you'll be able to get help in this forum. Have you tried filing bugs against the browser implementers that have the issue?

[2016-04-28 01:01] travisleithead commented on #225
Sounds like getting this specified may need to wait a bit, given the following note in the [Rendering section](http://w3c.github.io/html/rendering.html#lists):

[2016-04-28 01:03] travisleithead commented on #225
Wondering if the above is still true. @tabatkins can HTML describe how to number nested lists? I'm not sure what hooks need to be described for this purpose. Can counters be used?

[2016-04-28 01:07] travisleithead commented on #196
This sounds like introducing a version switch, which I must strongly advise against, since IE went down this road, and it is a road of pain both for the implementer and web authors. OTOH, restricting cross-origin might be something you can already do with CSP? I'm not sure... @mikewest will know.

[2016-04-28 01:15] travisleithead commented on #237
Yeah, I don't get this either. @ChumpChief or @marcoscaceres can you explain? Perhaps I can then edit this to make it clearer...

[2016-04-28 01:23] tabatkins commented on #225
Counters are fully described in https://drafts.csswg.org/css-lists/#creating-counters.  It's a little complex, but yes, the "1,2,3" behavior described in the OP is still correct.  This behavior is necessary for counters in general, to allow things like numbering examples across a document.  (I've done some design work on creating a variant counter behavior that would only look at children, so this

[2016-04-28 01:59] scunliffe commented on #269
The inputmode attribute/feature is not widely implemented yet however getting it implemented will help overcome current issues with the new text-like input fields. Currently to get a numeric keyboard to appear on mobile we want to use type="number" (for usability)... However this applies very strict conditions to the field, specifically restricting setting partial values via JavaScript and using t

[2016-04-28 02:10] scunliffe commented on #262
I'm not sure if this is related, but IE (not sure if Edge fixes this yet) also doesn't have a separate context per site. As such if 2 sites load content into a window named "chooseitem" they will both write to the same window. This is quite commonly hit in development between local server, QA, UAT, and Production environments.

[2016-04-28 02:16] kojiishi commented on #288
I believe this has been fixed in the spec both in w3c/whatwg, web-platform-tests, WebKit, Blink, and Gecko.

[2016-04-28 02:46] stevefaulkner commented on #251
On 28 April 2016 at 01:33, Travis Leithead notifications@github.com wrote:

I believe this is the reason for figcaption, I can find historical
discussion if it helps?

##

Regards

SteveF
Current Standards Work @W3C
http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/

[2016-04-28 09:26] ZoeBijl commented on #273
Nested `header`'s feel like nested `table`'s; if you need it, you're probably doing something wrong. Can you post a link to an example that would benefit from this? I'm really curious.

[2016-04-28 10:05] chaals commented on #170
Yes, I think that is a critical part of the task. Otherwise we leave people reading through a set of documents and trying to mentally cut and paste fragments, which is much too much work for most readers to do efficiently.

For now, we should aim to do this with the bits that are actually Rec. Assuming that HTML will continue to develop beyond 5.1, we can do more of this in 5.2.

It is also the ca

[2016-04-28 10:10] chaals commented on #250
Yes, I think the feature has merit but isn't ready.

Probably only because there is no implementation though - it matches the platform pretty obviously I think.

[2016-04-28 10:22] chaals commented on #247
I can take on the adding people in, but I am not sure if I will get to doing the HTML 5.0 - 5.1 reset completely - not that I think that is critical.

[2016-04-28 14:34] chaals commented on #43
See also ["The keygen element": The only supported signature algorithm is the outdated and insecure md5WithRSAEncryption. The element should at least have an optional signature algorithm, with the option to use the more secure sha1WithRSAEncryption and sha256WithRS](https://www.w3.org/Bugs/Public/show_bug.cgi?id=13518) in bugzilla

[2016-04-28 14:48] chaals opened #296 "clarify that accesskey makes element focusable but doesn't change its role"
from [bugzilla](https://www.w3.org/Bugs/Public/show_bug.cgi?id=23616)

[2016-04-28 15:30] ZoeBijl commented on #176
This is a handy way to mark a `select` as empty. Or clear it in case a default is selected. I am for option 3.

[2016-04-28 15:57] LJWatson opened #297 "Define sequential navigation for imagemaps"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27787">Bugzilla #27787</a>.

Ping @rodneyrehm @chaals

[2016-04-28 16:02] LJWatson opened #298 "iframe examples need title attributes"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27794">Bugzilla #27794</a>.

Ping @stevefaulkner @davidmacdonald

[2016-04-28 16:02] rodneyrehm commented on #297
## Original issue (2015-01-08)

"User agents may also allow individual area elements representing hyperlinks to be selected and activated (e.g. using a keyboard)."

Every major user agent (Gecko, Trident, WebKit, Blink) adds `<area>` elements to the document's sequential navigation focus order. But because the specification does not explain _how_ that should happen, they disagree on the order.

In

[2016-04-28 16:05] LJWatson opened #299 "Clarify definition of field where relevant to scheme"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27795">Bugzilla #27795</a>.

Ping @Nick-Levinson

[2016-04-28 16:07] LJWatson opened #300 "Define steps for scrolling element into view"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27913">Bugzilla #27913</a>.

Ping @rodneyrehm

[2016-04-28 16:11] rodneyrehm commented on #300
This issue is discussed in whatwg/html#94 - I'm not sure who's got the lead here, WHATWG or W3C…

[2016-04-28 16:11] LJWatson opened #301 "Current iframe sandbox doesn't prevent download from sandbox child frame"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=29100">Bugzilla #29100</a>.
Ping @travisleithead @arronei @adanilo

[2016-04-28 16:14] plehegar commented on #286
:+1:

[2016-04-28 16:14] LJWatson opened #302 "Meta element already too redundant"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=29483">Bugzilla #29483</a>.

[2016-04-28 16:17] LJWatson opened #303 "Help authors write link and meta elements more efficiently"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=29484">Bugzilla #29484</a>.

Ping @nick-levinson

[2016-04-28 16:19] LJWatson opened #304 "Meta property attribute should be recognised"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=29485">Bugzilla #29485</a>

[2016-04-28 16:20] LJWatson opened #305 "html and head elements should not get new attributes"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=29486">Bugzilla #29486</a>

[2016-04-28 16:23] LJWatson opened #306 "Add screen capture example to alt techniques"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=18450">Bugzilla #18450</a>

[2016-04-28 16:25] travisleithead commented on #241
This is closed per the merged PR. Thanks!

[2016-04-28 16:26] LJWatson opened #307 "Confusing terminology in alt techniques"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=25886">Bugzilla #25866</a>

It is confusing to use "null alt" in one sentence, then "must be left empty" in the next.

[2016-04-28 16:29] LJWatson opened #308 "Alt techniques do not conform to stated purpose"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27038">Bugzilla #27038</a>

[2016-04-28 16:31] LJWatson opened #309 "Use Oxford comma consistently in alt techniques"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27572">Bugzilla #27572</a>

[2016-04-28 16:33] LJWatson opened #310 "Use active voice, not passive."
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27573">Bugzilla #27573</a>

[2016-04-28 16:35] LJWatson opened #311 "Alt techniques should include longdesc"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27574">Bugzilla #27574</a>, and <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27932">#27932</a>

[2016-04-28 16:37] LJWatson opened #312 "Harmonise alt techniques glossary with ARIA glossary"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=27924">Bugzilla #27924</a>

[2016-04-28 16:48] bblfish commented on #43
The issue is that something good should be in its place before it gets removed, as it is important in allowing cheap and secure client certificates to be created - indeed ones that don't necessarily need to be created by a CA. ( see http://webid.info/spec/ ) There are many ways to improve what is not good in the current system for sure (as there always is in most elements of browsers). But TLS cli

[2016-04-28 16:51] chaals commented on #286
To be honest I don't mind either way, although we already have a specific thanks for WHAT-WG for the various things they have done.

I'm personally inclined not to start trying to gather the specific things people have done, since comparisons are odious and tracking everything is a monster task.

But nor do I object to someone doing it, so go right ahead.

[2016-04-28 16:58] LJWatson opened #313 "Editorial issues in 3.2.1 semantics"
Migrated from <a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=21813">Bugzilla 21813</a>

[2016-04-28 17:00] r12a opened #314 "Default styling for q element"
**[This issue is carefully focused on language choices made by the styling shown in 10.3.6 Quotes in the spec. Please do not widen it to discuss the appropriateness of specific quotation marks proposed in that section for a given language, and please do not widen it to a more general discussion about the value or not of the q element. There are likely to be other issues raised for those points.]**

[2016-04-28 18:06] ChumpChief commented on #237
96 CSS pixels per CSS inch, so 3.125 \* 96 = 300.  The example is technically correct :-P

However I agree these values chosen sound like someone just made a math mistake, and no real device I know of ships at a default scale of 3.125.  It would be better to use other values, e.g. pixel density of 2.0, 192 physical pixels per CSS inch.

Or add a reminder in the annotation that it's 96px/in.

[2016-04-28 19:22] lauracarlson commented on #306
Hi,
The original bug was "Consider adding a screen capture example" not a CAPTCHA example.
Thanks.

[2016-04-28 19:55] LJWatson commented on #306
Thanks @lauracarlson should be fixed in the issue title now.

[2016-04-28 21:29] RababGomaa commented on #251
Another argument to support removal of < figcaption > statement with data tables:
- < caption > is the original element created for table titles. Jaws reads the list of < caption > for data table using the Tables short key. In case of using < figcaption > Jaws shows no < figcaption >s (tested with Jaws 15).  I will retest with Jaws 17 and let you know if I get the same results.

@stevefaulkner it

[2016-04-28 21:33] travisleithead commented on #256
OK, go checkout PR #315 and let me know what changes you'd like to make before we merge this in.

[2016-04-28 21:43] danbri commented on #256
/cc @scor

The language used, "Relationship between the document containing the hyperlink...", may not be a great fit with RDFa's use of @rev (or @rel). In RDFa the relationships are equally often about real world entities described in the markup.

Would vaguer language be possible, e.g. "Indicates a relationship to ..."?

[2016-04-28 21:47] travisleithead commented on #256
Sure. Let me make that suggested change...

[2016-04-28 21:52] travisleithead commented on #237
OK, checkout PR #316 and let me know if that updated text helps.

[2016-04-28 21:59] travisleithead commented on #256
Hmm. 'relationship' is used in `rel` too... looking for a better word to use in both places...

[2016-04-28 22:03] danbri commented on #256
"relationship" feels ok to me, so long as there is some flexibility in the definition to allow for both usages.

It is a longstanding oddity in the Web dating back to the diagram in https://www.w3.org/History/1989/proposal.html and to https://www.w3.org/Talks/WWW94Tim/ that sometimes we're talking about relationships amongst documents, and sometimes amongst the things the documents describe. Both

[2016-04-28 22:19] travisleithead commented on #256
I went back and took a hint from HTML4 :) PR updated, let me know what you think.

[2016-04-28 22:27] travisleithead commented on #286
Took the suggestion since @chaals did not object :) See PR #317

[2016-04-29 04:53] #241 closed, assigned to adanilo

[2016-04-29 05:27] adanilo commented on #169
Removing the last example just before 4.3.10.1 which has "This final example would need explicit style rules to be rendered well in legacy browsers." in its description looks sufficient since we have the explicit warning at the start of 4.3.10.1. about the outline algorithm. Happy to provide a PR for that if folks agree.

[2016-04-29 08:46] LJWatson commented on #169
@adanilo

If you mean removing everything from "This third example is also semantically identical, and might be easier to maintain..." down to the 4.3.10.1 heading, that WFM, but defer to @stevefaulkner @travisleithead and @arronei for an editorial +1

[2016-04-29 12:03] mikewest commented on #196
I don't think browsers today are in a position to make this kind of change, even if they wanted to. For better or worse, the web is built in large part upon cross-origin inclusions.

CSP is a developer-facing feature, not a user-facing feature. Browsers' extension systems are probably a safer place to enable this kind of change, if it's something you'd like to do.

[2016-04-29 14:29] danbri commented on #256
Excerpting,
-    link/rel — Relationship between the document containing the hyperlink and the destination resource
-   link/rev — Describes a <a>reverse link</a> from the resource to the containing document

My nitpicking is around "Relationship between the document containing the hyperlink"; is there a graceful way of saying "Relationship between the document containing the hyperlink (or one of

[2016-04-29 14:44] RababGomaa commented on #251
https://youtu.be/ZV0a6jSda30
Here is a demo on Jaws 17 and two table titles one coded in caption and the second in figcaption.
Notice that Jaws does not recognize the table title when coded in figcaption.
Test case steps:
1) Run JAWS and open a page with tables.
2) Use Insert+F3 on keyboard to pull all lists > select tables list

[2016-04-29 14:55] travisleithead opened #319 "Integrate WHATWG changes for interoperable coords parsing"
See https://github.com/whatwg/html/pull/514 for details. Also, this will fix the improperly resolved Bugzilla bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=28148

@zcorpan thanks for the head's up.

[2016-04-29 15:21] prlbr commented on #302
Actually, you do not have to supply any meta tags. Only very few are actually useful in every document, some might be useful for specialized pages and many are largely useless.

I think expecting parsers to conform to such a requirement would be illusionary and I would advise against requiring something that is as unlikely to happen broadly. An advice instead of a requirement might be fine though.

[2016-04-29 17:02] scor commented on #256
A good example to illustrate the need for more granularity is for pages that describe multiple topics/things. For example, http://www.icao.int/pages/contact_us.aspx lists lots of offices around the world, and each of those does not have a separate page/document. In this situation, "document containing the hyperlink" is too broad and we need more granularity to describe each office location.

[2016-04-29 17:21] danbri commented on #256
@scor could you sketch how that might look in actual RDFa 1.1 (with @rel and with @rev)?

[2016-04-29 17:33] LJWatson commented on #298
Proposed fix in <a href="https://github.com/w3c/html/pull/321">PR #321</a>

[2016-04-29 17:33] #76 closed, assigned to arronei

[2016-04-29 19:20] travisleithead commented on #256
So, I don't know my rel values very well, but are you describing something like this:

[code]

where the "document" is the same, but the sections in the document are different?

[2016-04-29 19:59] travisleithead commented on #273
email obfuscated -- sorry about that.

[2016-04-29 20:20] henke37 opened #322 "<img> elements ignoring http status code"
The img element appears to have a loophole in the loading algorithm (formally "update the image data") that results in responses with an error status code (such as 404) succeeding to load, if the response body is a valid image.

In other words: an img element pointing at a resource that returns a 404 response that is an image will not fire the error event you'd expect from a 404 response.

[2016-04-29 21:03] kevinSuttle opened #324 "The current state of HTML input elements"
I wrote up a synopsis of forms and suggestions for baseline HTML form inputs. Hopefully these are useful.
http://codepen.io/write/the-current-state-of-web-forms

[2016-04-29 21:16] danbri commented on #256
@scor correct me if I'm wrong please. If RDFa's vocab is used about the @rel in the tree, then unprefixed content of @rel is understood by RDFa to be representing properties of the thing being described by that piece of RDFa. So in this example there are two different Persons being described:

[code]

Hence  (or one of its subsections or topics); in this case Stephane and Dan are two of the docume

[2016-04-29 21:41] arronei commented on #305
@Nick-Levinson

There seems to be a mild trend toward adding attributes into the html and head start tags (for example, the Open Graph protocol alone may require at least three). However, the charset must be completely declared within the first 1,024 characters of the file. As of yet, I don't think that's a conflict, but if anyone else wants to require more to be written into those 1024 bytes then

[2016-04-29 21:42] arronei commented on #304
@Nick-Levinson

For the meta element with the property attribute, I'm concerned that someone out there is going to use both attributes (name and property) for the same value strings but with different meanings. Unless creating the property attribute was simply a mistake, that's the likeliest use, and it's likely even if it was a mistake since it's now available to future developers. For now, we're

[2016-04-29 22:22] stevefaulkner commented on #324
Hi Kevin, I get a 404 on the link you provided

On Friday, 29 April 2016, Kevin Suttle notifications@github.com wrote:

##

##

Regards

SteveF
Current Standards Work @W3C
http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/

[2016-04-30 15:02] kevinSuttle commented on #324
Oh, I posted a link to the editor. Apologies. http://codepen.io/kevinSuttle/post/the-current-state-of-web-forms

[2016-04-30 15:58] scor commented on #256
@danbri yes you are right. Here is another example using @rev this time:

[code]

[2016-04-30 16:47] danbri commented on #256
Thanks. The point being that these people and places are the natural things you'd say that "workLocation" is relating, hence "(or one of its subsections or topics)".

[2016-04-30 21:10] #35 closed, assigned to arronei

[2016-04-30 21:12] arronei commented on #267
relList is supported in Firefox, Safari (`<a>, <area>`) and Chrome (only `<link>` element)

[2016-04-30 21:33] RyanSquared commented on #196
So, how do we deal with incompatibilities between HTML5x versions?

[2016-05-02 06:28] adanilo commented on #169
@LJWatson yes that's exactly what I meant. I'll create a PR for it.

[2016-05-02 14:38] travisleithead commented on #294
Very interesting. I'm trying to think through what the implication would be on the HTML spec.
- The HTML parser: no change `` still delineate a #comment node which will be created an inserted into the DOM.
  - Hypothetically, we could add parser support to somehow skip comments with some designated flag as a client-side processing step, but this seems pointless as one goal of minification is to mi

[2016-05-02 15:27] travisleithead commented on #288
Super (I wasn't sure when reading the parsing algorithm). Not fixed in Edge yet?

[2016-05-02 15:32] travisleithead commented on #170
OK, well, we seem to have wandered a bit off topic. This issue is about putting in the hooks for:
- RDFa
- Microdata
- longdesc
  others?

[2016-05-02 17:12] travisleithead commented on #250
HTML5.1 Bugzilla Issue Triage: Incubation needed

This bug constitutes a request for a new feature of HTML. The current guidelines [1], rather than track such requests as bugs or issues, please create a proposal outlining the desired behavior, or at least a sketch of what is wanted (much of which is probably contained in this bug), and start the discussion/proposal in the WICG [2]. As your idea ga

[2016-05-02 17:12] #250 closed, assigned to nobody

[2016-05-02 17:23] chaals commented on #304
@danbri does this touch RDFa, as used in schema.org? Or otherwise @halindrome

[2016-05-02 17:23] travisleithead commented on #300
I'm flexible. From the other issue, it looks like the scrollIntoView hook in CSSOM View has been added (https://github.com/w3c/csswg-drafts/pull/81), so we just need to link into it at the appropriate place. I'd prefer a PR here, of course, but can integrate a change from WHATWG easily enough :)

[2016-05-02 17:26] chaals commented on #302
The redundancy in terms of wanting to appeal to different consumers (think: schema.org data, dublin core, and say OGP) is outside our control - we mostly just provide a mechanism to add the data that you want to expose.

The part that is in the control of the Working Group is covered by #160, IMHO. I think this issue could be closed as a duplicate...

[2016-05-02 17:34] travisleithead commented on #251
Thanks for the demo! So, `<figcaption>` is apparently not currently used as the caption for the table when a `<figure>` containing only a `<table>` (and the `<table>` has no `<caption>`). But what about the other way around? (Would it be appropriate to omit `<figcaption>` if a `<figure>` has only a `<table>` when the `<table>` has a `<caption>`?)

[2016-05-02 17:39] chaals commented on #297
Hmm. Thinking, it seems to make sense to specify the trident/gecko approach if we decide to put this into the material about focus navigation.

It's analogous to the way `label` elements "should" behave, **IMHO**, although currently a `label` cannot refer to more than one control, since you can only activate the first wrapped control, and if you use a `for` attribute it's an error to have a repeat

[2016-05-02 17:41] RByers commented on #274
Except if you enable "experimental web platform features" in chromium (where our `<menuitem>` implementation still lives), then you'll see we do treat it as void.  This is [a bug](https://bugs.chromium.org/p/chromium/issues/detail?id=412945) we should fix in blink IMHO. /cc @tkent-google.

[2016-05-02 17:43] halindrome commented on #304
It certainly touches RDFa.  The property attribute on meta is a common way to provide information about the content attribute of meta.  See https://www.w3.org/TR/xhtml-rdfa-primer/#using-the-content-attribute for examples and https://www.w3.org/TR/html-rdfa/#extensions-to-the-html5-syntax for the normative definition.

In no way do @name and @property have anything to do with one another on the me

[2016-05-02 18:16] travisleithead commented on #322
I think that is intentional:

Just below the definition of [fully decodable](http://w3c.github.io/html/single-page.html#fully-decodable)

Since in this case, the `<img>` would fully load and display its image data, I think it would be more confusing to fire an error event...

[2016-05-02 18:23] msporny commented on #304
They are not interchangeable. Are people using them interchangeably?

-1 to require registration of property values. HTML5+RDFa's processing rules on @property and @name in META are clear. We do have the RDFa Core initial context as the "official" registration location for terms and CURIEs:

https://www.w3.org/2011/rdfa-context/rdfa-1.1.html

and there is one for HTML5+RDFa 1.1 (which is empty, on

[2016-05-02 18:34] travisleithead opened #328 "Remove 'seamless' ref from elements index..."
One last remnant of the 'seamless' attribute still exists--in the index of elements.

[2016-05-02 19:00] chaals commented on #251
In principle, either approach should work. Recommending `figcaption` as a replacement for `caption` doesn't seem very well motivated, although it probably should work - which means there are browser bugs here.

It doesn't seem illogical that a `figure` which only contains a `table` that has a `caption` has that `caption` presented as its short alternative. But that isn't what the current HTML spec

[2016-05-02 19:22] chaals commented on #324
This set of feature proposals should go through the incubation process at http://discourse.wicg.io to get traction with implementation.

FWIW I think they're generally pretty sound, so I hope that they make some progress there.

[2016-05-02 19:22] henke37 commented on #322
The intent may have been to display the error response. But it has more consequences than that.

I don't mind the error response being shown. I'm actually positive to that.

The problem is the script viewpoint. For a script that cares about the actual, requested, resource it's a problem. You don't want to proceed under the false assumption that the resource is fine and ready for use. At a minimum

[2016-05-02 19:25] travisleithead commented on #267
Given this, it's not unreasonable to expect implementation convergence on the current spec text. I suggest we leave it in for now.

[2016-05-02 19:25] #267 closed, assigned to nobody

[2016-05-02 19:33] plehegar commented on #121
This issue is still unresolved as far as I can tell, so I don't think we should close it yet.

[2016-05-02 19:38] travisleithead commented on #196
I'm not sure I follow your question. Do you mean this generally, or is there a specific incompatibility you are referring to?

[2016-05-02 19:46] travisleithead commented on #169
That editorial change looks like the right thing.

[2016-05-02 19:50] travisleithead commented on #302
FWIW, I agree with @Chaals, and I don't think we need a spec change for the parser here.

[2016-05-02 20:06] travisleithead commented on #274
Ah, thanks Rick. Wonder if Mozilla has any changes planned? @hsivonen

[2016-05-02 20:35] travisleithead commented on #256
Alright, made a change to sync-up the short description for `rel` and `rev` so that they better mirror each other and take your extra 'subsections or topics' prose into account. Go checkout the updated PR at https://github.com/w3c/html/pull/315

[2016-05-02 21:15] RababGomaa commented on #251
@chaals I updated my demo comment with steps

[2016-05-02 23:52] travisleithead opened #330 "<thead> and <tfoot> ordering underspecified"
Filing on behalf of @FremyCompany

Best regards,
Francois

[2016-05-03 00:11] travisleithead commented on #191
Looks like the latest in specref is [[!CSP3]] which is the latest published WD of CSP3, and includes a link to the ED on GitHub. Should work as upgraded ref :)

[2016-05-03 00:14] travisleithead commented on #191
(Sorry, was wrong about the ED reference...)

[2016-05-03 00:44] #231 closed, assigned to adanilo

[2016-05-03 00:53] RyanSquared commented on #196
Is there a way to implement that a page that is compliant with HTML 5.1+ says that CORS is deprecated, I suppose, is a better way to phrase the question. If cross domain resources and requests were disallowed, how is this to be enforced for lower HTML versions?

[2016-05-03 01:26] chaals commented on #330
In current Blink, Safari, Firefox, on MacOS only the first `thead` or `tfoot` is collected and moved, according to the test case.

The [relevant section of the current draft](https://w3c.github.io/html/semantics-tabular-data.html#forming-a-table) has the same algorithm as HTML 5

To fix it for current behaviour of `tfoot` would mean changing step 15 so it runs a maximum of once. There is no mentio

[2016-05-03 02:47] arronei commented on #169
Closing issue based on editorial change. If this needs further investigation into an <h> element that should be taken up in WICG.

[2016-05-03 02:47] #169 closed, assigned to adanilo

[2016-05-03 02:59] #298 closed, assigned to LJWatson

[2016-05-03 04:05] FremyCompany commented on #330
Hi @chaals,

Good spotting! It's indeed the first tfoot which is the one moved to the last position, I miswrote this in my email (similarly, only the first thead is moved first). Subsequent tfoots/theads are handled like tbodys.

Here's some background for this issue: @GregWhitworth and myself are currently revisiting the interactions between HTML Tables and CSS, and the new specification currentl

[2016-05-03 11:07] chaals commented on #296
Except that [doesn't work in browsers](https://chaals.github.io/accesskey/tests/accesskey-focus-manual.html) ;(

[2016-05-03 11:07] chaals commented on #296
Moving to incubation for now.

[2016-05-03 11:07] #296 closed, assigned to chaals

[2016-05-03 11:13] chaals commented on #229
This duplicates #121

[2016-05-03 11:13] #229 closed, assigned to arronei

[2016-05-03 11:17] chaals commented on #303
from the original bug:

[2016-05-03 11:21] chaals commented on #303
This looks like it is really in the realm of the work on [manifest](https://github.com/w3c/manifest)

[2016-05-03 11:25] chaals commented on #302
This seems out of scope for HTML, since we don't constrain the values that people can use for metadata, deliberately.

[2016-05-03 11:33] r12a commented on #305
There is no reason to expect the head element contents to be in English when they contain such things as title and meta elements for pages in languages other than english.

The translate attribute is not required in the html tag (and i think it would be unusual to find it there), nor is dir when the direction is not RTL.

As alluded to above, there are items in the head that benefit from lang and

[2016-05-03 12:38] chaals commented on #273
[WG discussion](http://www.w3.org/mid/op.ygvzuli7s7agh9@widsith.local)

[2016-05-03 12:50] chaals commented on #33
Having removed the harmful advice to use nested h1 elements everywhere, is there more we should do about this issue? It seems there is implementation that is probably useful. Are there other harmful things somewhere?

[2016-05-03 12:50] LJWatson commented on #313
Think most of <a href="http://w3c.github.io/html/dom.html#elements-semantics">3.2.1 Semantics</a> could do with rewriting because it's both inaccurate and difficult to read.

Have made a <a href="https://github.com/LJWatson/html/compare/master...LJWatson:Issue313-Semantics">first attempt</a> to rewrite it. Review and feedback welcome.

[2016-05-03 12:53] chaals commented on #40
[WG discussion](http://www.w3.org/mid/op.ygv0ajmds7agh9@widsith.local)

[2016-05-03 12:59] chaals commented on #89
This works in Safari 9.1 and Blink-based browsers like Yandex 16.4

Any appetite for matching it in Edge, or Gecko @hsivonen?

Obvious use cases:
1. Allow for review of a form but not changing it.
2. As a way to render a `progress` or `meter` element

[2016-05-03 13:01] stevefaulkner commented on #33
@chaals I am going to review the changes and will bring up any thoughts I have next week at F2F as well as on issue.

[2016-05-03 13:14] chaals commented on #91
So does Safari 9, by virtue of not implementing anything so it falls back to an input type="text"…

But I'm not sure that counts as a real implementation

[2016-05-03 13:27] chaals commented on #33
@stevefaulkner cool.

[Discussion on WG](http://www.w3.org/mid/op.ygv061u7s7agh9@widsith.local)

[2016-05-03 13:32] jlbruno commented on #33
@stevefaulkner ,

If I recall, one of the main benefits of the current spec is that it allows for easier syndication of parts of a document, correct? An `article` or `section` could be syndicated elsewhere with an `h1` and it would stand alone, but put it into the context of a larger page and the technology should be able to tell that the nested `h1` now becomes a heading of a different level.

Ar

[2016-05-03 16:52] #328 closed, assigned to arronei

[2016-05-03 17:31] danbri commented on #256
The #315 change looks good to me. Is there anything more to do on this current issue?

[2016-05-03 17:41] travisleithead opened #333 "infrastructure.include cleanup"
- [ ] Use new bikeshed feature to create `<dfn><a>...</a></dfn>` (a external link, but also local definition for other anchors) for all terms used in other specs
  - avoid surprise jump-out to external links
- [x] Add additional groupings by specification for all external links in the single-page.bs file (generally)
- [ ] Correct all references to these definitions (fix raw `<code>term</code>`, ra

[2016-05-03 19:12] chaals commented on #322
This suggestion looks like a proposal for change that would break implementation, assuming that implementation matches the spec.

If developers are relying on this behaviour now, changing it to help other developers isn't obviously a win :S

[2016-05-03 19:59] henke37 commented on #322
I find that it's unlikely that anyone would depend on the current behavior. Developers generally don't expect error replies to result in success. And it's rather rare to see a server setup to return images for error responses.

[2016-05-03 20:30] wolenetz opened #335 "Add event handler attributes (e.g. onplaying, etc) to HTMLMediaElement (and likely others)"
Thanks to @foolip for raising similar issues on [MSE](https://github.com/w3c/media-source/issues/66) and [EME](https://github.com/w3c/encrypted-media/issues/176) specs, and for @domenic and @annevk for their guidance in https://github.com/w3ctag/design-principles/issues/29#issuecomment-215560292, I looked to see if the extended HTMLMediaElement needs these, too. It looks like HTML5.1 media element

[2016-05-03 21:01] paulbrucecotton commented on #335
@travisleithead: Can you open an HTML 5.1 issue for these attributes?

[2016-05-03 21:03] stuartpb commented on #40
I know @jakearchibald definitely wants to see AppCache kicked to the curb in favor of SW as soon as possible - some really great discussion in [this Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1237782#c34).

I don't know about removing it from the standard, though. I think there'd definitely have to be at least a stub of a spec left around, so that nothing built on the expectation

[2016-05-03 21:09] tBaxter commented on #40
It never worked correctly, is near-non-existent in the wild (because it never worked correctly), is being deprecated and removed in browsers and has a far-superior replacement gaining quick momentum.

So what's the argument for keeping it?

[2016-05-03 21:19] karlgroves opened #336 "4.10.1.1. Writing a form’s user interface - misleading/ confusing example & guidance on field/ label containers"
4.10.1.1 contains the following sentence:

(For reference, the section on paragraphs is 3.2.4.4. Paragraphs)

Although this guidance fits squarely within the definition of a paragraph (at least as far as HTML is concerned), it _feels_ wrong. More importantly I think the general consensus within modern development practices is that a `<p>` is not the right element for this job - or, at least that t

[2016-05-03 21:23] paulbrucecotton commented on #40
The HTML WG had appcache marked "at risk" for HTML 5.0 but the WG decided to keep it when we went to Proposed Recommendation since at the time it was considered interoperable.  See:
https://www.w3.org/Bugs/Public/show_bug.cgi?id=24812#c11
https://lists.w3.org/Archives/Public/public-html-admin/2014Sep/0000.html

If appcache implementations have been withdrawn since the fall of 2014 then the situati

[2016-05-03 21:23] arronei commented on #38
This is document in the changes seciton as being changed from `popup` to `context`. And there is only one implementation that has already implemented as 'context'. I think we are okay not putting anything in the obsolete section.

[2016-05-03 21:42] arronei commented on #313
@LJWatson I think these change ideas look like they are headed in the right direction. Go ahead and do a PR and I will do some inline commenting for some little tweaks.

[2016-05-04 00:30] duerst commented on #305
@arronei
Rather than getting rid of the 1024 limit, it could be extended (e.g. to 2048 bytes or so). As far as I remember, there was a similar limit for IE: It would identify something as HTML if there was a <title> element early on. But I think that was only 400 bytes. That's btw the reason why <title> is mandatory :-).

[2016-05-04 00:53] duerst commented on #269
I agree that some more thought is needed for this attribute.

On the one hand, there may be too much stuff mixed together. Inputmode should always be a hint, with other attributes being responsible for strict checking. How these work together can be complex, and needs to be thought through carefully. And new technology (e.g. smaller virtual keyboards on smartphones, and the next new thing we don't

[2016-05-04 00:54] adanilo commented on #302
I agree this is out of scope. Working as intended IMHO.

[2016-05-04 03:04] scunliffe commented on #269
I realize that there are multiple tokens for the inputmode attribute that may stir up discussions however I should clarify that my concerns are almost entirely around the "digits"/"numeric" hints. I am currently **_extremely**_ frustrated with the &lt;input type="number"/&gt; specifications that severely restrict how the field is populated and interacted with to the point that my code now has to a

[2016-05-04 09:37] LJWatson commented on #313
Thanks @Arronei <a href="https://github.com/w3c/html/pull/339">PR 339</a> assigned to you.

[2016-05-04 10:49] StommePoes commented on #336
It "feels wrong" because to developers, a paragraph means something. However, we're wrapping label-input pairs for styling reasons, not to mean anything. &lt;div&gt; makes more sense in that case.

[2016-05-04 11:13] stevefaulkner commented on #336
let's see what people have to say about the change, but if no reasoned objections PRs are welcome

[2016-05-04 15:07] arronei commented on #305
@duerst I didn't get rid of the 1024 limit, I just made a note that people should be aware that there is a gain to be had. Browsers are actually somewhat lenient about this 1024 byte rule and often restart parsing even if they find a charset later than the first 1024 bytes. Having this note just gives a gentle warning and points to a more clarified definition.

[2016-05-04 15:41] chaals commented on #285
Safari seems to behave the same as Chrome, ignoring the map completely.

Sadly, I think we should indeed deprecate this. Only working with a mouse is pretty unacceptable.

[2016-05-04 18:37] arronei commented on #40
Current plan is to remove appcache from the document and provide only minimal details in the obsolete section of the document.

[2016-05-04 19:08] paulbrucecotton commented on #40
Could you document the rationale here for this plan?

Is it simply that the appcache specification will remain available in the HTML 5.0 Recommendation and that the current view is that leaving it in HTML 5.1 is wrong due to possibly the withdrawal of browser support for the feature?

/paulc

[2016-05-04 20:22] arronei commented on #40
There are multiple reasons for its removal.
- Lack of consistent inter-operable implementation
- Service Worker has taken off as a more viable solution to appCache
- Browser vendors are considering removing the functionality
- Functionality won't actually be completely "removed" it will be considered obsolete and put into the obsolete section

[2016-05-04 20:37] rebecaruiz opened #341 "Type attribute for ordered lists should be obsolete but conforming"
Since there is a stable property `list-style-type` in CSS with many available values, the values `1`, `a`, `A`, `i` and `I` correspondant to CSS properties `decimal`, `lower-latin` / `lower-alpha`, `upper-latin` / `upper-alpha`, `lower-roman` and `upper-roman` [should become obsolete but conforming](http://w3c.github.io/html/grouping-content.html#elementdef-ol).
The `type` attribute is currently [

[2016-05-04 22:23] chaals commented on #341
If we make the attribute obsolete, authors can use CSS. I think it would be feasible to provide better language-based defaults, similar to the CSS for `q` elements, in browsers.

@rebecaruiz The issue seems reasonable as filed...

[2016-05-04 23:45] #38 closed, assigned to arronei

[2016-05-04 23:49] #305 closed, assigned to nobody

[2016-05-05 05:16] r12a commented on #341
https://www.w3.org/Bugs/Public/show_bug.cgi?id=26417 raises the same question. (It doesn't seem to have been moved to github issues.)

Note, however, my further question there:

@rebecaruiz , note that [CSS3](https://www.w3.org/TR/css-counter-styles-3/) specifies more counter styles than CSS2, many of which are [already supported by more than one browser](https://www.w3.org/International/tests/rep

[2016-05-05 07:08] rebecaruiz commented on #341
@r12a

So that's the reason why I vaguely remembered I had read about something similar but didn't find any thread about it.

I do not think that the type of ordered lists is a semantic feature. Augustus was the first Roman emperor and it does not matter if you count them with Roman or decimal numbering. (It would be different if we started to count emperors since the third one, so the attribute `

[2016-05-05 10:29] tomerm commented on #226
I personally like this idea very much.
However, please take into account following implementational hiccups:

_**1. Browser side**_\- To properly enforce direction of text based on language one must find out natural text direction for given language (i.e. LTR for English, RTL for Farsi). As you may know languages can be written using different script and natural direction is actually an attribute

[2016-05-05 10:44] plehegar commented on #341
Side comment: 21 bugs are yet to be moved in bugzilla https://www.w3.org/Bugs/Public/buglist.cgi?product=HTML.next&resolution=--- and it includes https://www.w3.org/Bugs/Public/show_bug.cgi?id=26417 . So, we didn't loose that one.

[2016-05-05 13:02] unor commented on #341
@rebecaruiz

The spec gives an example for a semantic reason ([HTML5: `ol` →`type`](https://www.w3.org/TR/2014/REC-html5-20141028/grouping-content.html#attr-ol-type)):

If referencing items via "a.", "b.", "c." in the text, but not using the `type` value `a` for that list, it will be confusing for users using UAs without CSS support.

[2016-05-05 14:18] arronei commented on #237
Merged.

[2016-05-05 14:18] #237 closed, assigned to travisleithead

[2016-05-05 14:53] chaals opened #342 "img with longdesc should be focusable"
Since it's a link. from https://www.w3.org/Bugs/Public/show_bug.cgi?id=29606

[2016-05-05 15:38] chaals opened #343 "Improve documentation of i18n issues with input type="number""
From https://www.w3.org/Bugs/Public/show_bug.cgi?id=21762

All the pieces are somewhere in the spec. But the linking from the explanation of type="number" is poor.

As an example, when someone in the US types `1,234` they usually mean one thousand two hundred and thirty-four. But in most of continental Europe, it means one, and two hundred and thirty-four thousandths (say that nine times quickly…)

[2016-05-05 17:04] Sworddragon opened #344 "Enhancing the media volume"
This ticket was originally posted here ( https://www.w3.org/Bugs/Public/show_bug.cgi?id=29399 ) and got now forwarded to this tracker.

[2016-05-05 17:08] Sworddragon opened #346 "Adding additional attributes to HTMLMediaElement"
This ticket was originally posted here ( https://www.w3.org/Bugs/Public/show_bug.cgi?id=29481 ) and got now forwarded to this tracker.

[2016-05-05 17:35] paulbrucecotton commented on #346
Note that W3C Media Stream Extensions CR contains a [VideoPlaybackQuality object](http://www.w3.org/TR/media-source/#videoplaybackquality) that may be related to the request for more HTMLMediaElement attributes about a video stream.

[2016-05-05 18:32] aphillips commented on #343
Note that the example given in the original bugzilla entry _is_ in fact invalid because the `value` attribute should follow the microformat. The presentation of the number might be localized, though.

That is:

[code]

Might be displayed something like:

[code]

The value should follow the wire format, which should be locale neutral. Otherwise that way madness lies.

[2016-05-05 23:01] chaals commented on #344
It was forwarded to [WICG](https://discourse.wicg.io) because it is a feature request that, as per the [guidelines already pointed to](https://github.com/w3c/html#contributing-to-this-repository), should be incubated to demonstrate some real traction first.

The feature requested is to provide a volume level greater than 1.0 - effectively, amplification, instead of asking the user to balance their

[2016-05-05 23:01] #344 closed, assigned to nobody

[2016-05-05 23:03] chaals commented on #346
Fair enough. The other feature requests, as per the [contribution guidelines](https://github.com/w3c/html#contributing-to-this-repository) should be incubated to demonstrate traction before they are likely to be accepted as changes to the HTML specification.

[2016-05-05 23:03] #346 closed, assigned to nobody

[2016-05-06 00:58] #256 closed, assigned to travisleithead

[2016-05-06 21:36] cpandhi opened #352 "Correct allowed role info for the dd and dt element"
The latest Editor’s Draft, 6 May 2016 HTML 5.1 in github spec says
Allowed ARIA role attribute values:
    Any role value.
The latest Editor’s Draft, 10 March 2016 Document conformance requirements for use of ARIA attributes in HTML says
The dd and dt elements have no corresponding role (implicit or allowed)
Which document is correct? and so the incorrect document needs the correction.

[2016-05-07 11:24] stevefaulkner commented on #352
The ARIA in HTML is the normative specification, the HTML specification content is informative. The HTML spec needs updating, thanks for raising the issue.

[2016-05-07 19:31] Nick-Levinson commented on #294
This is only for minification as a step before a file is publicly on a website. Standardizing on a flag would support more preprocessors with consistency.

I don't think minification should be performed by a user agent like a browser at the website visitor's client, as that wouldn't save on transmission time, would delay rendering, and would interfere with a website author's intent if the author i

[2016-05-07 19:47] Nick-Levinson commented on #302
Whether to use many of these tags is debatable, but many website designers do not agree that almost none are needed, and neither do the editors of the HTML spec. In my site, I did not include any I did not think were required or useful and I still have a great many and with too much redundancy.

The problem here is that if you add one metatag for a purpose you consequently have to add others that

[2016-05-07 20:33] Nick-Levinson commented on #303
If that applies to websites, yes, but I don't see that in Web App Manifest (https://w3c.github.io/manifest/) unless I misunderstand. I'm also not clear that it would permit exceptions (a directory as an exception from the whole website, etc.).

[2016-05-07 21:06] prlbr commented on #302
@Nick-Levinson

Then maybe we could prevent misunderstandings by making more explicit that (most of) these tags are not required?

What bad consequences do you fear would happen if you did not provide all these different meta tags for the same purpose? Do you think you would lose your legal rights? I’m quite sure that you won’t in most juristications.

[2016-05-07 21:46] Nick-Levinson commented on #302
You might (I have a more cautious attitude toward copyright notices than most programmers do, but the notice is supposed to be calculated to give notice to the intended audience and in machine-readable form if one form is no longer readable by all machines because other forms have partly displaced it then you have to provide those forms, too). But I could show roughly the same regarding the descri

[2016-05-07 21:55] prlbr commented on #341
+1 @unor

I’ve made a quick test page https://prlbr.de/2016/05/listtest.html and while the lists using `type='…'` show up as intended in Lynx 2.8.9dev.6, the lists using `style='list-style-type:…'` do not.

I’m a developer of a lightweight markup-language to HTML converter which uses HTML’s type attribute deliberately. We’ve switched from the CSS variant to the type attribute in the past and one r

[2016-05-07 22:15] prlbr commented on #322
I’ve actually done that. I think it’s a sensible response for deleted images on remote image hosting services for example.

[2016-05-08 01:07] Nick-Levinson opened #355 "allow div to accept more kinds of content or add a new element"
It helps in organizing a page and applying CSS to have an element that can be used for dividing the source code in the page. The issue with HTML 5.1 is that what elements are included within such a division should not matter. Comments can be used but that won't allow minimization (diagnosis often depends on examining the source code received over the Internet, not preproduction files).

I use the

[2016-05-08 07:59] henke37 commented on #322
I am afraid that you and me are both in the minority here. It takes effort to do this and most people don't.