[2018-01-27 15:38] Nadya678 commented on #1156
I think, all browsers that is able to show majority part of CSS3 are able to show the element. I wrote the `<datalist/>` customizing JS compatible with Firefox, Chrome and IE11/EDGE **without**:

- adding any additional container - `<datalist/>` and `<option/>` styled directly thus in web browsers with GUI it is possible also for `<select/>` field.

- without replacing any element.

- without dete

[2018-01-27 16:08] chaals commented on #1156
`<hr>` fgeels like it is semantically right, but problematic because it means changing parsing and that means getting browser buy-in.

Stylable form controls are a common request, but there has not been much in the way of making it happen generically - even custom elements have problems for the moment.

So something like an `optgroup` with a label of "------" is probably going to be with us for qu

[2018-01-27 20:27] borela opened #1157 "Duplicated character references?"
[The character reference table appears to have duplicated entries.](https://w3c.github.io/html/syntax.html#named-character-references)

[2018-01-28 02:57] Nadya678 commented on #1156
@chaals can you also move my topic to the web platform incubator group?

[2018-01-28 12:22] borela opened #1158 "Can caption end tag be ommitted?"
Does that mean that:

[code]
Did I get it right?

[2018-01-28 13:13] chaals commented on #1022
@r12a closing the issue. Please re-open if you think that was wrong.

[2018-01-28 13:13] #1022 closed, assigned to chaals

[2018-01-29 10:19] chaals commented on #1157
No, each of the entities defined is different either by case or having a semi-colon (;) at the end.

But thanks for asking.

[2018-01-29 10:19] #1157 closed, assigned to nobody

[2018-01-29 10:56] chaals commented on #1158
I don't think so.

If you have another element immediately, as in
`<caption>This is the caption<tr><th>...` you don't need the end tag.

If you have a comment following, like
`<caption>This is the caption<!-- you need an end tag>...` then you do.

If you have space following the **element** (not the tag), e.g.
`<caption>This is the caption       <tr><th>...` then it claims you do, but in practice

[2018-01-29 12:17] borela commented on #1157
Thank you :D

[2018-01-29 12:18] borela commented on #1158
Thank you @chaals :D

[2018-01-29 13:23] chaals commented on #1148
closed in #1149

[2018-01-29 13:23] #1148 closed, assigned to scottaohara

[2018-01-29 13:46] LJWatson commented on #1158
Suggest taking a look at #922 on this repo, and the related validator/validator#593 issue.

[2018-01-29 15:59] scottaohara opened #1162 "Proposed revised content attribute description for a[download]"
The description of the `download` attribute, [under the `a` element, Content attributes section](https://w3c.github.io/html/textlevel-semantics.html#the-a-element), reads as the following:

The second part of this description is not entirely clear, and I would like to open a pull request to revise to the following:

Does anyone have any additional thoughts / suggestions on how to better describe t

[2018-01-29 21:02] chaals commented on #1162
Something in this direction seems like a great clarification - thank you.

[2018-01-30 08:05] siusin commented on #1047
Implementation report of Remote Playback API: https://w3c.github.io/test-results/remote-playback/all.html

I think the attribute is ready to be added to the HTML spec.

[2018-01-30 10:05] chaals commented on #1047
Think it is ready to add, but without another implementation I think it should be marked as "at risk" for the moment.

[2018-01-30 10:35] #1138 closed, assigned to chaals

[2018-01-30 10:39] #1092 closed, assigned to chaals

[2018-01-30 10:44] #553 closed, assigned to chaals

[2018-01-30 10:52] #845 closed, assigned to chaals

[2018-01-30 11:05] #1012 closed, assigned to chaals

[2018-01-30 11:19] #1077 closed, assigned to edent

[2018-01-30 11:25] chaals commented on #1162
Closed by #1164 - thanks

[2018-01-30 11:25] #1162 closed, assigned to scottaohara

[2018-01-30 11:38] edent commented on #1026
This relates to https://w3c.github.io/html/syntax.html#character-reference-state

@todor-dk please could you give a little more detail about how it could be clarified?

[2018-01-30 11:47] edent commented on #987
Should the document also be updated with `dns-prefetch`, `preconnect`, `prerender` which are listed in the resource hints document?

[2018-01-30 11:54] chaals commented on #1023
closed by #1159

[2018-01-30 11:54] #1023 closed, assigned to chaals

[2018-01-30 11:57] devarshipant commented on #1162
@scottaohara

Some questions:

1. Are these boolean vaues?

2. Should the attribute value help assistive tech users to know before activating the resource if its downloadable?

[2018-01-30 13:00] chaals commented on #736
That text is no longer in the spec, and what is left matches implementation in Firefox / Blink (Edge differs, in that it will not allow submission of an empty value where the others will. @travisleithead ?)

Closing this issue, if necessary will follow up the Edge divergence.

(The text could use an edit - it is pretty hard to understand, but I'll bounce that to another day).

[2018-01-30 13:00] #736 closed, assigned to chaals

[2018-01-30 13:03] chaals commented on #1109
closed in #1140

[2018-01-30 13:03] #1109 closed, assigned to chaals, siusin

[2018-01-30 14:04] #940 closed, assigned to shwetank

[2018-01-30 14:25] chaals commented on #373
The security aspect of this went away when we removed `menu`/`menuitem`.

The section is sort of legacy ideas, and should be looked at editorially, but not necessary to do it immediately.

[2018-01-30 14:47] #1047 closed, assigned to siusin

[2018-01-30 14:53] #1112 closed, assigned to chaals

[2018-01-30 23:20] chaals commented on #1024
(In passing, note that Firefox presents `<progress value="a"></progress>` visually as completed, which is inconsistent with the spec and what it does in JS, setting value to 0.)

[2018-01-31 03:17] scottaohara opened #1171 "Optional tags link typo"
In [8.1.2. Elements](https://w3c.github.io/html/syntax.html#writing-html-documents-elements) what looks like it was meant to be an in page link to the optional tags section is printed as follows:

PR incoming to fix.

[2018-01-31 09:42] #1024 closed, assigned to chaals

[2018-01-31 12:49] scottaohara commented on #1171
Pr merged. Closing.

[2018-01-31 12:49] #1171 closed, assigned to scottaohara

[2018-01-31 14:23] agcolom opened #1174 "Is the question mark intended? - editorial"
https://github.com/w3c/html/blob/9780b1c2be68efbe49455fe3b621fcc55d7abbeb/sections/semantics-document-metadata.include#L352

Is the question mark intended on the line above, or should the line be changed from
```[CEReactions] attribute DOMString? crossOrigin;```
to
```[CEReactions] attribute DOMString? crossOrigin;```

[2018-01-31 21:37] chaals commented on #1174
Intended - it means the attribute can be null, even though that is not normally a DOMString value.

[2018-01-31 21:37] #1174 closed, assigned to nobody

[2018-02-01 12:10] chaals commented on #132
I considered the proposal... specifically, I compared chapter 6 line-by-line to the analogous parts of the LS spec.

While there are a number of differences, many of them are trivial or very easily fixed (assuming there are tests). There are also some parts that are just poorly understood or not properly specified anywhere, as @plehegar noted above.

I'm keeping this open for the next milestone. I

[2018-02-01 12:48] agcolom opened #1176 "Cleanup Embedded content section"
https://github.com/w3c/html/blob/48acf8ced4fad4bd9bde23c02fea74d4402626f4/sections/semantics-embedded-content.include#L3251-L3267

I'm finding this example hard to read... and I think there might be an extra ```<tr>``` at the start (L3253) which should be removed?

Would it be ok to either add the omitted closing tags and/or indent the code and avoid having an opening ```<tr>``` at the end of a li

[2018-02-01 13:03] chaals commented on #1176
It would be nice to make the formatting more regular so people can understand the example more easily. So the answer to all your questions is "yes". (For this and almost any other example, except where they are explicitly to show that different syntax makes the same result)

I think this whole section is pretty problematic, and would suggest basically starting from scratch, which you may want to d

[2018-02-01 13:08] agcolom commented on #1176
@chaals brilliant! I'll get started and I'll send a PR when ready. We can then add to the PR after review etc. I will assign to myself for now, and I'll add comments here if I have further questions on this section :-)

[2018-02-01 18:35] IanPouncey commented on #277
Confirming the behaviour described by @arronei with a little more detail, based on a [test case](http://ianpouncey.jsbin.com/kirizuz/) I put together. IE11 and Edge behave slightly differently depending on whether it is a new tab or not, perhaps someone can confirm this as I was working from a virtual machine - I can't think of a reason why this would matter, but it is rather odd.

**Chrome (versi

[2018-02-01 21:45] chaals commented on #277
Edge behaves as you describe on my native windows machine too...

Hmm. Tab navigation does start from the unfocusable element in a new tab.

[2018-02-02 10:50] patricia-gallardo commented on #278
@travisleithead my tests showed that Edge almost matched Chrome, Safari and Firefox

Edge (EdgeHTML 16) : test failes - but only in the second part and only about when the blur event happens (it comes after focus out in Edge)

[2018-02-02 11:19] patricia-gallardo commented on #278
Notes from help from @chaals on things I need to add:
1) add a note to the changes section saying that focusing fires the in/out events
2) add the events to the events table (connected to focus/blur)
3) look into if there should be anything about related target
4) check that the intro section still makes sense
5) who should be acknowledged for this change who aren't yet listed as contributing for

[2018-02-02 11:46] #278 closed, assigned to patricia-gallardo

[2018-02-02 12:02] chaals commented on #262
Seems like the sound solution would be as recommended:

This is a change to the [browsers chapter...](https://w3c.github.io/html/browsers.html#the-rules-for-choosing-a-browsing-context-given-a-browsing-context-name) in the last sentence of step 4.

[2018-02-02 12:04] patricia-gallardo commented on #254
I can test on Monday - I'm working from home today and I only have Linux here

[2018-02-02 12:26] chaals commented on #262
Moving to the next milestone. See also #132 and ongoing discussions starting at https://github.com/whatwg/html/issues/1440

[2018-02-02 12:49] brucelawson commented on #998
Suggest we don't define this; it's an English word.

[2018-02-02 12:49] #998 closed, assigned to nobody

[2018-02-02 14:16] scottaohara opened #1180 "broken link in editor team instructions (TEAM.md)"
In the [Bash Functions](https://github.com/w3c/html/blob/master/TEAM.md#bash-functions) section, a link to https://github.com/whatwg/html/blob/master/TEAM.md returns a 404.

It appears appears WHATWG did some file restructuring a few months back, and in reviewing their commit history, it seems this link should now map to: https://github.com/whatwg/meta/blob/master/MAINTAINERS.md instead.

[2018-02-02 14:27] #1180 closed, assigned to scottaohara

[2018-02-02 14:38] chaals commented on #132
See also #277

[2018-02-02 14:45] chaals commented on #277
UPD. Fix URL... I **think** this issue needs to update http://w3c.github.io/html/browsers.html#updating-the-session-history-with-the-new-page step 6...

And should note the outcome for the autofocus element definition too.

[2018-02-02 14:53] agcolom commented on #1176
Changed the issue name to better reflect the task.

[2018-02-02 14:59] edent opened #1182 "Use <xmp> for examples in .include files?"
As noted in #1176, many of the examples are confusing to read when editing.  This is, in part, because using the `<pre>` element means that elements must be escaped using `&lt;`.

[code]

I *think* that Bikeshed allows us to use `<xmp>` in the `.includes` files https://tabatkins.github.io/bikeshed/#xmp

This would mean we could write:

[code]

Does anyone object to me creating an experimental bran

[2018-02-02 17:02] chaals commented on #1182
Go for it. We don't use HTML5 to write the spec anyway :)

[2018-02-02 17:10] chaals commented on #254
OK, bumped it to the next milestone since we expect to finish this one by then.

[2018-02-02 19:02] edent commented on #1182
A quick test shows that this works!

Roughly 560 HTML example to fix.... :-)

[2018-02-02 20:36] edent commented on #1182
Notes to myself...

Running `grep -rinc "pre highlight=\"html" | grep -v :0` to find all / most instances.

[code]

(I've fixed some already)

[2018-02-03 00:25] nekitozzz opened #1184 "Propose <cookie-notice> element"
With `<cookie-notice>` element website users can hide and automatically agree to all cookie notices if they want to (can be implemented as option in browsers).

And this feature will be especially helpful for people with disabilities who use Text-to-Speech readers. They will have less distracting experience if they disable and agree to all cookie notices.

[2018-02-03 08:42] chaals commented on #1182
When you say "works" do you mean that it converts the `<xmp>`s in the input to proper HTML 5 when it builds? Because we do publish the spec in HTML...

[2018-02-03 09:04] chaals commented on #1184
This proposal is not clear enough for adding to a spec, and you should first "incubate" the idea in https://discourse.wicg.io ...

In paticular, you should have a clear problem statement, which I think is something like "users should be able to agree to accept cookies automatically", rather than go through the "cookie warning notice".

Then you would need to explain the mechanics of whatever solut

[2018-02-03 09:04] #1184 closed, assigned to nobody

[2018-02-03 09:13] chaals commented on #1143
With regards to examples in the spec I think it makes sense to do this. Rather than keeping this issue open, I suggest we add a note to the documentation for developing the spec (which is something that needs work anyway), and then open specific issues wherever it makes sense to add something... (or an issue covering a list of things to do).

It might be reasonable to provide putative speech styli

[2018-02-03 09:55] agcolom commented on #1182
@edent I'm currently working on sections/semantics-embedded-content.include to clean up the whole section... so I can take care of this one if you like at the same time for this section, if you haven't done it yet, otherwise I could wait for your editions and make my changes afterwards....

[2018-02-03 10:46] agcolom opened #1185 "Incorrect Syntax highlighting"
It appears that there are some issues with the syntax highlighting of some of our examples, in particular in CSS media queries when  ```@media``` is followed by parenthesis, see https://www.w3.org/TR/html53/semantics-embedded-content.html#example-ed8956bf

However, media queries that only have _mediatype_ and no parenthesis have correct syntax highlighting, see the first example under https://www.

[2018-02-03 13:47] brucelawson commented on #987
Adding the relevant info; adding Richard Gibson to acknowledgements.

[2018-02-03 16:21] #987 closed, assigned to brucelawson

[2018-02-03 16:28] #277 closed, assigned to cynthia, LJWatson

[2018-02-04 00:32] edent commented on #1182
@chaals yes, it outputs proper HTML5.

So:
[code]

Becomes:
[code]

@agcolom if you're happy to wait until Monday, I should have a cleaned up version ready for you to work your magic on.

[2018-02-04 01:26] othermaciej opened #1189 "Add attribution of WHATWG HTML, as required by the CC-BY license"
WHATWG HTML now has the following copyright notice:

Unlike the previous license, this license explicitly requires attribution. Although previous copying can be interpreted as under the previous license, newer copying must follow the CC-BY 4.0 license and therefore requires attribution.

The following commits appears to copy text from WHATWG HTML without attribution:
https://github.com/w3c/html/co

[2018-02-04 12:13] #1189 closed, assigned to chaals

[2018-02-04 17:43] edent commented on #1182
@agcolom Here's a diff showing what I've done to the file.

https://github.com/w3c/html/compare/master...1182-edent-xmp#diff-49ee012831f68736a21421145a6ce3db

I've run bikeshed over it and manually compared it to the original - but I'm sure there's room for improvement.  Some highlights....

* All examples now use `<xmp>` and have "pure" HTML in them.
  * Well... Except ~6 examples which use `<mar

[2018-02-04 19:54] aphillips commented on #1023
I'm concerned that the changes here haven't really nailed this issue down. There is a recommendation against using characters in NFD as accesskey values because "many browsers won't assign an accesskey". Of course, NFD is one way in which characters might be decomposed by a keyboard or by a user. The problem here, as I see it, is to match what keyboards produce and what browsers expect to match. I

[2018-02-04 20:48] edent opened #1191 "<ins> example - why is crossing a boundary "poor form"?"
I'd like some clarification on this example. Emphasis added:

    inserted in two parts. The first <{ins}> element in this example thus crosses a
    paragraph boundary, **which is considered poor form**.

By whom? And why?

[2018-02-04 21:32] chaals commented on #1191
By HTML, because as an author it is invalid to use overlapping elements.

[2018-02-04 21:33] chaals commented on #1191
(If you do this the parser will handle them in predictable ways. But doing it is still wrong - because unless you know **how** the parsing algorithm works, what will happen may or may not surprise you from reading the source code)

[2018-02-04 22:42] #198 closed, assigned to siusin

[2018-02-05 06:39] hnrindani commented on #1185
There are many related issues on our platform. Please refer to the following
[Problem with syntax highlighting (HTML/PHP) #34204](https://github.com/Microsoft/vscode/issues/34204)
[HTML not recognized inside php conditional bracket #34309](https://github.com/Microsoft/vscode/issues/34309)

[2018-02-05 09:25] agcolom commented on #1185
@hnrindani These issues are with Visual Studio. I am not sure we're using the same syntax highlighter. Are we?

[2018-02-05 09:33] agcolom commented on #1182
@edent perfect! I'll wait until it's all in :-) I was wondering whether it might make sense to have a style guide for the examples? i.e. we can improve consistency and also highlight separately that html can be written in many different ways (i.e. attributes in no quotes/single/double quotes, upper case, lower case, indentation, omissible closing tags), but that for clarity, we will follow a speci

[2018-02-05 09:57] othermaciej commented on #1189
Thanks for addressing this!

[2018-02-05 10:43] agcolom commented on #1185
Just found that Bikeshed is using Pygment for syntax highlighting (https://tabatkins.github.io/bikeshed/#syntax-highlighting) ... I'll have a closer look to see what we can do to overcome this issue.

[2018-02-05 11:21] chaals commented on #1182
@agcolom yes please :)

See also #487

[2018-02-05 11:57] agcolom commented on #1182
Excellent! I'll create a new issue and assign to myself :)

[2018-02-05 12:16] agcolom opened #1193 "Create Style Guide for our examples"
As per discussion on #1182, create a style guide with the aim to improve consistency of our examples. This guide should also highlight that html can be written in many different ways...
Items that should be covered:

- attributes in no quotes/single/double quotes,
- HTML element and attribute names in upper case, lower case,
(-> I'd prefer to use lower case as upper case can be hard to read for pe

[2018-02-05 12:29] scottaohara commented on #1193
- Location and style of code comments.
- Indentation for JavaScript examples as well.

[2018-02-05 12:35] agcolom commented on #1185
Pygments seem to highlight media queries correctly when I tried on their site: http://pygments.org/demo/6712743/ ... This is a good sign :) I'm wondering whether bikeshed needs an updated version of Pygments... or that this file https://github.com/tabatkins/bikeshed/blob/master/bikeshed/lexers.py needs a new entry for ```@media```?

[2018-02-05 13:08] edent commented on #1193
Agreed with all this. I'd add

* Self closing tags `<hr />` or `<hr>`? Should `<img` end with ` />`?
   * Personal opinion - I think it makes it easier to see the tag has closed.
* No escaped characters - except invisible characters.
  * For example, I replaced `&#x05D0;` with `א`
  * I also replaced `<mo>⁢</mo>` with `<mo>&#x2062;</mo>` (There is an invisible character in the original!)

My perso

[2018-02-05 13:21] scottaohara commented on #1193
@edent I agree with your opinions here.

The only thing I wonder about is the code indentation and max line length, unless we're proposing a change to [general formatting rules](https://github.com/w3c/html/blob/master/docs/contributing-documentation.md#formatting-conventions) as well.

[2018-02-05 13:25] agcolom commented on #1185
Ok, so It seems that changing the example from
[code]

to

[code]

fixed this!

Also worked with

[code]
The only issue is we get the extra ```<style>``` element on the example... There must be a way to fis this, but at least we now have a workaround :)

[2018-02-05 13:30] agcolom commented on #1193
also add for JavaScript and CSS:
- position of opening and closing parenthesis
  * I would have a preference for opens end of line, closes on a new line. And add a blank line between CSS rule declarations.

[2018-02-05 14:29] edent commented on #1185
Try `<xmp highlight="css">`

[2018-02-05 14:38] agcolom commented on #1185
@edent just tried and it gives the same result as what we currently have with ```<pre highlight="css">``` which is that syntax highlighting stops after ```@media (min-width: 32em) {```

[2018-02-05 17:12] agcolom commented on #1193
@scottaohara @edent [First_draft](https://github.com/agcolom/html/wiki/Style-Guide---WIP) (still WIP). Do you have edit access?

[2018-02-05 18:22] scottaohara commented on #1193
@agcolom thank you.

Quick thoughts:
* If a nested element, we should consistently indent. So I'd format the first code example as:
[code]
* Formatting - I'm for lowercasing all the things, unless we are specifically calling out that upppercase tags are allowed. In which case, an example that utilizes uppercase for one tag, should use them for all tags.
* Same sort of idea for optional closing tag

[2018-02-05 20:05] agcolom commented on #1193
@scottaohara Thanks!
Single line JavaScript comment: Yes absolutely! That's just me copy pasting from CSS and forgetting to think :-P
I'll update this according to your comments now :-)

[2018-02-05 20:06] edent commented on #1193
The `!DOCTYPE` is inconsistently capitalised throughout the examples.

It doesn't matter - https://www.w3.org/TR/html5/syntax.html#doctype - but we ought to pick one.

[2018-02-05 20:19] agcolom commented on #1193
I agree. I have a preference for lowercase here as well.... But not strongly opinionated :-)
Do you prefer // for single line JS comments only or for single and multiline?

[2018-02-05 21:23] edent commented on #1193
I think `//` is only suitable for single line comments.

[2018-02-06 03:49] posimmons commented on #1193
making everything lowercase makes everything more simple. and comment symbols should be the same across the board

[2018-02-06 07:55] chaals commented on #1193
I generally favour lower case for markup code, double quotes for attribute delimiters, a reasonably compact style with enough whitespace to be readable, and some latitude to vary according to the needs of a particular example.

Allowing for some variation makes sense to me. I realise that one person's "very unusual" is another person's "more comfortable and natural", so this isn't something easy t

[2018-02-07 16:09] martinth opened #1195 "Definition of class attribute does not specify order"
In the current HTML 5.2 specification defines:

It's commonly excepted that for a "set" order usually does not matter and indeed the section about "set of space-separated tokens" also defines a  ordered subvariant:

So I think it's fair to assume that by the above definition the order of the `class` tokens is indeed not specified.

Consider the following example:
[code]
The "A" will be green and "

[2018-02-07 20:47] chaals commented on #1195
No, in at least blink, mozilla and MS Edge both A and B are green, because the ordering isn't relevant and the styles are applied according to the CSS spec, making the last rule the one that wins in both cases.

(I used a test case based on your example. I would be very surprised if Safari behaved differently, so closing for now).

[2018-02-07 20:47] #1195 closed, assigned to nobody

[2018-02-07 21:31] scottaohara commented on #1195
Can confirm Safari also behaves as @chaals outlined above.

The ordering of classes in HTML has no effect on how the styling of an element is rendered.  The ordering of the class selectors in the cascade determines the styling and if one selector will be overwritten by another of the same specificity.

Even an example like:
[code]

Still renders both C and D as pink.

[2018-02-08 16:46] Andreiyw opened #1196 "Create a meta tag of age limit"
It is for the safety of children on the Internet - specify the age limit of content on the site for search engines.
For example:
`<meta name="age" content="18+">`

[2018-02-08 16:51] edent commented on #1196
The ratings tag already exists - https://www.metatags.org/meta_name_rating - but it isn't in widespread use.

There *was* a specification calls [PICS](https://www.w3.org/PICS/) which never took off.  It was replaced by [POWDER](https://www.w3.org/2007/powder/) which also failed to be widely adopted.

[2018-02-08 17:43] chaals commented on #1196
There is a [rating system called "RTA"](https://rtalabel.org) meaning "restricted to adults" that seems to be fairly widely used for adult content. It is extremely simplistic, which may explain the high adoption rate.

Complaints around older systems often included the complexity, or the fact that they enabled ratings that matched different people's ideas of what is appropriate. Note that in the e

[2018-02-08 17:43] #1196 closed, assigned to nobody

[2018-02-08 18:21] chaals commented on #1185
@agcolom would that be related to [a noted issue in pygments](https://bitbucket.org/birkenfeld/pygments-main/issues/1321/scss-highlighting-variables)?

Is it a feasible workaround to break the `xmp` at the point pygments breaks down and put a new one in immediately? Or does that have no benefit over the html/style hack you already found?

[2018-02-09 09:58] chaals opened #1200 "example 8 in introduction gives poor guidance"
In the introduction chapter (source file [sections/introduction.include](https://github.com/w3c/html/blob/master/sections/introduction.include)), example 8 in the non-normative section on [conformance constraints](https://w3c.github.io/html/introduction.html#restrictions-on-content-models-and-on-attribute-values) demonstrates dealing with entity references, and notes that e.g.
[code]
Does not need

[2018-02-09 10:28] chaals opened #1201 "ASCII art in source files is not helpful"
The source files generally start with a giant ASCII art version of the name, in a comment.

It is not always legible, and in any event it doesn't provide much in the way of value. It would be more helpful to describe the source file, what it contains, and where it ends up in the spec, for example

[code]

* [x] acknowledgements.include
* [x] attributes.include
* [x] browsers.include
* [x] changes.

[2018-02-10 06:39] arpit7714 commented on #1201
what to do ??

[2018-02-10 08:56] chaals commented on #1191
Closing this.

[2018-02-10 08:56] #1191 closed, assigned to nobody

[2018-02-10 09:41] chaals commented on #1201
I filed one PR that covers the introduction chapter - #1202

I am trying to get another one through my temporarily blocked up machine, covering the other items I ticked off the list.

Anyone should feel free to tick something off and file a PR to cover it...

[2018-02-10 10:13] chaals commented on #1158
@LJWatson saw that. But it turns out implemented reality - and what the parser section seems to suggest should happen - is even simpler than that.

[2018-02-10 10:19] chaals opened #1205 "autocapitalize not listed for textarea in attributes index"
The attributes.include file needs to be updated to note that autocapitalize is an attribute for `textarea` as well as `input`

[2018-02-10 10:52] chaals commented on #461
This still seems to be implemented in a couple of places but not everywhere. Pushing the milestone to re-check later if anything changes. (Google had a [discussion on whether to implement](https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/U06zrT2N-Xk) in 2014, which seems to have been inconclusive...)

[2018-02-10 11:12] chaals commented on #222
We now reference RFC 7578, which seems to approximate best practice. There may be some value in defining a custom encoding algorithm, but it probably makes more sense just to update the reference if a better one comes along.

[2018-02-10 11:12] #222 closed, assigned to chaals

[2018-02-10 11:17] chaals commented on #439
Leaving the content model as is clarifies what is conformant, and works. What to do when authors don't follow the instructions is not part of this issue. Closing as "this doesn't need a change".

[2018-02-10 11:17] #439 closed, assigned to chaals

[2018-02-10 14:15] scottaohara commented on #1201
@chaals I was going to try to take care of a few of these over the weekend.  Would you rather I piggy back off your existing PR, or create a PR of my own changes?

Thanks

[2018-02-10 16:17] chaals commented on #1201
Easier if you make your own I think, although I am not that fussed. I started ticking off items as I was about to do them, which might help.

[2018-02-10 22:54] chaals commented on #1205
sigh. #1207 closed this.

[2018-02-10 22:54] #1205 closed, assigned to scottaohara

[2018-02-11 18:46] scottaohara commented on #1193
Reading through the comments in [1199](https://github.com/w3c/html/pull/1199) and I'm wondering a bit about how we want to think about the idea of the code examples style guide here.  I'm leaning a bit more on to the idea of treating it as a "preferred" style guide than as a "strict" one.

For example things like self closing tags, or how `!doctype` is declared.  I've been thinking a lot about it,

[2018-02-11 21:37] chaals commented on #1193
Apart from anything else I think after a certain level of rough clarity, effort put into ensuring consistency of style could be more profitably applied to something more important.

I'm inclined to suggest we generally make examples that match XHTML (although some cannot for various reasons). But I am not dogmatic about programming style in any event.

[2018-02-11 21:57] LC43 commented on #1193
is this discussion open to everyone?  if so :)

while reviewing #1199 , i found that:

- some references to tags use `<{p}>`, others to `&lt;/a&gt;` and even to:
[code]
which is preferred?

- if `<mark>` is used to highlight some code, these examples will need to use `<pre highlight="html">` and escape all the other tags: ( ref.: https://github.com/w3c/html/pull/1199#discussion_r167443002 )
[code]

[2018-02-12 01:01] scottaohara opened #1208 "Meter range without min or max, typo?"
Presently, the note for if there is no `min` or `max` values set for a `meter` states:

I would have assumed this would say "0 to 1".

[2018-02-12 02:20] masinter commented on #222
issues or PRs on https://github.com/masinter/multipart-form-data would be preferable to waiting for a better spec to arise spontaneously.

[2018-02-12 08:49] edent commented on #1193
@lc43 welcome! The `class="bad"` *should* highlight the entire codeblock as being "bad". In practice, it does nothing.

Regarding `mark` there are a few ways to do it. None of which is very nice.

`<pre>&lt;table><mark>&lt;b></mark>&lt;tr>...` which has all the escaped characters.

Or

[code]
Or...

[code]

[2018-02-12 13:55] #1208 closed, assigned to nobody

[2018-02-13 10:21] #1182 closed, assigned to edent

[2018-02-13 10:24] chaals commented on #955
We now have @brucelawson agreeing to take responsibility to merge the work, and commitments to help him. We will raise a formal CfC.

[2018-02-13 10:24] #955 closed, assigned to nobody

[2018-02-13 11:02] chaals opened #1209 "CfC: Incorporate Custom Elements into HTML spec"
This is a formal call for consensus on the proposition:

The HTML spec should directly incorporate Custom Elements.

Replies should be made before the end of the day (i.e. midnight Hawaii time) 20 February 2018 to be taken into consideration,

Positive response as a thumbs-up, or negative response explaining rationale are preferred. Silence will be taken as agreeing to the outcome of the CfC.

Ple

[2018-02-13 11:29] chaals commented on #1176
@agcolom does #1199 cover this, or do you want to leave it open?

I think if you do leave it open, a more specific explanation of the issue would be helpful.

[2018-02-13 11:30] #1158 closed, assigned to chaals

[2018-02-13 11:34] edent commented on #1209
For those new to this issue (like me!) - here are some helpful resources:

* [MDN Guide to Custom Elements](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements)
* [Google's Guide to Custom Elements](https://developers.google.com/web/fundamentals/web-components/customelements)
* [W3C Specification on Custom Elements](https://www.w3.org/TR/custom-elements/)

[2018-02-13 11:37] chaals commented on #215
Agree that this is sufficiently defined in the Selectors spec.

[2018-02-13 11:37] #215 closed, assigned to chaals

[2018-02-13 11:40] agcolom commented on #1176
@chaals It looks like @edent 's work has addressed this issue 👍  Thank you! I'll close the issue.

[2018-02-13 11:40] #1176 closed, assigned to agcolom

[2018-02-13 11:44] chaals commented on #794
see #806, #1001

[2018-02-13 11:54] chaals commented on #830
(Assigned two people. Whoever decides to take it should unassign the other)

[2018-02-13 12:11] chaals commented on #821
This should be checked again in time to get it in for wide review if there is uptake.

[2018-02-13 15:10] edent commented on #314
I'm coming up to speed with this issue. Could you please clarify a few things for me?

`<p lang="en">She said <q lang="ja">こんにちは</q></p>`

In your opinion, this should render with English quotes around the Japanese text -
`She said “こんにちは”` - is that correct?

According to the tests at https://www.w3.org/International/tests/repo/results/the-q-element#ml_nesting - this is currently only possible (e

[2018-02-14 15:28] scottaohara commented on #885
Hi @chaals and @agcolom.

Was reviewing this issue today and I'd like to take it on, as part of some other editorial work I'd like to do with this page.

[2018-02-15 10:03] chaals opened #1211 "parsing: xmp should trigger RCDATA-like parsing"
In the parsing chapter, [`xmp` triggers normal text parsing](http://w3c.github.io/html/syntax.html#the-in-body-insertion-mode), but it is actually using [RCDATA parsing]() (or something very like it and unlike text parsing), like `title` and `textarea`.

[2018-02-15 10:05] chaals commented on #1211
@patricia-gallardo @bzbarsky @cynthia @travisleithead might know more about this than me - or just be able to confirm/deny.

[2018-02-15 12:11] bzbarsky commented on #1211
Simple testcase:

    data:text/html,<xmp>&amp;

Sure looks like "raw text" parsing to me in Firefox, Chrome, and Safari.   And quite different from:

    data:text/html,<textarea>&amp;

Hard to tell more without context for what's actually being claimed here.

[2018-02-15 14:48] chaals commented on #1211
cf.

* `data:text/html,<p>&<mark>f`
* `data:text/html,<xmp>&<mark>f`
* `data:text/html,<textarea>&<mark>f`

Basically, `xmp` (like `textarea` and `title`) handle markup in a "special" way... and `xmp` **additionally** seems to have special handling of &amp;

[2018-02-15 15:52] bzbarsky commented on #1211
textarea/title use http://w3c.github.io/html/syntax.html#tokenizer-rcdata-state and xmp uses http://w3c.github.io/html/syntax.html#tokenizer-rawtext-state

Please don't confuse "raw text" and "text".  They are NOT the same thing.

[2018-02-15 15:53] bzbarsky commented on #1211
And to be clear, http://w3c.github.io/html/syntax.html#the-in-body-insertion-mode in the "xmp" section says: "Follow the generic raw text element parsing algorithm" which links to http://w3c.github.io/html/syntax.html#generic-raw-text-element-parsing-algorithm which puts the tokenizer in http://w3c.github.io/html/syntax.html#tokenizer-rawtext-state which is not the same thing at all as http://w3c.

[2018-02-15 18:01] chaals commented on #1211
Erp. Yup. Nothing to see here.

Sorry. (And thanks @bzbarsky)

[2018-02-15 18:01] #1211 closed, assigned to nobody

[2018-02-16 01:47] scottaohara opened #1214 "Editorial Review of 4.6 Edits"
I will be taking a pass through the text of [semantics-edit.include](https://github.com/w3c/html/blob/master/sections/semantics-edits.include).

Regarding issues like [1191](https://github.com/w3c/html/issues/1191), I would like to revise/expand the text a bit to be more clear, and hopefully easier to parse for developers.

[2018-02-16 17:08] Malvoz commented on #1101
@chaals
I'm sorry for not getting back to you sooner. I did manual [`decode` testing](http://w3c-test.org/html/semantics/embedded-content/the-img-element/decode/image-decode.html) which failed in
`Edge 41.16299.15.0`  and `Firefox 58.0.2` but passed all tests in `Chrome 64.0.3282.167`:

Result | Test Name | Message
-- | -- | --
Pass | HTMLImageElement.prototype.decode(), basic tests. Image with PN

[2018-02-16 17:47] chaals commented on #1101
Given **apparent** [intent to implement this in Firefox now](https://bugzilla.mozilla.org/show_bug.cgi?id=1416328) I am happy to get it into this version, marked 'at risk'.

[2018-02-16 17:53] chaals commented on #1101
Hopefully we can get it in this or the next milestone, although without more movement on implementation in another browser I'm not going to rush for this...

[2018-02-16 21:25] edent opened #1215 "Build Warnings"
Probably worth fixing some of these - https://travis-ci.org/w3c/html/builds/342516738?utm_source=github_status&utm_medium=notification

WARNING: The following `<var>`s were only used once in the document. If these are not typos, please add an ignore='' attribute to the `<var>`.
 - [x] `  'scope'`
 - [x] `  'parser state'`
 - [x] `  'attr'`
 - [x] `  'classic script CORS setting'`
 - [x] `  'script

[2018-02-16 23:21] edent opened #1216 "class="&#x0058;&#x0058;&#x0058;""
Is there a reason why this isn't `class="XXX"` ?

* https://github.com/w3c/html/blob/master/sections/introduction.include#L335
* https://github.com/w3c/html/blob/master/sections/infrastructure.include#L5371

If the class name should be changed from `XXX` it will require changes at:

* https://github.com/w3c/html/blob/master/styles/styles-html.css#L121
* https://github.com/w3c/html/blob/master/styl

[2018-02-16 23:27] edent opened #1217 "Remove monkey-patch 2.9.10 for FileAPI"
https://w3c.github.io/html/infrastructure.html#monkey-patch-for-blob-and-filelist-objects

This issue was closed in September 2017 - https://github.com/w3c/FileAPI/issues/32 - what happens now?

[2018-02-17 10:43] chaals commented on #1217
We should remove the monkey-patch from the HTML spec, since it is duplicating something better defined in FileAPI...

[2018-02-17 10:44] chaals commented on #1217
Marking it for the current milestone, hoping someone decides to pick it up...

[Note, this does not add anything so no IPR implications. Which means we can accept a patch from anyone at all who wants to do it]

[2018-02-17 17:59] edent commented on #1193
There is another way to do this! Using line-highlighting https://tabatkins.github.io/bikeshed/#line-highlighting

[code]

For some reason, line-numbers need to be on. Otherwise the highlighted line has numbers, but none of the others do.

[2018-02-18 09:29] edent opened #1222 "Missing "fetching a module worker script tree""
We have an missing definition for [fetching a module **worker** script tree](https://github.com/w3c/html/blob/master/sections/webappapis.include#L257).

We have a definition for [fetching a module script tree](https://github.com/w3c/html/blob/master/sections/webappapis.include#L353)

WHATWG have [fetch a module script graph](https://html.spec.whatwg.org/multipage/webappapis.html#fetch-a-module-scr

[2018-02-18 11:14] chaals commented on #1222
@cynthia, do you "want" to take this?

[2018-02-18 18:03] ericwbailey commented on #1193
Would people be open to considering incorporating an [editorconfig](http://editorconfig.org/) file to assist with this effort? It is a lightweight, editor and OS-agnostic project with [a wide range of support](http://editorconfig.org/#download).

I keep one on user root and noticed when working with the repo it was trimming whitespace on save. That would have removed the spaces between some words

[2018-02-19 00:36] #1216 closed, assigned to edent

[2018-02-19 00:48] #1217 closed, assigned to scottaohara

[2018-02-21 02:00] ryanve commented on #1150
Cool thanks @LJWatson :smile:

[2018-02-21 09:05] chaals commented on #1209
With thanks to those who replied to this as well as the previous issue, this CfC passes. We will retire the (already orphaned) stand-alone Custom Elements spec, and incorporate its content here.

[2018-02-21 09:05] #1209 closed, assigned to nobody

[2018-02-21 09:14] chaals opened #1229 "[Meta] merge custom elements"
As per #1209, merge the parts of the custom elements spec that are relevant into this spec.

This is a meta issue, to track the relevant set of tasks.

* [x] Move the bulk of the custom elements spec chapters 2 and 3 into HTML #1343

(Includes defining CEReactions - #911)

Apply patches described in the spec:
* [x] Add `customelements` to `Window` #1274
* [x] Define the `:defined` selector as appl

[2018-02-21 10:41] jacobp100 opened #1230 "Allow SVG path data string to be used in CanvasRenderingContext2D fill/stroke"
We can currently use SVG path data to construct a `Path2D` object.

[code]

We can also use this path in `ctx.fill` and `ctx.stroke`.

[code]

Would it be consistent to allow path data to be used directly in `fill` and `stroke`? This would remove indirection. It make this feature more visible to users.

[code]

[2018-02-21 14:05] dvorapa opened #1231 "There is something wrong in character reference"
See [screenshot](https://ctrlv.cz/LTzY)

[2018-02-21 14:26] chaals commented on #1231
This is in the HTML 5.2 Recommendation? I fixed this as you can see in the [latest Working Draft](www.w3.org/TR/2017/html53/syntax.html#named-character-references). I have marked it as an erratum to consider fixing in the Recommendation.

[2018-02-21 14:40] chaals commented on #1231
Credit where it is due. **Wolfgang** [fixed it](https://github.com/w3c/html/commit/484452a5c02bd1a333db50f79cab384efe9c7cb8#diff-18abfc9c77aab42a715be1fd1e530dc2), I just committed the fix

[2018-02-21 21:13] dvorapa commented on #1231
I see

[2018-02-22 16:35] #1201 closed, assigned to scottaohara, chaals

[2018-02-22 16:36] chaals commented on #1215
Whoops. There are still some warnings. Reopening so we can keep tracking

[2018-02-22 17:02] carmacleod opened #1234 "menu* roles missing from ARIA roles, states and properties table"
The ARIA roles `menu`, `menuitem`, `menuitemradio`, and `menuitemcheckbox` are missing from the [Allowed ARIA roles, states and properties table](http://w3c.github.io/html/dom.html#allowed-aria-roles-states-and-properties).

[2018-02-22 23:11] chaals commented on #1234
Note that this will fix a bunch of the outstanding linking errors in #1215

[2018-02-22 23:31] chaals commented on #1215
some fixed by #1235, some to be fixed by #1234 ...

[2018-02-23 20:03] #977 closed, assigned to LJWatson

[2018-02-23 20:06] chaals commented on #1116
closed by #1238

[2018-02-23 20:06] #1116 closed, assigned to LJWatson

[2018-02-23 23:47] chaals opened #1243 "alt="" is equivalent to being a boolean"
There are legitimate uses where the `alt` attribute should be present, but empty.

The code `<img src="something" alt="">` produces the same DOM as `<img src="something" alt>`, so for HTML5 it is effectively the same thing.

We should probably note this in the section where we discuss using blank `alt`.

cc @stevefaulkner @agcolom

[2018-02-24 09:31] #314 closed, assigned to edent

[2018-02-24 20:50] #1231 closed, assigned to chaals

[2018-02-24 23:25] AmeliaBR commented on #1243
See also the WHATWG discussion here: https://github.com/whatwg/html/issues/3502

It basically comes down to a HTML parser issue. The parser treats an attribute with no value as equivalent to an empty string value. That's defined in HTML 5.3 in [section 8.1.2.3. Attributes](https://w3c.github.io/html/syntax.html#elements-attributes).

It isn't the same as a [boolean attribute](https://w3c.github.io

[2018-02-25 10:07] chaals commented on #1243
@AmeliaBR said

Yes, you are right, I was a bit imprecise...

[2018-02-25 11:05] chaals opened #1247 "improve explanation of "highlighting" semantics"
Various elements (at least `b`, `em`, `i`, `mark`, `strong`, `u`) call attention to, or highlight, their content, without a clear explanation of why.

In the "[usage summary](http://w3c.github.io/html/textlevel-semantics.html#text-level-semantics-usage-summary)" section each has an example of use and a couple of words of explanation. In many cases explanations of some elements refer to others as a

[2018-02-25 14:58] Comandeer commented on #1247
We had some lengthy discussions in CKSource, which element is appropriate for each case, see ckeditor/editor-recommendations#2 (`i` vs `em`), ckeditor/editor-recommendations#1 (`b` vs `strong`, ckeditor/editor-recommendations#4 (`u`). Additionally it seems that `mark` is established as implementation of highlighting searched terms (see ckeditor/editor-recommendations#63).

IMO differences between

[2018-02-25 16:08] chaals commented on #1247
My initial impression is that I would be happy to live with neither `b` nor `u`, and replace them by styling one of the others as appropriate - probably omst often `mark` but it depends on the specific case - or `span` with e.g. microdata or ARIA providing more detailed information.

In any event I don't think we should rush to try and do this, even if it were possible to do so.

[2018-02-25 16:39] Comandeer commented on #1247
Please refer to [General Policies page of Editor Recommendations project](http://ckeditor.github.io/editor-recommendations/general-policies/). In fact CKEditor is all about producing semantic, accessible HTML and is relevant here as one of the HTML's use-cases.

But there are also thousands of smaller sites, with more text content (Amazon is e-commerce website with not so much text outside of link

[2018-02-25 17:34] prlbr commented on #1247
[HTML Design Principles](https://www.w3.org/TR/html-design-principles/) (W3C Working Draft) includes many points that may be relevant to this discussion. It’s really good to read and it’s not too long, here’s one example:

[2018-02-25 18:01] ericwbailey opened #1250 "Contributing.md feedback and observations"
I thought I'd take @chaals up on [their offer](https://github.com/w3c/html/issues/1212#issuecomment-366101352) and share the observations I had in working with [`CONTRIBUTING.md`](https://github.com/w3c/html/blob/master/CONTRIBUTING.md).

Commentary on the language of the document is below. Provided there's any interest, I'd be more than happy to follow up the results of this conversation with a P

[2018-02-25 18:23] LJWatson commented on #1250
+1 to all your suggestions @ericwbailey. A PR would be most welcome.

[2018-02-25 22:43] chaals commented on #1247
CKEditor is a perfectly legitimate example case - a group with a lot of experience in HTML have done some careful thinking about HTML to deploy a real-world tool that has a lot of users and therefore has to deal with a range of situations. I am grateful that thinking is shared with us, because I find it helpful to know what a range of other people think in order to reach conclusions.

[And as co-c

[2018-02-25 23:22] chaals commented on #1250
@ericwbailey thank you for taking this up.

Just to start... (and at risk of repeating things many people know)

A **substantive change** is one that changes conformance.

Because the W3C Patent Policy hinges on granting licenses for "essential claims", i.e. stuff you need to do to implement the spec, as well as purely editorial changes removing things generally doesn't need a patent grant. Especi

[2018-02-26 11:40] shwetank commented on #194
There are weird inconsistencies within browsers (sometimes even within different input methods) when it comes to this. I've made a quick-and-dirty test case here https://html-input-onchange.surge.sh

* Edge seems to have a UI where the date-picker comes up and the value only changes when you finally click on the 'tick' checkmark. If you change values in between, then it doesn't reflect it.
* With

[2018-02-26 15:58] ericwbailey commented on #1250
Thanks for the clarification! I've submitted a PR for the issue: https://github.com/w3c/html/pull/1252.

[2018-02-26 17:08] chaals commented on #1193
see also #1250

[2018-02-28 07:37] #1243 closed, assigned to scottaohara

[2018-02-28 12:58] carmacleod commented on #1234
For some reason, the links aren't working for me when I go to [the table](http://w3c.github.io/html/dom.html#allowed-aria-roles-states-and-properties).
The code for each link looks ok, for example:
`<a attr-value for="aria/role"><code>menu</code></a>`
but it's not showing up as a link in the doc.
Does some other process need to be run to connect up all the links?

[2018-02-28 13:03] scottaohara commented on #1234
ah yes, looks like that's the case.  Will reopen and take care of that.

[2018-02-28 13:04] chaals commented on #1234
Specifically, looks like the terms still need to be listed in single-page.bs

[2018-02-28 14:34] #1234 closed, assigned to scottaohara

[2018-02-28 15:28] carmacleod commented on #1234
Nice - thanks! :+1:

[2018-02-28 19:27] edent commented on #1215
Down to 17 warnings!

[code]

[2018-03-01 10:58] 36degrees opened #1270 "Consider adding headings to allowed content in <label> element"
In #724 the spec was changed to allow headings as permitted children of legends, but this same change was not also extended to labels.

This means that [including a heading as part of a legend](https://codepen.io/36degrees/pen/ZrwRQM) is valid, but [including a heading as part of a label](https://codepen.io/36degrees/pen/rJPKeQ) is not.

Is there any reason why the label should not behave the same

[2018-03-01 11:27] chaals commented on #1270
I think explaining the use case (i.e. concrete examples where you would use this) and testing that it doesn't break stuff are the first steps. If you are happy to do that, I don't know of any reason to hold back.

(Something to test is what happens, e.g. in a screen reader, when you have a heading in a label, and how it interacts  with ARIA headings...)

[2018-03-01 14:40] scottaohara commented on #1270
Agreed with @chaals.  I'd be interested to understand more about why this would be a necessary use case and why, if a `label` did in fact need to double as a heading, the following valid markup pattern wouldn't suffice:

[code]

[2018-03-01 15:25] 36degrees commented on #1270
Thanks, both!

The specific use case we're trying to cater for here is where the user is presented with a page with a single question on it, where the question is both the heading for the page and also the label/legend for the field/fieldset.

For example, in this example, the question 'What is your date of birth?' is marked up as a legend with a heading inside it. This was [a change we made in Ju

[2018-03-01 16:56] scottaohara commented on #1270
@36degrees, if I'm understanding you correctly, this seems to be more of a specificity issue with your design system than a markup issue, or problem with the spec?

I know I don't have full context here, but I would not expect a label to also be a page heading.

I also wouldn't expect a label to have a label class on it, if it were meant to look like a heading it was contained within.  If everythi

[2018-03-01 17:29] 36degrees commented on #1270
Yep, that's a fair enough comment. But to me it feels like it's a _workaround_ and that in this case the spec might not be right.

In #724, the history of the legend element was reported as:

I would like to know if the same holds true for labels – is it just that this is a hangover from HTML4 and no-one has ever proposed loosening it? If so, I think there is merit in making labels and legends beh

[2018-03-01 17:54] scottaohara commented on #1270
Appreciate the additional context @36degrees.

Definitely something to discuss further.  Thanks again for raising the issue.

[2018-03-01 21:05] edent opened #1271 "Magic number - double escaping"
![magic number](https://user-images.githubusercontent.com/837136/36869589-3884e684-1d94-11e8-92ab-811fe6932e24.png)

[2018-03-01 21:57] #1271 closed, assigned to edent

[2018-03-02 10:43] prlbr commented on #1247
@catalinred, could you share which percantage of webpages include the elements `<b>`, `<em>`, `<i>`,`<u>`, `<mark>`. From your article https://css-tricks.com/average-web-page-data-analyzing-8-million-websites/ we can see that `<strong>` is used on 44,3% of webpages. The other elements would be interesting, too. Even more awesome would be a full list of elements and their percentage, which could be

[2018-03-02 11:14] chaals opened #1274 "Add customelements attribute to Window object"
See also #1229, #132

[2018-03-02 11:39] catalinred commented on #1247
Hey,

it's been a while since I updated that study, but here you can find the full statistics, which that article was based on: https://www.advancedwebranking.com/html/

Also, I think this is the exact comparison that what you're looking for: https://www.advancedwebranking.com/html/#inline-text-semantics

That comparison section shows the breakdown of around 936,809,246 "Inline text semantics" ele

[2018-03-02 12:55] prlbr commented on #1247
Thank you @catalinred. The comparison of inline text tags is helpful, but not exactly what I was looking for.

For example, the most used tag `<a>` in [that table](https://www.advancedwebranking.com/html/#inline-text-semantics) has a score of 53.4%, which I interpret as `<a>` tags being just a little bit more numerous than all the other inline tags together. But it would be wrong to conclude that

[2018-03-02 16:57] brucelawson opened #1276 "Update Content Models to account for Cus"
(Part of https://github.com/w3c/html/issues/1229 metabug)

HTML has several sections that need to be updated when introducing a new element, or in this case class of elements. The necessary changes are:

<ul>
        <li>
          <p><a href="https://html.spec.whatwg.org/multipage/dom.html#content-categories">The categories venn diagram</a>'s interactive list must include <a href="#autonomous-cus

[2018-03-02 17:12] brucelawson opened #1277 "Custom Elements - what to do with is="" attribute on regular elements"
Part of metabug #1229

Part of Custom Elements spec defines the ability to extend "real" HTML elements using the <code>is="foo-bar"</code> attribute.

* Define the <code>is="foo-bar"</code> attribute. On which elements is it allowed? Is it a global attribute?
* Mark it as "at risk"? Safari/ WebKit have said they will never implement it. Also check Firefox status.

[2018-03-02 18:09] chaals commented on #1277
@brucelawson asked

`is` is global.

Yeah, I think it would be prudent to mark it as "at risk".

[2018-03-04 11:13] edent commented on #1193
Should we use [Unicode Control Pictures](https://en.wikipedia.org/wiki/Control_Pictures) for showing control codes?

For example, replace

* `(FF)` with `(␌)`
* `(LF)` with `(␊)`
* `(TAB)` with `(␉)`

It *is* what the pictures are there for - but I'm not sure how many users will understand them.

[2018-03-04 17:43] patrickhlauke commented on #1247
for what it's worth, i use `<mark>` in code samples when wishing to highlight something specific about that particular code sample...
[code]

[2018-03-06 05:19] #1200 closed, assigned to scottaohara

[2018-03-06 08:21] siusin commented on #227
According to the latest MSDN document, we can add a Windows Clipboard Name for HTML: [CF_HTML](https://msdn.microsoft.com/en-us/library/ms649015(v=vs.85).aspx).

@polx wdyt?

[2018-03-06 11:17] scottaohara commented on #194
@shwetank when the picker opens, and each time the picker stops on a new value, an onchange event fires.  so if you spin the picker quickly, it will only fire the onchange when the picker lands on the new value.

[2018-03-07 16:57] alastc opened #1285 "Autocomplete giving any info from non-visible fields"
This issue came up during some WCAG work, where we are potentially requiring authors to use autocomplete attributes.

It appears that a site can hide fields (off-screen with CSS) such as address & credit card so that if you select 'fill form' whilst on a name field, it gets all the other information without you realising.

[Article with examples](https://www.digitaltrends.com/computing/browser-bug

[2018-03-11 04:06] chaals commented on #794
There is a new proposal floating around, but we don't yet know if it will get uptake. I am going to postpone this to the next milestone, but I suspect we would do well to either switch to the new proposal, or just remove the old one and its proposed modifications for now, and note the various approaches as editorial.

[2018-03-11 08:21] chaals commented on #1151
This is a bit more complicated than I thought. I propose to do the following (but slip to the next milestone - instead of being now a couple of days overdue, that means within 4 weeks):

* [ ] test `link rev="stylesheet" href="some-potentiall-open-doc"` which should not work in browsers and should be forbidden to work by spec. If something like that does work (it seems unlikely), file browser bugs

[2018-03-11 13:30] cynthia commented on #1215
Looks like we are down to 7 at this point - or am I seeing things?

[2018-03-11 16:13] cynthia commented on #1101
This has been lumped into a somewhat unrelated pull request - see #1287.

[2018-03-12 09:19] edent commented on #1215
@cynthia down to 6 now 😀

[2018-03-12 11:35] jimmywarting opened #1289 "Async constraint form validation"
Sometimes you need to validate against a server to check if something already exist

It would be nice if the submit event could stall until customValidation has resolved a promise

[code]

[2018-03-14 13:04] scottaohara commented on #269
Looks like [inputmode is shipping with chrome 66](https://twitter.com/notwaldorf/status/973627584205398016)

[chrome platform status for inputmode](https://www.chromestatus.com/feature/6225984592281600)

[2018-03-14 13:42] scottaohara opened #1290 "Clean up 4.10 Form examples"
I'd like to take on the task of updating the code examples in 4.10 and start implementing some of the [formatting rules outlined in the style guide (WIP)](https://github.com/agcolom/html/wiki/Style-Guide---WIP).

As part of this update, I plan to review each of the examples to see if any should be revised or expanded.  For instance:

[code]

A revision to this example would be a simplification by

[2018-03-14 21:31] prlbr commented on #1290
Concerning the particular example you gave, there’s the string `name` three times in

[code]

So the example may not really make clear which `name` the `for="name"` refers to. I’d suggest using a string as ID that does not occur anywhere other than in the `id` and corresponding `for` attributes.

[2018-03-14 21:40] scottaohara commented on #1290
right, @prlbr.  Making some tweaks to things like that could definitely make things more clear, especially to those that might be unfamiliar to these attributes.

[2018-03-15 02:16] tianyao1111 opened #1291 "(Style of select/multiple) 把select标签单选的样式用到multiple="multiple"多选上，会更符合思维"
我最近碰见一个问题，用select标签实现多选，发现multiple="multiple"的样式展开很难看，而select单选的样式是我心目中多选的样子，为什么不让多选样式也可以折叠呢？

[2018-03-15 02:59] Dafrok commented on #1291
The W3C standard describes:

There is no specific of the style of the native SELECT element, it's implemented by the browsers themselves and has nothing to do with the standard.

[2018-03-15 03:57] chaals commented on #1291
@tianyao1111 @Dafrok thank you for the issue and comments.

It is true that the style is implemented by the browser. But if I understand the issue correctly (using automatic translation :S ), it is asking if there could be better guidance on how the multiple select is presented.

It makes sense to me to *suggest* that  browsers present elements in a way that is easy to understand, and we have a re

[2018-03-15 03:58] chaals commented on #1291
(If I got the edited title wrong, please feel free to suggest an improvement).

[2018-03-15 05:07] Dafrok commented on #1291
As @tianyao1111's description is not very clear, I guess he wants to said that the SELECT element should fold its options when `size` is 1 and `multiple` is true, just performance like a default SELECT element.
I'm not sure if this feature should belong to the standard.

[2018-03-20 05:58] accessabilly opened #1292 "Proposal: allow <span> elements in <title> element"
Dear W3C-Team,

After conducting some tests with screen readers I encountered, that it's not possible to markup correct multi language `<title>` elements.

Let's assume, my markup looks like this:

[code]

A screen reader (tested with NVDA and JAWS) or maybe any other assitive technology reads the `<title>` in English as proclaimed in `<html>` lang attribute. I assume, that this can be confusing f

[2018-03-20 11:59] edent commented on #1292
That's a very interesting idea.  I should note that `<title>` can have a `lang` attribute which is different from the page's title.

[code]
https://www.w3.org/TR/html5/single-page.html#elementdef-title

At the moment, the Text Model is Escapable Raw Text https://www.w3.org/TR/html5/single-page.html#escapable-raw-text

This means there are lots of pages out there which use this as a feature.

`<tit

[2018-03-20 16:20] accessabilly commented on #1292
Aha, thank you for your reply. I didn't know about the Escapable Raw Text. This might make it complicated.

[2018-03-20 17:58] edent commented on #1292
The `<title>` is one of those fundamental things which hasn't changed much since the beginning of the web. I'd worry that expanding it might break all sorts of things.

You can use multiple languages on `<h1>` and other headings - but I appreciate that's not necessarily a good solution for screen readers.

I wonder if a `<meta>` might be a better solution? But I think I'll let other people chime i

[2018-03-20 20:15] LJWatson commented on #1292
The use case is valid I think. That said, I tend to agree with @edent, that the ```<title>``` element would be a difficult thing to change.

[2018-03-23 09:37] edent commented on #1292
As a thought, does this problem also occur with `alt` text for images?

[2018-03-23 09:59] accessabilly commented on #1292
Yes it does, as far as I have tested it in the past. But I'm not a "real" screen reader user. I just use them for testing. Maybe @LJWatson has better facts on that.

But if we could solve that `alt` text issue in the same way as we do for the `<title>`, this would be really nice, I think. Great thought.

[2018-03-23 10:39] devarshipant opened #1295 "Allow mapping between ARIA role=button/listbox/combobox/etc. AND HTML labelable element"
In the example below, the `<div> `with ARIA role listbox would be a valid (and an acceptable) labelable element. Objective is to create:
1.  for / ID attribute programmatic association.
2. Larger click area.
3. Less code to associate labels with their controls.

[code]

See related issue -- https://github.com/w3c/aria/issues/707

[2018-03-23 11:02] prlbr commented on #1292
… then it also applies to the `title` attribute as well.

How much of a problem is this in practice though – is this something that screen reader users struggle with regularly?

If there was a solution, would authors actually bother to apply such detailed language markup? For instance, [Wikipedia](https://en.wikipedia.org/wiki/La_vie_en_rose) and [IMDB](http://www.imdb.com/title/tt0450188/) and [Y

[2018-03-23 11:44] accessabilly commented on #1292
Yes, it applies to all attributes, that can contain language content. Maybe even `data` attributes should be considered here.

I can't tell for sure if this is a real problem to screen reader users. But I know of personal experiences, that the info in `<title>` is extremly important to users assitive technology. That some sites don't handle language correctly, I would rather see as a result of the

[2018-03-23 14:52] plehegar opened #1296 "HTML media capture"
https://www.w3.org/TR/html-media-capture/
adds a capture attribute to the input element.

It would be good to list that attribute as supported by the input element in the HTML spec.

[2018-03-23 15:07] accessiblewebuk commented on #1292
Whether or not this is a problem for screenreaders, allowing change of language within a title element, or alt attribute, or for that matter other areas that don't allow a span (ARIA-live perhaps?), it would make the web better and more usable for screenreader users.

Other than technical difficulties of implementation I can't think of any logical reasons not to make the change.

[2018-03-23 16:56] chaals commented on #1292
Changing the parsing is going to be complicated indeed, There is also an underlying assumption in HTML that a single page has a single language - although I think that especially with "single page applications" that assumption is now a constraint that doesn't match what people are trying to do.

An alternative approach that might be feasible to implement would be to allow multiple title elements,

[2018-03-23 16:57] chaals commented on #1292
For what it is worth, trying to do this for attributes is a massive architectural change that seems very unlikely to occur.

[2018-03-23 18:43] prlbr commented on #1292
I am not convinced. ;-)

I think that there should be a practical benefit to outweigh added complexity.

I’d like to add two and a half more thoughts to the discussion. Firstly, there are related features that should be considered in context: If a method for specifying the language where it is not yet possible would be added, then what about translatebility in the sense of the `translate` attribut

[2018-03-23 19:19] accessabilly commented on #1292
Before I opened this issue, I thought about exactly the same stuff: will Artificial Intelligence help out here? But the answer must be: NO! Because then, we leave it up to the makers of screen reader software. And we could start leaving out all the assistive content features like `alt` attributes and let AI define, what you see in an `<img>`. I agree, that maybe in the future this is an option, bu

[2018-03-23 20:03] prlbr commented on #1292
You need to get them into the boat anyway. New markup won’t make sense if there’s no implementor interest.

---

<s>I think having a new title element that overrides the classical `<title>` element in supporting user agents would be the most simple markup solution:</s>

[code]

Edit: Not a good idea actually. Legacy browsers would print the `<newtitle>` on the page.

[2018-03-23 23:02] edent commented on #1292
As a late night thought - something like this passes validation, and structured data testing.

[code]

Or, similarly:
[code]

With regards to getting Screen Readers on board - yes. But there's use beyond accessibility features as well.

[2018-03-23 23:10] accessabilly commented on #1292
Yep, I would be fine with something like that. But isn't this too schema.org specific and not "native" HTML? Just feels a little "away" from it.

[2018-03-23 23:24] AmeliaBR opened #1298 "Adopt new WebIDL mixin sytax"
The [WebIDL spec has introduced a dedicated `mixin` syntax](https://heycam.github.io/webidl/#idl-interface-mixins) for interface partials that are never directly exposed. The [`NoInterfaceObject` attribute](https://heycam.github.io/webidl/#NoInterfaceObject) has been marked as an undesirable legacy feature.

WHATWG HTML has already moved to the new syntax, and other specs are being asked to switch

[2018-03-23 23:52] AmeliaBR opened #1299 "Define HTMLOrSVGElement mixin interface"
SVG 2 adopts a number of features previously only defined on HTML elements: `dataset` and `data-*` attributes, the `tabindex` attribute and `tabIndex` DOM property, the `focus()` and `blur()` methods.

[In the September 2016 CR version of SVG 2](https://www.w3.org/TR/SVG2/types.html#InterfaceSVGElement), the new DOM interface features were defined independently on the `SVGElement` interface, with

[2018-03-24 00:01] dstorey commented on #1299
an example of where this bit us was we (Edge) updated focus() to the new html definition with optional scroll parameter. The dev only updated it on HTMLElement, and the spec only defined it in SVG as the old signature without parameter. I've just implemented the new mixin (as defined in WHATWG HTML), which caused me to spot this mistake and update the implementation for SVG.

[2018-03-24 00:29] fantasai commented on #1292
Hm, what if you defined the page title as all the `<title>` elements concatenated together, and then allowed multiple `<title>` elements in the `<head>`?

[2018-03-24 01:44] edent commented on #1292
@fantasai you can't. Older browsers expect exactly one `<title>`. They place any extras they find into the body text.

[2018-03-24 02:15] aphillips commented on #1292
This is a long-standing I18N problem (the `alt` attribute--and other language bearing attributes--mentioned elsewhere in the thread are also and for the same reason if not worse because they don't have separate language identification for the most part).

It's not just screen readers: processing and display of strings sometimes depends on good language information. The inability to correctly tag s

[2018-03-24 10:31] prlbr commented on #1292
@edent Currently, Firefox, Safari and Lynx don’t place multiple `<title>` elements into the body. All but the last `<title>` elment seem to be ignored. I haven’t tested other browsers.

But I think that your [idea](https://github.com/w3c/html/issues/1292#issuecomment-375820383) would be nicer in terms of graceful degradation than composing a single title from multiple `<title>` elements, where leg

[2018-03-25 13:54] ntounsi commented on #1292
RTL users have similar problem to tag an opposite direction in titles
One still need to use control characters (fortunately represented by numeric entities for some).

[code]

to have the title appear as in the body text :

![rtltitle](https://user-images.githubusercontent.com/15004708/37875613-e4acba38-3039-11e8-86fa-f9c9b3d797f8.png)

instead of :

![ltrtitle](https://user-images.githubuserconte

[2018-03-25 15:23] polx commented on #227
Dear Siusin,

yes, [your PR](https://github.com/w3c/html/pull/1282)  looks very good to me.
I am wondering if it is possible to get a MicroSoft person involved before the publication so that the durability of the URL can be ensured. This has been rather difficult of the years.

I'll try to do so the same for MacOSX UTI based on your model which is rather helpful!

thanks

paul

[2018-03-25 17:51] polx commented on #227
[PR for UTIs for MacOSX](https://github.com/w3c/html/pull/1302) posted.
thanks in advance.
Paul

[2018-03-26 10:27] siusin commented on #227
Sure @polx .

@travisleithead @adrianba
do you know whether the information on the [HTML Clipboard Format MSDN](https://msdn.microsoft.com/en-us/library/ms649015(v=vs.85).aspx) page is still up-to-date? This issue requires to add a Windows Clipboard Format (CF_HTML) to the Media-type registrations of HTML.

[2018-03-26 11:03] r12a commented on #1292
Actually, we did manage to fix most of it for XHTML2, but of course that didn't get us very far, and when i asked the HTML5 folks in the early days to look at title attribute and element and alt they didn't feel able/motivated to address the issue.

(fwiw, especially if we are planning to add new features to HTML, please follow the advice at https://www.w3.org/International/techniques/developing-s

[2018-03-26 15:00] travisleithead commented on #227
@gked may be better posed to answer this :)

[2018-03-26 15:38] 36degrees commented on #1270
Hi,

I've built a couple of basic test cases for the ['current implementation' (label inside heading)](https://36degrees.github.io/headings-inside-labels/inverse) and the [proposal (heading inside label)](https://36degrees.github.io/headings-inside-labels/) and used these to capture screenshots and test with assistive technologies.

I haven't found to cause concern – it seems to behave as expected

[2018-03-26 18:14] j9t commented on #1292
Historical note, we’ve discussed similar on www-html at some point (cf. my own partially uninformed suggestion [1]) and a bit later (2007), Lachlan Hunt explained regarding why changes were unlikely to be made [2]:

[1] https://meiert.com/en/blog/html-semantics-of-title-element-content/
[2] https://lists.w3.org/Archives/Public/www-html/2007Feb/0003.html

[2018-03-28 12:01] chaals commented on #1292
As far as I can tell at a glance, the HTML5 parsing algorithm puts all title elements into the head. The rendering chapter says nothing at all about them.

The spec for the element itself just says "there can be only one" without explaining what to do if there **are** more.

I did a back-of-a-scratch file test and Edge, Firefox and Opera all used the first of three for the relevant tab. Lynx used

[2018-03-28 12:16] 36degrees commented on #1270
What are the next steps that need to be done to make progress on this?

[2018-03-28 12:31] chaals commented on #1270
@36degrees

At a minimum, the ping you just made. More effective would be writing a Pull Request that made the change to the spec.

The logic and the use case seem reasonable, and it is hard to imagine what this would actually break...

Ping @sideshowbarker

[2018-03-28 13:39] aphillips commented on #1292
@chaals but that's not actually solving the problem at hand though. I suppose multiple title elements might be occasionally (rarely) useful. The problem is tagging spans of text within a title--this helps with font selection, accessibility, etc. Direction info would also be helpful.

Having multiple titles strikes me mainly as a way to smuggle more SEO keywords into the text. After all the content

[2018-03-28 13:50] chaals commented on #1292
@aphillips sorry, you are right. Jetlag seems to be kicking into my brain.

Although the content of SPA pages in particular might well have multilingual alternatives.

[2018-03-28 14:39] edent commented on #1292
As this has thread is quite long, I will summarise...

Multilingual titles are important for usability and accessibility.

Ideally, we'd like something like `<title><span lang="en">A review of</span> <span lang="la">Tractatus Logico-Philosophicus</span></title>`

* Currently, the `<title>` element cannot contain anything other than raw text.
* Changing the way `<title>` behaves would have negative

[2018-03-28 15:20] r12a commented on #1292
To continue in brainstorming mode:

4. Add a new element that browsers can use instead of or alongside title, such as <docSummary>, and get browsers to transition to that so that it's eventually possible to deprecate <title>. The new element would allow spans internally, and browsers would be allowed to initially turn those to plain strings for representation in  tabs or bookmarks, etc, but eventu

[2018-03-28 15:42] prlbr commented on #1292
@r12a: The problem with a new element is that browsers display it in the body, even if it’s written inside `<head>`. But maybe adding a `hidden` attribute or `style='display:none'` for a transitional time would help?

[2018-03-28 16:59] devarshipant commented on #1292
Just a thought--since a screen reader speaks the page title on page load (or made to via a shortcut key), could this work if aria-labelledby / aria-describedby attribute were supported in title?

e.g.:

[code]

[2018-03-28 17:00] accessiblewebuk commented on #1292
@edent I would have thought that in most cases the main part of the title will be in the language of the page so an initial span wouldn't be necessary, but I don't suppose that would make any difference to difficulties of implementation.

Given that older browsers wouldn't support this, wouldn't users be no worse off when using them than if the title was in multiple languages without spans? In oth

[2018-03-29 16:48] aphillips commented on #1292
In the [I18N teleconference](https://www.w3.org/2018/03/29-i18n-minutes.html#x10) today (sorry our notes are sketchy), I suggested that we might adopt a new use for the `meta` element. Currently `meta` doesn't support content, but it is an existing element. Something like:

I drew an action item to mention it here.

[2018-03-30 10:38] chaals commented on #1276
fixed by #1294

[2018-03-30 10:38] #1276 closed, assigned to scottaohara

[2018-03-30 12:22] chaals opened #1311 "audio allows inaudible sound to use dolphin attack"
The dolphin attack essentially uses audio beyond the normal range of hearing to trigger audio commands in voice-based devices. The mitigations are complex - in principle it may be possible to analyse the audio being produced and filter, otherwise not producing high-range audio. This should be noted in relevant security / privacy sections

[2018-03-30 12:24] chaals opened #1312 "audio potentially allows mimicking Voice interaction"
The audio element potentially allows mimicking of a voice user intereface such as a screen reader or voice assistant. This should be noted in security and privacy sections as appropriate. see also https://github.com/WebAudio/web-audio-api/issues/1487

[2018-03-31 15:51] Comandeer opened #1317 "Description of html element is not available"
Link to the `html` element in table of contents leads to an empty document without any content → http://w3c.github.io/html/semantics.html#the-root-element

[2018-03-31 16:00] chaals commented on #1317
Oh. I thought that bug had been fixed already. Maybe it recurred - it's to do with the build scripts.

[2018-04-01 00:53] #1290 closed, assigned to scottaohara

[2018-04-01 01:54] Nick-Levinson opened #1319 "clarify 4.10.6 button tag for keyword or state"
Please clarify section 4.10.6, on the button element, as to whether the type attribute's value should be the keyword or the state. I tested both possibilities (for a button intended to do nothing) without other attributes in relatively recent versions of the Firefox and Chrome browsers and saw no difference in either default appearance or in feedback. Both W3Schools and Mozilla document in favor o

[2018-04-01 06:31] chaals commented on #1319
It should be the keyword - other values are invalid, because it is an enumerated attribute.

[2018-04-01 08:38] chaals commented on #1289
Can you just disable the submit until your check has returned? There are certainly examples of doing this in practice on the Web.

Or are you requesting a convenience function for that use case, to make life simpler? Before we add such a thing to HTML, we would want to be sure we are doing it right so it would be helpful to see a common pattern used in different (structurally different) libraries

[2018-04-01 08:40] chaals commented on #1285
I *hope* we can get something in before the next milestone. In case we don't I have flagged it so I can make sure it is picked up explicitly for privacy review.

[2018-04-01 09:45] jimmywarting commented on #1289
I could disable the submit button but it's all relevant, a short login form okey, but a long survey form or something else may be a different story and if you have js validation alongside when user go through the forn.

The the main Con for disabling the button (which I've also seen borne out in usability testing) is that users can be confused why they can't click the button or what in the form th

[2018-04-01 10:41] jimmywarting commented on #1289
Another idea that popped up came from service worker.

Having event.waitUntil on the submit event could maybe also work. when the promise is finally resolved and the form is still valid continue the submit process or show the popups validations message

The problem is that there is no easy way to show the popup message
But I found a roundabout way https://stackoverflow.com/questions/15467484/async

[2018-04-01 16:00] chaals commented on #1222
It seems Chrome implemented "fetching a module worker script" [a few days ago](https://bugs.chromium.org/p/chromium/issues/detail?id=680046) behind a flag, but it is not clear if they have got graphs (used to be called trees) running.

[2018-04-01 16:02] chaals commented on #1222
Mozilla think [it's something that would be nice one day](https://bugzilla.mozilla.org/show_bug.cgi?id=1247687)

[2018-04-01 16:23] chaals commented on #1222
It seems like this should be marked "at risk"... or just removed. @cynthia, WDYT?

[2018-04-01 18:05] chaals commented on #794
To replace the existing algorithm there is [a new speculative proposal](https://github.com/whatwg/html/pull/3499).

There are several implementations floating around that implement what we have currently:
* @dominykas' [h50](https://h5o.github.io) - a base that is also used for extensions [for Chrome](https://chrome.google.com/webstore/detail/html5-outliner/afoibpobokebhgfnknfndkgemglggomo), [brac

[2018-04-02 09:21] brucelawson commented on #1277
Leave this out, unless there is implementation in 2 browsers. (Doesn't seem to be in Chrome's implementation of v1 of web components, was in v0.)

[2018-04-02 09:21] #1277 closed, assigned to nobody

[2018-04-02 09:24] #1274 closed, assigned to chaals

[2018-04-02 18:43] chaals opened #1326 "define the :defined selector for HTML"
Part of merging custom elements - see #1229

[2018-04-03 08:55] #194 closed, assigned to shwetank

[2018-04-03 09:19] chaals commented on #1230
This is a feature request on a different specification. I opened an [issue in the canvas repository](https://github.com/w3c/2dcontext/issues/12)...

[2018-04-03 09:19] #1230 closed, assigned to nobody

[2018-04-03 11:08] #885 closed, assigned to scottaohara

[2018-04-03 12:35] chaals commented on #1151
OK, it turns out that `rev` does reflect, so I am going to commit that.

having it on `area` at least breaks in that unlike `rel` it doesn't seem to reflect there, so allowing it would mean making tweaking the editorial stuff noted in some more ways.

I haven't checked if RDFa processors actually handle `rev` on `area`.

So I will commit the bugfix, and open new issues for
1. editorial cleanup
2.

[2018-04-04 06:06] chaals opened #1330 "update further reading section in introduction"
Some of the [suggesteed reading references](http://w3c.github.io/html/introduction.html#suggested-reading) could usefully be updated to newer ones...

[2018-04-04 14:20] Malvoz commented on #1292
Referencing issue [#553](https://github.com/w3c/html/issues/553) on multilingual `<meta name="description">`, I believe it is relevant.

[2018-04-04 15:00] Malvoz opened #1333 "Logical sizing attributes"
Edit, see WICG incubation: https://discourse.wicg.io/t/logical-sizing-attributes-internationalization/2971

<hr>

Should logical sizing attributes [`inline-size | block-size`](https://www.w3.org/TR/css-logical/#dimension-properties) exist in addition to the `width` and `height` html attributes?

[2018-04-04 17:33] chaals commented on #1333
In my personal opinion, no - although that isn't an opinion I hold very strongly.

I presume the use case is like the one for `width` and `height` to allow preliminary layout to be done before CSS is fully loaded. (If not, please explain what it is, and if it is please confirm).

[2018-04-04 17:35] #254 closed, assigned to patricia-gallardo

[2018-04-04 17:48] scottaohara commented on #1333
I could see those attributes being added for the few element that `width` and `height` haven't been deprecated for.  e.g., `canvas`, `img`, `video` and a few others.

But i'd submit that even the allowed usage on these elements is not always ideal for a responsive web.  Best to [incubate the proposal](https://discourse.wicg.io/) to see if it gains legs.

[2018-04-04 19:09] Malvoz commented on #1333
@chaals

Yes, that is the use case I had in mind. And because the `width`/`height` attributes aren't being deprecated, I thought moving forward with logical sizing would be the sensible thing to do.

@scottaohara

You could set the height/width attributes for your "mobile first"/responsive web and override the set dimensions using CSS at larger viewports.

With that said, this is not something I p

[2018-04-04 21:28] prlbr commented on #1333
Their [CSS definition](https://www.w3.org/TR/css-logical/#dimension-properties) says,

The mentioned writing-mode is set by CSS. Does that mean that CSS needs to be loaded to compute these properties correctly? Does the use case still hold then?

[2018-04-05 12:02] chaals opened #1335 "clean up descriptions of rel/rev"
This is the editorial part of #1151

1. Under the section [**Links created by `<a>` and `<area>` elements**](https://w3c.github.io/html/links.html#links-created-by-a-and-area-elements), there is documentation on the `[rev]` content attribute, which applies to `a` and `link`. This is misleading because `link` is not in the section title. Perhaps the title should be changed to “Links created by `<a>

[2018-04-05 12:06] chaals opened #1336 "allow 'rev' attribute on 'area' element?"
This comes from #1151 - it's the speculative part we might do nothing about.

The `area` element makes a link, and in various ways such as describing link types they are currently treated as equal.

But the `rev` attribute is not currently valid on the element. Unlike `rel` it is not implemented a a reflecting attribute at the moment.

Unclear if it is processed e.g. by RDFa processors @iherman @g

[2018-04-05 12:07] chaals commented on #1151
opened #1335, #1336 to deal with the aspects of this not covered by #1328

[2018-04-05 12:28] iherman commented on #1336
@chaals, RDFa supports the use of `@rev` on any element; the [HTML+RDFa](https://www.w3.org/TR/rdfa-in-html/#additional-rules) spec makes it explicit, without any reference to whether it is valid or not on a specific element. (The area element does not have any specific semantics defined in that document.)

Yes, PyRDFa (the RDFa extension to Python's RDFLib) does process `@rev` regardless of the e

[2018-04-05 13:42] #1151 closed, assigned to chaals

[2018-04-05 13:46] chaals opened #1337 "restrict custom attributes to data-* ?"
See also https://github.com/whatwg/html/issues/2271 and the discussion following https://www.w3.org/2018/03/05-webplat-minutes.html#resolution03

[2018-04-05 14:22] gkellogg commented on #1336
Yes, there are tests for `@rev` in the RDFa test suite, not sure what tag, though. All conforming RDFa processors will handle it.

Given the current Microdata spec, which simply converts Microdata into RDFa, it would work implicitly, aside from the HTML validity issue.

[2018-04-05 22:45] chaals commented on #1298
@AmeliaBR if this stuff is never exposed, I am currently assuming that it therefore doesn't affect conformance, and is just a better way of writing the spec.

Given that we are trying to get a spec out that is sufficiently complete for review as a potential Candidate Recommendation, I am assuming that we can do this when we're more or less feature-frozen, and therefore letting it slip the current

[2018-04-05 23:02] AmeliaBR commented on #1298
@chaals

No, it's not exposed to end users. I think the main concern is for validators and other tools that are trying to consume specs in order to help build other specs.

[2018-04-05 23:09] chaals commented on #1298
@AmeliaBR by "not exposed" I understood "doesn't directly change implementation conformance", which may be what you are saying, or not.

I *think* we agree here - so if something I have said doesn't ring true, I'd be grateful for correction or raising a flag to make sure... :)

[2018-04-06 00:09] marvindanig commented on #602
Ability to disable zoomability on web pages is very important for web developers to be able to make performant games or sites with "app-like" behavior. We should note there *is* a dry reader mode on Safari that helps low vision readers with accessibility, if the site is such and someone needs those overrides.

I tested on iOS 10.3 with a simple `event.preventDefault()` on `touchmove` & `gesture` b

[2018-04-06 11:06] r12a opened #1339 "Clarify that bdi is not needed if there's already an element in place"
https://www.w3.org/TR/html/textlevel-semantics.html#the-bdi-element

Example 125 has an example of how the text would be incorrectly displayed if the `b` element were used rather than `bdi`. That's a useful illustration.

However, many people think that when they use a `b` tag they need to also use a `bdi` tag, eg.

`<li>User <b><bdi>إيان</bdi></b>: 3 posts.`

Actually, it's better practise to jus

[2018-04-06 11:50] chaals commented on #1337
The argument is roughly that we avoid cluttering the web with more attributes that might clash as we extend the platform, but we force developers to choose between their code being valid and helping to meet that goal, and having shorter, more readable and typable attribute names.

I.e. should we insist on e.g. `data-new-attribute` or `data-myns-attribute` (allowing namespacing), for maximum extens

[2018-04-06 11:52] chaals commented on #1337
Unless and until we have a proper custom attributes framework in place, and noting that is something which people continue to want and think they will work on, I strongly favour the restrictive version.

[2018-04-06 13:55] akehir opened #1340 "Validation of<input> type='date' not conforming to ISO 8601-2 (WD) & not suitable for recording birth dates & incorrect autofill suggestions for 'bday' field"
# Introduction
While implementing a form recording birth dates as written on official passports and similar travel documents, I've stumbled on a small issue with the <input> type='date'.

# Background
The underlying issue is, that the Swiss Government may issue identity cards or passports which do include a birth day of '00' and a birth month of '00', as it has happened with [this example](https:/

[2018-04-06 19:36] scottaohara opened #1342 "Provide example of the download attribute"
In reviewing [4.8.2. Links created by `a` and `area` elements](https://w3c.github.io/html/links.html#element-attrdef-a-rel) and [4.5.1. The `a` element](https://w3c.github.io/html/textlevel-semantics.html#the-a-element) I noticed that there is no code example of the `download` attribute.

It seems to me that adding an example to [4.8.2](https://w3c.github.io/html/links.html#element-attrdef-a-rel)

[2018-04-07 08:44] chaals commented on #1342
Yes, that looks like the logical place to me.

[2018-04-07 18:36] Malvoz commented on #888
Most likely, authors would expect the behavior of the `nofilter` attribute to be the default behavior. If nothing else, having this features at least enables authors to have `<datalist>` meet those expectations.

[2018-04-09 07:58] 36degrees commented on #1270
Closed based on discussion in #1304:

[2018-04-09 07:58] #1270 closed, assigned to scottaohara

[2018-04-09 08:07] chaals commented on #227
@siusin should this still be open?

[2018-04-09 08:23] chaals opened #1353 "custom elements needs examples"
(Just saving @programmer3000 from having to raise an issue ;) Thank you anyway, for making me remember to do this).

[2018-04-09 09:38] siusin commented on #1317
The latest build has fetched [the missing content](https://w3c.github.io/html/semantics.html#the-root-element).

Thanks for reporting the bug, @Comandeer !

[2018-04-09 09:38] #1317 closed, assigned to plehegar, siusin

[2018-04-09 11:11] edent commented on #1340
It seems to me that there are two distinct problems here.

1. Authors can't indicate "fuzzy" times like `She was born in  <time datetime="195X-01">January in the 1950s</time>`.
2. Users can't input fuzzy dates. If they do, then they won't validate.

On the face of it, this seems like an easy fix for (1).

But for validating input I wonder about the consequences. The `input type="number"` allows `e

[2018-04-09 16:21] polx commented on #227
Hello @chaals,
There's only the long-term of the URLs which is questionned at this point, I think.
@gked, can you provide an answer?
thanks
paul

[2018-04-09 19:53] LJWatson commented on #1285
@Alastc is it just when fields are hidden off-screen (per the examples linked from the article you referenced), or are there other techniques we should mention?

[2018-04-09 21:23] alastc commented on #1285
Logically it must be when fields (with autocomplete) are on the page, but hidden or disguised in some way.

There might be an aspect of wack-a-mole, where if hidden fields are detected by browsers then attackers might use other techniques like shrinking inputs to a couple of pixels, or making them transparent, or white on a white background or some other technique.

I suggest leaving it up to the

[2018-04-09 21:53] LJWatson commented on #1285
Thanks @Alastc. Proposed text:

<Warning: When fields with the 'autofill' attribute are hidden off-screen or visually disguised, personal data may still be entered when using the 'auto-fill' feature of browsers and password managers. User agents should verify that all fields with the 'autofill' attribute are visible within the viewport before inserting data automatically.<

[2018-04-09 22:45] chaals commented on #819
removing `th` makes little sense. It seems fairly widely and well-used, although that is an observation not proper data.

One reason this question has not been answered is that it doesn't appear to matter a lot what the answer is. Which makes it less of a priority.

[2018-04-10 00:25] liamquin commented on #819
On Mon, 2018-04-09 at 12:03 +0000, programmer3000 wrote:

Older browsers might automatically end a thead and start a tbody if
they encounter a TD, i think, based on tag ommissibility rules. I'm not
sure.

Allowing td in the header might in other words mean that
  <table><tr><td>what is this</td></tr></table>
would become a table header instead of table body.

In addition, th is needed for headers

[2018-04-10 02:35] johnfoliot commented on #1285
+1 to that text.

JF

On Mon, Apr 9, 2018 at 5:54 PM, Léonie Watson <notifications@github.com>
wrote:

--
John Foliot
Principal Accessibility Strategist
Deque Systems Inc.
john.foliot@deque.com

Advancing the mission of digital accessibility and inclusion

[2018-04-10 10:29] LJWatson commented on #1296
According to [Can I use](agenda+), the capture attribute is supported in multiple mobile browsers (Safari, Chrome, and Samsung Internet).

[2018-04-10 11:07] r12a commented on #1339
[code]
I don't think we've got this right yet, since there's no obvious reason why the last line should have a b tag and the others not (and it would produce an odd looking display).  I would expect all three to be the same:
- either all just use `<bdi>`
- all all use `<b>` with `dir`

Perhaps we're trying to crowd too much into one example.

[2018-04-10 11:08] r12a commented on #1339
Btw, there's a typo: `<</b>`

[2018-04-10 11:18] #1335 closed, assigned to scottaohara

[2018-04-10 15:44] joelanman opened #1355 "Reconsider the behaviour for type="number" - restricting input"
[The current spec for type="number"](https://www.w3.org/TR/html52/sec-forms.html#number-state-typenumber) says:

This is not a user-friendly requirement (I'm referring to end-users here, not developers). A core usability concept is that when a user gives an interface input (for example via a keyboard) that the interface responds to the user. Ideally the response will be what the user expected (a c

[2018-04-10 16:11] edent commented on #1355
Just for a bit of background...

Quoting from [W3C Spec](https://www.w3.org/TR/html5/sec-forms.html#number-state-typenumber)

So, do UK users expect to be able to enter `1,234.56`? or `-789` or `+123`? That's 4 non-numeric characters which might be in everyday use.

The flip side of this is [`input type="telephone"`](https://www.w3.org/TR/html5/sec-forms.html#telephone-state-typetel)

`1-800-STAR-

[2018-04-11 08:44] chaals commented on #1277
This is in fact implemented in both Firefox and Chrome, so #1343 includes it as part of custom elements.

[2018-04-11 10:00] #906 closed, assigned to cynthia

[2018-04-11 10:00] #1101 closed, assigned to cynthia

[2018-04-11 15:06] #1342 closed, assigned to scottaohara

[2018-04-11 18:32] accessabilly opened #1362 "Proposal: allow a button attribute on form controls like <input>, <select>, <textarea> etc."
Hi again dear W3C Team,

I currently have a problem that I wanted to solve via HTML, but there is no solution via standards, as far as I can see.

I have a `<form>` that is wrapped around a `<table>`. Per table row, there are some form controls in different `<td>` elements like a `<select>` element and an `<input>` element and a `<button type="submit">` with it's own `formaction` attribute. There

[2018-04-12 09:34] ntounsi commented on #1339
https://www.w3.org/TR/html/textlevel-semantics.html#the-bdi-element
Example 125, I don't see any issue here.

Figure 2. "If the bdi element were to be replaced by a b element". Why replace `<bdi>`  by `<b>`?  To my understanding, these two elements are orthogonal, and may be applied independently of each other.

Given the need of `<bdi>` in figure 1, if one wishes to emphasis, say, the names in th

[2018-04-12 09:45] r12a commented on #1339
@ntounsi that's what i'm recommending should NOT be done. Please reread the initial comment and the proposed fix. My reaction two days ago was to https://github.com/w3c/html/pull/1354.

[2018-04-12 11:00] ntounsi commented on #1339
May be I'm missing something. But I agree with you in my second reference to your comment.

Also my question was why confuse <b> with <bdi>?

[2018-04-12 11:00] ntounsi commented on #1339
Actually it is why confuse b with bdi.

[2018-04-12 14:35] LJWatson commented on #1339
@R12a #1364 adds the ```<b>``` tags as suggested. Shout if there is more still to be done. Thanks.

[2018-04-12 14:46] r12a commented on #1339
[copying this comment here, since the PR was closed while i was writing this over there]

Ok, it's now consistent wrt tags, but not wrt attributes.  If one knows that the third item needed a dir=auto, one would use a  dir=rtl instead.  I think that the scenario represented here is that the  names of the restaurants and number of stars are obtained from a  database or feed elsewhere and injected in

[2018-04-12 14:47] r12a commented on #1339
And btw the `<</b>` typo is still there.

[2018-04-12 19:40] #1339 closed, assigned to LJWatson

[2018-04-16 08:03] iandevlin opened #1371 "bikeshed error when building spec"
When I try to build the spec via `bikeshed spec` I get the following error message:
[code]

I did run `bikeshed update` before  this, and I merged `master` into my fork, so everything is up to date.

Does anyone have an ideas?

[2018-04-16 09:40] siusin commented on #1371
hi @iandevlin -

This problem didn't present when I ran `bikeshed spec` in our latest version so I'm afraid I don't have a solution for this. If `$ git pull --rebase` / `$ bikeshed update` doesn't help, could you try re-install bikeshed? It works for @chaals last time.

[2018-04-16 12:14] chaals commented on #1371
My guess is that you have an indent-based syntax error in single-page.bs at that line number...

(I haven't got bikeshed working for me again, and I still have no idea why it seemed to just suddenly stop. But I will remove it and re-install it some time today).

[2018-04-16 14:55] LJWatson commented on #830
Per recommendation from @stevefaulkner, moving this out pending the outcome of discussions happening in the WHATWG regarding the outline algorithm.

[2018-04-16 16:53] patricia-gallardo commented on #773
@LJWatson added a testcase to the pull request #1331

[2018-04-16 18:39] ylafon commented on #262
See also https://github.com/whatwg/html/issues/1509#issuecomment-299118235 (and subsequent msg)

[2018-04-16 19:56] #1285 closed, assigned to LJWatson

[2018-04-17 07:01] iandevlin commented on #1371
Thanks for all your comments. I had some time again this morning and did one extra thing that i forgot to do yesterday, and that was to update my bikeshed repository via `git pull`.  Then I ran `bikeshed update` again, and then `bikeshed spec` worked fine.

Should have tried that yesterday, sorry, but perhaps this informations helps someone else who may be having the same issue.

[2018-04-17 07:01] #1371 closed, assigned to nobody

[2018-04-17 13:15] #1296 closed, assigned to LJWatson

[2018-04-17 14:49] #773 closed, assigned to chaals, patricia-gallardo

[2018-04-17 14:50] chaals commented on #911
closed by #1343

[2018-04-17 14:50] #911 closed, assigned to chaals

[2018-04-17 15:25] #794 closed, assigned to scottaohara

[2018-04-17 16:49] julkue commented on #794
In which direction? Back to the roots (not always starting with `<h1>` in `<section>`) or something different?

[2018-04-17 17:10] chaals commented on #794
@julmot It is hard to predict. There has been relatively low uptake of this algorithm, although not zero - @dominykas' implementation has been used in various projects, as well as the others mentioned above.

But it is somewhat complex, and the idea of using h1 as a level-free heading that would be automatically nested appropriately seems not to have got uptake - in particular, among the browser e

[2018-04-17 21:38] chaals commented on #1362
Hi @accessabilly, you can do something like what you want. You create forms, and associate the submit button and other controls with the `form` attribute, like so:

[code]

(the second row is inside its form so doesn't need the association through an attribute).

If this solves the issue I suggest closing it. Otherwise, I am misunderstanding so please explain it again...

[2018-04-18 01:33] scottaohara opened #1375 "tfoot end tag omission prose needs updating"
The content regarding the omission of tags for the `tfoot` states:

However this does not match with the prose for the context in which `tfoot` may be used, and testing with the Nu HTML Checker verifies the omission prose as incorrect.

[2018-04-18 02:35] #1375 closed, assigned to scottaohara

[2018-04-18 03:17] chaals commented on #1090
Looking again, and at the logistics of maintaining this specification as part of HTML, I think @awwright is correct, and that we (including me as one of those who voted for it), reached the wrong decision.

In part, the goal of making the spec easier to maintain has not proven to be achieved by this approach, which begins by adding a substantial piece of work, and it is not clear to me that the me

[2018-04-18 09:19] accessabilly commented on #1362
Yes, I know that this is possible as well. It feels weird though, because I have a lot of empty `<form>` elements in the DOM. But I'm OK, if you are OK with that solution ;-)

Sorry for the inconvenience,
Martin

[2018-04-18 09:19] #1362 closed, assigned to nobody

[2018-04-20 19:55] Malvoz commented on #1333
@prlbr
That is a good point, which makes me wonder why there is no `writing-mode` attribute.

[2018-04-21 04:20] mtrootyy opened #1380 "multiple attribute must not be specified in <input type=range>"
https://w3c.github.io/html/sec-forms.html#range-state-typerange

→ `multiple` should be removed.

→ `multiple` should be added.

Ref: https://w3c.github.io/html/sec-forms.html#ref-for-element-statedef-input-range%E2%91%A0

[2018-04-21 04:23] mtrootyy opened #1381 "caputure attribute in <input> element"
https://w3c.github.io/html/sec-forms.html#element-statedef-input-file

→ `capture` should be removed.

https://w3c.github.io/html/sec-forms.html#element-statedef-input-button

→ `capture` should be added.

Ref: https://w3c.github.io/html/sec-forms.html#ref-for-element-attrdef-input-capture%E2%91%A0

[2018-04-21 04:27] mtrootyy opened #1382 ""Contexts in which this element can be used:" of <dt> element and <dd> element"
https://w3c.github.io/html/grouping-content.html#the-dt-element

→ This sholud be fixed following:

https://w3c.github.io/html/grouping-content.html#the-dd-element

→ This sholud be fixed following:

Ref: https://html.spec.whatwg.org/multipage/grouping-content.html#the-dt-element

Ref: https://html.spec.whatwg.org/multipage/grouping-content.html#the-dd-element

[2018-04-21 04:28] mtrootyy opened #1383 ""Categories:" of <style> element"
https://w3c.github.io/html/document-metadata.html#the-style-element

→ "Flow content" should be added.

Ref: https://w3c.github.io/html/dom.html#flow-content

[2018-04-21 04:30] mtrootyy opened #1384 ""Content attributes:" of <a> element and <area> element"
https://w3c.github.io/html/textlevel-semantics.html#the-a-element

→ `ping` attribute should be added.

https://w3c.github.io/html/semantics-embedded-content.html#the-area-element

→ `ping` attribute should be added.

Ref: https://w3c.github.io/html/links.html#element-attrdef-a-ping

[2018-04-21 04:31] mtrootyy opened #1385 ""Content attributes:" of <audio> element and <video> element"
https://w3c.github.io/html/semantics-embedded-content.html#the-audio-element

→ `disableRemotePlayback` attribute should be added.

https://w3c.github.io/html/semantics-embedded-content.html#the-video-element

→ `disableRemotePlayback` attribute should be added.

Ref: https://w3c.github.io/html/semantics-embedded-content.html#media-element-attributes

[2018-04-21 04:33] mtrootyy opened #1386 ""body ok" of <link> element"
https://w3c.github.io/html/links.html#body-ok

→ `external` should be removed. Because `rel=external` not be allowed in `<link>` element.

Ref: https://w3c.github.io/html/links.html#ref-for-body-ok%E2%91%A2

→ Row of `external` is destroyed.

[2018-04-21 04:35] mtrootyy opened #1387 ""Content attributes:" of <link> element"
https://w3c.github.io/html/document-metadata.html#the-link-element

→ `integrity` attribute should be added.

Ref: https://w3c.github.io/html/document-metadata.html#element-attrdef-link-integrity

[2018-04-21 04:36] mtrootyy opened #1388 ""Content attributes:" of <img> element"
https://w3c.github.io/html/semantics-embedded-content.html#the-img-element

→ `decoding` attribute should be added.

Ref: https://w3c.github.io/html/semantics-embedded-content.html#element-attrdef-img-decoding

[2018-04-21 04:40] mtrootyy opened #1389 "clarify usage of autocomplete attribute on <input type=hidden>"
https://w3c.github.io/html/sec-forms.html#autofilling-form-controls-the-autocomplete-attribute

→ This sentence should be removed. Because autocomplete attribute is not allowed in `<input type=hidden>`

→ All "input elements with a type attribute in the Hidden state" should be removed. Because autocomplete attribute is not allowed in `<input type=hidden>`

Ref: https://w3c.github.io/html/sec-forms

[2018-04-21 04:43] mtrootyy opened #1390 ""11.2. Non-conforming features" should be fixed"
https://w3c.github.io/html/obsolete.html#non-conforming-features

→"`<rb>`", "`<rtc>`", "hreflang on `<area>` elements", "type on `<area>` elements", and "border on `<table>` elements" should be removed. Because they are not non-conforming.

[2018-04-21 04:47] mtrootyy opened #1391 ""Content attributes:" of <srcript> element"
https://w3c.github.io/html/semantics-scripting.html#the-script-element

→ `charset` should be removed. Because charset attribute on `<script>` element is non-conforming.

Ref: https://w3c.github.io/html/obsolete.html#element-attrdef-script-charset

[2018-04-21 04:48] mtrootyy opened #1392 "rel=canonical in <link> element"
https://w3c.github.io/html/document-metadata.html#ref-for-supported-tokens%E2%91%A0

→ `canonical` should be added.

[2018-04-21 08:22] prlbr commented on #1392
That list also lacks `author`, `help`, `license`, `prev`. Maybe it would be better not to have a redundant list there at all and only keep the link to https://w3c.github.io/html/links.html#allowed-keywords-and-their-meanings ? It will be easier to maintain a single place that defines the allowed tokens.

That said, https://w3c.github.io/html/links.html#allowed-keywords-and-their-meanings does not

[2018-04-21 08:48] prlbr commented on #1386
Or do it the other way around and add `external` to the table with the descriptions of link types?

By the way, WHATWG has it the other way around than it is in the W3C spec now. `external` is explained in their table with keyword meanings, but it is not allowed on `<link>` elements and is hence not _body-ok_ for `<link>` elements.

In general, `external` isn’t really helpful, is it? On the one ha

[2018-04-21 09:12] mtrootyy commented on #1392
[commit/07e9d9aaeb52920e9cd993c9d04c5996a30219c0](https://github.com/w3c/html/commit/07e9d9aaeb52920e9cd993c9d04c5996a30219c0)（committed on 7 Apr 2017）
→`canonical` was added to "4.2.4. The link element" section.

[commit/4e4d714c6560022b647aea1b8ab435a65bc27875](https://github.com/w3c/html/commit/4e4d714c6560022b647aea1b8ab435a65bc27875) （committed on 19 May 2017）
→`canonical` was removed from "4

[2018-04-21 14:19] prlbr opened #1395 "longdesc incorrectly listed as obsolete for <img>"
`longdesc` is listed as obsolete for `<img>` here:
https://w3c.github.io/html/obsolete.html#element-attrdef-script-charset

`longdesc` is listed as currently valid for `<img>` here:
https://w3c.github.io/html/semantics-embedded-content.html#elementdef-img

I think the latter is correct and the former needs to be changed.

[2018-04-21 18:34] scottaohara opened #1397 "main cannot be a child of address"
The content model for `address` states:

However `main` is also an invalid child of `address`.

[2018-04-22 01:15] #1395 closed, assigned to nobody

[2018-04-22 01:30] #1397 closed, assigned to scottaohara

[2018-04-22 17:29] #1383 closed, assigned to scottaohara

[2018-04-22 17:29] #1391 closed, assigned to scottaohara

[2018-04-22 20:26] #1326 closed, assigned to chaals

[2018-04-24 01:01] chaals opened #1404 "define slot element"
See also #1229, #1256

[According to MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Slot#Browser_compatibility) the element is supported really by blink and webkit, with Firefox also providing "basic" support (but not supporting the `name` attribute).

[2018-04-24 09:09] prlbr opened #1405 "please clarify definition of <header> element"
I have some trouble interpreting the following sentence from https://w3c.github.io/html/sections.html#the-header-element:

Consider this example:

[code]

It feels like the `<header>` elements in these examples should simply group the `<h2>` headings with the date byline below – this kind of use is also recommended in https://w3c.github.io/html/common-idioms-without-dedicated-elements.html#subhead

[2018-04-24 11:00] siusin commented on #291
The spec has been updated to include expection for `<rtc>`:

1] `<rb>`, `<rt>`, `<rp>` generate implied end tags in `<ruby>`
2] `<rt>`generate implied end tags in `<rtc>`
3] `<rb>` generate implied end tags in `<any></any>`
4] `<rb>` generate implied end tags in `<any>`
FF, SF, Ch implementations follow 1];
FF implementation follows 2];
FF, SF, Ch implementations follow 3];
FF implementation follo

[2018-04-24 11:15] edent commented on #1215
Closing for now as we come to the end of 5.3

Will open a new issue after publication to deal with any stragglers.

[2018-04-24 11:15] #1215 closed, assigned to nobody

[2018-04-24 11:42] LJWatson commented on #291
From the [HTML meeting today](https://www.w3.org/2018/04/24-html-minutes.html) it seems that ```<rtc>``` and ```<rt>``` may not have sufficient implementation. We should mark these as "at risk" until we can run some tests to confirm/deny.

[2018-04-24 12:14] siusin commented on #291
@LJWatson sorry I wasn't clear in the minute, `<rtc>` only gets [one implementation](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rtc), and should be mard 'at-risk'. `<rt>` is fine.

Also see test for [Ruby implied end tags](https://rawgit.com/siusin/web-platform-tests/ruby-implied-end/html/semantics/text-level-semantics/the-ruby-element/ruby-implied-end.html).

[2018-04-24 16:41] #1404 closed, assigned to chaals

[2018-04-24 23:23] #291 closed, assigned to siusin

[2018-04-25 07:41] shwetank commented on #564
http://focusandblurevent.surge.sh/ is a small test i made where I call `blur()` on the focus event listener and `focus()` on the blur event listener.

Chromium based browsers get a 'Uncaught RangeError: Maximum call stack size exceeded.' error.
Firefox and Edge seem to not show the error, but of course, the focus is no longer on the input. Safari seems to be a bit similar to chrome where it keeps

[2018-04-25 07:47] shwetank commented on #564
Overall, IMO it shouldn't be the case that we allow a situation where we call `focus()` on the `blur` event listener (and vice versa). At best, it's a usability no-no, and at worst, will cause browser range errors and even crashes.

However, sometimes developers might want to do some additional checking on form elements and return focus on the input if not validated. However, there doesn't seem to

[2018-04-25 08:52] shwetank commented on #564
So on more pondering, it seems to me that even though it would be possible to some questionable things like call `blur` on the focus event listener and then `focus` on the blur event listener causing trouble for the browser - in most cases people won't really do that ... but there are some use cases where calling just one of those (like `focus` on blur event listener) where it would be genuinly be

[2018-04-25 08:52] #564 closed, assigned to shwetank, cynthia

[2018-04-25 10:00] chaals opened #1409 "slot element and attribute need example(s)"

[2018-04-25 12:00] chaals commented on #1337
In #1343 the restrictive version of this is put in the spec.

[2018-04-25 14:24] #262 closed, assigned to chaals

[2018-04-25 14:33] #1388 closed, assigned to chaals

[2018-04-25 14:55] chaals commented on #1386
I agree that `external` isn't obviously helpful, beyond being more explicit. As well as a styling hook, it can be used where content is passed around copy-paste style, so a republished document on an aggregation site like the 'wayback machine' can be clear.

[2018-04-25 15:09] rehierl commented on #1001
The decision was made to "revisit this for the next version of HTML".

(Closed, because it doesn't make sense to keep this issue open)

[2018-04-25 15:09] #1001 closed, assigned to nobody

[2018-04-25 16:16] chaals commented on #1389
I think the **bug** here is in the list of attributes not allowed.

The current explanation of autocomplete uses a complex indirection with the "autocomplete anchor mantle" - which only applies when the attribute is used on an input in the hidden state - to explain that autocomplete must have not be applied to suggest or change the value of a hidden input.

The fact that an autocomplete is specifi

[2018-04-25 16:29] #132 closed, assigned to chaals

[2018-04-25 16:57] #1386 closed, assigned to chaals

[2018-04-25 17:08] siusin commented on #291
More Ruby tests from the i18n WG:

- https://w3c.github.io/i18n-tests/results/ruby-html
- https://www.w3.org/International/tests/#html5-devt

[2018-04-25 17:21] #1381 closed, assigned to chaals

[2018-04-25 21:09] chaals commented on #1337
Closing.

[2018-04-25 21:09] #1337 closed, assigned to nobody

[2018-04-26 08:29] danieltj27 commented on #774
What's the progress on this thus far? I've checked out the [h-element-spec](https://github.com/jonathantneal/h-element-spec) repository but looks like there's not been any movement since early February. Is this any particular path we need to take now or a way to keep things moving? I'm curious on how we can keep this going and on the road to making it 'official'.

[2018-04-26 14:15] LJWatson opened #1415 "HTML5.3 wide review tracker"
* Architecture: Request filed as w3ctag/design-reviews#275
* A11y: [Request sent to APA WG](https://lists.w3.org/Archives/Public/public-html/2018Apr/0023.html) [No issues](https://lists.w3.org/Archives/Public/public-html/2018May/0034.html)
* A11y: [Request sent to ARIA WG](https://lists.w3.org/Archives/Public/public-html/2018Apr/0024.html) [No issues](https://lists.w3.org/Archives/Public/public-ht

[2018-04-26 15:17] lespacedunmatin opened #1417 "`input type="number"` misses a `unit`property"
I’d like to have to possibility to set a `unit` property on `input type="number"`.

Browsers would be expected to display the specified unit close to the number (perhaps there would need a specific CSS option to specify if the unit should be before or after the figure, like for $10 vs 10€).

Assistive technologies would be expected to expose the unit to the user, and copy/paste would be expected t

[2018-04-26 16:25] prlbr commented on #1417
Is there a benefit compared to having the unit symbol outside the `<input>` element other than it being easier to copy number and unit at once?

Do you expect the unit to be included in the transfered data, if a form submitted? In what form?

[2018-04-26 18:13] lespacedunmatin commented on #1417
That’s exactly the point : the unit information would be as close as possible from the data and _inside_ the input box, from my point of view it is a better visual clue.

Example:
<pre>
¥ | 5 |
</pre>

is not as good to me than

<pre>
| ¥5 |
</pre>

(the bars representing of course the input box)

No, the unit would be used only for display purpose.

[2018-04-26 23:02] torressam333 commented on #1405
So there can be a header element in more than one place in an html file? Must it remain in the <head> element?

[2018-04-26 23:34] AurelioDeRosa commented on #1417
If it's only about visual, why the current solutions aren't enough? I mean wrapping the `input` inside a `div` and then adjust via CSS.

[2018-04-27 08:35] lespacedunmatin commented on #1417
Because it’s difficult to adujst the unit position regarding the length of the data inserted into the input and the controls provided by the browser (like the up and down arrows used to increase/decrease the number). And I think it would be better for assistive technologies either (so it’s not only about visual, but also text to voice, and so on).

[2018-04-29 23:29] Alohci commented on #1405
@prlbr. It seems that in the examples given, the header element is being used as a grouping for the introductory information of the implicit sub-section created by the h2 element. But there is no requirement that a header element contain an h1-h6 element in which case, what is the content that is being introduced? Should a header element without a contained h1-h6 element imply a sub-section creati

[2018-04-30 00:26] torressam333 commented on #1405
Thank you for the excellent explanation. This is very useful!

[2018-05-01 11:38] #1390 closed, assigned to nobody

[2018-05-02 13:44] TheWebTech opened #1422 "input type="color" does not support transparent or opacity"
While there is reason to allow "transparent" or opacity to be optional on a color input there is no way to add it.

Perhaps an additional attribute opaque="false" or opacity="true"/ opacity could be used to progressively enhance these inputs.

`
<input type="color" opacity>
`

Sorry if I'm not following proper protocol for making a suggestion, first time making a suggestion here.

[2018-05-02 15:50] edent commented on #1422
Hello! Thank you for raising this issue.  I'm going to ask you some questions so we make sure that we've understood you.

At the moment, colour\* is defined as only being an RGB hex string.  Ref:

* [2.4.6. Colors](https://www.w3.org/TR/html53/infrastructure.html#colors)
* [4.10.5.1.14. Color state (type="color")](https://www.w3.org/TR/html53/sec-forms.html#color-state-typecolor)
* Probably a few

[2018-05-02 18:19] TheWebTech commented on #1422
@edent **You understand perfectly correctly.**

Your mentioning of the other formats raises a very good point.
They are all equally valuable but I don't think boolean would fit the situation well now that I recognize all the other possible options that make sense.

Your examples actually make me think we need something more like
`<input type="color" colorformat="rgba">`

and the valid colorformat

[2018-05-02 19:03] jayh99 opened #1423 "tbody max-height support"
The tbody element really should support max-height.  This would allow you to create a table with a thead that is always visible as you scroll the tbody.

[code]

[2018-05-02 21:10] prlbr commented on #1422
The CSS color module level 4 (working draft) defines a hexadecimal notation for RGBA values:
https://www.w3.org/TR/css-color-4/#hex-notation
And there’s already support by major browser engines for it:
https://caniuse.com/#feat=css-rrggbbaa
This is not the same as `<input type='color'>`, but it shows a precedent as well as interest in extending the RGB hex notation to RGBA in the web world. I thin

[2018-05-02 21:34] TheWebTech commented on #1422
@prlbr just to clarify, my note above where I specified "hexa" as a color format value, I was referring to the notation you are talking about. Sorry, didn't know if there was a common term for it yet.

Regarding necessitating a different color picker. There are times where a developer would want to allow a user to pick a color but not allow transparency. This would not necessarily require a fully

[2018-05-04 11:35] chaals commented on #1423
Yes it should, that was part of the original purpose of having it as I understand (ping @draggett who was working on it in the 90s when the discussions took place).

As far as I can tell, this is a CSS implementation request - nothing in the HTML specification even suggests that this should not be supported. In which case I think the right path is to close this issue, and open (or more likely comm

[2018-05-04 11:37] chaals commented on #1417
This feels a bit like the `placeholder` attribute (which has its downsides...)

It might be a good candidate to prototype with a customised built-in element.

[2018-05-04 11:52] chaals opened #1424 "Mark ruby with rb rb* rt rt* at risk?"
The markup pattern of using multiple `rb` elements with corresponding `rt` following them, to be allocated automatically - e.g.
[code]
 does not seem to have a lot of implementation, with the only one I found being in Firefox, which will put "yi" above the first character, "er" above the second, etc. as specified.

In other browsers I tried (Edge, Opera, Safari), the string "ersan" will **follow**

[2018-05-04 11:59] chaals commented on #1340
The implementation probably isn't that complex, it's just a case of adding "unknown" in various parts of the interface, allowing a decade selector (for picking the year of my birth, I would be grateful if every date picker asking for included such a feature as a shortcut to get through the list), adding "x" to the numbers in validation code...

Is there implementation experience? If this is used i

[2018-05-09 17:32] devarshipant opened #1425 "Can aria-label render as title attribute (tooltip)?"
Something like:

`<input type="text" aria-label="search" set-title="yes">
`

When aria-label is meaningful and benefits sighted keyboard only users, the value of aria-label can be made to appear as the tooltip using the set-title attribute (new).

[2018-05-09 17:52] stuartjnelson opened #1426 "1.9 A quick introduction to HTML - Updating HTML examples."
## Basic HTML example
[code]
I think it would be good to make a few little changes to this so the example is more explicit and valid. I think updating;

1. Moving the link so that it's not nested inside the paragraph.
2. Making the text inside HTML elements/attributes describe what they are.

[code]

## Nesting example
[code]

I think nesting is much clearer for beginners when it's shown indented

[2018-05-09 19:39] prlbr commented on #1425
Is there an advantage compared to setting both the `aria-label` and `title` to the same value as in

[code]

[2018-05-09 20:20] devarshipant commented on #1425
In your example, screen reader (at least JAWS) will speak the aria-label and ignore title as they are same. I don't think that combination (same aria-label and title) is frequently used.

Other use case could be:

`<input type="text" aria-label="product search" title="item 1">`

Where the screen reader output would be **"product search, item 1."**

Which I think could be rewritten as:

`<input typ

[2018-05-09 21:44] LJWatson commented on #1426
Thanks @stuartjnelson, appreciate the suggestions.

The only thing I'm not sure about, is moving the link outside of the paragraph (in your first example). Is it worth including two ```<p>``` elements in the example?
[code]

In any case, if you'd like to submit a PR with your suggested changes, you'd be very welcome!

[2018-05-11 00:42] scottaohara opened #1428 "update content models for table elements"
The allowed content models for `caption`, `td`, and `th` should have a note that `main` is an invalid exception to the otherwise allowed flow content elements.

[2018-05-11 04:06] OwenEdwards opened #1429 "Need clarification on <audio> element support for <track> elements"
[EDITED to improve clarity] In https://w3c.github.io/html/semantics-embedded-content.html#the-audio-element, the Content model explicitly allows `<track>` elements.

Almost immediately afterward, there is a NOTE:

Later, in https://w3c.github.io/html/semantics-embedded-content.html#the-media-elements, there is a NOTE:

Putting this together, `<track>`s with `kind="subtitles"`, `kind="captions"` an

[2018-05-11 04:13] OwenEdwards opened #1430 "Standard recommends using <video> element for audio to allow accessibility, but does not mention how this impacts/is impacted by format support between the two media elements in a UA"
In https://w3c.github.io/html/semantics-embedded-content.html#the-audio-element, there is a NOTE:

Later, in https://w3c.github.io/html/semantics-embedded-content.html#the-media-elements, there is a NOTE:

But there is no explicit requirement that a UA supports the same mux and codec formats in a `<video>` tag as it does in an `<audio>` tag. Therefore this method of making an audio track accessibl

[2018-05-11 04:23] OwenEdwards opened #1431 "Why is there no alt attribute associated with the poster attribute on a video element (or, what's the accessible name calculation on a video element)?"
The `<video>` element provides support for a `poster` image which acts as a visual placeholder for the video when it is not playing. The image conveys information about what video will play for a sighted user, but unlike other images (e.g. `<img>`, `<svg>`) there is no explicit mechanism to provide a textual alternative for non-sighted users. This is separate from the accessibility/alternative for

[2018-05-11 17:05] scottaohara commented on #1431
Hi @OwenEdwards,

Thanks for bringing this up.

Per alternative text for the `poster`, and why it isn't part of the spec, there was a pretty lengthy discussion about this opened  by @stevefaulkner [back in 2010](https://www.w3.org/html/wg/tracker/issues/142) referencing an issue opened by [everett zufelt](http://www.w3.org/Bugs/Public/show_bug.cgi?id=10642).

Per one of the arguments in the linked

[2018-05-11 17:44] johnfoliot commented on #1431
History: https://lists.w3.org/Archives/Public/public-html/2011Mar/0690.html

FWIW, I raised a Formal Objection (
https://lists.w3.org/Archives/Public/public-html/2011Mar/0697.html) on this
issue, which was never satisfactorily addressed (the FO was withdrawn to
facilitate the publishing of HTML 5.0, and the topic was never re-surfaced).

The image given by the poster attribute, the poster frame, i

[2018-05-11 17:52] scottaohara commented on #1431
@johnfoliot thank you for your comments / the clarifications on history, will update my comment to correct.

[2018-05-12 20:03] stuartjnelson commented on #1426
@LJWatson thanks for the feedback!

TLDR: Is it valid with HMLT 5.2 to have this anchor as a child of the paragraph?

I'll be honest I'm a little confused with HTML 5.2 what can and cannot be a child of a paragraph element. [MDN says anchors sometimes can be](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Phrasing_content) but only if it contains only phrasing content.

[2018-05-12 22:25] scottaohara commented on #1426
yes, @stuartjnelson `a` elements are allowed children of paragraphs. It's one of their primary use cases.

Under HTML5, the `a` element has a [transparent content model](http://w3c.github.io/html/dom.html#transparent).
TLDR; For example, this means that while an `a` can wrap a `div`, it can not do so while also being the child of a `p`, because `div`s are invalid children of `p` elements.

For ins

[2018-05-13 11:06] r12a commented on #1424
Please don't dismantle this! This 'tabular' approach has significant benefits over the currently supported 'interleaved' approach, and is needed to fully meet the needs of the Japanese community. This includes use cases such as the following:

1. the ability to inline annotations as 漢字 as 漢字(かんじ) rather than 漢(かん)字(じ)
2. the ability to correctly style 'jukugo' ruby
3. the ability to search for tex

[2018-05-13 11:52] fantasai commented on #1424
+1 to @r12a’s comment. (Although #3 should be handled by more intelligent searching in consideration of ruby markup, since it's a problem when searching for phrases regardless.)

Also wrt background, this post--which was the impetus for changes to the HTML and CSS specs that resulted in the tabular model--explains the problems with the original HTML5 model and how we got to the model we have now s

[2018-05-13 14:14] frivoal commented on #1424
As ruby lies somewhere at the intersection of i18n and a11y, it may not be the sexiest feature but it very much deserves support and continued work. Firefox has been doing better than most, but it needs to continue and other needs to catch up. For the reasons outlined by @r12a, his article, and @fantasai's, this particular kind of markup is needed if we want to be able to get both semantics and st

[2018-05-13 17:43] stuartjnelson commented on #1426
Hi @scottaohara. Thanks for clearing that up!! I did find it super weird that the linter was saying it was invalid... The linter was freaking out about articles I was pulling from Medium. I think I need to review my linting setup.

[2018-05-14 05:37] OwenEdwards commented on #1431
Thanks for the link to the history, @scottaohara. However, separate from the point which @johnfoliot makes, even if the poster is **exactly** a specific frame from the video, **and** the video is made fully WCAG 2.0 Level AA accessible with captions, audio description, and an accessible player, the poster image contains information _specifically intended to be available to a user before they play

[2018-05-14 09:04] stevefaulkner commented on #1431
@OwenEdwards while I agree that it would be useful, browser vendors did not support this feature, without support from browser vendors to implement, there is no use in defining it in HTML.

[2018-05-14 13:47] johnfoliot commented on #1431
@stevefaulkner Sorry mate, I reject that answer.

There is plenty out there today that is not supported by the browsers that
is still fully spec'ed out (I suggest you go look at how many @autocomplete
attributes are supported in browsers today for example), and I for one
personally think it's criminal that WHAT WG and the browser vendors,
through lack of imagination or understanding, continue to g

[2018-05-14 23:01] scottaohara commented on #1425
@devarshipant while I agree it's an issue when a UI does not consider all users with visibly identified form controls, I'm wondering what would be the benefit of using this new attribute coupled with `aria-label` over just using the `title` attribute alone to supply the accessible name of the form control? (outside of the fact that not all browsers reveal `title` on focus...but that wouldn't neces

[2018-05-15 12:29] devarshipant commented on #1425
The purpose is to expose `aria-label `in addition to the `title` attribute as part of tooltip. Often, information given to screen reader users via aria-label is meaningful enough to benefit sighted users, but unavailable to sighted users.

The `set-title` signals the browser or the underlying API to display aria-label as tooltip.

I meant `set-title` to be a global hook to display the accessible n

[2018-05-15 14:59] scottaohara commented on #734
Testing again almost a year later, the only changes are:

Windows 10 + IE11
Label announced as accessible name with JAWS2018, but not NVDA 2018.1. Still can't click to activate.

Windows 10 + Chrome 66
Label announced as accessible name with JAWS2018, but not NVDA 2018.1. Still can't click to activate.

[2018-05-15 18:25] carmacleod opened #1439 "Should the default role of fieldset be group?"
The [fieldset element spec](http://w3c.github.io/html/sec-forms.html#the-fieldset-element) says:

Should it instead say:

[2018-05-15 19:32] scottaohara commented on #1439
Thanks @carmacleod.

[2018-05-15 19:52] prlbr commented on #1439
It doesn’t have a default ARIA role according to http://w3c.github.io/html-aria/#fieldset or https://w3c.github.io/html-aam/#el-fieldset either. Is this something that was missed or is there a good reason for this? Which document is actually normative for defining the implied role and – in case it’s not the main HTML spec – should the discussion be moved there?

[2018-05-15 20:58] scottaohara commented on #1439
@prlbr [HTML AAM](https://github.com/w3c/html-aam) is the spec to refer to for this. I had taken a quick look before and saw the mention of group for the `fieldset` there, but failed to notice in my multitasking there was no corresponding WAI ARIA.

I'll look into this some more, but it probably wouldn't hurt to ask directly there.

[2018-05-16 02:07] friday opened #1440 "HTML5 media play/pause triggered while seeking playing media"
While media is playing, seeking with the browser media controls triggers the events `pause`, then `seeking`, and once complete `seeked`, then `play` again (and likely other events that I didn't listen to).

I have verified this behavior in Firefox and Crome. The `pause` and `play` events being triggered here doesn't seem to be documented, unless it's implied by something else? Should it be documen

[2018-05-16 16:50] thepian commented on #1292
Would multiple title tags with lang attributes not solve the need? I think allowing a page to have alternate titles by language would be quite helpful. Is it about pronunciation of different parts of the title?

[2018-05-16 17:13] aphillips commented on #1292
Having multiple titles in different languages would maybe be useful for multiple language documents, but it doesn't solve the problem of substrings in another language (where the TTS engine needs to change dictionaries or voices, for example, or where the font selection and fallback needs to change).

[2018-05-16 18:47] carmacleod commented on #1439
My bad - this was already asked in [fieldset default role should be group #95](https://github.com/w3c/html-aria/issues/95) and closed as "fieldset has no corresponding ARIA role in HTML AAM".

Looking a bit deeper, and if I understand the following ARIA Role Parity issue correctly: [ROLE PARITY: Determine which of these mapped elements require a specific role, versus a generic role #697](https://g

[2018-05-16 19:08] scottaohara commented on #1439
Thank you @carmacleod

[2018-05-16 22:07] scottaohara opened #1441 "Forms Intro: labeling methods"
Presently the forms intro states:

While this is true and is sufficient for use in the forms introduction, it should be noted that this is not the only way to label a form control.

[2018-05-17 07:08] #1380 closed, assigned to scottaohara

[2018-05-17 13:08] scottaohara opened #1443 "Update HTML Intro: Cases where the default styles are likely to lead to confusion"
The HTML introduction under "Cases where the default styles are likely to lead to confusion", the prose outline how the nesting of elements rendered as [block boxes](https://drafts.csswg.org/css2/visuren.html#x9) and [inline boxes](https://drafts.csswg.org/css2/visuren.html#inline-box) can be confusing, and disallowed in these situations.

I would like to expand on this to provide a short note abo

[2018-05-17 14:00] scottaohara commented on #1295
Hi @devarshipant,

While I think the idea of a `label` providing the accessible name for an ARIA widget has merit, [Steve's comment about implementation](https://github.com/w3c/aria/issues/707#issuecomment-371825420) indicates that this is an issue that should be (re)proposed with browsers for implementation interest.

That said, I do have questions about expectations for this request beyond provi

[2018-05-17 14:00] #1295 closed, assigned to nobody

[2018-05-18 12:38] #1428 closed, assigned to scottaohara

[2018-05-18 21:09] slemini2033 opened #1445 "no description enctype attribute of form element"
no description of the attribute **enctype** of form element what is and how works is:
"application/x-www-form-urlencoded"
"multipart/form-data"
"text/plain"

[2018-05-18 21:23] slemini2033 commented on #1397
@scottaohara are you sure it's not a mistake about main element?

so main element could be child of any tag

[2018-05-18 22:19] scottaohara commented on #1397
No, it cannot be a child of any tag.

But, per this specific issue, that doesn’t mean that the reverse is untrue. E.g. if the primary content of a document is an address
<code>&lt;main>&lt;address>...&lt;/address>&lt;/main></code>would be appropriate.

[2018-05-19 00:24] trusktr commented on #602
I'm a developer. Let me decide how I want my app to be used. You can make yours fully accessible and I can make mine completely inaccessible, but that doesn't matter, we should all have a choice. Safari's move is crippling to freedom.

[2018-05-19 02:36] scottaohara commented on #1193
Reading through the proposed style guide again, and wondering if there was anything else we wanted to sort out here?  Otherwise, I'm thinking it might be nice to get this added.

[2018-05-19 09:15] tagawa commented on #602
I'm a user. Let me decide how I want to use an app.

[2018-05-19 09:58] alastc commented on #602
The user’s ability to manipulate the interface provided has long been a tenant of the web.

Overall, I suspect there are far more sites that use max-scale=1 without needing to, compared to the sites which have a valid case.

I’m curious about whether using a meta viewport setting is the best method to over-ride pinch-zoom for the valid cases like games and full-screen maps. If you are doing that t

[2018-05-19 11:10] scottaohara commented on #1439
reopening issue per change to [fieldset in html aam](https://github.com/w3c/html-aam/commit/e0104f78197b6a0216d4651bfc24cc41dfec1907).

Thank you again for getting this started @carmacleod

[2018-05-19 12:57] marvindanig commented on #602
@alastc we're missing the point here. It is an "accessibilty guideline" and not *a law*. Guidelines should be treated as such because otherwise it'd be something more draconian.

If sites are misusing the clause without needing to and are downright inaccessible then those sites will wither away and die themselves.

Why should a vendor extend life-support of such badly made sites and ruin the exper

[2018-05-19 13:16] marvindanig commented on #602
@tagwaa if you are a user of maps you don't want pinchzoom to scale up surrounding text. You want to zoom into the map instead for greater detail. And that's exactly the argument @trusktr made with his comments. And I agree with him.

[2018-05-19 13:21] chaals commented on #602
Vendors extend life-support of poor design because they don't generally provide a lot of per-site workaround capacity. So things that would be useful and helpful are removed from the web because they are overwhelmingly causing problems instead of helping.

(And arguments run for years and consume massive amounts of real resources, because people disagree about whether the benefit outweighs the cos

[2018-05-19 13:27] chaals commented on #602
As @alastc notes, accessibility has generally been considered a fundamental part of a working web - and things that let developers break it "capriciously" are generally considered to break the platform. (Not always, there are sadly many counter-examples).

So the argument that there are applications where the ability to zoom should be controlled by developers differently in order to provide someth

[2018-05-19 13:32] alastc commented on #602
That seems to be the key point:

If you are creating a web-app that takes over pinch-zoom gestures then the meta-viewport setting is redundant. However, it is easy to use capriciously, because the HIPPO says so (Highest paid person’s opinion).

I suspect this will be decided by the mobile browser vendors, and if they follow apple then this is a moot point.

[2018-05-19 14:50] karlgroves commented on #602
The app is your business. The hardware is the user's business. Messing with the user's hardware is hostile to users and should be strongly discouraged, hence the proposal by @stevefaulkner

[2018-05-19 16:54] aardrian commented on #602
@marvindanig:

WCAG is incorporated into many laws by reference. In the U.S., Canada, European Union, etc. While law / WCAG is not what this thread is about, I can't let that assertion go unaddressed.

[2018-05-19 19:01] patrickhlauke commented on #602
the spec reflects reality. reality is that Safari ignores any attempts at blocking resizing via `meta` outright, and most other browsers provide user settings to ignore it as well.

if you don't like what Safari does, take it up with apple, not the spec.

[2018-05-19 20:30] marvindanig commented on #602
Awesome @chaals, so let me throw in some obvious features and reasoning behind this:

**1. Let's take the case of iPads first.**

I know everything gets lumped together into one big category -- the "mobile web" -- but here we're on a nice, large and clear piece of glass with iOS Safari. Do we need _pinch_to_zoom_ to bring up text any closer (appear bigger) than it already is on the iPad? Nope, not

[2018-05-19 20:38] marvindanig commented on #602
@aardrian Great point!

All the more important for WCAG/web committees to not recommend accessibility guidelines that can be misused as laws by big-rigs as their corporate strategy!

Some weekend dystopia fun: With Governments morphing into authoritarian regimes, it is important we be careful about choosing guidelines correctly with our future in mind, not just our current reality.

@patrickhlauke

[2018-05-19 20:48] alastc commented on #602
We seem to be heading off piste pretty quickly here, I'll try and keep this concise:

- There has been an accessibility guideline since 2008 (WCAG 2.0) that says the user should be able to increase the text-size by at least 200%.
- Most mobile devices enable that with pinch-zoom, either by default or with a setting.
- The cases brought up about specific devices are not particularly relevant, if so

[2018-05-19 21:20] marvindanig commented on #602
Good observation @alastc but unfortunately your conclusions are incorrect.

1. Bubblin uses hacks to disable pinchzoom. I'd want to *not* use those hacks. The container it uses doesn't restrict text scaling or the number of copies that you could make for the same book using different text sizes, layout or typography.

2. Ideally, for my books I'd want to disable pinchzoom only on iPads but not on

[2018-05-19 21:35] alastc commented on #602
[WCAG 2.1](https://www.w3.org/TR/WCAG21/) should be published as a recommendation in June 2018, and still includes that requirement because it is a valid & useful requirement for users (it adds other requirements as well).

User requirements are more important than developer requirements (as per [WHATWG / W3C priories](https://www.w3.org/TR/html-design-principles/#priority-of-constituencies)), and

[2018-05-19 21:44] marvindanig commented on #602
Sure, I was talking about real user requirements (average people not developers) with a clear scenario of (i) tablets where pinchzoom is likely if not completely unnecessary and (ii) the issue of scrolls on mobile that grow too long to remain tolerable or even accessible due to reflow. Both points that you clearly did not address. I'm sure that this issue will be revisited again sometime in future

[2018-05-20 00:29] patrickhlauke commented on #602
@marvindanig "Do we need pinch_to_zoom to bring up text any closer (appear bigger) than it already is on the iPad? Nope, not really." well, clearly that's just your opinion, and a fairly broad-strokes generalisation at that. just because YOU don't think something's a problem, ever, doesn't mean that that's in fact the case. But yes, it's pointless arguing this point here anyway :)

[2018-05-20 01:25] ghost commented on #1445
Ww

[2018-05-20 14:51] LJWatson commented on #602
Would also note the [Priority of constituencies](https://www.w3.org/TR/html-design-principles/#priority-of-constituencies) from the [HTML5 Design principles](https://www.w3.org/TR/html-design-principles/):
<"In case of conflict, consider users over authors over implementors over specifiers over theoretical purity. In other words costs or difficulties to the
user should be given more weight than co

[2018-05-20 15:14] chaals commented on #602
This was a concrete practical issue, which was worth examining, and is potentially worth re-examining. But the discussion is getting a lot more heat than light. I'm tempted to close it down for a day or two, but won't yet because I hope people can focus on the issue.

[2018-05-20 15:31] stevefaulkner commented on #602
@chaals this proposal resulted in a SHOULD NOT author conformance requirement that has been in [the spec](https://www.w3.org/TR/html/document-metadata.html#the-meta-element) since 2016 https://github.com/arronei/html/commit/877b59cce9d4fa5b7ecb590334fe9fad95b7bd75 It is an author conformance requirement only, that does not forbid the use but does ask authors to consider seriously the curtailment o

[2018-05-20 15:33] chaals commented on #602
@marvindanig, taking my chair hat off and as an individual, I'd like to address a couple of points:

Some people may well be happy with the iPad's physical size, instead of disabling zoom. People with "less than normal" visual acuity deal with it in a variety of ways. So sometimes, I am fine with normal sizes because I don't care about the detailed view - for example a map where I want a rough ori

[2018-05-20 17:41] chaals commented on #1431
@stevefaulkner is right that without implementation this is unlikely to get into a Recommendation. @johnfoliot is **IMHO** right that this is not a good enough reason to skip discussing it, and potentially specifying how it might work, even if implementation relies on e.g. browser extensions to work.

I would prefer it **not** be done through ARIA, since that seems to be clearly directed at "peopl

[2018-05-20 17:53] chaals commented on #1424
I agree that we should support ruby, and don't want to "blindly (or even watching carefully) rip stuff out" that is helpful and valuable. Putting it "at risk" was merely noting that browser implementation of the feature is somewhat lacking in reality, and that we should consider that explicitly in line with the way we produce the spec rather than simply continue with what it written as if it were

[2018-05-20 21:24] slemini2033 opened #1447 "No description of the attribute method"
No description of the attribute **method** of form element what is and how works is:
GET
POST
And when should use GET and when POST and difference between them.

[2018-05-20 21:52] scottaohara commented on #1447
Hi @slemini2033

Here's the section on [method and formmethod](http://w3c.github.io/html/sec-forms.html#element-attrdef-form-method) and information/examples about the values `get`, `post` and `dialog` are outlined there.

Is there something beyond the information provided in this section that you were wondering about, or feel could be expanded on?

Thanks

[2018-05-20 21:56] scottaohara commented on #1426
closed via #1436

[2018-05-20 21:56] #1426 closed, assigned to nobody

[2018-05-21 02:32] OwenEdwards commented on #1431
Now I've had more time to review a lot of the previous discussion, I can see some of where this got blocked.

It looks like the browser folks just considered the "poster" image to be the same as any frame which is displayed when the video is paused, but with a feature to essentially show a frame other than the very first one if that first one isn't visually informative. Perhaps that could even be

[2018-05-21 06:57] slemini2033 commented on #1447
@scottaohara hi. yes, but what is **GET** and **POST** state there is not describe. There should be at least a minimal descriptionat about HTTP GET and POST method: GET for getting document and POST for sending data. And how it works together with **enctype** attrubite it should be described too.

[2018-05-21 08:04] brothersprod commented on #1447
(#1447)

[2018-05-22 12:35] plehegar commented on #1424
Given the lack of proper implementations, I don't see how we cannot put this at risk. HTML has been shipping for years without this support as far as I understand. Yes, it's very unfortunate that implementations aren't moving forward but blocking on this doesn't seem practical.

[2018-05-22 12:58] LJWatson commented on #1424
If we could provide evidence of wide adoption/useage on the web, or point to browser issues where intent to implement is shown and/or there is active discussion of the issues, that might help, but in the absence of interop it's a hard case to make I'm afraid.

[2018-05-22 23:09] fantasai commented on #1424
Getting it correctly parsed is a prerequisite for rendering it correctly. Removing that parsing support will create compatibility problems in the future if we do intend to move towards the tabular model (which I think we do). It's a good thing that widespread parsing support is preceding rendering support--it means that the parsing will happen correctly, and authors can use alternative methods to

[2018-05-23 10:27] #821 closed, assigned to patricia-gallardo

[2018-05-23 10:29] patricia-gallardo commented on #821
@travisleithead postponed intake last year waiting on other UAs - however Chrome seems also to have dropped this as of March 2018 : https://www.chromestatus.com/features/5682681044008960

"Add support for LINK rel=serviceworker as an element and header to allow the installation of Service Worker declarative in a document or via a header.
 Update (2018-03-26): This was removed from the specificatio

[2018-05-23 10:55] r12a commented on #1424
Can we become more specific about what we're planning to mark as at risk?  Which parts of the text exactly are in danger of being removed?

I doubt that anyone is expecting to change the HTML parser, but actually that's what the HTML spec was intended to describe (positioning relies on CSS). The parser works interoperably.  The only thing that's currently not working is that some of the annotation

[2018-05-23 11:02] #1441 closed, assigned to scottaohara

[2018-05-23 11:05] #1330 closed, assigned to patricia-gallardo

[2018-05-23 12:33] chaals commented on #1424
When I filed this issue, it was based on the observation that "this doesn't seem to work interoperably as expected in browsers". Which meant it seemed prudent to **consider** whether it should be changed or removed.

I don't think that **changing** this is easy or sensible, for the reasons various people have pointed out. Removing it without careful analysis also seems a bad idea, as people have p

[2018-05-23 12:37] frivoal commented on #1424
If we're looking for non browser implementations, I suspect antenna house formatter does it. @MurakamiShinyu can you confirm?

[2018-05-23 18:01] #1439 closed, assigned to scottaohara

[2018-05-24 03:41] JohnLukeBentley opened #1450 "capture attribute's "environment" value typo."
At https://www.w3.org/TR/html53/sec-forms.html#the-capture-attribute

It reads

"envorinment" should be "environment".

[2018-05-24 06:45] #1450 closed, assigned to nobody

[2018-05-24 08:47] JohnLukeBentley commented on #1450
Thanks for the fix!

[2018-05-24 13:33] chaals opened #1452 "bad links from data element"
There are meant to be references to the microdata and microformats specs, but the code is wrong so they don't make links.

[2018-05-24 19:14] marvindanig commented on #602
Thanks @stevefaulkner, that's an important bit.

The spec appears to be correct about SHOULD NOT author conformance requirement  but does it emphasize that enough? 'Cuz Apple seems to be pushing a way more draconian interpretation of those lines -- a near "MUST NOT conformance requirement" instead.

Of course it helps their cause of "great performant apps" in appstore as well.

On my project (bubb

[2018-05-25 09:28] chaals commented on #1440
That behaviour makes sense, but isn't documented somewhere obvious enough for me to find it.

I wonder if there are alternatives - e.g. might a player continue playing while it is seeking, and then just jump to the new time when the `seeked` event fires?

[2018-05-25 12:24] friday commented on #1440
Pausing does make a better seeking user experience here, but I was surprised to see that the actual events were triggered (and the paused property change).

As I read the spec, if `paused` is false, that means it's "potentially playing": It's supposed to play but is temporarily hindered because of not having future data or being "blocked" by the media controller. I think pausing while seeking fits

[2018-05-27 02:43] Nick-Levinson opened #1455 "br should be acceptable as ul child"
A list is normally vertical. But if a list item is short enough, the next list item appears on the same line with the short item. This misleads visitors trying to read or skim the list.

To prevent this, after asking around, I found that the solution is to add a br element after the li end tag of the short item (and I add it to after every li end tag). If it's before the end tag, it does not work,

[2018-05-27 07:22] kojiishi commented on #1424
Blink is trying to switch its layout engine to a new one, and once the switch is done, we plan to have a new Ruby implantation on top of it. Also, as Florian said, there should be non-browser implantations.

Having a layout warning in HTML spec sounds like a bit strange to me. Maybe better to point the relevant CSS spec, and say it's not REC yet, is more reasonable?

[2018-05-27 09:22] prlbr commented on #1455
This is not the standard behaviour in browser that I know. For example, here’s a list without `<br>` and each item on a new line:

1. one
2. two
3. three

It sounds as if you’ve used the CSS `float` property with unintended consequences and/or maybe `display`.

[2018-05-27 11:37] chaals commented on #1424
@kojiishi wrote:

Yes, absolutely. The reason for talking about the layour is that the **semantics** of ruby are **really** weak, and most of what it means is related to layout. The "high-order bit" of what I have written is that the spec should be clear about what works and what doesn't. And with the particular `rb rb* rt rt*` structure, currently other than firefox things generally come out real

[2018-05-27 14:02] scottaohara commented on #1455
@Nick-Levinson, I agree with @prlbr.  List items are block level elements and their default layout behavior shouldn't require the need for a `br` element.

Without more information, I can only assume your `li`s have been modified by CSS to behave as you've described.

I'm going to leave this issue open to allow you to provide additional information about your issue, but if it truly is caused by yo

[2018-05-28 04:42] kojiishi commented on #1424
We built [a JavaScript prototype](https://github.com/shans/line-layout/tree/master/segment-measure-flow-adjust) for the design review of the [new layout engine](https://docs.google.com/document/d/1uxbDh4uONFQOiGuiumlJBLGgO4KDWB8ZEkp7Rd47fw4/edit), but we're still in the middle of switching, no native code for Ruby yet.

I hope you agree that we don't want to update HTML when CSS status changes. Wr

[2018-05-28 10:35] MurakamiShinyu commented on #1424
AH Formatter (I tested the latest V6.5MR5) renders correctly with the ruby test [ruby-position-004.html](https://w3c.github.io/i18n-tests/html/semantics/text-level-semantics/the-ruby-element/ruby-position-004.html) which does not omit rb and rt end tags.
However it has problem with the test [ruby-position-005.html](https://w3c.github.io/i18n-tests/html/semantics/text-level-semantics/the-ruby-eleme

[2018-05-28 11:59] #1387 closed, assigned to scottaohara

[2018-05-28 12:40] #1452 closed, assigned to chaals

[2018-05-28 12:41] scottaohara commented on #1214
Going to close this and re-open smaller PRs when ready.

[2018-05-28 12:41] #1214 closed, assigned to scottaohara

[2018-05-28 16:33] Malvoz commented on #1431
Currently the `poster` attribute will either force big downloads on smaller devices, or with respect of limited data plans - poor quality images on larger screens.

<s>Was there ever considerations making poster an element?</s> [There was](https://www.w3.org/Bugs/Public/show_bug.cgi?id=10642#c0).

A `<poster>` element would allow for:
- [responsive video posters](https://github.com/ResponsiveImage

[2018-05-28 17:10] Malvoz commented on #1392
Remove `serviceworker` from that list? (see https://github.com/w3c/html/issues/821).

Add [`manifest`](https://www.w3.org/TR/appmanifest/#using-a-link-element-to-link-to-a-manifest).

[2018-05-28 21:13] chaals commented on #1424
@kojiishi:

The test you have there doesn't cover the tests [ruby-position-004.html](https://w3c.github.io/i18n-tests/html/semantics/text-level-semantics/the-ruby-element/ruby-position-004.html) [ruby-position-005.html](https://w3c.github.io/i18n-tests/html/semantics/text-level-semantics/the-ruby-element/ruby-position-005.html) of this feature.

My very quick reading of that javascript is that it

[2018-05-29 03:09] kojiishi commented on #1424
Quite possible, it was for a design review, might not include something that we know we can do.

I agree it's unlikely to happen in one year for the browser engines, and an informative layout warning pointing to the relevant CSS spec sounds reasonable. I hope you understand i18n features tend to require longer cycles, and I hope the spec text won't make the intent to implement controversial when i

[2018-05-29 05:12] fantasai commented on #1424
The semantics of ruby is that there are parallel texts, one which is the the base text and the others the annotations. In most cases the parallel texts are alternates for the base text, but in some cases they are additional information associated to the base text. In any case, I don't see that Ruby semantically any weaker than Tables.

HTML is about semantics, not about layout. While the typical l

[2018-05-29 08:11] LJWatson opened #1456 "Privacy concern with ping attribute"
Originally filed by [email from Nick Doty](https://lists.w3.org/Archives/Public/public-html/2018May/0027.html), in response to a wide review request to the Privacy IG.

it seems to have gone ahead on this draft, based on increased implementation experience.

real implementations."

[2018-05-29 08:25] LJWatson opened #1457 "Privacy concern with capture attribute"
Originally filed by [email from Nick Doty](https://lists.w3.org/Archives/Public/public-html/2018May/0027.html), in response to a wide review request to the Privacy IG.

There are some nice privacy advantages to using this model of user-directed input for camera access and it's nice to see that reflected in the HTML spec.

The capture attribute is defined in the [html-media-capture](https://www.w3.

[2018-05-29 08:29] LJWatson opened #1458 "More granularity for `allowusermedia`?"
Originally filed by [email from Nick Doty](https://lists.w3.org/Archives/Public/public-html/2018May/0027.html), in response to a wide review request to the Privacy IG.

`allowusermedia` provides a way for a site to explicitly provide permission for an embedded frame to use the getUserMedia API. Cool.

Shivan has pointed out that this attribute could be more granular, and that ongoing work in Featu

[2018-05-29 08:32] LJWatson commented on #1285
Comment originally filed by [email from Nick Doty](https://lists.w3.org/Archives/Public/public-html/2018May/0027.html), in response to a wide review request to the Privacy IG.

<"The warning on the autofill attribute seems particularly important. Do we know whether UAs have implemented mitigations for this threat? Are there mitigations
that should be included in future versions of the spec?"<

[2018-05-29 11:23] chaals commented on #1424
This is getting off on a tangent...

By "weak semantics" I mean "this is some kind of annotation" is much weaker than "this is a transliteration" or "this is a translation" or "this is an explanatory note" - all things that can be reasonably done with ruby text. To provide strong semantics, one would use e.g. schema.org, or encode things as microformats.

On this measure, tables also have weak sem

[2018-05-29 11:34] chaals commented on #1424
I realise that HTML generally defers to CSS for layout and rendering is considered optional. The same is true for many kinds of behaviour in respect to Javascript. However, the rendering of ruby makes a difference to how it might be understood. That's a core reason for working on rendering capability in the first place.

Suggesting that a particular kind of markup will produce a particular renderi

[2018-05-29 15:06] ishendyweb opened #1460 "Is (h1, h2, h3, h4, h5, h6) content model the Phrasing content?"
This is my first to find something that I consider as a mistake in W3C specifications. Am I wrong? is there something I am missing? It clearly says that the heading elements are of the Phrasing content!

![screenshot-www w3 org-2018 05 29-17-01-16](https://user-images.githubusercontent.com/10582418/40667358-4cb18e8c-6362-11e8-9252-5d0bf2aac33a.png)

[2018-05-29 15:10] stevefaulkner commented on #1460
@ishendyweb headings are not phrasing content, what the [content model](http://w3c.github.io/html/dom.html#content-model) specifies is what a particular element can contain. In the case of headings, they can only contain [phrasing content](http://w3c.github.io/html/dom.html#phrasing-content-2)

[2018-05-29 15:11] #1460 closed, assigned to nobody

[2018-05-29 21:54] Nick-Levinson commented on #1455
Might it be useful anyway, for situations where an author would use a br element within running text if it weren't inside an li element?

If not, I'll take your consensus. A test file with only the styles assigned by the browser by default produced a vertical list within ul (you did ol) of short (single-digit) list items even without br tags in a Firefox version that's likely more recent than when

[2018-05-30 10:42] prlbr commented on #1455
The `<br>` element, [as it is defined now](https://w3c.github.io/html/textlevel-semantics.html#the-br-element), is not supposed to fix styling issues. That would be an [abuse](https://w3c.github.io/html/textlevel-semantics.html#example-1ca3dae0) of the element. The semantcis of the `<br>` element would need to be changed first before allowing it as a child of `<ul>`/`<ol>`. But I don’t think that

[2018-05-30 12:28] scottaohara commented on #1455
@Nick-Levinson since this is an issue with styling, CSS should be used again to solve the problem.

I made [a quick codepen](https://codepen.io/scottohara/pen/KROrRM) to show how using either pseudo elements or setting the `li`'s width to 100% could potentially be of use to you.

If this issue is caused by a global style having unintended consequences on other lists, then you might want to conside

[2018-05-30 12:28] #1455 closed, assigned to nobody

[2018-05-31 17:07] r12a commented on #1039
I've been reviewing the changes as part of the i18n WG review of HTML 5.3, and while we wholeheartedly support the idea of moving the Web fully to UTF-8, we have some concerns with the spec text.

As i understand it, the spec is trying to do three things:

1. advise content authors what to do – for which a statement such as 'you MUST use utf-8' is ok.
2. indicate to the browser implementers how to

[2018-06-01 08:52] edent commented on #1039
Good points both. Let me answer.

Madame Puff - Ada Lovelace's beloved cat - will forever hide dead birds in your chimney.

Which is to say, that will depend on the browser. If you use `ISO 8859-5` strange things may happen. As the document says later on:

I agree with your second question:

As we say in [Rendering](https://w3c.github.io/html/rendering.html#rendering) "User agents are not required

[2018-06-01 09:28] r12a commented on #1039
Except that that isn't true, iiuc. The parsing of the input byte stream should detect that the intended encoding is ISO 8859-5 per section 8.2.2, and the Encoding spec then defines exactly how ISO 8895-5 should be supported by a browser. So no strange things should happen for that particular legacy encoding.   It's only for encodings that aren't defined in the Encoding spec that strange things cou

[2018-06-04 12:30] #227 closed, assigned to siusin

[2018-06-04 21:47] douglasheld opened #1461 "Ambiguity in section 8.1.4 Character References"
The draft says:

This section should be reworded for clarity. Is it `any A other than ( B, C, D, E, F that are not G)` or is it `(any A other than B) ∪ C ∪ D ∪ E ∪ F that are not G` ?

I assumed the former, until I got to "...other than space characters" where U+000D Carriage Return is already classified as a space character, and I got confused.

[2018-06-05 09:11] edent commented on #1461
Thanks Douglas, that's a great question.

https://w3c.github.io/html/syntax.html#character-references

I think this would be better expressed as a list. So:

Does that make it clearer?  For example `&#12;` is allowed because it is a space character within the control characters.

Hmmm. Perhaps it might be better to explicitly list the control characters which are unacceptable?

[2018-06-05 10:23] douglasheld commented on #1461
Since there are 65 control characters, it would be better to list the allowable control characters. Among the 65 control characters with General Category=Cc in https://www.unicode.org/Public/10.0.0/ucd/UnicodeData.txt there are only five space characters as defined in the HTML spec (ref: https://w3c.github.io/html/infrastructure.html#space-characters).

If `(other than (other than X))` means `X is

[2018-06-14 14:51] devarshipant opened #1463 "Title Attribute"
[3.2.9.1 warning says](https://w3c.github.io/html/dom.html#the-title-attribute) --

"Relying on the title attribute is currently discouraged as many user agents do not expose the attribute in an accessible manner as required by this specification (e.g., requiring a pointing device such as a mouse to cause a tooltip to appear, which excludes keyboard-only users and touch-only users, such as anyone

[2018-06-16 20:52] SebastianZ commented on #1431
As it was outlined in earlier posts, the poster image contains some information. Whether that image is a frame of the video or not is irrelevant, also whether it contains useful information or not. Sighted people get that image presented, therefore visually impaired people need to be provided with an alternative. And HTML should have a way to provide that alternative.

The need for an option to pr

[2018-06-17 19:42] aphillips commented on #1424
The I18N WG [would like](https://www.w3.org/International/track/actions/727) to invite interested individuals (including @chaals, @kojiishi, @fantasai) discuss this with us in our next teleconference (21 June 2018 @ 15.00 UTC). Please contact me privately or via public-i18n-core@w3.org if you need invite/dial-in information. // I18N-ACTION-727

[2018-06-19 09:19] scottaohara opened #1464 "fix duplicate prerender"
In [4.8.6 link types](https://w3c.github.io/html/links.html#allowed-keywords-and-their-meanings) `prerender` was defined twice, but the first instance should be `preload`

[2018-06-19 09:37] chaals commented on #1292
This is recorded with our new label "[if only we could](https://github.com/w3c/html/labels/if%20only%20we%20could)" - meaning we recognise the use case as valid, but don't think we can solve it in this group. It is therefore archived (although people can continue to discuss it) and can be found and referred to in the future.

[2018-06-19 09:37] #1292 closed, assigned to nobody

[2018-06-19 09:47] scottaohara commented on #269
[firefox bugzilla - Add @inputmode to input element](https://bugzilla.mozilla.org/show_bug.cgi?id=746142)

[2018-06-19 09:48] chaals commented on #269
Reportedly has 2 implementations... needs testing...

[2018-06-19 09:50] chaals commented on #226
maintain assignment, milestone set.

[2018-06-19 10:00] chaals commented on #1456
Waiting on @cynthia, but I will also explicitly request feedback from TAG on this issue.

[2018-06-19 10:10] chaals commented on #1312
Add a short note, include mitigation strategy like disabling `autoplay`...

[2018-06-19 10:11] chaals commented on #1311
Add a short note - cover mitigations like not enabling high-fidelity audio at inaudible frequencies...

[2018-06-19 10:11] scottaohara opened #1466 "Add index of elements with privacy concerns"
The goal of this issue is to create an index of all elements that have privacy concerns and to add links to each within [1.8. Privacy concerns](https://w3c.github.io/html/introduction.html#fingerprint)

[2018-06-19 11:12] #1464 closed, assigned to scottaohara

[2018-06-19 11:58] siusin commented on #1291
I think @tianyao1111 is suggesting the browsers to provide a similar UI for `<select>` with `multiple` attr  set (i.e. `<select multiple>`) and without `multiple` attr set...

I agreed with @Dafrok that this might be out of the scope of the HTML spec.

[2018-06-19 12:03] chaals commented on #1291
If the issue is specific to `size="1"` - which is effectively the same as a non-multiple, I agree that it would be clearer to users to make it behave the same way. But for example it may bbe the case that the size is variable through the life of the page, and signalling that it is at least in principle a `multiple` select is helpful.

So I think this is outside the scope - we suggest basic renderi

[2018-06-19 12:03] #1291 closed, assigned to siusin

[2018-06-19 12:05] siusin commented on #1086
The HTML specs should be updated when [Feature Policy](https://github.com/WICG/feature-policy) is ready.

[2018-06-19 12:21] chaals commented on #1333
Closing - this should be taken up in [WICG](https://discourse.wicg.io) for incubation first

[2018-06-19 12:21] #1333 closed, assigned to nobody

[2018-06-19 12:36] chaals commented on #1156
[Discussion in the HTML meeting](https://www.w3.org/2018/06/19-html-irc#T12-35-22) (pointer to just after the discussion) decides that this is a layout issue, and `hr` is the wrong solution.

Closing

[2018-06-19 12:36] #1156 closed, assigned to chaals

[2018-06-19 12:44] chaals commented on #1075
Following discussion at HTML meeting we will run a CfC to re-examine the question of merging Web Workers. It doesn't seem that Web Workers has much linkage to HTML...

[2018-06-19 12:49] chaals commented on #975
This is covered by #1355 - closing as a duplicate

[2018-06-19 12:49] #975 closed, assigned to nobody

[2018-06-19 12:57] chaals commented on #933
I believe the microphone and audio volumes are not actually linked in HTML. In any event this should be a platform feature, and in general is implemented that way.

Unless there is something that contradicts that in HTML we will close this.

[2018-06-19 12:59] chaals commented on #910
And closed here too for the same reasons

[2018-06-19 12:59] #910 closed, assigned to nobody

[2018-06-19 13:03] chaals commented on #868
@patrickhlauke ping?

[2018-06-19 13:05] chaals commented on #375
@mdrejhon would you be able to provide a PR for this?

[2018-06-19 13:12] cynthia commented on #543
(apologies, commented on the wrong issue.)

[2018-06-19 13:12] cynthia commented on #292
@frivoal might have something to say on this.

[2018-06-19 13:35] chaals opened #1468 "CfC: Do not merge WebWorkers into HTML"
This is a CfC on the proposal

Further discussion led to the proposal to revisit the decision. The main reasons given were
1. The expectation that merging it would improve the work rate looks unlikely to be true
1. Web Workers is not really linked to HTML and is not an HTML-only feature

Please respond to this CfC by adding a thumbs up, or a comment explaining (or adding a thumbs down to a comment

[2018-06-19 13:36] chaals commented on #1090
Please note that a new CfC has been opened, on the proposal to overturn this decision: #1468

Please respond to that CfC directly.

[2018-06-19 13:38] edent commented on #1461
How does this read?

The numeric character reference forms described above are allowed to reference any Unicode code point but not:
* permanently undefined Unicode characters ([noncharacters](https://www.unicode.org/faq/private_use.html#nonchar1))
* [surrogates](https://unicode.org/glossary/#high_surrogate_code_point) (U+D800—U+DFFF)
* [control codes](https://unicode.org/glossary/#control_codes)

[2018-06-19 13:39] LJWatson commented on #1425
The `title` and `aria-label` attributes are both factors in the [accessible name and/or description computation](https://www.w3.org/TR/2018/CR-accname-1.1-20180619/). Duplicating the same value will either mean the `title` attribute is ignored as part of the accessible name computation, or bumped to being the accessible description, and in either case duplication is a bad thing.

In terms of the t

[2018-06-19 13:39] #1425 closed, assigned to LJWatson

[2018-06-19 13:47] chaals commented on #1456
`ping` attributes are at least simple to inspect. If a user wants to rely on an extension, it is far easier to make one based on that than alternative methods, so it seems better than not having it. However I think we should add text explaining this, and how users can actually make this work while noting that **currently** browser implementations don't do it.

[2018-06-19 14:10] #1443 closed, assigned to scottaohara

[2018-06-19 14:21] cynthia commented on #1422
One issue I see with this request is that not all OS color picker controls (natively provided) necessarily have support for alpha channels (e.g. Legacy Windows API, GTK come to mind) - what would be the expected behavior there? I'm not sure if it would be helpful if browser vendors have to each implement a custom color picker to work around this limitation.

[2018-06-19 15:39] blurbusters commented on #375
PR?

The Blur Busters equivalent of a Press Release is at: https://www.blurbusters.com/blur-busters-working-on-changes-to-html-5-2/

How can I help?

I'm happy to collaborate on tech docs / proposals / etc.  I've created spec documents such as [XMPP Extension XEP-0301: In-Band Real-Time Text](https://www.xmpp.org/extensions/xep-0301.html) so I have experience in specs-document writing.  You can se

[2018-06-20 02:43] awwright commented on #1468
I work on some other Web technologies that don't touch HTML, like Semantic Web and JSON Schema. Consolidation, like this case, I believe has made it more difficult to integrate together alternative Web technologies like the ones I work on.

HTML is certainly the flagship hypermedia technology, but it is not the only one with all the necessary features. And there's many reasons not to use HTML: HTM

[2018-06-20 08:20] chaals commented on #375
Sorry, Pull Request. I.e. edit a piece of the spec to make a text change...

[2018-06-20 13:26] scottaohara opened #1474 "Editorial: cleanup activeElement"
Get the `activeElement` prose inline with the prose within [WHATWG's Focus Management API](https://html.spec.whatwg.org/multipage/interaction.html#focus-management-apis).

See [WHATWG commit](https://github.com/whatwg/html/commit/4823cf596e2ce499f3be67b486ffea261cbe4b29)

[2018-06-20 13:29] #1409 closed, assigned to scottaohara

[2018-06-20 13:40] #1385 closed, assigned to scottaohara

[2018-06-20 14:06] chaals opened #1476 "deprecate style/type attribute"
Is there any real style sheet that isn't CSS? The spec, and implementation in common browsers, seem to make that assumption, so the `type` attribute for the `style` element could be made obsolete.

see also https://github.com/whatwg/html/commit/9c612ac8641b5174849a2d3cb924fe662a8d3a09

[2018-06-20 14:11] LJWatson opened #1477 "Update 7.8 Images"
The WHATWG recently [rewrote CreateImageBitmap](https://github.com/whatwg/html/commit/5b40420b83dad83e5e566de9581dc51e4e4ee6cd
) in [section 8.8 Images](https://html.spec.whatwg.org/multipage/imagebitmap-and-animations.html#images-2). We should review against [section 7.8 Images](http://w3c.github.io/html/webappapis.html#webappapis-images).

[2018-06-20 14:16] chaals opened #1478 "browsers don't implement kind=chapters well"
see also https://github.com/w3c/webvtt/issues/344

Chapters are important to navigate audio, and are reportedly implemented by many javascript media players, but not natively in browsers.

At least some players rely on browsers providing the `track.kind == chapters`.

My thinking is we should note the implementation state, and in particular point out that **native** browser media players don't do

[2018-06-20 14:32] scottaohara commented on #1463
I don't think this needs to be called out at this time, as doing so would cover keyboard focus, but it would not cover other manners in which a user might be interacting with an element (e.g. by touch, or potentially voice), nor would it take into account user agents that expose the title in a manner that is not a "tooltip", e.g. images with titles can have that content exposed when a user perform

[2018-06-20 14:32] #1463 closed, assigned to scottaohara

[2018-06-20 14:34] scottaohara opened #1480 "Editorial: Update title attribute algorithm"
Port over updates from [WHATWG commit: Align the title attribute with implementations](https://github.com/whatwg/html/commit/2102913b313078cd8eeac7e81e6a8756cbd3e773)

Test: https://github.com/web-platform-tests/wpt/pull/9306

Original WHATWG issue: [2743](https://github.com/whatwg/html/issues/2743)

[2018-06-20 14:48] scottaohara opened #1482 "Review Following Hyperlinks"
Review the differences between [WHATWG Following Hyperlinks](https://html.spec.whatwg.org/#following-hyperlinks) and [W3C Following Hyperlinks](http://w3c.github.io/html/single-page.html#follow-hyperlinks) to determine if we would like to similarly trim down the steps

[2018-06-20 14:58] chaals commented on #1222
Changing the title on this - there are various differences, in various states of matching reality. Should do a proper side-by-side review and check...

[2018-06-20 14:59] scottaohara opened #1483 "Review custom elements"
Review WHATWG's custom elements section and specifically look to incorporate content pertaining to [adding customElements.upgrade()](https://github.com/whatwg/html/commit/6df48639fb6d6189a346ea7349f13fd14ace4c99)

Additionally review [Update customized built-in elements `is=""` interaction](https://github.com/whatwg/html/commit/e5dc6bf18f356225d90decc47ac6ed3be94728a7)

[2018-06-20 15:07] scottaohara commented on #300
for review: [Fix 'scroll an element into view' invocations ](https://github.com/whatwg/html/commit/c50e5286c189571e1c7b938110d3ba5515b0ee13)

[2018-06-20 15:37] scottaohara opened #1484 "Review document.body setter behavior"
See [WHATWG issue 3403](https://github.com/whatwg/html/issues/3403) and [PR 3449](https://github.com/whatwg/html/pull/3449) ([with tests](https://github.com/web-platform-tests/wpt/pull/9231)) pointing out different behavior between document.body setter and getter.

[2018-06-20 16:17] #1392 closed, assigned to scottaohara

[2018-06-20 16:43] #1457 closed, assigned to LJWatson

[2018-06-20 22:41] npdoty commented on #1456
I couldn't totally parse [the TAG minutes](https://github.com/w3ctag/meetings/blob/gh-pages/2018/telcons/06-19-minutes.md), though I see this was briefly discussed. Did they have specific input? Are they planning to discuss it again at an upcoming meeting?

It *might* be easier for an extension developer if the `ping` attribute is used, although it might be that extensions that want to provide thi

[2018-06-21 02:46] awwright commented on #1476
There's several languages that are intended to be a replacement for CSS:

* https://sass-lang.com/
* http://lesscss.org/

They typically offer a mechanism to compile into CSS to they can be debugged within a web browser. These cases don't always use the `type` attribute as intended, but this is to work around limitations in Web browsers, and should be considered a failure of tooling available with

[2018-06-21 08:43] StommePoes commented on #1389
You mean, people fill in inputs and then those inputs become hidden? I'm trying to think of when a user could or would inspect a hidden element.

I would think having autocomplete gone (or invalid/not working) on hidden elements makes sense for security reasons, and I thought this was why.

[2018-06-21 08:44] cynthia commented on #535
I checked this again, the interop isn't quite there. @patrickhlauke could you comment if this is blocking anything on your side? (And whether or not this will happen at some point?)

[2018-06-21 09:11] frivoal commented on #292
This subtle difference is not helpful, and I strongly believe that they should be focusable **and** tabbable.

Effectively, the work-in-progress [spatial navigation spec](https://wicg.github.io/spatial-navigation/) needs this to work properly. We could change it to make it clear that this must be focusable via spatial navigation even if they're not reachable by tab navigation, but that seems reall

[2018-06-21 09:28] StommePoes commented on #1340
It appears this differs per country. Some countries, such as the Netherlands, cannot process 00 or xx.
https://www.binnenlandsbestuur.nl/bestuur-en-organisatie/nieuws/niet-bestaande-geboortedatum-00-00-jj-blijft.9484714.lynkx
(to fix this, in 2014 it was decided everyone coming to NL as immigrants gets assigned a date of 1 July. Folks assigned a 00 have to just deal with it)

The UK assigns dates

[2018-06-21 09:54] chaals opened #1488 "stylesheets only block scripts if they match the media type"
(Reportedly works in Safari/Chrome, [Firefox implemented this recently](https://bugzilla.mozilla.org/show_bug.cgi?id=1386840). )

See also https://github.com/whatwg/html/commit/42dd707cbfc0f5d8f88b04ef270f4fcb121a10ff

The conditions for a stylesheet that blocks scripts should include that the `media` attribute means that it will actually be loaded...

[WPT test](http://w3c-test.org/html/semantics

[2018-06-21 09:55] chaals commented on #1488
@siusin says test passed in Chrome 69, safari 12.

[2018-06-21 12:32] scottaohara commented on #1480
closed by #1481

[2018-06-21 12:32] #1480 closed, assigned to nobody

[2018-06-21 16:13] LJWatson commented on #1389
I don't think @mtrootyy was suggesting that hidden field should have autocomplete, only that the following sentence should be removed from the spec because it's untrue:

If a field is hidden it cannot have the autocomplete attribute, and therefore it cannot have the autofill mantle.

[2018-06-21 16:17] chaals commented on #1389
@LJWatson right. In fact, I think the mantle stuff is an unnecessary complication that we can just remove, as outlined above. I hope to do this in the next few days, if @patricia-gallardo doesn't beat me to it.

[2018-06-22 12:16] chaals commented on #1424
It seems that Firefox supports ruby completely, and the Antenna House implementation does do the pairing association correctly (which is what was the strict point under discussion in this issue). In addition, I hope to see another implementation from @kojiishi in the future.

So for now I think we should leave the markup alone and close this issue without any action...

[2018-06-22 22:26] chaals commented on #1075
There is a new CfC on this: #1468. Moving to the next milestone.

[2018-06-22 22:27] chaals commented on #933
cannot find anything that links the input and output volume in HTML. Closing.

[2018-06-22 22:27] #933 closed, assigned to chaals

[2018-06-24 11:38] douglasheld commented on #1461
I really think we should go back to the original authors who specified this, and find out whether their original intention is reflected in what we have written. Like I said, there is no clear justification for allowing certain control characters to be expressed numerically and others, not.

Here is a formal whitelist based on interpreting the current reading:

[2018-06-25 23:33] prlbr opened #1493 "improve first <bdi> example"
The [first example for `<bdi>`](https://w3c.github.io/html/textlevel-semantics.html#example-0691f936) says

The HTML code in this example does not fit well with the first sentence of the example box, because the HTML code shows a situation where directionality is known in at least one case and provided explicitly. This is a little confusing.

[2018-06-27 22:57] #1405 closed, assigned to scottaohara

[2018-06-29 21:58] #1299 closed, assigned to siusin

[2018-06-30 22:59] scottaohara opened #1495 "Bikeshed: CSS for popout sidebar is broken"
Not sure what might have caused this, but noticed that the CSS for the pop out sidebar table of contents was broken today.

![screen shot of pop out sidebar with large gap between section numbers and section text pushed over to the right of the TOC](https://user-images.githubusercontent.com/4152514/42129591-2c81a554-7c97-11e8-90e6-1c668b400800.jpg)

[2018-06-30 23:45] chaals commented on #1495
Did it come from updating the bikeshed version @siusin

[2018-07-01 07:49] mtrootyy opened #1496 "more detaily : <meta> element within <noscript> element that is a child of <head> element."
https://w3c.github.io/html/semantics-scripting.html#the-noscript-element

https://w3c.github.io/html/document-metadata.html#the-meta-element

"Contexts in which this element can be used:" of `<meta>` element is not altogether to allow everything of `<meta>` element in `<noscript>` element that is a child of `<head>` element.

But it should be specyfied in "Content model:", because "Contexts in whi

[2018-07-01 09:06] mtrootyy opened #1497 "add description of when border attribute value is "0""
`border` attribute value on `table` element.
https://w3c.github.io/html/tabular-data.html#element-attrdef-htmltableelement-border

  ↓
Therefore, if the `border` attribute value is setted to "0", user agents should interpret the value as the empty string.

https://w3c.github.io/html/rendering.html#tables

  ↓
If user agents interpret "0" of the `border` attribute value as the empty string, require

[2018-07-01 13:08] vagran opened #1498 "Incorrect multiplier"
In section [8.2.4.77. Decimal character reference state](https://www.w3.org/TR/html52/syntax.html#decimal-character-reference-state):
    < Multiply the character reference code by **16**.

This was probably wrongly copied from "8.2.4.76. Hexadecimal character reference state".

[2018-07-01 14:09] mtrootyy opened #1499 "fix content model of <rtc> element"
http://w3c.github.io/html/textlevel-semantics.html#the-rtc-element

  ↓
This allow markup of following:
[code]

The above is strange.

Therefore, content model of `<rtc>` element should be fixed to following:

[2018-07-02 06:24] siusin commented on #1495
It seems to be a common problem for all the specs using bikeshed...

@deniak any suggestions?

[2018-07-02 06:52] deniak commented on #1495
The issue comes from the following inline css:
[code]

Removing that rule fixes the TOC so it's likely a bug with CSS introduced by bikeshed.

[2018-07-03 12:46] scottaohara opened #1500 "rewrite of document.open()"
Initial work:
See [WHATWG 3565](https://github.com/whatwg/html/issues/3565)
and [PR 3778](https://github.com/whatwg/html/pull/3778)

Continued work:
See [document.open() overhaul issue](https://github.com/whatwg/html/issues/3818).

[2018-07-03 15:06] scottaohara opened #1501 "Port updates from ARIA in HTML"
Updates to allowed roles for `dl` and `dt` elements:
[`dl` + `dt` commit](https://github.com/w3c/html-aria/commit/bdc9341a86a4b7e22db86e38888c530517f09b73)

Updates to allowed roles for `input type="text"`:
[allow `searchbox`](https://github.com/w3c/html-aria/commit/157130ac9178553853c3f7e48ab2c9a9c6590c1e),
[allow `spinbutton` and `combobox`](https://github.com/w3c/html-aria/commit/20484cd206b210

[2018-07-04 12:49] scottaohara opened #1502 "Review adding the allow attribute to iframe"
See [WHATWG: Add reference for iframe allow attribute](https://github.com/whatwg/html/pull/3781), which references [Feature Policy](https://wicg.github.io/feature-policy/), [related tests](https://wpt.fyi/results/feature-policy)

[2018-07-04 14:09] #1355 closed, assigned to edent

[2018-07-04 14:15] edent commented on #1039
Catching up with this. I agree with everything you've written. See incoming PR.

One minor thing:

We don't need the "for newly-created documents" as the restriction also applies to legacy documents as well. The restrictions mentioned are about the serialisation of the declaration. They've always applied.  However, I've added back in the comment about the older character encodings. Thanks for poin

[2018-07-04 14:48] edent commented on #1461
Ah, my reason for `&#13;` is that it is listed as a space character in https://w3c.github.io/html/infrastructure.html#space-characters - but you're right, it *is* invalid.

I've also seen that U+007F—U+009F are also to be excluded.

[2018-07-05 21:54] Malvoz commented on #1392
@scottaohara

https://w3c.github.io/html/links.html#allowed-keywords-and-their-meanings does not include [`manifest`](https://www.w3.org/TR/appmanifest/#using-a-link-element-to-link-to-a-manifest) as noted in my comment above. Was there a decision not to add it?

[2018-07-05 22:15] scottaohara commented on #1392
Hi @Malvoz,
No decision was made, but it fell off my radar as I was focused on the topic of the issue, and didn't address other add-on comments.

I will open a new issue to reference your comment and an additional request that was made in the PR for this issue.

[2018-07-05 22:18] scottaohara opened #1506 "Additional cleanup for link element"
Consider [removal of `serviceworker`, addition of `manifest`](https://github.com/w3c/html/issues/1392#issuecomment-392572257), as well as [removal of `pingback`](https://github.com/w3c/html/pull/1467#pullrequestreview-130037492)

[2018-07-06 12:52] mtrootyy opened #1507 "fix "Contexts in which this element can be used:" of <img> element"
http://w3c.github.io/html/semantics-embedded-content.html#elementdef-img

　↓

The above should be fixed following:

[2018-07-06 13:07] desandro opened #1508 "Add <inputgroup> element"
I propose the `<inputgroup>` element be added to the HTML spec.

`<inputgroup>` functions as a parent wrapper element to group together descendant radio or checkbox inputs, rather than grouping by `name` attribute value.

[code]

Using a parent-child structure to group together radio inputs is more legible and easier to understand. At a glance you can see that `input`s within `inputgroup` act toge

[2018-07-06 14:05] jgarber623 commented on #1508
@desandro Interesting proposal, Dave!

A couple of thoughts/questions:

- The `<radiogroup>` element is [actually a thing in XUL](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/radiogroup) (so there's some precedent for this proposal).
- There was _almost_ [a `<command>` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/command) with a `radiogroup` attribute, but it did

[2018-07-06 14:09] Comandeer commented on #1508
There is no need to introduce new element as we already have `fieldset`. Your example could be written as:

[code]

However currently `fieldset[name]` is not used to group radio buttons and it's not considered by form submitting algorithm. So the proposal could be simplified to "change behaviour of `[name]` attribute on `fieldset` element":

Yet there are two big issues with that:

1. This behavio

[2018-07-07 02:52] mtrootyy opened #1509 "fix "Contexts in which this element can be used:" of <figcaption> element"
https://w3c.github.io/html/grouping-content.html#the-figcaption-element

↓
The above should be fixed following;

Ref: https://w3c.github.io/html/grouping-content.html#the-figure-element

[2018-07-07 03:03] chaals commented on #1392
(Note, #1506 is the issue mentioned).

[2018-07-08 01:21] mtrootyy opened #1510 "fix "Contexts in which this element can be used:" of <source> element"
https://w3c.github.io/html/semantics-embedded-content.html#the-source-element

↓
The above should be fixed following;

Ref: https://w3c.github.io/html/semantics-embedded-content.html#the-audio-element

Ref: https://w3c.github.io/html/semantics-embedded-content.html#the-video-element

[2018-07-09 07:55] #1039 closed, assigned to edent

[2018-07-09 08:07] #1461 closed, assigned to edent

[2018-07-10 11:58] LJWatson commented on #1429
Ping @ScottAOhara for assistance (video/audio element inaccessibility is hindering my progress).

[2018-07-11 03:05] Dan503 opened #1514 "<dialog> element should trap focus"
This is a major accessibility issue with the `<dialog>` element in the HTML spec.

The W3C [officially endorses focus trapping inside of `<dialog>` elements](https://www.w3.org/TR/wai-aria-practices/#dialog_modal) as a best practice for accessibility. However, in the HTML spec for the `<dialog>` element, it makes no mention of needing to focus trap inside dialog elements.

Focus trapping is compli

[2018-07-11 03:06] Dan503 commented on #1514
This is somewhat related to issue https://github.com/w3c/html/issues/773

[2018-07-11 07:16] stevefaulkner commented on #1514
@Dan503 The ARIA practices document you reference pertains to modal dialogs. The HTML spec defines a showModal() method:

https://developer.mozilla.org/en-US/docs/Web/API/HTMLDialogElement/showModal

[2018-07-11 08:58] Dan503 commented on #1514
Oh awesome!

I'll test it out before I close the issue.

I've only ever seen people use the `.open()` method. I didn't know about `.showModal()` 😀

[2018-07-11 09:02] stevefaulkner commented on #1514
@Dan503 note in the chrome implementation the browser address bar is in the tab order, same as for JS alert() type dialogs

[2018-07-12 12:47] #1514 closed, assigned to nobody

[2018-07-12 13:17] Dan503 commented on #860
I like this idea of being able to distinguish between being an open modal and an open popup in the html.

This is how I see it working:

* `<dialog open="true">` or just `<dialog open>` is the equivalent of calling `dialog.show()` on page load.
* `<dialog open="modal">` should be the equivalent of calling `dialog.showModal()` on page load.
* `<dialog open="false">` should be equal to no `open` att

[2018-07-12 13:52] Dan503 opened #1515 "<dialog> element should send focus back to the element that opened it when it is closed"
In the W3C Accessibility guidelines on how to make accessible dialog elements, it specifically says to send focus back to the element that activated it unless the element doesn't exist or it makes more sense to send the focus elsewhere.

I was looking at the [official dialog element polyfill](https://github.com/GoogleChrome/dialog-polyfill) made by the Google Chrome team and in their documentation

[2018-07-13 11:37] #1509 closed, assigned to scottaohara

[2018-07-13 14:28] desandro commented on #1508
Yeah, I'd be open to adding my requested functionality to `fieldset`. If it's an easier path to shipping the general feature of "use a parent element to group together radio inputs", then I'm all for it.

[2018-07-14 18:14] HE-Andersson commented on #240
Late to the party AGAIN... I do not understand that.... Anyway.

Actually, it has some implication - for preservation, and the possibility on modern machines be able to view a bit of history...

There is STILL websites created like 1892 or so, not to mention the wayback machine. For an historical purpose, it would be nice to still have these tags/elements supported, if not inside the mainbrowser i

[2018-07-15 15:35] chaals commented on #240
The `isindex` attribute does have a number of specifications so people can work out how to implement support for it if they want.

The point of dropping it from current specs is so that people don't go out and use it, primarily because it no longer works reliably. It is important to give this message to site authors, because otherwise browsers are  stuck supporting everything that gets put into ne

[2018-07-16 10:36] dance-cmdr commented on #860
Hi @chaals,
Sorry for taking ages to answer back.

I came across this scenario quite a few times last year.  In most cases, because we were loading javascript at the bottom of the page we had to treat this case separately because in slow connection the modal was popping up too late.

I have to make a case study on how other projects are implementing modals. This will take some time to compete, but

[2018-07-16 14:59] mraccess77 commented on #1431
"The image given by the poster attribute, the poster frame, is intended to be a representative frame of the video (typically one of the first non-blank frames) that gives the user an idea of what the video is like."

I agree with others like @SebastianZ by definition the poster image is giving you a glimpse into the video to allow the sighted person to make a decision before using data to play the

[2018-07-16 15:00] scottaohara commented on #1495
FYI @siusin, it looks like this issue has been fixed for the index file of the spec, but going to a sub page, e.g. http://w3c.github.io/html/semantics-embedded-content.html#the-track-element, the CSS issue still exists.

[2018-07-16 15:07] scottaohara commented on #980
While I agree that this issue should be addressed in the future, I think there's a lot of overlap with embedded content that media elements could also potentially just be considered a sub-category of embedded content.

Would we then also want to consider elements, like `picture`, which also allows `source` as a child, to be considered media elements?

[2018-07-17 03:08] scottaohara commented on #1389
@chaals  & @patricia-gallardo, [created a branch](https://github.com/w3c/html/commit/bf64a84983bd21e8dd33c6975f7ac59b5ef331cd) to help move this issue along.

Feel free to add/edit as you see fit.

[2018-07-17 08:23] mtrootyy commented on #1389
@scottaohara

https://w3c.github.io/html/sec-forms.html#ref-for-element-statedef-input-hidden%E2%91%A7
→The cell(Hidden, autocomplete) should be fix to "Yes".