[2016-09-14 15:38] tehciolo commented on #587
Lm minion  uuî

[2016-09-14 15:38] tehciolo commented on #587
Lm minion  uuî

[2016-09-14 15:39] tehciolo commented on #587
U u

[2016-09-14 15:39] tehciolo commented on #587
U u

[2016-09-15 05:41] kciray8 opened #589 "HTMLElement.contextmenu is five-year old and nobody intends to implement it"
[HTMLElement.contextmenu](https://www.w3.org/TR/html51/dom.html#elements-in-the-dom) is five-year old and many browsers still doesn't support it. Why? And maybe you should remove this attribute from HTML 5.1 specification as obsolete.

From [Mozilla ](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/contextmenu)
![image](https://cloud.githubusercontent.com/assets/5188373/1853939

[2016-09-15 08:22] LJWatson commented on #589
We looked at the interoperability of contextmenu in #502 and found that is implemented in Gecko (Firefox) and Blink (Chrome), and also Blink (Opera) behind the flag. It therefore meets the interoperability requirements for remaining in HTML.

[2016-09-15 17:46] JaninaSajka commented on #561
Colleagues:

The Accessible Platform Architectures (APA Working Group is extending an
invitation to any and all who are interested in working out a consensus
resolution on this issue during TPAC. We have scheduled a session
beginning at 13:00 Monday in our room 1.04, and we will have key Dpub
members with us for that conversation. Please come and join the
discussion.

Janina

Tzviya writes:

##

J

[2016-09-15 17:59] chaals commented on #561
I will not be able to attend the proposed session.

[2016-09-15 18:00] chaals commented on #561
That is also the case with `longdesc`, for what it's worth.

[2016-09-15 18:11] chaals commented on #561
To extend what @LJWatson already said:

The content which `aria-describedby` points to is flattened to plain text, so you can't do things like:
- use structured markup like a table, nested lists, or a simple set of linked items.
- provide multiple language versions in a document.\* **

(*) While that's not a big use case for HTML, since text-based documents tend to rely on a real translation, it c

[2016-09-15 23:10] equalsJeffH opened #590 "incorrect host serializer algorithm called by `ASCII serialization of an origin`"
in step 4, https://www.w3.org/TR/html51/browsers.html#ascii-serialization-of-an-origin  invokes https://url.spec.whatwg.org/#concept-url-serializer to serialize a `host`.  This seems to be the incorrect alg -- from https://html.spec.whatwg.org/#ascii-serialisation-of-an-origin it seems the correct alg is https://url.spec.whatwg.org/#concept-host-serializer.

[2016-09-16 18:41] LJWatson commented on #588
Thanks @fititnt

Translating the HTML specification would be a good thing to do, and help is very much appreciated.

I'm not sure of the best approach, so Pinging @Chaals and @plehegar for help

[2016-09-17 10:19] AndySky21 opened #591 "Global attributes reference"
Editorial issue (the same problem is present in the HTML 5.1 spec)
https://w3c.github.io/html/dom.html#sec-global-attributes
In the list linked above, several attributes no longer link to the sections detailing them in the spec. This makes it harder to retrieve relevant information.

Is it because said sections have been moved? Can it be fixed?

[2016-09-18 10:50] dd8 commented on #583
Here is the TD HEADERS example in WCAG Sufficient Technique H43:
https://www.w3.org/TR/WCAG20-TECHS/H43.html

And here's how it behaves in different screen readers - results range from fairly easy to understand to very hard to understand:
http://www.powermapper.com/tests/screen-readers/tables/table-td-headers/

A good test for user impact is trying to answer the question: "what percentage of the t

[2016-09-19 10:46] tantek opened #592 "[Editorial] 5.1 should have summary changes from 5.0 REC"
The HTML 5.1 PR changes section lists changes between public working drafts, whereas to most people (outside the WG etc.), a summary changes from the 5.0 REC would be much more useful / readable / understandable, especially in cases (if there are any?) where multiple changes to a feature occurred across multiple public working drafts.

http://www.w3.org/TR/2016/PR-html51-20160915/changes.html#chan

[2016-09-19 12:25] chaals commented on #592
Yeah, absolutely agreed. I edit the changes section, and I'm happy to do that.

[2016-09-19 14:07] cconcolato commented on #557
FYI, a set of MP4 files with the HTML kinds stored within the "kind" box with the about:html-kind uri are available [here](http://download.tsi.telecom-paristech.fr/gpac/mp4box.js/mp4/html5-kind/)

[2016-09-19 16:33] arronei commented on #591
There are many links like this that are broken. When we switched over to a different publishing tool for the specification we had to rewrite all of our linking. Many of these as you can tell were missed and are still broken.

I am in the process of doing a section by section sweep of the linking but it take a considerable amount of time.

[2016-09-20 09:50] cynthia commented on #522
If @travisleithead is too busy for this, I'm willing to take this (as part of some other work I'm looking into, more on that later) - question would be if everyone is fine nuking the IDLs in individual following sections and only provide the amalgamated IDL in this new section, like how the upstream spec does this.

Are we fine with doing it like that? (I'd say this reduces the chances of mistakes

[2016-09-21 17:43] AndySky21 opened #595 "Editorial error on SetCustomValidity"
https://w3c.github.io/html/sec-forms.html#the-constraint-validation-api

Formatting error.

[2016-09-21 20:49] stevefaulkner commented on #595
@AndySky21 what is the formatting error?

[2016-09-21 20:50] stevefaulkner commented on #595
@AndySky21 i see it now

[2016-09-21 20:50] stevefaulkner commented on #595
element . {{HTMLInputElement/setCustomValidity(message)}}

[2016-09-21 21:11] AndySky21 commented on #595
Unfortunately it's the same in HTML 5.1.
https://www.w3.org/TR/html51/sec-forms.html#the-constraint-validation-api

Editorial fix needed?

[2016-09-22 02:04] henke37 opened #596 "Try and express img width presentation hint as a css rule"
The last paragraph of section 10.4.3. deals with how the width and height attributes are used for the rendering of images. Is it possible to provide a css rule in addition to the prose?

[2016-09-22 15:22] #522 closed, assigned to travisleithead

[2016-09-23 08:41] SebastianZ commented on #502
It looks like the feature got removed from the _Experimental Web Platform features_ in Chromium and is now only [available via the command line option `--enable-blink-features=ContextMenu`](https://chromium.googlesource.com/chromium/src/+/990b0dfe5c98990f3a27e44a2a5e512f5ed3140d). See [bug 412945](https://bugs.chromium.org/p/chromium/issues/detail?id=412945) for more info.

Sebastian

[2016-09-23 09:40] SebastianZ commented on #589
As [stated in issue #502](https://github.com/w3c/html/issues/502#issuecomment-249135799), the feature is now only available via the command line parameter `--enable-blink-features=ContextMenu` in Blink-based browsers.

@kciray8 I've updated the [browser compatibility information for the `contextmenu` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/contextmenu#Browser

[2016-09-27 09:53] mikewest opened #597 "Port over changes to `data:` origin handling."
It would be lovely if y'all could port the changes that resulted from https://github.com/whatwg/html/issues/1753.

/cc @adanilo

[2016-09-27 09:54] mikewest opened #598 "Port changes to permitted sandbox navigator."
It would be lovely if y'all could port the changes from https://github.com/whatwg/html/pull/1774.

/cc @adanilo

[2016-09-27 09:57] mikewest commented on #187
https://www.w3.org/TR/workers/ is now over a year old.

[2016-09-27 10:29] chaals commented on #187
And we expect it to be updated shortly. The new editor has been working on moving the spec to bikeshed, which introduces a bit of a delay.

[2016-09-27 10:32] jonathanKingston commented on #596
Related discussion here: https://discourse.wicg.io/t/shorthand-for-width-height-css-longhands/1160/27 I drafted a proposal from something @tabatkins wrote many moons ago and produced a demo too.

[2016-09-27 10:59] cynthia commented on #597
I'd be willing to work on this if @adanilo doesn't have time.

[2016-09-27 11:43] mikewest commented on #187
I'm glad you're looking at it.

I worry a bit that the conversion will have similar issues to the HTML conversion way back when, increasing the difficulty of bringing in patches. Have y'all put together a plan for updates? The ad-hoc mechanism doesn't seem to be working very well.

[2016-09-27 14:57] cynthia commented on #187
Ad-hoc is probably not a good idea in the long run, yes. I'm going to have to talk with some of the whatwg folks to see a better way forward, but for the meanwhile - at least for workers - adhoc is good enough as it isn't a overly dynamic spec.

You can see the work in progress here: https://w3c.github.io/workers/

Upstream patch intakes will come the moment I'm done making the current draft vis-a

[2016-09-27 18:08] mikewest opened #599 "Port the `nonce` attribute for `<link>`."
Please port over the changes from https://github.com/whatwg/html/pull/1820 once it lands (soonish?).

Thanks!

/cc @adanilo

[2016-09-27 18:13] AndySky21 opened #600 "<details> "open" attribute"
There's something I don't understand about the `<details>` element, I hope this is the right place to ask because it could also be fixed in the future (though I don't think it will happen because it would conflict with how the element has been defined as of now).

The spec says, and it's a behaviour commonly honored by UAs supporting the `details` element, that the `open` boolean attribute is to b

[2016-09-27 20:42] Hixie commented on #187
You could just not fork the spec and treat the WHATWG spec as the standard instead...

[2016-09-28 06:02] adanilo commented on #597
Feel free to assign it to yourself if so. I'm planning to help most of get Mike's issues addressed in a more timely fashion;-)

[2016-09-28 10:28] avrljk opened #601 "typo in definition of ancestor browsing context"
In http://w3c.github.io/html/browsers.html#sec-nested-browsing-contexts

(bold added to highlight issue)

The first A in bold above is A' (A-prime) in https://www.w3.org/TR/html5/browsers.html#nested-browsing-contexts

Alternatively (may be clearer):

Instead of A <- A <- B, perhaps that should be A <- C -< B (matches the use of C as the child name in the preceding paragraph of the spec).

Or rena

[2016-09-28 10:53] stevefaulkner opened #602 "Proposal: devs SHOULD NOT use content="user-scalable=no | maximum-scale=1.0 " on meta"
The use of the `content="user-scalable=no"` and `maximum-scale=1.0`  on the `meta` element:

`<meta name="viewport" content="user-scalable=no">`

`<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">`

Causes real problems for users on mobile/touch devices. It stops them from being able to zoom content to suit their needs.

One browser has stopped zoom disable

[2016-09-28 10:56] patrickhlauke commented on #602
Note that there are some (very specific) use cases where it may be valid to try and suppress user-initiated zooming/pinch-zooming, mostly around situations like maps (where you'd want to handle your own zooming programmatically, e.g. to load higher resolution map tiles, rather than allowing user to just blow up the current set of tiles).

[2016-09-28 10:58] patrickhlauke commented on #602
And note that before Safari's bold move to basically ignore meta directives that stop pinch-zoom, many browsers already included settings ("Force enable zoom", "Always allow zooming", etc) to disable this.

[2016-09-28 11:00] stevefaulkner commented on #602
that's why i am suggesting a normative **SHOULD NOT** rather than a **MUST NOT**

[2016-09-28 11:46] mikewest commented on #599
FYI: This landed.

[2016-09-28 14:43] patrickhlauke commented on #602
sure, just suggesting it may be good to include this as a counter-example/exclusion in the actual prose

[2016-09-28 14:48] Yago opened #603 "Proposal: Calling stylesheets contextually"
With the rise of **HTTP/2**, we are now able to stop concatenation our stylesheets and start to load them depending on the page needs. In his [article](https://jakearchibald.com/2016/link-in-body/), @jakearchibald describe some good practices to deal with multiple css files like calling them all in the `<head>` or better, **next to the related component**.

Having links in the `<body>` is somethin

[2016-09-28 14:51] stevefaulkner commented on #602
post by @sturobson Don't do this in responsive web development
http://alwaystwisted.com/articles/2013-01-10-dont-do-this-in-responsive-web-development

[2016-09-28 15:11] AmeliaBR commented on #602
There's already way too much content on the web using this feature gratuitously (meaning, without offering a custom-zoom alternative, and without respecting other user settings for preferred font size).  Adding a warning to validators has little effect on that.  The devs who are using validators are probably not the worst offenders.

The way to most effectively get rid of this is at the user agent

[2016-09-28 15:37] patrickhlauke commented on #602
Which is what Apple just did (ironic, since they actually invented it), and most other UAs already have at least a setting to ignore it.

The feature is an Apple proprietary invention, and not actually spec'd officially (barring the retrospective https://www.w3.org/TR/css-device-adapt-1/#viewport-meta which is currently only a WD). that's the place where a warning should ideally be placed. [sent e

[2016-09-28 17:26] stevefaulkner commented on #602
@AmeliaBR

we don't know how much effect it will have, but i suggest even a little is a positive thing. Likewise with advice in the HTML spec.

[2016-09-29 00:55] tagawa commented on #602
From past experience, this addition would be useful for getting managerial approval or increasing priority within a project, for example being able to say "It's not subjective - W3C spec says we should not be doing this", etc.

[2016-09-29 02:03] simevidas commented on #602
@patrickhlauke For the maps use case, isn’t that a job for the CSS `touch-action` property ([MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action))? I.e. disable pinch-to-zoom specifically on the map element. If so, this isn’t a use case for `user-scalable=no`.

[2016-09-29 10:32] chaals commented on #599
What about implementation?

[2016-09-29 11:13] mikewest commented on #599
Chrome, Firefox, and WebKit all support nonce mechanisms for stylesheets, which require support for the attribute, and an eventual fix for https://github.com/w3c/html/issues/198: see the nonce section of the implementation report at https://w3c.github.io/webappsec/implementation_reports/CSP2_implementation_report.html.

Edge support should be coming soon when they land CSP2 bits and pieces.

[2016-09-29 19:00] straker commented on #602
Just wanted to chime in from a different perspective just so it's captured and thought about.

A lot of JavaScript games that can be played on a mobile device use that meta tag with `user-scalable=no` since the entire site is just a big canvas most of the time and the developer takes care of resizing it via JavaScript or CSS to fit the current screen size. Take for example a sampling of games from

[2016-09-30 06:24] anupkumarmaharjan commented on #602
If iOS force fully ignores the user-scalable=no, then it should not scrambles the other design too either the "width=320" or width=device-width is defined in the META tag too. As for now, it is breaking all the design which are not included inside 320px width.

[2016-09-30 06:35] adanilo commented on #603
Interesting. I guess the styles in such a case would act as before, i.e. global? What about async loading of the style resource, that could help faster load by not blocking, but with the associated risk of painting something before styles are loaded and then updating later. Perhaps you should propose this on the WICG list?

[2016-09-30 06:35] adanilo commented on #601
Ahh, good catch. We'll need to fix this, thanks.

[2016-09-30 06:46] adanilo commented on #600
That's a good point, I'm not sure why this behavior was specified. It does seem a bit weird to add attributes to the DOM from UA action rather than JS manipulation. It'd be nice to know the reasoning.

[2016-09-30 06:47] adanilo commented on #599
Thanks, @stevefaulkner let me know if you'd like to pass this on to me, happy for you to port of course!

[2016-09-30 06:48] adanilo commented on #598
ACK

[2016-09-30 06:51] adanilo commented on #596
Good idea, we'll draft something.

[2016-09-30 06:53] adanilo commented on #590
Thanks for the catch, I'll take a look at reviewing/fixing this.

[2016-09-30 07:09] stevefaulkner commented on #599
@adanilo @mikewest has reviewed my PR https://github.com/w3c/html/pull/604 and have updated in response. Can you take a look and merge if good, thanks!

[2016-09-30 09:30] stevefaulkner commented on #602
related email - @patrickhlauke  to CSS WG https://lists.w3.org/Archives/Public/www-style/2016Sep/0130.html

[2016-09-30 15:32] DavidMacDonald opened #605 "textarea appears to only work with mouse"
The `<textarea>` element renders in browsers with the familiar triangle in bottom right of the text box to drag to resize but there is no keyboard equivalent. This is a failure of WCAG 2 SC 2.1.1 Keyboard requirements and forces authors to do complicated things to resize with keyboard. This functionality should be natively available.
https://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-ke

[2016-09-30 22:46] Coder206 commented on #487
I apologize, I must have been overwhelmed with notifications, I just came across this...

[2016-10-01 16:36] SaraSoueidan opened #606 "Allow usage of `address` element in all contexts"
I think it would make sense to make the `<address>` element more ‘general’ by allowing it to be used to represent addresses anywhere they are presented—regardless of context; similar to the way elements like `<time>` can be used.

For example, I think it would make sense to use `<address>` to wrap a user's address in a checkout process (e.g. shipping and billing addresses). It makes the element le

[2016-10-01 17:21] chaals commented on #487
No problems. You're still welcome to make PRs :)01.10.2016, 00:46, "Coder206" notifications@github.com:I apologize, I must have been overwhelmed with notifications, I just came across this...

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

-- Charles McCathie Nevile - web standards - CTO Office, Yandexchaals@yandex-team.ru - - -

[2016-10-01 17:32] chaals commented on #605
Hi David,

This seems primarily a browser bug, not a problem with the specification. However, I think it makes sense to note in the specification that the ability to resize - like other interactions - has accessibility implications.

At the same time, filing browser bugs seems the most appropriate path here.

[2016-10-01 17:35] chaals commented on #599
Oops. Labelling for historical purposes at this stage, I hope.

[2016-10-01 22:35] chaals commented on #516
Agreed that we shouldn't make style be `display: block`. Someone who has a use case for that can do it by themselves easily enough.

Browsers seem to handle `<style>` in the body, and at least Google.com actually uses this. IMHO we should make sure that the spec continues to support that, unless there is a strong reason to outlaw it...

[2016-10-01 22:37] chaals commented on #606
I doubt that browsers care at all, since they don't seem to do more than style the element.

The question is whether it breaks other things, like search and cataloguing systems. I would personally be surprised if it did, but I think we should do some research…

[2016-10-02 07:48] stevefaulkner commented on #606
Agree we need to do some research, will do some mailing list archeology and review pre html5 definitions, also gather some data on actual usage to see what it reflects. will get back to you @SaraSoueidan @chaals

[2016-10-02 07:56] stevefaulkner commented on #606
HTML5 definition:

HTML 4 definition:

HTML 3 definition:

[2016-10-02 08:22] stevefaulkner commented on #606
HTML WG mailing list items relating to address:
https://www.w3.org/Search/Mail/Public/search?type-index=public-html&index-type=t&keywords=%3Caddress%3E&search=Search

WHATWG mailing li items relating to address:
https://www.w3.org/Search/Mail/Public/search?type-index=public-whatwg-archive&index-type=t&keywords=%3Caddress%3E&search=Search

[2016-10-02 09:59] craigfrancis commented on #606
As Steve has mentioned, the spec has always said it's the address for the authors of the document, but I've found that many websites use it for postal addresses, in the way that Sara has used it.

Does anyone know of a way to verify this with stats? Maybe someone on the Google/Bing web crawling teams?

And if everyone did use it "properly" how many systems will use the semantics it provides to ext

[2016-10-02 10:06] AndySky21 commented on #606
Talking about Schema.org, I suppose that the specific author's /
organisation address could be properly marked up with semantic markup such
as microdata or RDFa, while the address tag itself could simply be used to
indicate "this is an address". I'd like to have a look at WebDevData to see
how authors use it.
Note: if there are several pages which simply use <address> for generic
addresses, search

[2016-10-02 11:15] fvsch commented on #606
Conversely, maybe deprecate the element altogether?

The arguments for allowing wider use (that it’s not currently used according to spec by either authors or UAs, especially bots), if true, would justify deprecating the element as well.

[2016-10-02 11:27] AndySky21 commented on #606
When the time element was first proposed, it allowed the 'pubdate'
attribute indicating which element was meant to mark the publication date
of an article, but this attribute was later removed.
Choosing to deprecate address now, would mean the same as deprecating time
as a whole instead of removing pubdate.

The fact is, addresses are different from any other piece of data in the
fact that they ca

[2016-10-02 11:51] tigt commented on #606
I strongly agree with Sara's proposal. `<address>`'s content model is some hot garbage; it can't contain general author information (such as just the name), nothing about the element's name suggests it has anything to do with authorship, and years of abuse have rendered it unfit for its designed purpose.

For example, Apache's default error documents wrap the server name/version and other informat

[2016-10-02 16:39] AmeliaBR commented on #606
We are at the point in time where HTML has achieved wide enough usage that it is not helpful to define semantics in the spec that don't reflect actual usage.  No software can reliably use `<address>` to extract site-ownership information from web pages. So what purpose is there in defining such a restriction in the spec?

The original intended use of `<address>` (to wrap site-ownership information

[2016-10-02 16:51] jina commented on #606
In all my years of being frustrated with the super specific use of this element, it never occurred to me to simply suggest the definition be broader. Thanks Sara for taking initiative!

[2016-10-02 16:59] stevefaulkner commented on #606
@AmeliaBR wrote:

data supporting this would be useful.

I did a quick grep of 7000 pages from the latest [webdevdata](http://webdevdata.org/) data set, to get a feel for how `<address>` is being used.
[Raw results](https://dl.dropboxusercontent.com/u/377471/address.html) are available for perusal.

I haven't done any analysis or drawn any conclusions as yet, happy for others to do so.

[2016-10-02 17:32] AmeliaBR commented on #606
Thanks for starting the data fetch, @stevefaulkner.  I should have said "lots of content using it for things other than actual addresses", which may or may not fit the current spec definitions!

Quick and qualitative skim of that data dump shows three major classes of usage that show up repeatedly:
- site ownership/contact information that also includes an address  (company addresses in site foote

[2016-10-02 19:14] AndySky21 commented on #606
Well it may or may not be conclusive depending on the specific addresses
highlighted in data, but it appears to be used for a really broad concept
of "contact information", where it can also consist of a
person/organisation name (in the era of digital identity,  even a name can
be used to identify a subject).

[2016-10-03 08:53] stevefaulkner commented on #606
Have a look at the schema.org address http://schema.org/address
It may be practical to align the definition with this.

[2016-10-03 09:01] stevefaulkner commented on #606
In the schema for [PostalAddress type](http://schema.org/PostalAddress)
some examples use the `address` element: example 11

[code]

[2016-10-03 09:09] chaals commented on #606
I'm not sure that it is a good idea to align with Schema.org here. @SaraSoueidan suggested making this an address, which I guess _could_ mean that alignment, but I think it is clearer that it is "contact information" than **definitely** a physical address.

I'm also not sure we should remove the specified semantics that it relates to the author/owner of the page it is found in. That seems - at a f

[2016-10-03 09:15] ExplodingCabbage commented on #516
:+1:

The spec has never supported this. Once again I'll point out that the only suggestion that this is allowed was in the index that I proposed changing in https://github.com/w3c/html/pull/517, which is _non-normative_.

It seems like a good idea to me (for the reasons you've given) to _change_ the spec to support `<style>` in the body, but that's _not_ a continuation of support, its changing th

[2016-10-03 09:19] AndySky21 commented on #606
In light of real world data, I agree with @chaals. Of the 2 aspects assumed by the spec, the fact that address tag contains data related to the page author or site-relevant person/organisation seems to be the most adhered upon, while the fact it is a real address seems to fade.
And this is unfortunate, as I hoped it could be used to highlight a real address which, as I said, is difficult to recogn

[2016-10-03 09:48] chaals commented on #516
I think the spec is ambiguous, which probably explains why we differ on whether it is supported. The alternative, and equally plausible explanation, is that I just didn't read something carefully enough.

HTML 5.x says, apparently normatively, that

But style in body doesn't pass the validator.

Anyway, I guess the sensible thing is to find all the places where this is discussed and make them all

[2016-10-03 09:54] chaals commented on #544
I'm closing this as a duplicate of #516 - where the "trending conclusion" is to make style conforming in the body...

Thanks for raising it in this form though - I think it helped the discussion.

[2016-10-03 10:13] AndySky21 commented on #516
I'm just afraid how authors will perceive the difference between this, and the `scoped` attribute case.
It could be difficult to accept that a style tag inside an element has effect not only in the element subtree, but throughout the document, above and below the element itself.
Possible subjects for revision:
- `<link rel="stylesheet">` being included in body, too
- style element and tag omission

[2016-10-03 10:32] jakearchibald commented on #603
@Yago can you talk a bit about why your solution is more satisfying than a link element? Does it behave any differently?

Maybe related: we used to have `<style scoped>` but it removed from the spec https://github.com/whatwg/html/issues/552

[2016-10-03 10:55] chaals commented on #516
Except that this has worked in browsers "forever". And seems not to have broken the web. So authors seem either used to the idea, or to learn it quickly.

After all, `<script>` behaves like that too.

I'd rather not go there, unless there is some pressing reason.

[2016-10-03 10:57] chaals commented on #606
In fact I think we would do better to put pointers into the "common microsyntaxes" section, to schema.org as a generic way to mark up postal addresses, and give examples that use address for the contact information according to the current semantic and generic elements for e.g. the location of an event.

[2016-10-03 11:21] iandevlin commented on #606
Perhaps we should rename `address` to `contact`. Although perhaps we'd have the same issue then as people would be using it to wrap contact forms.

I also think that it should stay as it is. A lot of misuse is caused by people not reading the specification and making assumptions.

[2016-10-03 11:27] stevefaulkner commented on #606
I have updated the [raw results](https://dl.dropboxusercontent.com/u/377471/address.html) data dump to cover 1220 matches in 190 files. 19342 files searched.

A word of caution with the results, for the most part the samples are of web site home pages only.

[2016-10-03 16:30] #602 closed, assigned to nobody

[2016-10-03 16:31] stevefaulkner commented on #602
please review the commit text https://github.com/w3c/html/commit/29b89343cbc12fa385143de3ddf70144d38b6095 and provide feedback - thanks!

[2016-10-04 00:30] travisleithead commented on #516
Also note that if `<style>` is restricted to the `<head>` then shadow dom styling using `<style>` elements (not in the head) won't work... (and that's all we've got so far...)

[2016-10-04 08:46] stevefaulkner commented on #602
issue raised on validator https://github.com/validator/validator/issues/379

[2016-10-04 12:51] AndySky21 opened #608 "Multiple text input with datalist"
This is just a suggestion and it could be difficult to implement.

As datalist heavily relies upon UA implementation to be displayed correctly, it is particularly difficult to change it through JS. So I'd like to suggest a feature it maybe lacks.

There is currently no way to display more than one suggestion, meaning that it cannot be used in a "multiple select" fashion. This is right, as it refer

[2016-10-04 15:32] chaals commented on #608
Hi @AndySky21, this seems like the sort of feature that should be incubated in [WICG](https://wicg.io) or demonstrated in JS - which is messy but I think technically feasible, if you actually collect the separator, copy the form value and then delete the real one and paint a fake over it to trigger the datalist - to get some traction among developers and/or browser implementors.

[2016-10-04 16:03] cynthia commented on #597
Merged.

[2016-10-04 16:03] #597 closed, assigned to cynthia, adanilo

[2016-10-04 16:10] cynthia commented on #601
Fixed.

[2016-10-04 16:10] #601 closed, assigned to cynthia

[2016-10-04 17:09] stevefaulkner commented on #605
filed bug on Firefox https://bugzilla.mozilla.org/show_bug.cgi?id=1307520
and chrome https://bugs.chromium.org/p/chromium/issues/detail?id=652753&can=2&q=textarea%20resize%20keyboard&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

FYI
Doesn't look like edge or Safari/webkit on iOS at least, provides the same feature for textarea

[2016-10-05 14:02] AndySky21 commented on #608
@chaals, thanks for the suggestion, but I don't think I can gain any
traction, I don't know how to attract implementers' interest other than
opening a topic on Discourse WICG (I did it here:
https://discourse.wicg.io/t/datalist-multiple-suggestion/1739). I'll show
an example later.

[2016-10-07 12:30] mikewest commented on #524
FYI: We need this to move Secure Contexts past CR. October 20th is the first day we could ask for that transition.

 /cc @adanilo @hillbrad

[2016-10-07 12:31] mikewest commented on #523
This is something that Secure Contexts doesn't rely on in a normative way, but certainly relies on in principle.

/cc @adanilo @hillbrad

[2016-10-07 12:32] mikewest commented on #548
Ping.

[2016-10-07 12:33] mikewest commented on #547
Ping.

/cc @hillbrad

[2016-10-07 22:32] unor commented on #606
Related question on Stack Overflow:
_[Don't use <address> for address](http://stackoverflow.com/q/28054636/1591669)_

[2016-10-07 22:50] AndySky21 commented on #606
I guess Ben75's answer says all. And the question was badly formed.

The address element has been used incorrectly throughout the years? Probably yes. This is not for the spec being ridiculous about that.

Address is not meant for generic addresses. There is no blasphemy in that, because `<address>` conveys an additional piece of information: "this is part of the contact info for the subject respo

[2016-10-10 04:36] adanilo commented on #524
@travisleithead will you be looking at this, or do you need me to have a bash?

[2016-10-10 14:38] plehegar commented on #588
actually, @koalie is the right person to start with on translations. HTML 5.1 main content is pretty much ready for translations imho since I wouldn't expect the editors to make lots of changefs at this point. The headers/ status of the document will change however. The final version of the spec will be published in early November. You shouldn't translate a branch but rather the document at https:

[2016-10-10 14:43] plehegar commented on #573
@corysimmons regarding a better place to file this bug, the only place I can think of is to file it under https://github.com/w3c/echidna/issues/ . This repo contains our automatic publication tool and, if we're going to provide offline version, that's a great place to start thinking about it. Once you filed it, feel free to close this issue.

[2016-10-10 16:20] #573 closed, assigned to nobody

[2016-10-10 17:20] fititnt commented on #588
I Agree that for _small_ documents, translate raw generated HTML is more simple. For example [this one about Language declarations](https://github.com/webiwg/w3c-tr-i18n-html-tech-lang).

But the pure html from HTML5 specification is very, very large and complex. Only a summary of the problem I'm saying, I will compare translation results with the translation of the content that you use here:

(th

[2016-10-10 21:51] fititnt commented on #588
## About allow build of HTML5+ specification

A very good start here would be remove this line https://github.com/w3c/html/blob/master/.gitignore#L1

[code]

The absence of this file prevents the documented build in "README.md" by people who are not part of W3C. Ask for help with translation strategy is vague, I agree, but I believe that at least allow documentation build is important.

Issues lik

[2016-10-11 11:24] chaals commented on #588
Hi,

having done translation, I absolutely agree that translation of the source is much more useful than trying to take on the generated HTML 5.1 specification.

But I would suggest that you translate the HTML 5.1 branch, starting when it is a W3C Recommendation.

The first reason is that it means you're working towards a translation of a W3C Recommendation, which is the only thing W3C will collec

[2016-10-11 20:25] stevefaulkner commented on #598
@adanilo any progress on this?

[2016-10-11 20:28] stevefaulkner commented on #52
Closing as it should be incubated

[2016-10-11 20:28] #52 closed, assigned to nobody

[2016-10-11 20:29] stevefaulkner commented on #64
@travisleithead any update on this?

[2016-10-11 20:36] stevefaulkner commented on #89
@travisleithead any plans to implement in edge?

[2016-10-11 20:37] stevefaulkner commented on #91
Closing this as not currently supported

[2016-10-11 20:37] #91 closed, assigned to nobody

[2016-10-11 20:37] stevefaulkner commented on #218
closing fixed

[2016-10-11 22:01] fititnt commented on #588
As it should be become a recommendation soon, perhaps in November like @plehegar said, I see no problem in only to test how to translate for now, but do not start the translation before it.

Well, at the moment we don't have an active community like this. If we had, the translation of HTML 5.0 would have been made years ago.

We have developers, and in a recent academic research, apparently the Br

[2016-10-13 01:36] An-dz opened #613 "Inconsistent description of comma-separated tokens"
https://w3c.github.io/html/infrastructure.html#comma-separated-tokens
The description text of the comma-separated tokens seems inconsistent to me, this might be discussed by the working group. I've opened this here as I was unsure where to post this. The issue, as I believe, is the following:

The description is inconsistent when it first says that the tokens don't start and/or end with space char

[2016-10-13 12:30] SebastianZ commented on #600
For reference, the related description can be found here:

https://html.spec.whatwg.org/multipage/forms.html#attr-details-open

I vote for only changing the IDL property on user interaction to stay consistent with other elements' attributes like [`<input>`'s `checked`](https://html.spec.whatwg.org/multipage/forms.html#attr-input-checked).

Sebastian

[2016-10-13 12:49] chaals commented on #600
Actually @SebastianZ the reference for this repo is
https://www.w3.org/TR/html52/interactive-elements.html#the-details-element

[2016-10-13 13:25] SebastianZ commented on #600
Yes, sorry! Thank you for the clarification!

Sebastian

[2016-10-13 19:46] AndySky21 opened #614 "Editorial error on "Date, time and number formats""
https://w3c.github.io/html/sec-forms.html#date-time-and-number-formats

Does the @@ have a meaning?

[2016-10-13 23:32] AndySky21 commented on #600
I had to dive into the spec a bit deeper and now I can correct some aspects of my original message.

`checked` on checkboxes and `open` on details are quite different IDL attributes: while the former reflects the "checkedness" of the element, the latter reflects the presence/lack of the content attribute. This last fact is what makes `open` content attribute to appear/disappear from the element it

[2016-10-14 00:06] tantek commented on #256
Coming to this late (unfortunately), however, I think the overall analysis here is flawed in comparison to the actual usage data on 'rev' collected during the development of HTML5, which determined that it was a very buggy feature, authors being confused more often than not and mis-using it[1][2][3][4]. It's essentially mal-designed (fails usabilty) and any technology depending on it (RDFa, schema

[2016-10-14 10:11] cynthia commented on #614
Looks very much like a temporary placeholder which never got fixed.

[2016-10-17 06:10] adanilo commented on #599
Closing, PR #604 covered this and it's been merged.

[2016-10-17 06:10] #599 closed, assigned to stevefaulkner

[2016-10-17 06:12] adanilo commented on #598
Getting onto it now

[2016-10-17 06:13] adanilo commented on #548
Reviewing this now

[2016-10-17 06:16] adanilo commented on #524
Ping - I'll look at this tomorrow if Travis doesn't pick it up to get you over the line for the 20th

[2016-10-17 09:00] chaals commented on #600
Actually, a bunch of ARIA works in roughly this way, with a near relative being `aria-expanded` - which is possibly where the pattern came from - except that doesn't allow for a "shorthand attribute" - you have to read its value. If there is a CSS pseudo-property like `::open`, then I would be happy removing this, but otherwise it's probably important to be able to do styling. I agree it seems an

[2016-10-17 09:18] AndySky21 commented on #600
What "way"?
Consider that we're talking about an element whose user interaction is handled by the user agent directly.
Should I file an issue on CSS repository too in order to propose `:open` (I suppose the correct syntax should have only one column)?

Anyway, yes, **it is** terrible. It's so terrible that, for required form controls, the `:required` and `:optional` pseudo properties have been cre

[2016-10-18 03:53] adanilo commented on #524
https://github.com/w3c/html/pull/615 is in flight, currently not building though...

[2016-10-18 14:55] asurkov commented on #583
Is the point that the HTML spec would benefit if [1] alg would deal row headers and column headers separately? If so, then I agree it'd be definitely good for accessibility.

I'm not sure though which document (HTML or HTML-AAM) should be more suitable for this.

[1] https://html.spec.whatwg.org/multipage/tables.html#header-and-data-cell-semantics

[2016-10-18 23:19] chaals commented on #614
Should probably use terminology like "A single U+002E FULL STOP character (.)" for consistency

[2016-10-18 23:28] chaals commented on #589
Let's watch this still, to make sure it gets better not worse.

Although it seems that the most serious web compatibility issue - a page at apple.com that used it incorrectly - has been fixed. In any event, it should be reviewed to determine whether it belongs in the at-risk category when 5.2 goes to CR, so I'll make and apply the labels for that.

[2016-10-18 23:33] chaals commented on #588
I'm closing this because I don't think it is a specific issue on the HTML specification - there are various places to discuss the translation, and you know how to find me to follow up. If there are **specific** actions for the spec related to translation, please feel free to raise another issue. I'm also happy to help answer specific questions about a translation if you want to check - if I can't

[2016-10-19 00:40] chaals commented on #109
Kept this open for the merge into the master branch - was done in the HTML 5.1 branch

[2016-10-19 00:42] chaals commented on #550
Hopefully assigning the next milestone. @travisleithead, if that's not going to happen can you please change the milestone

[2016-10-19 00:45] chaals commented on #461
Leaving to check back for HTML 5.2 CR

[2016-10-19 00:48] chaals commented on #584
Seems we can close this...

[2016-10-19 00:48] #584 closed, assigned to stevefaulkner

[2016-10-19 00:51] chaals commented on #586
Hopefully assigning a milestone. But need to assign someone to do this, unless there is a PR...

[2016-10-19 00:56] chaals commented on #582
Oops. This should have been done :(

Scheduling for this week.

[2016-10-19 00:58] fititnt commented on #588
I agree that general strategy of translation is something vague and broad. This topic would never be ready to be closed. This issue is a good starting point, but now must evolve into more specific actions.

And yes, I'm going to break the problem into smaller topics and reference to this issue. One of them, at least at the time I created this issue is that it is not possible to build the documenta

[2016-10-19 01:00] chaals commented on #428
@travisleithead can you get this done in time for the next draft? Otherwise please shift the milestone.

[2016-10-19 01:01] #343 closed, assigned to chaals

[2016-10-19 01:02] chaals commented on #247
This has been overtaken by a new issue.

[2016-10-19 01:02] #247 closed, assigned to stevefaulkner

[2016-10-19 01:04] chaals commented on #166
@MichielBijl can you propose a Pull Request in the next few weeks, to make the milestone?

[2016-10-19 01:05] chaals commented on #335
@travisleithead can you check this milestone, and if necessary bump it please

[2016-10-19 01:07] chaals commented on #445
Can you provide a PR to fix this? No milestone assigned yet, since nobody is assigned to the bug yet.

[2016-10-19 01:08] chaals commented on #278
@adanilo there is some effort in the editing task force to look at the order of events like this. @garykac might know more…

[2016-10-19 01:18] chaals commented on #561
There is the [`open`](https://www.w3.org/TR/html52/interactive-elements.html#element-attrdef-details-open) attribute that does this - but see also #600 which proposes a change to that. Is the rest of the requirement something more than browser implementation?

[2016-10-19 01:50] chaals commented on #588
@r12a just checking that this gets picked up by your tracker…

[2016-10-19 13:45] dd8 commented on #583
Yes, exactly so.

At the moment the single headers algorithm can't be used by Accessibility APIs with separate row headers and column headers properties which means it can't be used by:
- IAccessible2 IAccessibleTableCell (Firefox and Linux)
- UIA ITableItemProvider (Windows)
- NSAccessibility (Mac/iOS)

I'm not sure about the situation with legacy MSAA or the Android accessibility API.

[2016-10-19 15:04] r12a commented on #588
@chaals reopening because what i'm hearing here may be actionable by the HTML WG, and that is that it's better not to truncate source text at a given number of characters per line, as the HTML spec apparently does (I'm not sure whether that's a result of using bikeshed or whether it comes from the author), but to let the text flow within a block element.

It seems that this makes it easier to comp

[2016-10-19 18:02] travisleithead commented on #428
Paul followed up offline with me and reported that there is no need to get this done in 5.1.  MSE solved this problem on its own.

Updated the milestone.

[2016-10-19 20:58] travisleithead opened #616 "July 2016 WHATWG commit review"
Review commits during the month of July and open issues for those that should be ported to W3C.

See editor actions: https://lists.w3.org/Archives/Team/team-html-editors/2016Oct/0017.html

[2016-10-19 22:02] travisleithead opened #617 "July 2016 Port 1 - Convert custom element callbacks to Web IDL callback types"
Refactoring for custom element support. Not testable.

https://github.com/whatwg/html/commit/be055730a11a8f952feb8fdb73e7caa01460e5a4

[2016-10-19 22:05] travisleithead opened #618 "July 2016 Port 2 - Add a section on performing structured clones from other specifications"
Adds extensibility point for other specs to use structured clone. Not testable

https://github.com/whatwg/html/commit/21d5b5ce69f3e5e0f0641659d426d7b005eefc66

[2016-10-19 22:09] travisleithead opened #619 "July 2016 Port 3 - hook for perform the fetch in modules/worklets"
Hook for module fetching in Worklets (defined in CSS Houdini draft specs). Indirectly testable through using ES6 modules for Worklets.

https://github.com/whatwg/html/commit/8c43afcbedf0506ac9d62d85a72f1a23fd9f520c

[2016-10-19 22:14] travisleithead opened #620 "July 2016 Port 4 - Drop menuitem from Special parsing rules"
Spec cleanup - no functional change. Not testable.

https://github.com/whatwg/html/commit/7ecbcf1a037449c3d58e26ec704f5cb4cbdcf903

[2016-10-19 22:30] travisleithead opened #621 "July 2016 Port 5 - various "gone async" and redirect issues"
A variety of "make the spec match reality":
- navigation with redirect to fragment would not unload. Testable (no tests provided)
- headers sent on initial request not preserved. Not testable (or testable insofar as headers are sent).
- navigating to destination with redirect to "javascript:" should cause network error. Asserted test results; no test file:

- HTTP methods not changed where expecte

[2016-10-19 22:34] travisleithead opened #622 "July 2016 Port 6 - Fetch spec alignment: destination concept"
Spec harmonization. Not Testable.

https://github.com/whatwg/html/commit/5e8f96a85d182d36c177db0d6fdde58b4ded86d4

[2016-10-19 22:42] travisleithead opened #623 "July 2016 Port 7 - No more valueAsDate fallback from valueAsNumber"
Tested:

https://github.com/whatwg/html/commit/4ac4e10c8d5cc7fad67190365e4f823b64ad085d

[2016-10-19 22:46] travisleithead opened #624 "July 2016 Port 8 - caption element align attribute rendering changes"
To match reality. Tested (see https://github.com/whatwg/html/issues/370):

https://github.com/whatwg/html/commit/4eb7ae27e5f02a1336b06083f70c9b8454a4b0e7

[2016-10-19 22:54] travisleithead opened #625 "July 2016 Port 9 - Merge and review <picture>"
https://github.com/whatwg/html/issues/52

Validate <picture>; it is already merged in HTML5.2, but re-validate the content to ensure it is up to date:
- Additional clarity around srcset/sizes/media attributes: https://github.com/whatwg/html/commit/de58b9ebf9d06dc846f6fe8cd301ae4c6d66c0c8

[2016-10-19 22:57] travisleithead opened #626 "July 2016 Port 10 - Sync handling only for fragment navigations"
Testable; no tests provided.

https://github.com/whatwg/html/commit/10379142cbb138a814d94e24f3e6b14c2439d614

[2016-10-19 22:59] travisleithead opened #627 "July 2016 Port 11 - Worker constructors (use current, not incumbant script)"
Clarity on the mechanics of invoking the constructors. Testable. Tests noted:

https://github.com/whatwg/html/commit/485c76a84611d094839b3b60d13e6e997594800b

[2016-10-19 23:00] travisleithead opened #628 "July 2016 Port 12 - relevant settings object (in script) for pushState/replaceState URL parsing"
Testable: tests indicated:

https://github.com/whatwg/html/commit/b568cf93ac374c440e29e01a2619365dde7c45c8

[2016-10-19 23:02] travisleithead opened #629 "July 2016 Port 13 - Remove document.load()"
Testable (feature detect): Only implemented in Gecko.

https://github.com/whatwg/html/commit/523f7a8773d2ab8a1eb0da6510651e8c5d2a7531

[2016-10-19 23:10] travisleithead opened #630 "July 2016 Port 14 - remove sandboxing support allowfullscreen/allowusermedia"
Removing spec fiction that was never implemented:

https://github.com/whatwg/html/commit/9f6b91cb14a0f497ee5b3e7118ee65e687eaea78

[2016-10-19 23:11] travisleithead commented on #616
Issues NOT created for the following:
https://github.com/whatwg/html/commit/25379fb4d0aadbafd91159cb6dac64e3d56c71be - Wasn't a link in our document anyway.. :-(
https://github.com/whatwg/html/commit/d748b43455dbce1b607a6e85cb34079f278d9de5 - Not in our document (custom elements revision history)
https://github.com/whatwg/html/commit/2ba2ccdd9fefa63c06d7de9c2a5a266c61d763ef - markup correction - n

[2016-10-20 02:22] fititnt commented on #588
These proposals which our group in @WebIWG saying represent our opinion. It's better that they are evaluated by people of other languages, not just us, because they would affect all new documentation additions.

Some points exclusively on line break in text.

## 1. If both final HTML as the source code used by the bikeshed will be used by translators, both must be optimized

The final HTML is easi

[2016-10-20 06:56] r12a commented on #588
@fititnt i'm not sure that it's helpful to use the html issues list to develop ideas about what is the best approach for managing source in translation. As a suggestion, why don't you create a discussion document on your own github repo, and then raise specific requests for the html folks here once you have discussed the ideas more widely with people involved with translation and reached some agre

[2016-10-20 18:12] asurkov commented on #583
I cannot speak for HTML spec, I'm not sure for example, what that headers algorithm is used for, and would it harm anyone if it was split into two: row and column headers. Having said that I think it would be definitely helpful for the accessibility, and would help to synchronize implementations between browsers.

[2016-10-21 13:37] icoffani commented on #588
Hello, I’m also a translator.

A while ago, a small group composed of researchers and developers was under my supervision and they focused on the web’s content. The main group’s goal is to find easy ways to explain to people (especially journalists from websites) the importance of optimizing a platform that produces news and writing clearly there for the people with some kind of disorder.

The lac

[2016-10-21 13:56] LJWatson commented on #605
Thanks for filing this @DavidMacDonald, and @stevefaulkner for filing browser issues.

[2016-10-21 13:56] #605 closed, assigned to nobody

[2016-10-21 18:46] LeaVerou commented on #600
FWIW, I think it's great that we're moving towards attributes for these things instead of having a discrepancy between IDL values and attributes and I hope `<details>` is the first of many. This confuses novices to no end, as you can verify by a simple search on stackoverflow. It also requires new pseudo-classes for every IDL attribute, whereas if the UA manipulates the DOM, attribute selectors ar

[2016-10-21 19:33] anabastos commented on #588
A comment about the last paragraph of the @icoffani. We would like to have contact with other people who have already done translations for other languages to see how we can automate the process of them. It's not about letting them helping us translate to Portuguese.

At the bottom, in the long term this may help our translations, but now it's just about help defining the translation process, from

[2016-10-21 23:55] Dkmister commented on #588
We can have a group that will translate documentations to Spanish, not only Portuguese.

The key point here is to propose changes in how the documentation is written in a easy way to translation.

One of the possible issues is that Portuguese and Spanish are Latin languages . Even though our proposes could be acceptable and largely implemented, some suggestions could not be good to other languages

[2016-10-23 06:18] fititnt opened #633 "How to Build HTML5+ specification for non w3c/html repositories, focus on translations"
Related to #588

---
## Key points
- [ ] 1. Basic instructions on how to build documentation for non w3c/html repositories
- [ ] 2. By default, do not allow be indexed by search engines
- [ ] 3. For forks, should _be easy_ to change branch (i.e. someone translating just one part)
- [ ] 4. If item 1 is too advanced, make it more simple (can be ignored)
## Explanation

For at some point on future al

[2016-10-23 06:37] fititnt opened #634 "How to create diff files between different versions of HTML"
Related to #592 and #588

---

How the file https://github.com/w3c/html/blob/master/diff/html5to51diff.html was created?

cc @arronei

[2016-10-23 19:14] thierryk opened #635 "Add note about proper usage of `tabindex` with skip links"
The warning in section [5.4.3](https://w3c.github.io/html/editing.html#the-tabindex-attribute) by @patrickhlauke is a great addition but I think the following sentence needs to be seriously emphasized:

or may be followed by something like:

Authors must use `tabindex="-1"` onto elements that need to receive focus but are _not meant to be part of the sequential focus navigation_ (i.e. the target o

[2016-10-23 19:28] patrickhlauke commented on #635
I was going to say that this may be unnecessary, as it's mentioned explicitly later on in the same section...but then realised that the note about `tabindex="0"` that was originally in that warning boxout is also just reiterating/reinforcing what's said later on too. So yes, might as well add a further paragraph to the warning as well.

[2016-10-23 19:44] patrickhlauke commented on #635
I mostly used your excellent initial suggestion there in my proposal, with one major difference: I changed the "must" to "should"

[2016-10-23 19:52] thierryk commented on #635
Yeah&mdash;I went back and forth&mdash;"must" is a _big_ word.

As a side note, I think the following may also confuse people:

I think in people's mind, this translates to:  _`tabindex="-1"` is for elements that are not focusable_

[2016-10-23 20:24] patrickhlauke commented on #635
@thierryk good stuff https://github.com/w3c/html/pull/637

[2016-10-23 22:01] #635 closed, assigned to nobody

[2016-10-24 08:55] AndySky21 commented on #613
I suppose it should only be rephrased. Such descriptions usually mean that, when a list is as follows:
`foo, bar , baz`
the spaces are to be considered as part of the separator and not as first/last character of the token itself.

[2016-10-24 09:39] AndySky21 commented on #600
Well, it can be true for `<details>`, but if you just consider form use cases, such as checked checkboxes, you can imagine that content attributes are connected with the `default*` IDL property instead of the ones with the similar name, mainly for the reset algorithm.

[2016-10-24 12:02] chaals commented on #627
This is for HTML or for workers?

[2016-10-24 19:53] travisleithead commented on #585
DOM4 and DOM Living Specification diverged. Since DOM4 is out-of-date (and no new re-publication has been scheduled at W3C), we are using the DOMTokenList defined here for now: https://dom.spec.whatwg.org/#interface-domtokenlist

[2016-10-24 19:53] #585 closed, assigned to nobody

[2016-10-24 20:18] travisleithead commented on #506
@chaals' response makes sense to me.

[2016-10-24 20:18] #506 closed, assigned to nobody

[2016-10-24 20:28] travisleithead commented on #365
This is documentation for historical archives--I see no reason to keep this issue open.

[2016-10-24 20:28] #365 closed, assigned to nobody

[2016-10-24 21:04] travisleithead opened #639 "July 2016 Port 15 - traverse history linkability and clarifications"
Editorial cleanup and clarifications - Not independently testable.

https://github.com/whatwg/html/commit/b9c90431ad4c8aa583aee1691a6a1bd355b68b53

[2016-10-24 21:12] travisleithead opened #640 "July 2016 Port 16 - script fetching integration cleanup"
https://github.com/whatwg/html/commit/b4f40e72fcca8a13eefa8a2dd06258378e76fcb7

Reduces number of Fetch integration points by consolidating the concepts. Not testable--editorial. (see https://github.com/whatwg/html/issues/1485)

(Note the importScripts consolidation part will not included, as Workers is not in our document. @cynthia ) see https://github.com/whatwg/html/issues/1151.

Includes some

[2016-10-24 21:23] travisleithead opened #641 "July 2016 Port 17 - More DOM standards alignment integration points"
Not directly testable. Alignment question. Probably better to stay in sync, than avoid this port and hold to the W3C DOM4 spec, which has no current plan for taking upstream changes.

https://github.com/whatwg/html/commit/5b9c5d5a39c38b08e5a5c9334e14804f063235b2

[2016-10-24 21:30] travisleithead opened #642 "July 2016 Port 18 - Drop validation requirements for <template>"
Per discussion in https://github.com/whatwg/html/issues/541, web author needs are varied and complex around the `template` tag. To avoid validation woes, and with some tacit community support, WHATWG spec dropped validation entirely so that "anything goes" in the `template` now. Suggest taking this change for alignment and it seems good to match the existing ecosystem.

Testable through conformanc

[2016-10-24 21:34] travisleithead opened #643 "July 2016 Port 19 - Apply current entry in pushState earlier"
Needs tests--will validate the dispatch of pushState in synchronous scenarios. (see details at https://github.com/whatwg/html/issues/1511) Change re-orders the algorithms to match for spec consistency. Not sure if this matches reality better or not.

https://github.com/whatwg/html/commit/dd2166c88e6e01439fcfefb03817184cd5b116dc

[2016-10-24 21:53] travisleithead opened #644 "July 2016 Port 20 - More cleanup from style[scoped]"
https://github.com/whatwg/html/commit/2acc1001fad91e5ee67e1a90e6607a614005d141

Style elements should not be "flow" content. (Only testable via validation.)

[2016-10-24 21:56] travisleithead opened #645 "July 2016 Port 21 - Contributor update"
Editoral - fix contributor's name

https://github.com/whatwg/html/commit/b5e6458f94efb38c3286670e68d387d37037bfd7

[2016-10-24 22:04] travisleithead opened #646 "July 2016 Port 22 - Drag events are "composed""
Default state for Shadow DOM (DOM) Event dispatch for whether the event crosses shadow tree boundaries. Each event will declare how it is composed. This sets the default for DataTransfer events (composed is true). Testable through Shadow DOM event dispatch.

https://github.com/whatwg/html/commit/b5d23a42277647ef2abc29e0842f215ab57ca9de

[2016-10-24 22:29] LeaVerou commented on #600
Checkboxes is exactly the case where I've seen people get immensely confused, and not just complete newbies either. When we added `:checked` to CSS, there were tons of people asking around why can't they just use `[checked]`. There are very few cases where you actually want the default value, and that can be solved with a separate IDL attribute. Anyway, the ship has sailed for checkboxes, but new

[2016-10-24 22:38] AndySky21 commented on #600
I don't actually understand how a thing which is richly documented can still be confusing.

`checked` property does not reflect the `checked` content attribute. Simple as that.

Now, a language, either in programming or in markup, solves confusion with consistency too. May it be appreciated or not, `checked` and `selected` work that way. In those cases the fact is useful for the reset algorithm. `

[2016-10-24 23:10] travisleithead opened #648 "July 2016 Port 23 - refactor checks for allow-modals sandbox flag"
Addresses unnecessarily complex prose for getting the document's sandboxed modals flag (see https://github.com/whatwg/html/issues/1206). Editorial (not testable).
The other change is how the actual value is retrieved in some corner case scenarios. (see https://github.com/whatwg/html/pull/1473#issuecomment-232441391). This was tested (results are described in the bug), and the spec is aligning with

[2016-10-24 23:11] travisleithead commented on #616
More issues that were NOT created:
https://github.com/whatwg/html/commit/37b83e948fee1a010c0af84e79ead9394a8f3c93 - flag was not present in W3C spec.
https://github.com/whatwg/html/commit/6c96beabfa41d6d28ab23633966b82c5cdb9fd94 - change appears to already be present in HTML 5.2.
https://github.com/whatwg/html/commit/8f34fc491631f5e940d50950567a4cecee104eec - changed editorial text not found in HT

[2016-10-25 05:59] fititnt commented on #310
An advantage of English over other languages is that it is much easier to find tools to evaluate this type of improvement.

I suggest the following:
- Atom Editor plugin: https://github.com/gepoch/linter-write-good
- Shell: http://matt.might.net/articles/shell-scripts-for-passive-voice-weasel-words-duplicates/
- Perl: https://github.com/devd/Academic-Writing-Check
- NodeJS: https://www.npmjs.com/p

[2016-10-25 22:45] travisleithead opened #649 "July 2016 Port 24 - Missing onloadend IDL and content attribute"
Added for parity/consistency. In issue https://github.com/whatwg/html/issues/1551 a test is noted confirming that this event handler is not implemented in any major UA yet.

https://github.com/whatwg/html/commit/79ae99fe5bc2026301cb5b539588e29aac67a0e1

[2016-10-25 22:55] travisleithead opened #650 "July 2016 Port 25 - Add examples of <hgroup>"
Editorial (not testable). The linked issue (from the commit) has a good discussion that motivated this change, but we should probably have a second look at this before porting... @stevefaulkner

https://github.com/whatwg/html/commit/648ae64bb6cf61487bee534df2107c33bbd9dcbe

[2016-10-25 22:56] travisleithead commented on #616
Additional issues NOT create:
https://github.com/whatwg/html/commit/6c76b617d2b45326afea2625d174ce2fd5ab6423 - relevant to Canvas APIs only (not in 5.2)
https://github.com/whatwg/html/commit/45e2322598e041bd7d0d57b71f04f68c409854ac - Shared worker upstreaming. Not relevant for 5.2, but may be of interest to @cynthia
https://github.com/whatwg/html/commit/91f1919249bc75e4a6491ee7ec650c9843f9da50 - T

[2016-10-26 10:14] cynthia commented on #640
I'll take a look at this.

[2016-10-26 13:09] chaals commented on #650
We don't have an `hgroup` element, so this is moot. If we should, that would be a different issue.

[2016-10-26 13:09] #650 closed, assigned to stevefaulkner

[2016-10-26 23:05] chaals commented on #600
@AndySky21 wrote:

Yeah, except people often don't - in many cases don't really understand how to - read that documentation to understand it. And by and large we who write the specs should be honest that our explanations aren't always that clear in the first place.

Consistency is good, all other things being equal. But they aren't. In particular, IDL attributes reflecting content is a _very_ comm

[2016-10-27 00:02] LeaVerou commented on #600
If you are designing any interface that is going to be used by humans (and structured languages are part of that set) you need to stop right now and repeat after me: **People do not read documentation**. This is the first and most basic rule of usability, so get it deep in your head. **People do NOT read documentation**

Even with programming languages, where you can’t avoid it to a degree, the va

[2016-10-27 00:20] AndySky21 commented on #600
Sometimes I really ask myself why we still have old useless things like documentation, specifications and the like...
`</sarcasm>`

[2016-10-27 05:18] LeaVerou commented on #600
Feel free to complain about how users function, but the users won't change, and it will make you grumpier :)

[2016-10-27 10:21] chaals commented on #600
Yeah, sadly Lea is right. We've learned the hard lesson several times on the Web that if you rely on people reading the documentation first, you're doomed to fail, and the price of that is whatever it means that people did things the way they were always going to do them…

So the task is to figure out - make as educated and thoughtful a guess as we can - how people are going to interpret stuff, an

[2016-10-27 10:28] AndySky21 commented on #600
If this is the direction this thread is going to take, I suppose it would be better at this point not to change the current situation. If some authors have decided to implement `<details>`, they could have used the `open` attribute as a styling hook. Such a change would break those uses in a manner difficult to understand/maintain.

[2016-10-27 12:00] chaals commented on #634
Probably with http://services.w3.org/htmldiff

[2016-10-27 12:01] chaals commented on #592
Done in #651

[2016-10-27 12:01] #592 closed, assigned to chaals

[2016-10-27 16:05] #489 closed, assigned to nobody

[2016-10-27 23:47] travisleithead opened #653 "Activation behavior doesn't necessarily result in a click event in browsers..."
From https://github.com/w3c/html/pull/637

Action item is to note an at-risk item for the section about firing an event for activation, as we intend to keep that in the spec, but want to be clear that it's not implement that way by all UAs...

We should create some tests for these if they don't already exist.

[2016-10-27 23:49] travisleithead commented on #653
@chaals wrote:

That works too.

[2016-10-28 00:01] patrickhlauke commented on #653
For cross-reference: https://github.com/whatwg/html/pull/1952#issuecomment-255712961

[2016-10-28 01:24] fititnt commented on #634
Thanks. I will describe here for who is interested.

## How to use for multi part

To see diff of, for example, new changes to HTML 5.2 (https://www.w3.org/TR/html52/textlevel-semantics.html#textlevel-semantics) from Text-level semantics from HTML 5.1
- Go to http://services.w3.org/htmldiff
-  Address of reference document: https://www.w3.org/TR/html51/textlevel-semantics.html#textlevel-semantics

[2016-10-28 22:06] travisleithead opened #654 "July 2016 Port 25 - ES Modules text alignment"
Integration with TC39's spec--changes the phase used to invoke modules. Not an observable change--not testable.

https://github.com/whatwg/html/commit/8e18308e345cf0f0a0b5ee75153c5513355ae710

[2016-10-28 22:09] travisleithead opened #655 "July 2016 Port 26 - Couple of editorial cleanup"
Editorial alignment that improves readability (not testable):

https://github.com/whatwg/html/commit/c9b8b1759bf86ae0ce2bd2bce46e082b1f555d64

Use of various terms consistently: form field -> text control, etc. (not testable):

https://github.com/whatwg/html/commit/f5cf21cbae5a6227221a0eba62688cfbc198256b

[2016-10-28 22:21] travisleithead opened #656 "July 2016 Port 27 - Remove replace arg to window.open()"
Alignment to real-world implementations. Tests (http://software.hixie.ch/utilities/js/live-dom-viewer/?saved=4320 ) show this is only supported in IE/Edge. No other implementations are adding it, so time for the feature to go.

https://github.com/whatwg/html/commit/f444d452cb062ba848570c7b69e6cfcf8aac5c62

[2016-10-28 22:24] travisleithead opened #657 "July 2016 Port 28 - frameElement origin check to use current settings object"
This is a part of the master plan to minimize usage of "entry settings" object (https://github.com/whatwg/html/issues/1431). Not testable according to the usage scenario.

https://github.com/whatwg/html/commit/921499fbc6d84424ebf569fe58ad82dabc9b59a0

[2016-10-28 22:27] travisleithead opened #658 "July 2016 Port 29 - update pushState/replaceState origin check"
We should take this for alignment as the browsers move toward interop.

https://github.com/whatwg/html/commit/60f84adcae2d252fc63afa6b65686a4590d28734

[2016-10-28 23:16] travisleithead commented on #657
The above is for frameDocument. Should also take the following related changes:

https://github.com/whatwg/html/commit/413c1ccc43c9b16ff5c73585092f8721dea305c7

https://github.com/whatwg/html/commit/a6a1b714d2b3288fbf88528ac9182f9263b92bc8

[2016-10-28 23:16] travisleithead commented on #616
Not taken:
https://github.com/whatwg/html/commit/04e90c55c7526d8c96d20159bb23586670b93fd2 - custom elements have been upstreamed to the HTML spec, this is a tweak to handle mis-behaving constructors. Not taking as we aren't up-streaming custom elements into HTML.
https://github.com/whatwg/html/commit/b598d4f873fb8c27d4b23b033837108edfbc3d75 - Remove input type=range multiple (already removed in W3

[2016-10-29 08:39] stevefaulkner commented on #268
I remembered what this was about. When an `img` without an `alt` is within a `<figure>` with a non-empty `<figcaption>` screen reader software should announce the presence of the image, as in its role "graphic" or whatever the particular AT uses to identify the image. This advice is to encourage AT to present users with some meaningful info about an image (its presence + the caption text contained

[2016-10-29 13:37] #268 closed, assigned to stevefaulkner

[2016-11-01 02:03] adanilo opened #659 "June 2016 WHATWG commit review"
Review commits during the month of June and open issues for those that should be ported to W3C.

See editor actions: https://lists.w3.org/Archives/Team/team-html-editors/2016Oct/0017.html

See also issue #616 for July

[2016-11-01 10:14] mulder21c opened #660 "Which branch should I check out for translation?"
Hi, I am a web developer in Korea.
I want to translate the HTML 5.1  specification, so I forked the repository(github.com/w3c/html), and checked out the 5.1  branch, and then I am currently  translating with include files in section directory. (I am editing that files, then exporting with bikeshed and multiple.js)

I noticed that the 5.1 specification changes to the recommendation.
But, it is stil

[2016-11-01 11:02] chaals commented on #660
Hi,

First, thank you for the offer to translate. Please also follow the steps outlined in https://www.w3.org/Consortium/Translation/ (mostly, send an email to a mailing list to announce that you are working on a translation)

if you are trying to translate the Recommendation then you should check out the 5.1 branch. You will discover that there are a few small things - perhaps the status, probabl

[2016-11-01 16:44] siusin commented on #660
Hey @mulder21c,

Yep, most of the changes were in the status, the changes section and the refs section IIRC, also a [editorial fix](https://github.com/w3c/html/commit/7a298e2841cc3c60ef7169d0387f58c874e8b8d8) on a bad example.

If it helps, I can create a "published" folder in the 5.1 branch, and upload the stable version of HTML 5.1.

[2016-11-01 21:25] adanilo commented on #660
The "published" folder is a good idea, agreed. Closing now.

[2016-11-01 21:25] #660 closed, assigned to nobody

[2016-11-01 21:29] #634 closed, assigned to nobody

[2016-11-01 21:32] chaals commented on #633
@siusin can you help explain the build process?

[2016-11-01 23:02] mulder21c commented on #660
Thanks for your replies and advices, @chaals, @siusin .

Your comments are sufficient to know what I should do. :-)

I think it would be helpful if I can easily compare the difference between any files that is in the "published" folder and any files that is published using bikeshed (if that file is "single-page.html" or are splitted files) through git-diff.

[2016-11-02 04:06] jasonkiss opened #661 "The note re <dt> has reference to definition and term reversed"
[The note for the `dt` element](https://www.w3.org/TR/html51/grouping-content.html#the-dt-element) says:

The dt element never represents a definition. It can represent a term with a definition. Similarly, the dfn element never represents a definition, but rather an instance of a term with a definition.

Recommended changes to the note:

[2016-11-02 12:52] prlbr opened #662 "small typo in section “Embedded content”"
There’s a small typo in HTML5.1 and the 5.2 draft, a superfluous `<` character after the word `picture`:

https://www.w3.org/TR/html/semantics-embedded-content.html#ref-for-queuing-7
https://w3c.github.io/html/semantics-embedded-content.html#ref-for-queuing-7

[2016-11-02 17:58] dckc opened #664 "HTML History: no proposal was "rejected" at a 2004 workshop"
After discovering this bit:

-- [history section](https://www.w3.org/TR/2016/REC-html51-20161101/introduction.html#introduction-history)

I reviewed the [summary of the relevant workshop](https://www.w3.org/2004/04/webapps-cdf-ws/summary) looking for such a decision, which would be quite unusual -- I don't think [W3C workshops](https://www.w3.org/2003/08/Workshops/archive) have mandate to make any

[2016-11-02 18:04] stevefaulkner commented on #664
@dckc FYI - it's here https://github.com/w3c/html/blob/html5.1/sections/introduction.include

[2016-11-03 04:48] adanilo opened #666 "June 2016 Port 1 - Extract bits out of a javascript URL through serialization"
https://github.com/whatwg/html/commit/4113965994bb5d0c650bae13f28883d525a34002

[2016-11-03 04:51] adanilo opened #667 "June 2016 Port 2 - Editorial: "allowed to show a popup" → "triggered by user activation""
https://github.com/whatwg/html/commit/797f412eb78fd88bd5d0a1c098d17fbf1736c188

[2016-11-03 04:56] adanilo opened #668 "June 2016 Port 3 - Editorial: cross-reference the encoding names used in HTML"
https://github.com/whatwg/html/commit/79250b145bdcdbb5632f4a01fd63003ccad530a8

[2016-11-03 05:02] adanilo opened #669 "June 2016 Port 4 - Fix wording mistake in parsing a character reference"
NB: Needs May ports before this can be applied. https://github.com/whatwg/html/commit/918a56e5d1e9e86695770bf10c1893dd7bae6946

[2016-11-03 05:09] adanilo opened #670 "June 2016 Port 5 - Fix and clarify child browsing context name property set definition"
NB: Relies on porting change #1312 from May before applying. https://github.com/whatwg/html/commit/a2bde183aa5eddc3a58c4852ac9f4c3431ea86fa

[2016-11-03 05:24] adanilo commented on #659
Not sure what to do with https://github.com/whatwg/html/commit/806bc62caaee78a696a6c929558a5b801cceeec4
It's dependent on heavily reworded sections that reference Fetch as well. (Helpful) Suggestions welcome.

[2016-11-03 05:29] adanilo opened #671 "June 2016 Port 6 - Fix races between tasks resolving/rejecting play promises and them be…"
NB: This requires a lot of other rewording in the media loading section to be applied. https://github.com/whatwg/html/commit/18be384bc7c9c1a7f3201a73e870682844addf3a

[2016-11-03 05:32] adanilo opened #672 "June 2016 Port 7 - Editorial: wrap "Content-Type/text/html" in backticks"
Port https://github.com/whatwg/html/commit/e708109224a46276df1d797e079804a5eb03324f

[2016-11-03 05:33] adanilo opened #673 "June 2016 Port 8 - Define the :placeholder-shown pseudo-class for HTML elements"
https://github.com/whatwg/html/commit/52d529d35464be2c1a2d2f0d0c0f76d4a49bb9dd

[2016-11-03 05:35] adanilo opened #674 "June 2016 Port 9 - Clarify samp element example and add a third one"
Port https://github.com/whatwg/html/commit/4309d4b1b4855b9425a60d1abc8a8b1381fcc903

[2016-11-03 05:38] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/f352200eb1265b228f66e2ebc8a10b977a3f68fd - style rules we don't use

[2016-11-03 05:40] adanilo opened #675 "June 2016 Port 10 - Only allow form submission for forms in a shadow-including document"
Port https://github.com/whatwg/html/commit/4bdac7a69ebd8a65ed7a8f198d24515c95a07301

[2016-11-04 00:00] adanilo opened #677 "June 2016 Port 11 - Define the document's referrer in terms of Fetch"
Port https://github.com/whatwg/html/commit/148dcd7d8214433b80de92b19d27cc5de128f849

NB: This includes reference to FETCH document which will need pruning.

[2016-11-04 00:01] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/2328ccf97b80cba7835df3dc5d1a687d51fbfcf4 - belongs in Custom Elements spec.

[2016-11-04 00:03] adanilo opened #678 "June 2016 Port 12 - Clarify the purpose of timer nesting level"
Port https://github.com/whatwg/html/commit/e37a80d158388219e33529c83794035dee3b0dfa

[2016-11-04 00:05] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/4e632a82728d68a8a6bd32f02083762b7792ddf7 - custom elements again

[2016-11-04 00:06] adanilo opened #679 "June 2016 Port 13 - Fix missing punctuation in alt="" guidelines section"
Port https://github.com/whatwg/html/commit/ac406e3e659898bf0d6ed75231494452f6f463e2

[2016-11-04 00:08] adanilo opened #680 "June 2016 Port 14 - Refine some autcomplete attribute examples"
Port https://github.com/whatwg/html/commit/05f7578603a94ee28458c97cd838e73f02f6cfc3

[2016-11-04 00:08] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/5798c66579b8076660178f484568adc67421dc23 - custom elements

[2016-11-04 00:09] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/270b5f3e48411063c431fdf98dbe41766ddc20b1 - custom elements

[2016-11-04 00:10] adanilo opened #681 "June 2016 Port 15 - Make :target definition sticky based on last scroll-to-fragment"
https://github.com/whatwg/html/commit/1488bb6f765e41558bb221dc247012a35d88527b

[2016-11-04 00:12] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/c2dfb033b144775e37975c6740a2f5d7842e1b16 - custom elements

[2016-11-04 00:14] adanilo opened #682 "June 2016 Port 16 - Add examples for non-roundtrippable HTML"
Port https://github.com/whatwg/html/commit/970ef7eb56bdb1fa709b7b084818597a2b686bfa

[2016-11-04 00:16] adanilo opened #683 "June 2016 Port 17 - Treat (valid) blob: URLs as local in the resource fetch algorithm"
https://github.com/whatwg/html/commit/f8bc379091f3afc71aa4133a05176a69bb01416e

[2016-11-04 00:18] adanilo opened #684 "June 2016 Port 18 - Cleanup "create a new browsing context""
https://github.com/whatwg/html/commit/f139279fb116bbde5d5ee3d257d21778cd774144

[2016-11-04 00:22] adanilo opened #685 "June 2016 Port 19 - Clarify what "it" refers to in the fragment parser"
Port https://github.com/whatwg/html/commit/ca745234e4fe7bc0e0505d098b0f65405baf12e5

NB: The parsing algorithm being edited here differs a lot between the specs, need to ratify dependencies before applying.

[2016-11-04 00:24] adanilo opened #686 "June 2016 Port 20 - Allow all HTML element constructors to be subclassed"
https://github.com/whatwg/html/commit/4742b18559a6968213b680ea0b0521eae17de7e1

NB: This is for custom elements in reality

[2016-11-04 00:25] adanilo opened #687 "June 2016 Port 21 - Add the "preload" link type"
Port https://github.com/whatwg/html/commit/d013cd1c329162270a219f450b88aa0dbea9d9bb

[2016-11-04 02:28] adanilo opened #688 "June 2016 Port 22 - Editorial: Use consistent spacing for "Web IDL""
https://github.com/whatwg/html/commit/405a49c58954184b5a3f25ecf78bf84017a1bce3

[2016-11-04 02:30] adanilo opened #689 "June 2016 Port 23 - Clarify script encoding fallback"
Port https://github.com/whatwg/html/commit/ffbf252f5b1c9793fd59de9e64045ddebfabf982

[2016-11-04 02:32] adanilo opened #690 "June 2016 Port 24 - Fix incumbent settings object definition and add examples"
https://github.com/whatwg/html/commit/f97c3e478654114bd4c9cc8587418a5519f9eb09

[2016-11-04 02:33] adanilo opened #691 "June 2016 Port 25 - Fix javascript: URL example explanation"
https://github.com/whatwg/html/commit/cdf82d5def226004bb90479c284c22e329a4edbd

[2016-11-04 02:34] adanilo opened #692 "June 2016 Port 26 - Editorial: fix typos"
https://github.com/whatwg/html/commit/8781e190d1c1d9a8abb4e9cf7ca1b34e0d64f93a

[2016-11-04 02:35] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/9ac1071abe7fca185604b56b89cb969ea34e39db - custom elements

[2016-11-04 02:36] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/69847259ecd9b3166b88e24ab2d5f6dd8bd59aec - custom elements

[2016-11-04 03:02] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/27fc5542fde42cbac90fca94a36f1580b67c5f01 already done

[2016-11-04 03:13] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/2340ce049f0a0acb3fff6f1a2c89973054ab4dab - canvas

[2016-11-04 03:14] adanilo opened #693 "June 2016 Port 27 - Editorial: fix typo in "Integration with IDL""
Port https://github.com/whatwg/html/commit/4bb63cf6bff37b1e8ca2815db0ff5cec202af9ea

[2016-11-04 03:15] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/13cf79d2e36b390b223ef77ac6a392f08d57ff69 - irrelevant

[2016-11-04 03:18] adanilo opened #694 "June 2016 Port 28 - Allow dashes in comments"
This is https://github.com/whatwg/html/commit/518d16fdc672d1023dcfd2847d86f559d13a842f which will need manual review. Some of the content is already in the W3C spec, some not. Edit with care.

[2016-11-04 03:18] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/6e040bfecceb8aed7949abda383656e0bbf449e0 - custom elements

[2016-11-04 03:22] adanilo opened #695 "June 2016 Port 29 - Define initial about:blank document better"
Port https://github.com/whatwg/html/commit/8edc92d6e42878662c7f9f75a43352bd341ae01d which also appears to be dependent on earlier commits.

[2016-11-04 03:24] adanilo opened #696 "June 2016 Port 30 - Use fullscreen logic for initial about:blank documents too"
Related to issue #695

Port https://github.com/whatwg/html/commit/c2a8d605e0115c80d1ccb4b15371ecaa56a33e30

[2016-11-04 03:25] adanilo opened #697 "June 2016 Port 31 - Cross-origin objects: do not wrap JavaScript functions"
Port https://github.com/whatwg/html/commit/db361b608157b5cf9fd0d491d7dc76cdce80380b

[2016-11-04 03:26] adanilo opened #698 "June 2016 Port 32 - Add a playsinline attribute to <video>"
Port https://github.com/whatwg/html/commit/6e17d01489060988451fc6607089ef4e2d00bbfa

[2016-11-04 03:27] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/3fc5b01b12cff258984d414039b2841e48603892 - custom elements

[2016-11-04 03:27] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/c8afae01320a3b7161273105193b61cb2b9caf3c - canvas

[2016-11-04 03:28] adanilo opened #699 "June 2016 Port 33 - Allow delaying autoplay until video elements become visible"
Port https://github.com/whatwg/html/commit/8ebd581ea848c476368e5f25ee3a3c31803b29fa

[2016-11-04 03:29] adanilo opened #700 "June 2016 Port 34 - HTMLMediaElement.muted=false may pause the element."
Port https://github.com/whatwg/html/commit/72695315c124b0fb42103d5dc484ca7e51dd2d1e

[2016-11-04 03:30] adanilo opened #701 "June 2016 Port 35 - Allow comments to end with <!-->"
Port and check: https://github.com/whatwg/html/commit/1633b9aadab815e6daba17950c4ff81a80b896ed

[2016-11-04 03:30] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/657d3b2b97a0fd5ff1c353857f5b052f41bd3e0d - custom elements

[2016-11-04 03:31] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/101f0cfb9d857cb93a9f1317b8656ab671c14fd0 - we use bikeshed, unnecessary

[2016-11-04 03:32] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/2cfb8e3f03d3166842d2ad0f661459d26e2a40eb - canvas

[2016-11-04 03:33] adanilo opened #702 "June 2016 Port 36 - Integrate allowusermedia"
Port https://github.com/whatwg/html/commit/688df431630fe7d9a0518e402c1f1543d0f493a0

[2016-11-04 03:33] adanilo commented on #659
Skip https://github.com/whatwg/html/commit/a57c88711c995356e44d019f5bd81d0cdedac2bf - custom elements

[2016-11-04 03:35] adanilo opened #703 "June 2016 Port 37 - Editorial: fix typo in running a module script"
Port https://github.com/whatwg/html/commit/4b9a96849c4a9a78c8cae9febe5eeb08182ce7e0

[2016-11-04 15:30] #653 closed, assigned to nobody

[2016-11-04 18:18] bzbarsky opened #705 "document.domain setter is broken"
It always throws.  Please compare to the whatwg version and fix.

[2016-11-04 20:06] bzbarsky commented on #705
Note that the missing "end of" in step 7.2 is the obvious problem here, but there may be other issues; I didn't compare very carefully....

[2016-11-04 21:18] stevefaulkner commented on #705
@bzbarsky so I am clear is the variance in the algorithm between
https://w3c.github.io/html/browsers.html#relaxing-the-same-origin-restriction and https://html.spec.whatwg.org/multipage/browsers.html#relaxing-the-same-origin-restriction ?

[2016-11-04 22:09] bzbarsky commented on #705
Yes.  The former is wrong; the latter is right.

[2016-11-05 08:15] stevefaulkner commented on #705
@travisleithead @adanilo @cynthia  et al, I compared the 2 document.domain setter algorithms from the URLs above and could not see any difference, can you review, thanks

[2016-11-05 09:57] stevefaulkner commented on #705
note  the 5.1 rec https://www.w3.org/TR/html51/browsers.html#relaxing-the-same-origin-restriction does not differ  from the 5.2 working draft

[2016-11-05 11:01] chaals commented on #664
... and we would be very grateful if you do propose the edit directly :)

[2016-11-05 14:16] stevefaulkner commented on #606
Coming back to this:
1. After searching, I could not find any implementations of the algorithm for delineating `address` information scope based on its position in the DOM. I consider this should be dropped as it adds unnecessary complication to what the address element represents without adding practical utility to its semantics. Can anyone provide any data on the algorithms use?
2. While the cur

[2016-11-05 14:16] chaals commented on #625
Doesn't seem to change any conformance requirements.

[2016-11-05 14:17] chaals commented on #629
If it only works in Gecko, it's not ready for integration…

[2016-11-05 15:12] chaals commented on #606
I agree that scoping `address` to a section rather than the page is something we should drop.

If we widen the semantic so it covers any address, as well as "information about the owner of the page" - a lot of which is _not_ a physical address, I think we will unhelpfully overload the semantics, making the element ambiguous. I think that's actually a bad idea.

I agree we should point to RDFa/micr

[2016-11-05 15:14] chaals commented on #582
:( Didn't get done. New milestone.

[2016-11-05 15:15] chaals commented on #380
Missed the milestone. Rescheduling

[2016-11-05 15:16] chaals commented on #335
Didn't happen. @travisleithead I've assigned it to the next-but one draft, but feel free to get it done earlier :)

[2016-11-05 15:17] chaals commented on #550
@travisleithead re-scheduled. Please check.

[2016-11-05 15:45] chaals commented on #581
Gave this a concrete milestone.

[2016-11-05 15:58] chaals commented on #437
@tidoust, ping? Are there implementations, tests, enough interop to set a concrete milestone for this?

[2016-11-05 15:59] patrickhlauke commented on #606
Perhaps a bit radical, but: what about dropping `address` altogether? Is there any real-world advantage at the moment to the use of the element in its vague current form that is not better fulfilled by more strict/structured RDFa/microdata/etc ?

[2016-11-05 16:04] chaals commented on #159
We added `requestAnimationFrame()` in 5.1 with #422. Think we can close this - #375 is the remaining feature request and is open, although perhaps it should be moved to incubation for now.

[2016-11-05 16:04] #159 closed, assigned to plehegar

[2016-11-05 16:06] chaals commented on #19
This doesn't **break** things in Edge, but does in other browsers. Moving to incubation - can reopen if there is some movement.

[2016-11-05 16:06] #19 closed, assigned to nobody

[2016-11-05 16:09] chaals commented on #33
@stevefaulkner can we close this?

[2016-11-05 22:32] stevefaulkner commented on #33
@chaals, yes

[2016-11-05 22:32] #33 closed, assigned to stevefaulkner

[2016-11-06 03:36] fititnt opened #707 "`html5.1` branch & bikeshed FATAL ERROR"
`html5.1` branch (HTML 5.1 W3C Recommendation) apparently have some bikeshed errors, and ideally should be tested by a different to reconfirm if is not just my mistake. I used the same deploy scripts with a few changes,

- **Travis-CI build log**: https://travis-ci.org/fititnt/html51-translation-testing/builds/173461728
- **Repository tested**: https://github.com/fititnt/html51-translation-testing

[2016-11-06 18:45] dckc commented on #664
What's next? Do I close this? Let's try it and see...

[2016-11-06 18:45] #664 closed, assigned to nobody

[2016-11-07 08:19] tidoust commented on #437
Hello @chaals, sandboxing tests for this flag are there:
- [Sandboxing: starting a presentation from a nested context succeeds when allow-presentation is set](http://w3c-test.org/presentation-api/controlling-ua/startNewPresentation_sandboxing_success-manual.html)
- [Sandboxing: starting a presentation from a nested context fails when allow-presentation is not set](http://w3c-test.org/presentation-

[2016-11-07 11:46] chaals commented on #691
Where is the dependent issue for the algorithm update?

[2016-11-07 11:47] chaals commented on #687
see also #160

[2016-11-07 12:08] chaals commented on #679
The example doesn't exist so this is irrelevant.

[2016-11-07 12:08] #679 closed, assigned to nobody

[2016-11-07 12:18] chaals commented on #595
Was this fixed by #611 - or do you want a better fix?

[2016-11-07 12:24] chaals commented on #662
Fixed

[2016-11-07 12:24] #662 closed, assigned to nobody

[2016-11-07 12:33] chaals commented on #6
ping?

[2016-11-07 12:37] chaals commented on #170
We have the Note regarding "things that extend/modify HTML". @adrianba assigning to you - is there more we need to do here to document how we decide to add stuff in or leave it out, or should we just close this?

[2016-11-07 14:09] dontcallmedom commented on #705
in case this helps, here is the visual diff for this specific algo
![html-browsers-diff](https://cloud.githubusercontent.com/assets/216410/20060571/22732e26-a4fc-11e6-8068-617291be242e.png)
 generated by htmldiff (can't do it online, it seems to be too resource intensive)

The critical piece in the step 7.2. is that is missing _the end_ of `effectiveDomain`.

[2016-11-07 14:17] #705 closed, assigned to cynthia

[2016-11-07 15:24] #692 closed, assigned to chaals

[2016-11-07 15:24] #693 closed, assigned to chaals

[2016-11-07 15:50] chaals opened #711 "THings described as defined in DOM link to Web IDL"
In  it says:

But the entire list links to heycam's WebIDL repo.

[2016-11-07 17:48] r12a commented on #660
postscript: chaals, i wonder whether we could use a 'translation' label for things like this, since they aren't really issues of the review comment type, and this didn't really need to be notified to the i18n WG (unless i missed something)?

[2016-11-07 17:53] cynthia opened #712 "May 2016 Port 1 - Fix form submission for the data URL scheme"
https://github.com/whatwg/html/commit/e2d80d9285976c6c38bda188c59e97456006d0a3

Fix form submission for the data URL scheme
Remove "Post to data:" form submission feature as it is neither
implemented nor useful. And adjust the GET action to mutate the URL
as it that is what implementations do and is marginally more useful
than just navigating to the URL.

* Upstream: whatwg/html@e2d80d9285976c6c38

[2016-11-07 17:54] cynthia opened #713 "May 2016 Port 2 - Clean up language around form submission and URLs"
https://github.com/whatwg/html/commit/69ea9df17bf1d7d70a2014c6d2aaf16670683feb

Clean up language around form submission and URLs
Also fix a bigger issue where we have an Otherwise clause without a
leading If clause. Pass encoding always as parameter.

* Upstream: whatwg/html@69ea9df17bf1d7d70a2014c6d2aaf16670683feb

[2016-11-07 17:54] cynthia opened #714 "May 2016 Port 3 - Change IDL for OnErrorEventHandlerNonNull from column to colno"
https://github.com/whatwg/html/commit/4820c3cad60e8e55176b27d1e7249fc59ee9b22c

Change IDL for OnErrorEventHandlerNonNull from column to colno
Followup for whatwg/html@9f5fd3e

Ref. w3c/web-platform-tests#3079 (comment)

* Upstream: whatwg/html@4820c3cad60e8e55176b27d1e7249fc59ee9b22c

[2016-11-07 17:55] cynthia opened #715 "May 2016 Port 4 - Move scroll position restoration after popstate"
https://github.com/whatwg/html/commit/98895af2179ad879da9fa57983ab9589251f7950

Move scroll position restoration after popstate
This fixes whatwg/html#39, given that the majority of browsers now match the
popstate, restore position, hashchange order.

* Upstream: whatwg/html@98895af2179ad879da9fa57983ab9589251f7950

[2016-11-07 17:56] cynthia opened #716 "May 2016 Port 5 - Add allow-orientation-lock to sandbox flags"
https://github.com/whatwg/html/commit/8f0f73c1b061a8ccee57c6878d8474b43c73aaeb

Add allow-orientation-lock to sandbox flags
Fixes w3c/screen-orientation#69.

* Upstream: whatwg/html@8f0f73c1b061a8ccee57c6878d8474b43c73aaeb

[2016-11-07 17:56] cynthia opened #717 "May 2016 Port 6 - Add allow-presentation to sandbox flags"
https://github.com/whatwg/html/commit/0678e3de01a3ef83c5f6f0c017e7464ede1d8ec1

Add allow-presentation to sandbox flags
Fixes w3c/presentation-api#299.

* Upstream: whatwg/html@0678e3de01a3ef83c5f6f0c017e7464ede1d8ec1

[2016-11-07 17:57] cynthia opened #718 "May 2016 Port 7 - Regression fix: add back origin check for shared workers"
https://github.com/whatwg/html/commit/18c891f1a300a336d3df5b76fdae3b1d77b0b468

Regression fix: add back origin check for shared workers
Shared workers always needs to perform a same-origin check since if the
SharedWorkerGlobalScope already exists, no fetching is done, so we
cannot count on fetching to do the same-origin check. Additionally,
module workers allow cross-origin fetches, but we still

[2016-11-07 17:57] cynthia opened #719 "May 2016 Port 8 - Reduce the number of Window objects exposed on the Window object"
https://github.com/whatwg/html/commit/ae055fbc49e6b57bbfdc69537af67e8971871c06

Reduce the number of Window objects exposed on the Window object
In particular, when a child browsing context is cross-origin from the
perspective of the document it's in, only include it as a property on
the Window object when its browsing context name matches that of the
name content attribute value it is included th

[2016-11-07 17:58] chaals commented on #660
@r12a Good idea. Done.

[2016-11-07 17:59] cynthia opened #720 "May 2016 Port 9 - Fix inaccurate stack-popping in custom element upgrades"
https://github.com/whatwg/html/commit/6561250ec3788938a2d64932093b0ea293b97174

Fix inaccurate stack-popping in custom element upgrades
Fixes whatwg/html#1238. Usually, the popped stack entry is not the element, but
instead an already-constructed marker. This makes the stack-popping
generic, and also adds a note explaining exactly what could be going on
here.

Also clarifies the cases in which the

[2016-11-07 17:59] cynthia opened #721 "May 2016 Port 10 - Navigate: use URL's equals concept to compare URLs"
https://github.com/whatwg/html/commit/f3c2a307658b21dc129ec5b11368e16048238fb8

Navigate: use URL's equals concept to compare URLs
Also stop brokenly parsing URLs that are already records and assumed to be records elsewhere.

* Upstream: whatwg/html@f3c2a307658b21dc129ec5b11368e16048238fb8

[2016-11-07 17:59] chaals commented on #717
Duplicates #437

[2016-11-07 17:59] #717 closed, assigned to nobody

[2016-11-07 17:59] cynthia opened #722 "May 2016 Port 11 - Get origin from a browsing context's active document"
https://github.com/whatwg/html/commit/d727bf9335f32ab87109658d8e83b0ee3c2866bf

Get origin from a browsing context's active document
A browsing context does not have an origin, but its active document
does. This is unlikely to be a complete fix for whatwg/html#1130, but at least it
makes the current state of play more readable.

* Upstream: whatwg/html@d727bf9335f32ab87109658d8e83b0ee3c2866bf

[2016-11-07 18:00] cynthia opened #723 "May 2016 Port 12 - Fix form submission's encoding algorithms"
https://github.com/whatwg/html/commit/ec42efb1d7c3a2e34db21b8076a8a3f4bd6dfb81

Fix form submission's encoding algorithms
This changes the following things:

* Makes algorithms other than multipart/form-data return code points
rather than bytes, since most callers want code points. With this
change we are no longer required to use US-ASCII and more importantly
it removes a redundant encode/decode

[2016-11-09 23:34] travisleithead commented on #707
I just tried to build the 5.1 branch (using the latest live bikeshed bits), and got the following:

[code]

I'm seeing if there's a simple fix for this now...

[2016-11-10 01:26] travisleithead commented on #707
This appears to be due to elements with a `dfn-for=` attribute which inherits down to `dfn`s within its scope specifically for `element` definitions. When I remove the inheriting attribute (transferring it to individual `dfn`s (manually inheriting it to `dfn`s other than `element` the error goes away. See https://github.com/travisleithead/html/commit/b59f37a5056dfa1875328d428bcc1ca49d198f53

[2016-11-10 01:27] travisleithead commented on #707
@arronei would you take a look? Did bikeshed regress this functionality?

[2016-11-11 12:46] chaals commented on #698
@grorg Is this implemented in shipping Safari? That seems to be a minimum condition for considering it worthwhile adding. Since it's otherwise a no-op, the alternative is not to have it :)

[2016-11-14 13:25] DavidMacDonald opened #724 "Consider adding headings to allowed content in `<legend>` element"
Screen reader users often navigate using headings. Many web developers wrap up groups of form fields in the `<fieldset> <legend>` construct and they feel this is most accessible. There are some accessibility wins with this construct but the big loss is the that headings cannot be used according to current HTML spec which only allows "phrasing" content https://www.w3.org/TR/html5/dom.html#phrasing-

[2016-11-14 13:39] StommePoes commented on #724
Also, legends are screwed up by some AT, despite legends/fieldsets existing since like forever https://twitter.com/powermapper/status/797913194404728832  and this could be a useful solution.

[2016-11-14 13:47] stevefaulkner commented on #724
any input @sideshowbarker?

[2016-11-14 21:33] travisleithead opened #725 "Update HTML source to use '|' for `<var>` in algorithms"
<3 for readability of source and for brevity.

[2016-11-14 23:22] chaals commented on #724
At a glance this seems reasonable.

It would be nice if form navigation were better - especially for the nearly all of us who don't use screen readers - and it is in principle feasible to use ARIA with legends in this way already to achieve the same effect for screen readers.

But this doesn't seem to break anything, to enable an improvement, and to match what at least some people do as they desig

[2016-11-15 02:38] sideshowbarker commented on #724
Seems like a good change to me, for the same reasons @chaals and @StommePoes and @DavidMacDonald give and because I can’t think of any authoring mistake it would prevent an HTML checker from helping authors catch.

This history FWIW is that HTML4 restricted `legend` to inline/phrasing and we just propagated that because as far as I remember at least nobody til now ever proposed loosening it.

[2016-11-15 16:19] travisleithead commented on #707
OK. This passes in the build system because we're checking out a specific (past) version of Bikeshed prior to some changes that both improved and tightened some of the authoring requirements on the use of Bikeshed.

I'm not going to try to update the 5.1 branch to be conforming, because we've pushed it to rec, and the changes I'm making in master to pass with the latest Bikeshed are in at least on

[2016-11-15 16:52] travisleithead opened #726 "Address build warnings in latest bikeshed"
Forked from related issue https://github.com/w3c/html/issues/707. This is to address the warnings now that the spec builds without the `-f` (force) flag.

[2016-11-15 18:04] stevefaulkner commented on #606
a bad idea for who?

[2016-11-16 11:32] stevefaulkner opened #729 "Make HTML4/XHTML1 Strict doctypes non-conforming"
Over on WHATWG [@sideshowbarker wrote](https://github.com/whatwg/html/pull/2048):

[2016-11-17 10:31] ramoas commented on #43
@stevefaulkner You are in favor of keygen removal based on a quote from Harry Halpin that contains factual errors (e.g., "the only browser that supports <keygen> currently is Mozilla").

@chaals, @hillbrad <keygen> does not generate the certificate.  It generates an RSA key pair, and then sends off a certificate request to the server; this cert request is what is signed with MD5withRSA, not the re

[2016-11-17 12:21] mikewest commented on #547
Ping.

[2016-11-17 16:46] chaals commented on #707
Can we close the issue?

[2016-11-17 17:47] chaals commented on #43
@ramoas, please don't make statements about what you think other people may know or have done, that can't be demonstrated. It is impolite, and inappropriate to the discussion.

We are aware that `keygen` has been implemented in multiple browsers - see my comments above. The fact that it is being removed from browsers is what led to the discussion and subsequent Working Group decision to remove it

[2016-11-17 18:36] ramoas commented on #43
@chaals My previous comments were targeted at specific individuals' prior comments in this discussion that contained factual errors.  Correcting those mis-statements seems highly relevant to the discussion of a feature that is slated for removal.  I was not trying to be impolite - I apologize - I was trying to provide facts.

Is there a standard process / set of conditions for removing something f

[2016-11-17 20:31] fititnt commented on #707
I guess we should close it. This need documentation, but this is another issue  (# 676) but this problem was just about the fatal errors.

[2016-11-17 20:31] #707 closed, assigned to travisleithead

[2016-11-17 21:39] chaals commented on #707
OK, thanks.

And thanks @travisleithead for fixing it :)

[2016-11-18 00:20] AngeloKai opened #730 "The step to relax the same origin restriction leads the algorithm to always throw exception"
There is a delta between the W3C draft (in 5.1) and the WHATWG draft. The delta leads to the algorithm to always throw exception:

The step 7.2 of the W3C spec says:
If host, prefixed by a U+002E FULL STOP (.), does not exactly match the effectiveDomain, then throw a "SecurityError" DOMException.

The step 7.2 of the WHATWG spec says
If host, prefixed by a U+002E FULL STOP (.), does not exactly ma

[2016-11-18 17:29] AngeloKai commented on #730
I was informed by Boris that the same bug was fixed in this issue: [w3c/html/#705](https://github.com/w3c/html/issues/705).

[2016-11-18 17:29] #730 closed, assigned to adanilo

[2016-11-18 18:05] chaals commented on #447
@stevefaulkner can you do this in the timeframe? Otherwise please set milestone…

[2016-11-18 18:09] chaals commented on #729
@cstrobbe can you explain why you disagree please?

It makes sense to me that HTML 5.x doesn't include doctype markers that are specifically intended to identify documents as some other, but related, language.

[2016-11-20 09:08] komputist opened #731 "Incorrect URL to a DTD for the named entity declarations"
In the following sentence of section [9.2 of HTML 5.1,](https://www.w3.org/TR/2016/REC-html51-20161101/xhtml.html#parsing-xhtml-documents), the URL of the link in the last part of the sentence, is incorrect:

Currently, that URL points to https://www.w3.org/TR/2016/REC-html51-20161101/entities.dtd - which does not exist. Whereas in HTML 5.0 [section 9.2](https://www.w3.org/TR/html5/the-xhtml-synta

[2016-11-20 09:56] komputist commented on #729
For the validator - and the spec - I would like to propose the opposite direction: Rather than tightening the screw on what validates, **any DOCTYPE** that triggers no-quirks mode should get status as "obsolete but conforming".

And, as well: if there is a problem in the validator, it should be solved in the validator.  There are several options for how to do that without changing the spec. The HT

[2016-11-20 16:32] chaals commented on #729
@komputist it doesn't seem like what you are writing is HTML 5.2 anyway, but something else related. If the doctype you use suits your purpose, allowing the specific HTML 4 / XHTML 1.1 doctypes _in HTML 5.2_ makes no difference I can see. What am I missing?

[2016-11-21 09:52] LJWatson opened #732 "Use of the <i> element in the wild"
"The <a href="https://www.w3.org/TR/html/textlevel-semantics.html#the-i-element">```<i>``` element</a> represents a span of text in an alternate voice or mood, or otherwise offset from the normal prose in a manner indicating a different quality of text, such as a taxonomic designation, a technical term,  an idiomatic phrase from another language, transliteration, a thought, or a ship name in Weste

[2016-11-21 10:02] LJWatson opened #733 "Irrelevant style guidance in <i> element definition?"
"Authors can use the class attribute on the <a href="https://www.w3.org/TR/html/textlevel-semantics.html#the-i-element">i element</a> to identify why the element is being used, so that if the style of a particular use (e.g., dream sequences as opposed to taxonomic terms) is to be changed at a later date, the author doesn’t have to go through the entire document (or series of related documents) ann

[2016-11-21 14:59] TheEskhaton commented on #731
This sentence from [section 8.5](https://www.w3.org/TR/2016/REC-html51-20161101/syntax.html#named-character-references) after the table also has a link to a JSON file which doesn't exist:

The URL Points to https://www.w3.org/TR/2016/REC-html51-20161101/entities.json which doesn't exist.

[2016-11-21 15:39] chaals commented on #731
The relevant entity lists are in the repository, so it seems to be a linking issue that is also currently affecting HTML 5.2 :(

[2016-11-21 16:15] darobin opened #734 "Label for should apply to contenteditable elements"
In many ways, `contenteditable` elements are comparable to somewhat rich textareas. It would be useful for them to be labelled using `<label for="...">`. Right now https://www.w3.org/TR/html51/sec-forms.html#labelable-element says no.

[2016-11-21 16:19] stevefaulkner commented on #734
@darobin do you mean be allowed (as conforming) or actually work like a label does i.e. move focus and provide an accessible name for the contenteditbale element. The latter involves browsers implementing...

[2016-11-21 16:45] chaals commented on #734
It seems like it should **work** - apart from making it possible to test out in JS with valid HTML, is there any real benefit to just allowing it?

[2016-11-21 16:48] stevefaulkner commented on #734
FYI, knocked up an example of how it could/should work
http://codepen.io/stevef/pen/Obpxbd

[2016-11-21 16:59] chaals commented on #734
Nice. What happens in forms mode in screenreaders, using the example?

[2016-11-21 17:02] stevefaulkner commented on #734
@chaals, works as expected with JAWS, haven't tried any others

[2016-11-21 17:02] chaals commented on #732
Hmm. In my anecdotal experience I generally come across it being used as described. We probably need more data to make a rational decision here...

[2016-11-21 17:25] stevefaulkner commented on #732
did a quick grep of the latest webdev data dump (from january this year.
https://dl.dropboxusercontent.com/u/377471/i.html

[2016-11-21 20:07] ZoeBijl commented on #732
[Bootstrap now uses `span` elements](http://getbootstrap.com/components/#glyphicons) in its documentation for icons.

[FontAwesome uses `i` elements](http://fontawesome.io/examples/) in its documentation.

[2016-11-21 21:22] LJWatson commented on #734
Using Steve's example... Jaws 18 supports it in FF, Chrome and IE (without relying on its label heuristic peculiarities). Narrator supports it in IE but not Edge. NVDA doesn't seem to support it in FF, Chrome or IE.

[2016-11-21 22:01] LJWatson commented on #732
Some back/packet analysis of the data @stevefaulkner grabbed...

There are 16,878 instances of the ```<i>``` element across that sample of 2,048 html.txt files.

8,198 instances use class names that include sprite", "icon", "ico", "glyph", "glyphicon", "fa-", ss-", fp-" or variations on those themes, or are entirely empty.

That number is likely to be on the conservative side because the search di

[2016-11-21 22:31] chaals commented on #732
OK, so the usage is common. Some of it might be treating stuff as a `span` that uses fewer characters to write.

I think that using icons or emoji fits into the "in a different voice or mood" idea. This ignores the technical grammar meaning of those terms, but it seems the text itself uses them in their common meaning rather than as terms of art for grammar. Which is itself unfortunate.

The eleme

[2016-11-22 05:02] ianthedev commented on #732
@MichielBijl FontAwesome in its examples page and [single icon page](http://fontawesome.io/icon/html5/) also recommends that `aria-hidden="true"` be used to improve web accessibility.

[2016-11-22 17:16] stevefaulkner commented on #606
I have sketched out a modified `address` element definition: https://stevefaulkner.github.io/address-element/index.html
review at your leisure

[2016-11-22 18:15] AmeliaBR commented on #606
Thanks for getting this to the next stage @stevefaulkner.

I like your overall broad definition, it covers most existing uses and the common understanding of what an "address" is.  And any example that involves Lola the Cat is A+ for me.

However, it doesn't cover the common use of `<address>` to mark up copyright attribution without contact information (as detected from your [data dump](https://g

[2016-11-22 19:19] ghost commented on #606
Like @SaraSoueidan, my answer doesn't necessarily represent data but personal experience.

Every country has its own formats (yes, plural) for postal addresses. Plus, there are many kind of addresses (IP addresses, P.O. Box addresses, office numbers inside an organisation, etc...). An address is a very common piece of information. Having an element named `<address>` for what we humans call an addr

[2016-11-23 00:08] kevinmarks commented on #606
Sara's original use case is covered well by h-card, which maps the fields of vcard and so can be used for physical address, contact info and so on. The de minimus form allows name and URL with a single class.
Scoping works with other microformats, so the author of an h-entry can be a h-card, or the location of an h-event.

Marking up address with h-card works too, as microformats are class based a

[2016-11-23 08:20] stevefaulkner commented on #606
@AmeliaBR

right, this usage seems to have little to do with location/contact info and should be discouraged.

I had intended to do so, but couldn't get the right words together at the time, so left it off for now, you are anybody please feel free to provide some verbiage.

agreed

will fix edit issues you raised.

[2016-11-23 11:05] chaals commented on #724
@stevefaulkner if you can explain this, get agreement and do it in a hurry, that would be grand. If someone - @DavidMacDonald ?? provides a Pull Request that would be even grander :)

Otherwise please re-assign the milestone to give a bit more time for consideration…

[2016-11-23 11:16] mattok opened #735 "CSP can be circumvented in HTML5 using obsolete <font>"
I have an HTML5 document on a website that uses Content-Security-Policy to block all inline styles; the idea being that all styling is managed via separate CSS stylesheets. I was therefore shocked to discover that styling can be overridden within the source by introducing `<font>` elements to change, for example, the colour of the text. I tried this across several different browsers, and realised

[2016-11-23 11:19] chaals commented on #735
@mkwest ping...

[2016-11-23 14:57] ZoeBijl commented on #734
Works as expected in TalkBack with Firefox on Android 7.

[2016-11-23 20:10] chaals commented on #734
By which you mean that it lets you navigate to the label, and that activates the editable region, and that navigating to the editable region reads out the label?23.11.2016, 15:58, "Michiel Bijl" notifications@github.com:Works as expected in TalkBack with Firefox on Android 7.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

-

[2016-11-23 22:03] ZoeBijl commented on #734
@chaals yes.

[2016-11-24 10:49] LJWatson commented on #734
It is worth noting that on most touch devices running a screen reader, there is no concept of navigating to the label (as opposed to the field it's associated with). Navigation is to the field directly, and the label and field are effectively an atomic object.

[2016-11-25 15:06] stevefaulkner opened #736 "placeholder label option should not be recommended as label"
from the spec:

http://w3c.github.io/html/sec-forms.html#ref-for-placeholder-label-option-1

http://w3c.github.io/html/sec-forms.html#ref-for-placeholder-label-option-3

http://w3c.github.io/html/rendering.html#ref-for-placeholder-label-option-5

It does not appear to be implemented as described in the spec and as it suffers from the same problem as the placeholder attribute (text is only visible

[2016-11-25 23:46] spanchang commented on #736
I agree. It answers the question I raised initially:
https://lists.w3.org/Archives/Public/w3c-wai-gl/2016OctDec/0559.html
Thanks,
Sailesh

[2016-11-26 17:55] klensin commented on #538
Anyone building such tests should pay careful attention to local-part (left of "@") validity even in the all-ASCII care.  As partially pointed out in the discussion at https://www.w3.org/Bugs/Public/show_bug.cgi?id=15489 (thanks, Martin), a rather large number of web-related implementations claim that email addresses with, e.g., "+", "="", "/", etc. are invalid.   It is hard for users to identify

[2016-11-27 18:51] #109 closed, assigned to adanilo

[2016-11-27 18:54] stevefaulkner commented on #606
Have commited changed definition to editors draft, further feedback welcome!
https://w3c.github.io/html/grouping-content.html#the-address-element

[2016-11-28 10:56] cheshrkat commented on #732
In the broader lifespan of the element, the usage of `<i>` for icons seems like a minor trend magnified by a couple of libraries rather than being a choice made by a large number of authors.

Using it for emoji fits with the longer-term usage to enclose an alternative language - the same emoji used across sites is identifiably the same thing, even if the combination and context changes.

I don't t

[2016-11-28 11:11] iandevlin commented on #732
I agree with @cheshrkat here, the trend was due to library usage and not due to a majority of developers making an informed choice on which element to use. Twitter Bootstrap was the main culprit, but they have since moved to using `span` (as mentioned above).

I also think that using `i` for icons does not fit with the specification's definition and should not be changed.

[2016-11-28 18:32] AmeliaBR commented on #732
I agree with @chaals (https://github.com/w3c/html/issues/732#issuecomment-262088450) that inline icons and emoji fit with the "separate voice or mood" semantic.

If I was reading aloud a text that included an emoji, I would pause and emphasize it to indicate that I've switched from reading words to describing an icon.  I think that is consistent with the way I would read italic text used to set of

[2016-11-28 19:09] aardrian commented on #732
If the font libraries that are primarily responsible for this are moving away from using `<i>`, does it much matter if we just leave it as is? One could argue (me if pressed, though I would rather not) that an icon or emoji generally is an "idiomatic phrase from another language" and so is valid use.

[2016-11-29 04:51] russmaxdesign commented on #732
Keep as is

[2016-11-29 05:45] patrickhlauke commented on #732
Leave definition as is. Misuse of `<i>` for "icon" is/was a pervasive perversion (tm) of semantic markup. No point in retconning it and giving it some sort of validity.

The common rationalisation I see most often about why people/libraries use `<i>` is "it's shorter...PERF!". trying to retrospectively argue for any deeper semantic reasoning for why authors may have used this ("an icon is a differ

[2016-11-29 06:50] ghost commented on #43
@ramoas  [Re: removing keygen from HTML](https://lists.w3.org/Archives/Public/www-tag/2016Jun/0006.html)

[2016-11-29 10:11] SelenIT commented on #732
I wonder if there is any possibility to gather the stats of usage of `<i>` for "alternate voice or mood" on purpose, not erroneously instead of `<em>` because of wrongly set up visual authoring tools etc.? Maybe it would make sense to change the definition to something like "text intended for alternate presentation, usually italicisation or visual replacement with image" as more realistic?

[2016-11-29 11:55] chaals commented on #732
@patrickhlauke opined:

I agree that span is marginally better. I would also agree that we should consider a change, if the usage was egregious. But to be honest, I think it's probably not perfect, but good enough with what we have, and I really don't see the need for a change to the spec.

[2016-11-29 12:16] alastc commented on #732
Unless user-agents (primarily screenreaders) consistently voiced `i`, `em`, `b`, and `strong` differently, I don't see much benefit to updating the spec on this point.

[2016-11-29 13:15] SelenIT commented on #732
Apart from `<i>` being shorter (and therefore marginally faster to load/parse) than `<span>`, it is also easier to memorize as kind of abbreviation for '`i`con'. It might look like even more natural interpretation for people who hasn't worked with HTML3-4 and doesn't know the presentational history of this tag.

[2016-11-29 13:49] ghost opened #737 "Break tag includes closing slash"
Example 6 of the address element shows the use of the break tag but includes the closing slash, <br/>.
https://w3c.github.io/html/grouping-content.html#the-address-element

While this is allowed, being a void element, it's an exception to the specification for how to write <br> which says nothing about including the closing slash and does not show any same examples of usage.
https://w3c.github.io/

[2016-11-29 14:24] LJWatson commented on #732
@SelenIT has a point. In the data analysis mentioned previously, a chunk of the instances of ```<i>``` were used as hooks for sprites (at least had class="sprite"). AFAIK that is not a library driven use - but it does suggest people are thinking of ```<i>``` as "icon" rather than "italic" (or whatever monicker applies to it these days).

[2016-11-29 15:34] patrickhlauke commented on #732
I'd say it's not that they're "thinking" that, they're just post-rationalising it. people also "think" that `<div class="heading1">` is perfectly fine for headings, but i don't see that being written anywhere in the spec... ;)

[2016-11-29 16:34] stevefaulkner commented on #737
@RobBelics thanks, will fix

[2016-11-29 16:35] #737 closed, assigned to nobody

[2016-11-29 18:44] russmaxdesign commented on #732
Most are not thinking about semantics, accessibility etc at all. They are using the library because it solves a problem. And that would happen if some of these libraries suddenly changed their mind and used `<span>` instead of `<i>` elements, the spec would have changed for no good reason.

[2016-11-29 22:45] travisleithead opened #738 "Experiment: get current WHATWG/W3C Section 3"
Using https://diffofhtmls.herokuapp.com/ Get Section 3 current (or explain the differences).

Following this activity, we should know:
* How long the experiment took (in hours)?
  * **Results: 28.7 hours**
* What are the remaining differences (if any)? 
  * Issue #748 - Continue to define xml:base as [not] for HTML docs?
  * Issue #751 - Accept WHATWG change to drop restrictions on the Bidi algori

[2016-11-29 23:07] travisleithead commented on #738
This means all of dom.include will be clean.

[2016-11-29 23:46] travisleithead commented on #738
30 minutes elapsed.

[2016-11-30 03:40] chaals commented on #734
Did anyone write a test that just puts a label on a contenteditable element? I assumed that it wouldn't work, but testing it seems sensible…

[2016-11-30 06:55] SelenIT commented on #732
IMO, `div`s for headings and `i` for icons are not the same case. Purely non-semantic divs are used in purely presentational approach, while people who choose `i` for icons still take semantics into account, even in form of post-rationalisation. And one of the reasons for it is that those people _know_ that in HTML5 the `i` element _has_ some semantics, but the current definition is too vague and

[2016-11-30 08:29] cheshrkat commented on #732
I don't agree that `span` is materially less convenient than `i`. The only time I can see that there would be a measurable difference is someone typing the element, longhand, from memory... which I don't believe is the majority use case. With libraries, most consumers will be either copy&pasting the markup from docs, or using a template/abstraction which masks the element anyway.

In terms of sema

[2016-11-30 09:20] LJWatson commented on #734
@chaals @stevefaulkner  posted <a href="http://codepen.io/stevef/pen/Obpxbd">an example</a> in an <a href="https://github.com/w3c/html/issues/734#issuecomment-261995346">earlier comment</a>.

[2016-11-30 10:10] stevefaulkner commented on #732
In my opinion, the `<i>` element is an element in search of a meaning, like `<b>` and a few others. They should have been obsoleted as were other presentational elements. Instead they were given mirage like semantic meaning, which when usage is looked at doesn't wash.

anyway...

[Current definition](https://w3c.github.io/html/textlevel-semantics.html#the-i-element):

if we were to change 'a span

[2016-11-30 11:00] ZoeBijl commented on #734
@chaals here is a [demo and test results without JS or ARIA](https://moiety.me/research/contenteditable/), in short: only works in IE 11.

@LJWatson think Chaals meant a demo without the added JS that Steve put in there to make clicking the label work.

[2016-11-30 16:42] Acts7 commented on #732
Leave it as it.
People that will use it - use it. Those that do are less concerned about semantics and more about speed. In cases where a framework is used, it is for ease and speed of build. And in that case <i> is much faster to type than <span>. Why change the rules to fit the sample?

[2016-11-30 16:46] iandevlin commented on #732
In that case, allowing `<i>` to be used as an icon will make it even less likely that `<i>` will eventually disappear from the spec.

Also, since icons are graphical, how can an alternative for them be provided for in the same way that `<img>` has the `alt` attribute? I appreciated that not all icons will require a non-graphical equivalent, but when they do, there is no "ideal" way of providing it

[2016-11-30 18:38] travisleithead opened #739 "Make the spec consistent "standard" vs. "specification""
There are places where the spec describes a XXX standard and other places where it is referred to as XXX specification.

Tentative agreement is to unify on the term "specification"

[2016-11-30 19:07] aardrian commented on #732
Some assumptions are being made that anyone who uses `<i>` knows it has a meaning and just maybe knows or knew what it was. I disagree but I also think it is mostly moot.

Leave as is. No change to definition needed. The current definition can be argued to already fit better than the arguments that `<i>` was the right element for sprites and icons because of reasons (character count, the letter, w

[2016-12-01 00:16] travisleithead commented on #738
Non-editorial changes:
* Added [CEReactions] attributes to the IDL
* Switched some DOMString types to USVString

About 3 hours (got bogged down for a bit with understanding eccentricities of Bikeshed linking format). Midway through "Diff of DOM tree accessors" improving linking as I go.

[2016-12-01 00:59] chaals commented on #514
@stevefaulkner, did you add the people listed as contributing to versions of HTML prior to 5 in the section that says "people who previously contributed to other versions"? Or are they just people who worked on HTML 5.x?

[2016-12-01 01:42] chaals commented on #600
@AndySky21 I propose that we close this issue with no action. Any objections?

[2016-12-01 01:50] chaals commented on #561
@TzviyaSiegman, all, as far as I can tell the `open` attribute actually provides what you want programmatically, and in general browser implementations provide the ugly little triangle as a trigger although it's relatively trivial for an author to make some button (or - please no don't - some other JS-trapped interaction) into a trigger for toggling the `open` attribute.

I propose to close this.

[2016-12-01 01:59] AndySky21 commented on #600
Before this issue is closed and forgotten, I hoped to see what consequences it could have in the CSS selectors spec draft referenced above. I don't even know if it has been considered, apart from being labelled

The two things are strictly connected. No change is possible without a styling hook, but no CSS pseudo class will ever be inserted if the situation remains as it is now.

[2016-12-01 02:10] chaals commented on #514
Actually, since this is effectively an editorial task, it seems easier to just continue to go through the logs and gather the names - nobody is adding them here anyway. So I'm going to continue doing that, and close this issue.

[2016-12-01 02:10] #514 closed, assigned to stevefaulkner

[2016-12-01 02:15] chaals commented on #516
Closing this in favour of #544 which seems to correctly summarise what we need to do: make `style` conforming in `body`.

[2016-12-01 02:15] #516 closed, assigned to chaals

[2016-12-01 02:43] AndySky21 commented on #544
Will it be clear for authors that the "effect" of style elements in body is
neither limited to the "scope" element, nor to the code after the style
element itself, but it will rather affect the whole document?

I'm especially concerned by the fact that  as style appears late in the
page, phenomena of FOUC can become harder and more likely.

Style in DOM is due to poor CMS coding rather than to rea

[2016-12-01 02:48] TakayoshiKochi commented on #544
As @travisleithead commented in https://github.com/w3c/html/issues/516#issuecomment-251265453, if `<style>` is not allowed in `<body>`, `<style>` in shadow DOM won't work as expected.

[2016-12-01 03:04] chaals commented on #544
@AndySky21 given that browsers have already worked this way for a couple of decades, I suspect authors are not likely to start getting confused now.

[2016-12-01 09:22] workguy66 commented on #544
@AndySky21 I disagree, to me it's pretty obvious that the style flickering is due to poor CMS coding, not that the style tag in body behaves the way that it is expected to behave.

[2016-12-01 09:36] nerone commented on #732
Icon usually is a **decorative** graphic and semantically neutral element (without implicit native role) like `<span>` should be used.
If icon is **content**, then appropriate graphics element should be used (e.g. `<img>`, `<svg>`) with a text alternative to describe the information that is displayed visually.

`<i>` does not stand for "icon". Leave it as it is.

[2016-12-01 10:52] stevefaulkner commented on #6
fixed

[2016-12-01 10:52] #6 closed, assigned to stevefaulkner

[2016-12-01 10:54] stevefaulkner commented on #606
closing as fixed, feel free to re-open or add further comments on closed bug

[2016-12-01 10:54] #606 closed, assigned to stevefaulkner

[2016-12-01 11:10] #447 closed, assigned to stevefaulkner

[2016-12-01 11:18] stevefaulkner commented on #307
closing as no instances of either phrase found.

[2016-12-01 11:18] #307 closed, assigned to stevefaulkner

[2016-12-01 11:18] chaals commented on #606
I'm uncomfortable losing the semantic that this is contact information for *the page* or *owner of the page* - as fluid as that statement is. If I'm the only one, I won't reopen, but if someone else is uncomfortable about this I'd encourage you to say so and discuss further...

[2016-12-01 11:20] stevefaulkner commented on #312
closing this as no actionable explanation of change provided, feel free to re-open if an actionable chnage is provided

[2016-12-01 11:20] #312 closed, assigned to stevefaulkner

[2016-12-01 11:27] #498 closed, assigned to stevefaulkner

[2016-12-01 11:35] stevefaulkner commented on #271
Closing this for now as I can't think of any text that would improve what is currently there, if anybody has any bright ideas, feel free to re-open

[2016-12-01 11:35] #271 closed, assigned to stevefaulkner

[2016-12-01 11:41] stevefaulkner commented on #595
@ chaals the fix works for 5.2 , its still borked in 5.1, unsure how to flag as errata for 5.1?

[2016-12-01 11:47] LJWatson commented on #732
Closing with consensus that the definition can be left "as is".

[2016-12-01 11:47] #732 closed, assigned to nobody

[2016-12-01 12:19] chaals commented on #595
Raising an issue, and fixing things in 5.2, is how we flag the errata from 5.1. So this can be closed… fixing 5.1 is unlikely to be worth the effort.

[2016-12-01 12:19] #595 closed, assigned to stevefaulkner

[2016-12-01 12:47] #520 closed, assigned to stevefaulkner

[2016-12-01 13:10] #724 closed, assigned to stevefaulkner

[2016-12-01 16:05] stevefaulkner commented on #106
reading back through the original bug cynthia noted that this should be covered in the acc API docs. will close here and open on HTML - API spec

[2016-12-01 16:05] #106 closed, assigned to stevefaulkner

[2016-12-01 20:33] TzviyaSiegman commented on #561
@chaals Would you be able to clarify if/how `open` could be used to distinguish `details` that includes `aria-details` from `details` that includes information about photo resolution? Is it up to the author to create a method of distinguishing `open`, depending on the type of information conveyed? We'd love to see standardization, offering all users the option to know when an extended description

[2016-12-01 23:08] chaals commented on #561
@TzviyaSiegman I'm not sure I understand what you are asking, but here goes...
the `open` attribute is present when the `details` are expanded. So if you add or remove it with script, the `details` will show or hide. You can use that fact to have customised controls that open or close the `details`. Is that what you were looking for?

If you want to distinguish different kinds of details, then you

[2016-12-02 00:07] travisleithead commented on #738
Now on "Diff of Loading XML documents"

* Bikeshed-ify overhaul of the dom.include section
* Added lots and lots of [strangely] missing links
* Fixing latest bikeshed spec-linking warnings as I go (see #726) -- down to 10 from 21.

About 3 hours.

[2016-12-02 00:11] travisleithead commented on #726
As part of #738, I'm also fixing these warnings.

[2016-12-02 09:39] stevefaulkner commented on #172
from original bug "cover this in the api doc, and possibly UAAG too." so closing here

[2016-12-02 09:39] #172 closed, assigned to chaals

[2016-12-02 09:53] #173 closed, assigned to stevefaulkner

[2016-12-02 09:55] stevefaulkner commented on #195
Closing here as this needs incubation and therefore should be raised in the WICG https://discourse.wicg.io/

[2016-12-02 09:55] #195 closed, assigned to chaals

[2016-12-02 09:56] stevefaulkner commented on #196
Closing here as this needs incubation and therefore should be raised in the WICG https://discourse.wicg.io/

[2016-12-02 09:56] #196 closed, assigned to chaals

[2016-12-02 09:57] stevefaulkner commented on #219
Closing here as this needs incubation and therefore should be raised in the WICG https://discourse.wicg.io/

[2016-12-02 09:57] #219 closed, assigned to travisleithead

[2016-12-02 09:59] stevefaulkner commented on #608
Closing here as this needs incubation and has been raised in the WICG refer to https://github.com/w3c/html/issues/608#issuecomment-251683628

[2016-12-02 09:59] #608 closed, assigned to nobody

[2016-12-02 12:26] zcorpan commented on #335
@domenic event handlers are generally put in GlobalEventHandlers even if the event in question doesn't bubble. I guess it is a simpler model.

[2016-12-02 14:27] TzviyaSiegman commented on #561
Thanks @chaals. @clapierre, @deborahgu please review the proposal.

[2016-12-03 00:16] travisleithead commented on #738
Non-editorial changes:
* Dropped `XMLDocument` interface and its `load()` API. `load` was only implemented in Mozilla, which is why it was dropped from the spec. The `XMLDocument` interface is now defined in the DOM spec, so no need to have even a shell in the W3C version.
* Adds the `innerText` API to the Document object (from whatwg/html commit 132a55eb22d419566650c6f2a38c53e68475e7a3 - Upstream

[2016-12-03 15:03] stevefaulkner opened #741 "Experiment: get current WHATWG/W3C Semantics sections"
[Semantics document metadata](https://github.com/w3c/html/blob/master/sections/semantics-document-metadata.include)
- [x] [HTML element](https://diffofhtmls.herokuapp.com/diff/The%20elements%20of%20HTML/The%20document%20element/The%20html%20element)
  - Differences: W3C does not include the `manifest` attribute
  - [x] added manifest attribute
 - approx 1.5 hrs for above
- [x] [head element](https

[2016-12-03 15:49] stevefaulkner commented on #741
linking errors produced from  73e5096

fixed _LINK ERROR: No 'dfn' refs found for 'parsing urls'._ in https://github.com/w3c/html/commit/0c954bf88c6f7829b79d700531084cca711b7bfc

fixed _LINK ERROR: No 'dfn' refs found for 'should plugin element be blocked a priori by content security policy?'_.

[2016-12-05 22:51] tabatkins commented on #600
The CSS issue is a red herring.  `<details open>` reflecting the property has been around for years, and authors have come to rely on `details[open] {...}` being a reliable way to style a details element when it's opened.  We can't actually remove this functionality, and so adding a CSS pseudo-class that also matches an open details wouldn't provide anything new.

[2016-12-06 09:40] chaals commented on #600
I think @tabatkins is right that developers rely on the attribute-based selector, much as they also seem to like using aria attributes as selectors.

What happens in CSS is pretty orthogonal to what we do in HTML - any follow-up should be there, but I am guessing that the input from @LeaVerou and @tabatkins gives a rough guide for what to expect.

This represents a change in the way we build thing

[2016-12-06 09:40] #600 closed, assigned to chaals

[2016-12-06 15:51] stevefaulkner commented on #741
linking errors produced from https://github.com/w3c/html/commit/9b030785d3bf82cf77e07640af01a74bdb6bf2af

These arise from hook placeholders added in adding manifest attribute.

[2016-12-07 00:10] #726 closed, assigned to travisleithead

[2016-12-07 20:12] prlbr commented on #6
Thanks!

[2016-12-08 02:03] travisleithead commented on #738
Finished "Elements in the DOM" section.
 * Added some content on element construction from interfaces, and referenced W3C custom-elements spec.

Skipping the section on "HTML Element Constructors" as this is merged content from the custom elements spec.

Now on: "Element Definitions"

3 hours elapsed time. (excludes time spent syncing and updating the build system to latest bikeshed).

[2016-12-09 01:15] travisleithead commented on #738
* Links to "hidden" were a mess! Sorted these out into the "hidden" attribute, "hidden" track type, and "hidden" input element state.
* Various other linking fixes/improvements
* "class" global attribute section shuffled around, conformance requirements moved to DOM spec.
* New global event handler attributes defined:
  * onauxclick (new)
  * onloadend was missing

Ended just before "the lang and

[2016-12-10 09:42] travisleithead commented on #738
* note that other specs can define translatable attributes (such as aria-label)
* we define xml:base global attribute for HTML-in-XML docs (NO CHANGE)

3 hours

[2016-12-10 11:00] stevefaulkner commented on #738
Found and fixed linking error presumable caused by your updates https://github.com/w3c/html/commit/242f84ab693aaa53674e5980f4f776dc5de6ee55

[2016-12-10 23:58] travisleithead commented on #738
* Refactoring of the DOMStringMap get/set/delete algorithms; no substantive changes
* Moved DOMStringMap interface and algorithms from section 2 to section 3.

Left before adding innerText API

3 hours

[2016-12-11 00:19] travisleithead opened #748 "Continue to define xml:base as [not] for HTML docs?"
Do we need to continue to define xml:base? It is [already] expressly **not** for HTML documents, only HTML-in-XML elements, and at that point you're in XML land where [of course] the attribute is supported

This [short] section is also not in the WHATWG version...

Would love to get a WG decision on this.

[2016-12-12 19:36] travisleithead commented on #748
My inclination is to drop the section. For reference this is all it says:

[2016-12-12 21:51] travisleithead commented on #738
* `innerText` added. Tests are available at: https://github.com/w3c/web-platform-tests/tree/master/innerText

1 hour

[2016-12-12 23:01] travisleithead opened #751 "Accept WHATWG change to drop restrictions on the Bidi algorithm?"
On Aug 10, a large chunk of the Requirements relating to the bidi algorithm was removed from the WHATWG HTML spec (see refs below).

@r12a in reading the related issue, it's not clear to me that you agreed with the change to drop these requirements. Can you confirm whether that solution was acceptable? If not, we plan to similarly drop these requirements in the W3C HTML spec in the interest of har

[2016-12-12 23:11] travisleithead commented on #738
* Dropped BiDi section, but opened https://github.com/w3c/html/issues/751 to validate this

10 minutes, (+issue filing/whatwg spelunking overhead)

[2016-12-14 17:17] travisleithead commented on #738
* Cleaned up and link-ified the ARIA roles/states/properties table. Added missing refs in the dependencies section.

2 hours

[2016-12-14 20:58] travisleithead commented on #738
* Some final link checking and `<code>..</code>` removals where appropriate. There exist lots of places to further simplify the source code now that Bikeshed supports a shorthand for attr-value links (see https://github.com/tabatkins/bikeshed/pull/888)

2 hours

[2016-12-14 22:37] Mouvedia opened #753 "taintEnabled() return values and productSub"
http://w3c.github.io/html/webappapis.html#client-identification

was probably meant for `window.navigator.productSub`.

[2016-12-15 00:06] ghost commented on #602
Hi everybody,

I would like to join this conversation. Well ... All the points mentioned are right. Anyway it is funny that it is Apple which will give the user the freedom of zoom-in-out. Normally Apple user do not have the freedom to self-decide :D *joking*
For some weeks now Safari does not support this specific meta tag any more. Now I recognized that also the W3C-Validator shows a WARNING bet

[2016-12-15 23:15] tstarling commented on #731
It's not just linking, the file is actually missing, right? Odd, since it is in https://github.com/w3c/html/tree/gh-pages

[2016-12-16 02:58] tstarling opened #754 "HTML 4 system identifiers are accidentally non-conforming in HTML 5.1"
Someone has replaced all the http URLs with https URLs in the syntax section of the HTML spec, which is presumably an error when applied to matching legacy system identifiers.

https://www.w3.org/TR/2016/REC-html51-20161101/syntax.html#the-doctype
https://www.w3.org/TR/2016/REC-html51-20161101/syntax.html#the-initial-insertion-mode

There is also an incorrect reference to the HTML namespace as hav

[2016-12-16 03:33] tstarling commented on #754
Also, in the O'Reilly public identifiers, the ASCII apostrophe was replaced with U+2019

[2016-12-18 09:03] mulder21c opened #756 "some link error while building the spec with bikeshed in HTML5.1 branch"
Hi, I tried building the spec with bikeshed in the latest commit of HTML 5.1 branch.

but i met some link errors.

I want to know whether this is a problem or not.

![bikeshed-error](https://cloud.githubusercontent.com/assets/14821565/21292514/6cd61824-c54b-11e6-9df4-62dac72425c0.jpg)

[2016-12-20 13:44] wolfbeast commented on #735
Extending coverage of CSP to include legacy style changes that are not tied to CSS but tied to legacy HTML elements (whose actual purpose is to provide (in-line) styling in HTML itself)  is not going to be trivial to implement, and I think actually falls outside of CSP's scope.

CSP is meant to be a supportive measure that can not ever mitigate legacy, bad, or outdated code in the pages themselves

[2016-12-20 19:54] mattok commented on #735
For what it's worth, I disagree with @wolfbeast. How the obsoleted elements came to be in the document (that is, whether they were there because it's a legacy document, or because they were injected via some vulnerability, or whatever...) is irrelevant. The fact is that HTML allows obsoleted elements to be rendered. It does not make sense if CSP only provides its protections to valid HTML elements

[2016-12-21 04:35] wolfbeast commented on #735
This is exactly the reason why this isn't a threat -- in-line legacy elements that control a very limited subset of styling aren't even close to posing the same threat as using a full style attribute (e.g. as on a `<span>`) because they are not able to transform or re-arrange content, and as such should most definitely fall _outside_ of scope for CSP.
The only (theoretical) threat with `<font>` wo

[2016-12-22 01:33] xfq opened #758 "HTML WG in the specification"
In [§ 1.4](https://github.com/w3c/html/blob/d88159a3dbb518653d99c94f603679678ba5047f/sections/introduction.include#L138-L143):

This paragraph/section needs to be updated, since the HTML WG is Web Platform WG now.

[2016-12-23 08:57] cynthia commented on #758
Thanks for pointing this out, patch is in the PR queue for another editor to r+.

[2016-12-23 08:58] cynthia commented on #756
This shouldn't be a problem unless you are producing a canonical version of the document. Does the final output look fine?

[2016-12-23 10:39] #758 closed, assigned to nobody

[2016-12-24 12:24] stevefaulkner opened #761 "consider allowing multiple main elements in the DOM when only 1 is visible"
There is a use case that the current conformance requirements does not cover. That is the case where the DOM consists of multiple UI views, but only one is visible/active at a particular time (e.g. single page apps). In this case it makes sense to loosen the restriction to allow mutliple instances of the [`main`](https://w3c.github.io/html/grouping-content.html#the-main-element) element, but only

[2016-12-24 15:53] ghost commented on #756
@cynthia Hi, I think I've got the exact steps, please check it out.

I attach a video of what I have done.

[video(youtube)](https://youtu.be/reqOgA-tJ88)

[2016-12-30 19:21] aardrian commented on #761
+1

[2017-01-02 11:23] stevefaulkner opened #762 "add warning about use of autofocus attribute"
https://w3c.github.io/html/sec-forms.html#autofocusing-a-form-control-the-autofocus-attribute

[2017-01-02 18:07] dylanb commented on #761
Why is this different from the following?

[code]

[2017-01-03 10:43] ZoeBijl commented on #762
- “assitive technology” → “assistive technology”
- “disabilites” → “disabilities”

Furthermore, this sentence is a bit odd (and 39 words long):

Maybe something like this:

Or something like this:

[2017-01-03 12:02] yatil commented on #762
I wonder if browsers should be required to provide an user option to disable autofocus. It might be useful to list some of the (more) in  valid use cases for autofocus, like a page who only displays a search form or selecting the username field after clicking a login link to help developers/ux designers decide if they want to use it.

[2017-01-03 18:52] jspellman commented on #761
+1 Steve. It's a common and important use case.

[2017-01-03 21:35] cynthia commented on #723
Closing due to process change.

[2017-01-03 21:35] #723 closed, assigned to nobody

[2017-01-03 21:35] cynthia commented on #722
Closing due to process change.

[2017-01-03 21:35] #722 closed, assigned to nobody

[2017-01-03 21:35] cynthia commented on #721
Closing due to process change.

[2017-01-03 21:35] #721 closed, assigned to nobody

[2017-01-03 21:35] cynthia commented on #720
Closing due to process change.

[2017-01-03 21:35] #720 closed, assigned to nobody

[2017-01-03 21:35] cynthia commented on #719
Closing due to process change.

[2017-01-03 21:35] #719 closed, assigned to nobody

[2017-01-03 21:36] cynthia commented on #718
Closing due to process change.

[2017-01-03 21:36] #718 closed, assigned to nobody

[2017-01-03 21:36] cynthia commented on #716
Closing due to process change.

[2017-01-03 21:36] #716 closed, assigned to nobody

[2017-01-03 21:36] cynthia commented on #715
Closing due to process change.

[2017-01-03 21:36] #715 closed, assigned to nobody

[2017-01-03 21:36] cynthia commented on #714
Closing due to process change.

[2017-01-03 21:36] #714 closed, assigned to nobody

[2017-01-03 21:37] cynthia commented on #713
Closing due to process change.

[2017-01-03 21:37] #713 closed, assigned to nobody

[2017-01-03 21:37] cynthia commented on #712
Closing due to process change.

[2017-01-03 21:37] #712 closed, assigned to nobody

[2017-01-04 00:04] #639 closed, assigned to nobody

[2017-01-04 00:04] #640 closed, assigned to nobody

[2017-01-04 00:04] #641 closed, assigned to nobody

[2017-01-04 00:04] #642 closed, assigned to nobody

[2017-01-04 00:04] #643 closed, assigned to nobody

[2017-01-04 00:04] #644 closed, assigned to nobody

[2017-01-04 00:04] #645 closed, assigned to nobody

[2017-01-04 00:04] #646 closed, assigned to nobody

[2017-01-04 00:04] #648 closed, assigned to nobody

[2017-01-04 00:04] #649 closed, assigned to travisleithead

[2017-01-04 00:04] #654 closed, assigned to nobody

[2017-01-04 00:04] #657 closed, assigned to nobody

[2017-01-04 00:04] #658 closed, assigned to nobody

[2017-01-04 00:05] #624 closed, assigned to nobody

[2017-01-04 00:05] #625 closed, assigned to nobody

[2017-01-04 00:05] #626 closed, assigned to nobody

[2017-01-04 00:05] #627 closed, assigned to nobody

[2017-01-04 00:05] #628 closed, assigned to nobody

[2017-01-04 00:05] #629 closed, assigned to nobody

[2017-01-04 00:05] #630 closed, assigned to nobody

[2017-01-04 00:05] #617 closed, assigned to nobody

[2017-01-04 00:05] #618 closed, assigned to nobody

[2017-01-04 00:05] #619 closed, assigned to nobody

[2017-01-04 00:05] #620 closed, assigned to nobody

[2017-01-04 00:05] #621 closed, assigned to nobody

[2017-01-04 00:05] #622 closed, assigned to nobody

[2017-01-04 00:05] #623 closed, assigned to nobody

[2017-01-04 00:16] #738 closed, assigned to travisleithead

[2017-01-04 00:16] #739 closed, assigned to travisleithead

[2017-01-05 09:15] stasoid opened #763 "<p> vs. inline tables/blocks and floats"
The most natural way to add inline table to a paragraph would be just use `<table>` with `display: inline-table` inside a `<p>`, but this doesn't work as expected in standards mode.
Similarly, inline block or a float is naturally represented with a `<div>`, which cannot be inserted in `<p>` either.

This is very confusing. Answers at stackoverflow suggest using display: inline for `<p>` in this si

[2017-01-05 11:29] stevefaulkner opened #764 "summary element definition does not reflect implementations"
In all implementations: blink/webkit/firefox the `summary` element is an interactive element. It receives focus and is operated to open/close the details element. It is also exposed as a control via acc APIs in all implementations.

Suggest the spec should be updated to reflect this.

also filed against whatwg spec: https://github.com/whatwg/html/issues/2246

[2017-01-05 11:43] soanvig commented on #763
`<p>` should not contain any table. First of all, I cannot imagine one situation where using table in `<p>` is logic and necessary. Second thought: table is an element which can be extracted out of page and being properly titled exist by itself. That way, placing it inside paragraph kind of messes the structure.

Maybe You just are using your table wrong? I mean, can You give an example of tabular

[2017-01-05 13:59] AndySky21 commented on #763
I completely agree with the last comment. Tables inside paragraphs are of
no use at all, as they can themselves contain flow (not inline) elements.
This would break the content model I guess

As a side note, I hope that obsoleting <p> was meant to be a joke...

[2017-01-06 00:59] stasoid commented on #763
@soanvig
![image](https://cloud.githubusercontent.com/assets/2577509/21703589/88045e94-d3dd-11e6-8e6c-b51c01a721b4.png)

[code]

[2017-01-06 09:50] AndySky21 commented on #763
This is not an inline table. This table is part of the same section/article
and graphically floats on the right side of it.

This table is no more inline than a floating figure / details / fieldset
element. And note that none of them can be included in a P element.

[2017-01-10 07:20] xfq opened #765 "Should the reference to Polyglot Markup be removed?"
The Polyglot spec is mentioned in [§ 1.11](https://github.com/w3c/html/blob/a2c91fad226e62419aef4c67581cec267df61b5e/sections/introduction.include#L1295-L1306), but [it was retired and published as a WG Note](https://www.w3.org/standards/history/html-polyglot) in 2015.

[2017-01-10 09:11] LJWatson commented on #166
@MichielBijl any progress on this?

[2017-01-10 10:03] LJWatson commented on #495
As @travisleithead mentioned, it's too early to consider this for HTML.

[2017-01-10 10:03] #495 closed, assigned to nobody

[2017-01-10 10:18] LJWatson commented on #355
It seems like this issue can be closed? Ping @stevefaulkner for opinion.

[2017-01-10 10:37] LJWatson commented on #105
Ping @stevefaulkner because this seems to be addressed in your recent <a href="https://github.com/w3c/html/commit/4e58c4e4179a07b26b2ac4bdfc618ae51b85b345">autofocus warning</a> commit?

[2017-01-10 12:57] Mevrael opened #766 "Standardize <template> variables and event handlers"
This is a proposal on standardizing `<template>` parser which would allow developers:
1.  put variables,
2. use simple statements
3. and attach event handlers when template Node generated/inserted into DOM

**Current stage: Open Discussion about the HTML syntax and JS API**

### Why?

Templates finally standardized the way of making re-usable parts of HTML, templates for widgets/components, howeve

[2017-01-10 13:35] hax commented on #568
Even WICG is not helpful, because browser vendors refuse to implement it. It's not the first time they refuse to support features which developers need and will not be the last. 😒

[2017-01-11 20:51] #294 closed, assigned to arronei

[2017-01-12 00:09] travisleithead opened #768 "WHATWG Section Sync "The HTML syntax" (syntax.include)"
Changes from sync:

* `menuitem` no longer void
* special foreign element attribute processing for `base` removed (no longer creates in XML namespace)
*  removed end-tag omission clause: `<tfoot>` element is immediately followed by a `<tbody>` element

Left off finishing "The input byte stream"

[2017-01-12 00:11] travisleithead commented on #725
This is underway. No need for the tracking issue.

[2017-01-12 00:11] #725 closed, assigned to travisleithead

[2017-01-12 00:11] #616 closed, assigned to travisleithead

[2017-01-12 00:11] #703 closed, assigned to travisleithead

[2017-01-13 00:29] jcjones opened #769 "Consider refactoring the document.domain attribute setter as a standalone algorithm"
The [Web Authentication WG's draft](https://w3c.github.io/webauthn/#makeCredential) currently makes reference to the ["Relaxing the same-origin restriction" of the `document.domain` attribute setter](https://www.w3.org/TR/html51/browsers.html#relaxing-the-same-origin-restriction) as a way to let relying parties use foo.bar.com to generate scoped credentials for bar.com.

However, 1) the attribute

[2017-01-13 03:29] adanilo commented on #659
Closing, as per minutes of HTML editors meeting https://www.w3.org/2017/01/03-html-editors-minutes.html since we're adopting a side-by-side diff approach rather than the noisy per-commit approach.

[2017-01-13 03:29] #659 closed, assigned to adanilo

[2017-01-13 03:44] adanilo commented on #598
Merged in PR #665 , closing.

[2017-01-13 03:44] #598 closed, assigned to adanilo

[2017-01-13 04:51] adanilo commented on #557
Closing as this is in the spec. now as of PR #575

[2017-01-13 04:51] #557 closed, assigned to adanilo

[2017-01-13 04:59] adanilo commented on #544
Appears we have agreement to document it as conforming as per existing browser behaviour. @prlbr would you like to propose some text?

[2017-01-13 05:03] adanilo commented on #388
Closing as done in PR #504

[2017-01-13 05:03] #388 closed, assigned to adanilo

[2017-01-14 21:14] prlbr commented on #544
I guess not much text is needed, but the [definition box of the element](http://w3c.github.io/html/document-metadata.html#the-style-element) needs to be changed to allow `<style>` to be also where flow-content is expected and hence the [explanation of flow content](http://w3c.github.io/html/dom.html#flow-content) and maybe a few other references need to be updated?

I don’t feel ready to make thes

[2017-01-16 10:03] stevefaulkner opened #773 "Update dialog focusing algorithm"
After discussion here: https://github.com/whatwg/html/issues/1929 there is rough consensus to modify the existing dialog focus steps to make the `dialog` element focusable by default unless there is a control within the dialog that has an `autofocus` attribute.
Since i do not have the chops to work out how the spec needs to change to reflect this, would like those who may do to help @travisleithea

[2017-01-17 16:32] jonathantneal opened #774 "Add <h> element"
We need a heading element without implicit order. We need a heading element that can be updated without being replaced. Please consider `<h>`.

The `<h>` element is desired for situations where the “ranking” context changes for a heading, either before or after the source is sent to the browser. The current process of figuring out the appropriate “rank” of a heading is as unnecessary as requiring

[2017-01-17 17:07] bkardell commented on #774
If we're serious about this, I'd suggest working on a better polyfill and considering several things... @stevefaulkner was kind of proof of concepting it pretty early, and that was great, but it currently this uses polymer and from what I can see it is probably incomplete... Should probably just be vanilla v1 - It also could use some more thought/tweaking in implementation (should probably conside

[2017-01-17 17:22] Marat-Tanalin commented on #774
Exactly.

[2017-01-18 19:26] jonathantneal commented on #774
That’s fair. Here is a speculative polyfill: http://codepen.io/jonneal/details/wgombw/

I expect to rely on existing expectations; following what browsers and a11y tools already interpret when, say, a `[role="section"]` contains a `[role="header"]`. Backwards compatibility with existing apps should be paramount.

Relevant: https://www.w3.org/TR/html5/sections.html#outlines

[2017-01-19 10:44] zcorpan commented on #748
whatwg/html@56f4346ec71b2dc138038ce6512b626d6c563e00

The point was to remove support in XML land as well.

[2017-01-20 15:35] travisleithead commented on #524
Closed with PR#772

[2017-01-20 15:35] #524 closed, assigned to travisleithead

[2017-01-20 16:21] travisleithead commented on #773
Summary:
* `<dialog>` focusable but not in document's tab order (e.g., implied `tabindex="-1"`).
* on focus:
   1. check for descendant `autofocus` attribute. If found, focus automatically moves to first occurrence of that element (in document order)
   2. If not found, dialog element itself gets focus
* default rendering for `<dialog>` is to hide the focus rect.

Did I miss anything?

[2017-01-20 16:27] stevefaulkner commented on #773
@travisleithead thats correct, there is also the suggestion from @cookiecrook to provide `outline:none` as a UA style for `dialog`, which i think is a good idea as the `dialog` does not need a visible focus ring and will appease designers ;-)

[2017-01-21 11:25] stevefaulkner commented on #614
fixed by https://github.com/w3c/html/commit/3534711693c88adb95cd98a1079c9736eb78da38

[2017-01-21 11:25] #614 closed, assigned to stevefaulkner

[2017-01-23 17:25] dontcallmedom opened #778 "add support for `allowusermedia`"
The Media Capture and Streams specification relies on having explicit permission granted to third-party origins when they try to invoke the `getUserMedia` API from an embedded context, via a `allowusermedia` attribute currently as currently [defined in the WHATWG HTML LS](https://html.spec.whatwg.org/#attr-iframe-allowusermedia) (see also https://github.com/w3c/mediacapture-main/issues/268 and htt

[2017-01-24 00:49] dstorey opened #779 "HTML Video: Either extra "either" or author forgot to finish their thought"
https://www.w3.org/TR/html/semantics-embedded-content.html#the-video-element

Scroll to note in green box below.

Text:

"Sign-language tracks can be provided, again either embedded in the video stream. "

The previous sentence says:

"Captions can be provided, either embedded in the video stream or as external files using the track element."

It looks like this should either say that sign languag

[2017-01-24 02:37] jcobban commented on #735
Paraphrase of old joke:

Patient: "Doctor it hurts when I use &lt;font&gt;."
Doctor: "Then don't use &lt;font&gt;."

Within the domain of a CSP the owner of the site has the authority to enforce web standards.  The administrator of the site can use grep to ensure that obsolete tags are not used.

[2017-01-24 09:01] LJWatson commented on #779
Thanks @dstorey, looks like one for @stevefaulkner

[2017-01-24 14:52] LJWatson commented on #309
This seems to have been based on an older version of the content.

[2017-01-24 14:52] #309 closed, assigned to nobody

[2017-01-25 06:40] cynthia commented on #473
@travisleithead I'm not up to date on the history/rationale for the original change - are you fine with the change suggested? It looks fine to me, so if you are fine with it I'll go ahead and change it.

[2017-01-25 11:55] stevefaulkner commented on #762
@MichielBijl thanks have now fixed the typos and added punctuation to try to make the text more palatable.
@yatil have added following:

https://github.com/w3c/html/commit/a8f8406faa078c60e845dd4e397a2875cd0b49a6

working on it.

[2017-01-25 15:13] fuzzbomb commented on #762
Having advice like this in the HTML rec would be very useful indeed for web application maintainers.  Requests for autofocus on text fields <a href="https://www.drupal.org/project/issues/search?issue_tags=keyboard%20focus">crop up time and again in the Drupal project</a>, and we keep having to justify our objections to it.

The part about "User agents should provide a method to disable the autofoc

[2017-01-25 22:24] travisleithead opened #780 "Add practical restrictions to location.replace to match implementations"
(Edge is now aligning on this--previously it matched the spec--so I figured it was time to get this documented in the HTML spec to match...)

@Domenic @bzbarsky

The spec currently says that `location.replace` does no security checks. However, this is not strictly true. In Chrome and Firefox, I observe that these browsers seems to be somewhat following the rules for **allowed to navigate** (sans t

[2017-01-26 04:12] bzbarsky commented on #780
Hmm.  So what Gecko apparently has (and I had completely forgotten about this, actually, even though I've obviously seen it before based on blame!) is that any attempt to navigate a browsing context goes through the following algorithm (which is in fact independent of "allowed to navigate" and "familiar with"):

1.  If the browsing context being navigated is toplevel, allow.
2.  If the hidden "bro

[2017-01-26 21:39] mattok commented on #735
What I'm hearing hearing is; if you have a lot of legacy HTML, which you want to keep online (an archive of newsletters dating back 20 years for example), you can not safely do so without making changes. CSP will only help neutralise from a security point of view to a certain extent. It won't help with obsolete elements/attributes. To take advantage of CSP, you've got to rewrite it as strict HTML5

[2017-01-27 14:55] publicocean0 opened #781 "events improvement adding priority"
i move my suggestion from jquery to native api

i suggest to add a new feature on bind/on method

like this example

$('body').click(function(){...},{priority:0})

where priority is a number.
Then user clicks in a target .... jquery order all callbacks to be executed for this target, ordering before by priority.
In this way i can decide the order in executing events, i can decide if a event has to

[2017-01-27 15:35] publicocean0 opened #782 "observer - time handler"
i would add a promise callback for notify when mutations is completed. Now normally i know that a node is changed but i dont know when this node is changed. The observer is executed before dom changes

[2017-01-27 15:40] samromances opened #783 "ytjtkk"

[2017-01-27 15:44] #783 closed, assigned to nobody

[2017-01-27 18:27] domenic commented on #780
I think the important first step here is to write web-platform-tests. Those will be required for any spec change anyway, and will clarify what we should spec. I am especially skeptical that we should introduce another entry settings object dependency here.

I'd suggest working on compiling a list of test cases where you think the result should be allow/deny. Then we can review them for completenes

[2017-01-27 19:02] bzbarsky commented on #780
Agreed.  In particular, entry != incumbent, unlike what @travisleithead said.  I _think_ for cross-origin objects incumbent == current, generally.  In the document.domain case you can be in the "same-origin" case but _still_ fail this check in Gecko, I think, because Gecko uses current here.  It would involve calling your "replace" method on the "location" object from the other page which is not-s

[2017-01-30 13:21] shwetank commented on #773
@stevefaulkner Reading the focussing steps, it I'm a bit unclear whether the focus will return to the original element which triggered the dialog to pop up (the old focus target).

If its not explicitly mentioned, then it might be a good idea to have that included.

[2017-01-30 13:25] stevefaulkner commented on #773
@shwetank yes i agree that is an important behaviour to be included as part of the implementation definition.

[2017-02-01 04:26] blurbusters opened #785 "Strengthen requestAnimationFrame() spec for VSYNC / refresh rate matching in HTML 5.2"
# UPDATE: Change committed on #785. Please see #375 instead (rewritten/newer) for further standardization efforts on this.

PROBLEM
- requestAnimationFrame() is not sufficiently rigidly enough defined.

The older W3C "Animation Timing" spec had a better definition (https://www.w3.org/TR/animation-timing/) Section 5 says "_The expectation is that the user agent will run tasks from the animation tas

[2017-02-01 09:10] chaals commented on #785
@plehegar assigning you to take a first look as the person who might know best. Feel free to pass on, or others please fell free to take it if PLH is busy.

[2017-02-01 12:57] duckware commented on #785
Work in this area is needed.  Please do address the issues raised.

- **rAF callback time arg:** Setting the time argument to 'now' adds no value.  Because of this, web browser vendors have already started to switch over to passing in the actual vsync time (Chrome / Firefox) as the argument to the rAF callback (which actually does add a lot of value).  However, Chrome is currently the only browser

[2017-02-03 04:51] blurbusters commented on #785
The two biggies are likely:

1. [Easy spec change] Strengthen specification to make synchronization to display refresh rate a "MUST" instead of a "RECOMMENDED"
2. [Easy spec change] Discourage hardcoding of numbers such as "60Hz" or arbitrary maximum framerates such as "105"

Currently, Microsoft's EDGE browser doesn't run at 100Hz nor 120Hz -- in fact, it supports fewer refresh rates than Microso

[2017-02-03 10:25] stevefaulkner commented on #483
fixed by #482

[2017-02-03 10:25] #483 closed, assigned to stevefaulkner

[2017-02-03 10:35] #582 closed, assigned to stevefaulkner

[2017-02-03 10:45] stevefaulkner commented on #105
@LJWatson I think the warning and associated UA requirement covers this, so closing.

[2017-02-03 10:45] #105 closed, assigned to stevefaulkner

[2017-02-03 10:56] stevefaulkner commented on #474
@aphillips can you provide some proposed text for the warning? and I will add it to the spec

[2017-02-03 22:02] #768 closed, assigned to travisleithead

[2017-02-03 22:17] travisleithead commented on #731
This is working fine for me at the editor's draft--is this only an issue with the published REC doc?

Both links now point to: http://w3c.github.io/html/entities.json

If we need to update the REC doc in-place to fix this, then @chaals might be able to handle this.

[2017-02-03 23:22] travisleithead commented on #581
PR ready:

Fixes the DOMElementMap issue by syncing to WHATWG's section which drops support for this interface, and picks up support for the [already legacy] DOMStringList interface and its members.

Adds an underscore to `required` in the IDL blocks for `HTMLInputElement`, `HTMLSelectElement` and `HTMLTextAreaElement` (and links everything up correctly).

[2017-02-04 00:02] aphillips opened #788 "Minor concerns related to phrasing of text in input type=number"
This is related to issue#343: I'm opening it due to investigating whether I18N WG is satisfied with that issue being closed (which I think we are).

Section 4.10.5.1.13 Number State contains this text:

My concern here is that "user agent in XXX market(s)" is confusing. We recommend in [implementation notes](http://w3c.github.io/html/sec-forms.html#implementation-notes) that the implementation fol

[2017-02-04 00:03] aphillips commented on #343
I18N is satisfied by the changes here, but I opened [this issue](https://github.com/w3c/html/issues/788) over a minor quibble about wording. Putting this comment here so I don't repeat the exercise of tracking the close.

[2017-02-04 00:17] aphillips commented on #788
(maintainers, please add the i18n tag: I don't have permission)

[2017-02-06 10:59] chaals commented on #788
Agree that the current wording about a user agent in a given market - as opposed to working with content in a given language - is confusing. The change looks good to me.

[2017-02-06 11:32] ZoeBijl commented on #166
Will post update today. Reading through section “5.4 Focus”.

Initial bit of research on where cursors are placed after a cut or paste action:

# Observations
Some notes on observations from various platforms.

## macOS 10.12
1. Select text with the keyboard (shift+arrows)
2. Cut text (cmd+x)
3. Cursor is placed in place of text

1. Select text with the mouse (double click on word)
2. Cut text (cm

[2017-02-06 11:35] chaals commented on #774
This is a really common request for HTML. The use cases seem clear, there have been several attempts to make it happen, and it would seem helpful.

Is there evidence of widespread usage of polyfills to make it happen in practice?

[2017-02-06 13:30] Marat-Tanalin commented on #774
Fwiw, when I need a levelless heading, I currently use either `DL` element (just to exploit its `DT` as a heading):

[code]

or a bare `HEADER` (not quite correct, but it at least has similar/related semantics):

[code]

In both cases, HTML validator, as expected, complains of that the section lacks heading.

The usecases include e.&thinsp;g. a heading for each of sections in a sidebar [1], or for

[2017-02-07 08:21] stevefaulkner commented on #89
From a reading of this [current related thread](https://github.com/whatwg/html/issues/2311) on whatwg, and lack of responses from vendors, there appears to be no appetite for normalizing this behaviour. Closing this here for now.

[2017-02-07 08:21] #89 closed, assigned to stevefaulkner

[2017-02-07 13:43] chaals commented on #89
Except that normalising it so readonly *doesn't* work also doesn't seem to have a whole lot of support yet, unless I missed something.

Until browsers look likely to do something interoperable, maybe we should clarify that this **may** work.

I admit that's a sub-optimal situation, but it is reality.

[2017-02-07 18:05] jonathantneal commented on #774
Okay, let’s make this happen. I’ve written a specification proposal for a contextual heading `<h>` element:

https://rawgit.com/jonathantneal/h-element-spec/gh-pages/

I’ve written a speculative polyfill that gives the appropriate `role="heading"`, `aria-level="n"`, and `<h1-6>`-like styles to contextual heading elements (using a custom element namespace) in real-time:

https://github.com/jonathan

[2017-02-07 18:25] rubencodes commented on #774
I haven't had my morning coffee so this took me a minute to grok.

I think when most people think about `<h[x]>` elements, `x` denotes the _prominence_ on the page of the heading, but here you're more talking about the interpreted semantics of `<h[x]>`, yes? If so, totally agree and seems like outline depth is a good measure, assuming it's relative to the rest of the `<h>` tags on the page.

[2017-02-07 18:58] pxsmith commented on #774
This is quite sensible. 👍

[2017-02-07 19:27] LJWatson commented on #774
Thanks for the proposal and polyfill @jonathantneal

[2017-02-07 22:28] pepelsbey commented on #774
You can’t always control you modules/blocks nesting while using templating or partials systems. It’s too easy to make a mistake or get caught in a nesting you can’t possibly control. That’s why explicit heading levels numbering is so useful. `<h>` would be as fragile as nesting-based languages though we used to think about HTML as bullet-proof markup that will always forgive us all mistakes.

[2017-02-07 22:58] pxsmith commented on #774
@domjtalbot first of all, `<header>` is six letters longer than `<h>`. 😂 But on a serious not, it seems like [HTML5 Doctor](http://html5doctor.com/element-index/#header) suggests using `<header>` as a wrapper for `<h1>`, `<h2`, etc. I was wondering that, myself, about using `<header>`—glad you asked the question.

[2017-02-08 00:31] chaals commented on #774
@pepelsbey

The way I think - e.g. when you are trying to write content that will drop into someone else's template or page, being able to use nested sectioning/`h` elements and have the outline generated automatically is a positive thing. That's why it has been proposed for XHTML2, included in HTML 5 despite no implementation, and why it keeps coming up as a request.

So I don't understand your c

[2017-02-08 04:19] jasonkiss opened #790 "Ambiguity in passage about when header/footer applies to whole page"
The entries for `header` and `footer` each contain the following passage:

Presumably the "it" refers to the `header` or `footer` element as applicable.

But it's not clear if "they" is meant to refer to the element's nearest ancestor sectioning content or sectioning root element, or the relevant `header` or `footer` element. Either way, the outcome is the same in terms of whether the `header` or

[2017-02-08 04:38] jasonkiss opened #791 "Description of <dfn> refers to <description list group> element"
The [entry for `dfn`](http://w3c.github.io/html/textlevel-semantics.html#the-dfn-element) includes the following information:

This suggests there's such an element as a `description list group`, which there is not. In this case, `description list group` links to the entry for `dl`, which is made up of "term-description groups" of `dt` and `dd` elements. Presumably it's the nearest ancestor term-d

[2017-02-08 06:27] pepelsbey commented on #774
@chaals, you're coming from optimistic conclusion that outline is always correct and everyone knows what they are doing. But since outline is just and idea existing only in the spec, but not in browsers, developers’ minds or real-life code, I'm inclined to think that it's wrong by default and as an author of a module you can't control the proper nesting level. I wouldn't rely on outline when `<sec

[2017-02-08 06:48] stevefaulkner commented on #774
@chaals @pepelsbey I agree, the heading level being reliant upon the nesting of article and section elements is problematic because there is no requirement that either include a child heading and the outline algorithm does not take into account section/article elements which do not contain child headings.

for example

[code]

results in
h1
h3

And this is not a theoretical markup pattern, there a

[2017-02-08 07:24] stevefaulkner commented on #774
252 HTML5 pages using the section element

The following pages are a subset of pages that use the HTML5 doctype that also use the section element.  The section elements have been styled to indentify section elements and section element nesting (up to 2 deep).
http://www.html5accessibility.com/HTML5data/section/section.html

[2017-02-08 08:37] LJWatson commented on #774
@stevefaulkner broken heading hierarchies happen routinely with numbered headings already, chiefly because developers choose headings based on factors other than their semantic importance. So in this regard, this proposal probably doesn't gain us much ground - we're likely to end up with broken heading hierarchies whichever way we go.

As an aside, I wonder whether the conformance validator would

[2017-02-08 09:04] nico3333fr commented on #774
Even if the idea is really not bad, I see a lot of cases where it will fail. Consider this code :

[code]
How do the browser will know that it means :
[code]
or
[code]

Etc.

In fact, this idea (even if I find it really cool) moves the problem of the Hx-outline to landmarks (section, header, etc.). If so many sites are already failing to provide a correct Hx structure, I __really__ fear that they

[2017-02-08 09:28] SebastianZ commented on #774
I assume this requires to nest them in subsections, e.g.

[code]

Additionally an optional attribute `level` could be introduced allowing to overwrite the level defined by nesting, e.g. `<h level="3">`. That's more verbose than `<h3>`, but cleaner, because the level is considered as attribute of the heading and fits well into the nesting concept.

Sebastian

[2017-02-08 09:31] Heydon commented on #774
@SebastianZ @nico3333fr

Yes, I believe the proposal is just for when sectioning elements are employed. You would use equivalent heading levels if sectioning elements were not employed.

[2017-02-08 09:33] AndySky21 commented on #774
@nico3333fr,
is it really necessary to consider such a case?
I have been reminded that authors don't read specs and this can be right or wrong, but I strongly think that there are structures whose meaning is unquestionable.

[code]

Ages of simple markup have taught us that elements of the same type in the same level mean the same, so if authors wants deeper levels they will have to use nesting se

[2017-02-08 09:38] Heydon commented on #774
Some thoughts regarding the CSS part:

Obviously, nobody wants to write

[code]

for an h4. Also, it becomes highly complex when you have to consider all the combinations of sectioning element, like

[code]

In which case, I would propose that heading element selectors acted as aliases for nesting depth.

So

[code]

would effectively be

[code]

[2017-02-08 09:43] jakearchibald commented on #774
Why is this proposal better than the current `<h1>` + `<section>` + outline algorithm?

[2017-02-08 09:47] jakearchibald commented on #774
@Heydon https://developer.mozilla.org/en/docs/Web/CSS/:any

[2017-02-08 09:53] Heydon commented on #774
@jakearchibald My first thought is that the "`<h1>`s everywhere" idea was much vaunted to begin with, followed by widespread retractions when folks worked out that the outline algorithm didn't exist. In which case, maybe there's something to be said for stepping away from that car wreck and getting a new car, to use a mangled analogy.

Yeah, `:any()` helps, but I think the alias thing would be swe

[2017-02-08 10:05] jakearchibald commented on #774
@heydon I get that the outline isn't implemented, but neither is `<h>`. This proposal needs to state why it's more likely to succeed than what we already have + implementation of the outline.

[2017-02-08 10:10] AndySky21 commented on #774
@jakearchibald, I think that relying upon section + h1 was a mistake because it implied a new use for an existing element. Which proved wrong when h1 headings ended up being used everywhere without the outline algorithm

On the other hand, a brand new element would have no meaning outside of said algorithm or without a proper polyfill, which reduces misuses.

[2017-02-08 10:17] Heydon commented on #774
@jakearchibald Agree, especially since it may be more work. But I think a new element means a clean (conceptual/cognitive?) break. The outline algorithm would work *via* `<h>`, where implemented. Where `<h>` is not implemented, the algorithm wouldn't be either. For me, at least, that's easier to grok than `<h1>` working differently depending on how/where it is used, but only *if* the outline algor

[2017-02-08 10:37] Marat-Tanalin commented on #774
@pepelsbey Numbered and levelless headings are just for _different usecases_. They would just _coexist_. Numbered headings would _continue_ to be used for continuous texts with no subsections marked-up as explicit sectioning elements (primarily in main content of HTML document) while levelless headings would be useful e.&thinsp;g. for layout blocks (e.&thinsp;g. sections in sidebars) and widgets e

[2017-02-08 10:56] jakearchibald commented on #774
SEO arguments seem really tenuous to me. Is there any evidence? Surely creating a new tag, which will initially have no meaning to search engines, is at least as concerning.

@Heydon

I think we need stronger reasoning than that. If it can be shown that implementing the outline in terms of `<h1>` would break the web, whereas `<h>` + outline would be "totes fine", that seems reasonable.

[2017-02-08 11:01] stevefaulkner commented on #774
What would be nice is implementations of the outline algorithm by browsers, without them this effort is doomed to failure just as `<h1>`'s everywhere has been.

[2017-02-08 11:06] nico3333fr commented on #774
@SebastianZ yes, you are right, that was what I tried to say in my last sentence : we are moving the hx management problem to landmarks management problem.

@Heydon @AndySky21 @Marat-Tanalin yes, I know my example is stupid. However, as MANY sites can't deliver a correct hx structure, we have to consider theses cases (same as people that think that ```<section>``` is the new ```<div>``` that @stev

[2017-02-08 11:07] Marat-Tanalin commented on #774
At least that’s the main reason why _I_ don’t (and not going to) use `H1` where I would use a levelless heading. And that’s why `DT` is my choice for cases when I need a levelless heading.

Given that levelless headings are primarily needed for _minor_ blocks like widgets and subsections in sidebars, treating such blocks _less_ important than they are (like as if there were no headings in them at

[2017-02-08 11:08] LJWatson commented on #774
@jakearchibald for a new element to be included in the spec, it has to demonstrate widespread adoption (enough people using the polyfill to convince browsers to implement it natively). Given this, I think search engines would likely factor it into their algorithms?

[2017-02-08 11:18] Marat-Tanalin commented on #774
@nico3333fr

(That was not @stevefaulkner, btw.) I’m not sure incorrect uses of the `SECTION` element by some people of the same type who uses `<b></b>` instead of headings is really relevant in terms of general semantics and ways of improving it.

I would be totally fine if spec would explicitly _disallow_ using _more than one_ levelless heading per sectioning element. And such restriction is pro

[2017-02-08 11:31] Marat-Tanalin commented on #774
@stevefaulkner

It probably makes sense to clarify how exactly the outline-algorithm implementations in browsers would look like and how exactly that could be used UI-wise.

I’m almost sure the algorithm has not been (and most likely not going to be ever) implemented in browsers exactly because its _usefulness for end user is unclear_, while AT could have their own DOM-based algorithm built-in reg

[2017-02-08 11:37] jakearchibald commented on #774
@LJWatson I totally I agree, and it's why I think the "h1s are bad for SEO" arguments are spurious.

[2017-02-08 11:40] stevefaulkner commented on #774
@Marat-Tanalin
Here are some bugs filed about implementing the outline algorithm in browsers:
At a minimum browsers would need to implement the algorithm in the acc tree.
I suggest that in order to have a chance at making it work practically an API for devs is needed.

* https://www.w3.org/Bugs/Public/show_bug.cgi?id=25003 modify required heading mappings to reflect reality – HTML spec bug
* https

[2017-02-08 11:45] Marat-Tanalin commented on #774
@stevefaulkner Some specific brief conclusions from what can be read there relative to my question (how exactly the outline-algorithm implementations in browsers would look like and how exactly that could be used UI-wise) would be welcome.

[2017-02-08 11:50] jakearchibald commented on #774
I agree with @stevefaulkner here.

What we need to make `<section><h1></section>` work:

* Get browsers to implement the outline algorithm.

What we need to make `<section><h></section>` work:

* Add `<h>` to the elements spec, including DOM bits.
* Update the parsing spec to cater for `<h>` (it may be difficult at this stage to make it parse similar to other heading elements).
* Update outline al

[2017-02-08 11:56] Marat-Tanalin commented on #774
@jakearchibald

Please don’t let the SEO term to make you biased. To be clear, I’m _not_ a SEO geek, I just believe that quality ranking in search engines is important in general for all of us who search information. That’s why I don’t want my page to be as relevant by a minor sidebar-section heading as by the real page heading marked up as the first-level heading of the entire page.

[2017-02-08 12:09] Marat-Tanalin commented on #774
@jakearchibald

What we need to make an element _work_ is actually just to add some _styles_ for it. As for default browser styles, `display: block; font-weight: bold` for the `H` element would be enough.

A whole spec for a single HTML element? Wow.

HTML5 parsing is universal, a priori supports _any_ new elements, and does _not_ need to be updated when a new element is introduced except for case

[2017-02-08 12:15] stevefaulkner commented on #774
This is not the case, it is up to the browser to implement the outline algorithm to expose the correct heading structure/ levels via the acc APIs in the browser. AT's use the information from the APIs to convey the semantics to the user.

[2017-02-08 12:17] Marat-Tanalin commented on #774
@stevefaulkner Don’t AT have access to DOM at all even if they needed/wanted?

[2017-02-08 12:31] stevefaulkner commented on #774
@Marat-Tanalin depends on OS, Mac OS/iOS none,
On windows AT do dependent on browser, e.g. Edge does not expose DOM to AT. Other browsers provide legacy support, but increasinlgy AT are moving away from accessing the DOM as it is not efficient for them. For example NVDA does not access the DOM in Firefox, they do in IE but only as a last resort due to IE's poor acc API implementation. ChromeVox ha

[2017-02-08 12:50] Marat-Tanalin commented on #774
@stevefaulkner Thanks. Fwiw, I believe that a really _quality_ screen reader should not settle for less by just relying on accessibility features provided by browsers, and a custom DOM-based reading algorithm could provide much better user experience for physically impaired people.

Anyway, given that the outline algorithm is not implemented in browsers, classic `H1` used for nested sectioning ele

[2017-02-08 13:42] jakearchibald commented on #774
@Marat-Tanalin

But `<h1>` already has styles, so that's not a good justification for adding `<h>`.

It doesn't need to be a separate document, but it would need to be equivalent to https://html.spec.whatwg.org/multipage/semantics.html#the-h1,-h2,-h3,-h4,-h5,-and-h6-elements.

So you're saying `<h>` would behave significantly differently to `<h1>` during parsing? As in `<p><h>Hello</h></p>` would

[2017-02-08 13:47] tomByrer commented on #774
I'm torn.  In the modern world of component-HTML (Polymer, X-Tags, React, VueJS, etc), there may be times where an article-component should have an `<h3>` header, but the same article-component may be re-used somewhere else & should have an `<h2>` header.  So a generic `<h>` tag would be great here.
An `<h2>` hard-coded into component-HTML could be problematic to truly be a reusable component in d

[2017-02-08 13:58] jakearchibald commented on #774
But this is exactly how `<section><h1></h1></section>` is spec'd to behave. Why do we need a new thing to do the same thing?

[2017-02-08 14:13] stevefaulkner commented on #92
As this is marked with 'incubate first' closing here, should be raised in WICG.

[2017-02-08 14:13] #92 closed, assigned to stevefaulkner

[2017-02-08 14:21] stevefaulkner commented on #266
It's been a year and no tests have been forthcoming. Closing this for now, please re-open when tests are available.

[2017-02-08 14:21] #266 closed, assigned to stevefaulkner

[2017-02-08 14:23] stevefaulkner commented on #355
@LJWatson yes, needs incubation.

[2017-02-08 14:23] #355 closed, assigned to stevefaulkner

[2017-02-08 14:26] cynthia commented on #774
I'm with @jakearchibald on this one. (As in section.h1)

Also, while this might be a stupid point - if a document ends up with the equivalent of `<h16>`, what should be the browser style for that element? If it stops scaling down after a certain point (given a unstyled document) the visual hints won't be of any help distinguishing the outline level.

Even a logarithmic scale for font sizes will be

[2017-02-08 14:26] jonathanKingston commented on #774
After discussing with @jakearchibald one factor to not implement the outline algorithm on `<h1-6>` could be the impact/improvement on accessibility.
It seems like it would be hard to disprove and I can't find any evidence of anyone suggesting that as a blocker to implementing.

The `<h>` tag however wouldn't suffer from breaking the semantics of current pages. Unless developers were required to **

[2017-02-08 14:32] cynthia commented on #788
Does this actually reflect what the implementations do? I'm worried that the implementations won't go this far. (and unless there is a strong push+market demand, never will)

[2017-02-08 15:27] aardrian commented on #774
@cynthia:

Have the browser set the lowest rank to the base content size, and then scale up from there (whether by n% increments or whatever). So on a page with `<h16>`-equivalent, an  `<h1>`-equivalent would be far larger than an  `<h1>`-equivalent on a page that only nests to  `<h3>`-equivalent.

[2017-02-08 15:49] Marat-Tanalin commented on #774
@jakearchibald

That would be fine. Both are syntactically invalid, and validator would point that out, that’s enough. It’s not _necessary_ to change the parser here. For those who care about validity, possible changes in how browsers correct _errors_ once `H` is taked into account would break nothing.

The point is the ability to use the new element in practice without making HTML invalid. As I s

[2017-02-08 15:49] cynthia commented on #774
I'm not sure if I understood @aardrian correctly, but based on my understanding...

Wouldn't that break the layout whenever a new <h> level is introduced? Not always does the original page author have control over what content can be in the page. Your algorithm would effectively bump the font size for everything in the event a unexpected <h> element is put into the content.

Blog posts affecting b

[2017-02-08 15:55] Marat-Tanalin commented on #774
@tomByrer Fwiw, unless your `DIV`s are supposed to be converted automatically to some sectioning elements like `SECTION`, your code does not make sense since it does not contain sectioning elements: `DIV` is semantically transparent, so you effectively have just invalid multiple `H` elements without even a sectioning container. For even more clarity:

    <section>
        <div>
            <h>Thi

[2017-02-08 16:02] jakearchibald commented on #774
@Marat-Tanalin

The benefit of using the element in practice is still missing from your argument, and that's really the most important part.

[2017-02-08 16:04] Marat-Tanalin commented on #774
@jakearchibald

The element is valid per spec → the element is used by web developers → the element support is implemented in browsers (incl. accessibility-wise).

[2017-02-08 16:13] aardrian commented on #774
@cynthia

Yes, it could if the site developer doesn't use CSS at all. I suspect, however, that a developer would pin all `<h>` elements to set size in certain contexts. In a nested comment stream for example, visually showing the hierarchy with font size changes is likely unnecessary.

[2017-02-08 16:16] LJWatson commented on #774
@jakearchibald the problem with the existing ```<h1>``` outline algorithm thing, is that it would instantly break perfectly good ranked heading hierarchies out in the wild. The ```<h>``` element would not do that.

[2017-02-08 16:26] jakearchibald commented on #774
@LJWatson got any examples of cases it'd break? But yeah, if implementing the outline breaks more than it fixes, `<h>` may make sense.

@Marat-Tanalin

That isn't what happened with the outline algorithm.

[2017-02-08 16:39] LJWatson commented on #774
@jakearchibald any site that uses the following pattern would break I think:
[code]

It's a pattern I come across pretty regularly (possibly because my screen reader identifies the sections more readily than is apparent visually). Typically, the only example I can call to mind now though is <a href="http://html5doctor.com/">html5doctor.com</a>, which has something like:
[code]

If I understand thi

[2017-02-08 16:39] Marat-Tanalin commented on #774
@jakearchibald The outline algorithm is unneeded for web developers and most users. What’s unneeded is rarely implemented.

[2017-02-08 16:41] jakearchibald commented on #774
@Marat-Tanalin that brings me back to: The benefit of using the element in practice is still missing from your argument, and that's really the most important part.

[2017-02-08 16:42] Marat-Tanalin commented on #774
@jakearchibald Thank you for your attention.

[2017-02-08 16:44] jakearchibald commented on #774
@LJWatson I wonder if the outline could fix cases like this. If `h3` is the topmost heading, reduce all heading levels by 2.

I guess there could be cases that are just plain broken. But if implementing outline makes 90% of the web better and 10% worse, it might be worth it.

[2017-02-08 16:50] ZoeBijl commented on #166
A draft for this section:

# Focus handling for clipboard actions

There are three clipboard actions that can affect focus: cut, copy, and paste. Focus for these actions is handled by the user agent by default. When custom clipboard events are implemented these default behaviours should be implemented by the author.

- Cut action
	- When a cut action is performed the selected object should be remo

[2017-02-08 17:33] AmeliaBR commented on #774
I think this discussion makes it clear that there needs to be a concerted effort to (a) Fix and (b) Implement the outline algorithm.  And by "fix", I don't mean write up something theoretically nice, I mean with careful consideration of existing usage patterns like those highlighted by @LJWatson.

If the only way to fix it effectively is to introduce a new element that doesn't bring along any sema

[2017-02-08 17:40] jakearchibald commented on #774
Even if headings & sections are being used a little incorrectly, it might be better to encourage developers to fix that. Eg, we got the majority of developers to fix their use of `<table>` rather than write-off `<table>` and spec `<tableForRealsThisTime>` to be the same thing.

[2017-02-08 17:44] AmeliaBR commented on #774
In response to @Heydon's "thoughts regarding the CSS part":

I think a key to getting outline algorithms used correctly (with or without `<h>`) would be a CSS `:level(n)` or `:heading-level(n)` pseudoclass selector.

Web authors could chose whether to style an element based on its context (e.g., heading for the article always looks the same regardless of whether its the main article or in a sectio

[2017-02-08 18:04] jakearchibald commented on #774
My frustration with some of the discussion here is that the current implementation of headings, in the real world, is being compared to a future world of perfect implementations and usage of this new tag.

With that in mind, do these action items sound fair?

- [ ] Investigate a11y/SEO problems caused by implementing the outline algorithm against the current web.
- [ ] Compare any problems to thos

[2017-02-08 19:51] WebDevCA commented on #774
@nico3333fr said:

This is exactly what I have been arguing for years at different sites and discussion boards. I find exceedingly few instances where web developers actually know how to provide a correct `Hx` structure for their document. A lot of them don't know that 6 comes after 5 which comes after 4 which comes after 3 which comes after 2 which comes after 1. Sometimes there's no sense whatso

[2017-02-08 22:27] Marat-Tanalin commented on #774
@WebDevCA

There is no need for any implicit _numbering_ of levelless heading. It’s enough just to know that levelless heading for its closest sectioning container is like the `TITLE` element for entire HTML document. There is just a section and its heading, and there are no numbers.

[2017-02-09 03:15] acjay commented on #774
@AmeliaBR

Or `:outline-depth(n)`!

[2017-02-09 08:11] stevefaulkner commented on #774
@Marat-Tanalin

This is incorrect, unless the nesting level of a heading is exposed via acc APIs (as they are now) then it will be a flat outline.

[2017-02-09 09:20] jakearchibald commented on #774
**Ideas for testing the HTML outline algorithm**

Take some sort of meaningful sample of the most-popular pages on the web, apply the HTML outline algorithm, and find out:

* How many pages change heading structure as a result of the outline algorithm?
* How many pages start with an h1 currently, but no longer start with an h1 after applying the outline? However, it's difficult to assess how bad t

[2017-02-09 10:02] Heydon commented on #774
@jakearchibald  I don't think `<table>` is a fair comparison to the `<h1>` situation. Tables were simply being used in a way that was inappropriate. Regarding `<h1>`, authors do — frequently — use it inappropriately too, but that's orthogonal to the issue of introducing a new use case / behavior for an old element. It's not like `<table>` was for layout then somebody thought, "let's make it work f

[2017-02-09 10:18] jakearchibald commented on #774
@Heydon the outline doesn't break correct usage of flat `<h1>` etc, it only breaks if the outline is used incorrectly, as shown in https://github.com/w3c/html/issues/774#issuecomment-278382514.

Again, this is comparing the current reality to a perfect future world. There's nothing to say that browsers wouldn't make the same mistakes with `<h>` + outline as they have with `<h1>` + outline. We must

[2017-02-09 10:29] nico3333fr commented on #774
@jakearchibald

One thought : even if I'm not working for Google/etc. and not speaking for them, neither as a SEO expert (I'm more interested in accessibility), I fear the SEO point of view could be negative for the ```h``` tag : search engines will have to implement too the outline algorythm (which makes it really critical), in order to calculate the correct structure of the page (to know which `

[2017-02-09 10:43] Nettsentrisk commented on #774
Heading element levels stopping at 6 is quite arbitrary, so it seems like the `<h>`-element should have been there from the beginning, with a level attribute (a proxy for the aria-level attribute). `<h1-h6>` as a concept should be deprecated, there are no other elements defined with numbers in such an arbitrary manner.

Regarding incorrect usage, that happens now with `<h1-h6>`, will happen with `

[2017-02-09 10:43] Heydon commented on #774
To be clear, I was talking about author mistakes, not browser/vendor mistakes. We told authors they could use `<h1>` with sectioning elements and create an outline. Then we told them they couldn't. Now we'd be telling them they can again.

It's necessarily not possible, because `<h1>` has an identity and legacy, and `<h>` does not. I'm not sure how one would measure that difference and provide evi

[2017-02-09 11:10] DiegoLopesLima commented on #774
It may not be "unnecessary," but optional as the `tabindex` attribute... In the case of an `<h>` element, may be something like a `level="1-n"` attribute can solve it...

[code]

[2017-02-09 11:13] jakearchibald commented on #774
@nico3333fr

Yes! I could hug you! This is exactly what I mean when I say "Compare any problems to those of introducing a whole new tag, which will be unknown & without any semantics to current user agents, and carry the same risk of being introduced without a correct implementation of the outline."

Without evidence, it's unreasonable to expect `<h>` + outline to be better implemented than `<h1>`

[2017-02-09 11:15] nico3333fr commented on #774
@DiegoLopesLima we could map the attribute level="x" to aria-level="x" :)

[2017-02-09 11:19] jakearchibald commented on #774
@Nettsentrisk

Stating that something's "right" isn't an argument. We need *evidence*.

You're right when you say `<h>` should have been there from the beginning, but we are not at the beginning. [But there was already an attempt to change this](https://www.w3.org/TR/xhtml2/mod-structural.html#sec_8.5.), which failed, because reinventing the web in backwards-incompatible ways isn't as good as incr

[2017-02-09 11:20] DiegoLopesLima commented on #774
@nico3333fr Perfect!

[2017-02-09 11:20] jakearchibald commented on #774
@Heydon

Did you see https://github.com/w3c/html/issues/774#issuecomment-278588278?

[2017-02-09 11:33] chaoaretasty commented on #774
The big issue to me would be mixed mode documents, particularly considering JS libraries or components and content brought in from outside the site itself. If a site is mixing `h1` used via the outline algorithm and `h1` used via the traditional 1-6 how do you display or announce to AT a given header? What about `hx` elsewhere in that document?

The problem is that the `h` outline algorithm is not

[2017-02-09 11:43] chaals commented on #774
[meta…]
Hey folks,

it might help people who come to read this already long thread if people tried not to repeat comments - instead give thumbs up or down an existing one...

Breaking up multiple comments into rational chunks would also make that easier.