[2017-06-08 20:02] BigBlueHat commented on #160
I've done a bit of digging to help clarify the past, present, and future:
https://github.com/BigBlueHat/relify/wiki

My intent is to publish this in some more sensible format, but for now, this hopefully paints a complete(ish) picture of how we got to here. :smile:

The [IANA Registry](https://www.iana.org/assignments/link-relations/link-relations.xhtml) is by far the most widely trusted registry

[2017-06-08 22:55] cycomachead commented on #894
It seems that `tr` is missing `role=row` as the default.

[2017-06-09 04:28] pavankjois commented on #935
ha

[2017-06-09 20:47] arturjanc opened #951 "Clarify the meaning of browsing context familiarity"
The [Browsing Context Security](https://www.w3.org/TR/html52/single-page.html#browsing-context-security) section defines the concept of familiarity of two browsing contexts. The definition is fairly non-obvious and doesn't explain the consequences of two browsing contexts being familiar with each other, or the high-level reasons for introducing it.

Since this is not a common term I'd suggest addi

[2017-06-09 21:08] arturjanc opened #952 "Update clickjacking and CSRF protection guidance"
The [Writing secure applications with HTML](https://www.w3.org/TR/html51/single-page.html#writing-secure-applications-with-html) section has a good overview of the most common web bugs, but the advice could use a couple of tweaks to reflect current best practices:

**Clickjacking**

JS-based framebusting is not the recommended solution for clickjacking for a variety of reasons, including the possi

[2017-06-10 06:22] #913 closed, assigned to nobody

[2017-06-12 09:19] chaals commented on #951
This term is only used a couple of times, in the chapter where it is defined - on browsing contexts. I suggest adding a note to the definition explaining what the point is...

[2017-06-12 20:34] chaals commented on #893
Proposed: The plugin API

Browsers are consistently tightening the constraints on this, to the point where it seems unlikely to continue being interoperable.

We should examine this and if appropriate remove it.

[2017-06-12 23:30] prlbr commented on #893
`<menuitem>` has been removed from Blink: https://bugs.chromium.org/p/chromium/issues/detail?id=87553&desc=2#c66 (via https://github.com/whatwg/html/issues/2730)

[2017-06-13 13:27] #949 closed, assigned to LJWatson

[2017-06-13 13:29] LJWatson commented on #944
This CFC passes with positive support and no objections.

[2017-06-13 13:29] #944 closed, assigned to LJWatson

[2017-06-14 07:23] #538 closed, assigned to cynthia, chaals

[2017-06-14 10:54] chaals commented on #819
I don't think it is moot - the question is still:

Does a `td` within a `thead` block represent a column label or header?

The reason it is not entirely esoteric is that it represents guidance to a tool developer.

## If the answer is "no"

While any tool is authorised to add the information in such a cell to what it provides as a heading for a column, it would be applying a heuristic that runs co

[2017-06-14 10:55] chaals commented on #819
I cleared the milestone. While this is IMHO a real issue that we should answer I don't think it is a burning priority.

[2017-06-15 00:30] karlcow opened #953 "form label Example 2 is broken."
1. Go to https://www.w3.org/TR/html51/sec-forms.html#element-attrdef-label-for
2. head to example 2

![capture d ecran 2017-06-15 a 09 23 55](https://user-images.githubusercontent.com/505230/27160082-76e0cb32-51ac-11e7-9521-d99c6b110c02.png)

It seems one character was not properly escaped.

[2017-06-15 07:22] cynthia commented on #953
Good catch, will take a look.

[2017-06-15 09:17] chaals commented on #953
Yep. Was fixed in 5.2 already, but since we have a 5.1 2nd ed. in flight we may as well fix it there too. @siusin ?

[2017-06-15 14:21] prlbr commented on #929
Having looked into the original [bugzilla 22034](https://www.w3.org/Bugs/Public/show_bug.cgi?id=22034) issue now (which I should have done before), I see that the suggestion is not so much about allowing `<small>` to mark up subheadings in addition to `<small>`’s current meaning, but about giving `<small>` a **new** and more abstract definition which covers both its current and further use cases,

[2017-06-15 23:08] stevefaulkner commented on #909
@DavidMacDonald this is the wrong spec to file this issue on, also it is not the case that `th` has no semantics - see the API mappings https://w3c.github.io/html-aam/#el-th

[2017-06-15 23:08] #909 closed, assigned to nobody

[2017-06-16 11:02] dylanb commented on #736
Is `label` a defined term in the HTML spec in the same way as it is in WCAG 2?

The reason I ask is because `label` under WCAG 2 refers to visible labels whereas `accessible name` refers to the text available to AT.

If the HTML spec has the same definition, then the text as it is is ok because the placeholder label option is simply serving as a visible label. It will still be necessary to either

[2017-06-16 16:00] siusin commented on #953
Thanks @karlcow !

We have updated [this piece of code in the editor's draft](https://rawgit.com/w3c/html/html5.1-2/single-page.html#element-attrdef-label-for) of the HTML 5.1 2nd Edition, which will be (hopefully) published as a CR on Monday.

[2017-06-16 18:47] DavidMacDonald commented on #909
@stevefaulkner

Then the Validator **should not** throw an error on this, right?
`<th aria-sort="ascending" ...>`
So should the bug be filed there? I've reopened over there.

[2017-06-17 04:26] sideshowbarker commented on #909
The *ARIA* spec itself is the relevant spec here.

So, see https://www.w3.org/TR/wai-aria-1.1/#h-aria-sort, which says that `aria-sort` must not be used when the `role` value is anything other than `columnheader` or `rowheader`.

If you want for the ARIA spec to say that `columnheader` or `rowheader` should be allowed even with the explicit `role` value isn’t `columnheader` or `rowheader` then I g

[2017-06-17 20:30] LJWatson commented on #829
Ping @adanilo?

[2017-06-17 22:25] LJWatson commented on #942
Wide review complete. No substantive issues to deal with.

[2017-06-17 22:25] #942 closed, assigned to cynthia, stevefaulkner, adanilo, travisleithead, LJWatson, arronei

[2017-06-18 19:01] #953 closed, assigned to cynthia

[2017-06-19 08:21] mikewest commented on #780
This came up again in the context of https://github.com/whatwg/html/issues/2757. I'd note briefly that both WebKit and Blink do "same origin-domain" checks when assigning to things like `location.href`. I slapped together some WIP tests at https://github.com/w3c/web-platform-tests/pull/6243 to show that behavior.

[2017-06-19 16:41] bzbarsky commented on #780
At least in some cases.  But not other cases.  What's needed here is a spec; a good start would be clear descriptions of what various UAs actually do, like the one I provided for Gecko above.

[2017-06-20 01:35] siusin commented on #754
With the updates in the current Editors' Draft (ED) of [HTML5.1 2nd edition](https://rawgit.com/w3c/html/html5.1-2/single-page.html), this issue has been addressed. We will publish a new CR of HTML5.1 2nd edition this week to make sure the stable version of HTML 5.1 does not include this error.

[2017-06-20 07:21] adanilo commented on #560
Mostly there, just need to fix some bikeshed link references, will be ready for review shortly.

[2017-06-20 12:28] #754 closed, assigned to cynthia, chaals

[2017-06-21 16:48] #841 closed, assigned to LJWatson

[2017-06-23 14:02] LJWatson commented on #868
@Patrick_H_Lauke would you be able to propose some words/default styling guidance for this?

[2017-06-23 16:30] LJWatson commented on #734
Retesting this, six months on from @MichielBijl's original tests.

Test criteria:
* Clicking on the ```<label>``` activates the contenteditable area;
* The content of the ```<label>``` is exposed as the contenteditable area's accessible name.

It seems that only IE meets either of these criteria. Chrome, Firefox, Edge, and Safari do not meet either criteria.

It seems unlikely that implementors wi

[2017-06-23 17:04] LJWatson commented on #934
IE, Edge, and Firefox have caret browsing enabled by default (f7 to toggle), and Chrome ahas it via an extension. This lets you navigate static content to the point where you want to select/copy/paste.

Thanks to @handcoding for pointing me in the right direction for info on caret browsing.

Do not think this issue needs resolution in the spec.

[2017-06-23 17:05] LJWatson commented on #342
This should be filed against the Image Description extension. Is there a repo?

[2017-06-23 17:09] LJWatson commented on #952
Thanks @arturjanc. Is there any chance you could suggest some words for these changes?

[2017-06-23 17:10] LJWatson commented on #951
Thanks arturjanc. Is there any chance you could suggest some words for this change?

[2017-06-23 18:37] chaals commented on #342
There isn't, but I can make one.

[2017-06-23 18:41] chaals commented on #569
Closing this issue - I will open one on whether to integrate custom elements, and if we decide that is the right idea, then we'll open issues as needed for the work...

[2017-06-23 18:41] #569 closed, assigned to nobody

[2017-06-23 18:44] chaals opened #955 "Incorporate Custom Elements in HTML directly?"
Custom elements does not (in my opinion) seem like a good fit for a module, since it essentially impacts a number of different places in the specification rather than standing alone.

Should we integrate it directly - assuming sufficient interoperability, anticipating it for HTML 5.3?

Note this issue may become a formal CfC...

[2017-06-23 20:16] johnfoliot commented on #342
Hi All,

While I can't disagree that somehow an image with @longdesc needs to take
trigger focus, there is and will be a use-case where it is unclear today
how the browser should react:

<a href="[link]"><img src="" alt="" longdesc="[link]></a>

This effectively creates 2 hyperlinks on one element - an "inner link"
(@longdesc) and an outer-link (<a>). Granted this is likely something of an
edge-ca

[2017-06-25 13:31] LJWatson commented on #955
Background for this was posted to [public-html@w3.org](https://lists.w3.org/Archives/Public/public-html/2017Jun/0017.html), and is reproduced below:

specification](https://w3c.github.io/webcomponents/spec/custom/). That has proven difficult to maintain, and it is largely a set of "monkey-patches" to HTML (and a few to DOM), pointing
to various places throughout the specification where changes sho

[2017-06-25 14:27] ZoeBijl commented on #955
If it does indeed impact various sections of the base spec than it’d make a lot of sense to incorporate it.

[2017-06-25 23:11] ahmadalfy commented on #633
Are we talking about using [bikeshed](https://tabatkins.github.io/bikeshed/)?

[2017-06-26 09:56] LJWatson commented on #633
@ahmadalfy, the spec uses Bikeshed, yes.

[2017-06-26 12:39] DavidMacDonald commented on #909
@stevefaulkner

I see, it gets  `role="cell"`

This is very generic. There are two types of cells in HTML tables. Headers `<th>` and data `<td>`. Why not map it to one of those in the API, instead of `cell`?

Then we can file a bug against wai-aria to allow an api mapping of generic `header` in addition to `columnheader` and `rowheader`

this will offload the burden that is on authors currently, w

[2017-06-27 11:00] ZoeBijl commented on #734
@LJWatson you can still add a click event handler to the label and make that activate the contenteditable area. In other words, you can polyfill both criteria, no?

[2017-06-27 17:53] LJWatson commented on #734
Good point @MichielBijl. I don't think it changes the basic problem though - that without implementations, we can't add this to the spec.

[2017-06-27 20:32] Sworddragon commented on #344
A few notes to the part with the sound amplification:

- The Flash Player is capable of sound amplification which works fine there. Developers might have used it on their Flash applications and will then probably find it useful if they could continue to use it on porting their applications to HTML5.
- While this was already pointed out more or less on the linked ticket in the startpost another cur

[2017-06-29 06:40] dwsinger commented on #955
in this case, I think it makes sense.  Custom Elements are entangled into HTML (and WhatWG have integrated).

But the HTML spec. is already unwieldy, really, and making it larger and larger is not a great direction. We should explore making the HTML spec. more modular. Integrate the things that are deeply entangled with the spec., separate into modules things that are layered on it (roughly).

[2017-06-29 14:17] hartman commented on #909
I think it should be noted that [columnheader](https://www.w3.org/TR/wai-aria-1.1/#columnheader) and [rowheader](https://www.w3.org/TR/wai-aria-1.1/#rowheader) themselves are defined as th[scope="col"] and th[scope="row"] base concepts.

The scope attribute itself however is currently a question mark in AAM: https://w3c.github.io/html-aam/#att-scope

[2017-06-29 14:59] LJWatson commented on #909
Please note this issue has been closed in relation to the HTML spec. Issues relating to ARIA and the HTML AAM should be filed on the relevant repos:
* [ARIA repo](https://github.com/w3c/aria)
* [HTML AAM](https://github.com/w3c/html-aam)

[2017-06-29 15:33] ZoeBijl commented on #734
@ljwatson agreed.

I’m not aware of any such implementations in the wild. Twitter’s compose box uses contenteditable but doesn’t have a visible label, let alone one that’s clickable. GitHub and LinkedIn both use a `<textarea>` for their main comment/content submission forms.

[2017-06-29 20:27] cwilso commented on #955
Is there someone planning to maintain this area in the spec, then?  Currently Domenic occasionally takes a snapshot of the relevant parts of the WHATWG specs (HTML&DOM), but I don't believe he is committed to doing any maintenance if it's rolled into HTML.  Until that update path can be resolved, I believe Google would prefer to keep this outside the core spec.

[2017-07-01 06:39] ghost opened #956 "There seems to be an error in the HTML 5.1 specification outline example."
Hi, I am looking closely to understand the part of the outline algorithm.
Then, I found that some of the examples in the outline algorithm seem to have errors.

In Example 28 &mdash; [headings-and-sections](https://www.w3.org/TR/html51/sections.html#headings-and-sections)

[code]

[code]

It describes that

But I think the two have different outlines as follows.
( And the "Nu Html Checker" showed

[2017-07-01 10:48] chaals commented on #956
@seongbong as I understand it you have correctly understood the algorithm, and the example in the 5.1 version was presented incorrectly, which is why it was changed.

ping @stevefaulkner @siusin

[2017-07-01 14:01] mulder21c commented on #956
@chaals aha! I see. Thanks for your comment

[2017-07-01 17:32] emilbjorklund opened #957 "Proposal: allow display: contents to do away with legacy fieldset/legend rendering"
If a style declaration of `display: contents` is applied to a `fieldset` element, it should ditch all the [legacy behavior in terms of rendering](https://html.spec.whatwg.org/multipage/rendering.html#the-fieldset-and-legend-elements), and (I'm assuming) just show the `legend` as an inline element per default, allowing authors to control the layout and rendering fully by using CSS (by using another

[2017-07-03 00:25] #956 closed, assigned to siusin

[2017-07-03 12:43] LJWatson commented on #957
Thanks for this proposal @emilbjorklund.

The guidance in the [Rendering](https://www.w3.org/TR/html52/rendering.html#rendering) section of the spec is informative (meaning it just provides guidance for browsers on how to render different elements). It would be possible to update the rendering guidance for ```<fieldset>``` and/or ```<legend>```, should it be a good idea.

One thing to note is that

[2017-07-03 12:49] hanshillen commented on #957
Sounds like a good idea to me.

[2017-07-03 12:56] emilbjorklund commented on #957
Thanks for the feedback, @LJWatson! FWIW, `display: contents` seems to have been in development in Blink for a while, so there seems to be some movement, at least.

The important bit is getting some sort of ”Doctype switch” for fieldset/legend combos (to shrug off the old ”unstyleability”). If some other property (that doesn't remove the rendered box) can play that part without breaking compatibil

[2017-07-03 13:31] aardrian commented on #957
I have not had the experience where developers avoid `fieldset`/`legend` simply because of styling issues, and I have been working with web teams since before those elements existed. I would love to see something to back up your assertion.

Do you anticipate `display: contents` having any effect on the fields and labels that live within the `fieldset`? Or is this primarily just targeted at indenti

[2017-07-03 14:13] emilbjorklund commented on #957
@aardrian I've come across many people (over the last 10 years or so) who either know about it but are reluctant to use it for styling reasons, or tried using it at some point but then got frustrated over styling and then pretty much forgot that these elements exist at all. It's not like I've kept a journal of those instances, though. Going on feedback I got from writing the blog post (along the l

[2017-07-03 14:22] patrickhlauke commented on #957
Possibly the more sustainable solution would be to get browsers to fix their sometimes quirky special-casing of `fieldset`/`legend`. I admit that I have vague memories of having fought around with styling these and having to do lots of extra work (possibly to get it to work in Firefox) back in the early 2000s. But I thought that most kinks had been ironed out (similarly to the old old issues of no

[2017-07-03 14:26] emilbjorklund commented on #957
@patrickhlauke That would be ideal – my fear is that browser makers won't do that, as it breaks existing sites (the Blink bug I linked to above was one such case - they shipped a fix for `fieldset` not being able to be a flex container, then had to revert it because of site breakage, if I understand correctly.)

The kinks are still very much there, sadly, and the weirdness of rendering the legend

[2017-07-03 18:44] siusin commented on #956
Thanks @mulder21c !

We will fix this error in the Proposed REC of HTML 5.1 2nd Edition, which will be published in the end of this month.

Also see https://rawgit.com/w3c/html/html5.1-2/single-page.html#headings-and-sections.

[2017-07-03 19:42] LJWatson commented on #940
Pinging @Cabanier, @jatindersman, @techtoons, and @wiltzius for advice.

[2017-07-03 19:48] LJWatson commented on #936
Ping @Hober, @JacobRossi, @JakeArchibald, @Tantek. Thoughts?

[2017-07-03 19:49] #934 closed, assigned to nobody

[2017-07-03 19:53] LJWatson commented on #931
Ping @ArronEi, @SteveFaulkner, @ADanilo, and @Cynthia for thoughts please.

[2017-07-03 20:26] LJWatson commented on #929
The [definition of ```<small>```](https://www.w3.org/TR/html52/textlevel-semantics.html#the-small-element) doesn't seem to preclude its use in this way, and the [W3C conformance checker](https://validator.w3.org/nu) doesn't object to either of the test cases in the first comment.

It would be helpful to get a sense of how often developers are using a styled ```<span>``` to produce the same effect.

[2017-07-03 21:09] kornelski commented on #929
I still prefer [`<hsub>`](https://www.w3.org/html/wg/wiki/ChangeProposals/hSub).

[2017-07-03 21:12] patrickhlauke commented on #929
An alternative pattern I often see used: `<h1>Chapter 7</h1><h2>The separation</h2>`

Downside here of course is that because of the limited number of native heading levels, you're "wasting" one level on this. But to me at least that feels a bit more sensible.

[2017-07-04 05:23] aaaxx opened #958 "Odd example for `alt` attribute in "4.7.5.1.8. A graphical representation of some of the surrounding text""
The section 4.7.5.1.8, "A graphical representation of some of the surrounding text", says that the effectively superfluous images that just reinforce the surrounding text should have a blank `alt` attribute (presumably so that screen readers can just skip them), but the example given contradicts that. (It actually kind of looks like an earlier draft of the example 39 in the previous section, 4.7.5

[2017-07-04 07:21] iandevlin commented on #929
I don't mind allowing the use of `<small>` in `<h1>` although there do seem to be other alternatives suggested by others, another of which could be:
[code]

which wouldn't require anything to be changed.

The only "issue" I see with the original proposal here is that the sub heading is now part of the `<h1>` and will be displayed as part of the title displayed on Google search results for example.

[2017-07-04 07:24] iandevlin commented on #910
I think that this is a good idea, even if only for completeness.

[2017-07-04 10:17] jakearchibald commented on #936
Hmm yeah, I'm kinda surprised that checkboxes behave differently to radios in this case, but it's too late to change now.

We could introduce something like `<fieldset requireone>` which asserts that at least one descendant input passes a "required" check.

This allows you to express a fieldset that contains 10 checkboxes and an "Other" text input, where you must select at least one checkbox or en

[2017-07-04 10:51] prlbr commented on #929
Yes, there are cases where a “subheading” is actually part of the heading, e.g. in the movie title

([cf. movie poster](https://upload.wikimedia.org/wikipedia/en/e/e6/Dr._Strangelove_poster.jpg)) and there are cases where the “subheading” isn’t part of the heading but more like a tagline or something like that, e.g.

([cf. movie poster](https://upload.wikimedia.org/wikipedia/en/3/3b/Pulp_Fiction_%

[2017-07-04 11:21] chaals commented on #936
Since we're apparently speculating here, because we don't have a concrete solution, an alternative may be to state that validity of a particular input satisfies a scoped validity, and allow fieldset to automatically act as that scope.

This would enable chaining, which I think is important.

The case where I run across this regularly is sites that require *some* form of contact - be it email, tele

[2017-07-04 11:54] prlbr commented on #936
I think the proposal by @jakearchibald is good. I would prefer reusing the `required` attribute name on the `<fieldset>` element to introducing a new name though. The `disabled` attribute is a parallel: it works both with fieldset and with other form elements.

I hope there is implementor interest.

[2017-07-04 12:00] jakearchibald commented on #936
@prlbr I considered `required`, but that may suggest that all are required.

[2017-07-04 12:30] fvsch commented on #957
I’ve had that experience on 100% projects where we follow a pre-existing visual design (in 12 years in web agencies). Fieldset/legend is just impossible to use if you’re targetting a custom design. If you want to keep the default design that looks like something out of Windows 95, then it’s okay, but I’ve never worked on a commercial project that wanted that.

I don’t think there’s been significan

[2017-07-04 13:48] #926 closed, assigned to LJWatson

[2017-07-04 13:51] LJWatson commented on #926
@jasonkiss I didn't update the obsolete section because I think "these attributes" correctly refers to the previous two attributes mentioned in that section? Ping if you disagree though.

[2017-07-04 14:16] benwiley4000 commented on #910
Here's the relevant discussion in the [whatwg/html repo](https://github.com/whatwg/html/issues/2691). Probably not gonna happen!

[2017-07-04 15:53] jpdevries commented on #957
I don't avoid it, I just visually hide the `<legend>` and then style a custom "label" that is `aria-hidden="true"`. Personally I would find being able to style `<legend>` useful.

[2017-07-04 19:40] LJWatson commented on #939
Do we have any data on how often developers are using a workaround? Are there any standard polyfills/libraries/scripts that people are using?

[2017-07-05 08:43] prlbr commented on #936
Ah, I see. But

- `required` on `<select>` does not mean that all `<option>`s need to be selected.
- `required` on each `<input type='radio'>` in a group of radio buttons that share a common `name` means that just one radio button must be selected. (We can only select a single one anyway.)
- Maybe even more confusingly, a `required` on a single radio button from a group of radio buttons that share

[2017-07-05 09:15] jakearchibald commented on #936
I don't see `<select required>` in the same way, as the select is the form field and you're requiring a value from it.

The radio case is the exception, and in retrospect seems like a design mistake.

I don't have strong feelings here, but we should be wary that `required` currently applies to a single form element (with the exception of radios), and giving it different behavior on non-form elemen

[2017-07-05 09:32] LJWatson commented on #936
Given that ```<fieldset disabled>``` disables all the fields in the set, using ```<fieldset required>``` would presumably make all fields in the set required. Using `requireone` seems like a good approach.

@JakeArchibald do you think this is something that Google might consider for Chrome implementation?

[2017-07-05 10:20] prlbr opened #960 "Editorial error in HTML5.1: main element"
There’s a formatting/linking error in HTML5.1:

https://www.w3.org/TR/html/grouping-content.html#the-main-element

[2017-07-05 10:51] prlbr commented on #960
A few lines below that, every element except for `header` is linked to its definition:

It would make sense to also link `header` to its definition, but I’m not sure if this is something that is still done in W3C Recommendation stage.

[2017-07-05 11:02] jakearchibald commented on #936
I'll reach out to someone who owns the forms implementation.

[2017-07-05 11:37] chaals commented on #936
Presumably

[code]

Would be satisfied if any of the nested fieldsets were satisfied, no?

ping @asurkov, @bkardell

[2017-07-05 11:57] jakearchibald commented on #936
There isn't a case where an outer `<fieldset requireone>` could fail while an inner `<fieldset requireone>` could pass.

[2017-07-05 12:05] chaals commented on #936
@jakearchibald sorry to be dense, but I am not certain what you are saying. I **think** you mean that in an example like mine above, if one of the controls in the outer `fieldset` is valid - which may be one of the inner `fieldsets` being satisfied based on whatever is nested inside it - then the outer `fieldset` will be satisfied.

Did I understand correctly?

[2017-07-05 12:21] jakearchibald commented on #936
If the rule for `requireone` is "One of the descendant form fields must satisfy its 'required' constraint", we don't have to consider nested `<fieldset requireone>`s specifically, they just work.

[2017-07-05 12:32] chaals commented on #936
I wonder when we will get the request to require any 2...

I can see use cases for making the attribute an integer rather than a boolean -  with default value being 1. Without looking at a lot of actual content I don't know how common this is, and I have not thought about whether it complicates the proposal or implementation much.

IMHO it's reasonable to leave this to be done in script - but I do

[2017-07-05 22:16] mattur commented on #929
The h1/h2 pattern is pretty well-established ([example](https://www.w3.org/Press/PNG-PR.en.html)). Perhaps a new grouping element would be useful, something like:

[code]

Or maybe something shorter.

[2017-07-06 00:14] travisleithead commented on #290
Reviewed the test-case and spec, and don't see a remaining interop difference. Looks like the spec has been dramatically updated for focus handling, and browsers seem to have figured out how to do this interoperably (at least in this thin slice of the web platform).

[2017-07-06 00:14] #290 closed, assigned to chaals

[2017-07-06 02:10] snuggs commented on #955
@cwilso what would maintenance entail? I've spent the past couple years of my life combing and watching the specs matriculate from V0 to V1 like a hawk. That said, I know contribution processes to orgs like WHATWG / W3C can be daunting at times to say the least. Perhaps a link to what that "path" would look like?

Thanks in advance. /cc @brandondees

[2017-07-06 05:25] russmaxdesign commented on #929
@mattur I'm not sure if you are aware, but there used to be an element almost exactly as you describe in the specification. It was called the `<hgroup>` element. This element was dropped in 2013. See the discussion here:

http://lists.w3.org/Archives/Public/public-html-admin/2013Apr/0003.html

[2017-07-06 06:51] stevefaulkner commented on #929
@russmaxdesign, he is well aware [snip snip - chaals]

[2017-07-06 07:02] stevefaulkner commented on #929
@prlbr There are examples of patterns for marking up [Subheadings, subtitles, alternative titles and taglines](http://w3c.github.io/html/common-idioms-without-dedicated-elements.html#subheadings-subtitles-alternative-titles-and-taglines) in the HTML spec. If there are additional examples you think would be helpful, please provide.

[2017-07-06 07:10] #958 closed, assigned to stevefaulkner

[2017-07-06 12:53] timwright12 commented on #929
I always lean on the side of standardization for things like this, especially since there seems to be a good amount of variation in real world implementations. It can bring a lot of clarity to teaching methods [for developers and machine (assistive tech - AT)] and in the end it's shown pretty well that Web Standards have benefitted the end user.

Is `small` the answer? I don't know. I actually lik

[2017-07-06 16:12] chaals commented on #955
@snuggs if you are (or anyone else reading is) interested in taking on the task, there are two parts to the path, the "bureauracy" of getting on it, and the day to day work.

The "bureaucracy" involved is becoming a member of the Web Platform Working Group - if you are not sponsored by a W3C member organisation, that means satisfying the requirements for an invited expert (broadly, you're not work

[2017-07-08 02:38] frederikcreemers opened #961 "Proposal: allow servers to suggest alt tags for images, and possibly other content."
I'm sorry if this is not the right place for suggestions like this.

Many images on the web today are generated dynamically. The page author can often not write a useful alternative text because of this. What if servers could send a header along with the media, that suggests alternative text?

Some examples where this could be useful:

 - project [badges](https://github.com/badges/shields) on open

[2017-07-08 12:37] LJWatson commented on #961
Thanks @BigBlind. It's always good to hear new ideas, so there's no need to apologise for posting here.

That said, I don't think this is something that could be addressed in the HTML specification. Browser headers are defined as part of HTTP rather than HTML, so that's the spec that would need to be revised.

Typically browser headers are metadata (information about content, rather than content i

[2017-07-11 08:19] chaals opened #962 "complete 5.2 implementation report"
draft stub here

[2017-07-11 09:46] LJWatson commented on #962
The [draft implementation report](https://w3c.github.com/test-results/html52/implementation-report.html)

[2017-07-12 23:35] blurbusters commented on #375
Further talks have indicated that a throttle is completely unavoidable  -- that's totally understandable, because of:

* Hidden but not yet-paused tab (rAF can run at 1 Hertz)
* Power saver mode (rAF can run at reduced frequencies)
* Idle machine (rAF might slow down after a minute of unattended operation)

**As a result, discoverability of a throttle is being added to PHASE 2, and that discoverab

[2017-07-13 17:27] sideshowbarker opened #965 "Add quotation marks in figure-element note, to prevent ambiguity"
See https://github.com/whatwg/html/pull/2834

[2017-07-14 04:59] #829 closed, assigned to adanilo

[2017-07-14 04:59] #560 closed, assigned to adanilo

[2017-07-16 13:33] chaals opened #967 "add allowpaymentrequest to attribute index"
The [allowpaymentrequest` attribute](https://w3c.github.io/html/semantics-embedded-content.html#element-attrdef-iframe-allowpaymentrequest) isn't in the index of attributes.

[2017-07-17 00:06] jpdevries commented on #932
@chaals I started [working on a polyfill in this Codepen](https://codepen.io/jpdevries/pen/MoROzK). Eventually I'll move it to a repo of its own.

`<optgroup>` is coming!

<details open><summary>GIF Preview</summary><img src="http://j4p.us/390m3l1P4433/poly.gif" alt="Demo of Codepen" /></details>

[2017-07-17 19:33] ghost opened #968 "API to HTML"
I have API Key 'Booking System'. How to grab that API Key into HTML5? Anyone can help me?

[2017-07-18 21:19] chaals opened #969 "CfC: HTML 5.2 to Candidate Recommendation"
This is a Call for Consensus to move the [18 July 2017 HTML 5.2 Working Draft](https://www.w3.org/TR/2017/WD-html52-20170718/) to Candidate Recommendation.

Please note the following features will be listed as "at-risk", and may be removed by the end of the CR period, if testing shows there is not likely interoperability of implementation:

* The `inputmode` attribute for `input` elements
*The `me

[2017-07-19 12:13] chaals opened #970 "Define "string", consistent with charmod"
The [character model's explanation of a string definition](https://www.w3.org/TR/charmod/#def-character-string) doesn't appear to provide a ready reference of its own.

HTML should explicitly define a string in the terms described there.

[2017-07-20 09:48] LJWatson commented on #969
Please note: there was an editorial mistake in the notice for this CFC.

This should have been the |menuitem| element, not the non-existent
|menubutton| element.

Thanks.
On 18/07/2017 22:19, chaals wrote:

--
@LeonieWatson @tink@toot.cafe tink.uk Carpe diem

[2017-07-20 14:59] #960 closed, assigned to chaals

[2017-07-20 16:34] LJWatson opened #971 "CFC: Move HTML5.1 2nd edition to PR"
This is a Call For Consensus (CFC) to move [HTML5.1 2nd edition](https://rawgit.com/w3c/html/html5.1-2/single-page.html) to Proposed Recommendation (PR).

Two editorial changes were made to the spec after it became a Candidate Recommendation (recorded as issues #956 and #960 ), otherwise the spec remains stable.

Please respond to this CFC by the end of day on Thursday 27th July 2017. If you choos

[2017-07-21 22:49] chaals commented on #968
This doesn't seem like a relevant comment on changes that are needed for the HTML specification.

@suzukisuberbaru this is not a place to ask general questions looking for help - try Stack Overflow ...

[2017-07-21 22:49] #968 closed, assigned to nobody

[2017-07-22 09:50] rehierl opened #972 "Minor proposals/issues related to chapter 4.3.9."
Before I set up a PR that would address the following minor proposals/issues, I would like to know if those changes are accepted or if I simply misunderstood something:

### 1) Relocate the definition of "sectioning roots" from 4.3.9. to 3.2.4.

The definition of the [body element](https://w3c.github.io/html/sections.html#the-body-element) defines it to be a [sectioning root](https://w3c.github.io

[2017-07-24 09:15] stevefaulkner commented on #972
Hi @rehierl this sounds interesting, please do submit a PR and we can review.

[2017-07-24 13:42] LJWatson commented on #754
#971 has the CFC to move HTML5.1 2nd edition to Proposed Recommendation.

[2017-07-24 16:08] rehierl commented on #972
While trying to set up a PR I noticed, that there is actually a definition for what the heading of an element of sectioning content is; see the 1st sentence in the 2nd paragraph.

Could it be that the meaning of the `<section>` element has changed over time from a dedicated element (only one heading per `<section>` element) to a "special container" element? Or is that definition the result of conf

[2017-07-25 12:00] rehierl commented on #972
@stevefaulkner I consider this PR to be more of a showcase of what the effects of a more general term could be. So if you don't want to merge it, then that'll be fine by me.

[2017-07-25 16:25] LJWatson commented on #928
Note these co-ordinated announcements from [Microsoft](http://blogs.windows.com/msedgedev/2017/07/25/flash-on-windows-timeline/), [Google](https://www.blog.google/products/chrome/saying-goodbye-flash-chrome/), [Apple](https://webkit.org/blog/7839/adobe-announces-flash-distribution-and-updates-to-end/), and [Mozilla](https://blog.mozilla.org/futurereleases/2017/07/25/firefox-roadmap-flash-end-life/

[2017-07-26 10:23] shepard8 opened #974 "The content model of the map element should not be "just" transparent"
Hello,

Consider the following HTML5 document, adapted from the [specification](https://www.w3.org/TR/html5/embedded-content-0.html#image-maps) (I just added the standard HTML boilerplate so that it is a complete HTML5 document):

    <!doctype html>
    <html>
      <head><title>Hey</title></head>
      <body>
        <p>
         Please select a shape:
         <img src="shapes.png" usemap="#sha

[2017-07-26 11:47] shepard8 commented on #974
Another hint that something is wrong: In section [3.2.4.1.8](https://www.w3.org/TR/html5/dom.html#palpable-content), map is allowed whereas area is not (the argument is the same: As map is transparent, area should be allowed there).

[2017-07-26 13:36] jthiyagarajan opened #975 "Bug in Number Input"
Consider the below html input type "number"
<input type="number" name="quantity" min="1" max="5">

Since, its a number type it will allow you to type number only, but if you type any alpha,special character it will not allow you enter.

But i found that letter "e" is allowed in the type .

Please clarify.

[2017-07-26 13:42] LJWatson commented on #969
Reminder that this CFC to move HTML5.2 to CR, closes at the end of
today. Please take a minute to respond
https://github.com/w3c/html/issues/969>

On 20/07/2017 10:47, Léonie Watson wrote:

--
@LeonieWatson @tink@toot.cafe tink.uk Carpe diem

[2017-07-26 13:49] LJWatson commented on #969
Reminder that this CFC to move HTML5.2 to CR, closes at the end of
today. Please take a minute to respond.
https://github.com/w3c/html/issues/969

On 20/07/2017 10:47, Léonie Watson wrote:

--
@LeonieWatson @tink@toot.cafe tink.uk Carpe diem

[2017-07-26 14:37] LJWatson commented on #975
Thanks @jthiyagarajan

The definition of [```<input type="number">```](https://www.w3.org/TR/html52/sec-forms.html#number-state-typenumber) explains that only valid floating-point numbers should be accepted.

That said, it seems that browsers do not always honour this requirement though.

It seems that browsers may not consistently recognise this requirement though. With thanks to @IanPouncey for

[2017-07-26 14:48] IanPouncey commented on #975
To be clear, Chrome accepts 'e' (or 'E') as exponent shorthand (i.e. 3e5 for 3×10^5), not as a constant. It validates the former if it is in range, but not the latter as a number.

[2017-07-27 09:40] LJWatson commented on #969
This CFC passes with numerous positive responses and no objections. The WebPlat chairs will initiate the transition to CR for HTML5.2.

[2017-07-27 09:40] #969 closed, assigned to nobody

[2017-07-27 13:17] siusin commented on #893
The [at-risk](https://www.w3.org/TR/2017/WD-html52-20170718/#status) features for HTML5.2 have been announced at the latest WD.

[2017-07-28 06:12] prototypo opened #976 "Desire for a more-easily-parsable HTML"
The Web Platform WG might reasonably support a subset of HTML 5.1 to serve as a long term maintenance recommendation. If you go down that path, please ensure that parsing does not require state keeping during parsing, e.g. by removing the necessity for multi-modal parsing. This might be of benefit to some mobile or computationally-constrained use cases.

A more-easily-parsable HTML 5.1 might inclu

[2017-07-28 09:07] LJWatson commented on #971
This CFC passes with several positive responses and no objections.

[2017-07-28 09:07] #971 closed, assigned to LJWatson

[2017-07-28 19:30] swickr commented on #928
I suggest that the next step be to obsolete the feature; it is premature to remove it in this version.
I see that the 18 July Working Draft marks it "at risk" which is a label conventionally applied to new features unsure of passing through CR.  That label doesn't feel appropriate for this case.

[2017-07-29 10:02] LJWatson commented on #928
@swickr >"I suggest that the next step be to remove the feature; it is premature to remove it in this version.">

We discussed this on the [HTML call](https://www.w3.org/2017/07/25-html-minutes.html#item05) this week, and decided to move this feature to "obsolete but conforming" in this version.

We've typically used the "at risk" label to indicate `any` features that are at risk of removal due to

[2017-07-30 01:20] alrdytaken opened #977 "dl specification: is the description contradictory?"
https://www.w3.org/TR/html51/grouping-content.html#the-dl-element

In `Content Model` it states:
`Zero or more groups each consisting of one or more dt elements followed by one or more dd elements …`

I think this must be corrected to:
`… followed by zero or more dd elements …`

Reason herefore is that further down it has an use case for dt elements without following dd elements:
`… If a dl elemen

[2017-07-31 16:31] unor opened #978 "Requirements for (X)HTML in 'script' data blocks?"
For using [`script`](https://w3c.github.io/html/semantics-scripting.html#the-script-element) as data block, the spec says:

Are such requirements for (X)HTML in `script` data blocks defined anywhere in the spec? If not, this would mean that the content has to be a full document, correct? Is this intended or should a snippet be allowed, too?

[code]

If a snippet should _not_ be allowed, is the `ti

[2017-08-02 12:13] chaals commented on #976
Hi @prototypo

The first question is about implementation - is there a clear set of implementations that would converge to this? One possible approach is through the suggestion to [standardise something like AMP](https://discourse.wicg.io/t/profiled-html-e-g-amp-friends/1979) - which not only has many of the properties you describe - although it also adds some cutting edge stuff and can evolve - b

[2017-08-02 13:07] shepard8 opened #980 "'Media element' should be a category"
The context of the [track element](https://www.w3.org/TR/html5/embedded-content-0.html#the-track-element) contains a reference to [media element](https://www.w3.org/TR/html5/embedded-content-0.html#media-element).

The two only elements that can be media elements are audio and video. I think that media elements should be a category, and that both audio and video elements should have media-element

[2017-08-02 13:31] prlbr opened #981 "adjust description of header element to ARIA banner role meaning"
The `<header>` [element discription](https://w3c.github.io/html/sections.html#the-header-element) contains the following paragraphs:

(Emphasis added by me.) On the other hand, the [ARIA description](https://www.w3.org/TR/wai-aria-1.1/#banner) of the banner role is:

This may not be a hard contradiction, because site-oriented content does usually also apply to each page as a whole, but the descrip

[2017-08-03 20:37] travisleithead commented on #928
Hey folks, take a look at the PR and let me know what might need adjusting. Thanks!

[2017-08-04 09:08] alrdytaken commented on #929
@prlbr
[code]
There is an example for this in the specs using *\<strong\>* to do the same but the other way round.

[code]
[code]

[2017-08-04 23:19] prlbr commented on #929
@alrdytaken That’s interesting, thanks. I think it’s rather convoluted. Consider this:

[code]

The code looks as if “Flowers, Bees, and Honey” is of special importance in this example and “and other things I don’t understand” and “Bears, Salmon and Eggs” are of the same kind, doesn’t it?

But that’s not what it is supposed to communicate. It’s supposed to say that “Flowers, Bees, and Honey” and “

[2017-08-04 23:37] prlbr commented on #929
I don’t have suggestions for additional examples at the moment, thanks @stevefaulkner. But it’s good to keep that section in mind, in case the outcome of this issue will be to change something about the `<small>` element which affects headings. It would be advisable to review the section about patterns for marking up subheadings etc. then.

[2017-08-05 00:05] prlbr commented on #977
I don’t think that’s a contradiction. I think that …

`If a dl element has one or more dt element children, but no dd element children, then it consists of one group with terms but no descriptions.`

… just describes an invalid state. Sometimes it makes sense to describe things that can be encountered in the real world, so that we know how to interpret them, even if they are not valid.

The `<dt>`

[2017-08-05 21:35] wellingtonpgp opened #983 "Suggestion: new element to display current date"
Create a tag that takes current date 📅

[2017-08-06 14:40] LJWatson commented on #983
Can you describe what this element would actually do?

[2017-08-06 20:01] wellingtonpgp commented on #983
Display the current date.

[2017-08-07 09:40] SebastianZ commented on #983
@wellingtongeek You should have described your suggestion in a bit more detail.

If this is to be considered, I'd rather say to extend the [`<time>` element](https://rawgit.com/w3c/html/html5.1-2/single-page.html#the-time-element) to take a `now` keyword (and maybe others) as value for the `datetime` attribute and a new attribute like `format` that allows to specify an output format for the specif

[2017-08-07 10:04] LJWatson commented on #983
What is the use case for this element (what problem does it solve)? Is there evidence that the web community needs a solution like this (existing polyfills/hacks/workarounds in wide use that achieve this behaviour)?

[2017-08-07 10:50] SebastianZ commented on #983
It allows to represent a date in machine as well as in human readable format.

With the current definition of the `<time>` element those two formats can diverge. This feature would allow to connect both to avoid this discrepancy. Also, it would allow to display the date and time information in situations where server-side and client-side scripts are not available or not able to generate the desire

[2017-08-07 10:52] SebastianZ commented on #983
Btw., @wellingtongeek or @LJWatson, could you please adjust the summary to be more specific? Currently it is just meaningless.

Sebastian

[2017-08-07 12:19] chaals commented on #983
I think there are a couple of problems with this proposal. The first is that "display the current date" isn't quite as simple as it seems because of time zones.

The second is that if you have taken into account the time zone issue, this is a trivial thing to do with a minimum amount of javascript, so there isn't obviously a lot to gain by having an element do this instead. In particular, the prop

[2017-08-08 11:20] #928 closed, assigned to travisleithead

[2017-08-08 23:00] unor opened #985 "Missing links for 'sub' and 'sup' elements"
https://www.w3.org/TR/2017/CR-html52-20170808/textlevel-semantics.html#the-sub-and-sup-elements

The first and second paragraph link `sup`, but not `sub`:

(If this can be fixed, it would make sense to define `sub` before `sup` in the first paragraph.)

The last paragraph links neither:

[2017-08-08 23:22] unor commented on #981
While it’s certainly the most common case, not all HTML documents are part of a site.

If this gets changed, I think we should include all cases / not exclude cases.

Maybe it would be possible to add an explanation somewhere (and refer to it where applicable) that "content for the page as a whole" can mean for HTML documents which are part of a website that it’s site-oriented content.

[2017-08-08 23:49] unor opened #986 "Schema.org link in the 'address' element section"
https://www.w3.org/TR/2017/CR-html52-20170808/grouping-content.html#the-address-element

For `address`, it says:

(By the way: I guess there should be a comma after "element")

Where "schemas" links to http://schema.org/.

1. I don’t think the spec should link to (and thereby endorse) a specific vocabulary inside the "spec part" (outside of examples) at all.

2. *If* the link must be there, I woul

[2017-08-09 00:16] unor opened #987 "Link types "external" and "prefetch" have no normative definitions"
https://www.w3.org/TR/2017/CR-html52-20170808/links.html#sec-link-types

In the "Link types" section, it says:

But there don’t seem to be definitions for `external` and `prefetch` outside of the table.

[2017-08-09 00:20] unor opened #988 "Missing links to 'link' and 'area' in "Other link types" section"
https://www.w3.org/TR/2017/CR-html52-20170808/links.html#sec-other-link-types

`a` is linked, while `link` and `area` aren’t.

[2017-08-09 11:10] edent opened #989 "What does "writing email to a friend does not make an img missing alt conformant" mean?"
Under Changes to Existing Features - https://www.w3.org/TR/2017/PR-html51-20170803/changes.html#changes-to-existing-features

I *think* the first part means "Even if an `img` has a `title`, it still needs an `alt`".

I don't understand what writing an email - to a friend or otherwise - means in this context.

[2017-08-09 13:55] edent commented on #845
I did some research in September 2016 on this issue - https://shkspr.mobi/blog/2016/09/why-cant-you-send-email-to-a-chinese-address/

None of the major webmail providers would allow me to sign up for an email account like `你好@...`

A few of them would allow email to be sent to `test@莎士比亚.org` - but most required the punycode representation.

[2017-08-09 15:04] cynthia commented on #845
I gave this a bit of thought, I think we can safely change the validation rules to accommodate SMTPUTF8 - although I don't have high hopes for implementator traction, considering the interoperability status (or the lack thereof) of the underlying infrastructure (MTA support, namely) this eventually depends on.

Anyone willing to contribute patches to implementations given the spec changes?

[2017-08-09 15:10] cynthia commented on #906
This seems like a pretty serious bug. I'll take it if @travisleithead is swamped. (Pretty sure he is.)

[2017-08-09 15:27] LJWatson commented on #989
It seems to be an editorial mistake in the changelog. I've skimmed through [4.7.5 The img element](https://www.w3.org/TR/2017/PR-html51-20170803/semantics-embedded-content.html#the-img-element), but can't find anything that suggests anything likely.

Ping @Chaals (who wrote the changelog) and @SteveFaulkner (who most likely made the spec change), but to satisfy curiosity only. HTML5.1 2nd Edition

[2017-08-09 18:15] Alohci commented on #989
Compare with the WHATWG living spec. It says

Presumably at some point, this was in the W3C Spec too. Then later, this point was removed (non-conformance is simpler than conformant-but-don't-do-it) and the change note reflects that.

But it doesn't appear in HTML 5.0 Rec, so the description as changed since 5.0, is a bit misleading.

[2017-08-09 18:19] LJWatson commented on #989
Thanks for the archeology @Alohci.

[2017-08-09 18:27] edent commented on #989
Link: https://html.spec.whatwg.org/dev/images.html#an-image-in-an-e-mail-or-private-document-intended-for-a-specific-person-who-is-known-to-be-able-to-view-images

Is it worth keeping in, considering the potential for confusion?

[2017-08-09 20:07] LJWatson commented on #989
Setting aside consistency for the moment, I don't think the advice in the WHATWG spec is particularly helpful. It states that the alt can be omitted if the recipient of the email is known to be sighted, but then acknowledges two situations in which that fact cannot be known by the sender.

[2017-08-09 20:28] johnfoliot commented on #989
+1 to Leonie.

It strikes me as a justification for simply being lazy, with ill-formed
justifications at best.

Our specs, while often referenced by legislations (example: WCAG), do not
have the force of any legal weight as W3C specifications, so it is
additionally unclear why anyone would specifically outline that corner/edge
use-case to then create an exception. Whether or not you provide a text

[2017-08-10 08:36] LJWatson opened #990 "HTML5.2 implementation report"
We need an implementation report to exit CR. A [draft report](http://w3c.github.io/test-results/html52/implementation-report.html) is in progress.

[2017-08-10 08:46] LJWatson opened #991 "HTML5.1-2 "Latest version" points to HTML5.1"
The "latest version" link in the HTML5.1 2nd Edition spec points to the HTML5.1 Rec. Think it should point to the latest published version of 2nd Edition?

[2017-08-10 11:39] siusin commented on #991
The /TR design guidance says /TR/html51 wont be changed until HTML5.1-2 moves to REC...

[2017-08-10 12:27] LJWatson commented on #991
Is there somewhere I can file an issue against the design guidance? It is very confusing. The latest version of HTML5.2 points to the latest published version (right no that's the CR), so logically the 5.1 2nd Ed latest version should point to the PR.

[2017-08-10 12:39] siusin commented on #991
@LJWatson please fire an issue on https://github.com/w3c/tr-design/, perhaps ping plh in that issue.

[2017-08-10 17:02] #988 closed, assigned to LJWatson

[2017-08-10 17:02] LJWatson commented on #988
With thanks @unor

[2017-08-10 17:31] #985 closed, assigned to LJWatson

[2017-08-10 17:32] LJWatson commented on #985
Thanks @unor

[2017-08-14 02:26] prototypo commented on #976
Hi @chaals

Yes, that approach would satisfy our perceived need. Thanks for the link.

[2017-08-16 10:02] #991 closed, assigned to siusin

[2017-08-18 13:29] blurbusters commented on #785
Hello all,

If there is anything I can do for W3C to create new motion-fluidity or
jank-verification tests, that are also suitable for high refresh rates -- I
am ready to help.

I also did a successful 480 Hz test in FireFox:
http://www.blurbusters.com/4k-120hz-with-bonus-240hz-and-480hz-modes/

It is time for a new rAF() compliance benchmark web browsers within 6
months for their high-refresh-rat

[2017-08-20 05:12] annopnod opened #995 "idea:input search"
&lt;input type=&quot;search&quot; list=&quot;browsers&quot;  onselectlist=&quot;&quot;&gt;
        &lt;datalist id=&quot;browsers&quot;&gt;
            &lt;option value=&quot;1&quot;&gt;&lt;img src=&quot;ie.png&quot;/&gt;Internet Explorer&lt;/option&gt;
            &lt;option value=&quot;2&quot;&gt;&lt;img src=&quot;ff.png&quot;/&gt;Firefox&lt;/option&gt;
            &lt;option value=&quot;3&quot;

[2017-08-21 06:54] SebastianZ opened #996 "Support elements in <option> elements"
For `<option>` elements it should be allowed to place other elements inside them. Especially `<img>` and `<picture>` elements are useful, but also other phrasing content elements like `<b>`, `<em>`, `<ruby>`, `<time>`, etc. should be supported.

Sebastian

[2017-08-21 07:09] SebastianZ commented on #995
`<option>` elements currently also only allow text content, so I've created issue #996 asking to extend their support to cover other elements.

Sebastian

[2017-08-22 20:22] chaals commented on #893
@tidoust do you have implementation info for `allow-presentation` ?

[2017-08-22 20:25] LJWatson commented on #962
Duplicated by #990

[2017-08-22 20:25] #962 closed, assigned to travisleithead

[2017-08-22 20:31] LJWatson commented on #990
We need to add the changes from [WD7 to WD8](https://www.w3.org/TR/html52/changes.html#changes) to the draft report referenced ^^. Then the editors need to go through their commits and fill in the test/interop data for each one.

[2017-08-22 22:32] russmaxdesign commented on #990
There seems to be an issue with the markup of the report. A stray end TD and one of the links looks like it is sitting outside the table.

[code]

[2017-08-23 12:03] chaals commented on #996
This involves a significant change to a well-established piece of HTML, because it would mean change to all parsers as well as rendering engines. That means we are unlikely to adopt it without support from browsers.

I suggest incubating it first in e.g. the [W3C incubator group](https://discourse.wicg.io) and getting some browser buy-in.

[2017-08-25 22:23] SebastianZ commented on #996
Ok, asking at https://discourse.wicg.io/t/support-elements-in-option-elements/2293.

Sebastian

[2017-08-26 01:15] davidryzen opened #997 "h element of html is not been bold by itself?h element is bold by css through broswer"
h element pf html is not been bold by itself?h element is bold by css through broswer?

[2017-08-27 07:11] sideshowbarker opened #998 "define what it means for elements to be “referenced”"
See https://github.com/whatwg/html/pull/2841

[2017-08-27 07:12] sideshowbarker opened #999 "Fix a broken step reference in the “fire a DND event” algorithm"
See https://github.com/whatwg/html/pull/2907

[2017-08-27 07:30] sideshowbarker opened #1000 "Clarify what happens to U+0000 chars"
See https://github.com/whatwg/html/pull/2968

[2017-08-27 09:41] alrdytaken commented on #977
Well, that would make sense, too.

[2017-08-29 09:53] rehierl opened #1001 "Outline algorithm, Step 5, Association bug and fix"
Step 5 - ""Associate all non-element nodes that are in the subtree for which an outline is being created with the section with which their parent element is associated.""

This step can be seen to define a `Node.parentSection` property that could have the following use: A browser could detect which node is the first visible node inside one of its windows. In combination with a `Section.parentSecti

[2017-08-30 16:17] rehierl commented on #972
For the record: My request to withdraw my PR was accepted. The reason I gave was as follows:

From the current state of this specification, both groups of elements (sectioning roots and sectioning content elements) appear as if they could be treated the same - they both are defined to have an outline (a sequence of sections with one or more entries). That is of course with the exception of the cha

[2017-08-30 16:17] #972 closed, assigned to nobody

[2017-08-31 11:52] ZoeBijl opened #1002 "“3.2 Elements” has outdated code example"
[Example number 2](https://w3c.github.io/html/dom.html#example-1128b64d) could do with some native elements instead of a `.header` and `.main` class.

[code]

[2017-08-31 11:55] ZoeBijl opened #1003 "Outdated link to ARIA Authoring Practices"
Second note under “[3.2.8.1. ARIA Authoring Requirements](https://w3c.github.io/html/dom.html#aria-authoring-requirements)” links to the previous GitHub version (which is still in the ARIA repo. The APG has since moved to [its own repo](http://w3c.github.io/aria-practices/).

[2017-08-31 21:37] josevega333 opened #1004 "main element description"
The brief description of the main element has <{body]> instead of &lt;body&gt;
https://www.w3.org/TR/html51/grouping-content.html#the-main-element

[2017-09-01 06:40] marcoscaceres commented on #955
So, the forking is again impacting things like ReSpec ☝️... If you haven't found someone to maintain Custom Elements, then that should be acknowledged and that work should stop at the w3c, no?

[2017-09-01 20:00] Alohci commented on #1002
The point of example number 2 is that it doesn't use native elements.

[2017-09-03 17:43] ZoeBijl commented on #1002
Whoops, you’re entirely right. Scrolled past the example the other day and just noticed the strange HTML…

[2017-09-03 17:43] #1002 closed, assigned to nobody

[2017-09-05 10:37] LJWatson commented on #1004
Thanks @josevega333. We've fixed this in [HTML5.2](https://www.w3.org/TR/html52/grouping-content.html#the-main-element)

[2017-09-05 10:37] #1004 closed, assigned to nobody

[2017-09-05 10:57] chaals commented on #893
`<input type="datetime">` [doesn't work](https://chaals.github.io/testcases/input-datetime-local-manual.html) in recent Blink, Edge or Gecko. As far as I know it is not implemented in Webkit either. Suggest removal

`<menuitem>` [works](https://thepaciellogroup.github.io/AT-browser-tests/test-files/menu-context.html) in Firefox but not Edge nor Yandex (Blink). As far as I know it is not supported

[2017-09-05 10:59] chaals commented on #893
The chairs/editors [propose to keep `dialog`](https://lists.w3.org/Archives/Public/public-html/2017Sep/0001.html) given that there are two implementations...

[2017-09-05 14:01] chaals commented on #893
The Plugins API has been moved to obsolete, rather than removed entirely.

[2017-09-06 19:45] schittli opened #1006 "Semantic? - Where is the content tagging?"
Good eveining,
it's sobering that html 5 still does not have a Tag to allow to Tag contents, e.g add keywords which are describing the content to the Document and Paragraphs.

OK, for the complete Document we have the hidden meta tags but there is no easy way to use css to display just the meta tags which describe the content tags.

**Therefore, this simple feature request would help a lot in hand

[2017-09-06 21:02] clapierre commented on #1006
This semantic tagging is something that the ARIA Personalization TF will be looking into which may turn out to be something that needs to be at the HTML level and not only specific to AT/ARIA, but I agree something worth figuring out that will help not only for discovery but has a lot of accessibility benefits as well.
Thanks
Charles

[2017-09-08 15:16] r12a opened #1011 "Matching input to datalist values"
4.10.8. The datalist element
https://www.w3.org/TR/2017/WD-html52-20170406/sec-forms.html#the-datalist-element

The datalist element matches user input to options in a list. In current implementations in Chrome and Firefox, as you type into a text input field the browser suggests alternatives based on the text you type.  This is extremely useful for working with long lists (such as country selecti

[2017-09-08 15:25] r12a opened #1012 "Use of modifier keys for accesskey"
5.5.2 The accessKey attribute
http://www.w3.org/TR/html51/editing.html#the-accesskey-attribute

This is a comment from the i18n WG.

What does 'modifier key' include?  Does it include the shift key?  We think it should, since many writing systems without upper- vs lower-case forms rely on the shift key to reach ordinary characters in their alphabet.

We are also curious as to why the examples use

[2017-09-09 09:43] chaals commented on #1012
I don't think we point to a formal definition - perhaps we should. Yes, in my understanding, and I wrote that text, it includes the shift key.

Because they were already there... there is no very good reason to do so.

That seems like a good idea in practice. I'll do it...

[2017-09-10 00:31] aphillips commented on #1012
The larger problem here is that `accesskey` is underspecified and makes some inherent assumptions about how keyboard shortcuts work. The spec is a mix of over- and under-specificity. Before I add a few other comments, I'll make mention that WG members think we've addressed similar issues recently, but can't remember where. It might be the "Input Events" spec?

This may not be entirely editorial.

[2017-09-10 01:03] aphillips commented on #1011
The problem here is the larger problem of "string searching" (for which we have a [FPWD](https://w3c.github.io/string-search/) that we're not currently working on). This type of natural language text matching is somewhat more complex than substring or namespace name matching--including (and not limited to) case insensitivity issues. Browsers do have implementations of this kind of searching--which

[2017-09-10 10:39] chaals commented on #1012
It seems you are looking at outdated text. [Please comment on the latest version](http://w3c.github.io/html/editing.html#the-accesskey-attribute) which has different text. I would also encourage you to look back through #485 which is where you dealt with this before and which links to various tests that show how inconsistent reality is..

Shortcut keys may or may not work with caps lock on, depend

[2017-09-10 16:44] cynthia commented on #990
@russmaxdesign Thanks a lot for the report - this should be fixed by w3c/test-results@ef93d3f7ef2394ea89b962b728ed12b1260a344f.

[2017-09-10 16:47] cynthia commented on #990
@LJWatson I've done my part - and took the liberty of doing some of @stevefaulkner 's ones as well (seemed like a lot to do for one person) - but I'm not sure how to check for conformance on some of the bits without actually peeking at the source. Those have ? marks in the status.

[2017-09-11 10:08] LJWatson commented on #990
Thanks @Cynthia. Much appreciated.

[2017-09-11 17:57] rehierl commented on #830
[From the 5.1 spec](https://www.w3.org/TR/html51/dom.html#heading-content): *""Heading content defines the header of a section (whether explicitly marked up using sectioning content elements, or implied by the heading content itself).""*

**(1)** - To be more clear, it should probably state: "(whether **the section is** explicitly marked up using sectioning content elements, **sectioning root elem

[2017-09-11 17:59] rehierl commented on #830
[From the 5.1 spec](https://www.w3.org/TR/html51/sections.html#headings-and-sections): *""Authors are also encouraged to explicitly wrap sections in elements of sectioning content, instead of relying on the implicit sections generated by having multiple headings in one element of sectioning content.""*

If you have something like this, ...

[code]

... then it does not make sense to surround headi

[2017-09-11 18:03] rehierl commented on #830
[From the 5.1 spec](https://www.w3.org/TR/html51/dom.html#sectioning-content): *""Each sectioning content element potentially has a heading and an outline.""*

**(2)** - When I read both definitions, I simply ignore the "can have" (root elements) and "potentially has" (content elements) parts, because the algorithm will always start a new outline/section when entering a sectioning root element, *o

[2017-09-11 18:19] rehierl commented on #830
@stevefaulkner - I think I see why you self-assigned alrdytaken's issue and why you responded with "sounds interesting" to mine (#972).

I still believe that properly defining the common characteristics of both element types, and maybe even including the heading content type (crazy talk, I know), could be the key to move forward. The question is, how far would you be willing to take it, because a

[2017-09-11 21:02] carmacleod opened #1013 "Select element's default role of "listbox" is odd"
The default role for [the select element in the spec](http://w3c.github.io/html/sec-forms.html#the-select-element) is "listbox". This has an odd feel to it, because it behaves a lot more like a "read-only combobox" from desktop days.

The [ARIA in HTML spec](http://w3c.github.io/html-aria/) says the same as the HTML spec:

HTML language feature | Implicit ARIA semantics - should not be used | ARIA

[2017-09-11 21:47] tyronem commented on #1013
I had a form with a select that was dynamically assigned an aria-describedby (for form validation). While using VoiceOver on macOS Sierra, the select was read back as a menu item, and the associated content that contained the error would not be read by VoiceOver. Once I added a role of listbox to the select, VoiceOver read back the associated content.

VoiceOver on an iPhone running OS 10 does not

[2017-09-12 14:04] devarshipant opened #1014 "4.10.7.2.12 The placeholder attribute"
4.10.7.2.12 The placeholder attribute:

http://www.w3.org/TR/2011/WD-html5-author-20110809/spec.html#attr-input-placeholder

The following two comments should be revisited in light of #D (accessible name calculation):

Accessible Name calculation (http://www.w3.org/TR/accname-aam-1.1/#mapping_additional_nd_te)

Refer to #D where is specifically states "Otherwise, if the current node's native marku

[2017-09-12 15:33] LJWatson commented on #1014
Thanks @devarshipant.

You've referenced a version of HTML5 from 2011. The ]HTML5.2 `@placeholder` definition](http://w3c.github.io/html/sec-forms.html#the-placeholder-attribute) no longer includes the suggestion to use the `@title` attribute.

The advice not to use `@placeholder` as a substitute for the ```<label>``` element still seems relevant though, for the reasons described in HTML5.2.

[2017-09-12 15:39] LJWatson commented on #1013
Ping @Joanmarie, @JasonKiss, @SteveFaulkner

[2017-09-12 15:52] LJWatson commented on #1006
Thanks @schittli.

Take a look at Schema.org. It's a collection of vocabularies that can be applied to HTML using RDFa, Microdata, or JSON-LD. The vocabularies are used to identify what content is (as opposed to what it does), and they're already in wide use across the web.

[2017-09-12 16:07] siusin commented on #1003
Thanks for report the bug. It's been fixed by commit d7da0f7b5a18e9b7a0cd3033ada18eb86f64d14f.

[2017-09-12 16:07] #1003 closed, assigned to nobody

[2017-09-12 16:20] LJWatson commented on #997
Thanks @davidryzen.

The HTML spec provides [rendering guidance](https://www.w3.org/TR/html52/rendering.html#sections-and-headings) that suggests how browsers shoud visually present certain features (like headings).

[2017-09-12 16:20] #997 closed, assigned to nobody

[2017-09-12 16:28] LJWatson commented on #989
Closing this because it doesn't seem helpful to introduce this text to the HTML spec.

[2017-09-12 16:28] #989 closed, assigned to nobody

[2017-09-12 16:40] danbri commented on #986
Perhaps a link to http://lov.okfn.org/dataset/lov/ for the "various" schemas? It's a directory ...

[2017-09-12 16:41] #741 closed, assigned to stevefaulkner

[2017-09-13 10:42] tidoust opened #1015 ""inputmode" incorrectly flagged as "removed from HTML5.1" in HTML5.2"
In the [list of changes since HTML5.1](http://www.w3.org/TR/html52/changes.html#changes-fpwd), the HTML5.2 specification states that the `inputmode` attribute "**was removed from HTML 5.1 for lack of implementation**, and may be removed from HTML 5.2 if not implemented".

I understand that there are on-going discussions (#269 and #893) to remove that attribute, but it [was not removed from HTML 5.

[2017-09-13 11:32] LJWatson commented on #1015
Thanks @tidoust. Do you happen to have tests and/or know what the current implementation state is for this?

[2017-09-13 11:37] chaals commented on #1015
That seems like a straight error - as far as I know there isn't working implementation in a modern browser (although it has been implemented in multiple browsers in the past) and it should have been removed - as it should for HTML 5.2 PR.

[2017-09-13 20:14] SiTaggart commented on #1013
Yeah, I'll plus one this +1.

It seems to be quite a strange change by making `listbox` the default role of a `select` element, where it's been identified as a `combobox` by assistive technology (on a PC at least), in web and Desktop software, for so long.

I get that a `multiple` `select` would have a default role of `listbox` as it seems visually and functionally appropriate.

Just seems that in

[2017-09-14 07:09] tidoust commented on #1015
@LJWatson I do not have tests to offer, but trying the `numeric` value on different browsers indeed shows that the attribute is basically not supported anywhere.

[2017-09-14 09:41] LJWatson commented on #1015
Thanks @tidoust. @Cynthia can you remove this from the 5.2 spec? Ta.

[2017-09-14 15:39] devarshipant commented on #1014
Thanks for the feedback @LJWatson -- So what happens when the text alternative computation (item #D)calculates the accessible name using the placeholder attribute when it is the only attribute (in the absence of valid label etc.)? Should there be guidance in HTML 5.2 that recommends not to rely on the accessible name when just the placeholder is in use?

[2017-09-14 17:55] siusin commented on #986
+1 to move the link to example 7.

Not sure about putting any recommended schemas in the content of the spec... is LOV a permanent project?

[2017-09-14 18:08] LJWatson commented on #1014
(in the absence of valid label etc.)? Should there be guidance in HTML 5.2 that recommends not to rely on the accessible name when just the placeholder
is in use?">

That sounds like something that would need to be handled in the accessible name computation, not the HTML spec. The HTML spec advises against a situation where placeholder would constitute the accessible name for a field, I'm not sure

[2017-09-14 23:19] cycomachead opened #1017 "input type=hidden has tabIndex 0?"
When I create a hidden input, it still has a tabIndex of 0.

I.e. `<input type='hidden' name='text' value='1234' id='hidden-inp'>`
Tested with `document.getElementById('hidden-inp').tabIndex`

Shouldn't this be -1? I cannot focus on the element, and they never seem to be displayed.

[2017-09-15 08:14] LJWatson commented on #1017
When `type="hidden"` is used, the browser removes the `<input>``` from the tab order without modifying the `tabindex` property. The same is true when either the `hidden` attribute or `style:display:none;"` is used to hide the field.

For example, if you set `tabindex="2"` on the hidden field, the test returns the expected value for the `tabindex` property, but the ```<input>``` itself is still rem

[2017-09-15 12:22] r12a commented on #485
fwiw, there are a set of tests available at

https://www.w3.org/International/tests/repo/results/accesskey

They show wide variations in the way shortcut keys are handled across browsers.

Firefox on a Mac worked ok for basic ASCII and Devanagari, but not for a latin1 character outside ASCII, nor for greek. It also didn't work for any test that required the use of the shift key to access a particu

[2017-09-15 12:37] r12a commented on #1012
The tests at https://www.w3.org/International/tests/repo/results/accesskey indicate that:

1. When it comes to simple keypresses, Firefox on Mac doesn't support Greek (but Chrome and Safari do), and Edge doesn't support Devanagari.

2. Firefox and Safari on Mac only treat ASCII case-sensitively (Chrome ignores case for other Latin and for Greek).  Edge ignores case for Greek, but not for non-ASCII

[2017-09-15 12:41] r12a commented on #1012
I can't help thinking that the different behaviours here are down to a lack of standardisation earlier on that looked at the various possible use cases. It may help to add things to the spec in order to clearly standardise what we can at this point, and maybe look at what changes could be made to current browser behaviour to standardise further, rather than just describe the unruly mess of what cu

[2017-09-15 17:58] devarshipant commented on #1014
Thanks @LJWatson -- I would assume folks who manage accessible name computation algorithm should insert an advisory in API mappings to capture this.

[2017-09-15 19:46] cycomachead commented on #1017
Hey, thanks for responding! I'm very thankful for the many resources you've provided. :)

The browser's behavior of removing elements from the tab order makes sense, but it seems to complicate finding the next/first focusable element. In this case, it was dealing with finding focusable elements in a modal. We ended up using jQuery UI's `:tabbable` selector, but it seems like this request maybe is

[2017-09-16 20:54] Turtlegurl6996 opened #1018 "See all infirmation tgat had been seen thtough this port in the last few days"

[2017-09-17 12:31] #1018 closed, assigned to nobody

[2017-09-18 13:11] r12a commented on #1011
[@aphillips please correct me if needed]

For the SHOULD text i think we're asking HTML to require implementers to:

1. apply a set of Unicode rules for case matching in certain locales - such as match dotted i with upper case dotted i for Turkish
2. use the Unicode standard normalization algorithms to normalise text where the same characters are represented in more than one way - eg. `é` as oppos

[2017-09-18 13:17] #986 closed, assigned to cynthia

[2017-09-18 13:19] LJWatson commented on #1017
The usual method is to use a query selector that excludes things that are hidden, and includes things with the relevant tabindex set.

[2017-09-18 13:19] #1017 closed, assigned to nobody

[2017-09-18 13:47] siusin commented on #883
According to the [WebIDL](https://www.w3.org/TR/WebIDL-1/#idl) spec,

WebIDL is the name of this specific language, so I don't think it's necessary to use `abbr` or expand the acronym. Does it help to add the definition of WebIDL to the [2.2.2 Dependencies section](https://www.w3.org/TR/html52/infrastructure.html#conformance-requirements-dependencies)?

[2017-09-18 17:11] LJWatson commented on #1014
@devarshipant
 yes, I think so. You might want to file an issue against the [ARIA repo](https://github.com/w3c/aria/) where the Acc Name Computation spec is produced.

[2017-09-18 17:11] #1014 closed, assigned to nobody

[2017-09-18 17:12] #1006 closed, assigned to nobody

[2017-09-18 17:27] LJWatson commented on #977
That spec text doesn't really make it clear that a ```<dl>``` with ```<dt>``` but no ```<dd>``` elements is invalid. It could probably do with improving for clarity.

[2017-09-19 14:05] chaals commented on #893
`allowpresentation` as a flag on iframe should be removed from 5.2 (but not 5.3)

[2017-09-19 14:59] iandevlin commented on #965
Shouldn't this issue be updated?

[2017-09-19 15:02] iandevlin commented on #900
@cynthia I am happy to do this, but am hesitant since you have assigned it to yourself.

[2017-09-19 15:14] stevefaulkner commented on #965
please do!

--

Regards

SteveF
Current Standards Work @W3C
<http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/>

On 19 September 2017 at 15:59, Ian Devlin <notifications@github.com> wrote:

[2017-09-19 15:15] stevefaulkner commented on #900
@iandevlin please go ahead if you have time, have unassigned @cynthia

[2017-09-19 15:16] iandevlin commented on #900
@stevefaulkner On it, thanks!

[2017-09-19 15:17] iandevlin commented on #965
@stevefaulkner Well I would, but how?

[2017-09-19 15:19] #965 closed, assigned to nobody

[2017-09-19 15:20] stevefaulkner commented on #965
@iandevlin looks like it already been fixed :-)

[2017-09-19 15:36] iandevlin commented on #965
@stevefaulkner It is now, thanks to @LJWatson. I didn't have the option to close it by the way, hence I was asking.

[2017-09-19 15:37] stevefaulkner commented on #965
@iandevlin ah misunderstood, thought it still needed doing, then saw that it had been edited and merged.

[2017-09-19 15:38] iandevlin commented on #965
@stevefaulkner Fair enough!

[2017-09-19 15:49] #967 closed, assigned to nobody

[2017-09-19 16:08] #900 closed, assigned to nobody

[2017-09-19 16:13] LJWatson commented on #883
@siusin
 thanks for clarifying that WebIDL is the name of the specification. Agree we should not expand the acronym.

+1 to adding WebIDL as a dependency though.

[2017-09-19 16:20] LJWatson commented on #1012
In the interests of getting HTML5.2 into PR soon... is there anything editorial we should try to do before we exit CR, as opposed to the work we evidently need to do to tighten up this bit of the spec in the future?

[2017-09-19 16:25] LJWatson commented on #952
@Cynthia can you take a run at this?

[2017-09-19 16:28] LJWatson commented on #558
@stevefaulkner what remains to be done on this? Would be good to get this finished before HTML5.2 exits CR.

[2017-09-21 17:16] r12a opened #1022 "Why reduce accesskey values to a single code point?"
5.5.2. The accesskey attribute
http://w3c.github.io/html/editing.html#the-accesskey-attribute

Why is this done? What benefit does it bring?  Note that Chrome and Safari are capable of matching an accesskey attribute against a keypress that produces more than one character (see https://www.w3.org/International/tests/repo/results/accesskey#multiple).

This also seems to contradict earlier text:

[2017-09-21 17:23] r12a opened #1023 "Normalization and accesskey"
5.5.2. The accesskey attribute
http://w3c.github.io/html/editing.html#the-accesskey-attribute

I can't see why `&#x006E;&#x0303;` would be invalid while श्र is valid. They are both just sequences of characters.

Perhaps what the spec is trying to say is rather along the lines of the following?

There may however also be an issue related to the fact that some keyboards may not produce the same norm

[2017-09-22 02:11] mcking65 commented on #1013
I agree with the general sentiment of this thread that we need to resolve some issues with consistency across platforms. However, as a screen reader user who has for decades been frustrated by the vagueries caused by the inconsistent use of terms, I disagree with the technical solution proposed here.

In fact, I propose just the opposite mapping in w3c/html-aam#46.

Keep in mind that the most impo

[2017-09-22 11:39] chaals commented on #1023
The spec is trying to say something like what you outline above.

I've been trying to align the spec with observed reality, less than expect browser developers to actually produce something better, since they have shown a long-standing unwillingness to improve their implementations.

[2017-09-22 17:07] Jinjiang opened #1024 "[question] about rules of setting max attribute after setting value in <progress> element"
As https://w3c.github.io/html/sec-forms.html#the-progress-element says:

So in demo https://jsfiddle.net/r5gohw4w/
If we set `50` to `value` first (before setting `100` to `max`), the current value (50) is greater than the maximum value (1.0). So the current value will be set as `1`. And then we set `100` to `max` so at the end the position of the `<progress>` element should be 1/100.

Is that cor

[2017-09-23 05:06] andjc commented on #1023
@chaals maybe it needs a health warning for Web developers that depending on language, implementations may not work as expected.

[2017-09-24 11:03] chaals commented on #1024
Interesting - it depends when the normalisation step happens. Firefox behaves like blink - but Edge does the normalisation so you get 1/100 - which seems like it is actually correct according to spec.

@travisleithead @bzbarsky @hober @cynthia should we normalise the common behaviour... which would mean filing a bug on Edge and specify timing for how clamping values happens, or should we try to ch

[2017-09-24 11:16] chaals commented on #1023
@andjc I think it would be helpful to clarify in more detail that implementations may not work as expected anyway. The whole thing is a "best effort", without explicit requirements. Sadly, there are very few good implementations. Given that this has been raised, I'll have a go at actually fixing it in the spec.

[2017-09-24 16:44] todor-dk opened #1025 "Bug: 8.2.4.76. Hexadecimal character reference state"
The case statement in 8.2.4.76 lists:
- Uppercase ASCII hex digit
- Lowercase ASCII hex digit
- ASCII digit
- U+003B SEMICOLON character (;)
- Anything else

... however, "Uppercase ASCII hex digit" and "Lowercase ASCII hex digit" are defined as containing the characters "0 ... 9". This means the "ASCII digit" will never be hit. On top of this, digits (0..9) will be handle by the first case result

[2017-09-24 16:47] todor-dk opened #1026 "Improve: 8.2.4.72. Character reference state"
Please consider re-writing the "Anything else" part of "8.2.4.72. Character reference state". It is a mess and difficult to interpret and implement.

[2017-09-24 16:55] todor-dk opened #1027 "Bug: 8.2.4.77. Decimal character reference state"
The specification states: "Multiply the character reference code by 16."

We are talking about a decimal characters. Shouldn't this be multiply by 10 (and not 16)?

[2017-09-24 20:06] alrdytaken commented on #830
Okay, so I took a new approach to this.

# Makes sense to me
Now I assume that this is true:
- A ```section``` is invoked by the appearance of either a ```sectioning content``` or a ```sectioning root```.
- A ```section``` potentially has a ```heading``` associated with it.
- A ```section``` defines the scope of an optional ```<heading>``` and ```<footer>```.

This makes perfect sense and correspo

[2017-09-24 23:47] chaals commented on #1025
Thanks for picking this up. I'll check it this week.

[2017-09-25 10:25] soanvig opened #1028 "Forms [pattern] attribute should be usable with textarea"
Forms [pattern] attribute should be usable with `<textarea>`. What I'm talking about is:
https://w3c.github.io/html/sec-forms.html#element-attrdef-input-pattern

Is there any reason for that attribute to be used only with inputs? The only difference between input and textarea is that the former is single line.

`<textarea>` supports [minlength] and [maxlength] but sometimes it's not enough. Someti

[2017-09-25 10:43] r12a commented on #1023
Chaals, not sure whether you've seen it, but there are some tests and results at https://www.w3.org/International/tests/repo/results/accesskey.en.html (no normalization tests though).

(I did those partly because i think the tests you produced may not be accurate - mainly because you combined several tests on one page. Also, these tests are in WPT format.)

[2017-09-25 12:11] chaals commented on #1028
Does this work in any browser today, or do you have a polyfill that demonstrates it?

@johanneswilm any ideas?

[2017-09-25 12:12] chaals commented on #1028
I certainly can't see any obvious reason, beyond "we implemented it that way because we didn't think further than input"

[2017-09-25 12:15] soanvig commented on #1028
i believe that it could work exactly the same way as input does. In fact it uses standard regexp, and standard regular expression can handle multilines. AFAIK no browser implements it. No spec mentions it.

[2017-09-25 12:38] chaals commented on #1028
See also

* [stack overflow question -2012](https://stackoverflow.com/questions/13643417/how-to-validate-pattern-matching-in-textarea)
* [Angular allows this with ng-pattern](https://docs.angularjs.org/api/ng/directive/textarea)
* [bootstrap issue](https://github.com/1000hz/bootstrap-validator/issues/51)

[2017-09-25 13:28] bzbarsky commented on #1024
Fwiw, the Gecko implementation is that the clamping happens when you ask.  That is, the "current value" is not actually stored anywhere; it's just computed when someone (like layout) needs it.

All that said, the spec as currently written is nonsensical, imo, and the Edge behavior is inconsistent (which is good).  If Edge were consistent, it would render `<progress max=100 value=50>` and `<progres

[2017-09-25 14:03] JaninaSajka opened #1029 "Clearly Mark Obsolete Guidance As Such"
We have a considerable amount of implementation guidance in the HTML specification itself. Some of this has changed radically as consensus developed over time, yet the older guidance continues to be available and can easily rise to the top of searches. Since we want to promote our best considered guidance, and not out of date guidance, out of date wiki pages, etc., should be clearly marked "Obsole

[2017-09-25 16:29] SiTaggart commented on #1013
Sure, I get it. On paper, technically speaking the dreaded "readonly combobox" feels and interacts in a way that is essentially identical to a listbox. I don't feel that means we get to discount it as being a thing, though. For example, you write:

I can't disagree more. Folks hate the way a `select` element looks, and it's always one the first components to be added to a web app UI library, at le

[2017-09-25 18:18] mcking65 commented on #1013
@SiTaggart commented

User experience is my number one concern. It is the focus of nearly all my work inside and outside of W3C.

With the way we designed ARIA 1.x, which is admitteddly more practical than ideal, our ability to design and build great user experiences for people relying on assistive technologies depends on ARIA roles reliably representing interaction models.

Ya, agree. I meant the

[2017-09-26 06:15] stevefaulkner commented on #1013
the listing of the `listbox` role for select in this state is a bug in the ARIA in HTML spec. Fixed via https://github.com/w3c/html-aria/commit/e0a988a162620677e6899cf87e6625eeec9663dd
need to update HTML spec to match, then will close this issue

[2017-09-26 08:09] stevefaulkner commented on #1013
HTML spec update https://github.com/w3c/html/commit/8ec3037cf5dccd1d82347754a05c6ea43d170129 fixes this

[2017-09-26 08:09] #1013 closed, assigned to stevefaulkner

[2017-09-26 12:04] chaals commented on #1029
I don't think this is an issue on the HTML specification, although it is presuambly something the Web Platform WG should manage.

I will try to find out what old material is lying around - I imagine there is a lot of it - but it is entirely appropriate if you find a clearly superseded wiki page to edit it yourself, leaving a stub note explaining what happened to the content.

[2017-09-26 12:04] #1029 closed, assigned to nobody

[2017-09-26 12:11] stevefaulkner commented on #1029
@chaals I deleted the out of date content and updated the link to point to latest.

[2017-09-26 12:38] chaals commented on #1029
Sweet, thank you. Only a few dozen more to do :)

[2017-09-26 15:29] chaals commented on #1022
@r12a wrote:

IE/Edge do this.

If the author uses a value like `accesskey="a 1"` (which is not valid, except according to the WHATWG, HTML 5.0 and HTML 5.1) or `accesskey="hazlo"` (which nobody claims is valid) other browsers do not provide a shortcut at all.

It would be possible to do something much more intelligent, like recognise a voice command or provide a keyboard shortcut, but that is not

[2017-09-27 09:46] r12a commented on #1022
Yes, but Chrome and Safari don't. (see https://www.w3.org/International/tests/repo/results/accesskey#multiple and https://www.w3.org/International/tests/repo/results/accesskey#multiplea)

But equally important, the recent changes to the spec in the accesskey section contradict this (see the quote in my earlier comment).

[2017-09-27 23:55] ghost opened #1033 "Add a nested attribute to ol element"
Suggestion, add a nested attribute for the ol element to avoid all the CSS needed to do this. For example:

&lt;ol type="A"&gt;
&nbsp;&nbsp;&lt;li&gt;First main item
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ol type="1" nested&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;First item first sub-topic&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;First item second sub-topic&lt;/li&gt;
&nbsp;&nbsp;&n

[2017-09-28 11:46] #999 closed, assigned to nobody

[2017-09-30 06:35] siusin commented on #951
Note added by pull #1019 .

[2017-09-30 06:35] #951 closed, assigned to nobody

[2017-10-01 19:01] edent opened #1035 "Code of Conduct"
There is no mention of the [Code of Ethics and Professional Conduct](https://www.w3.org/Consortium/cepc/) in this repo's [contributing guidelines](https://github.com/w3c/html/blob/master/CONTRIBUTING.md).

I think that it would help foster a more inclusive atmosphere to include the CEPC in this repo - and other @w3c repos.

[2017-10-02 03:44] sideshowbarker opened #1037 "Clarify template content model and syntax"
See https://github.com/whatwg/html/commit/3f1cd0163b518d0451b1d4ab90bf35ae43e6932d

[2017-10-02 03:48] sideshowbarker opened #1038 "Fix some broken/stale external and internal links"
See https://github.com/whatwg/html/commit/05a109fcc19c1b664cd9006f85532c4e4df4b8d5, https://github.com/whatwg/html/commit/0e31ffa4425f10e66d18d51298d4e2f34719dcab, https://github.com/whatwg/html/commit/f3d90c5d3ee9750852d6c74cad90c8dba3396a5d, https://github.com/whatwg/html/commit/ae33c29e41b840284de9e19ade97dcd81b010da7, and https://github.com/whatwg/html/commit/dad489cbcf9a1f88bfb65ecc7e54195b58

[2017-10-02 13:56] LJWatson commented on #1033
Thanks for this suggestion.

For new features to be considered for inclusion, there needs to be a proposal and evidence that there is a need for the solution in the wild. This usually comes in the form of a polyfill that has wide adoption (showing that there is interest from the developer community), and then commitment from at least two browser vendors to implement the proposed solution.

[2017-10-02 14:20] #1035 closed, assigned to nobody

[2017-10-02 21:28] mikewest commented on #187
It looks like a few things got ported over in June (Thanks, @cynthia!), but "CSP list" wasn't one of them. I didn't dig into the patch to see what other differences might be lurking, but there are at least a few (for instance: the document defines a `close()` method on `WorkerGlobalScope` that isn't in the WHATWG document, and isn't implemented in either Chrome or Firefox). :)

Since @LJWatson is

[2017-10-02 21:35] cynthia commented on #187
@mikewest Yeah, most of it is me to blame. I'll get to the CSP bit in the next round of merges - trying to find out what is interoperable and what is not to clean the mess up.

[2017-10-03 10:05] prlbr commented on #1033
The exact display sounds more like a topic for CSS which offers more flexibilty already, see https://www.w3.org/TR/css-counter-styles-3/ for example. It offers a mechanism to set a different suffix than the default dot for example.

If the current CSS options are not sufficient, you could discuss this with the [CSSWG](https://github.com/w3c/csswg-drafts/issues) or maybe get input from [WICG](https

[2017-10-03 13:11] plehegar commented on #187
@mikewest last time we looked at worker, we got blocked by lack of support for sharedWorker. Maybe it's time to pop that one up the stack.

[2017-10-03 15:53] ghost commented on #1033
Many thanks for all the helpful comments.

To prlbr, regarding your question, the reason behind my comment about avoiding CSS was actually accessibility related. All my searching for ways to get a hierarchical ol list such as A.2.1 involved counters combined with using content: and my understanding (perhaps incorrect) was that content added using CSS content: presented accessibility problems with

[2017-10-03 17:58] mikewest commented on #187
@cynthia: As I noted earlier in the thread, I still don't mean to put blame at your feet. Given the group's decision to split Workers out of the HTML spec, I still think it's the group's responsibility to have a sane maintenance strategy for the document since porting patches becomes quite a bit more difficult.

@plehegar: The current draft does contain [shared workers](http://w3c.github.io/worker

[2017-10-06 01:41] sideshowbarker opened #1039 "Require UTF-8"
See https://github.com/whatwg/html/pull/3091

[2017-10-07 11:11] chaals commented on #598
[Test case (does not test in IE/Edge)](https://output.jsbin.com/jimoqe)
[test case (I think) also working in IE11 / Edge](http://chaals.github.io/testcases/sandboxing-665.html)

[2017-10-09 22:04] Nick-Levinson opened #1041 "propose example element for documentation and other uses"
For communicating about HTML, teaching it, or other purposes, with an example that should not cause an actual effect in a user agent, even a user agent programmed for private use, a tag name should be specified for the purpose and HTML should specify it. I propose "example" for an element using either only one tag or two tags.

Case, spacing, and the slash would have the same rules as for other el

[2017-10-09 22:19] Nick-Levinson opened #1042 "propose example attribute for documentation and other uses"
For communicating about HTML, teaching it, or other purposes, with an example that should not cause an actual effect in a user agent, even a user agent programmed for private use, an attribute should be specified for the purpose and HTML should specify it. I propose "example" for an attribute for any element.

Case and the use of quotation marks would be as HTML specifies for other attributes. The

[2017-10-10 00:25] #1015 closed, assigned to cynthia

[2017-10-10 01:13] chaals commented on #1041
Duplicated by #1042

[2017-10-10 01:13] #1041 closed, assigned to nobody

[2017-10-10 01:21] chaals commented on #995
It's not very clear what this input type would do. And the experience of adding new input types has been pretty mixed.

I suggest clarifying the problem that this solves, and I think it is probably a better idea to start it [in incubation](https://discourse.wicg.io), e.g. developing a polyfill and explaining it ...

[2017-10-10 01:22] chaals commented on #990
Completed.

[2017-10-10 01:22] #990 closed, assigned to cynthia, stevefaulkner, adanilo, travisleithead, arronei

[2017-10-10 01:24] chaals commented on #976
Closing this and letting it incubate for now.

[2017-10-10 01:24] #976 closed, assigned to nobody

[2017-10-10 01:37] chaals commented on #961
HTML doesn't define headers - that happens in the IETF HTTP Working Group.

It is also not clear how a header would get incorporated, and this proposal would need to explain that. It could be done in a way analagous to dictionary compression, and it actually feels a fair bit like a use case for a tweak to SDCH...

As an alternative approach, most image formats can carry metadata in the image itsel

[2017-10-10 01:37] #961 closed, assigned to nobody

[2017-10-10 01:56] chaals commented on #889
Fixed by #899

[2017-10-10 01:56] #889 closed, assigned to nobody

[2017-10-10 01:57] chaals commented on #866
fixed by #947

[2017-10-10 01:58] #866 closed, assigned to LJWatson

[2017-10-10 02:02] chaals commented on #883
WebIDL is in there.

[2017-10-10 02:02] #883 closed, assigned to agcolom

[2017-10-10 02:11] chaals commented on #1033
This has now been opened as an [incubation idea](https://discourse.wicg.io/t/suggestion-an-ordered-list-nested-attribute/2393) (thank you)

[2017-10-10 02:11] #1033 closed, assigned to nobody

[2017-10-10 02:31] chaals commented on #1042
There is the  [obsolete and non-conforming `<xmp>` element](https://w3c.github.io/html/obsolete.html#non-conforming-features) that does this.

It happens to work in a lot of browsers I tested.

But a better approach MHO is to use `<code>` (and `<pre>` if you want to preserve whitespace), with escaped characters.

[2017-10-10 07:04] LJWatson commented on #976
Where is this being incubated?

[2017-10-10 10:07] iandevlin commented on #1042
I agree with @chaals here, `<code>` currently serves this purpose well enough.

[2017-10-10 12:37] chaals commented on #976
[In WICG](https://discourse.wicg.io/t/profiled-html-e-g-amp-friends/1979/) (and in practice, especially in China at the moment)

[2017-10-10 14:57] siusin opened #1044 "Add as attribute to the link element"
Used by the `preload` request (for `rel="preload"`), which has been implemented by Blink and Webkit.

See also the [Preload spec](https://w3c.github.io/preload/#as-attribute).

[2017-10-11 00:59] Nick-Levinson commented on #1042
No; the misunderstanding was not intended. The code and pre elements do affect browser behavior; that is precisely why they won't work for this purpose. The xmp was inconsistently implemented, which means it was at least in some browsers causing effects; that's not wanted for this proposed element (from issue 1041 combined with this issue) and this proposed attribute. This is for use in documentat

[2017-10-11 11:04] chaals commented on #1042
The problem is that you have an opt-in situation - *unless* a user agent understand `example`, it will interpret that as an unknown, and the content of it - most paticularly things like script elements - will be parsed as real content. Reserving the name won't have an effect until generations of browsers have passed...

That process has been happening for `<xmp>`, for years already.

I think it ma

[2017-10-11 11:10] chaals commented on #1041
(Well, almost. That requests an attribute instead of element, but I think the two can be readily combined and that the *problem* is about the same).

[2017-10-11 18:18] Nick-Levinson commented on #1042
The browser doing nothing would be precisely the effect desired. HTML parsing is supposed to ignore unknown elements and (I think) unknown attributes and continue parsing as if the unknown things were not there. While that could be achieved now by inventing an element or attribute, say, xyz, if the HTML spec later adds xyz then the old xyz would suddenly acquire an unintended meaning. Reserving wo

[2017-10-11 23:53] chaals commented on #1042
@Nick-Levinson I think I am failing to explain myself.

The problem I see is this:

You want to put some HTML code in the source, and see that rendered as-is in the page. E.g.

[code]

Should (and actually does today) show the user

[code]

on the webpage, instead of running the script or putting in the iframe. `xmp` is a reserved keyword that HTML defines, although noting it is obsolete and you s

[2017-10-12 16:55] Nick-Levinson commented on #1042
Is it not possible for the HTML spec to require that a given element shall not be parsed by a conforming browser (already the case for an unspecified element, such as a misspelling)? If it's not possible, then my proposal is a bad one. If it is possible to forbid parsing, then old browsers are not problematic, because if the element has not been in any HTML spec then a browser, old or new, is not

[2017-10-12 18:23] plehegar opened #1047 "Consider referencing the disableRemotePlayback attribute"
This HTML attribute is defined in https://w3c.github.io/remote-playback/#extensions-to-htmlmediaelement
This should be added in a future version of the spec once it gets enough traction. See also https://github.com/w3c/remote-playback/issues/105

[2017-10-13 01:12] #1037 closed, assigned to nobody

[2017-10-16 15:10] anmol27katyani opened #1049 "Non contributors may get issue in link"
If I run Bikshed after I've fixed a bug in the spec, it will set the issue link in single-page.html to my GitHub repository. This prevents me to run all the steps in the contributing guide. Should I create pull requests without running Bikeshed?

To be more specific, Bikeshed generates this code:

<dt>Issue Tracking:
<dd><a href="https://github.com/MichielBijl/html/issues/">GitHub<

[2017-10-17 01:22] unor commented on #1042
If the goal is to display HTML as plain text, without having to escape `<` or `>` (which means it’s not possible to _use_ HTML within), [the `script` element can be used](https://stackoverflow.com/a/16115085/1591669):

[code]

(It can’t contain `</script>` or variations, of course.)

As [it’s typically visually hidden](https://stackoverflow.com/a/38147398/1591669) in the CSS, you need to make it v

[2017-10-17 03:21] Nick-Levinson commented on #1042
Those limitations could be critical. Needing CSS for visibility is a problem for students who may have little familiarity with CSS. Not allowing HTML markup (even if ineffectual) or a script tag within is too restrictive for some uses. Having to add the attribute to the element complicates usage by newbies. I think this use of the script element would have to be defined in the spec so it doesn't f

[2017-10-17 09:10] siusin commented on #1049
hi @octamois ,

single-page.html is listed in the [.gitignore file](https://github.com/w3c/html/blob/master/.gitignore)... I'd suggest running Bikeshed locally after fixing the bug, but please don't commit the single-page.html to the pull request.

Thanks!

[2017-10-17 13:44] unor commented on #1042
@Nick-Levinson

It is, of course, [defined in the spec](https://www.w3.org/TR/2017/REC-html51-20171003/semantics-scripting.html#the-script-element) (I also quoted the spec in my answer linked above):

[2017-10-17 14:31] scottaohara commented on #1042
Reading through this thread, I also agree with @chaals and @iandevlin.

Especially in the context of "For communicating about HTML, teaching it, or other purposes...", I would imagine one might want the ability to highlight/mark particular parts of a code example, which wouldn't be possible if the wrapped content was not processed by user agents.

I've created the [this codepen example](https://co

[2017-10-18 22:52] chaals commented on #1042
@Nick-Levinson  wrote

And the answer is, in the terms I believe you mean, "It is possible, but only for new browsers, and it would cause very big problems if people used it in content". An unknown element will be created, and behave much like a `<span>`. In particular, its children **will** be parsed.

I had written:

...sorry I failed to complete that. I meant

...because it is already recognise

[2017-10-19 01:07] Nick-Levinson commented on #1042
You're right (@scottaohara); it's defined in HTML for data block use with the proper type value (I thought I already knew roughly what the spec said).

Some of the problems noted above could be resolved by retaining multiple markups for different purposes. A stable element or attribute that would deny parsing is one markup, but if parsing is desired then another markup would be applied.

It might

[2017-10-19 14:29] LJWatson opened #1050 "CFC: Move HTML5.2 to PR"
This is a Call For Consensus (CFC) to move HTML5.2 to Proposed Recommendation (PR).

The HTML editors and WebPlat chairs believe the current [HTML5.2 Editor's Draft](https://rawgit.com/w3c/html/html5.2/specs/index.html) meets the expected [CR exit criteria](http://w3c.github.io/test-results/html52/exit-criteria.html).

The following things were marked "at risk" during Candidate Recommendation (CR)

[2017-10-19 15:24] siusin commented on #1044
This is going to be a substantive change, but the feature is interoperable, see [tests](https://wpt.fyi/preload/reflected-as-value.html).

[2017-10-19 15:46] chaals commented on #1042
They are doing what the spec says - the element turns into an unknown Element - but crucially for this case its children get parsed if they are recognised. Please be careful apportioning blame for things you don't like - this group aims to avoid such things as _ad hominem_ attacks and deal with technical issues.

[2017-10-19 15:46] #1042 closed, assigned to nobody

[2017-10-23 14:58] LJWatson commented on #1044
From a chair's point of view, providing there is consent from the WG, I don't envisage any problem with the `as` attribute being in cluded in the next iteration of the HTML spec.

[2017-10-24 20:28] #1044 closed, assigned to nobody

[2017-10-27 07:21] LJWatson commented on #1050
The CFC received only positive responses, so it passes without objection. We will send out the transition request to move HTML5.2 to PR now.

Thank you to everyone who responded.

[2017-10-27 07:21] #1050 closed, assigned to LJWatson

[2017-10-30 17:12] salvan13 opened #1062 "Screenshot API"
Proposal for an API that let user to get an image from an HTML element

`[ImageData img] = window.screenshot([HTMLElement element])`

[2017-10-30 17:15] klensin commented on #845
Cynthia,  just to avoid misunderstandings, these extensions are actually rather easy to support in MTAs and several have quietly added the support.  Specifically, for an MTA that is already "8 bit clean" (and most are these days), what is needed is for the receiver side of the MTA to advertise and accept the extension, the sender side to ask for it, and then to disable some checks.   If the MTA do

[2017-10-30 19:18] edent commented on #1062
That's an interesting idea. I suggest incubating it first in e.g. the W3C incubator group and getting some browser buy-in.

For consistency, it might make sense to model it after the existing [`HTMLCanvasElement.toDataURL()
`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL). That allows a browser to turn a canvas element into a PNG.

[2017-10-30 19:34] ShawnSteele commented on #845
There are several places that non-ASCII local email addresses "work."  It seems unwise to restrict the validation to obsolete standards when we know that EAI exists and is in progress.

Is there a good reason why non-ASCII addresses should be prohibited, knowing that the industry is trying to move toward more globally appropriate addresses?

[2017-10-31 00:01] chaals commented on #1062
I wrote an API to do this, a few years ago.

I am not sure it is a good idea to expose a function like this to Web applications - there are privacy and security issues (most particularly based on fingerprinting vectors) if a website can make a screenshot and get access to the content without significant user interaction.

There are use cases within browsers, and it is a handy function **IFF** you

[2017-10-31 02:01] cynthia commented on #845
Just to be clear - this not being in the spec does not block anything. In practice, if you need to support i18n mail addresses - one could just use input type="text" and write validation yourself.

When I was looking into this issue, I took a quick look at usage of WF2 in popular sites and was genuinely surprised to find that *none* of them used input type email - and of the ones I tested, none of

[2017-10-31 02:21] ShawnSteele commented on #845
Yes, it means that web sites won’t let me enter my email address.  I can’t change the input type on my shopping cart when I’m trying to buy something… assuming someone used it.

If it is to be deprecated then it should be tagged as such.

Sent from my Windows 10 phone

________________________________
From: cynthia <notifications@github.com>
Sent: Monday, October 30, 2017 7:02:06 PM
To: w3c/html
C

[2017-10-31 03:30] cynthia commented on #845
Most of that in the wild isn't because of the lack of standards support for unicode support for mailboxes and IDNs in user agents, but more of a content author decision to only validate (with a script. Madness!) against ASCII mail addresses.

[2017-10-31 08:54] salvan13 commented on #1062
I created a topic on WICG https://discourse.wicg.io/t/proposal-screenshot-api/2412

[2017-10-31 12:11] klensin commented on #845
Shawn,  I think I agree with Cynthia here, based partially on long experience (long predating the EAI work) with web sites either rejecting email local-parts containing "+" as invalid or accepting them and screwing up in some major way later.   I think I understand the problem and where it comes from, but it isn't a standards matter -- "+" has been valid in local parts since before 821/822.  Howev

[2017-10-31 12:11] r12a commented on #845
ICANN's Universal Acceptance program (see https://uasg.tech/) is trying to encourage software and content authors to support full non-ASCII domains, and some countries, such as China and India, are already actively creating and using local domains that are non-ascii on both sides of the @ sign. There's a handy white paper at https://uasg.tech/wp-content/uploads/2017/04/Unleashing-the-Power-of-All-

[2017-10-31 13:51] edent commented on #845
Just so I understand - are we discussing the regex at https://www.w3.org/TR/html/sec-forms.html#email-state-typeemail ?

[code]

In which case, I agree that it needs to be updated.
It doesn't match `example@你好.com` nor `你好@example.com`

[2017-10-31 15:07] r12a commented on #845
@edent for myself, i was talking about that whole section, but particularly, i suppose about the bit that starts "A valid e-mail address is...", which hopefully will be the same as the regex.  But if you're saying that the regex doesn't support example@你好.com (i haven't checked), i think there's an additional issue. Because the spec was changed to allow that, iiuc.

[2017-10-31 15:17] edent commented on #845
@r12a I tried that email regex on https://regex101.com/ and used those example emails - it failed.

[2017-10-31 15:18] r12a commented on #845
@edent Yeah, looking at it now i can see why.

[2017-10-31 19:16] ShawnSteele commented on #845
I think that’s what I meant:  Web sites are rolling their own and not using the standard, so that’s another problem with getting EAI adopted, somewhat orthogonal to the discussion of the email input type.

However, if the W3C is going to provide a validation standard, whether or not it’s tied to the email input type, then it should support EAI.  The comments indicated that it might be better to wa

[2017-10-31 19:27] ShawnSteele commented on #845
Correct – and more to the point, the language above it that drives the regex.

One interesting curiosity is that the regex is reasonably strict for ASCII-range email addresses – however EAI permits a bunch of stuff in the Unicode range of the local part.  And a regex isn’t going to be sufficient to validate legal IDN names.

Conceptually the desire for the input type=email validation would seem to

[2017-10-31 19:31] collinanderson commented on #845
I might be wrong, but I think some browsers internally translate IDN into punycode thereby passing the regex validation for the domain part.

[2017-10-31 19:37] ShawnSteele commented on #845
Well, that’d be another issue for input type email.  It should be sent as Unicode, not Punycode.

From: Collin Anderson [mailto:notifications@github.com]
Sent: Tuesday, October 31, 2017 12:32 PM
To: w3c/html <html@noreply.github.com>
Cc: Shawn Steele <Shawn.Steele@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [w3c/html] allow input type="email" to accept unicode values (#845)

[2017-10-31 23:14] AndySky21 commented on #845
Maybe I'm wrong, but isn't input type email also being used for autocompletion and input type?
On mobile devices, having an email input offers users a keyboard where useful symbols and strings (such as @, / and ".com") are more handy. For the autocompletion part, it can be obtained with the use of the longer attribute value syntax, but only as far as it is supported.
Perhaps it would be better to

[2017-11-02 00:50] SiTaggart opened #1066 "Potential missing use case for aria-posinset and aria-setsize being allowed on <tr /> or role="row""
According to [3.2.7.4. Allowed ARIA roles, states and properties](https://www.w3.org/TR/html/dom.html#allowed-aria-roles-states-and-properties) `aria-posinset` and `aria-setsize` are reserved for very few roles within the ARIA spec.

One missing allowed use case is placing those on an element with a role of `row`.  This seems limiting for a couple of reasons:

Firstly in large, complex web apps, l

[2017-11-02 20:07] LJWatson commented on #1066
Neither the [aria-posinset](https://www.w3.org/TR/wai-aria-1.1/#aria-posinset) or [aria-setsize](https://www.w3.org/TR/wai-aria-1.1/#aria-sizeset) can be used on an element with `role="row`, so we're unable to change this information in the HTML spec.

The attribute definitions would need to be changed in the [ARIA spec](https://www.w3.org/TR/wai-aria-1.1/#aria-). ARIA 1.1 has just gone to Propose

[2017-11-02 20:07] #1066 closed, assigned to nobody

[2017-11-02 20:45] dauwhe opened #1067 "Remove the incest joke"
The note at the end of the [adoption agency algorithm](https://w3c.github.io/html/syntax.html#adoption-agency-algorithm) section reads:

Perhaps the sentence could end after "change parents."

[2017-11-03 10:16] edent commented on #1067
Agreed. That's a weird "joke" to have in there. It also doesn't make much sense in context.

[2017-11-03 10:27] #1067 closed, assigned to nobody

[2017-11-03 10:39] chaals commented on #1062
Closing in favour of the WICG incubation discussion

[2017-11-03 10:39] #1062 closed, assigned to nobody

[2017-11-08 01:20] edent commented on #208
Tested `autocapitalize` on Android today. Works in:

* Opera (Blink)
* Opera Mini (?)
* Dolphin browser (Webkit)
* Samsung Browser (Blink)
* Microsoft Edge (updated: Blink)
* WeChat (?)

Doesn't work in Firefox (regular or nightly). Nor in UC Browser.

Is that interoperable enough to add into the spec?

[2017-11-08 04:55] stevefaulkner commented on #208
Yes

On Tuesday, 7 November 2017, Terence Eden <notifications@github.com> wrote:

--
--

Regards

SteveF
Current Standards Work @W3C
<http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/>

[2017-11-08 06:14] travisleithead commented on #208
Actually, Microsoft Edge on Android uses Blink 😉

https://mspoweruser.com/microsoft-edge-uses-webkit-engine-ios-blink-engine-android/

[2017-11-08 17:18] notabene opened #1073 "Proposing to replace default invalid state for form elements by indeterminate"
Hi all,

(Please forgive me in advance if some terms are approximate, and feel free to correct me if needed for more relevant naming of states, pseudo-states, pseudo-selectors etc.; I won't be offended the least.)

We (@notabene and @Lausselloic) have a problem with the browser validation occurring on form elements: by default, if a field is `required`, its `:invalid` pseudo-state is triggered as

[2017-11-08 17:19] notabene commented on #1073
(Also EDITORS, feel free to edit this issue's title if it's too long to your taste) 😉 [wink emoji]

[2017-11-08 17:42] emmanuelclement commented on #1073
Same here.

[2017-11-08 21:54] chaals commented on #208
@edent :

Did you test in cyrillic/greek? What other scripts have capitalization?

[2017-11-09 01:46] LJWatson commented on #208
@chaals "Did you test in cyrillic/greek? What other scripts have capitalization?"

Wouldn't that be a platform implementation matter, rather than a spec matter?

[2017-11-09 06:07] asmusf commented on #208
Don't really understand the use case. For using virtual keyboards, I can think of more "assistive" autocapitalization behaviors than those given here, but they would then benefit from being language-aware (e.g. "I" in English). Then there are scripts like Georgian and Cherokee where there are parallel forms that are close to, or actual case variants, but with important differences, some of them du

[2017-11-09 09:07] ffoodd commented on #1073
FWIW, `:indeterminate` pseudo-class already exists for checkboxes, radios and progress ([latest
HTML5 W3C recommendation](https://www.w3.org/TR/html5/disabled-elements.html#selector-indeterminate)).

[2017-11-09 10:29] edent commented on #208
@asmusf while I can't speak for the originator of the spec, it's useful in fields like "postcode" to have all the characters capitalised. Same for car registration plate. "Full Name" would also generally use the `words` style capitalisation.

Three points

1. This is only a hint. If your name is `Vincent van Gogh`, you should be able to change the capitalisation.
2. This doesn't replace server sid

[2017-11-09 19:14] LJWatson opened #1074 "During the WebPlat TPAC meeting, it was suggested that the Web Workers spec be merged into the HTML spec."

[2017-11-09 19:16] #1074 closed, assigned to nobody

[2017-11-09 19:22] LJWatson opened #1075 "Merge Web Workers into HTML?"
During the [WebPlat TPAC meeting](https://www.w3.org/2017/11/09-webplat-minutes.html#item02) it was suggested that [Web Workers](https://w3c.github.io/workers/) be merged into the HTML spec. The reason is that it would make it easier to maintain, and therefore more likely for the spec to be kept up to date.

Does this seem like a good idea?

[2017-11-09 20:10] LJWatson opened #1076 "Proposed HTML5.3 timeline"
During the [WebPlat TPAC meeting](https://www.w3.org/2017/11/09-webplat-minutes.html#item02), a proposed timeline for HTML5.3 was discussed. Based on the discussions, a refined timeline has now been proposed:
* Thu 14th Dec 2017: publish the First Public Working Draft (FPWD)
* Tue 6th Feb 2018: publish an updated Working Draft (WD)
* Tue 13th Mar: publish an updated WD
* Thu 24th May: publish Cand

[2017-11-09 23:23] chaals commented on #208
Originally noted by @agcolom in #1072, raising here.

I think there should be a `"none"` value listed, that it should represent the default state if either the attribute is not present, or the value is not recognised by the user agent.

[2017-11-10 16:54] fenduru commented on #300
I'm working on a virtualized rendering component that manually controls the positioning of elements using `translate`. Rather than using typical scrolling, I set `overflow: hidden`. When an element gets focus, even though it is visible, the browser thinks it is in a different position and will scroll to an incorrect location. I have to manually set the scrollTop/scrollLeft back to zero after this

[2017-11-11 01:55] bsittler opened #1077 "Specify HTML numeric character reference fallback encoding for multipart upload filename characters not representable in form charset"
Filed here by accident. Please see https://github.com/whatwg/html/issues/3223

[2017-11-11 16:58] bsittler commented on #1077
Accidentally filed here, now re-filed as https://github.com/whatwg/html/issues/3223

[2017-11-12 16:13] lvdbrink opened #1078 "Typos in Changes between Working Draft 8 and Working Draft 7"
There are two typos in the Changes between [Working Draft 8 and Working Draft 7][1] section.

In the 4th change listed: ‘resrouce’

In the last change listed: ‘Coordinates [...] are no longer include’ is not grammatically correct. Probably removing the word ‘are’ is the fix for this.

[1]: https://www.w3.org/TR/html52/changes.html#changes-wd7

[2017-11-12 17:26] LJWatson commented on #1078
Thanks for letting us know @lvdbrink.

Unfortunately we can't edit the HTML5.2 spec now because it's a Proposed Recommendation. This [commit on HTML5.3](https://github.com/w3c/html/commit/f9d9f969f3ed95f8fcb28db799e809f15fb76ee1)  solves the problem by clearing the changelog for the next version.

Not ideal, but fixed.

[2017-11-12 17:26] #1078 closed, assigned to nobody

[2017-11-12 17:41] #756 closed, assigned to nobody

[2017-11-12 17:42] LJWatson commented on #736
Ping @stevefaulkner?

[2017-11-13 14:31] waldbaerkoch opened #1079 "[HTML 5.1 2nd edition] section 8.2.3.2 wrong id for defined term"
HTML 5.1 2nd edition: In section '8.2.3.2 The stack of open elements' both the definition of **have a particular element in list item scope** and **have a particular element in select scope** have the same `id`: "have-an-li-element-in-list-item-scope". This results in erronous links: in section '8.2.5.4.7. The "in body" insertion mode' / 'An end tag whose tag name is "li"' the term "have an li ele

[2017-11-13 14:57] LJWatson commented on #1079
Thanks for letting us know @@waldbaerkoch. Unfortunately we're unable to change the 5.1 specification because it's reached Recommendation status.
Good to know the problem is resolved in HTML5.2, and also I believe in the [HTML5.3 Editor's Draft](https://w3c.github.io/html)

[2017-11-13 14:57] #1079 closed, assigned to nobody

[2017-11-14 09:27] edent commented on #1077
We want to add this to the 5.3 spec.  I'd like to ask a couple of clarifying questions to make sure I've understood things.

The *filename* of the submitted file (not the contents) should be in the same `charset` as requested in the form. So if the filename is `你好.jpg` and the charset is `windows-1252` then the filename should be escaped into HTML decimal entities like `&#20320;&#22909;.jpg`

Is t

[2017-11-14 09:36] stevefaulkner commented on #263
may be useful https://diffofhtmls.herokuapp.com/diff/The%20elements%20of%20HTML/Forms/The%20select%20element

[2017-11-14 09:44] edent commented on #216
Looking at this for 5.3 - just to help me out, which sections of the spec refer to this?

Is it just a case of removing it, or do we need to update the language?

[2017-11-14 09:58] edent commented on #476
This appears to be a reference to `text/plain` as defined in [RFC1341](https://tools.ietf.org/html/rfc1341). As seen in https://www.w3.org/TR/input-events-2/#interface-InputEvent-Attributes

Should we update the Drag Data Store with a reference to the RFC, or just remove the word "plain"?

[2017-11-14 12:45] LJWatson commented on #369
Based on data from [caniuse.com](https://caniuse.com/#feat=ping): Chrome/Opera and Safari support the ping attribute, Firefox has support behind the browser.send_pings flag, but it's disabled by default), and neither Edge nor IE support it at all.

Should we reintroduce the ping attribute into the HTML5.3 spec?

[2017-11-14 13:50] #1049 closed, assigned to nobody

[2017-11-14 18:55] LJWatson commented on #1077
Please leave this issue open whilst we look into it. Thanks @bsittler

[2017-11-15 04:04] #1027 closed, assigned to LJWatson

[2017-11-15 12:32] chaals commented on #369
@travisleithead thoughts on this for edge?

[2017-11-15 13:45] selfthinker opened #1081 "Clarify use of headings in legends with phrasing content"
The [`legend` element](https://w3c.github.io/html/sec-forms.html#the-legend-element)'s content model is:

But when you add both to a legend the validator gives an error and says:

Here is the simplest example I used for that error to appear:
[code]

The error does not appear when there is only a heading or only phrasing content in the legend. Is that an issue in the validator? Or is the spec not v

[2017-11-16 09:44] chaals commented on #1081
I agree with your interpetation. And I took [a couple of variations on your example](https://chaals.github.io/testcases/legend-heading-text-manual.html) and played with them in Firefox, Edge, and Yandex browser, and they all seemed to behave as though this was a reasonable thing to do. And I cannot see a scernario in which it is not.

So it seems to me that the spec matches reality. I haven't chec

[2017-11-16 09:52] stevefaulkner commented on #1081
agree it seems like a validator bug. /cc @sideshowbarker

[2017-11-16 12:13] #931 closed, assigned to LJWatson

[2017-11-16 16:39] travisleithead commented on #369
I think Edge is amenable to implementing this in the near future, if that helps 😊

[2017-11-16 17:11] shwetank commented on #369
Based on all the comments above, I think we should go ahead with it then.

[2017-11-17 10:50] selfthinker commented on #1081
Thanks for the quick responses!
I just opened an issue with the validator (validator/validator#575).

[2017-11-17 17:55] chaals commented on #1081
OK, seems like we can close this.

[2017-11-17 17:55] #1081 closed, assigned to chaals

[2017-11-20 06:17] shwetank commented on #263
@patrickhlauke can you check if the incompatibility still exists with the newest version of firefox? (I tested in v57). Seems like firefox is behaving like other browsers here now, or am I mistaken?

(I just want to have more clarity about current state of browser (in)compatibility before we decide to take action on it, so would be good if you could confirm/deny what im seeing here with firefox).

[2017-11-20 14:14] patricia-gallardo commented on #278
I have taken a look, and it seems that most browsers support 'focusin' and 'focusout' events, as @chaals pointed out earlier.

In Chromium and Firefox they seem to fire just after focus/blur - that is:

* an element gaining focus will receive 'focus' first and 'focusin' right after
* an element losing focus will reveive 'blur' first and 'focusout' right after

Using 'focusin' and 'focusout' in a b

[2017-11-20 14:28] patricia-gallardo commented on #278
The section involved is the so called "focus update steps" where the fireing order of the focus events are described: https://w3c.github.io/html/editing.html#loses-focus

[2017-11-20 14:34] patricia-gallardo commented on #278
My very simple test is here : https://gist.github.com/patricia-gallardo/0b87e090c242e1ad12dbaa53a9a0f20f

It just makes a ul with two input fields and sets 'click', 'focus', 'blur', 'focusin' and 'focusout' event listeners on all three. Then prints to the console when they are called.

[2017-11-20 15:13] patricia-gallardo commented on #278
There are two cases to consider
1) The added event listener is added in "bubble" mode - this should imo be the "normal" thing to do
2) The added event listener is added in "capturing" mode

Suggestions

1) For the "bubble" mode a two points are needed
Under point 2 we will need a point 5 for 'focusout'
Under point 4 we will need a point 6 for 'focusin'
We also need to make it clear that the event

[2017-11-20 17:44] chaals commented on #263
@shwetank skimming the 15-year history of the Firefox bug that points out that they are inconsistent with everything else, it seems like whether or not Firefox has fixed it we should do so in the spec to match the rest... (But yeah, a test and implementation results would be handy...)

[2017-11-20 20:10] shwetank commented on #263
@chaals I agree. Just wanted to confirm if that particular Firefox issue is fixed, because it seems to me like it is. I hope to discuss a bit more about it in upcoming team call regarding activation behaviour.

[2017-11-20 21:32] patrickhlauke commented on #263
using https://jsfiddle.net/zgqvzz7w/ i can confirm that, to my understanding, Firefox (Quantum) now behaves in line with all other common browsers (including iOS/Safari, Android/Chrome, Opera, Brave, IE11, Edge...). in short, onchange is fired as soon as a new option is selected and the focus is still on the `<select>` (e.g. on windows, TABbing to it, using arrow key up/down to change the selectio

[2017-11-21 05:26] chaals commented on #1025
It seems that parsers generally do what they are told outside the parentheses -

Which is right, but not "formally defined", instead of what is inside the parentheses

Which indeed comes out wrong if you try to apply the same rule to digits. An alternative approach would be to remove the bad parenthetical instruction, and optionally define what "a numeric version of the current character" means, b

[2017-11-21 09:33] #1025 closed, assigned to chaals

[2017-11-23 13:23] chaals commented on #476
We don't seem to have a definition of a plain text string, but I suspect it is reasonable to use it as a normal term - we certainly talk about strings everywhere as if the term is part of normal english...

[2017-11-24 07:48] Dan503 commented on #957
Not being able to easily style a fieldset/legend is a massive pain in the ass. It's a requirement for good accessibility to use fieldset/legend but browsers make the combo almost impossible to style.

I would prefer `appearance: none` to cancel out the restrictions around styling `fieldset/legend` over `display: contents` since `display: contents` requires a rapper element. `display: contents` sho

[2017-11-24 14:06] chaals commented on #208
Changing milestone, this seems unlikely to get in on time because it's tricky, and I don't have a good testing setup :(

[2017-11-25 09:25] chaals commented on #208
See also [Apple's documentation](https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/Attributes.html#//apple_ref/doc/uid/TP40008058-autocapitalize) - they made up the feature as far as I can see.

[2017-11-25 09:28] chaals commented on #208
Apple defaults to `"sentences"` for `input`s in the `text` state. But for better compat, it seems reasonable to default to none.

For passwords it is **usually** critical to do so. (Not always. I have several real-world passwords where the system forces uppercasing and applies a mechanism equivalent to `autocapitalize="characters"`)

[2017-11-26 00:22] aphillips commented on #208
@chaals Having a system apply uppercasing is different from having the user-agent do it. Among other things, there are [annoying corner cases](http://w3c.github.io/charmod-norm/#definitionCaseFolding) in case folding.

`sentences` autocapitalization is pretty common in mobile keyboards. It's usually the default state and is activated by typing period-space.

`words` could prove troublesome for som

[2017-11-26 03:22] chaals commented on #208
@aphillips re `sentences` as a default in mobile: yep. I assume that is related to the implementations which have it as a default for certain states of `input` and for `textarea`. I'm also wary of issues like matching conventions for capitalising words within sentences - language adjectives in English, nouns in German, ...).

As noted already in linked docs, `none` is important for stuff like pass

[2017-11-26 03:24] chaals commented on #208
I wrote

At the moment these seem to be done within the application. One goal is that if passwords **require** uppercase, a field can reliably use this attribute. But we are not close to that now :(

[2017-11-26 14:11] chaals commented on #208
Should `autocapitalize` apply to the date state (and if so does anyone implement it)? I have it (provisionally) not applying in #1072 and wondering if anyone would be upset by that.

[2017-11-27 18:03] r12a commented on #208
See http://rishida.net/blog/201512.html#20161106

Note that Cherokee may require `autocapitalize="characters"` to be the default for the time being, because of current font support, but that may change over time.

The Georgian default should presumably be `autocapitalize="none"`, but i'm not sure whether Georgian keyboards on mobile devices currently offer case alternatives. It's presumably occasi

[2017-11-27 19:23] asmusf commented on #208
@r12a To your last question: Some don't and others object to that, forcefully. Many report such texts "hard/impossible to read". You can find that kind of meta-conversation preserved in forum discussions; my conclusion would be that going all lowercase is not seen as generally acceptable, even if it's known that input was done on a mobile device.

[2017-11-27 20:26] aphillips commented on #208
@r12a @asmusf I'd argue that it's irrelevant. `autocapitalize` isn't about language specific things such as what the autocorrect in the keyboard does. It's about influencing the input mechanism to provide application specific capitalization. For free text, this is normally sentence support. For a few fields that want to be SHOUTED, it's characters. I suppose occasionally the hint will be none (to

[2017-11-28 07:23] patricia-gallardo commented on #254
We will have to make a test and run it in the different browsers, but according to the comments above and this https://www.w3.org/Bugs/Public/show_bug.cgi?id=25233#c2 it seems that at least Firefox and Webkit might support the proposed behaviour.

[2017-11-28 07:39] patricia-gallardo commented on #278
The UI Events specification seems relevant to this issue https://w3c.github.io/uievents/#events-focusevent-event-order

This part specifically confuses me because it does not seem to reflect the behaviour I'm seeing. I will do some more testing.

[2017-11-28 08:54] siusin opened #1086 "add the set-allow *-flags algorithm for a Document document"
explain how the allow* flags (allowpaymentrequest and allowusermedia) works on a Document

[2017-11-28 09:17] cynthia commented on #1075
As discussed during TPAC, I can fold the bikeshed spec into html after the CSP dependencies are solved.

[2017-11-28 11:17] patricia-gallardo commented on #278
Made a bubble test that is a bit easier to use (still super naive) : https://gist.github.com/patricia-gallardo/e2380ee60e0893c0f71344d258b93a6c

[2017-11-28 11:22] LJWatson commented on #278
@patricia-gallardo can you document the results of the new test in different browsers? If it confirms we have interop across at least two different browser/engines, we'll be in a good position to get this issue resolved.

[2017-11-28 11:31] patricia-gallardo commented on #278
My Results for the bubble test

Chromium (Vivaldi/Opera/Chrome) : test passes
Firefox 56 : test passes
Firefox 57 : test passes
Safari 11 : test passes

Edge (EdgeHTML 16) : test failes - but only in the second part and only about when the blur event happens (it comes _after_ focus out in Edge)
IE 11 (Trident 7) : test fails - in many different ways:
- First click : FocusIn fires before Focus
- Se

[2017-11-28 11:51] LJWatson commented on #278
LGTM :)  If you have a proposed change to the spec text, feel free to post it here as a draft.

[2017-11-28 11:52] LJWatson commented on #278
Ping @TravisLeithead for thoughts on if/where UI Events fits in here?

[2017-11-28 11:53] patricia-gallardo commented on #278
Similar test for the capture case for FocusIn/FocusOut

https://gist.github.com/patricia-gallardo/19862e5e0cad8e9f991cf5aabff94731

[2017-11-28 11:56] patricia-gallardo commented on #278
My Results for the capture test ( similar results - but without Firefox 56 since I uninstalled it :D )

Chromium (Vivaldi/Opera/Chrome) : test passes
Firefox 57 : test passes
Safari 11 : test passes

Edge (EdgeHTML 16) : test failes - but only in the second part and only about when the blur event happens (it comes _after_ focus out in Edge)
IE 11 (Trident 7) : test fails - in many different ways:

[2017-11-28 12:06] r12a commented on #208
@aphillips i'm not so worried about German here, because i'm guessing that a word value for autocapitalize wouldn't be appropriate as the default.

However, i don't want to lose sight of the idea that normal support that is sentence-based may be unhelpful (and this whole thing is about being helpful) for Cherokee and Georgian, for which more helpful default settings appear likely to be `character`

[2017-11-28 13:08] patricia-gallardo commented on #278
Rough idea of change in https://w3c.github.io/html/editing.html#loses-focus

Add a sub-point under 2 : "5. If blur event target is not null, fire a FocusOut event named focusout along the old chain to the blur event target."

Add a sub-point under 4 : "6. If focus event target is not null, fire a FocusIn event named focusin along the new chain to the focus event target."

[2017-11-28 13:14] patricia-gallardo commented on #278
I am assuming here that old/new chain here is defined as the same as the regular chain for events (if not please give me the proper term for the regular event chain and I will reword it)

[2017-11-28 17:19] SelenIT opened #1089 "Shouldn't www.w3.org/TR/html5/ point to the "Latest version of HTML5"?"
Currently, the URL https://www.w3.org/TR/html5/ points to the HTML5.0 Rec from 2014. Since the URL follows the same pattern as https://www.w3.org/TR/html4/, which points to the "Latest version of HTML 4", people can conclude that it's the "Latest version of HTML5". There is no signs in the HTML5.0 spec itself (except the "Latest Version of HTML" link in the header) that it's in fact the outdated s

[2017-11-28 20:13] dwsinger commented on #845
Are there cases where the UA would want to restrict to "old" email addresses? If so, we might need two (or three) input methods "old style", "fully international" and maybe maybe "general" (which currently means old, but should be moved to mean international).
I think we should also discuss presentation of email addresses, particularly those involving RTL text.

[2017-11-28 21:59] ShawnSteele commented on #845
I really don’t like that idea.  That means the app sort of has permission to disallow international email addresses.  And some American sites are going to go with that because it’s easy, leaving other user’s in the lurch.

Should someone really want to prohibit non-ASCII addresses, they’d merely have to add their own filter checking for codepoints above U+007F before sending the form?  That seems

[2017-11-28 22:44] dwsinger commented on #845
I'm not sure I like two different input methods either.

I do want to see some real thought into how we present multi-script labels (URIs and email addresses) in ways that empower rather than confuse users. That's a serious upcoming problem (how do I make sure it's the company I intend and not a phishing attack if I can't read it? how do I know it's the person I intend at the company I intend if I

[2017-11-28 23:48] ShawnSteele commented on #845
I reply-all’d to a mail yesterday that included folks I didn’t expect merely because the To: and Cc: were so cluttered.  I’m not sure how phishing gets prevented.

IRI’s have their own challenges, but we’ve (the bigger we of all IT/Web folks) trained folks that mycompany.safe.com is OK merely because “we” keep using providers that do things like “mycompany.survey.com” and “mycompany.emaildist.com”

[2017-11-29 00:06] dwsinger commented on #845
agreed, email addresses I mostly want to be reasonably sure it's the right company, if I can't read the personal address (if I can, it's a "do I recognize it?). Don't forget mailto: URLs.

agreed, punycode is an excuse for "we have no idea what to show you so we will be quite sure to show you something we know you can't read". how that helps except to protect the guilty I do not know.

[2017-11-29 00:18] aphillips commented on #845
@dwsinger / @ShawnSteele I think you're looking through the wrong end of the problem here. The problem here is not presentation, it's input. Sites can take the input and do whatever they need to in order to validate the email address. A site could reject EAI addresses, for example. The only thing that input type=email really guarantees is that the string has an @ and a dot in it.......

Prior to E

[2017-11-29 00:21] dwsinger commented on #845
I think that we should (mixing metaphors) look at both ends of the telescope; we have to do better at both accepting IRIs and international email addresses, **and** presenting them.  I am unhappy to consider either one without the other.

[2017-11-29 00:53] ShawnSteele commented on #845
A naïve implementation may have trouble, but applications that merely take the Unicode string and pass it to their mail library’s Unicode API should be OK.  We do the punycode step in a pretty low level, people can call the DNS APIs with Unicode successfully.  Granted old libraries might be too strict or do things that don’t work with EAI, but it shouldn’t be too difficult for many systems to hand

[2017-11-29 09:17] LJWatson commented on #1075
Thanks @Cynthia. What are the CSP dependencies?

[2017-11-29 09:25] LJWatson opened #1090 "CFC: Merge Web Workers into HTML"
This is a Call For Consensus (CFC) to merge the [Web Workers](https://w3c.github.io/workers/) specification into the [HTML](https://w3c.github.io/html) specification.

The reason for merging the two specifications is that it would make it easier to maintain Web Workers, and therefore more likely that the Web Workers parts of the HTML specification will be kept up to date (and issues addressed more

[2017-11-29 11:10] patricia-gallardo commented on #278
Alternative text:

Add a sub-point under 2 : "5. If blur event target is not null, fire an event named focusout at the blur event target."

Add a sub-point under 4 : "6. If focus event target is not null, fire an event named focusin at the focus event target."

With "fire" referencing : https://w3c.github.io/html/webappapis.html#event-firing

I am not sure if it is sufficiently clear that this is

[2017-11-29 11:11] alan-balding opened #1091 "Intrusive Elements"
I am concerned about some websites use of video and audio elements of HTML5. For instance autostarting video, maxing the sound output and freezing the controls until the video has run to the end. I have searched in vain trying to find how to work round these blatant attempts to take away my ability to control my own  devices and browsers. I can give you examples of such behaviour but I am hopeful

[2017-11-29 11:20] edent commented on #845
I do not think that is the case.  On my corporate intranet, I can send mail to `edent@company` - that's a non-public email address, but a valid one on my mailserver.  It is also accepted as valid by a simple `<input type="email" required>`

Some observations.

* On `<input type="number">` my desktop browser prevents me from typing the alphabetical `two` but my mobile browser *will* let me type tex

[2017-11-29 11:51] chaals commented on #845
@edent said

Actually, applications do - they check the validity state, and then refuse to submit the form. So telling them to validate against modern internationalised email instead of the historical ASCII type is important.

Otherwise I agree with @aphillips - this is about accepting user input. We currently insist on something that *maps* to punycode for the right-hand-side and I am not sure th

[2017-11-29 11:59] edent commented on #845
Sorry, I meant "nothing stops a user from typing in the *wrong* email address".

I've lost count of the people who submit *my* email address thinking it is theirs.  Or the people who think their email provider is `gmial.com`.

[2017-11-29 12:02] chaals commented on #845
Ah, yes.

One of the ideas presented behind `input type="email"` is that it would allow a user to select stuff from their address book - assuming access from the browser is allowed. This provides for lots of things, including validating email addresses rather more carefully against reality... but as far as I know that is not currently implemented anywhere :(

[2017-11-29 12:07] LJWatson commented on #1091
The HTML elements don't tend to be the cause of these problems. Neither the `audio` or `video` element autoplays by default, and the [HTML spec](http://w3c.github.io/html/semantics-embedded-content.html#ready-states) advises user agents to honour user preferences over the presence of the `autoplay` attribute:
<"NOTE: User agents do not need to support autoplay, and it is suggested that user agents

[2017-11-29 12:52] notabene commented on #1073
Also, it seems that the problem has been identified too in the [CSS Selector Level 4 draft](https://drafts.csswg.org/selectors-4/#user-pseudos):

[2017-11-29 14:17] #208 closed, assigned to edent, chaals

[2017-11-29 14:37] chaals commented on #208
We added this to the spec. Please raise specific issues against the text that is there now... (or will be when we fix the build script that seems to be playing up).

[2017-11-29 14:53] chaals opened #1092 "What should autocapitalize default be"
The `autocapitalize` attribute for `input` and `textarea` is implemented in Safari for iOS and some blink browsers for Android. They use a deault of `sentences` for plain-text input types such as `textarea`, `input type="text"`, but a default of `none` for things like `input type="password"` (which seems pretty important).

All the non-implementations effectively have a default of `none`.

So the

[2017-11-29 16:31] alan-balding commented on #1091
As I thought,  you are just trusting the page authors to be honourable. Oh dear, some are already betraying your trust. Is there a way, for example, that a users browser preference could be set to  intercept a video.ended = false message on its way back to the server and transmit a video .ended = true.  This would give control back to any user who desired not to be forced to watch a video in its e

[2017-11-29 16:45] edent commented on #1091
Most browsers have a way for you, the user, to turn off autoplay. For example:

* https://support.apple.com/en-gb/guide/safari/stop-autoplay-videos-ibrw29c6ecf8/mac
* https://support.mozilla.org/en-US/questions/1141200
* https://www.theverge.com/2017/9/15/16311310/google-chrome-autoplay-videos-january

[2017-11-29 18:39] alan-balding commented on #1091
Terrence is of course right but not allowing the video to load or autostart will still result in some web pages stalling. The reason is that in these cases the web server sends out a request and awaits a reply from the browser that the video has played to the end before allowing further progress.

I am now informed that setting up a local proxy that will change a video.ended request reply to True

[2017-11-29 19:02] ShawnSteele commented on #845
Well, to quibble, that’s a “well-formed” address.  It still may be invalid.

From: chaals [mailto:notifications@github.com]
Sent: Wednesday, November 29, 2017 3:51 AM
To: w3c/html <html@noreply.github.com>
Cc: Shawn Steele <Shawn.Steele@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [w3c/html] allow input type="email" to accept unicode values (#845)

@edent<https://github.com/ed

[2017-11-29 19:04] ShawnSteele commented on #845
My first reaction is “intriguing idea” – but, in practice is that useful?  I cannot remember the last time I entered an email address in a web form that was not my own.  And I’m not sure I have myself as a contact.

-Shawn

From: chaals [mailto:notifications@github.com]
Sent: Wednesday, November 29, 2017 4:03 AM
To: w3c/html <html@noreply.github.com>
Cc: Shawn Steele <Shawn.Steele@microsoft.com>;

[2017-11-30 08:02] shwetank commented on #263
So looking at the spec and the truckload of firefox bug comments, it seems the spec has this wording for the `<select>` element in there

This is what caused the confusion and probably the implementation in Firefox back in the first place. The part about when the change event must be fired is actually pretty clear in the spec, and IMO does not need any further changes there.

Whats needed is to re

[2017-11-30 15:22] chaals commented on #461
This seems to be implemented, but still need tests. Pushing the milestone back to check, think we need to find some tests to be sure.

[2017-11-30 16:58] chaals commented on #438
Seems that Blink moved into line with Firefox/IE regarding the multiple `thead` and `tfoot` elements, which conforms to what the spec says, so I think we can close this.

[2017-11-30 16:58] #438 closed, assigned to cynthia, chaals

[2017-11-30 23:43] prlbr commented on #1092
Do I understand correctly that some browsers default to altering text in textareas now? I.e. I type a lowercase "a" and get an "A"? I kind of understand why some browsers do something like that on some devices (cell phones) with limited means for entering text. But I think it would be a really bad idea to bake such a default into HTML and hence for all browsers. That would be a big break in backwa

[2017-12-01 00:36] chaals commented on #1092
@prlbr

Yes. Mobile browsers - seemingly Safari for iOS and Chromium for Android do it for `textarea` and some `input` types.

There is a requirement in the spec text (where we currently also suggest defaulting to no autocapitalization - in part because in mobile scenarios users can set up preferences on their keyboard) that the user can over-ride this behaviour, but it is not clear how it **shoul

[2017-12-01 03:11] rniwa commented on #1092
@whsieh

[2017-12-01 10:49] #369 closed, assigned to LJWatson

[2017-12-01 11:00] #263 closed, assigned to shwetank

[2017-12-01 11:05] edent commented on #1092
This is a problem with some login boxes on mobile. My software keyboard autocapitalises my username `Edent` - but the server doesn't recognise this as being the same as `edent`. Poor design from the website owner - but having `autocapitalize="lower"` or similar may help there.

[2017-12-01 11:48] r12a commented on #1092
@prlbr @chaals I was under the impression that this is NOT correct, inasmuch as what the `autocapitalize` attribute does is set a convenience hint for the display of the visual keyboard - not to alter what the user types at all.  Ie. for `autocapitalize=sentence` the keyboard switches to show uppercase letters, but the user is quite at liberty to switch the keyboard back to lowercase before typing

[2017-12-01 13:58] chaals commented on #1092
@r12a wrote:

Yes, this is what Safari does on iOS, and while I don't have a test device so cannot say for Android I presume it is the same.

That is a bit different to what we have specified now, and might well be a better way of describing it. It would significantly reduce the range of potential benefit, but it simplify the question of ensuring the user can override where necessary...

[2017-12-01 14:10] r12a commented on #1092
It also makes life much much easier because you don't need to worry about language-specific rules for upper and lowercasing, such as whether the i needs to be a Turkish capital letter I with dot or not, which is a nest of snakes (i assume you're familiar with that, otherwise see http://rishida.net/blog/201512.html#20160907). If this is a prompt to the keyboard display, the turkish user is likely t

[2017-12-01 14:19] #778 closed, assigned to siusin

[2017-12-01 14:21] #216 closed, assigned to edent

[2017-12-01 16:46] #769 closed, assigned to chaals

[2017-12-01 16:52] #875 closed, assigned to chaals

[2017-12-01 17:12] chaals commented on #845
@ShawnSteele

I do it when I use webmail. That is a pretty common scenario. It might be that since the address book is then likely to be on the app side, and the magic form types are unfriendly to customisation, that it isn't an important case in practice. In my own case, I am generally using a web interface to something for which I also use a local client that does maintain an address book, but I

[2017-12-01 18:27] edent commented on #845
Back when I worked for WAC (Wholesale Applications Community) we defined a standardised way of the address book being exposed to the browser - https://web.archive.org/web/20110313075317/http://specs.wacapps.net:80/wac2_0/feb2011/deviceapis/contact.html

Useful if you want to pick addresses.  But I suspect `<input type="contact">` is out of scope for this discussion.

[2017-12-04 11:56] LJWatson opened #1100 "CFC: Publish FPWD of HTML5.3"
This is a Call For Consensus (CFC) to publish the First Public Working Draft (FPWD) of HTML5.3, based on the current [Editor's Draft](https://w3c.github.io/html).

Substantive changes since HTML5.2 are noted in the [Changes section](http://w3c.github.io/html/changes.html#changes). Note that discussions about the `autocapitalize` attribute are ongoing. Details of all commits can be found in the [Gi

[2017-12-04 14:32] chaals commented on #553
simple [test for two descriptions with different `lang` attributes](https://chaals.github.io/testcases/multiple-meta-description-manual.html).

Tried it in BlueGrfiffon (which uses Firefox to parse) and doesn't complain or change anything.

[2017-12-05 11:11] awwright commented on #1090
I work on some other Web technologies that don't touch HTML, like Semantic Web and JSON Schema.

I understand there may be editorial reasons and prior precedent for things like this, however I tend to disagree, as I think this presents a very HTML-centric view of the Web. There's no part of Web Workers that depends on HTML. This would significantly complicate moves to use Web Workers in other tech

[2017-12-05 21:09] plehegar commented on #1089
2 possibilities:

1.  /TR/html5/ is the URL of HTML 5.0, so we keep things as-is.
2. /TR/html5/ was an unfortunately pick. So, we could rename the current /TR/html5 to be /TR/html50 and then have /TR/html5/ to be an alias of /TR/html/ ?

Preferences?

cc @deniak

[2017-12-05 22:10] johnfoliot commented on #1089
FWIW, I'd prefer option 2.

JF

On Tue, Dec 5, 2017 at 4:09 PM, Philippe Le Hegaret <
notifications@github.com> wrote:

--
John Foliot
Principal Accessibility Strategist
Deque Systems Inc.
john.foliot@deque.com

Advancing the mission of digital accessibility and inclusion

[2017-12-06 08:15] SelenIT commented on #1089
I strongly prefer option 2, too.

Many existing resources link to /TR/html5 as the relevant HTML(5) spec, so it would be great if it automagically starts to point to the latest published version.

[2017-12-06 09:50] edent commented on #1089
Option 2, I agree. Cool URls don't change, and all that 😀

[2017-12-06 17:18] prlbr commented on #1092
This is much more sensible, I think.
It’s just a pity they called the attribute `autocapitalize` and not something less confusing.

[2017-12-06 19:15] LJWatson commented on #1089
Agree that option 2 is the better choice. It's consistent with subsequent versions (/html51, /html52 etc.)

[2017-12-07 08:46] deniak commented on #1089
Links updated

[2017-12-07 08:46] #1089 closed, assigned to plehegar, deniak

[2017-12-07 15:16] Malvoz opened #1101 "image decoding"
Using [Nu html checker](https://validator.w3.org/nu/), I was alerted of:

And because it is not in the w3c spec yet, I thought I should flag for the [`img.decode()`](https://html.spec.whatwg.org/multipage/embedded-content.html#dom-img-decode) and [`<img decoding>` attribute](https://html.spec.whatwg.org/multipage/embedded-content.html#attr-img-decoding) here.

[2017-12-07 22:54] LJWatson commented on #1090
Thanks for your comment @awwright.

This is one of those times where there isn't a right or wrong answer, just different approaches with different priorities. In this instance spec maintenance has been prioritised, on the basis that a spec that needs updating is no help to anyone no matter whether it's on /TR in its own right or not.

[2017-12-09 15:52] musteresel opened #1102 "Influence of the base tag on links to elements with id"
I was surprised that a `<base href="FOOBAR">` tag also affects links of the form `<a href="#target"></a>` to no longer point to an element within the current page but to the destination referenced by the `<base>` tag.

**Was this behavior intentionally specified as it is?** This way there seems to be no way to reference an object in the current document without resorting to specifying its full abs

[2017-12-09 21:35] Comandeer opened #1103 "Inconsistency about body-ok for stylesheets"
There is information in section [4.8.5.13. Link type "stylesheet"](http://w3c.github.io/html/links.html#link-type-stylesheet) that this keyword is body-ok:

however in section [4.8.5.1. Hyperlink auditing](http://w3c.github.io/html/links.html#sec-hyperlink-auditing) there is no such information in [link types table](http://w3c.github.io/html/links.html#body-ok). What's even more confusing, there i

[2017-12-10 09:59] chaals commented on #1103
Yes. I thought (without checking) that we had picked this up and fixed it already.

Also, **link types** should be a separate section. I reviewed the new hyperlink auditing section for markup so that would be my bad.

ping also @edent in case you want to take a look. Otherwise I will probably get to it in the next couple of days.

[2017-12-11 09:14] chaals commented on #254
Firefox and Blink now show consistent behaviour for [my dopey test](https://chaals.github.io/testcases/quirky-srcdoc-manual.html) and [zcorpan's rather smarter one](http://software.hixie.ch/utilities/js/live-dom-viewer/?saved=4303#)

@patricia-gallardo  can you test on webkit?

[2017-12-11 14:17] LJWatson commented on #1100
With only positive expressions of support, this CFC passes without objection. Thank you to the people who took time to respond.

We'll request transition to FPWD ASAP.

[2017-12-11 14:17] #1100 closed, assigned to LJWatson

[2017-12-11 14:53] LJWatson commented on #1090
This CFC received several positive responses, and one expression of concern (from outside the WebPlat WG). We have noted the concern and responded, but the overall consensus is to adopt the proposed plan.

This CFC therefore passes. Thanks to everyone who responded.

[2017-12-11 14:53] #1090 closed, assigned to LJWatson

[2017-12-12 22:58] chaals commented on #583
Unassigned @stevefaulkner for now because he is stepping down as an editor. Feel free to pick this up and make it a Pull Request.

[2017-12-13 12:53] chaals opened #1104 "Remove "anchor-point""
The `anchor-point` CSS stuff seems to be a holdover from the past, appears not to work anywhere, and anyway belongs to CSS. We should remove the section and the associated property index.

[2017-12-13 13:19] chaals commented on #1022
I don't think this contradicts the text you quoted. It is a "may", meaning user agents may not do it, and most don't ever do it. In the case of a single printable character such as `accesskey="श्र"`, if Edge supported `accesskey` for such characters (it appears not to do so), there is no obligation to insist on only the first code point.

The multiple code point case is fairly unusual, but there i

[2017-12-13 13:54] #1076 closed, assigned to LJWatson

[2017-12-13 13:59] LJWatson commented on #1091
It isn't clear what, if anything, can be done within the spec to address this concern beyond the note I suggested previously?

[2017-12-13 14:38] chaals commented on #476
You might want to use charmod's [character string](https://www.w3.org/TR/charmod/#def-character-string) definition - perhaps by reference...

[2017-12-13 14:41] #1038 closed, assigned to nobody

[2017-12-13 15:01] LJWatson commented on #633
We can try to help with shorter issues that focus on specific questions, but otherwise I'm afraid this issue is beyond our scope. It may be worth contacting w3c-translators@w3.org for help though.

[2017-12-13 15:01] #633 closed, assigned to LJWatson

[2017-12-13 15:25] LJWatson commented on #1102
I believe this is always how ```<base>``` has worked. Chrome, Edge, Firefox, and IE all resolve the relative fragment identifier to the base URL.

[2017-12-13 15:25] #1102 closed, assigned to nobody

[2017-12-13 16:16] chaals commented on #1091
When to send an untrue statement that a resource has finished playing seems like a user agent issue. I suggest we close this for the specification.

[2017-12-13 19:51] #1103 closed, assigned to LJWatson

[2017-12-14 09:14] #1091 closed, assigned to LJWatson

[2017-12-14 13:46] chaals opened #1106 "mark RegisterContentHandler() at risk?"
As far as I know this only really works in Firefox...

[2017-12-14 14:48] chaals commented on #1101
Is there a browser where [the `decode` tests](http://w3c-test.org/html/semantics/embedded-content/the-img-element/decode/image-decode.html) pass - and likewise for implementations of the attribute...

[2017-12-14 15:03] chaals commented on #1022
@r12a can we close this issue?

[2017-12-14 17:27] chaals opened #1108 "Remove magical alignment for dialog"
The [magical alignment for `dialog` elements](https://w3c.github.io/html/interactive-elements.html#magically-aligned) doesn't seem to work anywhere, and appears to be a holdover from the old 5.0 version of `dialog` relying on the `anchor-point` pseudo-CSS that doesn't seem to exist in reality either.

Unless someone has a reason to believe it should and does exist, I suggest we just remove it.

[2017-12-14 17:32] chaals opened #1109 "Make sure nonces don't leak"
The `nonce` attribute adopted to support CSP is vulnerable to attacks through e.g. CSS, so [access to it should be restricted](https://github.com/whatwg/html/commit/19f5cce801550d278b9459f8c4797f9f86aae864)

Based on [W3C-tests](http://w3c-test.org/content-security-policy/nonce-hiding/) implementation is proceeding rather than done.

[2017-12-14 17:39] chaals commented on #996
Closing here until it comes back incubated

[2017-12-14 17:39] #996 closed, assigned to nobody

[2017-12-14 17:40] chaals commented on #983
Closing this in favour of incubation first.

[2017-12-14 17:40] #983 closed, assigned to nobody

[2017-12-15 02:34] iamrafan opened #1111 "A11y: Color contrast issue on hovering the options in select element"
![image](https://user-images.githubusercontent.com/22068434/34024047-0fb6a072-e0fd-11e7-811b-6ae212d9d3e8.png)

On hovering over one of the options, the native background and text colors don't seem to have the WCAG recommended color-contrast ratio of 4.5 : 1.

[2017-12-15 07:52] SelenIT opened #1112 "Confusing statement regarding the content model of <p> in the "Changes" section in HTML5.2"
The ["Fixing bugs and matching reality better" subsection](https://www.w3.org/TR/html52/changes.html#fixing-bugs-and-matching-reality-better) of the "Changes" section in the HTML5.2 spec has the following statament:

As far as I understand, it refers to the clarification issue #763 (and the related PR #838).

This statement looks very confusing to me because it seems to imply that in previous edit

[2017-12-15 08:33] chaals commented on #1111
This seems to be an accessibility bug in your browser, not in the HTML specification. Please file the bug against the browser.

[2017-12-15 08:33] #1111 closed, assigned to nobody

[2017-12-15 08:40] chaals commented on #269
There is a [proposal from @dtaspuska](https://www.w3.org/2017/11/07-editing-minutes.html#item06) for a simplified `inputmode` attribute, on `HTMLElement` instead of `input`, to allow for its use with `contentditable`.

Let's see if it gets traction.

[2017-12-15 08:41] chaals commented on #893
This is done...

[2017-12-15 08:41] #893 closed, assigned to siusin

[2017-12-15 09:00] iamrafan commented on #1111
@chaals aren't the hover colors inbuilt into the semantics of the ``` <select> ``` element?

[2017-12-15 17:44] chaals commented on #1111
@iamrafan no it isn't.

Presentation is rarely built into semantics in the specification because we generally try to separate these two things.

There is a rendering chapter in HTML, because fairly consistent rendering across browsers is helpful for users to understand what they are getting.

But details of colours is a user agent implementation decision.

[2017-12-15 18:27] iamrafan commented on #1111
sure, thanks

[2017-12-17 12:47] chaals commented on #1112
Hmm. I will record this as an erratum, and propose a fix for the changelog along the lines of your suggestions, although I am not sure if we will publish a revised version of HTML 5.2 ...

I'll propose a fix for the spec itself too.

[2017-12-17 13:32] chaals commented on #1112
I committed the change to the HTML branch on the off-chance that we use it to produce an errata update (Revised Rec).

I would consider this issue fixed by #1113 - if you disagree please say so...

[2017-12-17 14:11] chaals commented on #413
Is there a concrete use case for extensions beyond intervals, that someone is have trouble with?

If not, I propose renaming this issue to specifically address the lack of a mechanism to describe time intervals. I note that this is a massive practical problem. The following example is made up, but is  pastiche of real-world opening hours. How do we mark it up unambiguously so it an be interpreted?

[2017-12-17 14:17] SelenIT commented on #1112
Thanks, the change you propose in #1113 is much better. However, I'm not sure that mentioning the _rendering_ of the elements, especially after "In general", removes the confusion completely. If I were a novice taught on "block vs. inline" dichotomy and not taught about the "Content model" concept (which seems to happen quite often), I could still come to conclusion that _the general rule_ that de

[2017-12-17 14:25] chaals commented on #456
Nothing has changed, implementation is still woefully uninteroperable. Should we just say so in the spec? Editorially that is not very hard to do...

[2017-12-17 14:28] chaals commented on #456
removed the incubation label - given how many browsers have done this, it seems that the basic functionality and how to express it is clear.

[2017-12-17 17:11] chaals commented on #456
A [simple manual testcase](https://chaals.github.io/testcases/vertical-range-manual.html) for the various approaches...

[2017-12-18 00:06] chaals commented on #974
The `map` element is phrasing content, and can be used more or less anywhere.

So although `area` elements require a `map` or `template` ancestor, they can have that within a paragraph or within various phrasing or block elements.

I think that means the validator is correct, and that the content models are OK as is...

I propose closing this issue as I think it is invalid.

Thank you for taking t

[2017-12-18 00:37] chaals commented on #995
Another possibility is to mark something up with schema.org as [a searchaction](https://schema.org/SearchAction), e.g.

[code]

(You would use a separate control here to select the search engine you want, or add keywords like the Github search does if that's a goal. We don't have a type that lets you **add** text to an option in the way you propose for the mockup.)

In any event, I am closing this

[2017-12-18 00:37] #995 closed, assigned to nobody

[2017-12-18 10:29] dchmelik opened #1115 "no tarball?"
When will there be a tarball of documentation files for off-line reading like the old html40.tgz?

[2017-12-18 12:16] chaals commented on #998
E.g. you can make a link to an element, but you can also refer to it in prose such as "in diagram 7, we see..."

This is basically authoring advice.

Linking has the benefit that the reference is unambiguous - so long as the link doesn't break because then it just becomes confusing.

"Plain language" references in prose can equally come unstuck - if you say "above" and then move something to "belo

[2017-12-18 13:48] chaals commented on #987
These are pretty straightforward.

`rel="prefetch"` is [covered by WIkipedia](https://en.wikipedia.org/wiki/Link_prefetching) probably reasonably reliably :)

`rel="external"` is [described in the microformats wiki](http://microformats.org/wiki/rel-external), and doesn't require browser behaviour - it is informational...

[2017-12-18 14:18] chaals commented on #937
I think this is covered in [Service Workers `cache` interface](https://w3c.github.io/ServiceWorker/#cache) so closing here. I suggest that is a more appropriate spec for filing an issue if there is something that isn't sufficient.

[2017-12-18 14:18] #937 closed, assigned to nobody

[2017-12-18 14:23] chaals commented on #975
@IanPouncey did your tests show that browsers other than chrome accept the 3.0e8 notation as valid for number?

[2017-12-18 14:29] chaals commented on #888
@r12a I marked this as a feature request for the attribute. Note that we already added [text that browsers should implement substring matching if they allow filtering](https://github.com/w3c/html/commit/e205f9d142ea0870ddf8bccc2d8a31f9b5abe3df).

I suggest that a `nofilter` attribute or equivalent is a candidate for incubation... what do you think?

[2017-12-18 14:36] chaals commented on #871
This proposes removing a somewhat vague statement in the Link Types section that isn't there.

[2017-12-18 14:36] #871 closed, assigned to nobody

[2017-12-18 14:43] tuespetre opened #1116 "The prose for the dl element is not very clear, and examples are lacking"
Since the `div` element is now allowed as a child element of the `dl` element, the prose was updated to account for this with the following commit:

https://github.com/w3c/html/commit/ec2e514d525e7a7191d0287bf5b48a02f4d28312

The prose is now a little too confusing (additionally, there is an asymmetric use of parentheses.)

I would like to propose rewriting it to something like this:

However, the

[2017-12-18 14:55] ylafon commented on #1115
It should be available from https://www.w3.org/TR/2017/REC-html52-20171214/html52.tar.gz
HTH

[2017-12-18 14:55] #1115 closed, assigned to ylafon

[2017-12-18 15:01] chaals commented on #748
[Simple test](http://chaals.github.io/testcases/xml-base-manual.html) suggests that `xml:base` is not supported in HTML by Blink/Edge/Firefox/W3C validator... **If** the test is sound, I think it would make sense to remove the section from the HTML spec. Alternatively, we should say it **must** not work in (non-xml) HTML.

What happens in real XML seems beyond the scope of this spec. @liamquin ?

[2017-12-18 15:28] scottaohara commented on #1116
Is your second example actually valid though?  Per:

I read that as an indicator that if `dt` or `dl` aren't the children of the `div`, then the content would be ignored (invalid)?

[2017-12-18 15:39] zcorpan commented on #748
@chaals your test is using an attribute with local name "xml:base" in no namespace, which is different from local name "base" in namespace "http://www.w3.org/XML/1998/namespace". You need `setAttributeNS` to get the xml:base that potentially has an effect on processing.

See https://html.spec.whatwg.org/multipage/dom.html#the-lang-and-xml:lang-attributes for analogous attempts at making this confu

[2017-12-18 15:43] tuespetre commented on #1116
@scottaohara that is how I understand it as well. I just wanted to point out that the 'content model' description for the `dl` element seems more permissive than the prose in that manner, and maybe it should be updated as well, in addition to offering both valid and invalid examples with explanations.

[2017-12-18 15:44] johnfoliot commented on #1116
Interesting...

Derek, failing to close the elements in your example leads to some
confusion (at least for me).  For example, do you mean this:

Example 1:

<body>
<dl>
    <dt>This is a term</dt>
    <dd>This is a description</dd>
    <div>
        <dt>This is another term</dt>
        <dd>This is another description except now we're in a div?</dd>
    </div>
</dl>
</body>

 (one error)

..or thi

[2017-12-18 15:56] tuespetre commented on #1116
@johnfoliot yes, your 'example 1' is what I intended. It seems that I got a little too end-tag-omission-happy 🐔

[2017-12-18 17:15] johnfoliot commented on #1116
Hi Derek,

What I find curious / interesting is that you can have either:

<dl>
    <div>
        <dt>This is term</dt>
        <dd>This is description</dd>
    </div>
</dl>

...or

<dl>
    <dt>This is term</dt>
    <dd>This is description</dd>
</dl>

​But "mixing and matching" isn't allowed​:

​
<dl>
    <dt>This is a term
    <dd>This is a description
    <div>
        <dt>This is another term

[2017-12-18 17:21] chaals commented on #748
@zcorpan:

Oh. Yes - thank you.

I will look at this again next week, if nobody beats me to it.

Thank you for the correction :)

[2017-12-18 19:11] LJWatson commented on #1116
The intent of the change was to support the pattern in the first example from @tuespetre. The second example is not valid.

I can take a run at updating the spec based on the proposed text and example, though @tuespetre if you have time to create the PR that'd be very welcome.

[2017-12-18 19:41] johnfoliot commented on #1116
Fair enough (and the w3c validator confirms that).

Perhaps the non-valid example of the <div> being concurrently nested at the
same level as the child <dt> or child <dd> should be called out more
clearly in the specification as a non-valid code pattern, and a HUGE +1 to
providing more illustrative code examples (which you can nick from this
thread ;) )

JF

On Mon, Dec 18, 2017 at 1:11 PM, Léonie

[2017-12-19 10:44] chaals commented on #977
See also #1116 - another editorial issue for the `dl` element

[2017-12-19 11:11] chaals commented on #940
"bitmap" here seems to refer to the (virtual) bitmap that defines the canvas' visible rendering.

"In user agents that support CSS, the color space used by a canvas element must match the color space used for processing any colors for that element in CSS." (in the [same "Color Spaces and Color Correction" section](https://w3c.github.io/html/semantics-scripting.html#color-spaces-and-color-correctio

[2017-12-19 11:12] chaals commented on #940
It seems like this would be a lot clearer if the paragraphs in this section were re-ordered.

[2017-12-19 11:15] chaals opened #1118 "Don't use a wiki to define canvas context types"
The spec currently [refers (non-normatively)](https://w3c.github.io/html/semantics-scripting.html#the-canvas-element) to [a WHATWG wiki page to define the context types for canvas](https://wiki.whatwg.org/wiki/CanvasContexts#content). These should just be defined in the spec, or written as HTML extensions.

(WHATWG themselevs don't rely on their wiki as a source).

[2017-12-19 14:12] siusin commented on #361
Updated --
/TR/html/ should point to HTML 5.2 (done)
/TR/html5/ points to HTML 5.2 (done)

We'll request to obsolete the previous versions in April.

[2017-12-19 14:42] liamquin commented on #748
On Mon, 2017-12-18 at 07:01 -0800, chaals wrote:

It's fair to define what happens in an HTML agent if xml:base is seen
in both the HTML and XML syntax, and what if base and xml:base are both
given. It'd be unhelpful to define anything that conflicts with the XML
Base specification itself of course.

--
Liam Quin, W3C, http://www.w3.org/People/Quin/
Staff contact for Verifiable Claims WG, SVG WG,

[2017-12-19 15:09] #890 closed, assigned to chaals

[2017-12-19 23:33] chaals commented on #361
@plehegar :

 suggest to add name in ack section when making a pull request.
rse
These aren't about this issue. We need to improve our documentation (so does the universe) but that should not keep this issue open.

@siusin, those pointers now update according to what is the latest version, right If so, I think we can close this issue - I'll let you confirm by closing it :)

[2017-12-20 01:35] Donnalynch commented on #1047
[rfc2026.txt.pdf](https://github.com/w3c/html/files/1573856/rfc2026.txt.pdf)

[2017-12-20 04:41] JohnLukeBentley opened #1119 "img longdesc attribute value should have hash '#' prefix where linking to description on page."
From https://www.w3.org/TR/html52/semantics-embedded-content.html#graphical-representations-charts-diagrams-graphs-maps-illustrations, example 28 we have ...

    <p id="graph7">According to a recent study Firefox has a 40% browser share,
      Internet Explorer has 25%, Chrome has 25%, Safari has 6% and Opera has 4%.</p>
    <p><img src="piechart.gif" alt="The browser shares as a pie chart."

[2017-12-20 07:44] chaals commented on #1119
@JohnLukeBentley well spotted - thank you.

(In general a hash is not necessary, but this exasmple clearly refers to the content on the same page and does need it).

[2017-12-20 07:49] #1119 closed, assigned to nobody

[2017-12-20 10:16] #361 closed, assigned to siusin

[2017-12-20 10:56] ffoodd commented on #1073
FWIW, if your input has a placeholder you might deal with the issue by using `:placeholder-shown`.

If placeholder is shown, then input hasn't been focused. However it require to use a placeholder (but as far as I tested this, it works even if placeholder is empty).

[CodePen it or it didn't happen](https://codepen.io/ffoodd/pen/PEzoYO)

[2017-12-20 11:13] SelenIT commented on #1112
Sorry, I forgot that there is already the "Tag omission in text/html" block in the element definition that effectively lists these elements. Given that, repeating this info in prose might probably be not necessary.

[2017-12-20 18:08] mikewest opened #1121 "Hide `nonce` content attribute."
It would be lovely if y'all would evaluate, and perhaps port, the patch which landed in WHATWG's HTML as https://github.com/whatwg/html/pull/2373. Copy/pasting a description from the commit message:

[code]

This is shipping in Chrome, has [tests in WPT](https://github.com/w3c/web-platform-tests/tree/master/content-security-policy/nonce-hiding), and has interest from Mozilla.

There's a bit of fol

[2017-12-20 23:56] chaals commented on #1121
Thank you for this - such issues are pretty important, and we appreciate getting them as soon as possible. Closing as a duplicate of #1109

[2017-12-20 23:56] #1121 closed, assigned to nobody

[2017-12-21 04:51] JohnLukeBentley commented on #1119
@chaals thanks for the feedback and fix. We'll want to fix this also for Example 30 too it would seem. https://www.w3.org/TR/html52/semantics-embedded-content.html#graphical-representations-charts-diagrams-graphs-maps-illustrations

[2017-12-21 07:57] dchmelik commented on #1115
Thanks.  The problem seemed to be the new documention doesn't mention the .tar.gz, like HTML4 did.  I had been searching such as for html5.tar.gz, etc., years, just thought you discontinued it.  So, I might have the same question for html53.tar.gz later.

[2017-12-21 10:54] chaals commented on #1115
To be honest, we had stopped doing it, which is why there wasn't a link. Given it is pretty easy, we will do it for 5.3 - but the link will get into HTML 5.2 sometime next year in an errata update I guess

[2017-12-21 14:26] chaals commented on #867
The requirement seems to be somewhat arbitrary, since ignoring it would have no measurable effect beyond failing validation, but for that reason it seems harmless too.

[2017-12-22 09:34] shwetank commented on #1108
Fixed (see above referred issue)

[2017-12-22 09:34] #1108 closed, assigned to shwetank

[2017-12-22 13:50] chaals commented on #1119
Done - thank you again

[2017-12-22 16:20] #974 closed, assigned to chaals

[2017-12-22 17:22] Anti-gravitry opened #1127 "html"

[2017-12-22 17:23] Anti-gravitry opened #1128 "html5"

[2017-12-22 17:23] #1128 closed, assigned to nobody

[2017-12-22 17:33] #1127 closed, assigned to nobody

[2017-12-22 18:45] gibson042 commented on #987
According to the [IANA Link Relation Types registry](https://www.iana.org/assignments/link-relations/link-relations.xhtml#link-relations-1), `prefetch` is defined by https://www.w3.org/TR/resource-hints/#prefetch . `external` is not registered.

[2017-12-23 01:16] JohnLukeBentley commented on #1119
Thanking you again! :)

[2017-12-25 15:55] mulder21c opened #1129 "I have a question about style in body in HTML 5.2"
Hi, I have a question about the style element, so I post this.

I saw the specification written "In the body, where flow content is expected.", but I do not know exactly what it means.

I want to know if "In the body" means "as children of body" or "wherever flow content is expected".

Until now, it seems that "wherever flow content is expected" is described as just "where flow content is expected

[2017-12-26 08:33] shwetank commented on #1106
Fun fact: It also was [implemented in Opera too](https://dev.opera.com/blog/custom-protocol-and-content-handlers/), back in the presto days.

Sent https://github.com/w3c/html/pull/1131 to mark it as 'at risk'.

[2017-12-28 17:52] prlbr commented on #1129
Yes, and while you can [raise an issue](https://github.com/validator/validator/issues) at the validator’s github page, it probably won’t be fixed until [WHATWG’s version of the HTML spec](https://html.spec.whatwg.org/multipage/semantics.html#the-style-element) allows `<style>` in body, too.

[2017-12-28 19:25] chaals commented on #1129
Ping @sideshowbarker

[2017-12-29 00:05] sideshowbarker commented on #1129
There’s already an open validator issue for this at https://github.com/validator/validator/issues/489 which @stevefaulkner raised. Implementing support for this in the validator involves adding a new conditional switch. Subscribe to that issue if you want to follow the status — and as far as the validator part of this issue here, please take any further discussion of it over to that validator issu

[2017-12-29 04:50] chaals commented on #1129
@sideshowbarker thanks. Closing the issue here.

[2017-12-29 04:50] #1129 closed, assigned to nobody

[2017-12-29 04:51] #1106 closed, assigned to shwetank

[2018-01-04 20:24] jbosse opened #1134 "4.10.5.1.16. Radio Button state (type=radio) Is flawed"
The specification *should either* require at least one radio element in a group be selected by default in order to be valid html *or* require browsers to allow a radio element to be deselected.

The notion that a *radio button is the only form element* that cannot be restored to its originally presented state is a significant flaw in the HTML specification that should not be allowed to continue.

[2018-01-04 23:48] chaals commented on #1134
I agree that this was a mistake made in the distant past that we should not repeat. The question now for radio buttons is whether changing their behaviour would match deployed reality better, or cause a lot of things to break...

[2018-01-05 02:10] jbosse commented on #1134
I think I agree that allowing deselection might not be feasible at this point, but the spec used to state that a browser should select the first by default if the markup did not select one. I think this requirement should be added back to the spec for browser implementation (I realize there is no guarantee any browser will implement) and any markup missing a default selection should be considered

[2018-01-07 12:52] annopnod opened #1135 "future:add scrollbar tag"
&lt;scrollbar value=&quot;0&quot; max=&quot;100&quot; min=&quot;0&quot; type=&quot;vertical&quot;&gt;&lt;/scrollbar&gt;
&lt;scrollbar value=&quot;0&quot; max=&quot;100&quot; min=&quot;0&quot; type=&quot;horizontal&quot;&gt;&lt;/scrollbar&gt;

[2018-01-07 13:19] annopnod commented on #1135
onscroll Event

[2018-01-07 13:49] rehierl commented on #1001
Due to "associate the node with the section" (when exiting) now being bold (EDIT - did that get changed recently?), I rechecked this report. I still don't see anything wrong with it. Please clarify in case this change is meant as an implicit response to the report itself.

[code]

Note that it won't help to execute step 5 while the tree is still being traversed. That is, because the parent element

[2018-01-07 14:39] sumitsg10 commented on #1135
<element onscroll="myScript">
Try this code

[2018-01-07 15:31] #1135 closed, assigned to nobody

[2018-01-07 22:55] chaals commented on #1134
See also issue #1073 (having an "indeterminate" state) - ping @notabene

There is not much point putting stuff in the spec if browsers are not going to implement - we have worked hard for some time to make the spec a better reflection of what actually works rather than what would be nice (or even just "more sensible than the current reality").

Changing the way HTML works is problematic because it

[2018-01-08 10:21] notabene commented on #1134
@chaals

Agreed, although from what I understand [when reported to Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1413193), we're in a chicken-and-egg situation for said issue #1073. Mozilla would wait for a change in the spec, and the spec would need to be able to point out to browsers who implement desired behaviour, if I understand correctly. Stalemate for this issue, I think.

[2018-01-08 14:44] escitalopram opened #1136 "Fix named character table output"
The table in "§8.5. Named character references" is broken, because of unescaped U+0060 GRAVE ACCENT characters in the include file.

[2018-01-08 17:59] scottaohara opened #1138 "Should option/optgroup be listed in disabled attribute desc?"
In reviewing the conditions for disabling a form control, I noticed that `option` and `optgroup` [were not listed as valid elements](https://www.w3.org/TR/html/sec-forms.html#enabling-and-disabling-form-controls-the-disabled-attribute) to receive the disabled attribute.

However, in the specific entries for [option](https://www.w3.org/TR/html/sec-forms.html#the-option-element) and [optgroup](https

[2018-01-08 23:29] #1136 closed, assigned to nobody

[2018-01-10 14:46] jbosse commented on #1134
I would hope that adding something to the spec would at least encourage browsers to consider implementation.

This sounds more like documentation than specification, which I understand as a reasonable goal. But then maybe change the name from "Specification" to "Major Browser Accord" 🙃

Feel free to close this issue. I just wanted people to realize that this item of the specification continues a b

[2018-01-13 04:26] rh-KIMATA opened #1141 "The range of years is incorrect in note of 2.4.5. Dates and times."
https://www.w3.org/TR/html53/infrastructure.html#dates-and-times

But, valid years string is "Four or more ASCII digits, representing year, where year > 0".

"0000-01" is inside the range in note of 2.4.5., but it is invalid.

And, "10000-01" is outside the range in note of 2.4.5., but it is valid.

**"between the proleptic year 0000, and the year 9999. Other years cannot be encoded" should be rem

[2018-01-14 16:21] #1000 closed, assigned to chaals

[2018-01-14 22:57] scottaohara commented on #894
Shall we close this issue, since [merging PR 1133](https://github.com/w3c/html/pull/1133) resolved this + more?

[2018-01-15 03:23] chaals commented on #894
@scottaohara

Yes. Thank you...

[2018-01-15 03:23] #894 closed, assigned to scottaohara

[2018-01-15 04:25] #867 closed, assigned to chaals

[2018-01-15 11:27] edent commented on #1141
I agree that this is confusing.

This is based on [ISO8601](http://dotat.at/tmp/ISO_8601-2004_E.pdf) - which says this about years greater than 9999:

HTML5 doesn't have a mutual agreement.

I think the word should be revised.  My suggestion is

[2018-01-15 11:28] #922 closed, assigned to LJWatson

[2018-01-16 09:27] cynthia commented on #1075
I took a first whack at this and was welcomed with a build error. Trying to figure out how to fix this.

[2018-01-16 09:30] patricia-gallardo commented on #278
My first draft for the above change is in https://github.com/w3c/html/pull/1142

[2018-01-16 09:31] #476 closed, assigned to edent

[2018-01-16 10:30] patricia-gallardo commented on #278
Relates to web-platform-test
http://w3c-test.org/uievents/order-of-events/focus-events/focus-manual.html

[2018-01-16 11:15] patricia-gallardo commented on #278
Made pull request in web-platform-tests: https://github.com/w3c/web-platform-tests/pull/9049

[2018-01-16 11:18] patricia-gallardo commented on #278
@siusin can you take a look? (to make sure I haven't totally broken protocol :D)

[2018-01-17 07:49] chaals commented on #278
@travisleithead / @garykac  can you take a look at @patricia-gallardo 's comments? Is there any apparent resolution to https://github.com/w3c/uievents/issues/88 which seems to be the same problem?

[2018-01-17 16:06] jkshapiro opened #1143 "Include suggestions for auditory user agents in examples, not just visual"
The examples in the spec occasionally make reference to how elements might be represented by visual user agents. For instance, at https://w3c.github.io/html/dom.html#elements we find

It would be nice to have some guidance on how they might be represented by TTS / screenreaders as well.

One particular example for which it would be nice to have guidance is [the &lt;br&gt; element](https://w3c.gith

[2018-01-17 16:07] jkshapiro commented on #1143
There are some places, e.g. [the &lt;pre&gt; element](https://w3c.github.io/html/grouping-content.html#the-pre-element), where this is already being done. I'd just like to see more of it please.

[2018-01-17 16:10] edent commented on #1143
That's an interesting idea. Please can you give some examples of how current text-to-speech systems deal with this now?

For example, does an `<em>` get read out with a different intonation, or is it announced another way?

I know that `<h1>` is often announced ("Top Level Heading") - but are there other ways it is read out?

[2018-01-17 16:43] edent commented on #1141
This has raised an interesting bug in the HTML validator!

Consider the 1st of January in the year 1.
`<time>0001-01-01</time>`
Gives the error

The validator *only* accepts years >= 1000.

The spec says

The spec later goes on to say:

I propose two things.

1. I'll revise the wording to make clear that the year `0000` is valid.
2. Someone else can fix the validator :-)

[2018-01-18 01:55] rh-KIMATA commented on #1141
Thanks for your comment.

But, I still think as follows:

**"between the proleptic year 0000, and the year 9999. Other years cannot be encoded" should be removed from note of "2.4.5. Dates and times".**

Because...

1. Year [0000] is BC 1 year (AD 0 year is not exist).

1. Compatibility with HTML Living Standard will be break.

<table>
    <thead>
        <tr>
            <th>Spec</th>

[2018-01-18 03:36] chaals commented on #553
It seems there is nothing in browsers that cares one way or another. The key question is probably who consumes this and whether allowing a second description would break anything - and the one cogent response I got from a small unscientific survey was that it would be helpful to allow it.

I will make a PR, marking the feature "at-risk" and suggest we actively look for people who are consuming the

[2018-01-18 04:02] chaals commented on #553
Notes: It seems some big-size consumers include Bing and Naver for search results, and Firefox for bookmarks. Opera used to do so, but no longer.

[2018-01-18 04:04] chaals commented on #553
It [also appears](http://yandex.com/clck/jsredir?bu=uniq15162380055661016763&from=yandex.com%3Bsearch%2F%3Bweb%3B%3B&text=&etext=1669.7NB_gZaMTZ_ILbhYeU_P3cIY_QvHLyFC29pobSIAesiT8dbudXgLm73UZvCX0xI8G_6IRY40gpCHr5A4cZi1dg.af20bccaf25dacbd604639f19d49b96ec6e74d84&uuid=&state=PEtFfuTeVD5kpHnK9lio9bb4iM1VPfe4W5x0C0-qwflIRTTifi6VAA,,&&cst=AiuY0DBWFJ5Hyx_fyvalFBp1euPNyrdPMHYiM8nzmfPNbOSEJnQVWkp7mn1elaJ-

[2018-01-18 05:11] chaals commented on #1141
I am happy to leave out the proleptic year 0000 - it isn't that useful, for reasons I outlined in a comment on the commit.

I think the question in adding years after 9999 is whether it breaks anything important. I suspect not - the date system in HTML is pretty primitive, whereas people who have a use case for talking about 8 millennia hence are probably not.

Is any evidence around that would he

[2018-01-18 10:28] edent commented on #1141
OK! Thanks for the info. I'll update it to make Year `0001` the first. This diverges slightly from ISO8601.

[2018-01-18 10:39] edent commented on #1141
Updated at https://github.com/w3c/html/commit/4aafc74f7ad2bc0e98a849e7c4f11a86ff2f16e6

[2018-01-18 12:48] rh-KIMATA commented on #1141
Thank you all comments and Update.

I am only anxious about losing compatibility with HTML Living Standard. I don't have any other problems.

And ...

I think so, too.

[2018-01-18 20:20] travisleithead commented on #278
So, Edge just changed to more closely match Chrome (even if it's not the right theoretical ordering). In our daily builds, we're now passing: https://github.com/w3c/web-platform-tests/blob/master/uievents/order-of-events/focus-events/focus-automated-blink-webkit.html

However, we (and Chrome) are failing: http://w3c-test.org/uievents/order-of-events/focus-events/focus-manual.html

It's still uncle

[2018-01-19 16:43] jkshapiro commented on #1143
It seems like the usual thing is to make a text string including...

- Announcements of headings, lists, current row and column when you're in a table, form fields, etc.
- Text on the page, however marked up
- Certain glyphs, e.g. bullets

...and then read it all out together.

I'm told there have been some attempts in the past to use intonation more naturally, but none have caught on, owing to th

[2018-01-19 17:04] jkshapiro commented on #1143
Also relevant: https://www.w3.org/TR/CSS22/aural.html

[2018-01-19 17:59] LJWatson commented on #981
Changing the first paragraph as @prlbr suggests, seems like a good idea to me.

<When a header element’s nearest ancestor sectioning root element is the body element, and it is not a descendant of the main element or a sectioning content element, then that header is scoped to the body element and represents mostly site-oriented content, rather than page-specific content.<

Noting @unor's concern,

[2018-01-19 18:06] LJWatson commented on #981
Thinking further, I think we can address @unor's concern more easily than I thought:
<When a header element’s nearest ancestor sectioning root element is the body element, and it is not a descendant of the main element or a sectioning content
element, then that header is scoped to the body element and represents mostly site-oriented content, or introductory content for the page as a whole.<

[2018-01-19 19:07] #1141 closed, assigned to nobody

[2018-01-19 19:44] LJWatson commented on #1143
We do include some informative content about the way ATs behave. For example the definition of the [```<header>``` element](http://w3c.github.io/html/sections.html#the-header-element) has this:

<Assistive Technology may convey to users the semantics of the ```<header>``` element when it applies to the whole page. This information can provide a hint as to the type of content. For example, the role

[2018-01-20 12:02] SelenIT commented on #1138
The same inconsistency is there in the WHATWG spec. Probably it should be fixed in both places?

[2018-01-20 15:53] #558 closed, assigned to LJWatson

[2018-01-20 18:21] scottaohara opened #1148 "HR missing allowed ARIA role=none"
I missed adding the allowed `role="none"` to the `hr` element when working through [issue 894](https://github.com/w3c/html/issues/894).

Will submit a fix to this momentarily.

[2018-01-21 01:37] #981 closed, assigned to LJWatson

[2018-01-21 22:33] ryanve opened #1150 "Support CSS supports as <link> attribute"
Is this the best place to suggest an HTML feature? I think it'd be useful if `<link>` supported a `supports` attribute similar to how it supports `media` as an attribute for media queries. Like so you could conditionally load stylesheets based on CSS supports

[code]

Has anything like this been considered? I'm not sure how it could be made backward compatible. Like is there a way to create someth

[2018-01-22 02:23] chharvey opened #1151 "Update docs on `rev` attribute"
I noticed a couple of bugs with the [now-reintroduced](https://github.com/w3c/html/issues/256) `rev` attribute, and wanted to document them here.

1. The [`.rev` IDL attribute for `HTMLAnchorElement`](https://w3c.github.io/html/textlevel-semantics.html#dom-htmlanchorelement-rev) has a broken documentation link. I think the solution would be to add it into this paragraph, and fix the link to point

[2018-01-22 14:21] edent commented on #1118
[According to MDN](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/getContext), the valid contexts are:

* `2d`
* `webgl`
* `webgl2`
* `bitmaprenderer`

The [WHATWG spec](https://html.spec.whatwg.org/multipage/canvas.html#dom-canvas-getcontext) doesn't mention `webgl2`.

I can't find any mention of `webgl2` or `bitmaprenderer`  on the W3 site.

[2018-01-22 16:08] LJWatson commented on #1150
Thanks for this suggestion. New ideas are proposed and discussed in the [Web Platform Incubator Community Group](https://discourse.wicg.io/).

If you post your idea there for discussion, you'll get a sense from authors and implementors as to whether there is interest and whether it might work or not.

[2018-01-22 16:08] #1150 closed, assigned to nobody

[2018-01-23 09:19] stevefaulkner opened #1153 "Align main definition with WHATWG definition"
As The WHATWG definition of main https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element and the W3C definition http://w3c.github.io/html/grouping-content.html#the-main-element are now in in alignment (refer to fixed issue https://github.com/whatwg/html/issues/100), but there are some differences in how the definition is expressed, I suggest the W3C be modified to reflect the

[2018-01-23 13:38] edent commented on #1118
`bitmaprender` appears to have become [OffscreenCanvas](https://wiki.whatwg.org/wiki/OffscreenCanvas), so I think it can be excluded.

I'll update the current pages to include WebGL2.

[2018-01-23 14:01] LJWatson commented on #1047
What is the interop story for [Remote Playback API](https://www.w3.org/TR/remote-playback/)? Will it exit CR anytime soon?

[2018-01-23 14:15] #1153 closed, assigned to LJWatson

[2018-01-24 19:30] #1118 closed, assigned to edent

[2018-01-24 19:33] chaals commented on #1134
Closing this issue - #1073 (which is still open) would resolve it for this case, and the design pattern was a bad move. Hopefully we will remember and not make the mistake again...

[2018-01-24 19:33] #1134 closed, assigned to nobody

[2018-01-24 20:11] #1104 closed, assigned to shwetank

[2018-01-24 20:18] chaals commented on #1151
Thank you for picking these up.

I have assigned myself to them, somewhat hopefully, but if you have time to make a Pull Request you are very welcome to do so. (I am happy to help with that...)

Comments on your detailed observations:

1. `rev` should be in that list I think, subject to testing whether that happens.
2. and 3. Yes, we should clean that up one way or another.
4. Yes, it should, IMHO

[2018-01-26 18:42] a2sheppy opened #1156 "Proposal: Allow adding separator rows to <select> boxes using <hr>"
There is no standard way to create a proper separator or dividing line within the box created using `<select>`. Currently, the most common solution is to just put some hyphens or emdashes in an `<option>` with the `disabled` attribute set. This doesn't actually look very good at all, and is not semantically accurate.

There's already a perfectly good element for creating horizontal dividing lines

[2018-01-26 21:25] scottaohara commented on #1156
What would the purpose of the `hr` be outside of a visual separator?  Is it to group options into different sections?  Would using `optgroup` and conveying the purpose of the separation be more appropriate?

[2018-01-26 22:15] Nadya678 commented on #1156
I think there should be possible to fully style the `<select/>` field including options and listbox. Here is my proposition for it https://github.com/w3c/csswg-drafts/issues/2013.

[2018-01-26 22:41] a2sheppy commented on #1156
@scottaohara - The primary purpose would indeed be as a visual separator. Just to break up the "big blob of items" you get without some form of separation periodically. Additionally, there are platforms where titled groups are not a standard interface feature in a selection box or popup (or even a non-standard one; they're just not done, outside the context of a web browser). Allowing simple separ

[2018-01-26 23:45] devarshipant commented on #342
@johnfoliot makes an interesting point regarding the overlaid control.

In addition, consider:

1. On an image with Alt + longdesc (static): Here browsers (?) would determine the static image and subsequently apply a tabindex = 0 attribute. Then comes the calculation, which could be stringing alt value followed by a hint to consume the longdesc. For example, JAWS prompts users with something like,