[2017-02-09 11:44] Nettsentrisk commented on #774
@jakearchibald

By deprecating (but not removing) `<h1-h6>` and implementing `<h>` you would allow previously written documents to work fine, but progressively move on to the new paradigm.

`<h1-h6>` could be interpreted by browsers as `<h level="1">` etc. (depending on context) for backwards compatibility.

[2017-02-09 11:59] chaals commented on #355
See also https://discourse.wicg.io/t/relaxing-author-requirements-to-allow-arbitrary-content-in-span/1765 which I think addresses the same issue - except proposes using `span` instead of `div`.

[2017-02-09 11:59] jakearchibald commented on #774
@Nettsentrisk see https://github.com/w3c/html/issues/774#issuecomment-278411670

@chaals if you agree with https://github.com/w3c/html/issues/774#issuecomment-278411670, evidence gathering could be split off into a new focused thread.

[2017-02-09 13:52] Alohci commented on #774
Question: If the markup is this:
[code]
What would the computed level of the h element be?

[2017-02-09 14:00] jonathantneal commented on #774
@jakearchibald, thanks a ton for all of your questions. I’ve created a repository to host tests and help us gather evidence. It may be far from perfect. I’ve invited yourself and @LJWatson as collaborators, but PRs are welcome from anyone.

https://github.com/jonathantneal/outline-tests

And here’s an example of a `<h>` heading test running on GitHub pages.

https://jonathantneal.github.io/outline

[2017-02-09 14:05] jakearchibald commented on #774
@Alohci you can use https://gsnedders.html5.org/outliner/ to figure this out, assuming `<h>` will have identical behaviour to `<h1>` in terms of outlining.

With your example, the outline would be

* *missing heading*
  * Cats
    * Kittens

[2017-02-09 14:11] therealglazou commented on #774
Back in april 2003 (yes 2003), I did comment on xhtml2's h being bad CSS-wise. My comment still stands for the current proposal. The number and complexity of rules targetting h elements in the UA stylesheet will be a bit of something...

[2017-02-09 14:12] Alohci commented on #774
@jakearchibald - But that would mean integrating the h element into the existing outline algorithm. If the browsers won't implement the existing algorithm, how is making it more complicated going to help?

[2017-02-09 14:24] jakearchibald commented on #774
@Alohci indeed. See https://github.com/w3c/html/issues/774#issuecomment-278307177 and https://github.com/w3c/html/issues/774#issuecomment-278411670

[2017-02-09 14:53] danieldafoe commented on #774
First off, great discussion.

From my perspective, it seems to me that we would be back-tracking. The `<h1>` through `<h6>` give us those implied semantics we need. Based on the example I saw at https://jonathantneal.github.io/outline-tests/tests/headings/h.html , using an `<h>` element would require developers to add their own attributes to tip-off assistive technology. Why forego the ease and ef

[2017-02-09 16:12] DiegoLopesLima commented on #774
@Nettsentrisk Deprecating `<h1-n>` and implement `<h>` using optionally `aria-level` (as @nico3333fr suggested) to replace `<h1-n>` and provide more levels or level change (for example), seems to be a better idea than specify level on tag name...

[2017-02-09 16:59] chaals commented on #166
how about changing "towards the end of the writing direction" to "after the final character, according to the writing direction of that character"?

Otherwise, LGTM. Want to make a Pull Request?

[2017-02-09 17:02] ghost opened #792 "q"
q

[2017-02-09 17:03] chaals commented on #788
It isn't normative - although I guess that should be clarified with "may" instead of "might". But yes, I frequently use applications where the forms accept input in local format, and process it themselves to produce the right wire format.

I haven't run across it in a user agent, but it is reasonable behaviour and seems reasonable to note that it may occur.

[2017-02-09 17:03] #792 closed, assigned to nobody

[2017-02-09 17:09] ghost commented on #774
In my opinion, it definitely not a good idea to deprecate <h1-n> and simply use levels. This would cause confusion as in which level should be assigned which CSS class. Moreover, there are could be more than 7 levels and managing it would definitely be a pain. Present designing trends are far away from this approach and the development needs a toolkit of the custom styled heading which could be us

[2017-02-09 17:16] Marat-Tanalin commented on #774
@stevefaulkner

Forget about outline, it’s fictious and unneeded (and probably even harmful by preventing us from thinking open-mindedly). A sectioning element and its levelless heading are unambiguously interconnected and this interconnection has clear semantic meaning (and may be useful for AT in particular) **regardless** of where the sectioning element is placed and whether other (be it parent

[2017-02-09 17:16] #539 closed, assigned to stevefaulkner

[2017-02-09 17:16] #791 closed, assigned to stevefaulkner

[2017-02-09 17:18] Marat-Tanalin commented on #774
@therealglazou

That’s either not a real issue or an issue of CSS and not of HTML.

[2017-02-09 17:27] stevefaulkner commented on #774
@Marat-Tanalin

Currently using `h1-h6` a screen reader user gets information about the role (heading) and the level (number).

A JAWS user, for example can use this information and navigate via the following:

- List Headings INSERT+F6
- Next Heading H
- Prior Heading SHIFT+H
- First Heading ALT+INSERT+HOME
- Last Heading ALT+INSERT+END
- Next Heading at Level - number keys 1 through 6
- Prior He

[2017-02-09 17:29] clapierre commented on #774
This has some serious consequences in digital publishing as a single publication can be split across multiple html pages and viewing any single page alone will not be able to figure out the heading level without first processing all pages before it.  If it requires an aria-level to always be associated with this, then this could solve this issue but wanted to bring up this potential issue as the D

[2017-02-09 17:37] chaals commented on #266
One test in Yandex, Safari and Firefox browsers of [two paragraphs in a label](http://chaals.github.io/testcases/label-block-content-manual.html) shows that clicking on the works fine, but navigating to bits of the label and clicking on them with VoiceOver active fails in Safari. There is also a [test with a paragraph including a link in the label](http://chaals.github.io/testcases/label-link-cont

[2017-02-09 17:47] jonathantneal commented on #774
@Marat-Tanalin, @stevefaulkner, this proposal and hfill are intended to expose information to a11y tools. I would really like to see the test results of `<h>` (with hfill active). Time permitting, I will test your navigation example today/tonight. Have a screen recorder recommendation so I may share the raw results with everyone?

[2017-02-09 18:43] therealglazou commented on #774
@Marat-Tanalin this is exactly the argument the XHTML2 WG used. But if the markup cannot be easily rendered or raises issues for copy/paste, pagination or more, then the proposed solution is just not practical as an element of the Web platform. Html does not live isolated.

[2017-02-09 18:57] jakearchibald commented on #774
@clapierre this depends how publications are split. If they're split by "page" it's a problem. But that's a weird split as the concept of a page differs from device to device.

If they're split logically, like by chapter, it isn't a problem. The outline knows the headings are scoped to their body.

[2017-02-09 19:00] Marat-Tanalin commented on #774
@therealglazou We should probably just separate default browser styles from (unfortunately nonexistent) semantic view. Default user styles are rarely used as is, they are almost always reset and overridden according to a custom design. In terms of default browser styles, `display: block; font-weight: bold` (and optionally some vertical margins) for levelless heading would be enough. With a potenti

[2017-02-09 19:15] Marat-Tanalin commented on #774
@stevefaulkner Thanks for your useful thorough competent information.

I see what you mean. Maybe a smart algorithm that exposes just sections that have headings and skips sections that don’t would make sense. I’m not sure why a levelless heading could be different from `H1` in this regard though, given that `H` is basically just an equivalent for `H1` (just with no undesired legacy meaning). Btw,

[2017-02-10 10:51] viT-1 commented on #774
Nowadeays we can use label instead of nesting H1
`<label role="heading">Some heading</label>`

[2017-02-10 10:57] stevefaulkner commented on #774
@viT-1
note: use of role on the `label` element is non-conforming: http://w3c.github.io/html-aria/#label

[2017-02-10 10:59] viT-1 commented on #774
@stevefaulkner It is a reason to think about fixing documentation for label ;)

[2017-02-10 11:04] stevefaulkner commented on #774
@viT-1

It's stated in the HTML spec as well https://www.w3.org/TR/html/sec-forms.html#the-label-element

[2017-02-10 16:57] viT-1 commented on #774
@stevefaulkner

[code]

[2017-02-10 19:20] dskoziol commented on #774
I don't quite understand how the W3C spec is to be used as a document, so forgive my ignorance, but isn't it [no longer in the spec](https://w3c.github.io/html/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements) to use nested `<h1>`s and rely on the document outline algorithm? I get that an important step towards either nested `<h1>` or `<h>` tags is to get browsers and screen readers to implement t

[2017-02-10 19:45] dskoziol commented on #774
For anyone concerned about how `<h#>` tags currently affect (and how incorrectly implemented ones would negatively affect) SEO, I tried doing some research a few months ago, and I feel like the answer is: not much.

Story: one of the guys at my work suggested we use only one `<h1>` per page for SEO purposes, and I thought "hey, the spec recommends infinitely many if you nest sections correctly!" (

[2017-02-10 19:57] stevefaulkner commented on #774
@dskoziol
The outline algorithm is [still in the spec](https://w3c.github.io/html/sections.html#creating-an-outline) in the same place it always has been. There has never been any requirement on browsers to implement the outline algorithm. What has changed in the spec is authoring advice to discourage developers from using `<h1>` everywhere as this has a negative impact on users who actually get t

[2017-02-10 20:09] dskoziol commented on #774
@stevefaulkner : Thank you for the clarification.

Is there eventually going to be a push to get browsers and assistive technology user agents to implement the outline algorithm? How does this adoption typically work? What "made" them implement `<header>`s, `<section>`s, or other newer HTML elements in the first place?

[2017-02-10 20:53] jyasskin opened #793 "Typo in document.domain"
https://w3c.github.io/html/browsers.html#relaxing-the-same-origin-restriction has "If host or effectiveDomain is not domain,", while https://html.spec.whatwg.org/multipage/browsers.html#relaxing-the-same-origin-restriction has the more correct "If host or effectiveDomain is not ***a*** domain,"

The W3C version also has "Set *origin*’s domain to host.", which uses the uninitialized variable *origi

[2017-02-10 20:53] Marat-Tanalin commented on #774
@dskoziol

I wouldn’t rule out a possibility of that major search engines have some special _manually added_ tweaks for _popular_ sites (thus making indexing less sensitive to wrong semantics _specifically on those sites_), while such tweaks may not be applied to much less popular sites with their own (unknown in advance) semantics-related errors. So it’s probably not quite correct to draw conclus

[2017-02-10 20:57] jyasskin commented on #769
I suspect it'll work to start the extracted algorithm at approximately step 4, and pass the `Document`'s origin as an argument instead of the `Document` itself.

Beyond that, I'd suggest you write the patch against https://github.com/whatwg/html instead of this repository, so that you're starting from a correct version of the algorithm (see #793).

[2017-02-10 23:17] jcjones commented on #769
Okay, will do @jyasskin - thanks. Should I re-open a similar (and linking) issue over at whatwg?

[2017-02-10 23:34] jyasskin commented on #769
It wouldn't hurt to have a separate issue in whatwg's repo, but I think you can get away with a raw PR that refers to this issue.

[2017-02-11 10:00] chaals commented on #774
Like @jakearchibald I work for a search engine. I would rule out efforts to reverse-engineer ranking algorithms as a useful way to determine what markup should work. Those algorithms are secret, and change unpredictably, so guesses about them are a very poor basis for sound decision-making.

Focusing on the problems we can clearly describe, and the clearly discernible merits of solutions, is likel

[2017-02-11 10:25] stevefaulkner commented on #774
@dskoziol wrote:

There has been pushes to get browsers to implement the outline algorithm for years (see links in https://github.com/w3c/html/issues/774#issuecomment-278305120) this has been unsuccessful so far. 'assistive technology' don't need to implement the outline algorithm, it the browsers that need to and expose the resulting semantics in the browser [accessibility tree](https://www.pacie

[2017-02-11 10:41] chaals commented on #774
Problem: The outline mechanism as currently written makes mixing messy, so inserting content that uses the *`h1`-everywhere* model doesn't work anywhere there is an `h[2-6]`. This makes transition complicated.

Markup like `<h1>one</h1><h2>two</h2><section><h1>what level?</h1></section>`

I *believe* gives an outline of:

[code]

It also *looks* like that with the CSS-based presentation browsers h

[2017-02-11 10:56] chaals commented on #774
@stevefaulkner wrote:

Browsers **do** implement an outline algorithm, but unfortunately **very** badly: They have a stylesheet-like mechanism that makes nested `h1` elements successively take on the styles of lower ranked headings according to the nesting level.

The result **looks** right, but it doesn't match the algorithm specified as I understand it, and in any event the semantics don't match

[2017-02-11 11:14] stevefaulkner commented on #774
I meant one that exposes useful, meaningful semantics, or rather the one [described in the spec](https://w3c.github.io/html/sections.html#creating-an-outline)

[2017-02-12 01:30] axelboc commented on #774
Hi there, I'm just a random developer, so my opinion has little relevance to this whole conversation, but I thought I'd share it nonetheless. To me the ideal `h` element would simply be a **minor heading**.

The great thing about HTML is that it's simple (or at least it used to be), but many of the comments in this thread, especially those relating to the outline algorithm, seem to want to make it

[2017-02-12 08:40] viT-1 commented on #774
@axelboc I think that the tag "label" less likely to use, and therefore many web-developers had forgotten about it. Tag "label" has [more semantic](https://github.com/w3c/html/issues/774#issuecomment-278999100) meaning than tag "strong" or "b". Tag "header" in html5 is used as heading container like "div class='header'", therefore not suitable for solving the problem.

I suggest to give more promo

[2017-02-12 14:39] stevefaulkner commented on #774
I understand that people think there is a need for a better method of representing headings than is currently provided. Adding a new element will not change the underlying issue i.e. the [outline algorithm](http://w3c.github.io/html/sections.html#creating-an-outline) is not implemented. I strongly suggest that getting implementations of the algorithm in browsers will resolve the current issues, wi

[2017-02-12 15:33] jonathantneal opened #794 "Update outline algorithm"
Based upon @stevefaulkner in #774:

As written, the outline algorithm may incorrectly take into account sectioning elements without headings as effecting the outline depth of headings nested more deeply.

How should this operate, and (how) should the specification be updated?

I'm also willing to create a ponyfill for this if Steve would provide an explicit expectation.

[2017-02-12 16:55] stevefaulkner commented on #299
fixed: https://github.com/w3c/html/commit/8431ccf458769958f9d592ed3d584c69380de2af

[2017-02-12 16:55] #299 closed, assigned to stevefaulkner

[2017-02-12 17:14] #380 closed, assigned to stevefaulkner

[2017-02-12 17:20] stevefaulkner commented on #561
dropping from 5.2 WD 5 milestone, but keeping open

[2017-02-13 12:28] SelenIT commented on #774
What about reviving the `hgroup` element (still existing in WHATWG version of the spec and many old books/articles), with the following additions?
- allow it to contain just phrasing contents (e.g. `<hgroup>This is <em>just</em> a heading</hgroup>`);
- broaden the definition to 'The hgroup element represents the heading of a section, which consists _of the content_ of the `hgroup` element';
- make

[2017-02-13 12:36] ZoeBijl commented on #166
@chaals how about “after the final character in the writing direction”?

If you can tell where you want this in the section then I can create a PR.

[2017-02-13 13:03] jakearchibald commented on #774
@SelenIT

We don't know if that's an actual dilemma. We should take the steps that potentially improve the existing web https://github.com/w3c/html/issues/774#issuecomment-278411670.

@stevefaulkner I guess we have the opportunity to tweak the outline algorithm now.

[2017-02-13 13:10] jonathantneal commented on #774
@stevefaulkner, @jakearchibald, for tweaking the spec’s outline algorithm, I’ve started #794.

[2017-02-13 13:50] AndySky21 commented on #774
@SelenIT, IMHO apart from the fact that it would imply a new use for an element which could break the (incorrect and probably hasty) use of `hgroup` as originally specced by WHATWG, the name itself of `hgroup` would result in confusion, as it would no longer group anything.

[2017-02-13 14:04] chaals commented on #778
@dontcallmedom what's the implementation status? Following the tealeaves there are hints that this works, but I didn't run across e.g. a test that was clearly relevant, nor an implementation report. Can you give a pointer please?

[2017-02-13 14:06] SelenIT commented on #774
@AndySky21, it would still group a run of phrasing content together as a single heading — the same way as it groups several elements as a single heading per WHATWG spec. But it also could be reinterpreted as something like "heading _of a group_ of semantically related content within a document tree". I agree that it might be not the best idea for the ideal world, but it looked acceptable compromis

[2017-02-13 14:33] jakearchibald commented on #794
The example given is:

[code]

Which produces:

1. Untitled Section
    1. Untitled Section
        1. Untitled Section
            1. Heading

I'm not sure what to do about this, if anything. Flattening could be bad. Another case where we need some decent evidence.

[2017-02-13 14:37] AndySky21 commented on #774
@SelenIT what if it contains nothing but text?
However the major issue is that, if I recall correctly, hgroup was not meant to have the semantic meaning of a "heading", nor to take the place of an implied heading. Quite the opposite, it was just a poorly devised way to group h# elements so that their native ranking became irrelevant (apart from the highest one, which determined the correct heading

[2017-02-13 14:45] stevefaulkner commented on #794
am unclear why flattening would be bad? In this case I would suggest ignore untitled sections in calculating the level of the heading.

[2017-02-13 14:51] stevefaulkner commented on #794
Also in the case where there is no heading scoped to body I suggest that a heading like this should actually be a level 1 heading (rather than level 2) if empty sections are ignored.

[code]

[2017-02-13 15:03] Marat-Tanalin commented on #774
@SelenIT

I don’t see how this would be better than the `H` element which could be used as a switch (aside from whether the idea of a switch itself is good or bad) to the same extent as `HGROUP`. Just synchronizing two versions of HTML spec is probably a very minor argument.

In general, I’m strongly opposed to using an element with a confusing 6-characters-long name instead of an element with a c

[2017-02-13 15:03] chaals commented on #166
Sounds good. I figure you should put it where it makes most sense to you, and the editors can shift it if they really want it elsewhere. I find that entire section lacking in organisation.

If it were me I would make a 5.4.7 for it. And then try to find some order in the chaos…

[2017-02-13 15:06] stevefaulkner commented on #794
@jakearchibald

I think its a heading a level of 4

[code]

[2017-02-13 15:08] SelenIT commented on #774
@AndySky21, making the native ranking of heading elements irrelevant and mapping their ranking to the nesting of sections was the idea of HTML5 outline algoritm and the whole "sectioning content" concept. `hgroup` just allowed to treat several groupped headings as a single heading (yes, it was a poorly designed way to mark up subheadings and taglines).

@Marat-Tanalin, I agree that short name is a

[2017-02-13 15:10] Marat-Tanalin commented on #794
It probably makes sense to clarify here that flattening (effectively removing a redundant sectioning wrapper) should only take place if the wrapper does not contain _anything_ except another sectioning element. So this:

[code]

would be treated as:

[code]

While this:

[code]

would not be flattened in any way.

[2017-02-13 15:14] Marat-Tanalin commented on #794
Btw, AT (or an outline algorithm that AT rely on) could probably be smart enough to be able to expose headingless sections by using a starting part of its _text content_ instead of a heading.

[2017-02-13 16:16] chaals commented on #781
Hi,

this feature should be incubated better. It is missing an explanation of what problem needs to be solved, what approaches might be most effective, and some indication that this will be implemented.

If you don't have a space of your own to develop that material, http://discourse.wicg.io is an incubation space for ideas that may become part of HTML.

[2017-02-13 16:16] #781 closed, assigned to nobody

[2017-02-13 16:23] jakearchibald commented on #794
@stevefaulkner

Ah, copy+paste error, sorry.

[code]

In this case, would flattening break the aggregation of the comments? Specifically, is `<p>I agree, but there's one thing I don't like…</p>` no longer part of a comment?

If so, I'm not sure if that's worse than presenting it as a section without a heading.

[2017-02-13 16:37] chaals commented on #794
As noted, I think we need evidence from reality, but in principle `section` has always been a sectioning element, whereas if you wanted to group stuff you could pile on `div`s to your heart's content. So according to historical specs, we probably should not flatten `section` even if it is empty - but reality trumps fine ideas here.

I'd like to discover that people actually get this right an overw

[2017-02-13 19:53] rniwa commented on #166
"after the pasted object and towards the end of the writing direction" is a bit ambiguous here. You should probably mention that "the collapsed selection should be placed at the *end* of the pasted contents." The [CSS Writing Modes Level 3](https://drafts.csswg.org/css-writing-modes-3/#start) clearly defines the meaning of *end* even in vertical writing mode whereas the notion of *after* isn't wel

[2017-02-13 23:37] travisleithead commented on #780
I'll see about generating these test cases.

Note: Edge 15 will be different from Edge 14, as we've already implemented some of these restrictions over our prior permissive behavior.

[2017-02-14 01:23] chaals commented on #766
This feels like it might belong in the custom elements work. In any event, I think it needs more incubation before it's ready to be part of HTML...

[2017-02-14 01:33] chaals commented on #753
Yeah, it says that in the informative bit. In the "normative" bit it says taintEnabled() must return false, which it does in Firefox (undefined in my browser - what's the interop here?)

[2017-02-14 01:40] chaals commented on #763
I think the legacy around `p` means we would be unable to change this if we wanted to. And I don't actually see much reason to make the change.

[2017-02-14 01:42] chaals commented on #748
So we should probably look at what people do in XML land… @liamquin do you happen to have an idea about where we should look?

[2017-02-14 01:46] rniwa commented on #766
See https://github.com/whatwg/html/issues/2254

[2017-02-14 01:47] chaals commented on #731
I don't have enough magic to fix a link in the Rec document, but @siusin probably does.

[2017-02-14 02:24] publicocean0 commented on #781
ok thanks for suggestion. It was just a idea when you have different indipendent and decoupled modules using same events but you need to execute one before to another for the correct visualization. Surely they are rare case... but it can happen.
Anyway  i wrote it also in that site  http://discourse.wicg.io   with other requests more important about service worker.  Anyway discussing with a member

[2017-02-14 02:25] publicocean0 commented on #781
thanks for support . ciao

[2017-02-14 08:19] liamquin commented on #748
On Mon, 2017-02-13 at 17:42 -0800, chaals wrote:

xml:base is supported in XML (outside of XHTML), and the base-uri
property is supported e.g. in (at least modern versions of) XPath to
access the base URI of any node, whether set normally or overridden
with xml:base.

I suspect most people using XML in an HTML environment think of HTML as
a rendering technology and won't care what a Web browser do

[2017-02-14 21:09] cynthia commented on #702
Closing due to change in work mode.

[2017-02-14 21:09] #702 closed, assigned to nobody

[2017-02-14 21:09] cynthia commented on #701
Closing due to change in work mode.

[2017-02-14 21:09] #701 closed, assigned to nobody

[2017-02-14 21:09] cynthia commented on #700
Closing due to change in work mode.

[2017-02-14 21:09] #700 closed, assigned to nobody

[2017-02-14 21:10] cynthia commented on #699
Closing due to change in work mode.

[2017-02-14 21:10] #699 closed, assigned to nobody

[2017-02-14 21:10] cynthia commented on #698
Closing due to change in work mode.

[2017-02-14 21:10] #698 closed, assigned to nobody

[2017-02-14 21:10] cynthia commented on #697
Closing due to change in work mode.

[2017-02-14 21:10] #697 closed, assigned to nobody

[2017-02-14 21:10] cynthia commented on #696
Closing due to change in work mode.

[2017-02-14 21:10] #696 closed, assigned to nobody

[2017-02-14 21:10] cynthia commented on #695
Closing due to change in work mode.

[2017-02-14 21:10] #695 closed, assigned to nobody

[2017-02-14 21:11] cynthia commented on #694
Closing due to change in work mode.

[2017-02-14 21:11] #694 closed, assigned to nobody

[2017-02-14 21:11] cynthia commented on #690
Closing due to change in work mode.

[2017-02-14 21:11] #690 closed, assigned to nobody

[2017-02-14 21:11] cynthia commented on #689
Closing due to change in work mode.

[2017-02-14 21:11] #689 closed, assigned to nobody

[2017-02-14 21:11] cynthia commented on #687
Closing due to change in work mode.

[2017-02-14 21:11] #687 closed, assigned to nobody

[2017-02-14 21:11] cynthia commented on #686
Closing due to change in work mode.

[2017-02-14 21:11] #686 closed, assigned to nobody

[2017-02-14 21:12] cynthia commented on #688
Closing due to change in work mode.

[2017-02-14 21:12] #688 closed, assigned to nobody

[2017-02-14 21:12] cynthia commented on #691
Closing due to change in work mode.

[2017-02-14 21:12] #691 closed, assigned to nobody

[2017-02-14 21:12] cynthia commented on #685
Closing due to change in work mode.

[2017-02-14 21:12] #685 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #683
Closing due to change in work mode.

[2017-02-14 21:13] #683 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #682
Closing due to change in work mode.

[2017-02-14 21:13] #682 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #681
Closing due to change in work mode.

[2017-02-14 21:13] #681 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #680
Closing due to change in work mode.

[2017-02-14 21:13] #680 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #678
Closing due to change in work mode.

[2017-02-14 21:13] #678 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #684
Closing due to change in work mode.

[2017-02-14 21:13] #684 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #677
Closing due to change in work mode.

[2017-02-14 21:13] #677 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #675
Closing due to change in work mode.

[2017-02-14 21:13] #675 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #674
Closing due to change in work mode.

[2017-02-14 21:13] #674 closed, assigned to nobody

[2017-02-14 21:13] cynthia commented on #673
Closing due to change in work mode.

[2017-02-14 21:13] #673 closed, assigned to nobody

[2017-02-14 21:14] cynthia commented on #672
Closing due to change in work mode.

[2017-02-14 21:14] #672 closed, assigned to nobody

[2017-02-14 21:14] cynthia commented on #671
Closing due to change in work mode.

[2017-02-14 21:14] #671 closed, assigned to nobody

[2017-02-14 21:14] cynthia commented on #670
Closing due to change in work mode.

[2017-02-14 21:14] #670 closed, assigned to nobody

[2017-02-14 21:14] cynthia commented on #669
Closing due to change in work mode.

[2017-02-14 21:14] #669 closed, assigned to nobody

[2017-02-14 21:14] cynthia commented on #668
Closing due to change in work mode.

[2017-02-14 21:14] #668 closed, assigned to nobody

[2017-02-14 21:14] cynthia commented on #667
Closing due to change in work mode.

[2017-02-14 21:14] #667 closed, assigned to nobody

[2017-02-14 21:14] cynthia commented on #666
Closing due to change in work mode.

[2017-02-14 21:14] #666 closed, assigned to nobody

[2017-02-14 21:15] cynthia commented on #655
Closing due to change in work mode.

[2017-02-14 21:15] #655 closed, assigned to nobody

[2017-02-14 22:15] komputist commented on #731
@travisleithead The expected fix is a **data URI** - namely the same data URI that HTML 5.0 and Living Standard have. The content of the data URI is a DTD which defines the character entities.

Btw, I already said the very same thing in my initial message:  «Whereas in HTML 5.0 section 9.2 and HTML Living Standard section 13.2, then, the URL is (as expected) a data URI containing a DTD which decla

[2017-02-14 22:21] komputist commented on #731
The missing link to the JSON file that @TheEskhaton mentioned is a **different** issue (even if it might be [sic!] linked). The bug **I** reported is about HTML 5.1 section 9.2. Whereas the bug @TheEskhaton mentions is about HTML 5.1 section 8.5. I suppose @TheEskhaton or someone else should open a separate bug for that JSON problem.

[2017-02-15 03:00] jasonkiss commented on #790
This may be a little pedantic, but it just occurred to me that the `body` element is a sectioning root, and not sectioning content, so my previously proposed rewrite is also incorrect. Same thing goes for the passages that say "Assistive Technology may convey the semantics of the [`header`|`footer`] to users when the nearest ancestor sectioning content or sectioning root element is the `body` elem

[2017-02-15 19:20] arronei commented on #364
Closing issue since we are syncing using a different method now

[2017-02-15 19:20] #364 closed, assigned to travisleithead, arronei

[2017-02-15 19:21] arronei commented on #368
Closing issue since we are syncing using a different method now

[2017-02-15 19:21] #368 closed, assigned to stevefaulkner, adanilo, travisleithead, LJWatson, arronei, chaals

[2017-02-16 00:54] #550 closed, assigned to travisleithead

[2017-02-16 00:56] #779 closed, assigned to chaals

[2017-02-16 01:00] travisleithead commented on #790
Thank you! Shall I merge PR #797 or do you have more you want to add to it?

[2017-02-16 01:02] #223 closed, assigned to arronei

[2017-02-16 11:03] siusin commented on #731
The missing files have been uploaded. Hope it helps.
- [https://www.w3.org/TR/2016/REC-html51-20161101/entities.dtd](https://www.w3.org/TR/2016/REC-html51-20161101/entities.dtd)
- [https://www.w3.org/TR/2016/REC-html51-20161101/entities.json](https://www.w3.org/TR/2016/REC-html51-20161101/entities.json)
- [https://www.w3.org/TR/html52/entities.dtd](https://www.w3.org/TR/html52/entities.dtd)
- [htt

[2017-02-16 12:17] ZoeBijl commented on #166
@rniwa @chaals, what should we do with that sentence, as that is the only thing holding this back and it would be nice to have this in the update for the 20th.

My use of <q>towards the end of the writing direction</q> was based on CSS language. That said, I like rniwa’s suggestion: <q>the collapsed selection should be placed at the end of the pasted contents.</q>

So, maybe something like:

[2017-02-16 22:46] rniwa commented on #166
It's important to realize that the directionality wouldn't matter in terms of DOM offsets. As long as you place selection's start & end container & offset at the end of the pasted content regardless of whether the last few characters were RTL or LTR, the browsers would display the caret at the "right" location in accordance with their mapping between DOM offsets and visual positions (although Geck

[2017-02-16 23:44] alrdytaken commented on #794
I'm not quite sure why a _Sectioning content_ with no content but another _Sectioning content_ would exist. _\<section>_ and _\<article>_ for example both state:

And in case we have more content nested in the _Sectioning content_ – for example a nested _\<section>_ has _\<p>_ as sibling, I'll find it hard to assume that the _heading_ of the _\<section>_ is also the _heading_ of the _\<p>_, which

[2017-02-17 08:00] LJWatson commented on #166
Thanks @rniwa. Could you propose an amendment to @michielbijl's text?

[2017-02-17 08:24] rniwa commented on #166
I've done that in https://github.com/w3c/html/issues/166#issuecomment-279503130: "the collapsed selection should be placed at the end of the pasted contents."

[2017-02-17 08:56] LJWatson commented on #166
Thanks @rniwa. @MichielBijl can you update the text and get a PR in for the editors to review today?

[2017-02-17 13:35] AndySky21 commented on #589
This could appear as a minor issue, but I'd like to ask for it nonetheless.
Is there a chance that `<menu>` might remain in the spec in its missing-type-default state of `toolbar`? It would be semantically relevant for grouping javascript-backed commands to be used on a related object (e.g. an editable block, a textarea, a canvas) without requiring too much effort to support it. Authors could then

[2017-02-17 15:42] bkardell commented on #774
I have been trying to collect my thoughts and explain them before jumping in here - I've written [a post explaining my thoughts](http://bkardell.com/blog/On-Headings.html).  It also links to an (incomplete) codepen illustrating a bit and to an issue I filed on the speculative polyfill to discuss.

[2017-02-17 15:52] #581 closed, assigned to travisleithead

[2017-02-17 15:52] #523 closed, assigned to travisleithead

[2017-02-17 15:56] AndySky21 commented on #774
@SelenIT the way `hgroup` is understood by browsers is so distant from this matter, that in comparison one could simply consider `header` as levelless heading element.

[2017-02-17 17:00] bertyhell opened #801 "Progressive enhancement for script tags"
ES6 is great, unfortunately we cannot use it yet, because some browsers that we want to support do not support ES6 yet.

My proposal tries to get around this issue.
By providing multiple JavaScript source files we could have the browser pick their best version, similar to how video source elements work.

imaging something like this:
[code]

From my tests, it seems that most browsers still work eve

[2017-02-17 21:29] travisleithead commented on #475
Waiting on confirmation from @Wolenetz. I propose the following change to the Note. From:

to:

For this simple example it makes sense and no longer confuses the issue. Thoughts?

[2017-02-17 21:58] travisleithead commented on #335
Turns out a previous update added these :) We are in sync.

[2017-02-17 21:58] #335 closed, assigned to travisleithead

[2017-02-17 21:59] travisleithead commented on #335
(e.g., GlobalEventHandlers is [relatively] in sync)

[2017-02-18 00:50] ZoeBijl commented on #166
I had some difficulty with understanding “collapsed selection”, but after some reading up I figured it out, it simply means the caret.

Perhaps it would be beneficial to add this to the glossary for other people that aren’t familiar with the term.

Another question I’d like to ask, I used focus in all my wording because we could also be dealing with files in a desktop like or file management envir

[2017-02-18 01:10] rniwa commented on #166
Yes. For starters, that sentence is misnomer because RTL languages such as Hebrew and Arabic use both LTR and RTL characters; e.g. numbers. So it's not obvious where the caret should be placed visually relative to the pasted content. In some cases, it may need to appear within the paste content.

For example, if you had three RTL letters, A, B, C, and then a number 1, 2, 3 in the document/logical

[2017-02-18 01:11] rniwa commented on #166
Right, we need to disambiguate the two. Focus is a completely different concept from selection. In particular, in WebKit or Mac in general, moving selection does not automatically move focus per platform convention.

[2017-02-18 04:14] jonathantneal commented on #774
I hope those of you interested in `<h>` will take a moment to read my summary: [The State of &lt;H&gt;: February 2017](https://github.com/jonathantneal/h-element-spec/issues/1).

[2017-02-18 20:42] bkardell commented on #794
Flattening seems to me a fundamentally broken idea - both devs and AT have 'other ways to view' sections in flat, document order.  It is impossibly hard, as I described in [my post](bkardell.com/blog/On-Headings.html), to reason about many structures today in outline form because we mix this 'flat' concept which actually relies heavily on notions derived from the visual.  I'd like to see 'document

[2017-02-18 20:53] AndySky21 commented on #794
I'm against flattening too. It just makes no sense
Article and Section elements are not just "fancy div elements", nor they serve any stylistic purpose, either native or author-made. They are there for a reason. And the fact they have no heading is relevant. It could also be relevant as an error, or at least as a poor choice. Flattening them would make this choice even worse, by grouping together

[2017-02-18 22:33] stevefaulkner commented on #794
here is a 2014 bug that discusses the issue: [outline depth calculation should not include empty sections](https://www.w3.org/Bugs/Public/show_bug.cgi?id=25394) as a result hixie made some ineffectual changes to the whatwg spec. They are ineffectual as they encourage AT to do things, when its the browsers that need to do these things as they produce the accessibility tree that AT use.

[2017-02-19 21:13] chaals opened #802 "headings and sections examples are inconsistent"
Hi, as far as I can tell, Examples 24 and 25 and the text around them in the [headings and sections section](https://w3c.github.io/html/sections.html#headings-and-sections) 4.3.9 are inconsistent.

Stripped down, 24 and the normative text before and after it it says you get

[code]

Whereas example 25 suggests that isn't so.

I haven't run them through the algorithm itself yet, but unless I missed

[2017-02-19 21:39] chaals commented on #802
I tried to walk through the algorithm on the two examples. I am not certain that I got it right - it is not only complex, but the descriptions of what to do and where to go next are pretty unclear.

**As far as I can tell** example 25 is inconsistent with the algorithm, and as suggested by everything before that in the section, the third heading in the first snippet of the example is level three,

[2017-02-20 10:40] stevefaulkner commented on #802
@chaals i used the https://validator.w3.org/nu/ to check the outlines (it handily provides a representation for both H1-h6 and the theoretical outline)
You are indeed correct, the second example needs to be changed as per

[code]

will fix.

[2017-02-20 10:51] stevefaulkner commented on #802
example outlines for corrected example: https://validator.w3.org/nu/?showsource=yes&showoutline=yes&doc=http%3A%2F%2Fs.codepen.io%2Fstevef%2Fdebug%2FQdXxLw%2FnqkwvewdgpOA#headingoutline
fixed via https://github.com/w3c/html/commit/ae29e96d2e5594cf081a67c733b3c116fe0a84d7

[2017-02-20 11:03] stevefaulkner commented on #613
I don't agree that the text is confusing, what I did find was that the example was incorrect and fixed it.
https://github.com/w3c/html/commit/d522354981b70b5b3f64c9ee5759549a94f8be7d

[2017-02-20 11:03] #613 closed, assigned to stevefaulkner

[2017-02-20 11:05] stevefaulkner commented on #558
Still needs completing but won't be done before next milestone so removing it.

[2017-02-20 11:06] stevefaulkner commented on #802
@chaals if you are satisfied please close.

[2017-02-20 11:33] chaals commented on #790
@jasonkiss ping?

[2017-02-20 11:35] chaals commented on #802
Commented - you got the opening and closing tags reversed.
☕️  ;)

[2017-02-20 11:50] stevefaulkner commented on #802
@chaals doh! fixed now, i hope...

[2017-02-20 12:01] chaals commented on #802
Fixed in https://github.com/w3c/html/commit/5e022ad6e9b74bf088bb218ce15bb09138ac9ca2

[2017-02-20 12:01] #802 closed, assigned to stevefaulkner

[2017-02-20 12:16] chaals commented on #297
The trident approach makes more sense, but user agents *do* allow keyboard access already, and this seems to be a vanishingly unimportant legacy concern. I will propose a minor tweak, to say that user agents *should* enable keyboard activation instead of the current *may*, and close, unless there is an objection.

The reason for not making it *must* is that while no user agent I know of properly h

[2017-02-20 12:18] jakearchibald commented on #774
For people joining the thread late, I've tried to sum up a problem, and show why we must take an evidence-based approach to this https://jakearchibald.com/2017/do-we-need-a-new-heading-element/

[2017-02-20 12:20] #793 closed, assigned to cynthia

[2017-02-20 12:26] #753 closed, assigned to cynthia

[2017-02-20 12:34] #297 closed, assigned to chaals

[2017-02-20 13:59] lukebrowell commented on #774
@Jake Your summary adds a lot to the discussion. I particularly enjoyed your latent political reference.

I've resisted wading in to the discussion so far precisely because I have more opinion than expertise as to what has been attempted previously. I feel a user story based approach may be of help in understanding why we want to 'fix' outlines.

"As a web developer, I want a way to markup heading

[2017-02-20 14:01] ZoeBijl commented on #166
I clearly need to work on this more, although I don’t see that happening before the 24th, I’m sorry.

[2017-02-20 14:05] chaals commented on #314
As I read http://w3c.github.io/i18n-discuss/default-quote-styling the first proposal is for something that only works in one browser, which isn't all that useful IMHO, and on top of that there is an issue…

The second solution seems reasonable to me, in the sense that HTML isn't especially helpful for real multilingual documents anyway so people who do them are more likely to either get it right o

[2017-02-20 14:14] chaals commented on #774
@jakearchibald nice summary - thanks.

@lukebrowell Can you explain the reason why overriding / opting out of the outline are requirements, and whether there is a critical difference? I'm not suggesting there is no need, I just can't think of one off the top of my head and think it would help the discussion to understand that goal.

[2017-02-20 19:26] jasonkiss commented on #790
Sorry for the delay. Nothing more from me. Can merge #797.

[2017-02-20 20:09] jonathantneal commented on #774
@jakearchibald, my chief concern at this moment is that accessible tools (ATs) will misread heading levels, contradicting the implemented outline specification. This would require developers to intermediately correct the ATs interpretation by introducing another contradiction directly into the source which would then lead developers back to the same pain points that instigated my proposal. For tho

[2017-02-20 21:02] jakearchibald commented on #774
@jonathantneal

Right, but like I said in the article, we *must* compare like-for-like. At the moment ATs will see `<h>` as a `<span>`. Given that screen reader users iterate over headings, it seems better to fall back to a heading (even with an incorrect level) than an element with no semantics. But yes, a polyfill would be able to set the correct heading level.

It's not contradictory. With the

[2017-02-20 21:06] viT-1 commented on #774
@jonathantneal
Because of bad readability of `<h1 aria-level="2"` I propose to use `<label aria-level="2" role="heading">`

If you go back to the original abstract concepts, you can use label as caption. Captions and headings are the birds of feather.

 (cite from [html5 spec](https://www.w3.org/TR/html/sec-forms.html#the-label-element))

[2017-02-20 21:29] aardrian commented on #774
@viT-1 The `<label>` element has completely different semantics than a heading, does not provide the structure of a heading, is intended for use with discrete controls, already has years of traction as existing solely for use in forms, and would likely be even more confounding from which to generate a document outline. Using a `role` to completely re-wire its meaning also is a violation of the [se

[2017-02-20 23:15] #445 closed, assigned to cynthia

[2017-02-21 00:08] Alohci commented on #774
@jakearchibald

Is it better? Or worse? That strikes me as a very important question. I could easily be convinced either way, but it's a piece of evidence that can only be gathered by asking real AT users. It would be great if we had a means of doing that.

[2017-02-21 00:47] bkardell commented on #774
Let me pose a question that I think needs answering:

Is there is any harm in writing/offering a polyfill which actually uses h1...h6?  This has bitten us in the ass a lot of times and W3C TAG recently published a finding which includes advice mentioned earlier about "speculative polyfilling".  While "advantaged" the spec is clearly is speculative by both their definition and my own.  Once somethi

[2017-02-21 03:43] aardrian commented on #774
@bkardell

IMO the entire `<h>` conversation is moot until we can polyfill the outline algorithm logic, and I see no reason why we would _not_ do that with the existing `<h#>` elements. Once polyfilled (polyfold?) and tested, we see if browsers are willing to implement it and/or we are willing to take the lessons and revisit the algorithm.

Sites that want the algorithm can use the polyfill. Sites

[2017-02-21 04:21] cynthia commented on #765
Yes, I think the reference should be retired.

[2017-02-21 10:13] jakearchibald commented on #774
@Alohci

The best evidence I have is http://webaim.org/projects/screenreadersurvey5/#finding - but yes it doesn't quite answer "would you rather be given no headings, or headings with incorrect levels?"

Thank you for understanding the importance of evidence here!

[2017-02-21 11:11] AliceWonderMiscreations commented on #774
At one point, I just used `<h>` in my code and at the end, had the DOMDocument class adjust them based upon the article / sectioning hierarchy but it was kind of slow so I stopped doing it.

I want numberless headings, but they should depend upon sectioning depth and not be used when article/section are not in use.

In an aside element is an interesting question - I start every aside with a headin

[2017-02-21 11:37] AndySky21 commented on #774
I don't see any reason to discard the use of numbered headings in articles and sections. Apart from the fact that it would render all pages created as of now non compliant, which is undesirable, it would force authors to a messy structure even when this is not necessary.

Levelless headings would be useful when used in conjunction with sectioning content, at author's discretion. They should serve

[2017-02-21 11:39] amandarush commented on #774
Responding to this after seeing it on Twitter. As a screen reader user, I'd rather have incorrect headings than no headings. As a developer, it would be a lot easier to have a levelless heading to use when clients, (trust me, it's not just devs who screw this up), insisting that a particular piece of content has to have a particular look that's sort of like a heading but that would break an alread

[2017-02-21 11:58] stevefaulkner commented on #774
A point I would like to raise in regards to terminology:
**levelless headings** does not mean the headings have no **level** property exposed in the accessibility tree, it means that the heading level is not implied by the number in the element token name `h1-h6`
The level of a heading is calculated by it's sectioning content nesting level. The semantics are not simply this is a "heading", that wo

[2017-02-21 12:09] jonathantneal commented on #794
As I stated last week, I'm willing and now interested in creating a speculative polyfill to expose the document outline as written, but I’m still unclear about **sectioning roots**:

How would I one communicate headings within these section roots? How do I expose an `h2` inside `blockquote` as a heading that does not contribute to the outline of its ancestor? Would I be pushing this into a separat

[2017-02-21 12:25] jakearchibald commented on #774
@amandarush what if the number in the tag name, eg `<h1>`, was contextual to its parent section?

I'm hoping that will give us a way to have a computed heading level but in a somewhat backwards compatible way. A new element, eg `<h>` will have no semantics to user agents that don't support it, whereas `<h1>` will still be a heading.

[2017-02-21 12:47] stevefaulkner commented on #794
@jonathantneal I had a quick look at how this http://s.codepen.io/stevef/debug/jygGVP/vWkRwnbZmamM is outputted by H50 (outliner script) and the https://validator.w3.org/nu/ outline view. neither includes headings in the fieldset in the outline. Which doesn't make a lot of sense in terms of in page structure/navigation. It may make sense if an outline was being constructed for a table of contents

[2017-02-21 15:31] DavidMacDonald commented on #774
I would agree that a levelless heading would be a welcome addition. I would think of it a little like tab order. If nothing is specified I takes the level of it's context.

[2017-02-21 16:43] arronei commented on #547
This has been corrected using our new merging technique.

[2017-02-21 16:43] #547 closed, assigned to arronei

[2017-02-21 17:57] mikewest commented on #547
Could you point to a commit? It doesn't look like @stevefaulkner's landed?

[2017-02-21 22:45] patrickdark commented on #774
If y'all are going to fix this issue, I'd propose fixing a related, longstanding issue: an inability to obviously and unambiguously declare the site title and page title in the body of the document.

If there's a `sitetitle` or `pagetitle` element in the document, that can be used to cue changes in the outline algorithm such that all `h1` through `h6` elements behave as `h` elements. If such eleme

[2017-02-21 23:04] patrickdark commented on #801
There's already a `version` parameter for the `application/ecmascript` media type that no one's implemented. My guess is this proposal will meet the same fate because versioning a language means that if a client doesn't support a single feature, they have to report that the entire language is unsupported, which then results in lying about support if content would work by doing so, which then defea

[2017-02-22 09:19] cynthia commented on #790
Merged, so closing.

[2017-02-22 09:19] #790 closed, assigned to cynthia, jasonkiss

[2017-02-22 10:12] stevefaulkner opened #806 "sectioning roots and the document outline"
The currently defined [sectioning roots](http://w3c.github.io/html/sections.html#sectioning-roots) produce somewhat bizarre results. In a [test page](https://output.jsbin.com/wulimo) I have included examples of all sectioning roots (except `dialog` which I can understand as not contributing to the doc outline as it is a pseudo window)

The resulting HTML5 document outline for the test page is [bod

[2017-02-22 10:13] stevefaulkner commented on #794
related https://github.com/w3c/html/issues/806

[2017-02-22 10:14] stevefaulkner commented on #774
related #806

[2017-02-22 12:18] stevefaulkner opened #807 "update button element definition to be more descriptive"
currently the [button element](http://w3c.github.io/html/sec-forms.html#the-button-element) is defined:

a _button is a button_ sort of sucks.

The ARIA definition of a button role for example is more descriptive

https://www.w3.org/TR/wai-aria-1.1/#button

[2017-02-22 12:59] chaals commented on #538
punycode is only used in the right-hand-side, and since it is ASCII, it matches the current definition.

One incremental step that might make sense is to add an editorial note for implementation, similar to what is there for numbers and dates, so it is clear to browser developers that they can implement something useful for addresses - right now I think we're in a position where we are waiting to

[2017-02-22 13:26] patrickhlauke commented on #807
suggest "interactive control" rather than "button"

[2017-02-22 13:37] IanPouncey commented on #807
Using the name of another element, like input, is confusing and "clicked or pressed" is limiting. Suggest “An interactive control, labeled by its contents, that allows for user-triggered actions when activated.”

[2017-02-22 14:47] klensin commented on #538
Chaals, yes, but the state of adoption of fully-internationalized email addresses is a bit of a chicken-and-egg problem.  Email providers are reluctant to allow registration and use of such addresses until there is full support for them and those who accept email addresses (on web sites and elsewhere) are disinclined to support them until they are widely registered and in use.  That makes any "we

[2017-02-22 15:14] metzessible commented on #807
If the intended result is the outcome of someone conceptualizing using a button when using it, removing the terms "clicked or pressed" will muddle the definition. In my opinion, I would append Ian's suggestion this way:

"An interactive control _simulating_ pressing or clicking, labeled by its contents, that allows for user-triggered actions when activated."

[2017-02-22 15:22] cynthia commented on #538
I gave this idea a bit of thought over the last couple days - my thoughts have been shared with some other folks in the group over a informal channel. Yes, this is a valid problem. Writing this down in a document is easy - getting the implementations and validation rules right across all implementations - not as easy.

For the time being, web applications that absolutely need support for this can

[2017-02-22 15:28] #473 closed, assigned to cynthia

[2017-02-22 15:43] cynthia commented on #603
We haven't heard back from the OP defending the proposal for the last 5 months, and this seems to overlap a bit (but not entirely) with <style scoped> which was dropped from the upstream spec.

The single difference I see (extrapolating a lot from the couple lines in the proposal) is that a stylesheet attached to an element would most likely start the selector scope from the element the stylesheet

[2017-02-22 15:43] #603 closed, assigned to cynthia

[2017-02-22 15:46] #493 closed, assigned to cynthia

[2017-02-22 16:37] handcoding commented on #807
I’d lean toward Ian’s version.

[2017-02-22 16:46] LJWatson commented on #807
In these days of click, press, tap and speak, I think @IanPouncey's text is the sane approach.

[2017-02-22 16:46] patrickhlauke commented on #807
I'd stay away from the *simulating* aspect...otherwise pretty much anything on a screen is "simulated" to an extent. I'd favor Ian's use of "activation"/"activated"

[2017-02-22 17:30] metzessible commented on #807
Yes, everything is simulated on the web. But users tend to misunderstand the connection between the terms used and their real world application.

Evidence:
http://stackoverflow.com/questions/4201007/what-are-some-of-the-most-frequently-misused-html-tags

Even taking away the word _simulating_, I argue that more people will use elements without making a real-world connection because they don't asso

[2017-02-23 05:06] jonathantneal commented on #806
This may be related. https://github.com/validator/validator/commit/0789dc8b03bee75ba82f12af20b9785a161557bc

[2017-02-23 06:34] stevefaulkner commented on #806
@jonathantneal yes I discussed this with @sideshowbarker

[2017-02-23 08:43] chaals commented on #538
@klensin yes, there is indeed a chicken-and-egg problem.

My "incremental" proposal is probably not clear. What I would like to see, at least as an initial step, is browsers provide an interface for email similar to the way they send requests for IDNs - so that I can type chaals@яндекс.рф and see that, even though the `value` of the control is a punycode, and so acceptable, value.

If you read the

[2017-02-23 09:34] cynthia commented on #538
The incremental proposal above has a risk of requiring consistency across browsers, if any browser treats the value as it is (as a IDN) then signing up from one browser and logging in from another browser may (and most likely will) not work.

This would effectively require a monkey patch layer to assure consistency across browsers - we've gone through that more times than we are comfortable with i

[2017-02-23 17:52] equalsJeffH commented on #769
this should be closed now that PR #2365 landed?

[2017-02-23 18:01] jcjones commented on #769
Sounds right. Thanks for the reminder!

[2017-02-23 23:20] #590 closed, assigned to adanilo

[2017-02-24 05:23] carmacleod commented on #794
In case it's helpful, here's what the [ARIA 1.1 spec says about a section element](https://www.w3.org/TR/wai-aria-1.1/#region) (which has a [default or implied aria role of "region"](https://www.w3.org/TR/html51/sections.html#the-section-element)) without a heading:

The [recommended Accessibility API mapping for region](https://www.w3.org/TR/html-aam-1.0/#el-section) says:

So if AT are not inclu

[2017-02-24 05:35] jyasskin commented on #769
We should keep this open to track merging whatwg/html#2365 into HTML5.2. It doesn't block WebAuthn anymore, but the W3C editors still have a bit of work to do.

[2017-02-24 08:14] chaals commented on #769
This issue tracker is for W3C's spec, so the issue is still open.

[2017-02-24 19:33] madbonkey commented on #774
Forgive me for not reading to the very end in this long discussion, but after reading @axelboc's comment I'd like to throw in my 2 cents as well.

There seem to be two issues here, the outline problem and the missing (?) "generic heading" element – I do see that they're closely related in respect to current implementation/use, but I'm confused as to why proposed solutions couple them so tightly wh

[2017-02-24 22:15] travisleithead commented on #535
The tests show that there is not sufficient interop yet to make the switch from MouseEvent (current described in the spec) to PointerEvent.

* Chrome: `MouseEvent`
* Firefox: `MouseEvent`
* Edge: `PointerEvent`

[2017-02-25 09:56] #788 closed, assigned to stevefaulkner

[2017-02-25 09:59] stevefaulkner commented on #583
@dd8 can you propose changes to the specification text? If so a PR is welcome

[2017-02-25 10:20] stevefaulkner commented on #470
please review

[2017-02-25 10:25] stevefaulkner commented on #474
@aphillips ping

[2017-02-25 11:16] stevefaulkner commented on #544
Also being discussed in whatwg world https://github.com/whatwg/html/issues/1605

[2017-02-25 15:49] chaals commented on #538
I'm not sure this requires a new monkey patch layer. Using a text field to allow this loses the useful functionality of looking for an email address, but already exposes users to the problems of patchy implementation. In practice, browsers aren't consistent in doing "new" things anyway, and in this case the email infrastructure beyond the browser is also changing.

If browsers implemented native s

[2017-02-25 16:27] klensin commented on #538
chaals,   I think that is just the point (and suggestion) I was trying to make, only  you were more clear.   From a slightly different perspective, it is reasonable for browsers to make the exact checks and conversions (if needed) required by the base standards or to simply accept everything, pass whatever strings they get across whatever interfaces they have to mail systems, and insist that those

[2017-02-25 17:33] #521 closed, assigned to stevefaulkner

[2017-02-26 19:21] chaals commented on #171
`area` can have `alt`, with no restriction. I am not sure when this changed, fairly sure that it did. In any case, this issue is no longer valid.

[2017-02-26 19:21] #171 closed, assigned to chaals

[2017-02-26 21:02] dd8 commented on #583
Ok, I'll try to draft some changes. I'll need to investigate what MSAA and the Android API does with table headers first.

[2017-02-26 21:08] AmeliaBR commented on #806
For `blockquote` and `figure`, I think encapsulating the headings still makes sense.  If you were using those elements as intended in a larger document, any nested headings would not be part of the main document outline, they would be part of the quote or example.

The same is probably true for `td` when used semantically, although layout tables confuse the matter considerably.

However, for `fiel

[2017-02-27 09:16] workguy66 commented on #544
Here's a fun idea to think about: Imagine if a browser comes along that
complies with the spec fully (meaning it won't support style in body at all)

On 25 February 2017 at 12:16, stevefaulkner <notifications@github.com>
wrote:

[2017-02-27 11:02] chaals commented on #544
@workguy66 That's exactly what we think about. If the spec is ambiguous here, it isn't clear exactly what they would do. But it turns out that a browser that didn't allow `style` in the `body` wouldn't work on the Web.

We have an option to make it non-conforming but require browsers to handle it, and describe how to do that - this is what we do for a bunch of things, including appcache.

But ther

[2017-02-27 11:36] aphillips commented on #474
Sorry for the delay in responding: I'm traveling currently. I'd propose:

[timezone] https://www.w3.org/TR/timezone/#floating

[2017-02-27 12:18] AndySky21 commented on #544
Instead of being marked "non conforming but supported", which sounds quite strange, why not marking it "conforming with warning"? I.e. when validated (and in spec) it should be stated that putting style in body can be done, but as last resort only and underlining the problem that can be caused by that  (essentially FOUC if tons of content are loaded before style itself is parsed and applied).
It's

[2017-02-28 16:53] bkardell commented on #774
For anyone coming to the party late, or who hasn't been able to read through it all, I wrote up kind of [a summary](https://bkardell.com/blog/Whats-The-Deal-With-That.html) last week.

[2017-02-28 21:25] ExplodingCabbage commented on #544
@chaals and @workguy66, you say that a fully-compliant browser wouldn't support `<style>` in the body at all, but according to @domenic in https://github.com/whatwg/html/issues/1605#issuecomment-235961103:

(emphasis mine)

I'm not sure precisely what @domenic's reasoning is for how the spec requires this, and don't know whether there are relevant differences between the W3C and WhatWG specs in th

[2017-02-28 21:49] patrickdark commented on #774
@madbonkey **One:** We have a `title` element, but this element doesn't allow rich content and cannot appear in the body of the document. Furthermore, the `title` element is overloaded; it's used for both page titles (correct) and site titles (incorrect) such that automated tools have no way to discriminate between the two except inference.

**Two:** As with `h`, adding new elements would make doi

[2017-02-28 22:21] patrickdark commented on #806
@AmeliaBR I agree with you on `details`. I currently use XSLT to automatically transform all `<section><h1/><section>` constructs into `<section><details><summary><h1/></summary></details></section>`. Ditto for `nav` and both elements containing `hgroup`. Having `details` as a sectioning root basically means that my documents only have page headings as far as such an outline model is concerned and

[2017-03-01 03:56] stasoid commented on #763
@chaals
Thank you for your response. I do not propose to change behavior of &lt;p> element. I propose only to add clarification of its usage. Literally, just to add at the end of green section starting with "List elements" in [paragraph 4.4.1](https://w3c.github.io/html/grouping-content.html#the-p-element) this text:
"The same applies to inline blocks, inline tables, floated and positioned block-l

[2017-03-01 04:01] patrickdark commented on #807
"A `button` element represents a form submission control in the submit button state, form reset control in the reset button state, menu disclosure control in the menu button state, or an activation target in the simple button state."

[2017-03-01 04:20] WaveRunning commented on #763
who are you ?

At 2017-03-01 11:56:58, "stasoid" <notifications@github.com> wrote:

@chaals
Thank you for your response. I do not propose to change behavior of <p> element. I propose only to add clarification of its usage. Literally, just to add at the end of green section starting with "List elements" in paragraph 4.4.1 this text:
"The same applies to inline blocks, inline tables, floated and pos

[2017-03-01 15:52] workguy66 commented on #544
The spec requires the browsers to support it and then tells people not to
use it? Would make more sense if it warned people not to use it.

On 28 February 2017 at 22:25, Mark Amery <notifications@github.com> wrote:

[2017-03-03 01:03] travisleithead opened #811 "Preserve back-compat for cross-origin Window toString"
I'd like to preserve the previous behavior of the Object.prototype.toString() call when testing against a cross-origin `Window`, so that it continues to return `[object Window]` rather than the currently speced `[object Object]`.

If other browsers are on board, I think the change is to `CrossOriginGetOwnPropertyHelper ( O, P )`, where the first step is replaced by a step that evaluates `O` and if

[2017-03-03 01:04] travisleithead commented on #811
@Domenic, @annevk

[2017-03-03 01:16] domenic commented on #811
This doesn't seem like a good change. This is not "previous behavior"; no browser ever implemented it. And no browser currently does (everyone but Edge follows the current spec; Edge throws).

And arguably, cross-origin windows should not stringify as Windows anyway, since they are so different: e.g. they don't have Window.prototype in their prototype chain.

[2017-03-03 02:25] travisleithead commented on #811
Edge's current behavior has broken a few of our tools--throwing has only started happening recently (our shipping release does not yet throw). This only started happening once our Script engine added support for @@ToStringTag :-( Yes, we'll fix the tools...that's the not the point.

The point is that I don't like the current behavior of getting `[object Object]` as if the platform has no idea what

[2017-03-03 02:31] domenic commented on #811
I just don't see a reason to create churn in all browser engines, possibly introducing their own incompatibilities of the same type, where similar browser-specific tools were assuming that cross-origin windows are `[object Object]`. (Or incompatibilities with non-browser-specific tools that work in 3/4 browsers.)

Object.prototype.toString is not meant to be used as a branding mechanism, especiall

[2017-03-03 05:09] chharvey commented on #763
@stasoid you can use CSS to achieve the wrapping effect shown in your screenshot, without changing the semantics of `<p>`.

https://www.html5rocks.com/en/tutorials/shapes/getting-started/

[2017-03-03 07:56] annevk commented on #811
I tend to agree with @domenic. It also further encourages what I think is an anti-pattern, determining object types through their string tag.

[2017-03-03 16:16] travisleithead commented on #811
I guess this is just another instance of https://github.com/heycam/webidl/issues/129, where folks are relying on `toString` but desperately want a cross-Realm hasInstance or instanceof check to pass.

[2017-03-05 04:35] jourdanritchey commented on #774
Writing as an author of HTML pages… I think that `<h>` would be immensely useful and that (respectfully) a bit of KISS would help here.

`<h1>` through `<h6>` are established; no need to pave the existing gravel road. **Don't make these tags contextual within sections.** Instead, think of these tags as overrides whereby the author has explicitly chosen to force that level of heading. In terms of t

[2017-03-05 05:16] jakearchibald commented on #774
Being able to use h1-6 in a contextual manner is really useful when working with existing tooling and content. Eg markdown convertors.

[2017-03-05 16:36] jourdanritchey commented on #774
@jakearchibald I agree with you that being able to use `<h1>` – `<h6>` scoped to a section would be wonderful, particularly with current CMS (markdown or otherwise) allowing these elements to be added to an existing HTML outline. But these elements are currently scoped to the entire `<html>`, and changing that means changing the web.

Although improving the existing web is certainly a worthwhile e

[2017-03-05 18:08] bkardell commented on #774
I feel like there are two related, but separate questions raised by what @jakearchibald is asking, but I'm not sure others would agree, so I'm putting it out there. I apologize for the length but it may be a subtle point, I just don't know where we all stand.

1) can we effectively change the `aria-level` of headings contextually such that existing tools can do a better job than what they do now"

[2017-03-05 19:23] jakearchibald commented on #774
@jourdanritchey

Adding a new tag is the "wholesale change" you refer to, while enhancing what we've got is incremental. Think about the steps involved in doing each - adding a new tag is more work. Not only that, but it carries a huge risk of, as you put it, "foregoing the grander vision", as in not implementing the accessibility parts. This is the only bit that's missing from the html5 proposal

[2017-03-05 19:29] jakearchibald commented on #774
@bkardell the HTML outline generates implicit sections from h1-6 so I'm not sure what's missing from "read me that thing".

I do think the outline algorithm needs tweaking with regard to section roots though. There's some misunderstanding there, either by the original spec author, or those who have interpreted it since, and I'm not sure which yet.

[2017-03-05 21:55] bkardell commented on #774
@jakearchibald

I think we are just talking past one another with terminology here.  "generates sections" means what to you here?  What I read in the WHATWG spec at least, and _I'd be very happy to be wrong about this_, appears to be mostly just doing all that in order to try to figure out better heading levels to expose and perhaps some under-described 'anchoring' to the editor's marks that can b

[2017-03-05 22:20] jakearchibald commented on #774
@bkardell I'm talking about sections as in https://html.spec.whatwg.org/multipage/semantics.html#concept-section and all that implies - including generating things like TOC.

These aren't exposed to CSS. If you're wanting to do that, you should use a section element or a div if you don't want the semantics of a section.

Whether these sections are exposed to AT depends on whether it would offer a

[2017-03-05 22:38] bkardell commented on #774
@jakearchibald

Can you point me to the bit that explains how this this helps you do that without yourself having to know the algorithm?  As far as I can see the level isn't exposed to you, nor where the 'implicit sections' are?  All I see in relation to exposing it somehow is as I said, an under-defined 'anchoring-like' thing for key navigation https://html.spec.whatwg.org/multipage/semantics.htm

[2017-03-05 23:31] jakearchibald commented on #774
@bkardell depends who the "you" is in your statement, browser vendor or web developer.

The outline is not exposed via the DOM right now. Maybe it should be. However, my primary concern is accessibility. Maybe exposure via the DOM and/or CSS would help encourage browser adoption. Maybe it wouldn't. I cover this as a possible way forward in https://jakearchibald.com/2017/do-we-need-a-new-heading-el

[2017-03-05 23:50] Alohci commented on #774
@jakearchibald - As a web author, I'd say that exposure via the DOM and CSS is very attractive. That will make the outline much more everyday usable. And what that means is that it's far more likely that web authors will use the headings and sections correctly, because they will get good feedback when they go astray, particularly if all elements - not just headings - have their outline level expos

[2017-03-05 23:56] chaals commented on #782
First, this seems to be an issue for [DOM](https://github.com/w3c/dom), not HTML. It also seems like it might need incubation, or tests. I'm going to close it here.

[2017-03-05 23:56] #782 closed, assigned to nobody

[2017-03-06 00:07] chaals commented on #589
@AndySky21, you wrote

You can build javascript against anything, whether it's in the spec or not. But it's unlikely to stay there if there isn't a lot of evidence of implementation.

[2017-03-06 00:11] chaals commented on #44
This might be ready for inclusion now.

[2017-03-06 00:12] chaals commented on #208
Where is this up to in implementation?

[2017-03-06 00:16] bkardell commented on #774
@Alohci I agree with your sentiments, however, this should be provable.  We can speculatively polyfill this and offer data, even comparably. @jakearchibald and I are in full agreement there.

The nature of my question was intended to remove noise on this front, not add it.  Effectively I want to know whether we agree on what we thought the existing proposals for "document outline" were doing in th

[2017-03-06 02:02] cvrebert commented on #208
Implemented in Chrome: https://www.chromestatus.com/feature/4529989986811904

[2017-03-06 02:48] jourdanritchey commented on #774
By writing here I hope to contribute to the direction the conversation around this is taking because, from my (an HTML author's) perspective, it appears that the proposal to add an `<h>` tag is being conflated with other concerns pertaining to (1) an outline algorithm that was specified but ignored by the industry, and (2) changing the scope and in some cases meaning of one or more of the `<h1>` –

[2017-03-06 03:43] jakearchibald commented on #774
By introducing `h` we're changing its semantics from nothing to something. Doing that is pretty huge, and user agents will be left behind. Existing headings have a better fallback in that case.

I like the ideas around exposing the outline in CSS and/or DOM, but only if it can be shown that it will get us to accessibility quicker. If not, I'd rather accessibility had priority. With the current out

[2017-03-06 19:07] aphillips commented on #218
Except that the text about fonts is wrong. The most common font selection problem is when the same characters in a script (notably the Han ideographic script) have different shapes (represented in different fonts or using OpenType features) in different languages. For example, Japanese, Simplified Chinese, and Traditional Chinese. The text in the updated warning says for when alphabets are mixed.

[2017-03-06 23:54] dstorey opened #812 "Allow role="none" on img with alt="""
Currently the spec says only presentation should be allowed. I'm not sure if the spec isn't referencing Aria 1.1 yet, but it is in Cand Rec.

http://w3c.github.io/html/semantics-embedded-content.html#elementdef-img

[2017-03-06 23:55] dstorey commented on #812
Validator bug at https://github.com/validator/validator/issues/472

[2017-03-07 13:12] chaals commented on #303
The use case is outside HTML, which generally describes the content of a single page rather than a collection. The [Site-wide HTTP headers](https://tools.ietf.org/html/draft-nottingham-site-wide-headers-01) proposal at IETF seems to satisfy the requirements, and it is directly in scope there, so I am closing it for now as an issue for HTML…

There may be a question to raise later about how to use

[2017-03-07 13:12] #303 closed, assigned to chaals

[2017-03-07 13:23] chaals commented on #774
@patrickdark wrote

Please don't put different issues into the same one - if you want this different feature, either propose it in for incubation [e.g. in WICG](http://discourse.wicg.io) which would be my suggestion for this case, or raise it as a separate issue.

[2017-03-07 13:38] chaals commented on #378
@travisleithead is this related to #809 ?

[2017-03-07 13:54] chaals commented on #731
@siusin can we close this?

[2017-03-07 13:57] chaals commented on #801
This seems like it's not getting a lot of interest, and there is no implementation. I suggest incubating it e.g. [in WICG](https://discourse.wicg.io) to get some more buy in before we follow up further. Closing for now.

Explicit browser commitment - or implementation - would be grounds for re-opening.

[2017-03-07 13:57] #801 closed, assigned to nobody

[2017-03-07 14:03] chaals commented on #170
@LJWatson can we close this?

[2017-03-07 14:21] siusin commented on #731
@chaals
Sure!

[2017-03-07 14:21] #731 closed, assigned to siusin

[2017-03-07 14:59] jonathantneal commented on #774
@jakearchibald wrote

Would you please expand upon this assertion? It seems vague. Genuinely, evidence of implementation would help resolve interpretation of the current outline spec, which is an open issue (see #806 and #794). I’m not sure if you meant to, but you’ve not qualified what "implementation" means — is it exposure of the whole document outline as written in some kind of developer tool

[2017-03-07 19:02] AmeliaBR commented on #774
Hi all,

I wrote a (somewhat rambling) summary of this debate [for CSS-Tricks](https://css-tricks.com/document-outline-dilemma/), ending with a call to action asking people to start looking at the outlines generated for their websites (with and without the HTML 5 algorithm), and to identify where the problems are.  It remains to be seen if that results in any new clarity, or only more noise.

[2017-03-07 22:54] jakearchibald commented on #774
@jonathantneal

It's vague because I already covered it here and at https://jakearchibald.com/2017/do-we-need-a-new-heading-element/, but I'll go through it again. The last attempt at fixing this problem involved adding the following to the platform:

1. New tags (and all the DOM interfaces & parsing rules that go with them)
2. New default CSS to recognise contextual headings
3. Correct heading le

[2017-03-07 23:00] chaals commented on #218
So s/where different alphabets are mixed/where different languages share characters that use the same code point for different glyphs/ ?

Or something like that? @aphillips @r12a ? Do you want to re-open this?

[2017-03-07 23:40] mnot commented on #303
Ping @mikewest - another use case. Chaals, see https://github.com/WICG/origin-policy

[2017-03-07 23:56] jonathantneal commented on #774
My assertion is built on previous citations around heading semantics remaining as they were and being exposed to users as much that consume them, which is mentioned countlessly.

You wrongly asserted that I “thumbs down”-ed it for that. No, I merely reacted to your tone. I appreciate the sparing because I like to learn from you, and I’ve learned a lot and what I’ve learned has challenged my own pe

[2017-03-08 00:26] jakearchibald commented on #774
@jonathantneal

That isn't what "proving a negative" means ([see wikipedia](https://en.wikipedia.org/wiki/Philosophical_burden_of_proof#Proving_a_negative)). The HTML spec [defines an outline level for headings](https://html.spec.whatwg.org/multipage/semantics.html#outline-depth) that isn't exposed in the AT in Safari, Firefox, Chrome or Edge - that much can be proved.

You make assertions around

[2017-03-08 00:46] aphillips commented on #218
I will reopen this. We have some documentation [here](http://w3c.github.io/i18n-discuss/notes/language-detection.html#Why_language_metadata_is_needed) that discusses this, but not quite in the format here. Perhaps:

[2017-03-08 00:59] jonathantneal commented on #774
I must have been mistaken in the phrasing choice. My apologies, Jake.

I said “*Browsers ultimately rejected (see other blog posts) this part of the outline; which was one of the most important parts (see your own comments)*”.

I said this because @domenic [wrote](https://github.com/whatwg/html/issues/83#issuecomment-136883781):

And because you [wrote](https://github.com/w3c/html/issues/774#issue

[2017-03-08 01:04] aphillips commented on #218
@chaals  Hmmm, I don't have permission to reopen...

[2017-03-08 01:08] stevefaulkner commented on #774
@jakearchibald

I suggest that [2 is far from complete](https://w3c.github.io/html/rendering.html#sections-and-headings) as it only takes into account styling of nested `h1`'s (`h2-h6` are ignored) in sectioning content and does not take into account the styling of headings in [sectioning roots](https://w3c.github.io/html/sections.html#sectioning-roots) at all.

[2017-03-08 01:10] jakearchibald commented on #774
@jonathantneal Now you're getting it! Point to actual evidence!

Yes, failure to implement can be seen as a rejection. But maybe the reason was "can't be arsed", in which case your proposal also fails, or "bad for performance", in which case your proposal also fails etc etc. Knowing the reason is so important.

As you can see, I participated in https://www.w3.org/Bugs/Public/show_bug.cgi?id=25003

[2017-03-08 01:10] stevefaulkner commented on #218
@aphillips done

[2017-03-08 01:11] bkardell commented on #774
After having several conversations, and seeing lots of circling and frustration, I'd like to make a proposal...

I propose that we:

Either close this issue or at least agree to a "cease-fire" among the active participants until we have data collected.  In other words, let's not just argue the same points here.  Let's save this thread (or create a new one) for a definitive-ish answer to "why was i

[2017-03-08 01:12] jakearchibald commented on #774
@stevefaulkner yeah, there's work still to be done there. Although I fear that changing styles may be tougher on compatibility than changing the AT level.

[2017-03-08 01:13] jakearchibald commented on #774
@bkardell that's pretty much the conclusion I came to https://jakearchibald.com/2017/do-we-need-a-new-heading-element/#moving-forward - so yeah, I agree!

[2017-03-08 01:31] jakearchibald commented on #774
@stevefaulkner back in the day (https://www.w3.org/Bugs/Public/show_bug.cgi?id=25003), there were suggestions that simple markup could land you at heading levels in the 1000s. I asked for examples but never got any, are you aware of any? That'd be a perfect example of something to get in @bkardell's repo.

[2017-03-08 01:41] jonathantneal commented on #774
I’m thankful for this conversation and agree with @jakearchibald & @bkardell on next steps. I’ll continue efforts into [outline](https://github.com/bkardell/outline) and [h-element-spec](https://github.com/jonathantneal/h-element-spec). Since I opened it, I think I can close this issue based on the tags **needs implementations** and **needs incubation**. For future reference: I’d encourage someone

[2017-03-08 01:41] #774 closed, assigned to nobody

[2017-03-09 03:38] annopnod opened #813 "idea:appendchild can directly append childNodes or html code"
# Exsimple
**Old**
var container = document.getElementById("app-data");
var childNodes = toDom(songlist);

for (var i = 0; i < childNodes.length; i++) {
    container.appendChild(childNodes[i])
}
var toDom = function(str) {
  var tmp = document.createElement("div");
  tmp.innerHTML = str;
  return tmp.childNodes;
};
**New**
var container = document.getElementById("app-data");
var childNodes = toDo

[2017-03-09 19:41] ghost commented on #813
I think the recommended solution to your use-case is to use document fragments.

[2017-03-10 10:35] chaals commented on #813
Besides, it isn't clear what problem this proposal actually solves, but it does seem to require a change in behaviour.

Closing this for now - if you think it is worth pursuing, please develop the idea a bit more, explaining why we need it, who is committing to do the work required, and more precisely what that work is - i.e. how would this behave, what sort of input would be allowed, what happens

[2017-03-10 10:35] #813 closed, assigned to nobody

[2017-03-10 10:41] LJWatson opened #814 "Allow <div> as child of <dl>"
Has broad <a href="http://output.jsbin.com/figegu">browser support</a> (thanks to @selfthinker for the tests). Fixed with <a href="https://github.com/w3c/html/commit/ec2e514d525e7a7191d0287bf5b48a02f4d28312">this commit</a>.

[2017-03-10 10:44] #814 closed, assigned to stevefaulkner

[2017-03-10 20:06] travisleithead opened #816 "Bikeshed checkout command limits to last 100 entries of log..."
Requested commit is now number 121 in the history, so checkout fails...

[2017-03-10 20:07] travisleithead commented on #816
This is causing the builds to fail...

[2017-03-10 20:16] travisleithead commented on #816
Fixed by https://github.com/w3c/html/commit/ab053548993f78d7b52fbb98a7bf21161ee439a3

[2017-03-10 20:16] #816 closed, assigned to travisleithead

[2017-03-10 20:45] travisleithead commented on #754
@Chaals, all this feedback from the 5.1 spec is addressed in the editor's draft. AFAIK, we shouldn't be modifying the 5.1 recommendation. What's your take on back-porting these changes and re-publishing? (Or issuing errata or something?)

[2017-03-10 20:54] travisleithead commented on #492
Locking to the image itself (or in CSS the "content-box") seems very reasonable, making your coordinates much more portable to a variety of different layout styles (where borders, padding, etc. may be applied). I propose we take the spec change, align with the WHATWG, and get a test into WPT for this...

[2017-03-10 21:19] prushforth commented on #492
Since the coordinates have to make sense to a server component, which might not have all the info about the page which hosts the image, it doesn't seem right to include borders which aren't actually part of the image.  I will review the guidelines here: https://github.com/adanilo/web-platform-tests#contributing maybe I will be able to pitch in a bit.

[2017-03-10 21:26] travisleithead commented on #492
I'm already started on this... but here's a great link to get you started with testing: http://testthewebforward.org/

[2017-03-10 21:27] prushforth commented on #492
@travisleithead Thanks!

[2017-03-11 00:01] travisleithead commented on #535
Tests are now commited to WPT (https://github.com/w3c/web-platform-tests/pull/5012)

[2017-03-11 00:07] travisleithead commented on #492
At least Edge isn't exactly following the spec. They appear to use the coordinate origin of the CSS box in which the cursor resides. This means that in a map with a border and padding, (no one hit tests on margin thankfully), while the cursor is in the border box, the coordinates are sent relative to the origin of the border box; when the mouse transitions into the padding box, the coordinate orig

[2017-03-13 03:51] tstarling commented on #754
The spec says "Errata for this document are recorded as [issues](https://github.com/w3c/html/issues).". The [W3C process document](https://www.w3.org/2017/Process-20170301/#errata) says

A list of issues open which has not been reviewed by the WG, with no indication as to what version of the document they apply to, and in which issues closed in the editor's draft are removed from the list, does no

[2017-03-13 09:48] #812 closed, assigned to stevefaulkner

[2017-03-13 10:31] jgraham commented on #492
FYI all the docs are now at http://web-platform-tests.org

[2017-03-13 11:19] #500 closed, assigned to travisleithead

[2017-03-13 14:40] LJWatson commented on #170
Closing because the note seems to have it covered.

[2017-03-13 14:40] #170 closed, assigned to LJWatson

[2017-03-13 21:17] #661 closed, assigned to LJWatson

[2017-03-13 21:17] #733 closed, assigned to LJWatson

[2017-03-13 21:20] arronei commented on #591
This is now covered by bikeshed and should be linking using the standard definitions. If not this is a bikeshed issue affecting all specifications.

Other linking is handled by our new merging process.

[2017-03-13 21:20] #591 closed, assigned to arronei

[2017-03-13 21:42] travisleithead commented on #333
This is not essential. We will ultimately accomplish this as sections are converted.

[2017-03-13 21:42] #333 closed, assigned to travisleithead

[2017-03-13 21:46] arronei commented on #656
Will occur with new merge process.

[2017-03-13 21:46] #656 closed, assigned to arronei

[2017-03-13 21:48] arronei commented on #288
Will be wrapped up in new merge process.

[2017-03-13 21:48] #288 closed, assigned to arronei

[2017-03-14 00:04] #811 closed, assigned to travisleithead

[2017-03-14 00:12] travisleithead commented on #751
Still waiting for comment from @r12a. Moving to "When it's ready milestone" as the default action was already taken to align the two specs...

[2017-03-14 00:31] travisleithead commented on #748
Followed @zcorpan's above link to this thread with the details on the removal from DOM. Seems like it had implementor agreement: https://www.w3.org/Bugs/Public/show_bug.cgi?id=20976

I (or someone) should add test to see how this behavior change is going in implementations. It might be nice to at least change the note to mention the reality of what implementations are attempting, and note what pro

[2017-03-14 00:35] travisleithead commented on #633
This is outside of my expertise. Someone who know more about the infrastructure may be able to take this?

[2017-03-14 00:36] travisleithead commented on #545
I don't think this needs to be in for 5.2. Moving milestone...

[2017-03-14 00:42] travisleithead commented on #543
Came up again in relation to Web Assembly...(structured clone portability).

[2017-03-14 00:51] travisleithead commented on #378
@chaals no, #809 is about populating the Bikeshed database with exported DFNs automatically. This is more about definition navigation within a spec.

Having said that. There's no action to take yet, so moving to future.

[2017-03-14 00:57] travisleithead commented on #322
We're going to need implementor feedback on this one--would also love to see how much of the web would be impacted, and what that impact might be...

[2017-03-14 01:24] henke37 commented on #322
To be specific: what needs measurement is how often image resources get error responses, how often said error responses are valid images and how often scripting checks for image load failure. As well as some samples of applications that do look for failure/success and would behave different than the author intended in this corner situation.

[2017-03-14 15:01] chaals commented on #378
Is the action here to provide an internal "definition" of terms that are actually defined elsewhere, and manually link each of those to the source definition?

[2017-03-15 11:27] chaals opened #819 "is td in thead a header?"
The [`table` chapter](https://w3c.github.io/html/tabular-data.html) seems to be inconsistent. In [the description of `thead`](https://w3c.github.io/html/tabular-data.html#the-thead-element) it says its cells are headers, but elsewhere in the chapter, including the [table model](https://w3c.github.io/html/tabular-data.html#table-model), only `th` cells are described as header cells.

What do screen

[2017-03-15 11:44] chaals opened #820 "How should RTL tables be processed?"
[My quick test of RTL table layout](http://chaals.github.io/testcases/table-rtl-manual.html) shows that there are two behaviours - in Blink and Webkit, `dir="rtl"` has the expected effect, whereas in Gecko/IE/Edge it is only applied to a `table` or to the **individual cells** in a `thead` or `tbody`.

Should we try to get convergence on one behaviour or the other, or just note that in practice thi

[2017-03-15 14:13] chaals commented on #819
Safari 10 in VoiceOver on MacOS 10.10 reports a `td` within a `thead` element as a header for a column.

[2017-03-15 14:46] stevefaulkner commented on #819
@chaals you need to be careful in inferring semantics exposed in browsers from screen reader output. For example some screen readers in the absence of correctly marked up tables will report the top cell in a column as the col header, and left most cell in a row as the row header.

[2017-03-15 22:25] chaals commented on #819
Yes, I know. I did in fact check the "false negative" cases - Safari/VO reports headers for `th` cells and `thead` cells that fit the algorithm for finding headers.

Common browsers failed to do anything useful with tables beyond layout: no sorting, they don't fix headers when scrolling, they don't expose header information to users themselves, etc etc. So screen readers are the main class of impl

[2017-03-16 09:56] matial commented on #820
One thing is specially important IMO: if <dir="rtl"> is specified at a level higher than a table (e.g. on the HTML, BODY or DIV elements), the table and everything within it should inherit the rtl direction, unless the direction is re-specified at a lower level.

This is very important for translating pages from a LTR written language to a RTL written language, because all the mirroring can be car

[2017-03-16 10:28] chaals commented on #820
Yup. In my testing a table inside a `<div dir="rtl">` was laid out RTL by all browsers...

The question here is what should happens when something inside a table - especially `thead` or `tbody` because those are the cases where there is divergent behaviour - is marked in a different direction.

Aside:
Screenreaders running in english maintain the same navigation across the table, as if it were lai

[2017-03-17 17:13] clapierre commented on #561
So @stevefaulkner @chaals  what else is needed here?  Do we now need two implementations of this in order for this to be added to 5.2 WD 6, and not punted like it has from WD 5?

I know some publishers have been using aria-describedBy but this is not ideal as has been pointed out in this thread that the text is flattened etc...  So this does seem like a better solution and one that I have been pro

[2017-03-17 20:49] sideshowbarker opened #821 "Check status of <link rel=serviceworker>"
The `<link rel=serviceworker>` link type needs to be defined, along with the associated `scope`, `workertype`, and `usecache` content attributes, and the corresponding `scope`, `workerType`, and `useCache` IDL attributes need to be added to the `HTMLLinkElement` interface definition.

https://github.com/whatwg/html/commit/c5d4f5cbee270e81fd7ed49fd62ca2cd26741240

[2017-03-17 20:56] sideshowbarker opened #822 "Refine link-element section readability"
https://github.com/whatwg/html/pull/2354 has a PR for doing some reorganization of the section of the spec on the` link` element. Changes still need to be made in response to review comments. Once the patch actually lands I’ll update this issue with a link to the commit.

[2017-03-18 12:50] LJWatson commented on #561
@clapierre
For some mechanism to be included in HTML, either based on a <a href="https://github.com/w3c/html/issues/561#issuecomment-241204538">limited scope</a> such as a type attribute on the ```<summary>``` element, or on something more <a href="https://github.com/w3c/html/issues/561#issuecomment-245250059">widely available</a> like @stevefaulkner's prototype, we need a more fully fleshed out p

[2017-03-18 13:22] ghost opened #823 "JavaScript & CSS JS Rendered Blocked"
I have JavaScript & CSS JS rendered are blocked. For example :
http://suzukisumberbaru.com/wp-content/plugins/automotive/js/jquery-ui-1.10.3.custom.min.js

How to repair ?

[2017-03-18 13:23] ghost commented on #823
This is too :
http://suzukisumberbaru.com/wp-content/plugins/accordions/assets/frontend/css/jquery-ui.min.css

[2017-03-18 13:24] LJWatson commented on #561
Thinking out loud about an HTML solution based on @dwsinger's description, these are the requirements that come to mind:

* A mechanism that establishes a relationship between two elements; the first element being the thing to be described, the second element containing the description.
* The element being described and the element containing the description must exist within the same document.
*

[2017-03-20 05:31] annopnod opened #824 "idea:document.createElement"
**Exsimple**
CreateElement('div[data-id="1"][data-idd="2"]:html("dd"ss")');
**Output**
&lt;div data-id=&quot;1&quot; data-idd=&quot;2&quot;&gt;&quot;dd&quot;ss&quot;&lt;/div&gt;
**JS Code**
function CreateElement(querystring) {
 var tagname = "";
    var attr = querystring.match(/\[(.*?)\]/g)|| [ ];
    var htmlcode = querystring.match(/:html\((.*?)\)/);
    var matchspecialchars = /[:*?+^${}[\]()

[2017-03-20 12:14] edent opened #825 "Leap Seconds Typo?"
In [2.4.5. Dates and times](https://www.w3.org/TR/html51/infrastructure.html#dates-and-times), it says:

I think this should be

Ref https://github.com/w3c/html/blob/master/sections/infrastructure.include#L2237

([IS08601 *does* support leap seconds](https://www.cl.cam.ac.uk/~mgk25/iso-time.html) - but most JS implementations don't support `60` in the seconds field)

[2017-03-20 12:29] chaals commented on #823
Hi, this issue tracker is for issues with the HTML specification https://w3c.gituhb.io/html/

For help with individual questions about how to use jquery, you should try a jquery forum or a general help forum.

[2017-03-20 12:29] #823 closed, assigned to nobody

[2017-03-20 12:40] chaals commented on #824
Hi,

This looks like an interesting utility script, but needs some work before it is ready to raise as an issue. I assume the proposal would be to allow the use of createElement natively as in the example, but it is unclear why this is important enough to implement in a browser.

Proposing it to e.g. [WICG](http://discourse.wicg.io), showing that a library function like this is used widely and dem

[2017-03-20 12:40] #824 closed, assigned to nobody

[2017-03-20 13:38] edent opened #827 "Accidental list item on newline"
In [2.4.5. Dates and times](https://www.w3.org/TR/html51/infrastructure.html#dates-and-times), there is a formatting error:

![screen shot 2017-03-20 at 13 30 43](https://cloud.githubusercontent.com/assets/837136/24101816/a4b66154-0d71-11e7-8bbf-34f5e9239390.png)

The source text places a newline at 115 characters. Because the newline starts with `9999. ` the interpreter thinks it is the start of

[2017-03-20 14:52] #825 closed, assigned to cynthia

[2017-03-21 19:33] inexorabletash opened #829 "Hooks for Indexed DB, StructuredSerialize"
cc:  @LJWatson  @siusin

* https://github.com/whatwg/html/commit/915dae1acdf59934d8f7e4820633f727ea33e501 introduces a step which calls into Indexed DB, replacing imprecise spec "monkey patching" with correct behavior across the specs. Context at https://github.com/w3c/IndexedDB/issues/87

* https://github.com/whatwg/html/commit/97d644c97335956610a31e8ad98d1a388c063e84 is a big change (noted as 'b

[2017-03-23 18:03] r12a commented on #751
After consulting with bidi experts, the i18n WG agrees that this is a thorny area, and thinks you should go ahead and align the specs by dropping these requirements.

[2017-03-24 10:52] alrdytaken opened #830 "<body>: Add sectioning content to its categories"
https://www.w3.org/TR/html51/dom.html#heading-content

This part of the specification implies that sectioning content is needed to define a section _explicit_.

https://www.w3.org/TR/html51/sections.html#the-body-element

This part defines &lt;body&gt; as non-sectioning content but sectioning root.

https://www.w3.org/TR/html51/sections.html#example-d42b7aaf

Now in this example 27 according to th

[2017-03-24 16:47] agcolom opened #831 "Label example has broken code layout"
the &lt;code&gt; tags in the caption in the [example](http://w3c.github.io/html/sec-forms.html#example-2fe9f5df) breaks the layout of the code.

I would like to check with you whether the code tags inside the caption were intentional.

[2017-03-24 23:45] #827 closed, assigned to nobody

[2017-03-25 14:02] edent opened #832 "Broken & insecure links in spec-data. How to fix?"
There are several links in `.spec-data` which don't use `https` where available.

I'm not sure what the structure or purpose of the `spec-data` folder is.

Is it OK to just go in an change [links like this](https://github.com/w3c/html/blob/master/.spec-data/biblio/biblio-og.data#L10) to point to `https` sources?  Or do I need to change them in a specific location and regenerate them? Or have I mis

[2017-03-27 15:43] AmeliaBR commented on #735
I agree that this isn't a Content Security Policy issue, since the presentational markup cannot affect the rest of the page, nor can it trigger file fetch (other than for webfonts defined elsewhere).  If the primary goal is to enforce a consistent style, there are established CSS methods to do so.

`<font>` tags and other obsolete presentation markup are implemented in browsers (as far as I know)

[2017-03-28 09:34] chaals opened #833 "Fix multipage building"
Reportedly runs windows machines out of memory. /@ljwatson

[2017-03-28 09:42] stevefaulkner commented on #831
thanks @agcolom the `<code>` in the example was incorrect.

[2017-03-28 09:46] #762 closed, assigned to stevefaulkner

[2017-03-28 12:57] stevefaulkner commented on #586
closing wont fix as this section is not normative and we have parity with WHATWG on the advice.

[2017-03-28 12:57] #586 closed, assigned to stevefaulkner

[2017-03-28 13:59] chaals commented on #561
@clapierre wrote

Sorry, what does "this" mean? The `open` attribute is already in the spec, implemented, and going to be part of HTML 5.2 unless browsers all remove it, if that's what you mean. But I am not certain that it is.

[2017-03-28 14:11] TzviyaSiegman commented on #561
@chaals I am still on leave, so forgive the brevity. One of the original goals was avoiding much markup beyond what's already in the html and aria, especially much in the way of CSS, given ebook readers' less than happy relationship with CSS. @LJWatson's comments (https://github.com/w3c/html/issues/561#issuecomment-287546139) are spot on. cc/@clapierre, @dwsinger @deborahgu

[2017-03-29 08:05] chaals commented on #487
This is part of editorial conventions for best practice - we'll document it there and close it as a formal issue.

[2017-03-29 08:05] #487 closed, assigned to nobody

[2017-03-29 08:06] chaals commented on #310
This is a general editing practice, not an issue. Will be documented in editorial best practice.

[2017-03-29 08:06] #310 closed, assigned to nobody

[2017-03-29 09:12] chaals opened #837 "Should readonly (or something like it) work for non-text form elements?"
Input types that are not supported, such as `datetime` currently, are presented as text inputs, and therefore `readonly` applies.

It is also, apparently repeatedly (citation needed), allowed to apply in initial implementations of new widgets.

The use case is allowing preview of a control which will be submitted - `disabled` means the control won't be submitted, requiring the developer to add e.g

[2017-03-29 09:35] chaals commented on #819
OK, I'll do a bit more testing with other screenreader/browser combos. Looking for import/export tools and printing tools might be relevant too, if they have some special treatment for headers.

[2017-03-29 10:02] chaals commented on #485
@stevenatkin did you get to put some tests together? I don't know any Hindi, so I am not a likely candidate :(

[2017-03-29 10:05] chaals commented on #485
ping @shwetank

[2017-03-29 13:06] stevefaulkner commented on #764
related https://github.com/whatwg/html/commit/5e0b8e673d09bc6042190335f9e522e9c802d26c

[2017-03-29 13:50] LJWatson commented on #306
There are no plans to add screen capture to the alt techniques. The section is already lengthy, and the use case is perhaps better suited to a long description not a short description.

[2017-03-29 13:50] #306 closed, assigned to stevefaulkner

[2017-03-29 13:54] #218 closed, assigned to stevefaulkner

[2017-03-29 13:57] #831 closed, assigned to stevefaulkner

[2017-03-29 13:58] adanilo commented on #596
On second look, this doesn't seem to be possible. The wording already explains that the attributes map to the dimension properties anyway. Adding any CSS rules isn't possible since the mapping being described is from attribute -> property, not the other way around. The related discussion in WICG is about a new CSS feature proposal, not what browsers implement now. Closing for now, feel free to re-

[2017-03-29 13:58] #596 closed, assigned to adanilo

[2017-03-29 14:05] siusin commented on #227
Looking at [Apple's System-Declared Uniform Type Identifiers](https://developer.apple.com/library/content/documentation/Miscellaneous/Reference/UTIRef/Articles/System-DeclaredUniformTypeIdentifiers.html) and MS's [Standard Clipboard Formats](https://msdn.microsoft.com/en-us/library/windows/desktop/ff729168(v=vs.85).aspx), I think the current [IANA considerations](https://w3c.github.io/html/iana.ht

[2017-03-29 14:17] siusin opened #841 "Update the contact information of Media Types"
The "Person & email address to contact for further information" data in the current [IANA section](https://w3c.github.io/html/iana.html#iana) seems to be out-of-date.

In [5.0](https://www.w3.org/TR/html5/iana.html#text/html), the contact for those registered Media Types was the team contact. Suggest we update it as public-html@w3.org.

Thoughts?

[2017-03-29 14:23] adanilo commented on #282
The current algorithm doesn't match the description which was made almost 2 years ago. In any case, the simple answer is that the browser/fetch algorithm would buffer the bytes until creation of the parser. Also, the waiting for bytes step is to detect if the resource exists, then the next thing is checking the response which could be false or a redirect in which a parser wouldn't be created.

The

[2017-03-29 14:23] #282 closed, assigned to adanilo

[2017-03-29 14:39] siusin commented on #832
@edent

This is very good suggestion, but the `.spec-data ` in our repo is a auto-copy from [Bikeshed](https://github.com/tabatkins/bikeshed) during the [Automatic build process](https://github.com/w3c/html/blob/691eef8940d4da8f44346d321b7d86f11db82f22/docs/editing-documentation.md#automatic-build-process).

Could you please raise an issue or submit a PR to the [Bikeshed tool](https://github.com/t

[2017-03-29 14:39] #832 closed, assigned to siusin

[2017-03-29 14:40] chaals commented on #841
Seems reasonable to me. Or does W3C have a formal contact point that we should use?

[2017-03-29 14:44] siusin commented on #841
@chaals
Our [liaison page](https://www.w3.org/2002/06/registering-mediatype2014.html#RegStatus) isn't quite update-to-date neither...

[2017-03-29 14:54] chaals commented on #764
This doesn't completely document behaviour. A summary element that is [the last child](http://chaals.github.io/testcases/details-with-summary-last-manual.html) or [a direct child with siblings before and after](http://chaals.github.io/testcases/details-with-summary-middle-and-last-manual.html) doesn't abort the algorithm but instead actually behaves as a valid `summary` that is the first child of

[2017-03-29 16:23] aphillips commented on #218
I'm satisfied by this change. Thanks!

[2017-03-29 17:20] chaals commented on #764
The rendering stuff seems to be OK already. I made a commit to fix the activation algorithm that should have been a PR - except I was tired and missed the button - plus another PR. I think that should get us nearly there - maybe we need to note the interactive nature e.g. in describing what elements have `.tabindex == 0` by default but that's a different issue (#199)…

[2017-03-29 17:24] chaals commented on #764
`summary` should also be listed in dom.include at #interactive-content

[2017-03-29 17:30] chaals commented on #544
`style` should also be listed as flow content, no? in dom.include at #flow-content

[2017-03-29 17:45] chaals opened #845 "allow input type="email" to accept unicode values"
This is related to #538 - the "left hand side" of an email address can, in the internationalised world, be more or less anything. But currently the spec only allows ASCII.

We're looking to see evidence that the world's deployed email infrastructure actually works with utf-8 before pushing this change.

[2017-03-29 21:15] polx commented on #227
Hey @siusin,
The [IANA considerations](https://w3c.github.io/html/iana.html#iana) I can see does not have the word clipboard, flavor in it. Should I look in the history orsee candidate version?

Moreover, are you telling me in your comment that:
1) you feel it's ok to leave this in the hands of software vendors such as Apple or MicroSoft instead of writing this in a standard?
2) The MicroSoft page

[2017-03-29 21:30] spixi opened #846 "HTML5.2 proposal (request for comments): add new attribute "subject" to <p>"
It should be possible to assign an optional subject to a paragraph which is displayed as a "catchword" before the paragraph, usually inline, in some books also next to the paragraph on the page margin. Unlike headings (`h1` to `h6`) the subject is only valid for a single paragraph.

The DIN 5008 mentions this catchword as "Teilbetreff", it is used for business letters in Germany and may also occur

[2017-03-29 21:31] ericstamper opened #847 "Invalid code example in section 4.3.4 The nav element"
In Code Example 10 of Section 4.3 (in subsection 4.3.4 on the nav element) there is invalid code. Specifically, there are two main tags, with the second main tag being used inside an article tag. The W3C validator gives two error messages:

Error 1: The element main must not appear as a descendant of the article element.

Error 2: A document must not include more than one main element.

For purpos

[2017-03-29 22:42] #847 closed, assigned to stevefaulkner

[2017-03-30 08:17] chaals commented on #764
Oh. The rendering section only deals with the case where `summary` is used correctly.

If it isn't the first summary element that is a child of a details element, then it's basically treated like a `span`.

[2017-03-30 08:26] chaals commented on #577
Closing this issue, but exporting relevant definitions will probably be something we need to consider as part of editorial practice…

[2017-03-30 08:26] #577 closed, assigned to adanilo

[2017-03-30 08:36] #729 closed, assigned to adanilo

[2017-03-30 08:43] chaals commented on #829
Needs more than a 3-minute skim to figure where this is up to in implementation. setting to milestone 7

[2017-03-30 08:51] siusin commented on #227
@polx apologise if I got it wrong in the previous comment...

Were you proposing the spec should 1) append the Macintosh Universal Type Identifier code/Macintosh file type code, the Windows Clipboard Name information to [Additional information](https://w3c.github.io/html/iana.html#iana) , or did you want to 2) define a general clipboard flavour names for all the software vendors?

If 1) makes sens

[2017-03-30 08:57] chaals commented on #199
This was closed by #451

[2017-03-30 08:57] #199 closed, assigned to chaals

[2017-03-30 09:27] #763 closed, assigned to adanilo

[2017-03-30 09:29] #544 closed, assigned to adanilo

[2017-03-30 09:39] chaals commented on #846
This can be done easily with CSS and a data-* attribute today, something like

style:
[code]

and in the document:
[code]

To justify making browsers handle this natively it is important to demonstrate that there is a common enough demand for it across the Web - and that this is the right approach.

Another possible solution, **if** the use case is demonstrated as important enough to convince brow

[2017-03-30 09:39] #846 closed, assigned to nobody

[2017-03-30 09:48] adanilo commented on #548
Current 5.2 WD references fetch.

[2017-03-30 09:48] #548 closed, assigned to adanilo

[2017-03-30 10:31] chaals commented on #274
@dstorey did you keep using that? Got a pointer to a production page?

[2017-03-30 12:18] dontcallmedom commented on #778
as far as I can tell, this isn't implemented yet; the closest browser bug report I [have found](https://browser-issue-tracker-search.appspot.com/?q=allowusermedia) is in [Chromium's](https://bugs.chromium.org/p/chromium/issues/detail?id=682258).

I have started looking at test cases, but it looks like the best approach would be to start from the [tests built for `allowpaymentrequest`](https://gith

[2017-03-30 12:44] TzviyaSiegman commented on #846
Thanks. This is conceptually related to work done in IDPF's EPUB for Education. It's similar to epub:type="keyword". DPUB has plans to shift the epub:type vocab [1] into something that is html- friendly. cc/@rickj

[1] https://idpf.github.io/epub-vocabs/structure/

[2017-03-30 13:38] stevefaulkner commented on #583
@dd8 any progress?

[2017-03-30 14:08] stevefaulkner commented on #64
dropzone dropped in whatwg https://github.com/whatwg/html/pull/2402

[2017-03-30 14:17] LJWatson commented on #764
Closed with #851

[2017-03-30 14:17] #764 closed, assigned to LJWatson

[2017-03-30 14:26] #807 closed, assigned to stevefaulkner

[2017-03-30 14:35] chaals commented on #589
Closing this issue in favour of dealing with the whole mess in #274

It's likely that we'll drop everything that isn't a contextmenu, and match that part of the spec to Firefox' implementation which seems pretty reasonable.

But even that part will be marked at risk for HTML 5.2 - although it is one of the top-20 most popular bugs for Chromium, it doesn't seem anyone will implement it within the 5

[2017-03-30 14:47] chaals commented on #413
Just pushed this milestone out. I'm not suggesting there is no need for this, nor that there is no implementation - and since in practice browsers do nothing important with `time`, but other agents consume the data, getting this change to happen is a question of demonstrating the concrete cases for providing and consuming the data, and that they are likely to be implemented…

ping @danbri

[2017-03-30 14:55] chaals commented on #735
I think we should close this issue. It's not clear what practical security risks are opened.

ping @mkwest

[2017-03-30 15:04] chaals commented on #538
@klensin wrote

and @duerst seconded it, quite rightly.

We're scoping this issue to the IDN part, and I raised #845 to deal with the local part. (I should rename that to be clearer).

I will propose something for the IDN part as soon as I can.

[2017-03-30 15:10] LJWatson commented on #461
It looks like dataCue is <a href="https://developer.microsoft.com/en-us/microsoft-edge/platform/catalog/?page=1&q=DataCue">supported in Edge and Safari (no vendor prefix)</a>.

[2017-03-30 15:11] #589 closed, assigned to adanilo

[2017-03-30 15:14] chaals commented on #754
This doesn't match an HTML 5.2 milestone because the only issue is whether the HTML 5.2 spec is sufficient for people to refer to or whether there is value in publishing an update of an old version in the interim.

[2017-03-30 15:27] siusin commented on #234
The textarea element section in the spec has changed since 2012. The current definition matches this request. See [test](https://github.com/w3c/web-platform-tests/pull/5272).

Suggest we close this issue.

[2017-03-30 15:27] r12a commented on #470
Looks good to us. Thanks!

[2017-03-30 19:39] #470 closed, assigned to stevefaulkner

[2017-03-30 20:40] travisleithead commented on #822
Adding a PR for the in-flight changes over in WHATWG repo.

[2017-03-30 20:50] travisleithead commented on #821
Wait for #822's PR #852 before starting this--the refactoring will put this in the right spot and be easier to merge.

[2017-03-30 22:53] travisleithead commented on #833
Confirmed. (Just checked.)

[2017-03-30 22:54] travisleithead commented on #833
I noticed after checking the TravisCI logs that the w3c/html-tools version of the multipage tool is _not_ being used... so I'm flattening that with adrianba's latest copy, and then switching the build tools to work off of that copy (so that we don't depend on adrianba's private GitHub repo... :)

[2017-03-30 23:03] travisleithead commented on #833
OK https://github.com/w3c/html-tools/pull/5 is the PR that updates html-tools.

[2017-03-30 23:04] travisleithead commented on #833
And this commit swaps the build infrastructure... https://github.com/w3c/html/commit/424e74df724f3e72cd8fa9779c75b82bfd6f6f9f

[2017-03-30 23:32] dstorey commented on #274
@chaals yes, except we polyfill by converting to markup that works accessibly out of the box. For example "status" button drop down on https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/ (and additional ones when logged in). If you view source you will see the original markup the author writes, while DOM explorer will give you the converted source (menu attribute and type are sti

[2017-03-31 11:19] chaals opened #853 "contextmenus in pages should not override browser context menus"
The [advice in the section on menus](https://w3c.github.io/html/interactive-elements.html#context-menu-processing-model) to allow user agents to hide the normal context menu, and only present what the author asked for, isn't very helpful.

It allows a phishing-type attack, and may remove important functionality from the browser.

[2017-03-31 15:50] chaals commented on #833
So does this mean a need to change the [build documentation?](https://github.com/w3c/html/blob/master/docs/build-documentation.md)

[2017-03-31 17:22] gerv commented on #853
Can you explain how it allows a phishing attack? If the attacker has control of the page, they have control of the page, and can just run arbitrary script - they don't need to use a faked-up context menu to do it.

[2017-03-31 19:38] #765 closed, assigned to cynthia

[2017-03-31 20:23] travisleithead commented on #833
I watched the NodeJS process hit 1.99GB of memory before the GC allocator finally tossed-up its hands.

[2017-03-31 22:13] travisleithead commented on #833
I have a fix for this now over in the html-tool repo: https://github.com/w3c/html-tools/pull/6

[2017-03-31 22:35] travisleithead commented on #833
Merged.

[2017-03-31 22:35] #833 closed, assigned to travisleithead, adrianba

[2017-03-31 22:48] travisleithead commented on #378
@chaals yes. We have a rather large section of the spec ([Dependencies](https://w3c.github.io/html/infrastructure.html#conformance-requirements-dependencies)) that is intended for this purpose:

but these are a mixture of external links and **dfn**s.

We could consider just removing all but the most general dependency notices from that section, and leave the actual specifics to the [Terms defined

[2017-04-01 02:45] chaals commented on #819
See also #583

[2017-04-01 02:49] chaals commented on #583
I'm not sure what tools use the headings algorithms, apart from browsers reporting them for screenreaders.

That question applies also to #819 which is sort of a subset of this. Knowing which tools were using this - data processors? - would help understand what the risk of changing it is.

[2017-04-01 02:54] chaals commented on #274
@dstorey thanks.

Note that in PR #854 I removed the radio type - since as far as I can tell it isn't implemented. Is there any reason that you guys thought it would make more sense than just using commands?

(Yes, FF implemented with non-void `menuitem`)

[2017-04-01 04:28] xfq opened #856 "w3c.github.io and /TR"
In [docs/contributing-documentation.md](https://github.com/w3c/html/blob/49073d89a7829dc3dbbfc3802f38bf9845902117/docs/contributing-documentation.md#branches-and-versions):

But the link actually contains the HTML 5.1 Recommendation, instead of the latest ED (which is available at https://w3c.github.io/html/).

[2017-04-01 07:17] edent commented on #832
Fixed upstream. https://github.com/tobie/specref/issues/340

[2017-04-01 09:49] #856 closed, assigned to chaals

[2017-04-01 09:51] LJWatson commented on #856
With thanks @xfq

[2017-04-01 09:53] chaals commented on #853
I mean that it is possible for the author of the page itself to confuse the user by making the faked-up context menu do something different.

I'm not sure whether that actually opens any **new** security risk... my general rule of thumb is that replacing bits of browser UI isn't good - and then I ask for review from smart people.

[2017-04-01 10:11] #274 closed, assigned to chaals

[2017-04-01 15:00] ZoeBijl opened #858 "GitHub pages are down"
When I navigate to https://w3c.github.io/html/ I get a 404.

[2017-04-01 16:25] plehegar commented on #858
It's back. The repo was deleted by mistake.

[2017-04-01 16:25] #858 closed, assigned to nobody

[2017-04-01 23:35] TokushigeKobayashi opened #859 "Inconsistent description about the usage of rank element"
https://www.w3.org/TR/2016/REC-html51-20161101/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements

"h2–h6 elements must not be used to markup subheadings, subtitles, alternative titles and taglines unless intended to be the heading for a new section or subsection."

https://www.w3.org/TR/2016/REC-html51-20161101/common-idioms-without-dedicated-elements.html#common-idioms-without-dedicated-elements

[2017-04-02 15:19] dance-cmdr opened #860 "4.11.7. dialog element - There is no HTML markup to distinguish open as a modal or non-modal"
[4.11.7. The dialog element](http://w3c.github.io/html/interactive-elements.html#the-dialog-element
)

The dialog element supports two ways to open it. `dialog.show()` and `dialog.showModal()`.

However, in HTML markdown we have only one way to define that a dialog element is open and that is by using the boolean attribute `<dialog open>`.

The problem occurs when we want to reproduce this `open a

[2017-04-03 00:53] chaals commented on #860
@alexandros-s do you have test cases, and/or results broken down by implementation?

I changed the title slightly to try and be clearer what this is asking for...

[2017-04-03 01:08] chaals commented on #561
@TzviyaSiegman for the requirements listed there by @LJWatson `details`/`summary` seems to meet all the requirements, and is implemented in Gecko, Webkit and Blink pretty much exactly the same.

That has the constraint that the thing described must be surrounded in the source by its description - you cannot point to a description elsewhere in the document, nor re-use it, both of which you can do w

[2017-04-03 02:11] chaals commented on #104
see also #819

[2017-04-03 02:14] chaals commented on #236
Keeping this open. We should update the spec if we get interoperability on the useful behaviour we suggest.

[2017-04-03 02:18] chaals commented on #234
OK, closing

[2017-04-03 02:18] #234 closed, assigned to plehegar, siusin

[2017-04-03 02:25] chaals commented on #291
From [discussion at last week's face to face meeting](https://www.w3.org/2017/03/28-html-minutes.html#item10):

Proposal is to remove ruby entirely from the main spec, and update the [Ruby Annotations Recommendation](https://www.w3.org/TR/ruby/) with a new version that obsoletes the various things that are out there. Note that there is also an [editor's draft for a Ruby extension](http://darobin.g

[2017-04-03 02:28] chaals commented on #290
Note to self: Looking at the test cases given, it seemed that there is poor interop, but it might be that I am misreading them. Should probably make some more tests...

[2017-04-03 02:31] chaals commented on #437
@tidoust yes, we would love you to prepare a PR...

[2017-04-03 02:44] chaals commented on #456
It might be useful to put an informative note in the spec describing the various possible ways to do this - for example, pointing to [Lea's comment above listing things](https://github.com/w3c/html/issues/456#issuecomment-224285017). But for getting a common way to do this, we need incubation. I'm leaving this open for the informative comment…

[2017-04-03 02:47] chaals commented on #560
Note that Can I Use [*claims*](http://caniuse.com/#search=referrer-policy) there are two good implementations, plus partial implementation in other modern engines

[2017-04-03 04:28] chaals commented on #538
This was [discussed](https://www.w3.org/2017/03/29-html-minutes.html) at the face to face meeting on 29 march, leading to the conclusion to propose something as above…

[2017-04-03 10:19] r12a commented on #291
This issue is about `rbc`, which as @kojiishii points out, is not part of the HTML content model.  It would certainly be worth considering whether that should or should not at some point be brought into the HTML content model, but that's another issue altogether. As, i think, is the question of whether or not to remove ruby entirely from the HTML spec, and a separate issue should be raise for that

[2017-04-03 11:15] patrickhlauke commented on #194
Related, the same incompatibility happens for `<select>` - worth filing a separate issue or generalising this to clarify when `onchange` should be fired for all types of form controls/widgets? xref https://bugzilla.mozilla.org/show_bug.cgi?id=126379

[2017-04-04 02:44] chaals commented on #485
I'd like to close this issue, either doing nothing, or getting some evidence that we need to change to match reality.

If someone (@stevenatkin @r12a ?) can show a test for e.g. Hindi that makes an accesskey work for a grapheme that is a single keypress but not a single unicode codepoint I'll happily change the spec to match reality. I simply don't know enough about Hindi to produce a test.

I wro

[2017-04-04 03:04] chaals commented on #485
@andjc it's more or less certain that any given character won't be available on some user's keyboard, for a variety of reasons. The most common for Latin characters is that a screenreader is already using the relevant combination - for example with VoiceOver it rules out most of the available keys. That's a known limitation of `accesskey`, but at least it is generally implemented in such a way tha

[2017-04-04 05:25] chaals commented on #194
@patrickhlauke is #263 what you're asking for?

[2017-04-04 07:37] chaals commented on #291
@r12a I also understand that all the pieces of `ruby` in HTML except `rtc` rendering are interoperably implemented.

The idea is not to argue that ruby somehow isn't part of HTML. Indeed, the basis for doing the work on updating the old [Ruby Annotation Recommendation](http://w3.org/tr/ruby) is that it **is** part of HTML, which is why it is in scope.

Instead, the point of the proposal is to brea

[2017-04-04 07:41] patrickhlauke commented on #263
related (as pointed out by @chaals) it would be good to explicitly define as part of this when `onchange` should fire, as there's currently an incompatibility between firefox and other browsers (which for some dynamic forms, where fields are shown/hidden based on what the user selects in the `<select>`, causes real-world problems for keyboard users - see https://bugzilla.mozilla.org/show_bug.cgi?i

[2017-04-04 07:42] patrickhlauke commented on #194
@chaals indeed, thanks for pointing to that one. i've added a comment over there

[2017-04-04 07:46] sideshowbarker opened #863 "Add missing word “characters” in definition of “inter-element whitespace“"
See https://github.com/whatwg/html/pull/2501

[2017-04-04 07:52] chaals commented on #863
As far as I can tell we already have this: https://w3c.github.io/html/dom.html#inter-element-white-space
@sideshowbarker?

[2017-04-04 07:56] stevenatkin commented on #485
Team,

Sorry for the late reply. I will contact my team in India to see if I can get an example.

[2017-04-04 07:57] sideshowbarker commented on #863
Yes—should have checked before I raised this…

[2017-04-04 07:57] #863 closed, assigned to nobody

[2017-04-04 10:34] tidoust commented on #437
The checks on the sandboxing flag have been moved to the `PresentationRequest` constructor in the Presentation API (and are no longer done in response to calls to `start`, `reconnect` and `getAvailability`). The tests have been updated accordingly:

* [Sandboxing: Creating a PresentationRequest from a nested context fails when allow-presentation is not set](https://w3c-test.org/presentation-api/co

[2017-04-04 11:48] ZoeBijl commented on #754
Is it a breaking issue? In other words, are those system identifier now invalid? If not, I don’t see why the WG should go through the trouble of publishing a 2nd edition (with all the new links associated with that) instead of waiting another 5-6 months.

[2017-04-04 15:11] agcolom commented on #754
I'd be inclined to address the issue as part of the 5.2 recommendation, unless it is crucial to have it fixed in the 5.1 recommendation via a 2nd edition.

[2017-04-04 15:34] agcolom commented on #754
Also, I'm not actually seeing any broken link... Could someone please point out what actually is broken (or is it that https is now supported and this is no longer an issue?). Thank you

[2017-04-04 16:07] LJWatson commented on #754
@agcolom I believe the problem is that in 5.1 the system identifiers included in examples (like the doctypes) use https:// instead of http://. The concern is that people reading this section could end up using an incorrect system identifier - though I'm not sure what the real-world implications of doing so would be (an invalid system identifier doesn't trigger quirks mode AFAIK).

It's definitely

[2017-04-04 16:34] arronei commented on #754
We should always be moving forward. I think we should publish a 5.2 and let 5.1 be replaced. If we go back to 5.1 where do we stop? There are many other issues with 5.1 that we probably should consider fixing but we decided to move to 5.2.

[2017-04-04 17:17] #711 closed, assigned to arronei

[2017-04-04 18:45] aardrian commented on #754
Is there any evidence since these were published in November what the impact has been?

And then, based on that evidence, is W3C willing to risk an even greater impact (at the existing rate) by the time 5.2 is released?

I do not have enough information to have an informed opinion, but as far as uninformed opinions go I suspect this can be tabled for the 2-3 months between publishing an update and

[2017-04-04 18:52] ghost opened #865 "Post form as JSON"
When can we submit a form in a modern format such as JSON?
I think it is about time.

[2017-04-04 21:17] tstarling commented on #754
There's no real-world impact because nobody uses this standard anymore, for reasons that are becoming increasingly obvious. Apparently nobody even bothered to review a 5.0 -> 5.1 diff before I did so in December, and there's no evidence that anyone has done so since then. I've always found that working with an upstream on a minor bug is a good way to get a feel for how the project works, and on th

[2017-04-04 21:26] aardrian commented on #754
Well, the first statement is demonstrably not true (as I see non-zero numbers of people reference it often) and so the second part of the statement, being dependent on the first, is not obvious.

If you have *evidence* of impact (per my request above), please share.

[2017-04-04 21:34] agcolom commented on #754
@tstarling I don't want to be running off topic here, however, I can assure you that I am in the process of reviewing the 5.2 documentation... with planned call with the core editors as soon as the review is completed (hopefully another 2 weeks max).

[2017-04-05 00:13] dance-cmdr commented on #860
The test case could be a page with a modal disclaimer that is necessary to be dealt with before we actually use the document.

Another user case is that in react you have to use antipattern, to change the state of a modal. You can't just do it by adding or removing a property like open or it's value. You instead have to invoke `dialog.showModal()`. I guess it will cause the same problem to other u

[2017-04-05 08:26] imkremen opened #866 "Problem with daylight saving time and date-time input element."
When developing a project where the accuracy of the entered time is very important, we are faced with the fact that in modern browsers elements for entering the date and time do not take into account one of the possible scenarios associated with the transition to daylight saving time.
In most world locations, there have been and will be times when local clocks are moved back. In those times, inter

[2017-04-05 10:55] steveatkin commented on #485
My team in India has provided this information that may help:

Here are some links from which one can see the variety of keyboards for Hindi.

http://indiatyping.com/index.php/download/hindi-keyboard-layout

https://www.microsoft.com/resources/msdn/goglobal/keyboards/kbdinhin.html

One of these corresponds to the Inscript keyboard (similar to MS Windows Keyboard layout for Hindi in the second link

[2017-04-05 11:03] r12a commented on #485
in case it helps

SHRA is श्र
श  ‎0936  DEVANAGARI LETTER SHA
्  ‎094D  DEVANAGARI SIGN VIRAMA
र  ‎0930  DEVANAGARI LETTER RA

KSHA is क्ष
क  ‎0915  DEVANAGARI LETTER KA
्  ‎094D  DEVANAGARI SIGN VIRAMA
ष  ‎0937  DEVANAGARI LETTER SSA

[2017-04-05 12:18] chaals commented on #485
@r12a It does indeed - thank you. @steveatkin ditto :)

I should be able to make a test case, and test it. Hopefully I find time for that within a week.

[2017-04-05 15:53] ZoeBijl commented on #853
FWIW: you can already replace the context menu entirely with JavaScript if you so wish. I’m not sure how these implementations work with keyboard, but they exist nonetheless. I’m not talking about `<menu>`, but rather using divs and buttons or whatever to create menu.

[2017-04-05 18:42] sideshowbarker opened #867 "(Re)disallow script defer/async attributes w/o src"
See https://github.com/whatwg/html/pull/2509

[2017-04-06 12:08] LJWatson commented on #866
Thanks @imkremen

Do you suggest we put the warning in [4.10.1.8 Date, time and number formats](https://www.w3.org/TR/html52/sec-forms.html#date-time-and-number-formats), [4.10.5.1.7 Date and time state (type="datetime")](https://www.w3.org/TR/html52/sec-forms.html#date-and-time-state-typedatetime), [4.10.5.1.1.11 Time state (type="time")](https://www.w3.org/TR/html52/sec-forms.html#date-and-time-

[2017-04-06 12:55] LJWatson opened #868 "Focus ring rendering guidance"
Would it be useful to add something about focus ring behaviour to [10 Rendering](https://www.w3.org/TR/html52/rendering.html#rendering)?

[2017-04-06 13:02] patrickhlauke commented on #868
from memory (i'm sure i missed out something or misremembered, not had a chance to retest), in the past all browsers used to apply the default focus ring/outline when an element received focus, always. this is the root cause of the css reset `outline:none`. see https://24ways.org/2009/dont-lose-your-focus/

more recently though, browsers started applying heuristics to determine when to show or not

[2017-04-06 13:11] iandevlin commented on #868
Just to verify, @patrickhlauke's point about Chrome's strange adding of the focus ring on elements that have a `tabindex="-1"` still happens (when `.focus()` is called on the element or the mouse clicks on the element), and also in Firefox and Safari (they're the only ones I have tested).
It appears to do it on any element, e.g. `div`, `input`, `button`.

[2017-04-06 13:14] sideshowbarker opened #869 "Make <link rel=canonical> a standard rel keyword"
See https://github.com/whatwg/html/pull/2511

[2017-04-06 13:51] sideshowbarker opened #870 "Re-sort rel=noopener & rel=noreferrer"
See https://github.com/whatwg/html/pull/2512

[2017-04-06 14:16] sideshowbarker opened #871 "Cut distracting statement about external resources"
See https://github.com/whatwg/html/pull/2513

[2017-04-06 17:03] #869 closed, assigned to LJWatson

[2017-04-07 02:08] chaals commented on #867
@sideshowbarker did you check whether this is relevant to the W3C specification?

[2017-04-07 11:41] IanPouncey commented on #754
I am in agreement with @LJWatson. If this is something that can be changed with minimal effort then it should be; accuracy is important. However, the lack of real world impact means that if it takes more than publishing drafts and sending uncontested emails at the right time in the process it probably isn't worth it.

[2017-04-08 02:24] Alohci opened #873 "Inconsistency between text and code in time example 99: Microdata vs RDFa"
Example 99 in time element.

Text says

But the example code doesn't use microdata. It uses RDFa.

[2017-04-08 19:30] aphillips commented on #291
This was discussed in the I18N teleconference this past [week](https://lists.w3.org/Archives/Public/www-international/2017AprJun/0006.html) and I drew an [action item](https://www.w3.org/International/track/actions/609) to write back to @chaals and HTML regarding this.

Our WG would like to request that:

1. Ruby not be removed from the core HTML spec until the replacement documents are ready.
2.

[2017-04-09 08:55] stevefaulkner commented on #488
@jasonkiss the non-normative advice in HTML5 for input type=search is as you describe:

please [file a bug](https://github.com/w3c/html-aria/issues) on aria in html so it reflects same.

[2017-04-09 08:55] #488 closed, assigned to stevefaulkner

[2017-04-09 09:15] #474 closed, assigned to stevefaulkner

[2017-04-09 09:26] stevefaulkner commented on #761
@dylanb there is no difference except the former may provide developers with more choice in regards to how they code their pages.

[2017-04-09 10:36] #761 closed, assigned to stevefaulkner

[2017-04-09 11:46] chaals commented on #866
Yes, this would be good to describe, and again, if you have the time to make a suggestion I would also be grateful - and Steve (whom I just made the owner of this issue in the editorial team) probably even more so :)

Note that where timezones are specified as an offset from GMT, this is unambiguous - because when e.g. Melbourne switches from summer to standard time (as it just did), the offset go

[2017-04-09 12:43] #859 closed, assigned to stevefaulkner

[2017-04-09 15:03] TakayoshiKochi commented on #868
It seems Firefox doesn't draw focus ring when `<div tabindex="-1">...</div>` gets focus (via `.focus()` or mouse click), while Chrome does.

Click on 'bbb' below to test:
http://jsbin.com/wolivovocu/edit?html,output

`tabindex="-1"` means that the element is actually focusable and can get focus.  Once it gets focus, `:focus` pseudo class is applied as specified in UA stylesheet, which is expected.

[2017-04-09 20:36] klensin commented on #538
@chaals:  I read through that thread.  In addition to India starting to push full non-ASCII addresses (LHS included) and Russia starting to, I'm told it is being pushed very hard in China and there is at least one fully-functional implementation there, probably several.  Because non-ASCII email addresses are being rolled out one country and writing system at a time (as the WG that developed the st

[2017-04-10 07:07] iandevlin commented on #868
@TakayoshiKochi I disagree, Firefox is indeed drawing a focus ring when the element receives focus from a mouse or from `.focus()`. I can see it on Firefox 52.0.2 on MacOS Sierra 10.12.4.

But it doesn't appear to do it on Windows!

[2017-04-10 17:12] LJWatson opened #874 "CFC: Publish HTML5.1 2nd Edition"
This Call For Consensus (CFC) is to publish an update to HTML5.1.

An issue has been identified with HTML5.1, whereby the system identifiers in the example doctypes shown in [8.1.1 Doctypes](https://www.w3.org/TR/2016/REC-html51-20161101/syntax.html#the-doctype) are incorrect. They use "https://" instead of "http://".

The original issue and subsequent discussion can be found in #754.

The issue h

[2017-04-10 17:37] iandevlin commented on #874
+1

[2017-04-10 21:50] aardrian commented on #874
+1

[2017-04-11 02:24] chaals commented on #485
Umm. Within a week was derailed by travel issues. A test case for the multiple-code-point case should be easy for me to produce, but testing is a bit too hard to set up when I am offline.

As for combining / partially-formed characters, am I understanding correctly that these can be rendered, and left uncompleted, so they could actually be typed or pasted into an accesskey attribute value as a sin

[2017-04-11 05:22] jasonkiss commented on #874
+1

[2017-04-11 06:00] jasonkiss commented on #754
I'd like to take up the other question that @tstarling raised of how errata are recorded and presented.

As has been noted, the spec states, in its very top section, that "Errata for this document are recorded as issues." This is repeated in the "Status of this document" section where it's additionally noted that "The latest HTML editors' draft shows the current proposed resolution of errata in si

[2017-04-11 08:52] unor opened #875 "URL definition should refer to "valid URL string" (from WHATWG’s URL Standard)"
When authors want to know what a valid `href` value is, they [end up at](https://w3c.github.io/html/infrastructure.html#valid-url):

I think it would be good to refer to these authoring requirements directly. The URL spec seems to use the term [*valid URL string*](https://url.spec.whatwg.org/#valid-url-string). Starting from there, authors can find all relevant definitions.

This is also [what WHA

[2017-04-11 10:14] LJWatson commented on #754
@jasonkiss
When changes are made to the spec, we note them in the [Changes](https://www.w3.org/TR/html51/changes.html#changes) section. If we publish HTML5.1 2nd Edition, the change to correct this issue would be noted there.

That said the blurb in the header of [HTML5.1](https://www.w3.org/TR/html51/) should point to an Errata section in the spec (as it does in [HTML5](https://w3.org/TR/html5/).

[2017-04-11 15:06] siusin commented on #291
Thanks @aphillips !

All of these points make perfect sense to me. It'd be great if the I18N could co-edit the HTML Ruby extension spec, perhaps a joined deliverable?

[2017-04-11 15:31] siusin commented on #841
@plehegar suggested we use this github repo as the contact information. I'll submit a PR later.

[2017-04-11 15:35] jasonkiss commented on #754
Thanks @LJWatson.

[2017-04-12 07:41] chaals commented on #485
I have a [testcase for shra (श्र), ka (क) and virama by itself as `accesskey`s](http://chaals.github.io/testcases/combined-hindi-accesskey-manual.html).

And I have found at least one browser that supports each of these on Mac - more results would be helpful, but I don't yet have an inscript keyboard setup.

[2017-04-12 07:47] chaals commented on #485
I'd like to do some more testing on chinese/japanese characters in particular, but I think we're learning something here…

I'm thinking that the spec should say "a single printable character" as a normative requirement - because otherwise every browser except Firefox seems to ignore the `accesskey` altogether ;( (That strikes me as dumb behaviour, so I'll file bugs against them.)

It should then n

[2017-04-12 11:03] steveatkin commented on #485
I agree adding an informative note would be helpful.

[2017-04-12 11:04] r12a commented on #485
My understanding is that nearly all Japanese people use a latin keyboard for the starting point of the IME, and that therefore their shortcut keys are mapped to latin characters (which incidentally can make it easy for westerners to use japanese UIs even if they can't read the characters).

Chinese IMEs may use pinyin, but may also use things like changjie (shape-based) keys and bopomofo keys. I'm

[2017-04-12 15:15] yatil opened #876 "Colgroup start tag optional or not?"
[HTML5.1 does not allow to omit a colgroup start tag](https://www.w3.org/TR/html5/tabular-data.html#the-colgroup-element):

A colgroup element’s end tag may be omitted if the colgroup element is not immediately followed by a space character or a comment.

[WHATWG’s version allows to omit a colgroup start tag](https://html.spec.whatwg.org/multipage/tables.html#the-colgroup-element):

A colgroup ele

[2017-04-13 20:17] steveatkin commented on #485
Here are some more thoughts from some people on my team:

All the keyboard layout definitions I am aware of, are careful NOT to assign any graphic characters to CTL+anygraphickey or ALT+anygraphickey.  Only ALTGraphic (the right side ALT key)+anygraphickey is used for accessing third level and ALTGr+Shift+anygraphickey for fourth level (some MS keyboard layouts have these, even though ISO standard

[2017-04-13 22:26] chaals commented on #485
@steveatkin on Mac, alt+graphicKey is a really common pattern :(

Which is one reason why `accesskey`s are weird there, given that ctrl-alt-[accesskey] is the pretty much universal activation mechanism. Sadly, it is also the critical combination for VoiceOver so most `accesskey`s are not available to screenreader users.

[2017-04-14 05:52] sideshowbarker commented on #867
The requirement is not stated in anywhere in https://w3c.github.io/html/ that I could find, so I believe this is relevant yeah

[2017-04-14 08:04] stevefaulkner commented on #876
thanks @yatil will fix

[2017-04-14 08:15] eligrey commented on #538
Related: Don't forget that dotless email addresses are real and valid. `n@ai` is the email address of some guy named Ian who runs the AI TLD.

[2017-04-14 14:09] #876 closed, assigned to stevefaulkner

[2017-04-14 14:39] yatil commented on #876
Thanks @stevefaulkner!

[2017-04-15 10:15] chaals commented on #860
Hi @alexandros-s I think that in this case the first thing we need is to demonstrate that there is a real need for this feature. There are various possible ways to do that, including:

- find a **lot** of sites are already trying to achieve this using e.g. `data-*` attributes or web components.
- show that the question is repeatedly raised on help forums
- show that a couple of library functions t

[2017-04-18 09:34] agcolom commented on #874
+1

[2017-04-18 11:48] #873 closed, assigned to chaals

[2017-04-18 12:50] chaals commented on #870
This is a trivial editorial change. I'll do it as part of #160

[2017-04-18 13:57] chaals commented on #485
Oops, there are still some issues as per https://github.com/w3c/html/commit/565bd4afbae475081164854a55d5b62599e4b24d

[2017-04-18 19:23] chaals commented on #485
Tests for using repeated character references with different case for [latin](http://chaals.github.io/testcases/combining-case-accesskey-manual.html) and [greek](http://chaals.github.io/testcases/combining-case-greek-accesskey-manual.html) characters suggest that browsers are inconsistent about how they handle case-sensitivity across alphabets, as well as how they handle repeated `accesskey` value

[2017-04-19 08:09] agcolom opened #883 "Expand IDL acronym in 1st use"
In https://www.w3.org/TR/2017/WD-html52-20170406/infrastructure.html#reflecting-content-attributes-in-idl-attributes the spec use the IDL for the first time. We should specify what IDL stands for. For example, we could change the first sentence:
Some IDL attributes are defined to reflect a particular content attribute.

to

Some Interface Definition Language (IDL) attributes are defined to reflect

[2017-04-19 08:32] agcolom commented on #883
Actually, It looks like IDL is used earlier, here: https://www.w3.org/TR/2017/WD-html52-20170406/introduction.html#audience

Does this look like to right place to expand? Otherwise, we could also do it here: https://www.w3.org/TR/2017/WD-html52-20170406/infrastructure.html#idl-attribute

[2017-04-19 14:53] stevefaulkner commented on #104
The example in question http://w3c.github.io/html/tabular-data.html#example-52cbb871 is awkwardly constructed as the data cells in the `thead` should not be separate cells, instead their contents should be combined with the header cells in the first row. I think this example was (poorly) constructed to show use of `td`'s in `thead`, I don't see the necessity for this. I have provided an example of

[2017-04-19 17:50] chaals commented on #883
I'm not sure whether we should expand those abbreviations, because I **believe** the common term is in fact the abbreviation not the expansion; much like laser and radar are known terms, but their expansions are not recognisable to most people...

Feel free to be convinced by my argument, or equally free to find that people aren't, and so make the change you propose...

This is not a strongly held

[2017-04-19 18:06] chaals commented on #865
See also https://www.w3.org/TR/html-json-forms/ - sadly abandoned, presumably for lack of browser interest :(

[2017-04-20 08:28] chaals commented on #292
[chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=584618)

[MS Edge bug](https://connect.microsoft.com/IE/feedbackdetail/view/2324891/css-overflow-auto-does-not-allow-scroll-via-keyboard) - @travisleithead @stevefaulkner this is "closed as can't reproduce" (583). Does that mean it actually works in Edge?

[2017-04-20 08:40] stevefaulkner commented on #292
the bug was moved to
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7045483/
and is still open as far as i can tell

--

Regards

SteveF
Current Standards Work @W3C
<http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/>

On 20 April 2017 at 09:28, chaals <notifications@github.com> wrote:

[2017-04-20 16:53] chaals commented on #369
(Live notes from discussion with the Privacy Interest Group)

Note that if we have a requirement that user agents clarify to the user that the link will ping other sites, we need to test whether that happens in real implementations.

Note also that among privacy considerations, this *can* improve the ability to offer privacy because it's declarative and easily parsed, meaning user agents could inf

[2017-04-20 19:20] LJWatson commented on #874
Record of the [CFC decision](https://lists.w3.org/Archives/Public/public-webapps/2017AprJun/0046.html)

[2017-04-20 19:20] #874 closed, assigned to nobody

[2017-04-20 21:05] agcolom commented on #883
@chaals Leonie and I had a chat about this today, and we thought we could maybe add a link to the WebIDL Sepc (https://www.w3.org/TR/WebIDL-1/) either as well as or instead of expanding the acronym... I'm still thinking about how to best do this (i.e. where and what). Any views welcome :-)

[2017-04-20 21:17] agcolom opened #885 "Check guidance for markup generators regarding the alt attribute"
On https://www.w3.org/TR/2017/WD-html52-20170406/semantics-embedded-content.html#guidance-for-markup-generators
the 4th paragraph on presence of alt attribute says: "As a last resort, implementors should either set the alt attribute to the empty string, under the assumption that the image is a purely decorative image that doesn’t add any information but is still specific to the surrounding content

[2017-04-20 21:25] agcolom opened #886 "Incomplete sentence in the spec of the dl element"
In https://www.w3.org/TR/2017/WD-html52-20170406/grouping-content.html#the-dl-element, there is an incomplete sentence at the end of the 1st paragraph after the purple "definition section".

The paragraph says:
The dl element represents a description list of zero or more term-description groups. Each term-description group consists of one or more terms (represented by dt elements) possibly as chil

[2017-04-20 23:01] chaals commented on #883
@agcolom my view is that linking a lot is a good idea, but I wouldn't worry about expanding the acronym. As I said earlier, feel free to disagree and propose whatever edits make sense to you…

[2017-04-21 01:12] blurbusters commented on #785
**FireFox Update:** I am pleased that since the earlier [120Hz Browser Tests](http://www.blurbusters.com/blur-busters-120hz-web-browser-tests/) done -- FireFox has dramatically improved fluidity (elimination of jank/judder) and it now stays smooth even up to around ~70% of a refresh cycle spent inside requestAnimationFrame() at least on Windows systems.

**EDGE Update:** Alas, Microsoft Edge 15 in

[2017-04-21 02:23] blurbusters commented on #785
I see that W3C Editor's Draft (18 April 2017), [section 7.1.4.2 Processing Model](https://w3c.github.io/html/webappapis.html#event-loops-processing-model), uses this text:

There appears to be fluff words ("....would benefit from having its rendering updated depends on various factors...") that could easily be shortened with some good English rewriting.

**Implied assumptions Being Made We're runn

[2017-04-21 09:23] chaals commented on #885
What happens with `alt=""` is that user technology generally assumes this was done on purpose, because the image doesn't add anything critical, so it's silently ignored. With a missing `alt`, there are various (not very good, as a rule, but sloooowly improving) strategies they can use to try and help the user understand what is going on.

This case is actually covered by [ATAG B 1.1](https://www.w

[2017-04-21 09:47] agcolom commented on #885
@chaals Thank you very much for the info. That's really useful and I now understand the reason why the alt attribute being missed out completely in this case is better than the ```alt=""```. Maybe we could simply explain that in the spec?

[2017-04-21 21:26] blurbusters commented on #375
Great news -- here's an additional testing tool:

Here's a great VSYNC tester for requestAnimationFrame: www.vsynctester.com
It uses the formula here: http://www.vsynctester.com/howtocomputevsync.html

This is a more detailed compliance tester for VSYNC than www.testufo.com
(Select "Animation Timing Graph")

Attempting to detect VSYNC in a web browser is still very opaque, and it depends on reques

[2017-04-21 21:32] blurbusters commented on #785
CHANGE 1 of 2

Another consideration: The wording relating to timing requestAnimationFrame HTML 5.2 Draft 8 feels worse and less consistent/lower-quality (visual animation-wise recommendation of match-to-refreshrate) than current higher-quality browser practice (e.g. current versions of Chrome & FireFox).  Even IE/Edge manages to surpass current HTML 5.2 Draft 8 wording, so let's not set the bar *

[2017-04-22 15:34] cynthia commented on #754
I got a bit too trigger happy with this one - until I know exactly what I should and should not touch I've reverted the commits for the time being. (I can revert the revert [...] if the patch looks good enough - I'm not sure what the process is for updating an already frozen spec.)

[2017-04-23 19:46] blurbusters commented on #785
CHANGE 2 of 2

Right now, Chrome/FireFox/Opera is compliant already with my proposed changes, with only a minor change needed by Microsoft IE/Edge needed (remove the arbitrary hard-coded internal cap).

That said, browser vendors have frequently errored into this territory in the last five years (And Microsoft EDGE still does, as of Windows 10 Creator's Update), so I've made an additional wording

[2017-04-23 19:59] blurbusters commented on #785
I did talk to a few industry representatives (gaming industry, display related, display engineers). So far they've agreed the changes "keeps doors open" far better, as my previous long description states. Feel free to trial-balloon my suggestion around to other people who have an intimate understanding of this topic matter...

My experience includes [a peer reviewed paper on similar subject matter

[2017-04-23 20:01] blurbusters commented on #785
I have commited to my fork.
Ready to submit a pull request, if I can be approved.
https://github.com/mdrejhon/html/commit/bb06ea15f46c7d622ce089e067967380929ddddb

*EDIT: I've been contacted by @chaals -- now privately communicating to go through the proper channels & application process to be invited in this little corner of standardization expertise.  That said, further discussion is welcome reg

[2017-04-23 21:39] blurbusters commented on #375
As early headway to #375 I have made a candidate git commit (no functional changes; just standards solidification) to my fork of HTML 5.2 (waiting for W3C approval).  See #785 for more info -- it is semi-related to this as requestAnimationFrame() synchronizes to VSYNC in most browsers.

I would also nominate @duckware to provide further feedback on this item, since he is the creator of www.vsyncte

[2017-04-24 05:47] patrickdark commented on #883
Seems appropriate to expand it. Though I think abbreviation clarity issues are generally avoided by liberal use of `abbr` elements with `title` attributes.

Also, I find it weird that an HTML specification doesn't use `abbr` elements (with/without `title` attributes).

[2017-04-24 19:29] blurbusters commented on #375
Update: Here's a [screenshot of 2000fps in Chrome](http://imgur.com/BKB6C1r/) using less than 20% CPU.

1. 5-year old computer with a 5-year-old discrete NVIDIA GPU card.  Considered a midrange gaming computer today.  This is the performance of a $200 NVIDIA GeForce GPU add-on card.
2. This is a screenshot of www.testufo.com/photo in Chrome using command line option "--disable-gpu-vsync"

What thi

[2017-04-26 01:04] blurbusters commented on #785
For testing purposes, I purchased a new 240Hz gaming monitor (Acer Predator XB252Q) and did browser tests on it.

Between late 2016 and April 2017 [there are five new 240Hz gaming monitors](https://www.blurbusters.com/faq/120hz-monitors/) on the market that are capable of a native 240Hz refresh rate (not "fake frames" / not interpolated).

*(Interesting video cable bandwidth note: The bandwidth of

[2017-04-26 14:11] r12a opened #888 "Filtering can break usefulness of datalist for long lists"
4.10.5.3.9. The list attribute
https://www.w3.org/TR/2017/WD-html52-20170406/sec-forms.html#the-list-attribute

The datalist element as it currenlty works provides a very useful tool for finding items in long lists. Take the example of selecting Unicode blocks in UniView. It allows the user to find New Tai Lue quickly when typing 'tai' even though the option name doesn't start with 'Tai'. It also

[2017-04-28 12:56] r-romaniuk opened #889 "4.7.10.10 Media resources with multiple media tracks code example"
There is an inconsistency between  4.7.10.10 Media resources with multiple media tracks code example and loadedmetadata event specification. In HAVE_METADATA state
enough of the resource has been obtained that the duration of the resource is available. In the case of a video element, the dimensions of the video are also available. (According to this video tracsk doesn't have to be ready yet)
Accor

[2017-04-29 09:12] komputist opened #890 "Align @srcdoc with WHATwg: Remove requirement to match ’the production labeled document in the XML specification’"
### Background

The spec [specifies](http://w3c.github.io/html/semantics-embedded-content.html#element-attrdef-iframe-srcdoc) that a `srcdoc` document is to be authored according to the rules of (a subset of) the HTML syntax.

But then it adds [a special requirement](http://w3c.github.io/html/semantics-embedded-content.html#ref-for-xml-document-12) for XHTML documents:

In the WHATwg spec, that re

[2017-04-29 16:13] blurbusters commented on #785
@duckware, following up:

Propose for inclusion in #785:

I am also familiar with this.  Prevailing practice clearly appears to be heading in the direction you're indicating.  In theory, this warrants a separate github issue, but I could make a second pull request if there's industry agreement.  We'll have to fish it out at least to a few outsiders as I'm not as dependant on this detail.

I defini

[2017-04-29 22:16] chaals commented on #889
@r-romaniuk thank you. Would you like to propose a Pull Request that fixes the issue?

The simplest way may be to edit the relevant page in the Github interface as it will then guide you through the steps. Alternatively, you can clone the repository and create a branch, or fork it...

[2017-04-29 23:58] patrickhlauke opened #891 "readonly/mutability clarification"
In the definition for the `readonly` attribute https://w3c.github.io/html/sec-forms.html#element-attrdef-input-readonly it is stated

On the surface, this reads like it would work on every type of form control. However, looking at the big table in https://w3c.github.io/html/sec-forms.html#the-input-element for instance (or simply when trying it out in current UAs) it's clear that `readonly` only c

[2017-04-30 00:01] patrickhlauke commented on #891
(/cc @stevefaulkner as discussed)

[2017-04-30 11:11] #785 closed, assigned to siusin

[2017-04-30 11:14] chaals commented on #891
see also #837 (open) and #89, #91 and #92 (closed) which cover the same question.

Note that `readonly` affects any input type not recognised by the user agent, as a result of the design of `input` … and in some cases also recognised types.

[2017-04-30 11:33] chaals commented on #735
Apparently nobody has identified a serious risk of a proper attack. Closing the issue for now.

[2017-04-30 11:33] #735 closed, assigned to adanilo

[2017-04-30 11:46] patrickhlauke commented on #891
@chaals thanks, reading through those other issues.

the issue i describe here is strictly about having the wording in the spec matching reality better. (incidentally, contrary to what I read in some of those other issues, `<input type="range" readonly>` *does* allow the user to change the value in Chrome/Windows). so I'd assume this part doesn't need incubation first?

fundamentally though, I'd l

[2017-04-30 15:25] #178 closed, assigned to arronei

[2017-05-01 10:45] chaals opened #893 "Identify sections at risk for 5.2"
As preparation for the HTML 5.2 Candidate Recommendation, we should identify anything in the specification that does not have interoperable implementation. Roughly, this means at least two working implementations that are **not** marked for deprecation - and ideally, some sense that further implementations are likely. Please list candidate sections in this issue, or open an issue suggesting someth

[2017-05-01 10:50] chaals commented on #893
Proposed: `inputmode`.

[According to CanIUse](http://caniuse.com/#search=inputmode) it was implemented by Firefox, and it has been implemented repeatedly in the past by mobile browsers, although I do not know of interop testing. Note that "autocapitalize" has been suggested as having implementation: #208

[2017-05-01 10:52] chaals commented on #893
Proposed: `menu` and `menuitem`

The only known implementation is Firefox. While I know of claims that Blink implemented this, it appears not to work in any blink-based browser, even with the enabling flag set.

[2017-05-01 16:05] blurbusters commented on #785
Thanks for merging the commit.  So this is now part of HTML 5.2 DRAFT 8.

Current status of browsers as of 5/1/2017:

-- PASS: Blink/Gecko/Webkit aka Chrome/Opera/FireFox/Safari are the ones that are currently compliant. (Chrome/FireFox even work full framerate on 240Hz monitors.)

-- FAIL: Trident/EdgeHTML aka IE/Edge has the arbitrary hardcoded cap (probably 1-line code) that becomes hit in unco

[2017-05-02 17:07] inexorabletash commented on #829
Update: The __StructuredSerializeForStorage()__ hook has landed in [whatwg/html](https://github.com/whatwg/html/commit/b3f8779c76de7718bc970fdbccda18a5164d2f98) and I've picked up use of it in [IndexedDB](https://github.com/w3c/IndexedDB/commit/2aef49f8732d9babbc9ad3188af42943f979178d).

[2017-05-02 17:20] ZoeBijl opened #894 "Discrepancies between HTML and ARIA in HTML specs"
A while back I did an APA review of ARIA in HTML. During this review a bunch of discrepancies between HTML and ARIA in HTML were found, most of these relating to which roles are allowed on which elements.

@stevefaulkner has told me that ARIA in HTML is leading in this instance and asked me to log the issues here.

Changes for HTML:
- `a` without a `href` attribute may have any role
- `address` el

[2017-05-03 02:08] chaals commented on #437
done in https://github.com/w3c/html/commit/32c8a642f74e94a90592f8bce5f9e611211b9cb2

[2017-05-03 02:08] #437 closed, assigned to cynthia

[2017-05-03 02:08] chaals commented on #437
@tidoust so implementation is in canary and mozilla, and there are bugs? That's enough to mark it at-risk IMHO…

[2017-05-03 07:29] tidoust commented on #437
@chaals Right, no objection from me to mark the feature as at-risk in HTML 5.2, with the understanding that if it cannot make it to HTML 5.2, the feature could still remain in the HTML Editor's Draft (unless the work on the Presentation API stops from some reason). I'll report on implementation status before the end of the HTML 5.2 CR period.

[2017-05-03 10:19] prlbr commented on #544
The element box for [the style element](https://w3c.github.io/html/document-metadata.html#the-style-element) says for “Contexts in which this element can be used”:

- Where metadata content is expected.
- In a noscript element that is a child of a head element.

I think this should be changed to where flow content is expected.

[2017-05-03 11:51] chaals commented on #893
proposed: `allow-presentation` as a sandboxing flag for iframes - see #437

[2017-05-03 13:36] chaals commented on #544
@prlbr agreed. I made a PR - feel free to review it...

[2017-05-03 15:38] prlbr commented on #544
Looks good, thank you!

[2017-05-03 16:04] r12a opened #897 "Too many &amp's in example?"
8.2.4.72. Character reference state
Example 13
https://w3c.github.io/html/syntax.html#example-6a85a40d

[code]

I have to admit that i didn't plow through the algorithm before this example, but the example seems incorrect to me.  Shouldn't `&amp;notin;` be `&notin;` when a content author types it as source code, and therefore when you read this example?  I think the former would just produce `&not

[2017-05-03 16:16] chaals commented on #897
Looking through the algorithm, if the sequence consumed was `&notit;` then it would behave as described, but `&amp;notit;` should produce the output `&notit;` - assuming my plow through it didn't confuse me.

[2017-05-03 17:36] #485 closed, assigned to chaals

[2017-05-04 08:59] mikewest commented on #187
@chaals, @plehegar, @wseltzer:

It's been ~7 months since we last talked about this, and https://w3c.github.io/workers/ hasn't been touched since (literally: the last commit was on September 27th when I pinged this thread).

I'd gently suggest that the strategy of rewriting the WHATWG spec using a different engine, and backporting patches in an ad-hoc manner isn't working.

[2017-05-04 09:24] cynthia commented on #187
Yeah, I'm entirely to blame for this. (Been busy with work that pays the bills, unfortunately W3C isn't one of them) I'll get to this after 5/8 EST. Apologies.

[2017-05-04 09:38] mikewest commented on #187
@cynthia: I don't mean to throw you under a bus. I don't really think this situation is your fault, and I don't think you doing some sort of heroic rewrite in a week is a long-term solution. If the working group wants to keep the structure it has set up, it needs to have a sane maintenance strategy. It's pretty clear that such a strategy doesn't exist for Workers, and hasn't for years.

[2017-05-05 13:45] stefhak opened #898 "Sync "Safe passing of structured data""
Whatwg recently updated that section (https://html.spec.whatwg.org/multipage/infrastructure.html#safe-passing-of-structured-data), and that to me looks cleaner.

Could this spec be updated to follow the same pattern?

[2017-05-05 13:55] LJWatson commented on #898
Thanks for the suggestion @stefhak

[2017-05-06 18:33] AmeliaBR commented on #292
For comparison, this is [the wording I used in SVG 2](https://www.w3.org/TR/SVG2/interact.html#Focus):

For the purpose of this issue, the important part is the third bullet: "any element...that generates a scrollable region".

This is still a proposed rec spec, with no comprehensive test suite, and not a lot of feedback from user agents.  If a user-agent implementer came to me and said they had *

[2017-05-08 14:18] LJWatson commented on #561
Without concrete expressions of interest from implementors, we can't progress this issue.

[2017-05-08 14:18] #561 closed, assigned to LJWatson

[2017-05-08 17:38] danielweck commented on #561
FYI, further thoughts on the subject:
https://rawgit.com/daisy/aria-details/master/index.html
Regards, Daniel

[2017-05-08 17:49] clapierre commented on #561
Sorry @LJWatson we were working independently on this topic in our DIAGRAM Standards and TIES Production group.  @TzviyaSiegman  pointed out we were not filing reports of progress against this issue and hence your decision to close this issue.

We are trying to come up with how extended descriptions should be used and how this could be implemented in an EPUB, and once we have a solution which our

[2017-05-08 17:52] clapierre commented on #561
Here is a recent email to our mailing list in testing @danielweck  implementation from @jasonjgw

A quick test of the first example on my primary work machine (running Windows 10 with the JAWS 18 screen reader with all updates applied) showed the following.

Firefox 53:  the aria-details property was announced ("has details" was spoken along with the alt attribute of the image). However, this info

[2017-05-08 18:03] TzviyaSiegman commented on #561
@clapierre @danielweck It still appears that no changes need to be made to HTML, so @chaals is correct to have closed this issue.

[2017-05-08 21:18] LJWatson commented on #561
Thanks for the input @clapierre, but as @TzviyaSiegman notes, this issue relates to HTML rather than ARIA.

[2017-05-09 12:25] r-romaniuk commented on #889
I've created a pull request https://github.com/w3c/html/pull/899 but there are some issues regarding this pull request, I'm not sure what is wrong.

[2017-05-09 19:39] chaals commented on #889
@r-romaniuk the short answer is that because you are not formally a member of the Working Group, we need to check for IPR commitment if the pull request changes the substantive content of the spec.

It doesn't so it's *fairly* easy to manage (one of the chairs or W3C staff has to follow a simple procedure). If it happens and there is a substantive (i.e. conformance-affecting) change one of us will

[2017-05-10 03:38] jasonkiss opened #900 "select element definition missing autocomplete attr in list of content attributes"
See http://w3c.github.io/html/sec-forms.html#the-select-element

The list of content attributes for the `select` element is missing the `autocomplete` attribute.

[2017-05-10 04:02] jasonkiss opened #901 "attributes index includes command attribute for menuitem"
See http://w3c.github.io/html/fullindex.html#attributes-table.

The table of attributes includes the `command` attribute for `menuitem` elements, but that attribute seems no longer to exist in the spec.

[2017-05-10 05:21] jasonkiss opened #902 "spellcheck attribute in wrong position in attributes index table"
See http://w3c.github.io/html/fullindex.html#attributes-table.

The entry for `spellcheck` comes after `sandbox`, but should come after `span`, to keep with the alphabetical order.

[2017-05-11 06:23] andrew--r opened #904 "Missed space in section 4.3.2 example 4"
There is a missed space character in the example 4 of the [section 4.3.2](http://w3c.github.io/html/sections.html#the-article-element).

Actual:

[code]

Expected:

[code]

[2017-05-11 08:30] #904 closed, assigned to nobody

[2017-05-11 09:09] jihyerish commented on #300
I noticed that scrolling triggered by focusing input elements behaves differently in browsers.

If there is a value for each input element, in Firefox(53), the scrolling stops when the value of the input element comes into view even if the input element is partially visible.
However, other browsers(Chrome, Safari, Opera) always show the focused input element entirely within the scroll view area.
S

[2017-05-11 09:33] chaals commented on #300
@jihyerish:

However, other browsers(Chrome, Safari, Opera) always show the focused input element entirely within the scroll view area.

I think it's "sub-optimal" implementation in Firefox, which is a kind of bug.
There is a problem with the idea of "being in view" which is that you can never be entirely sure how much is viewed - as well as the browser window and zoom, you get people working with

[2017-05-12 06:07] saschanaz opened #906 "HTMLMediaElement.prototype.play() should return Promise"
#368 listed https://github.com/whatwg/html/commit/be8edde20ac46786af968d4de23e90801d4c7213 but it seems there still is no change. Now both Firefox and Chrome stable channel return Promise here, will W3C spec reflect this change?

(Several 'syncing with WHATWG' issues said "closed because of process change", how can I track the syncing issues?)

[2017-05-12 14:47] chaals commented on #906
Assuming this is the direction of implementation, then yes we will reflect that.

(collecting every commit to see if we should copy it was unmanageable. Opening issues for things that actually affect someone is the way to track specifics. Otherwise, the current process is for editors to compare sections and see if there are important incompatibilities that should be resolved)

[2017-05-13 02:30] unor opened #907 "Multiple names for 'name' attribute? (And specify that names may not contain spaces?)"
The definition of the [`meta` element](https://w3c.github.io/html/document-metadata.html#the-meta-element) doesn’t seem to specify if the `name` attribute can only take one name, or if multiple names are allowed.

If multiple names are allowed, I would have expected to find something similar to what is specified for the [`rel` attribute](https://w3c.github.io/html/document-metadata.html#element-at

[2017-05-15 20:26] travisleithead commented on #756
While we'd like to fix this, we found it faster to just in-place update the Recommendation with specific errata (vs. try to get this edition building again).

I guess the answer is no.

[2017-05-15 22:13] travisleithead commented on #492
So, we should probably align to what the WHATWG proposes here.

[2017-05-16 00:17] travisleithead commented on #751
Super! In that case, we can close this issue, as the two specs are aligned on this point.

[2017-05-16 00:17] #751 closed, assigned to travisleithead

[2017-05-16 01:31] sideshowbarker opened #908 "Make table parts end tags non-optional in template"
See https://github.com/whatwg/html/pull/2682

[2017-05-16 23:51] DavidMacDonald opened #909 "aria-sort on table headers requires a bunch of redundant roles"
There apparently was a [bug filed against the validator](http://lists.w3.org/Archives/Public/www-validator-cvs/2014May/0001.html) that it complained when `aria-sort` is added to a `<th>`. It required `role="columnheader"`  The bug was closed because the spec apparently requires it.
Apparently this is because `<th>` is not supposed to have any semantic value because there are so many layout tables

[2017-05-17 00:45] benwiley4000 opened #910 "HTMLMediaElement loop property should have corresponding event"
Many `HTMLMediaElement` properties and methods have corresponding media events, which can be used to monitor changes to the media state and update UI accordingly.

E.g.
* The `ratechange` event for `playbackRate`
* The `volumechange` event for `muted` and `volume`
* The `pause` event after `pause()` is called

However there does not seem to be one in either the [WHATWG](https://html.spec.whatwg.or

[2017-05-17 04:44] benwiley4000 commented on #910
By the way, here's a working polyfill I'm using for my own project while this doesn't exist:
[code]

[2017-05-19 00:34] #897 closed, assigned to chaals

[2017-05-19 00:39] travisleithead opened #911 "Define CEReactions attribute"
As noted in https://github.com/w3c/html/pull/852, we should have some kind of reference or definition for this in the spec.

[2017-05-19 00:44] #822 closed, assigned to travisleithead

[2017-05-19 10:14] rehierl opened #912 "Clarifications related to 4.3.9 Headings and sections"
I am trying to implement the outline algorithm and found a few things that could
use some minor improvements:

### [4.3.9 Headings and sections](https://w3c.github.io/html/sections.html#headings-and-sections)

**(1)** Subsequent headings of equal or higher rank start new (implied) sections

More precisely, the following sentence: Subsequent headings of equal or higher
rank start new (implied) sect

[2017-05-19 10:47] stevefaulkner commented on #912
Thanks @rehierl will review, in what way are you implementing the outline?

[2017-05-19 12:24] rehierl commented on #912
The short answer would be:

In JavaScript

The more verbose answer is:

For a Node.js project of mine I started to use [h5o](https://github.com/h5o/h5o-js/), but soon had to figure out that it doesn't document what you actually get when the algorithm has finished. I can call the result's 'asHTML()' function, but that is not what I need. I need to be able understand and traverse the outline myself.

[2017-05-19 12:32] stevefaulkner commented on #912
@rehierl  thanks, note would be happy for you to submit a PR with chnages.

[2017-05-19 16:20] rehierl opened #913 "TypeError when executing .multipage-split.sh"
I was trying to see if I could create a PR for #912. Unfortunately I get a TypeError when executing the multi-page script; even without any modification to html's sources whatsoever (see blow).

Could someone please check if that error can be recreated on another machine?

My OS is: Linux x64
Node version is: v7.10.0

### bikeshed installation

https://tabatkins.github.io/bikeshed/#install-linux
-

[2017-05-19 19:42] travisleithead commented on #821
Checked with our Service Worker team, and learned that this feature is not yet deployed generally in Chrome (origin trial only: https://www.chromestatus.com/features/5682681044008960), and is not supported in any other UA at the moment. Given this status, it would be inappropriate to land this feature in HTML for 5.2. We should consider adopting this in once it's available for testing publicly, pe

[2017-05-19 21:21] travisleithead commented on #475
Assuming my suggestion will work. PR opened to make the suggested change.

[2017-05-19 21:36] #492 closed, assigned to travisleithead

[2017-05-20 10:35] rehierl commented on #912
Closed as the suggested changes were merged. Thank you.

[2017-05-20 10:35] #912 closed, assigned to nobody

[2017-05-20 16:10] LJWatson opened #917 "Wide review feedback from TAG"
Comments from the TAG wide review are noted in w3ctag/design-reviews#119

[2017-05-20 16:18] LJWatson commented on #917
Giving up assigning people... Ping @TravisLeithead @Adanilo @Cynthia @ArronEi @stevefaulkner

[2017-05-21 17:15] bangseongbeom opened #918 "id="contents" conflict between Bikeshed and HTML spec"
Bikeshed generates the heading "table of contents" defined as `id="contents"` on nav. In 3.2.4. Content models, `id="contents"` is also defined.

See https://w3c.github.io/html/dom.html#contents

[2017-05-21 17:22] bangseongbeom opened #919 "Duplicated text on id: infrastructure.html#xml-compatible-xml-compatible"
Duplicated "xml-compatible" on id: https://w3c.github.io/html/infrastructure.html#xml-compatible-xml-compatible

[2017-05-22 11:08] #475 closed, assigned to travisleithead

[2017-05-22 11:24] chaals commented on #853
This is effectively closed by #882

[2017-05-22 11:25] #853 closed, assigned to chaals

[2017-05-22 20:54] carmacleod opened #922 "Inconsistency regarding caption element end tag"
The [Optional tags section](http://w3c.github.io/html/syntax.html#optional-tags) says:

However, the [caption element definition](http://w3c.github.io/html/tabular-data.html#elementdef-caption) says:

One of those statements needs to be changed.

[2017-05-22 20:59] carmacleod commented on #922
Same with menuitem.

And the end tag of colgroup.

[2017-05-22 21:03] chaals commented on #919
And the definition is apparently not *used* anywhere in the spec.

[2017-05-22 21:06] carmacleod commented on #922
The rtc and rb elements are inconsistent as well. Their definition says the end tag may be omitted, but these elements are not mentioned in the section on Optional tags.

[2017-05-22 21:36] #64 closed, assigned to travisleithead

[2017-05-22 21:44] chaals commented on #919
Thank you @bangseongbeom - I have written a PR that I believe would fix this. But as far as I know, we don't reference the concept in the spec. If anyone external does, we'll break their link - I don't think that's a big risk in practice but I assigned an editor to decide whether to make the change or not...

[2017-05-22 22:10] #918 closed, assigned to travisleithead

[2017-05-23 09:07] #919 closed, assigned to cynthia

[2017-05-24 06:05] jasonkiss opened #926 "type attr on area elements listed as obsolete, but still listed in area definition"
The `type` attribute on `area` elements is [listed as obsolete and non-conforming](http://w3c.github.io/html/obsolete.html#element-attrdef-area-type), but it's still listed and discussed in the [element definition for `area`](http://w3c.github.io/html/semantics-embedded-content.html#elementdef-area).

Side note: The text associated with `type` on `area` elements in the list of obsolete features co

[2017-05-24 14:36] #908 closed, assigned to nobody

[2017-05-24 15:56] siusin opened #927 "HTML 5.1 is missing the definition of EventHandler"
This issue was raised by @plehegar earlier...

We should fix this in the HTML5.1 2nd Edition (errata).

[2017-05-24 19:43] mavgit opened #928 "Deprecate or obsolete plugin API?"
There's been lots of activity for a few years now removing plugins from browsers:
- Chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=615738
- Mozilla:  https://developer.mozilla.org/en-US/docs/Plugins
- Safari:  https://webkit.org/blog/6589/next-steps-for-legacy-plug-ins/
- Edge:  https://blogs.windows.com/msedgedev/2016/12/14/edge-flash-click-run/#riXOl0tb6u7SRBO8.97

Given all thi

[2017-05-24 21:06] #901 closed, assigned to LJWatson

[2017-05-24 21:06] #902 closed, assigned to LJWatson

[2017-05-24 21:13] #886 closed, assigned to nobody

[2017-05-24 21:41] #104 closed, assigned to stevefaulkner

[2017-05-24 22:24] LJWatson commented on #160
@unor is right in saying the [existing rel values](http://microformats.org/wiki/existing-rel-values#HTML5_link_type_extensions) page is not user friendly!

If someone can tell me which table(s) we want to pull data from (Formats, HTML link type extensions, other), and a sensible way of identifying which rel values in the table(s) need extracting, that would be helpful.

[2017-05-24 22:32] LJWatson commented on #227
@polx if you can offer @siusin any further help/guidance, that'd be welcome. We're in the last few weeks before we lock HTML5.2 for release. Thanks

[2017-05-25 16:21] chaals commented on #893
Proposed: `dialog`
It's implemented in blink. There is an implementation behind a flag in Firefox, but it's pretty flaky. If it got more work, then this feature might be ready to land. Otherwise, I think not yet...

[2017-05-25 18:06] chaals opened #929 "Let <small> include subheadings?"
Imported from [bugzilla 22034](https://www.w3.org/Bugs/Public/show_bug.cgi?id=22034)

Should the `small` element be allowed to carry subheading info of the type `hgroup` was meant to allow, such as

[code]

or

[code]

This would require a relatively simple edit to the prose...

[2017-05-26 01:02] chaals commented on #893
Proposed: `input type="datetime"`

Still doesn't seem to be supported, running a [simple test](https://chaals.github.io/testcases/input-datetime-local-manual.html)

[2017-05-26 09:08] LJWatson opened #931 "Tracking errata?"
We could do with a mechanism for tracking errata over multiple versions of the spec. We currently have an "errata" label, but it isn't version specific.

Possible options...

* We create version specific errata labels ("5.1 errata", "5.2 errata" etc.).
* We create (repurpose) an "Errata" Github project, with columns for each version of the spec.
* Other?

[2017-05-26 10:32] jpdevries opened #932 "Support <optgroup> in <datalist>"
`<optgroup>` is useful for displaying options to users, but browsers don't support it with `<datalist>`.

4.10.9 The optgroup element has only one context specified for `<optgroup>`
 - As a child of a select element.

This issue suggests adding another
 - As a child of a datalist element.

or in some other way specifying that browsers should support `<optgroup>` when displaying options on a `<data

[2017-05-26 12:21] siusin commented on #931
An "Errata" project sounds great!

[2017-05-26 13:51] chaals commented on #917
I'll split this into particular issues. I am pretty sure that half of them were resolved before we analysed the feedback carefully, just because we were doing other stuff.

[2017-05-26 13:55] #917 closed, assigned to chaals

[2017-05-26 17:17] chaals commented on #932
I like this idea. I hope browser developers will like it too, enough to implement it. Or maybe someone can polyfill this to show what sort of uptake it gets. Which, as something like "fraction of datalists long enough for it to make sense that use this" would demonstrate that it solves a real problem...

[2017-05-26 17:22] chaals commented on #931
Projects seems a reasonable approach. In my wishes I would have a more powerful labelling system that allowed for class hierarchies and things. But we don't.

[2017-05-26 20:43] jpdevries commented on #932
Glad to hear it @chaals. I've thought about taking a swing at a polyfill. The only bummer about a polfyill of course is it wouldn't use browser chrome. But if it would help move this along I'm game!

[2017-05-28 08:49] LJWatson opened #933 "Separate microphone and audio playback"
Migrated from [Bugzilla 24656](https://www.w3.org/Bugs/Public/show_bug.cgi?id=24656).

The original request:

[2017-05-28 08:56] LJWatson opened #934 "Provide keyboard equivalent of mouse selection of non-focusable content"
Migrated from [Bugzilla 25520](https://www.w3.org/Bugs/Public/show_bug.cgi?id=25520).

From the original issue:

[2017-05-28 09:01] LJWatson opened #935 "Parsing of table cells (calculated height)"
Migrated from [Bugzilla 26464](https://www.w3.org/Bugs/Public/show_bug.cgi?id=26464).

From the original issue:

[2017-05-28 09:05] LJWatson opened #936 "Indicate required state on checkboxes"
Migrated from [Bugzilla 26555](https://www.w3.org/Bugs/Public/show_bug.cgi?id=26555)

From the original issue:

While checkboxes may be either checked or unchecked, a scenario is possible in which at least one checkbox would be required, such as asking the User which language she/he speaks. (Ostensibly this is at least one, as they are interacting with the form).
```<select>``` multiple> offers an

[2017-05-28 09:10] LJWatson opened #937 "Clear native browser cache with JavaScript"
Migrated from [Bugzilla 26666](https://www.w3.org/Bugs/Public/show_bug.cgi?id=26666).

From the original issue:

I'm humbly suggesting a simple window.navigator (most likely) exposed method for flushing the native browser cache of all artifacts of your domain.

Very useful for making sure the visiting client has a cleared cache for their next visit to your site / application.

navigator.browserCac

[2017-05-28 09:18] LJWatson opened #938 "Attribute to reset viewport in specific contexts"
Migrated from [Bugzilla 29731](29731).

From the original issue:

[2017-05-29 16:49] LJWatson opened #939 "Input type currency"
Migrated from [Bugzilla 30035](https://www.w3.org/Bugs/Public/show_bug.cgi?id=30035)

From the original:

We can accomplish this with JavaScript (on an "input" event listener, e.g.):
	   function localizeCurrency() {
			var oldValue = this.value;
			this.rawValue = oldValue ? parseInt(oldValue.replace(/,/g, '')) : 0;
			if (oldValue) {
				var newValue = parseInt(oldValue.replace(/,/g, '')).toLoca

[2017-05-29 16:52] LJWatson opened #940 "4.12.4.3 Canvas color spaces and color correction"
Migrated from [Bugzilla 25309](https://www.w3.org/Bugs/Public/show_bug.cgi?id=25309)

"The canvas APIs must perform color correction at only two points: when rendering images with their own gamma correction and color space information onto a bitmap, to convert the image to the color space used by the bitmaps (... drawImage"

So "a bitmap" ... "the bitmaps" ... is this referring to canvas element's

[2017-05-29 16:59] LJWatson opened #941 "Clarify how accesskey changes an element's role"
Migrated from [Bugzilla 23616](https://www.w3.org/Bugs/Public/show_bug.cgi?id=23616)

http://www.w3.org/Bugs/Public/show_bug.cgi?id=10603

yet it is not specified in the spec (that I can find) how the adding of an accesskey to "any element" affects  its role

for example how is the role of the following affected by the presence of an accesskey?

```<h1 accesskey="a">poot</h1>```

or

```<p accessk

[2017-05-29 17:01] LJWatson commented on #941
Duplicate of #296

[2017-05-29 17:01] #941 closed, assigned to stevefaulkner

[2017-05-29 20:22] LJWatson commented on #931
If we use a Project, should each column be the name of the spec that contains the corrections (5.1 2nd ed for example), or the name of the spec that had the errors in the first place (5.1 for example)?

[2017-05-30 19:23] LJWatson opened #942 "HTML5.2 wide review tracker"
* A11y: [Complete, no issues](https://www.w3.org/WAI/APA/wiki/HTML_5.2)
* I18n: [Complete, no issues](https://lists.w3.org/Archives/Public/public-html/2017May/0024.html)
* Privacy IG: [Complete, no issues](https://www.w3.org/2017/04/20-privacy-minutes.html)
* Security IG: * TAG: [Complete, no substantive issues](https://lists.w3.org/Archives/Public/public-html/2017Jun/0009.html)
no substantive iss

[2017-05-30 19:28] jpdevries commented on #939
Another reason it seems `<input type=currency>` would be ideal (as opposed to JavaScript) is if it were standardized it would integrate with i18n. In America we write $1,000.35 but in the EU it would be €1.000,35...

[2017-05-30 20:04] LJWatson commented on #262
Should this issue be labelled "substantive"?

[2017-05-30 21:27] arronei commented on #215
Text from the Selectors 4 spec:

For example, in [HTML5] a non-disabled non-readonly <input> element is :read-write, as is any element with the contenteditable attribute set to the true state.

[2017-05-30 21:29] arronei commented on #215
Moving out since this is already covered in Selectors 4. We may want to also clarify in the HTML spec would like editors to chime in here.

[2017-05-30 21:43] arronei commented on #166
@MichielBijl I assigned this to you to finish up the PR. If you could get that ready soon I will take a look at it and hopefully get this item done.

[2017-05-30 21:54] arronei commented on #235
This is already covered in the HTML spec. If we think we need to be more explicit I think we need to create a new term "targetable element" or something like that. I don't want to explicitly use the ":target" name of the selector.

----------------
An element’s unique identifier can be used for a variety of purposes, most notably as a way to link to specific parts of a document using fragment, as

[2017-05-30 23:53] travisleithead commented on #931
Another idea: just create a *.md or *.html file that describes the errata. Once these are created, we'd seldom ever need to see them again. I don't like the idea of mixing errata with other issues.

[2017-05-31 07:58] chaals commented on #931
I don't mind mixing errata - because we can always close them as wontfix and drop the project if, e.g. we make the version they correspond to obsolete... and if an issue is an erratum on the current spec and applies to the new one, that seems reasonable.

I hope we will start moving old specs replaced by later versions to Obsolete status...

[2017-06-01 06:31] SebastianZ commented on #939
Fwiw, in Germany (and probably some other European countries) it's even 1.000,35 €, with the Euro sign [after the number](https://de.wikipedia.org/wiki/Eurozeichen) and a [non-breaking space between them](https://de.wikipedia.org/wiki/Schreibweise_von_Zahlen#Ma.C3.9Feinheit).

Sebastian

[2017-06-01 06:52] agcolom commented on #939
@SebastianZ I can confirm that this is the case in France as well: 1.000,35 €
Other currencies such as CHF are normally also written with the currency sign after the number and a non-breaking space.

[2017-06-02 06:02] #927 closed, assigned to siusin

[2017-06-05 10:26] LJWatson commented on #160
It seems its the values from the HTML5 link type extensions table that is our source. What then are the criteria for including any of these in the HTML spec?

[2017-06-05 11:29] #870 closed, assigned to LJWatson

[2017-06-05 16:01] TzviyaSiegman commented on #160
1. It would be most helpful to clarify which terms are deprecated (put the word "deprecated next to them"?) and provide clearer definitions that reflect the broader community. For example, "publisher" is currently defined within the context of social media. "footnote" was dropped, but this would be valuable in the world of long-form and scholarly publishing.
2. It would be helpful if the spec and

[2017-06-05 16:09] LJWatson opened #944 "CFC: Transition HTML5.1 2nd edition to CR"
This Call For Consensus (CFC) is to transition the current Editors' Draft (ED) of [HTML5.1 2nd edition](https://rawgit.com/w3c/html/html5.1-2/single-page.html) to Candidate Recommendation (CR).

The 2nd edition fixes issue #754 (example system identifiers had been mistakenly set to https:// instead of http://).

If you agree with the proposal to move HTML5.1 2nd edition to CR, please +1 this comme

[2017-06-05 16:38] LJWatson opened #945 "Grammatical error in 4.4.14"
Reported by [Doug Brunelle on public-html@](https://lists.w3.org/Archives/Public/public-html/2017Jun/0004.html).

[2017-06-05 16:40] #428 closed, assigned to travisleithead

[2017-06-05 16:43] #945 closed, assigned to LJWatson

[2017-06-05 22:39] smfr commented on #785
WebKit also has interest in extending requestAnimationFrame given that the newly announced iPads Pro have both variable refresh-rate displays, with up to 120Hz screen updates.

However, we have to balance giving developers access to higher refresh rates with power and security considerations.

First, we avoided simply allowing rAF to fire at 120Hz on the new iPads because it would have significant

[2017-06-06 14:47] blurbusters commented on #785
Hello,

Note: For those unaware
I am the author of:
http://www.blurbusters.com/blur-busters-working-on-changes-to-html-5-2/
And I submitted a change to HTML 5.2 for the 120Hz era:
https://github.com/w3c/html/issues/785

I should note that on desktop computers, some WebKit based browsers already
support for 120Hz requestAnimationFrame, so it appears to be browser-vendor
specific.

When Chrome was u

[2017-06-06 15:23] blurbusters commented on #785
In other words, on a variable refresh display, *individual refresh cycles
are triggered by software* (e.g. graphics driver) -- like the completion of
a draw cycle, or an OpenGL glFlush() -- or theoretically the return from
requestAnimationFrame() -- or the completion of a video frame from the
video decoder.

*Important Questions about iOS 11 ProMotion refresh workflow*
So on this note, before we d

[2017-06-06 16:29] blurbusters commented on #785
**Moved discussion to #375**

Please note #375 description was completely rewritten (after this 785), so #375 is much more recent than 785.  Here are some important comments to catch up on:

Proposed new API is written here: [PHASE 1](https://github.com/w3c/html/issues/375#issuecomment-306591154) and [PHASE 2](https://github.com/w3c/html/issues/375#issuecomment-306603305).  Comments are encouraged

[2017-06-06 19:24] blurbusters commented on #375
Apple's ProMotion on the 120Hz iPad -- with variable refresh rate support -- **has dramatically raised the priority of both #375 and #785**.  I have *moved this from #785* -- Here's my first crack at organizing the beginnings standardization attempt that accommodates the following:

**Table of Contents**

We need the quickest and easiest way to support a wide variety of use cases, preferably with

[2017-06-06 19:24] blurbusters commented on #375
# Potential HTML 5.2 Variable Refresh Rate Standardization Path

# PHASE 1

## Simplified Goals

* Zero new APIs added initially
* Theoretical browser-vendor path without additional discovery APIs, command arguments, etc
* Leave most Variable Refresh Rate (VRR) responsibilities to OS / drivers (including automatic VRR-related power management).

## Simplified Rules

* Automatically engage javscrip

[2017-06-06 20:13] blurbusters commented on #375
# Potential HTML 5.2 Variable Refresh Rate Standardization Path

# PHASE 2

Some elements of Phase 2 might be done before Phase 1 (e.g. refresh rate discoverability, throttle discoverability)

Please see [Phase 1](https://github.com/w3c/html/issues/375#issuecomment-306591154) first.

## Phase 2 Addition of APIs to browsers

APIs can initially have prefixes during incubation ("moz", "o", "webkit",

[2017-06-06 22:20] LJWatson commented on #819
This issue seems to be moot now. The [definition for the ```<thead>``` element](https://w3c.github.io/html/tabular-data.html#the-thead-element) now reads:

This matches the table algorithm, and also the expectation that ```<thead>``` is a container for one or more rows.

Suggest we close this issue. Although browsers and screen readers have their own (and extremely varied) heuristics for handling

[2017-06-07 11:01] AshleyScirra commented on #375
Have you considered the case of rendering at 30 FPS on a fixed-vsync 60 Hz display? Some game developers using our framework are keen for this, since if the system isn't fast enough, dropping from 60 to 30 FPS looks better than the irregular update intervals you can get at something like 45 FPS. It could also help save battery if the developer wants that.

You did mention a way of using timers to

[2017-06-07 14:10] blurbusters commented on #375
Good points too.

There's many methodologies.  Using a timer is just one ecommended methodology for a VRR displays.  For a fixed-Hz display, in certain browsers, it is also already possible to decimate framerate using requestAnimationFrame() one can check the timestamps (see www.vsynctester.com and www.testufo.com for examples) and decide to skip rendering a frame.  If 1/60sec elapsed from last rA

[2017-06-07 19:22] #166 closed, assigned to LJWatson

[2017-06-07 19:46] prlbr commented on #929
I would indeed prefer to be able to use something more expressive for subheadings than `<span class='…'>`, which I currently do in accordance with [Common idioms without dedicated elements](https://w3c.github.io/html/common-idioms-without-dedicated-elements.html#subheadings-subtitles-alternative-titles-and-taglines).

Would `<small>` be a good choice? I’m not sure about that. I think it doesn’t ma

[2017-06-08 07:18] iandevlin commented on #929
I remember this being discussed at length before, but I am not sure where so I cannot even think of where to look for the discussion to link to.
The result was "no, leave it as it is", hence the current status, but I cannot remember why.

[2017-06-08 16:53] LJWatson opened #949 "Missing global attributes"
It seems that the `class` and `id` attributes have disappeared from the global attributes list. They're present in [HTML5.1](https://www.w3.org/TR/html/
) but not in [HTML5.2](https://w3c.github.io/html/).